{% extends "master_c.html" %}
{% load humanize persontags %}

{% block title %}Congressional Calendar &ndash; GovTrack.us{% endblock %}

{% block head %}
<style type="text/css">
	/*** CALENDAR EVENTS ***/

	dl.calendar-event {
		border: 3px double black;
		border-radius: 1em;
		padding: 1em;
		box-shadow: 0.25em 0.25em 0.5em #333;
	}

	dl.calendar-event.new {
		background-color: rgba(203, 75, 22, 0.1);
		border-color: #CB4B16;
	}

	dl.calendar-event dd + dt {
		margin-top: 1em;
	}

	/*** CALENDAR EVENTS: METADATA FIELDS ***/

	dd.calendar-event-status strong.calendar-event-status-open {
		color: #00CC00;
	}

	dd.calendar-event-status strong.calendar-event-status-closed {
		color: #CC0000;
	}

	/*** CALENDAR EVENTS (FANCY) ***/

	dl.calendar-event.fancy dt {
		display: none;
	}

	/*** CALENDAR EVENTS (FANCY): METADATA FIELDS ***/

	dl.calendar-event.fancy dd.calendar-event-status {
		float: right;
	}

	dl.calendar-event.fancy dd.calendar-event-time {
		font-weight: bolder;
	}

	dl.calendar-event.fancy dd.calendar-event-topic {
		margin: 0.333em 1em;
		text-indent: 1.5em;
		font-size: 1.25em;
	}

	dl.calendar-event.fancy dd.calendar-event-type {
		font-size: 1.1em;
		text-align: right;
	}

	dl.calendar-event.fancy dd.calendar-event-host {
		font-size: 0.9em;
		text-align: right;
	}

	dl.calendar-event.fancy dd.calendar-event-location {
		float: left;
		font-size: 0.9em;
		text-align: left;
	}

	/*** CALENDAR EVENTS (NOT FANCY) ***/

	dl.calendar-event:not(.fancy) dd {
		margin-left: 1.5em;
	}

	/*** CALENDAR EVENTS (NOT FANCY): METADATA FIELDS ***/

</style>
{% endblock %}

{% block cat-icon-filename %}img-committees.png{% endblock %}
{% block track_button_noun %}Meetings{% endblock %}
{% block track_button_explanation %}Click to track upcoming hearings. Or select a committee below to track its bills &amp; meetings.{% endblock %}

{% block crumbs %}
<ul><li><a href="{% url "congress_home" %}">Congress</a></li> <li>Calendar</li></ul>
{% endblock %}

{% block summary %}
    <h1>Congressional Calendar</h1>
    <p style="margin-bottom: 0;">Committees decide which bills and resolutions move forward to consideration by the House or Senate as a whole, and they hold meetings to gather information to help make those decisions.</p>
{% endblock %}

{% block body %}
<p style="margin: 0em; padding: 0em; font-size: smaller; text-align: right;"><a onclick="$('.calendar-event').toggleClass('fancy');" style="cursor: pointer;">Toggle fancy styling</a></p>

<section class="calendar-day">
{% for committee_meeting in committee_meetings %}
{% ifchanged committee_meeting.meeting_date %}
	<h2><time>{{ committee_meeting.meeting_date }}</time></h2>
{% endifchanged %}
	<dl class="calendar-event fancy{% if committee_meeting.is_new %} new{% endif %}" id="calendar-event:{{ committee_meeting.guid }}">
		<dt>Status</dt>
		<dd class="calendar-event-status">{% if committee_meeting.closed %}<strong class="calendar-event-status-closed">CLOSED</strong>{% else %}<strong class="calendar-event-status-open">OPEN</strong>{% endif %}</dd>

		<dt>Time</dt>
		<dd class="calendar-event-time">{{ committee_meeting.meeting_time }}</dd>

		<dt>Topic</dt>
		<dd class="calendar-event-topic">{{ committee_meeting.topic }}</dd>

		<dt>Type</dt>
		<dd class="calendar-event-type">{% if committee_meeting.committee.committee_type_label %}{{ committee_meeting.committee.committee_type_label }} {% endif %}Committee Meeting{% if committee_meeting.meeting_type %} ({{ committee_meeting.meeting_type_name }}){% endif %}</dd>
{% if committee_meeting.room %}

		<dt>Location</dt>
		<dd class="calendar-event-location">{{ committee_meeting.room }}</dd>
{% endif %}

		<dt>Host</dt>
		<dd class="calendar-event-host">{% if committee_meeting.committee.committee %}{{ committee_meeting.committee.committee.name }} &bull; Subcommittee on {% endif %}{{ committee_meeting.committee.name }}</dd>
	</dl>
{% endfor %}
</section>
{% endblock %}
