{% extends "master_c.html" %}
{% load humanize persontags %}

{% block title %}Congressional Committee Meetings Calendar &ndash; GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-committees.png{% endblock %}
{% block track_button_noun %}Meetings{% endblock %}
{% block track_button_explanation %}Get notifications when a new committee meeting is scheduled.{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "congress_home" %}">Congress</a></li>
    <li class="breadcrumb-item"><a href="/congress/committees">Committees</a></li>
  </ol>
</nav>

{% endblock %}

{% block head %}
<style type="text/css">
</style>
{% endblock %}

{% block summary %}
    <h1>Committee Meeting Calendar</h1>
    <p>We are happy to see that beginning in mid 2019, <a href="https://www.congress.gov/committee-schedule">Congress.gov now has a committee meetings calendar</a>.
    We&rsquo;ve discontinued our committee meetings calendar because theirs is better, check it out!</p>
</p>
{% endblock %}

{% block body %}
{% endblock %}
