{% extends "master_b.html" %}
{% load humanize persontags %}

{% block title %}U.S. Congress List of Commitees - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-committees.png{% endblock %}

{% block crumbs %}
<ul><li><a href="{% url "congress_home" %}">Congress</a></li> <li>Committees</li></ul>
{% endblock %}

{% block summary %}
    <h1>Congressional Committees</h1>
    <p style="margin-bottom: 0;">Committees decide which bills and resolutions move forward to consideration by the House or Senate as a whole. Committee chairmen have enormous influence over this process.</p>
{% endblock %}

{% block body %}

<p style="text-align: center">
New: <a href="calendar">Calendar of Upcoming Committee Meetings</a>
</p>

<div class="row">
	<div class="col-sm-offset-1 col-sm-5">
        <h2>Senate Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in senate_committees %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></li>
            {% endfor %}
        </ul>
	</div>

    <div class="col-sm-5">
        <h2>House Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in house_committees %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
        <h2>Joint Committees</h2>
        <p>The joint committees are made up of both senators and representatives. They typically have an oversight or policy role but no legislative duties.</p>
        <ul style="list-style: none; padding: 0;">
            {% for item in joint_committees %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></li>
            {% endfor %}
        </ul>
        <p>While the Joint Committees on Printing and the Library have nominal responsibility for oversight of the Government Publishing Office and the Library of Congress, respectively,
        the committees are essentially defunct and oversight takes place within the
        majority party leadership of each chamber.</p>
    </div>
</div>
{% endblock %}

