{% extends "master_b.html" %}
{% load humanize persontags %}

{% block title %}U.S. Congress List of Commitees - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-committees.png{% endblock %}

{% block head %}
<style>
	h3 { margin-bottom: 8px; }
	h3 a:link { font-weight: bold; text-decoration: none; border-bottom: 1px solid #9D2146; }
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
    <li><a href="{% url "congress_home" %}">Congress</a></li>
    <li>Committees</li>
</ol>
{% endblock %}

{% block summary %}
    <h1>Congressional Committees</h1>
    <p>Committees decide which bills and resolutions move forward to consideration by the House or Senate as a whole. Committee chairs have enormous influence over this process.</p>
    <p style="margin-bottom: 0">#protip: To track upcoming committee meetings, check out <a href="https://www.congress.gov/committee-schedule">Congress.gov&rsquo;s committee meetings calendar</a>.</p>
{% endblock %}

{% block body %}

<div class="row" style="margin-top: 1.5em">
	<div class="col-sm-5">
        <h2>Senate Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in senate_committees %}
            <li>
				<h3><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></h3>
				{% if item.jurisdiction %}<div>{{item.jurisdiction|truncatewords:28}}</div>{% endif %}
			<//li>
            {% endfor %}
        </ul>
	</div>

    <div class="col-sm-5">
        <h2>House Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in house_committees %}
            <li>
				<h3><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></h3>
				{% if item.jurisdiction %}<div>{{item.jurisdiction|truncatewords:28}}</div>{% endif %}
			<//li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
	<div class="col-sm-10">
        <h2>Joint Committees</h2>
        <p>The joint committees are made up of both senators and representatives. They typically have an oversight or policy role but no legislative duties.</p>
        <ul style="list-style: none; padding: 0;">
            {% for item in joint_committees %}
            <li>
				<p><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></p>
			<//li>
            {% endfor %}
        </ul>
        <p>While the Joint Committees on Printing and the Library have nominal responsibility for oversight of the Government Publishing Office and the Library of Congress, respectively,
        the committees are essentially defunct and oversight takes place within the
        majority party leadership of each chamber.</p>
    </div>
</div>
{% endblock %}

