{% extends "master_b.html" %}
{% load humanize persontags govtrack_utils %}

{% block title %}Committees of the United States Congress - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-committees.png{% endblock %}

{% block head %}
<style>
	h3 { margin-bottom: 8px; }
	h3 a:link { font-weight: bold; text-decoration: none; border-bottom: 1px solid #9D2146; }

  #activity_by_date_viz_chart_date_labels {
    position: relative; /* so labels can be absolutely positioned within */
    height: 1.5em;
  }
  #activity_by_date_viz_chart_cells {
    overflow: hidden;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
  }
  #activity_by_date_viz_chart_cells > div /* container to prevent cells from wrapping */ {
    width: 2000em;
  }
  #activity_by_date_viz_chart_cells div.week {
    float: left;
  }
  #activity_by_date_viz_chart_cells div.week.lbl {
    text-align: center;
    font-size: 10px;
  }
  #activity_by_date_viz_chart_cells div.day {
    width: 1em;
    height: 14px;
    margin: 1px;
  }
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
    <li><a href="{% url "congress_home" %}">Congress</a></li>
    <li>Committees</li>
</ol>
{% endblock %}

{% block summary %}
    <h1>Congressional Committees</h1>
    <p>Committees decide which bills and resolutions move forward to consideration by the House or Senate as a whole. Committee chairs have enormous influence over this process.</p>
    <p style="margin-bottom: 0">#protip: To track upcoming committee meetings, check out <a href="https://www.congress.gov/committee-schedule">Congress.gov&rsquo;s committee meetings calendar</a>.</p>
{% endblock %}

{% block body %}

<div class="activity_by_date_viz_chart_container">
  <div id="activity_by_date_viz_chart_date_labels"></div>
  <div id="activity_by_date_viz_chart_cells"></div>
</div>
<p style="line-height: 120%; font-size: 85%; margin-top: 2px; margin-bottom: 25px;">Committee meetings each weekday over the last year. Darker is more meetings.</p>
<hr>

<div class="row" style="margin-top: 1.5em">
	<div class="col-sm-5">
        <h2>Senate Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in senate_committees %}
            <li>
				<h3><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></h3>
				{% if item.jurisdiction %}<div>{{item.jurisdiction|truncatewords:28}}</div>{% endif %}
			<//li>
            {% endfor %}
        </ul>
	</div>

    <div class="col-sm-5">
        <h2>House Committees</h2>
        <ul style="list-style: none; padding: 0;">
            {% for item in house_committees %}
            <li>
				<h3><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></h3>
				{% if item.jurisdiction %}<div>{{item.jurisdiction|truncatewords:28}}</div>{% endif %}
			<//li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
	<div class="col-sm-10">
        <h2>Joint Committees</h2>
        <p>The joint committees are made up of both senators and representatives. They typically have an oversight or policy role but no legislative duties.</p>
        <ul style="list-style: none; padding: 0;">
            {% for item in joint_committees %}
            <li>
				<p><a href="{{ item.get_absolute_url }}">{{ item.display_name }}</a></p>
			<//li>
            {% endfor %}
        </ul>
        <p>While the Joint Committees on Printing and the Library have nominal responsibility for oversight of the Government Publishing Office and the Library of Congress, respectively,
        the committees are essentially defunct and oversight takes place within the
        majority party leadership of each chamber.</p>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script>
  var activity_by_date_viz_chart_data = {{committee_activity_by_date|json}};

  function activity_by_date_viz_chart() {
    // Get max count on any date.
    var max = 0;
    activity_by_date_viz_chart_data.forEach(function(item) {
      if (item.count > max) max = item.count;
    });
    if (max == 0) max = 1;

    function HSLToRGB(h,s,l) {
      // https://css-tricks.com/converting-color-spaces-in-javascript/
      s /= 100;
      l /= 100;
      let c = (1 - Math.abs(2 * l - 1)) * s,
          x = c * (1 - Math.abs((h / 60) % 2 - 1)),
          m = l - c/2,
          r = 0, g = 0, b = 0;
          if (0 <= h && h < 60) { r = c; g = x; b = 0;
          } else if (60 <= h && h < 120) { r = x; g = c; b = 0;
          } else if (120 <= h && h < 180) { r = 0; g = c; b = x;
          } else if (180 <= h && h < 240) { r = 0; g = x; b = c;
          } else if (240 <= h && h < 300) { r = x; g = 0; b = c;
          } else if (300 <= h && h < 360) { r = c; g = 0; b = x; }
          r = Math.round((r + m) * 255);
          g = Math.round((g + m) * 255);
          b = Math.round((b + m) * 255);
          return "rgb(" + r + "," + g + "," + b + ")";
      }
    
    // Create the chart.
    var cell_width = parseInt(($('#activity_by_date_viz_chart_cells').width()-75) / (parseInt(activity_by_date_viz_chart_data.length / 5) + 5));
    var div = $("#activity_by_date_viz_chart_cells");
    var container = $("<div/>");
    div.append(container);
    var col = $("<div class='week lbl'/>"); container.append(col);
    for (var i = 0; i < 5; i++) {
        var text = "MTWTF";
        var c = $("<div class=day/>");
        col.append(c)
        c.text(text.charAt(i))
    }
    col = null;
    var prev_month;
    activity_by_date_viz_chart_data.forEach(function(item, i) {
      var cur_month = /^\S+/.exec(item.date)[0];
      if (cur_month != prev_month) {
        var label = $("<span/>");
        $('#activity_by_date_viz_chart_date_labels').append(label);
        label.css({
          position: "absolute",
          left: ((cell_width+2) * parseInt(i / 5 + 1)) + "px",
          fontSize: "85%"
        });
        label.text(cur_month);
      }
      prev_month = cur_month;

      if ((i % 5) == 0) { col = $("<div class=week/>"); container.append(col); }
      var c = $("<div class=day/>");
      var color_scale = HSLToRGB(110, item.count > 0 ? 70 : 0, 95 * (1 - Math.sqrt(item.count / max) * .7));
      c.css({
        backgroundColor: color_scale,
        width: cell_width
      });
      c.attr("title", item.date + ": " + item.count + " committee meeting(s)");
      col.append(c);
    });
  }

  $(function() {
    activity_by_date_viz_chart();
  });
</script>
{% endblock %}
