{% extends "master_a.html" %}
{% load humanize persontags %}

{% block title %}{{ committee }} - GovTrack.us{% endblock %}

{% block meta_description %}{{ committee }}{% endblock %}

{% block head %}
<style>
.tab-pane { margin-top: 1em; }
#members h5 { margin: 6px 0 0 0; }
#committee_bill_list {
	padding: 0;
}
#committee_bill_list li {
	list-style: none;
	margin-bottom: .5em;
}
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li><a href="{% url "congress_home" %}">Congress</a></li>
<li><a href="/congress/committees">Committees</a></li>
{% if parent %}
	<li><a href="{{ parent.get_absolute_url }}">{% if parent.abbrev %}{{parent.committee_type_abbrev}}.{{parent.abbrev}}.{% else %}{{parent.shortname2|truncatewords:3}}{% endif %}</a></li>
{% endif %}
<li class="active">{{committee.shortname2|truncatewords:3}}</li>
</ol>
{% endblock %}

{% block summary %}
<h1{% if parent %} class="long"{% endif %}>{% if parent %}{{ parent }}:<br>Subcommittee on {% endif %}{{ committee }}</h1>

{% if committee.jurisdiction %}
	<p>{{committee.jurisdiction}} {% if committee.jurisdiction_link %}(<a href="{{committee.jurisdiction_link}}">source</a>){% endif %}</p>
{% endif %}

{% if committee.committee_type == TYPE_JOINT %}
	<p>This is a &ldquo;joint&rdquo; committee, which means it has members from both the House and Senate.
	We do not currently have information on the House members of joint committees.</p>
{% endif %}

<div class="row group">
	<div id="track_panel_base" class="col-sm-8">
		    {% if committee.url %}
				<p>
					<a href="{{committee.url}}" target="_blank" class="plain">{{committee.url}}</a>
				</p>
		    {% endif %}

			<dl class="dl-horizontal wide" style="margin-bottom: .5em">
				{% for mem in member_highlights %}
					<dt>{{mem.get_role_display}}:</dt>
					<dd><a href="{{mem.person.get_absolute_url}}">{{mem.person}}</a></dd>
				{% endfor %}
			</dl>
			<dl class="dl-horizontal wide" style="margin-bottom: .5em">
				{% for party, count in party_counts %}
					<dt>{{party}}s:</dt>
					<dd>{{count}}</dd>
				{% endfor %}
			</dl>

			<p style="line-height: 110%"><small>
			{% if member_highlights|length > 0 %}
			The chair is always selected from the majority party and the ranking member is the most senior member of the minority party.
			{% endif %}
			{% if party_counts|length > 0 and committee.code != "HSSO" %}
			The majority party ensures it has a majority on every committee.
			{% endif %}
			
			{% if members|length == 0 %}
			<p>The membership of this committee is not yet available.</p>
			{% endif %}
	</div>
	
	

	<div class="aside col-sm-4">
		<a href="#" class="track-btn" onclick="return show_track_panel();">Track Committee</a>
		<div id="event_subscribe_inline_container"> </div>
	</div><!-- /aside -->

</div><!-- /container -->
{% endblock %}

{% block body %}
<div>
	<ul class="nav nav-tabs" role="tablist">
		{% if members|length > 0 %}
		<li role="presentation" class="active"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">{% if not parent %}Committee{% else %}Subcommittee{% endif %} Members</a></li>
		{% endif %}
		<li role="presentation" {% if members|length == 0 %}class="active"{% endif %}><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Bills</a></li>
		{% if subcommittees %}<li role="presentation"><a href="#subcommittees" aria-controls="subcommittees" role="tab" data-toggle="tab">Subcommittees</a></li>{% endif %}
	</ul>

	<div class="tab-content">
		{% if members|length > 0 %}
		<div id="members" class="tab-pane active members-grid">
		    <div class="row">
	        {% for member in members %}
		        {% if forloop.counter0|divisibleby:6 %}<div class="clearfix visible-md"></div><div class="clearfix visible-lg"></div>{% endif %}
		        {% if forloop.counter0|divisibleby:4 %}<div class="clearfix visible-sm"></div>{% endif %}
		        {% if forloop.counter0|divisibleby:2 %}<div class="clearfix visible-xs"></div>{% endif %}
		        <div class="member col-xs-6 col-sm-3 col-md-2">
	            	
		            <div class="photo">
	            		<a href="{{ member.person.get_absolute_url }}"><img src="{{ member.person.get_photo_url_100 }}" width="100" height="120"/></a>
	            	</div>
	            	
		            {% with member.person.get_current_role as role %}
		            
					{% if member.role != SIMPLE_MEMBER %}
		            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
		            	{{ member.get_role_display }}
		            </div>
		            {% else %}
	            	{% if member.subcommittee_role %}
	                <div class="photo_flag flag_{{role.party|slice:":1"|lower}} sub_chair" title="Subcommittee {{member.subcommittee_role.role_name}}: {{member.subcommittee_role.committee.name}}">
	                	{{member.subcommittee_role.committee.name|cut:"The "|truncatewords:1}}
	                </div>
	            	{% endif %}
		            {% endif %}

		            <h5><a href="{{ member.person.get_absolute_url }}" class="plain">{{ member.person.name_no_details }}</a></h5>

		            <div class="info">
		            	{% if committee.committee_type == TYPE_JOINT %}
		            		{{role.get_title}}
		            	{% endif %}
		            	{% if not role.district %}
		            	<div>{{role.state_name}}</div>
		            	{% else %}
		            	<div>{{role.state}}-{{role.district}}</div>
		            	{% endif %}
		            	<div>{{role.party}}</div>
		            	
						{% if member.subcommittee_role %}
							<div style="font-size: 95%; line-height: 120%; border-top: 1px solid #AAA; margin-top: 3px; padding-top: 3px;">{{member.subcommittee_role.role_name}}, Subcommittee on <a href="{{member.subcommittee_role.committee.url}}" class="plain">{{member.subcommittee_role.committee.name|truncatewords:7}}</a></div>
						{% endif %}
		            </div>
		            {% endwith %}
		        </div>
		        {% endfor %}
		    </div>
		</div>
		{% endif %}
		
		<div id="activity" class="tab-pane {% if members|length == 0 %}active{% endif %}">
				{% if committee.has_current_bills %}
					{% with committee.current_bills_sorted as current_bills_sorted %}
					<p>There are <a href="/congress/bills/browse#committees={{committee.id}}">{{current_bills_sorted.count|intcomma}} bills referred to this {% if parent %}sub{% endif %}committee</a>{% if current_bills_sorted.count > 100 %}. Below find the top 100{% endif %}:</p>

					<ul id="committee_bill_list">
					{% for bill in current_bills_sorted.bills %}
						<li>
							<a href="{{bill.get_absolute_url}}">{{bill|truncatewords:50}}</a>
							<br>Sponsor: {{bill.sponsor}}
							<br>Status: {{bill.get_current_status_display}}
						</li>
					{% endfor %}
					</ul>
					{% endwith %}

				{% elif committee.bills.count > 0 %}
					<p>Browse <a href="/congress/bills/browse#committees={{committee.id}}&congress=__ALL__">{{committee.bills.count|intcomma}} bills previously referred to this {% if parent %}sub{% endif %}committee</a>.</p>
				{% else %}
					<p>No bills have been assigned to this {% if parent %}sub{% endif %}committee.</p>
				{% endif %}
		</div>
		
		{% if subcommittees %}
		<div id="subcommittees" class="tab-pane active">
				<ul class="bullets">
					{% for item in subcommittees %}
					<li><a href="{{ item.get_absolute_url }}">{{ item.name_no_article }}</a></li>
					{% endfor %}
				</ul>
		</div>
		{% endif %}
	</div><!-- /panes -->
</div><!-- /.twelve.columns -->

{% endblock %}

{% block body_scripts %}
<script>
$('#event_subscribe_inline_container').html(the_page.events_subscribe_button);
</script>
{% endblock %}
