{% extends "master_b.html" %}
{% load humanize persontags govtrack_utils %}

{% block title %}Committees of the United States Congress - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-committees.png{% endblock %}

{% block head %}
<style>

 	button {
	    background-color: #9D2146;
	    color: white;
	    float: right; 
	    margin-left: .5em;
	    padding: 3px;
	  }

	#committee-game .option {
	    margin: 10px;
	    padding: 3px;
	    text-align: center;
	    background: #1D4E70;
	    color: white;
	    margin-bottom: 8px;
	    cursor: pointer;
	}
		#committee-game .option.active {
		    background: #9D2146;
                }

</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
    <li><a href="{% url "congress_home" %}">Congress</a></li>
    <li>Committees</li>
</ol>
{% endblock %}

{% block summary %}
    <h1>Guess the Committee</h1>
    <p>When a bill is introduced in Congress, the first thing that happens to it is that it gets assigned to a congressional committee. Since the different committees in the House and Senate are each responsible for certain topics of legislation, knowing about the bill should give you a hint about where it was assigned.</p>
    <p style="margin-bottom: 0">Using the information provided about a random bill in Congress, try to guess which committee(s) it was assigned to.</p>
{% endblock %}

{% block body %}

<h1>{{bill.title}}</h1>

{% with bill.oursummary as summary1 %}
	{% if summary1 %}
        <div style="margin: 30px 0;">
          <h2><span>About the {{bill.noun}}</span></h2>
          {% if summary1.source_text %}
             <div id="summary-source-credit">Source: {{summary1.source_text}}</div>
          {% endif %}
          <div id="summary">
            {{summary1.as_html|truncatewords_html:130|safe}}
          </div>
          <div id="summary-read-more"><a href="{{bill.get_absolute_url}}/summary" class="btn btn-sm">Continue reading &raquo;</a></div>
       </div>

	{% elif subtitle %}
		<p style="margin-bottom: 0">{{subtitle}}</p>
		{% if not bill.is_success %}<p><small><em>The {{bill.noun}}&rsquo;s titles are written by its sponsor.</em></small></p>{% endif %}
		{# we should have the title disclaimer even if no long title, but I'm not sure where best to put it #}
	{% endif %}

	<!-- automatic explanation -->	
	{% if not summary1 and bill.explanatory_text %}
		    <div class="panel panel-info" style="margin: 30px 0;">
	    <div class="panel-body">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="float: right; font-size: 150%; color: white; margin: -2px"></span>
			{{bill.explanatory_text|safe}}
	    </div>
	    </div>
	{% endif %}
	{% endwith %}

<div class="row" style="margin-top: 30px; margin-bottom: 15px;">

	<div class="col-xs-3 col-sm-2" style="padding-right: 0; padding-bottom: 1em;">
		<a href="{{bill.sponsor.get_absolute_url}}">
			<img src="{{bill.sponsor.get_photo_url_200}}" alt="Photo of sponsor {{bill.sponsor.name_no_details}}" class="img-responsive" style="border: 1px solid #999"/>
		</a>
	</div>
	<div class="col-xs-7 col-sm-4">
		<h3 style="margin: 0 0 .5em 0; font-family: sans-serif;">
			<a class="name" href="{{bill.sponsor.get_absolute_url}}">{{bill.sponsor.name_no_details}}</a>
		</h3>
		<p style="line-height: 125%; margin: 0; font-size: 90%;">Sponsor. {{bill.sponsor_role.get_description}}. {{bill.sponsor_role.party}}.</p>
	</div>

	{% if text_info.has_thumbnail %}
	<div class="clearfix visible-xs"></div>
	<div class="col-xs-3 col-sm-2" style="padding-right: 0;">
		<a href="{{bill.get_absolute_url}}/text">
			<img src="{{bill.get_absolute_url}}/_text_image" class="img-responsive" alt="Thumbnail of {{bill.noun}} text" style="border: 1px solid #999;"/>
		</a>
	</div>
	<div class="col-xs-7 col-sm-4">
		<a href="{{bill.get_absolute_url}}/text">Read Text &raquo;</a>
		<small><br>Last Updated: {{text_info.docdate}}
		{% if text_info.numpages %}
		<br>Length: {{text_info.numpages_display}}
		{% endif %}
		</small>
	</div>
	{% endif %}
</div> <!-- /row -->

<p>This bill was assigned to {{number_of_committees}} committee{% if number_of_committees > 1 %}s{% endif %}. See if you can guess which one{% if number_of_committees > 1 %}s{% endif %}.<p>

    <div id="committee-game">
	<div class="row">
	{% if bill.current_chamber == "house" %}
            {% for item in house_committees %}
	    <div class="col-sm-3">
		<div class="option" data-committee-id="{{item.code}}">
  		    {{ item.display_name }}
		</div>
	    </div>
	    {% endfor %}
	{% endif %}
	{% if bill.current_chamber == "senate" %}
           {% for item in senate_committees %}
            <div class="col-sm-3">
               <div class="option" data-committee-id="{{item.code}}">
                   {{ item.display_name }}
               </div>
           </div>
           {% endfor %}
        {% endif %}
	</div>
	<button class="btn" type="submit">Check My Answer</button>
    </div>

{% endblock %}    

{% block body_scripts %}
<script>
$(function() {
  // Initialize the game.

  $('#committee-game .option').click(function() {
    // When an option button is clicked.
    $(this).toggleClass("active");
  });

  $('#committee-game button[type=submit]').click(function() {
    // When the submit button is clicked.
    var selected_committees = [];
    var correct = 0;
    var actual_committees = {% autoescape off %}{{actual_committees}}{% endautoescape %};
    $('#committee-game .option.active').each(function() {
      selected_committees.push($(this).attr('data-committee-id'));
    });
    if(selected_committees.sort().join(',')=== actual_committees.sort().join(',')) {
        if (confirm("Correct! Play again?")) {
            location.reload();
        }
    } else {
        for (c in selected_committees) {
            if (selected_committees[c] in actual_committees) {
                correct = correct + 1;
            }
        }
        if (correct == 0) {
            alert("Try again!");
        } else {
            alert("Not quite! You got "+correct.toString()+" right.");
        }
    }
  });
});
</script>
{% endblock %}
