{% load vote_tags %}

<div>
    <dl>
        <dt>Number:</dt>
        <dd>{{ vote.get_chamber_display }} Vote #{{ vote.number }} in {{ vote.created|date:"Y" }}[<a href="#">primary source:{{ vote.get_source_display }}</a>]</dd>
        <dt>Date:</dt>
        <dd>{{ vote.created|date:"DATETIME_FORMAT" }}</dd>
        <dt>Result:</dt>
        <dd>{{ vote.result }}</dd>
        <dt>Bill:</dt>
        <dd>SOME_ICON, SOME LINK</dd>
    </dl>
    <div style="float: left; width: 70%;">
        <table>
            {% with vote.totals as totals %}
            <thead>
                <tr>
                    <th></th>
                    <th>Totals</th>
                    {% for party in totals.parties %}
                    <th>{{ party }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in totals.options %}
                <tr>
                    <td>{{ item.option }}</td>
                    <td>
                        {{ item.count }} ({{ item.percent }}%)
                        {% if item.yes %}YES_BAR{% endif %}
                        {% if item.no %}NO_BAR{% endif %}
                    </td>
                    {% for count in item.party_counts %}
                    <td>{{ count }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td>Required:</td>
                    <td>{{ vote.required }} (Vacancies in Congress will affect vote totals.)</td>
                    {% for count in totals.party_counts %}
                    <td>{% vote_pie count.yes count.no count.other %}</td> 
                    {% endfor %}
                </tr>
            </tbody>
            {% endwith %}
        </table>
        <div>
            More information: <a href="http://www.govtrack.us/blog/2009/11/18/aye-versus-yea-whats-the-difference/">Aye versus Yea Explained</a>
        </div>
    </div>
    <div style="float: left; width: 25%; margin-left: 4%;">
        {% vote_totals_pie vote %}
    </div>
    <div style="clear: both;"></div>
</div>
