{% extends "master_b.html" %}
{% load humanize govtrack_utils %}
{% block title %}{{title}} - Compare Voting Records - GovTrack.us{% endblock %}
{% block meta_description %}{{description}} - Compare the voting records of senators and representatives in the U.S. Congress.{% endblock %}

{% block head %}
<style>
    #table-container {
        width: 100%;
        overflow: auto;
    }
    tbody th { font-weight: normal; }
    .table tbody .party-total > * { padding: .25em .5em; }
    .table tbody .party-total.first > * { border-top: 1px solid #555; }
    .table tbody .party-total.last > * { border-bottom: 1px solid #555; }
    #sort-options a.active { text-decoration: none; font-weight: bold; cursor: default; }

	{% if votes|length > 5 %}
    thead th a:link, thead th a:visited { text-decoration: none; }
    .table th, .table td { font-size: 88%; }
	{% endif %}
</style>
{% endblock %}

{% block body_scripts %}
<script>
$(function() {
    // Default but do it here anyway.
    $('#sort-options a').click(function() {
        var key = $(this).attr("data-key");
        do_sort(key);
        return false;
    })
    do_sort("name");
})
var sort_functions = {
    name: function(row) { return $(row).attr('data-sort-name') },
    state: function(row) { return $(row).attr('data-sort-state-district') },
    party: function(row) {
        return [
            $(row).attr('data-sort-party'),
            $(row).attr('data-sort-name')
            ];
        },
    vote: function(row) {
        return [
            -parseInt($(row).attr('data-sort-ayes')),
            -parseInt($(row).attr('data-sort-total')),
            $(row).attr('data-sort-votes'),
            $(row).attr('data-sort-name')
            ];
        }
}
function do_sort(key) {
    $('#sort-options a').removeClass('active');
    $('#sort-options a[data-key=' + key + ']').addClass('active');
    $('#vote-comparison-table tbody tr.voter').sortElements(sort_functions[key]);
}
</script>
{% endblock %}

{% block body_with_container %}
<div class="container{% if 0 %}-fluid{% endif %}">
<div style="margin: 0 15px">

    <ol class="breadcrumb">
        <li><a href="{% url "congress_home" %}">Congress</a></li>
        <li><a href="/congress/votes">Votes</a></li>
        <li class="active">{{title}}</li>
    </ol>

	<h1>{{title}}</h1>

	<h3>{{description}}</h3>

    <div id="table-container">

    <table id="vote-comparison-table" class="table">
        <colgroup>
            <col span="1">
            {% for v in votes %}
               <col span="1" style="width: {{col_width_pct}}%;">
            {% endfor %}
        </colgroup>
        <thead>
            <tr>
                <th>
                    
                </th>
                {% for v in votes %}
                    <th scope="col" {% if v.longtitle %}title="{{v.longtitle}}"{% endif %}>
                        <a href="{{v.get_absolute_url}}">
                            {% if v.title %}
                                {{v.title}}
                            {% else %}
                                {{v.question|truncatewords_html:50}}
                            {% endif %}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {# when #}
            <tr>
                <th scope="row">
                    Date
                </th>
                {% for v in votes %}
                    <td>
                        {{v.created|date}}
                    </td>
                {% endfor %}
            </tr>

            {# result #}
            <tr>
                <th scope="row">
                    Result
                </th>
                {% for v in votes %}
                    <td>
                        <b>{{v.result}}</b>
                        {% if v.total_plus|add:v.total_minus > 0 %}
                            <br>
                            <span class="nowrap">
                            <span class="vote_positive">{{v.total_plus}}</span>
                            /
                            <span class="vote_negative">{{v.total_minus}}</span>
                            </span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>

            {# party totals #}
            {% for party_total in party_totals %}
            <tr class="party-total {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                <th scope="row" class="partycolor_{{party_total.party.0}}">
                    {% if party_total.party == "Vice President" %}
                        The Vice President
                    {% else %}
                        All {{party_total.party}}s
                    {% endif %}
                </th>
                {% for vote_total in party_total.votes %}
                    <td>
                        {% if vote_total %} {# party or VP may not have been in this one #}
                        <span class="vote_positive">{{vote_total.yes}}</span>
                        /
                        <span class="vote_negative">{{vote_total.no}}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

            {# sort buttons #}
            <tr>
                <td id="sort-options" colspan="{{votes|length|add:1}}" style="font-size: 85%; color: #666; padding-top: 1.25em;">
                    Sort by:
                    <a href="#" data-key="name">Name</a>
                    |
                    <a href="#" data-key="vote">Vote</a>
                    |
                    <a href="#" data-key="party">Party</a>
                    |
                    <a href="#" data-key="state">State</a>
                </td>
            </tr>

            {# MoCs #}
            {% for voter in voters %}
                <tr
                    class="voter"
                    data-sort-name="{{voter.person_name}}"
                    data-sort-ayes="{{voter.total_plus}}"
                    data-sort-total="{{voter.total_votes}}"
                    data-sort-votes="{% for vote in voter.votes %}{% firstof vote.option.key "?" %}{% endfor %}"
                    data-sort-party="{{voter.party_order}}"
                    data-sort-state-district="{{voter.state_district}}"
                    >
                    <th scope="row">
                        <span class="nowrap">
                        <span class="party_{{voter.party.0}}" style="padding: 1px 3px 1.5px 3px; margin-right: .5em; width: 1em; font-style: normal; font-size: 90%;">{{voter.party.0}}</span>
                        <a href="{{voter.person.get_absolute_url}}" style="text-decoration: none; color: inherit;">
                            {{voter.person_name}}
                        </a>
                        </span>
                    </th>
                    {% for vote in voter.votes %}
                        <td>
                            <span class="vote_{{vote.option.alpha_key}}">
                            {% if vote == None %}
                                <span style="color: #666">n/a</span>
                            {% elif vote.option.key == "+" %}
                                {# normalize aye/yea #}
                                Yes
                            {% elif vote.option.key == "-" %}
                                {# normalize no/nay #}
                                No
                            {% elif vote.option.key == "0" %}
                                <span style="color: #666">did not vote</span>
                            {% else %}
                                {{vote.option.value}}
                            {% endif %}
                            </span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </div> <!-- table-container -->
	
</div><!-- margin -->
</div><!-- /container-fluid -->

<hr>
{% include "ad_footer_leaderboard.html" %}

{% endblock %}

