{% extends "master_b.html" %}
{% load humanize govtrack_utils %}
{% block title %}Presidential Candidates Miss Votes While In Congress - GovTrack.us{% endblock %}
{% block meta_description %}When senators and representatives run for president, they tend to miss votes. An Analysis by GovTrack.us.{% endblock %}
{% block meta_keywords %}President of the United States,United States Congress,U.S. Congress,senator,representative,congressman,congresswoman,House of Representatives,Senate{% endblock %}
{% block head %}

{% endblock %}
{% block body_scripts %}
<script src="{{ STATIC_URL }}vendor/highcharts.js"></script>

<script>
$(function() {
    $.getJSON('/data/analysis/presidential-candidates-missed-votes.json', function(res) {
    	$('#last-updated').text(res.updated)
    	$('.days-before-election').text(res.now);
    	$('.window-size').text(res.window_size);
	$('#election-year-current').text(res.elections[res.elections.length-1]);
	var election_years_string = res.elections.slice(); // clone
	election_years_string[election_years_string.length-1] = "and " + election_years_string[election_years_string.length-1];
	$('#election-years-list').text(election_years_string.join(", "));
    	$('#number-of-prev-elections').text(res.elections.length-1);
	$('#days-before-election-minus-window-size').text(res.now + res.window_size);

        build_chart(res);

        res.window_data.sort(function(a, b) {
        	if (a.election_year < b.election_year) return 1;
        	if (a.election_year > b.election_year) return -1;
        	if (a.startiso < b.startiso) return 1;
        	return -1;
        })
        var prev_group = null;
        res.window_data.forEach(function(group) {
        	if (group.start != prev_group) {
	        	var tr = $("<tr><th colspan=5><h4 style='margin-bottom: 0'></h4></th></tr>");
	        	tr.find("h4").text(group.election_year + " election candidates / votes from " + group.start + " to " + group.end);
	        	$('#window-data tbody').append(tr);
	        	prev_group = group.start;
	        }

	        group.rows.sort(function(a, b) {
	        	if (a[3] < b[3]) return 1;
	        	return -1;
	        })
        	group.rows.forEach(function(row){
			var url = row.shift();
	        	var tr = $("<tr/>");
	        	row.forEach(function(cell, i) {
	        		var td = $("<td/>");
	        		if (cell == null) cell = "";
				if (i == 0 && cell != "MEDIAN") {
					var a = $("<a/>");
					a.attr("href", url);
					a.text(cell);
					td.append(a);
					tr.append(td);
					return;
				}
	        		if (cell == "MEDIAN") cell = (group.chamber == "house" ? "House" : "Senate") + " Median";
	        		if (i == 3) {
	        			cell = Math.round(cell);
	        			cell += "%";
	        			td.css({ fontWeight: 'bold' })
	        		}
	        		if (i > 0) td.css({ textAlign: 'right' })
	        		if (row[0] == "MEDIAN") td.css({ fontStyle: 'italic' })
	        		tr.append(td.text(cell));
	        	})
	        	$('#window-data tbody').append(tr);
        	})
        });
    })
});

function build_chart(data) {
    // fill in rendering styles
    var series = data.series;
    for (var i = 0; i < series.length; i++) {
        var c1 = parseInt(Math.random()*10);
        var c2 = parseInt(Math.random()*10);
        if (series[i].party == "R")
            series[i].color = "#FF" + c1 + "0" + c2 + "0";
        else
            series[i].color = "#" + c1 + "0" + c2 + "0" + "FF";

        if (series[i].election_year == data.elections[data.elections.length-1]) {
            series[i].lineWidth = 2;
        } else if (series[i].status != null) {
            series[i].lineWidth = 1;
        } else {
            series[i].lineWidth = .5;
            series[i].dashStyle = "Dash";
        }
    }

    function x_axis_index_to_days(n) {
        return (series[0].data.length-n-1)*data.report_every_ndays;
    }

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart',
            type: 'spline',
            width: $('#chart').innerWidth() - 30,
            height: Math.min($('#chart').innerWidth(), $(window).innerHeight())*.75 - 30,
        },
        title: null, //{ text: 'Missed Votes by 2008 and 2016 Presidential Candidates' },
        legend: { enabled: true },
        credits: { enabled: false },
        xAxis: {
            title: { text: "Days Before the Election" },
            labels: { formatter: function() { return x_axis_index_to_days(this.value); } },
            //plotBands: [{ from: 0, to: series[0].data.length-Math.floor(data.now/data.report_every_ndays)-1,  color: 'rgba(200,200,200,.25)', label: { text: 'The Past' }, zIndex: 1 }],
            plotLines: [
                { value: series[0].data.length-Math.floor(data.now/data.report_every_ndays)-1, width: 1, color: "#66AA66", label: { text: 'Today' } },
                { value: series[0].data.length-Math.floor(data.super_tuesday/data.report_every_ndays)-1, width: 1, color: '#66AA66', label: { text: 'Super Tuesday (Approx)' } },
                { value: series[0].data.length-1, width: 1, color: '#66AA66', label: { text: 'Election Day' } }
            ]
        },
        yAxis: [{ min: 0, max: 100, title: { text: 'Missed Votes (%)' } }],
        tooltip: {
            formatter: function() {
                return this.series.options.election_year + " Election<br>" + this.series.options.legislator_name + "<br/>Missed " + this.y  + "% of Votes" + "<br/>" + x_axis_index_to_days(this.x) + " days before the " + this.series.options.election_year + " election";
            }
        },
        plotOptions: {
            spline: {
                marker: { radius: 0 },
                states: {
                    hover: { lineWidth: 6 }
                }
            }
        },
        series: series
    });
}
</script>
{% endblock %}

{% block crumbs %}
{% endblock %}

{% block body_with_container %}
<div class="container-fluid">
<div style="margin: 0 15px">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/congress/votes">Roll Call Votes</a></li>
	    <li class="breadcrumb-item">Presidential Candidates</li>
	  </ol>
	</nav>


	<div style="float: right; margin: 0 2em 2em 2em">Updated: <span id="last-updated"> </span></div>

	<h1>Presidential Candidates Miss Votes</h1>

	<h2 style="margin: 1em 0;">
	We compared the missed votes of the 2008 through 2020 presidential candidates who were also serving in Congress at the time.
	</h2>

	<p>As primaries, caucuses, and the election near, candidates tend to miss more and more votes as they are out fundraising and campaigning.</p>

	<p>We looked at corresponding time periods before the <span id="election-years-list"> </span> elections to see when presidential candidates begin to miss votes and how that trend continues up to the election.
	The chart below is organized from left to right by the number of days ahead of the each election. Each candidate&rsquo;s missed vote percent is plotted over time, until the candidate ended his or her campaign.
	The elections are overlayed. The lines for the current candidates in the <span id="election-year-current"> </span> election stop at the vertical bar marked &ldquo;Today.&rdquo;</p>

	<p>We post this information so you can fact-check claims you may hear about candidates missing votes. As you can see, this is normal, bipartisan, 
	and, we think, totally fine. Many of the missed votes are procedural or the outcome may not have depended on the candidates&rsquo; votes, and
	the party leadership in each chamber may have scheduled votes strategically to make it harder only for candidates in the other party to be present.
	Most importantly, the candidates&rsquo; constituents may prefer they be president next year rather than vote today!</p>

	<div style="margin: 2em 0">
		<div id="chart"> </div>
	</div>

<hr>
{% include "ad_footer_leaderboard.html" %}
<hr>

	<h2><span>By The Numbers</span></h2>

	<p>To see how candidates step away from Congress during campaigns, we compared the missed votes in the preceding <span class="window-size"> </span> days to the <span class="window-size"> </span> day period before that, and corresponding time periods for past elections (i.e. <span id="days-before-election-minus-window-size"> </span> to <span class="days-before-election"> </span> days ahead of the election and the <span class="window-size"> </span> days before that). You can see how the candidates voted before their run for president and during the most recent period of their campaigning.</p>

	<table id="window-data" class="table" style="width: auto; margin-top: 1.5em">
	<thead>
		<tr>
			<th>Candidate</th>
			<th style="text-align: right">Eligible</th>
			<th style="text-align: right">Missed</th>
			<th style="text-align: right">% Missed</th>
			<th style="text-align: right">Percentile</th>
		</tr>
	</thead>
	<tbody/>
	</table>

	<h2><span>Additional Notes</span></h2>

	<p>The data points in the time series chart are based on a sliding window with a normal distribution weighting (SD=14 days).</p>

	<p>&ldquo;House Median&rdquo; / &ldquo;Senate Median&rdquo; is the median missed vote percent looking at all 435 representatives and 100 senators (respectively) during the indicated time period.</p>

	<p>&ldquo;Percentile&rdquo; is the candidate&rsquo;s percentile comparing their missed vote percent to all other representatives and senators in the same chamber during the same time period.</p>

</div><!-- margin -->
</div><!-- /container-fluid -->

{% endblock %}

