{% extends 'master_a.html' %}
{% load vote_tags %}
{% load humanize %}

{% block head %}
<style>
.stats th { cursor: pointer; }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
var SORT_STATE = null;
function show_table() {
	var table = $('#vote-list');
	$("#vote-details .stats").remove();
	for (var i = 0; i < 3; i++) {
		var group = table.clone(true);
		group.attr('style', '');
		group.attr('id', '');
		group.addClass('stats');
		$(table[0].parentNode).append(group);
		
		var count = table.find('tr').length - 1;
		
		var rows = group.find("tr");
		for (var j = 1; j < rows.length; j++) {
			if (Math.floor((j - 1)/Math.ceil(count/3)) != i)
				$(rows[j]).remove();
		}
	}
}
$(document).ready(function() { 
    $("#vote-list").tablesorter({});
    var headers = $('#vote-list th');
    headers.unbind();
    headers.click(function() {
        var index = $(this).index();
        if (SORT_STATE && SORT_STATE.column == index) {
            order = SORT_STATE.order == 0 ? 1: 0;
        } else {
            order = 0;
        }
        SORT_STATE = {column: index, order: order};
        var sorting;
        switch (index) {
            /* Vote */   case 0: sorting = [[index, order], [1, 0], [2, 0]]; break;
            /* State */  case 1: sorting = [[index, order], [2, 0], [0, 0]]; break;
            /* Name */ case 2: sorting = [[index, order], [1, 0], [0, 0]]; break;
            /* Party */  case 3: sorting = [[index, order], [2, 0], [1, 0], [0, 0]]; break;
        }
        $('#vote-list').trigger('sorton', [sorting]);
        headers.not(headers[index]).removeClass('headerSortDown').removeClass('headerSortUp');
        
        show_table();
    });
    
    show_table();
}); 
</script>
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/votes">Votes</a></li>
<li>{{ vote.get_chamber_display }} Vote #{{ vote.number }} in {{ vote.created|date:"Y" }}</li>
</ul>
{% endblock %}

{% block summary %}
<h1>{{ vote.question }}</h1>

<dl>
    <dt>Number:</dt>
    <dd>{{ vote.get_chamber_display }} Vote #{{ vote.number }} [primary source: <a href="{{vote.get_source_link}}">{{ vote.get_source_display }}</a>]</dd>
    <dt>Date:</dt>
    <dd>{{ vote.created|date:"DATETIME_FORMAT" }} ({{ vote.congress|ordinal }} Congress)</dd>
    <dt>Result:</dt>
    <dd>{{ vote.result }}</dd>
    {% if related_bill %}
    <dt>Bill:</dt>
    <dd><a href="{[related_bill.get_absolute_url}}">{{related_bill}}</a></dd>
    {% endif %}
</dl>
{% endblock %}

{% block body %}

{% with vote.totals as totals %}
<div id="member-stats" class="section">
    <table class="stats">
        <thead>
            <tr>
                <th></th>
                <th>Totals</th>
                {% for party in totals.parties %}
                    <th>{{ party }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in totals.options %}
            <tr>
                <td>{{ item.option }}</td>
                <td>
                    {{ item.count }} ({{ item.percent_int }}%)
                </td>
                {% for count in item.party_counts %}
                <td>{{ count }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td>Required:</td>
                <td>{{ vote.required }}</td>
            </tr>
            <tr class="gradient">
                <td class="empty" colspan="2"></td>
                {% for count in totals.party_counts %}
                <td>{% vote_pie count.yes count.no count.other %}</td> 
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <aside>
        <ul class="downloadl-inks">
            <li><a href="{{ vote.get_absolute_url }}/export/csv">Download as CSV</a></li>
            <li><a href="{{ vote.get_absolute_url }}/export/xml">Download as XML</a></li>
        </ul>
    </aside>
</div>
{% endwith %}

<div id="vote-infographics" class="section">
	<div class="heading">
		<h2>Vote Visualizations</h2>
		{% if vote.chamber == 1 %}
		<em class="tips">Horizontal bars indicate the two senators from a state voted differently.</em>
		{% endif %}
	</div>
	<div class="visualization">
		<div class="container">
			<div class="map-box">
				<h3>Standard Projection</h3>
				<img src="images/map.png" width="390" height="209" alt="image description">
			</div>
			<div class="map-box">
				<h3>Cartogram</h3>
				<img src="images/cartogram.png" width="378" height="207" alt="image description">
				<div class="tooltip">
					<div class="holder">
						<div class="frame">
							<p>Cartograms give an equal area in an image to an equal number of votes by distorting the image. Senate vote cartograms are shown with each state stretched or shrunk so that the states each take up an equal area because each state has two votes. For House votes, it is each congressional district which is stretched or shrunk.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div style="float: right; width: 300px">
	{% vote_totals_pie vote %}
</div>
-->

<div id="vote-details" class="section">
<h2>Vote Details</h2>
<div class="details-box">
    <div class="container">
        <table id="vote-list" style="display: none">
            <thead>
                <tr>
                    <th>Vote</th>
                    <th>{% if vote.chamber == 1 %}State{% else %}District{% endif %}</th>
                    <th>Representative</th>
                    <th>Party</th>
                </tr>
            </thead>
            {% for voter in voters %}
            <tr>
                <td><nobr>{{ voter.option.value }}</nobr></td>
                <td>
                    {% if voter.voter_type_is_member %}
                        {{ voter.person.role.state }}{% if voter.person.role.district %} - {{ voter.person.role.district|ordinal|rjust:5 }}{% endif %} {% comment %} the rjust makes sure the numbers are sorted properly {% endcomment %}
                    {% else %}
                     -
                    {% endif %}
                </td>
                <td>
                    {% if voter.voter_type == 1 %}
                        [Information Missing]
                    {% endif %}
                    {% if voter.voter_type == 2 %}
                        The Vice President
                    {% endif %}
                    {% if voter.voter_type == 3 %}
                        <a href="{{ voter.person.get_absolute_url }}" style="font-weight: normal">{{ voter.person.name_no_details_lastfirst }}</a>
                    {% endif %}
                </td>
                <td>{% if voter.voter_type == 3 %}{{ voter.person.role.party }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>


{% endblock %}

