{% extends 'master_c.html' %}

{% block title %}Congressional Votes Database - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-voting-records.png{% endblock %}
{% block track_button_noun %}Votes{% endblock %}
{% block track_button_explanation %}Get an email every time Congress votes on a bill or other matter.{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "congress_home" %}">Congress</a></li>
    <li class="breadcrumb-item active" aria-current="page">Votes</li>
  </ol>
</nav>

{% endblock %}


{% block summary %}
<h1>Voting Records</h1>

<p>Each year the U.S. Senate and House of Representatives take thousands of votes, some to pass bills, resolutions, nominations, and treaties, and others on procedural matters such as on cloture and other motions. Not all votes are recorded, such as when there is no one opposed. This page shows the outcome of all recorded votes on the Senate floor and House floor. It does not include votes in committee.</p>
{% endblock %}

{% block body %}

{% include "smartsearch/search_panel.html" with heading="Filter Votes" %}

{% endblock %}
