{% extends 'master_c.html' %}

{% block title %}Congressional Votes Database - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-voting-records.png{% endblock %}
{% block track_button_noun %}Votes{% endblock %}
{% block track_button_explanation %}Get an email every time Congress votes on a bill or other matter.{% endblock %}

{% block crumbs %}
{% endblock %}


{% block summary %}
<h1>Votes in Congress</h1>
{% endblock %}

{% block body %}

<p style="margin: .5em 0 30px 0">Browse roll call votes in the House of Representatives and in the Senate to pass bills, resolutions, nominations, and treaties and votes on cloture and other motions. Not all votes are by roll call, such as when there is no one opposed.</p>

{% include "smartsearch/search_panel.html" with heading="Filter Votes" %}

{% endblock %}
