{% extends 'master.html' %}
{% load humanize govtrack_utils %}

{% block title %}{{ vote.question }} -- GovTrack.us{% endblock %}
{% block meta_description %}
	{% if vote.oursummary %}
		{{vote.oursummary.plain_text|truncatewords:30}}
	{% elif vote.is_on_passage and vote.related_bill and vote.related_bill.oursummary %}
		{{vote.related_bill.oursummary.plain_text|truncatewords:30}}
	{% else %}
		{{ vote.get_chamber_display }} Vote #{{ vote.number }} in {{ vote.created|date:"Y" }}, in the United States Congress.
	{% endif %}
{% endblock %}

{% block head %}
	<meta property="og:title" content="{{ vote.question|truncatewords:10 }} -- {{ vote.get_chamber_display }} Vote #{{ vote.number }} -- {{ vote.created|date:"DATE_FORMAT" }}" />
	<style>
    #vote-summary-wrapper {
        border: 1px solid #AAA;
        padding: 10px 10px 0 10px;
    }
    #vote-summary-wrapper > div > h2:first-child {
        margin-top: 0;
    }

    p#yourreps {
        margin: 1em 0 0 0;
        font-style: italic;
    }

	.vote-meta-info {
	  font-size: 90%;
	  margin-top: 1em;
	}
	#content .vote-meta-info p {
	  margin-bottom: .25em;
	  line-height: 128%;
	}

    #what-you-can-do-actions {
    }
        #what-you-can-do-actions > * {
            float: left;
            margin-right: 1.5em;
            margin-top: 1em;
        }
        #what-you-can-do-actions > button {
            min-width: 135px; /* at least as large as the largest so that when the buttons break to two lines they have the same width */
        }

	#vote_notes {
		margin: 1em 0;
		font-size: 85%;
	}
		#vote_notes a {
			margin: 0 .5em;
		}
		#vote_notes div.popup-content {
			display: none;
		}

    #vote-details td, #vote-details th {
        font-size: 12px;
    }

	#vote-details a.note {
		cursor: pointer;
	}

    .vote-list {
        border: 1px solid #DDD;
    }
        .vote-list thead {
            background-color: #555;
            color: white;
        }
        .vote-list .group td {
            padding: 10px 0 2px 0;
        }

    .diagram-legend {
	margin-top: .5em;
        color: #666;
        line-height: 130%;
        font-size: 12px;
    }
        .diagram-legend * {
          display: inline-block;
          margin: 0 .25em .25em 0;
        }
	#study-guide {
		font-size: 16px;
	}
	#study-guide li {
		margin: .25em 0 .75em 0;
	}
	.tipstoggle {
		display: inline-block;
		margin: 0 .5em;
		cursor: pointer;
		color: #9D2146;
		text-decoration: underline;
		font-family: Quicksand;
	}
	.tips {
		display: none;
		border: 1px solid #9D2146;
		background-color: #FFFBFA;
		color: black;
		padding: 1em 1em 0 1em;
		margin-bottom: 1.5em;
	}
	</style>
{% endblock %}
{% block og_image %}
	<meta property="og:image" content="https://www.govtrack.us{{vote.get_absolute_url}}/card"/>
    <meta name="twitter:image" content="https://www.govtrack.us{{vote.get_absolute_url}}/card"/>
	<meta name="twitter:card" content="summary_large_image">
{% endblock %}
	
{% block body_scripts %}

<script>
	$(function() {
		$('#study-guide li').each(function() {
			var question = $(this);
			var tip = question.next(".tips");
			var togglebtn = $("<span class='tipstoggle'>Show Me Tips</span>");
			question.append(togglebtn);
			togglebtn.click(function() { tip.slideToggle(); });
		});
	});
</script>

<script>
var current_sort_column = null;
function update_table() {
    update_grouping_rows();
    var has_outliers = show_table($("#vote-details-outliers"), true, true);
    show_table($("#vote-details-all"), false, has_outliers);
}
function update_grouping_rows() {
    // Add in grouping rows based on the chosen sort order.
    var table = $('#vote-list-template');
    table.find(".group").remove();
    var rows = table.find("tr");
    var last_seen_group = null;
    for (var j = 1; j < rows.length; j++) {
        var gr = $(rows[j]).attr('voter_group_' + current_sort_column);
        if (gr != last_seen_group) {
            var extra_row = $("<tr class='group'><td colspan='4'/></tr>");
            extra_row.find("td").text(gr);
            extra_row.insertBefore($(rows[j]));
            last_seen_group = gr;
        }
    }
}
function show_table(container, only_outliers, show_title) {
	// We achieve a multi-column layout by cloning the table three
	// times (or as many as will fit) and then removing the elements
	// we don't want to include.
    var table = $('#vote-list-template');
    
    if (only_outliers) {
        // Make an intermediate clone that only contains the outliers.
        table = table.clone();
        table.find('tbody tr:not(.voter_outlier)').remove();
        if (table.find('tbody tr').length == 0) {
            container.hide();
            return false;
        }
    }

    // Add header.
    container.show();
    container.find(">h3").toggle(show_title);

    // Because we use :first-child, we must nest the actual tables when there's
    // a title <h3>. We also don't want to clear the h3 and other content.
    container = container.find('.vote-table-container');

    // To prevent scrolling issues when redoing the tables, set a height
    // before clearing the old columns.
    container.height(container.outerHeight());

    // Clear.
    container.text('');

	// Clone and remove the unwanted rows.
	var ncols = Math.floor($('#vote-details').innerWidth() / 320);
	if (ncols > 3) ncols = 3;
    for (var i = 0; i < ncols; i++) {
        var group = table.clone(true);
        group.attr('style', 'float: left');
        group.attr('id', '');
        group.css({ width: $('#vote-details').innerWidth()/ncols - (21*(ncols-1))/ncols - 2 })
        container.append(group);

        if (!only_outliers)
            group.addClass('all-voters');
        else
            group.find(".group").remove(); // hide

        var count = table.find('tr').length - 1;
        var rows = group.find("tr");
        for (var j = 1; j < rows.length; j++) {
            if (Math.floor((j - 1)/Math.ceil(count/ncols)) != i)
                $(rows[j]).remove();
        }
    }

    container.append($('<div class="clearfix"/>'))
    container.css({ height: 'auto' })

    return true;
}
function get_sort_func(order_indexes) {
    function sort_key(n) {
        var key = [];
        for (var i = 0; i < order_indexes.length; i++) {
            if (order_indexes[i] == 1)
                key.push($(n).attr('voter_sort_' + order_indexes[i]))
            else
                key.push($($(n).find('td')[order_indexes[i]]).text())
        }
        return key;
    }
    return sort_key;
}

function show_notes(elem) {
	if (typeof elem == 'string') elem = $('[data-id=' + elem + ']')[0];
	show_modal($(elem).text(), "<div>" + $("#notes_" + $(elem).attr('data-id')).html() + "</div>");
	return false;
}

$(function() {
    if ($('#vote-summary-wrapper > div').outerHeight() > $('#vote-summary-wrapper').innerHeight())
        $('#vote-summary-toggle').show();

    var headers = $('#vote-list-template th');
    headers.click(function() {
        var index = $(this).index();
        headers.not(headers[index]).removeClass('headerSortDown').removeClass('headerSortUp');

        // are we going ascending or descending?
        current_sort_column = index;

        // multi-column sort order
        var sorting;
        switch (index) {
            /* Vote  */     case 0: sorting = [index, 2, 3, 1]; break;
            /* District */  case 1: sorting = [index, 3, 0, 2]; break;
            /* Party */     case 2: sorting = [index, 4, 3, 1]; break;
            /* Name  */     case 3: sorting = [index, 1, 2, 3]; break;
        }

        $('#vote-list-template tbody tr').sortElements(get_sort_func(sorting));
        
        update_table();
    });
    
    // initial sort
    current_sort_column = 1;
    $('#vote-list-template tbody  tr').sortElements(get_sort_func([1,3,0,2]));
    update_table();
    $(window).resize(update_table);

    // admin
    if (the_page.admin_panel) $('#admin_panel').html(the_page.admin_panel);
}); 
</script>
{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "congress_home" %}">Congress</a></li>
    <li class="breadcrumb-item"><a href="/congress/votes">Votes</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{vote.name}} in {{vote.created.year}} ({{ vote.congress|ordinalhtml }} Congress)</li>
  </ol>
</nav>

{% endblock %}

{% block body %}

<h1 class="long" data-vote-id="{{vote.id}}" style="margin-bottom: 0; border: none;">
  {{ vote.question }}
</h1>
<div style="margin: 2px 0 16px 0; font-size: 12px; font-weight: normal; color: black; line-height: 125%; padding-bottom: 6px; border-bottom: 1px solid #CCA;">
  {{ vote.created|date }} {% if vote.has_time %}at {{ vote.created|time }} ET{% endif %}.
  {% if vote.question_details %}
    {{ vote.question_details }}.
  {% endif %}
</div>

<div id="vote_explainer">
	{% if vote.oursummary %}
		<div class="row">
		<div class="col-sm-8">

		<div>{{vote.oursummary.as_html|safe}}</div>

		<small>
	    {% if vote.related_amendment and vote.related_bill %}
	        <p>This vote was related to amendment <a href="{{vote.related_amendment.congressdotgov_link}}">{{vote.related_amendment.display_number}}</a>
			{% if vote.related_amendment.sponsor %}(<a href="{{vote.related_amendment.sponsor.get_absolute_url}}">{{vote.related_amendment.sponsor.name_no_details}}</a>){% endif %}
	        to <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a>. The title of the amendment is {{vote.related_amendment.title}}.</p>
		{% elif vote.related_bill %}
	        <p>This vote was related to
                {% if vote.related_bill.sponsor %}
                    a {{vote.related_bill.noun}} introduced by <a href="{{vote.related_bill.sponsor.get_absolute_url}}">{{vote.related_bill.sponsor}}</a> on {{vote.related_bill.introduced_date|date:"F j, Y"}},
                {% endif %}
                <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill}}</a>.</p>
        {% endif %}
		</small>

		</div> <!-- /col -->
	    <div class="col-sm-4">
			<div class="ads" data-zone="master_a">
				<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/membership">Hide These Ads</a>)</div>
			</div> <!-- /ads square -->
		</div> <!-- /col -->
		</div> <!-- /row -->

    {% elif vote.is_on_passage %}
		<p>
    	{% if vote.related_bill.noun == "bill" %}
    		This was a vote to pass <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a> in the {{vote.chamber_name}}.
    	{% elif vote.related_bill.noun == "resolution" %}
    		This was a vote to agree to <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a> in the {{vote.chamber_name}}.
    	{% else %}
    		This was a vote to pass a bill or agree to a resolution in the {{vote.chamber_name}}.
    	{% endif %}
    	{% if vote.related_bill.explanatory_text %}{{vote.related_bill.explanatory_text|safe}}{% endif %}
	    {% if vote.category == VoteCategory.passage_suspension %}
		    This vote was taken under a House procedure called &ldquo;suspension of the rules&rdquo; which is typically used to pass non-controversial bills. Votes under suspension require a 2/3rds majority. A failed vote under suspension can be taken again.
		{% endif %}
	    </p>

		{% if has_subsequent_vote %}
			<p>It was <b>not</b> the final {{vote.get_chamber_display}} vote on the {{vote.related_bill.noun}}. See the <a href="{{vote.related_bill.get_absolute_url}}">history of {{vote.related_bill.display_number}}</a> for further details.</p>
		{% endif %}

		{% if vote.related_bill and vote.related_bill.oursummary %}
		<div class="row">
		<div class="col-sm-8">
			<div class="well" style="position: relative">
                <div id="vote-summary-wrapper" style="max-height: 270px; overflow: hidden;">
                    <div>
        				{{vote.related_bill.oursummary.as_html|safe}}
        				{% if vote.related_bill.oursummary.source_text %}
        					<p>Source: <a href="{{vote.related_bill.oursummary.source_url}}">{{vote.related_bill.oursummary.source_text}}</a></p>
        				{% endif %}
                    </div>
                </div>
                <div id="vote-summary-toggle"
                     style="position: absolute; left: 2px; bottom: 2px; width: 90%; text-align: center; padding: 1.25em 1em .5em 1em; background: linear-gradient(0deg, white 40%, transparent); font-size: 90%; display: none;">
                  <a id="vote-summary-wrapper-more"
                    class="btn btn-sm btn-info"
                     href="#"
                     onclick="$('#vote-summary-wrapper').data('original-height', $('#vote-summary-wrapper').height()); $('#vote-summary-wrapper').animate({ minHeight: $('#vote-summary-wrapper>div').outerHeight() + $('#vote-summary-toggle').outerHeight() }); $('#vote-summary-wrapper-more').hide(); $('#vote-summary-wrapper-less').show(); return false;">
                            Show More Summary
                            <span class="fas fa-menu-down"></span>
                    </a>
                  <a id="vote-summary-wrapper-less"
                     href="#"
                     class="btn btn-sm btn-info"
                     style="display: none;"
                     onclick="$('#vote-summary-wrapper').animate({ minHeight: $('#vote-summary-wrapper').data('original-height') }); $('#vote-summary-wrapper-more').show(); $('#vote-summary-wrapper-less').hide(); return false;">
                            Show Less Summary
                            <span class="fas fa-menu-up"></span>
                  </a>
                </div>
			</div>
		</div> <!-- /col -->
        <div class="col-sm-4">
			<div class="ads" data-zone="master_a">
				<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/membership">Hide These Ads</a>)</div>
			</div> <!-- /ads square -->
		</div>
		</div> <!-- /row -->
		{% endif %}

    {% elif vote.category == VoteCategory.amendment %}
    <p>
	    {% if not vote.related_amendment or not vote.related_bill %}
        This was a vote to approve or reject an amendment{% if vote.related_bill %} to <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a>{% endif %} in the {{vote.chamber_name}}.
		{% else %}
        This was a vote to approve or reject amendment <a href="{{vote.related_amendment.congressdotgov_link}}">{{vote.related_amendment.display_number}}</a>
		{% if vote.related_amendment.sponsor %}(<a href="{{vote.related_amendment.sponsor.get_absolute_url}}">{{vote.related_amendment.sponsor.name_no_details}}</a>){% endif %}
        to <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a>. The title of the amendment is {{vote.related_amendment.title}}.
		{% endif %}
	</p>

    {% elif vote.category == VoteCategory.cloture %}
    <p>This was a vote on &ldquo;cloture&rdquo; in the Senate, which means to end debate so that an up-or-down vote can be taken. A vote in favor is a vote to end debate and move to a vote on the issue itself, while a vote against is a vote to prolong debate or to filibuster.</p>
    {% if vote.related_bill %}<p style="margin-top: 1em">The vote was related to <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill.display_number}}</a>.</p>{% endif %}
    
    {% elif vote.related_bill or vote.related_amendment %}
        <p>This vote was related to
            {% if vote.related_amendment %}
            an amendment {% if vote.related_amendment.sponsor %}by <a href="{{vote.related_amendment.sponsor.get_absolute_url}}">{{vote.related_amendment.sponsor}}</a>{% endif %}
            to
            {% endif %}
            {% if vote.related_bill %}
                {% if vote.related_bill.sponsor %}
                    a {{vote.related_bill.noun}} introduced by <a href="{{vote.related_bill.sponsor.get_absolute_url}}">{{vote.related_bill.sponsor}}</a> on {{vote.related_bill.introduced_date|date:"F j, Y"}},
                {% endif %}
                <a href="{{vote.related_bill.get_absolute_url}}">{{vote.related_bill}}</a>{% endif %}. 
        </p>

	{% elif vote.question == "On Approving the Journal" %}
    <p>This was a procedural vote. The House is required to approve its previous day&rsquo;s journal of activities each day, but the journal is never the true subject of these votes.
    Because the journal is routinely approved, representatives use these votes to appear to be voting for or against their party, whichever is more politically useful, in aggregate vote statistics, knowing that their vote here does not truly matter.
	These votes may also be used by the majority party to get representatives to the floor
	or to conduct an informal tally about their position on another matter. That other matter is not made known to the general
	public.</p>
    {% endif %}

</div>

{% with vote.totals as totals %}
<div style="margin: 30px 0">
    <h3 style="margin: 0">Totals</h3>
    <table class="stats" style="margin: 0 30px 0 0">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">All Votes</th>
                {% for party in totals.parties %}
                    <th style="padding-left: 6px; padding-right: 6px;">
                        {% if party != "Vice President" %}
                    	{{party|slice:"0:1"}}<span class="hidden-xs">{{party|slice:"1:"}}s</span>
                        {% else %}
                    	V<span class="hidden-xs">ice </span>P<span class="hidden-xs">resident</span>
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in totals.options %}
            <tr {% if item.option.winner %}style="font-weight: bold"{% endif %}>
                <th scope="row" style="white-space: nowrap; border: none; font-weight: inherit;">
					{% comment %}
                	{% if item.option.key == "+" or item.option.key == "-" %}
                		<span class="vote_{{ item.option.alpha_key }}" style="padding-left: 4px; border: 1px solid #AAA;">&nbsp;</span>
                	{% endif %}
					{% endcomment %}
                	{{ item.option }}
                </th>
                <td style="padding: 0 6px 0 6px;">
                  {% if item.percent is not None %}
                  {{ item.percent }}<span style="margin-left: 2px; font-size: 80%; color: #555;">%</span>
                  {% endif %}
                </td>
                <td style="white-space: nowrap; text-align: left; padding: 5px 1vw 5px 5px;">
                    {% for count in item.party_counts %}<div style="width: {{10|mult:count.count|div:totals.max_option_count|floatformat:3}}vw; display: inline-block;" class="color_{{count.party|slice:"0:1"}}"> 
                    &nbsp;</div>{% endfor %}<div style="display: inline-block; padding-left: 5px;">
                      {{ item.count }}
                    </div>

                    {% if item.option.key == "0" and propublica_count > 0 %}
                        <div style="font-size: 83%; text-align: left; padding: 0 5px 4px 5px;"><a href="{{propublica_url}}">{{propublica_count}} explanation{{propublica_count|pluralize}} via ProPublica</a></div>
                    {% endif %}
                </td>
                {% for count in item.party_counts %}
	                <td style="padding: 6px 8px">
						<div>{{ count.count }}</div>
						<div style="height: .25em;"><div style="height: .25em; width: {{7|mult:count.count|div:totals.max_option_count|floatformat:3}}vw; display: inline-block;" class="color_{{count.party.0}}">&nbsp;</div></div>
					</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p style="margin: 1em 0 0 0; font: 12px/20px serif;">
        {{ vote.result }}.

        {% if vote.required == "1/2" %}Simple Majority{% else %}{{ vote.required }}{% endif %}
        Required.

        {% if has_vp_vote %}
            The Vice President cast a tie-breaking vote.
        {% endif %}

        Source: <a href="{{vote.get_source_link}}">{{ vote.get_source_display }}</a>.
    </p>
    {% with vote.get_equivalent_aye_voters_us_population_percent as pct %}
    {% if pct %}
        {% for item in totals.options %}
            {% if item.option.key == pct.0 %}
               <p style="margin: 0; font: 12px/20px serif;">
                   The {{item.option.value}} votes represented {{pct.1|floatformat:0}}% of the country&rsquo;s population by apportioning each state&rsquo;s population to its voting senators.
               </p>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="row">
{% if has_diagram.diagram %}
    <div class="col-sm-6 col-md-5">
        <div style="margin: 1em 0">
			<h3>Ideology Vote Chart</h3>
            <img src="{{ vote.get_absolute_url }}/diagram" class="img-fluid" />
            <div style="margin: .5em 0; max-width: 300px;" class="diagram-legend">
                <div style="float: left; margin: 0 .25em 1em 0">Key:</div>
                {% for item in totals.options %}
                  {% if item.option.key == "+" or item.option.key == "-" %}
                    {% for count in item.party_counts %}
                        {% if count.party.0 == "D" or count.party.0 == "R" %}
                            {% for k, v in diagram_key_colors %}
                                {% if count.count > 0 and k.0 == count.party.0 and k.1 == "+" %}
                                    <span style="padding: 2px 4px; border: 1px solid transparent; {% if item.option.key == "+" %}background{% else %}border{% endif %}-color: {{v}}; cursor: default; {% if item.option.key == "+" %}color: white;{% else %}color: #222;{% endif %}" title="{{count.party}} {{item.option.value}}">
                                        {{count.party}} - {{item.option.value}}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
            </div>
            {% if has_ideology_scores %}
            <div class="diagram-legend" style="margin-top: 3px">Seat position based on our <a href="/about/analysis#ideology">ideology score</a>.</div>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if has_diagram.map and vote.chamber_name != "Senate" %}
    <div class="col-sm-6">
        <div style="margin-top: 1em">
			<h3>Cartogram Map</h3>
            <img src="{{ vote.get_absolute_url }}/map" class="img-fluid" style="margin: auto;" />
            <div style="margin: .5em 0;" class="diagram-legend">
                Each hexagon represents one congressional district.
                {% for item in totals.options %}
                  {% if item.option.key == "+" %}
                    Dark shaded hexes are {{item.option.value}} votes.
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
</div> <!-- /row -->

<div id="admin_panel"> </div>

<div class="card" style="margin: 30px 0; padding-bottom: 0;">
  <div class="card-body">
    <h3 style="margin: 5px 0 0 0; font-weight: bold;">
        What you can do
    </h3>

    <div id="what-you-can-do-actions" class="clearfix">
        <button class="btn btn-sm btn-primary" onclick="window.location='/events/track-something?feed=misc:allvotes';">
            <i class="fas fa-envelope"> </i>
            <span style="margin-left: 3px;">
                Get Email Alerts
            </span>
        </button>

        <button class="btn btn-sm btn-secondary" onclick="window.location='/congress/votes/compare/_add?vote={{vote.congressproject_id}}';">
            <i class="fas fa-list"> </i>
            <span style="margin-left: 3px;">
                Compare to Another Vote
            </span>
        </button>
    </div><!-- /what-you-can-do-actions -->
  </div>
</div>

<div>

	<ul class="nav nav-tabs" role="tablist">
	   <li class="nav-item" role="presentation"><a href="#details" aria-controls="details" class="nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true">Vote Details</a></li>
	   <li class="nav-item" role="presentation"><a href="#studyguide" aria-controls="studyguide" class="nav-link" data-bs-toggle="tab" role="tab">Study Guide</a></li>
	</ul>

<div class="tab-content">
   <div id="details" class="tab-pane active">
	<div id="vote-details" class="section">

	<h2><span>Vote Details</span></h2>

	<div id="vote_notes">
	<div>
	   <span>Notes: </span>

	   {% if vote.chamber == 2 %}
	   <a href="#" onclick="return show_notes(this)" data-id="speakers_vote">The Speaker&rsquo;s Vote?</a>
	   <div id="notes_speakers_vote" class="popup-content">The Speaker of the House is not required to vote in &ldquo;ordinary legislative proceedings, except when such vote would be decisive.&rdquo; In practice, this means the Speaker of the House rarely votes and only does so when it is politically useful. When the Speaker declines to vote, he or she is simply omitted from the roll call by the House Clerk. (See <a href="http://www.gpo.gov/fdsys/pkg/HMAN-113/pdf/HMAN-113-houserules.pdf">House Rules</a>, Rule I(7).)</div>
	   {% endif %}

	   {% if has_vp_vote %}
	   <a href="#" onclick="return show_notes(this)" data-id="vp">The Vice President&rsquo;s Tie-Breaker</a>
	   <div id="notes_vp" class="popup-content">
	   <p>The Vice President casts a vote in the Senate when there is a tie. This is extremely rare.</p>
	   <p>Article I, section 3 of the U.S. Constitution reads, &ldquo;The Vice President of the United States shall be President of the Senate, but shall have no Vote, unless they be equally divided.&rdquo;</p>
	   </div>
	   {% endif %}

       {% if reconsiderers.0|length > 0 %}
       <a href="#" onclick="return show_notes(this)" data-id="motiontoreconsider">*{{reconsiderers.1}}&rsquo;s Vote</a>
       <div id="notes_motiontoreconsider" class="popup-content">
           {% for v in reconsiderers.0 %}
               <p>{{v.person_role.get_title_abbreviated}} {{v.person.name_no_details}} ({{v.party.0}}), the {{v.person_role.leadership_title}}, voted {{v.option.value}} against {{v.person.his_her}} party.</p>
           {% endfor %}
           <p>Somtimes a party leader will vote on the winning side, even if it is against his or her position, to have the right to call for a new vote under a <a href="https://www.senate.gov/reference/glossary_term/reconsider.htm">motion to reconsider</a>. For more, see <a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/02/17/why-is-harry-reid-always-voting-against-his-own-plans/">this explanation</a> from The Washington Post.</p>
           <p>We do not know the rationale behind any vote, however.</p>
       </div>
       {% endif %}

   	   {% if vote.source == 3 %}
	   <a href="#" onclick="return show_notes(this)" data-id="historical">Accuracy of Historical Records</a>
	   <div id="notes_historical" class="popup-content">
	   <p>Our database of roll call votes from 1789-1989 (1990 for House votes) comes from an academic data source, <a href="http://www.voteview.com">VoteView.com</a>,
	   that has digitized paper records going back more than 200 years. Because of the difficulty of this task, the accuracy of these vote records is reduced.</p>
       <p>From October 2014 through July 2015, we displayed incorrect vote totals in some cases. Although the total correctly reflected the announced positions of
       Members of Congress, the totals incorrectly included &ldquo;paired&rdquo; votes, which is when two Members of Congress, one planning to vote in favor and the
       other against, plan ahead of time to both abstain.</p>
	   <p>In addition, these records do not always distinguish between Members of Congress not voting (abstaining) from Members of Congress who were not eligible to vote because
	   they had not yet taken office, or for other reasons. As a result, you may see extra not-voting entries and in these cases Senate votes may show more than 100 senators listed!</p>
	   </div>
	   {% endif %}

	   <a href="#" onclick="return show_notes(this);" data-id="aye_yea">&ldquo;Aye&rdquo; or &ldquo;Yea&rdquo;?</a>
	   <div id="notes_aye_yea" class="popup-content">
	   <p>&ldquo;Aye&rdquo; and &ldquo;Yea&rdquo; mean the same thing, and so do &ldquo;No&rdquo; and &ldquo;Nay&rdquo;. Congress uses different words in different sorts of votes.</p>
	   <p>The U.S. Constitution says that bills should be decided on by the &ldquo;yeas and nays&rdquo; (Article I, Section 7). Congress takes this literally and uses &ldquo;yea&rdquo; and &ldquo;nay&rdquo; when voting on the final passage of bills.</p>
	   <p>All Senate votes use these words. But the House of Representatives uses &ldquo;Aye&rdquo; and &ldquo;No&rdquo; in other sorts of votes.</p>
	   </div>

<div style="font-size: 90%; color: #777; float: right">
    Download as
    <a href="{{ vote.get_absolute_url }}/export/csv" rel="nofollow">CSV</a>
</div>
</div>
    <div class="clearfix"> </div>

        <table id="vote-list-template" class="vote-list stats" style="display: none">
            <thead class="sortable">
                <tr>
                    <th width="13%">Vote</th>
                    <th width="15%">{% if vote.chamber == 1 %}State{% else %}District{% endif %}</th>
                    <th width="12%">Party</th>
                    <th style="text-align: left; padding-left: 10px;">Representative</th>
                    <th style="display: none">Score</th> <!-- for sorting only -->
                </tr>
            </thead>
            <tbody>
            {% for voter in voters %}
            <tr vid="{{voter.id}}"
            	voter_group_0="{{ voter.option.value }}"
            	voter_group_1="{% if voter.voter_type_is_member %}{{ voter.person_role.state_name }}{% elif voter.voter_type == 2 %}The Vice President{% endif %}"
                voter_sort_1="{% if voter.voter_type_is_member %}{{ voter.person_role.state_name }} {{ voter.person_role.district|rjust:3 }}{% elif voter.voter_type == 2 %}00{% endif %}"
            	voter_group_2="{% if voter.voter_type != 1 %}{{ voter.party }}{% endif %}"
                class="{% if voter.is_outlier %}voter_outlier{% endif %}"
            	>
                <td class="vote_{{ voter.option.alpha_key }}"><span class="nowrap">{% if voter.option.value == "Not Voting" %}No Vote{% else %}{{ voter.option.value }}{% endif %}</span></td>
                <td>
                	{% if voter.voter_type_is_member %}
		                {{ voter.person_role.state }}{% if voter.person_role.district and voter.person_role.district != -1 %} {{ voter.person_role.district|ordinalhtml }}{% endif %}
                    {% else %}
                    	-- {% comment %} a single dash confuses the table sorter?? {% endcomment %}
                    {% endif %}
                </td>
                <td>
                    {% if voter.voter_type != 1 %}
                        {% if voter.party|slice:"0:1" in "DIR" %}
                            <span class="party_{{voter.party|slice:"0:1"}}" title="{{ voter.party }}">
                                &nbsp;
                                {{voter.party|slice:"0:1"}}
                                &nbsp;
                            </span>
                        {% else %}
                            {{ voter.party }}
                        {% endif %}
                    {% endif %}
                </td>
                <td style="text-align: left; padding-left: 10px;">
                    {% if voter.voter_type == 1 %}
                        [Information Missing]
                    {% elif voter.voter_type == 2 %}
                    	 <a href="{{ voter.person.get_absolute_url }}" style="color: #444" class="plain">{{ voter.person.name_lastfirst_short }}</a>
                        <br/>(The Vice President)
                    {% elif voter.voter_type == 3 %}
                        <a href="{{ voter.person.get_absolute_url }}" style="color: #444" class="plain">{{ voter.person.name_lastfirst_short }}</a>
						{% if voter in reconsiderers.0 %}
                            <a class="note" title="See note above." onclick="return show_notes('motiontoreconsider')">*</a>
                        {% elif voter.explanation %}
                            <a class="note" title="{{voter.explanation.reason}} -- Explanation from ProPublica" href="{{propublica_url}}"><sup>EXPL</sup></a>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="display: none"> <!-- using for sorting only -->
                    {{voter.ideolog_score}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <div id="vote-details-outliers">
            <h3>Statistically Notable Votes</h3>
			<div class="vote-table-container"> </div>
            <p style="margin-top: .5em; font-size: 90%; color: #444;">Statistically notable votes are the votes that are most surprising, or least predictable, given how other members of each voter&rsquo;s party voted{% if has_ideology_scores %} and other factors{% endif %}.</p>
        </div>
        <div id="vote-details-all">
            <h3>All Votes</h3>
			<div class="vote-table-container"> </div>
        </div>
</div>
</div>
</div>


<div id="studyguide" class="tab-pane">
	<h2>Study Guide</h2>

	<div class="card bg-info">
	   <div class="card-body">
	      <p>How well do you understand this vote? Use this study guide to find out.</p>

	      <p style="margin-bottom: 0">You can find answers to most of the questions below here on the vote page.
	      {% if vote.related_bill %} For a guide to understanding the {{vote.related_bill.noun}} this vote was about, <a href="{{vote.related_bill.get_absolute_url}}/studyguide">see here</a>.</p>{% endif %}
	   </div>
	</div>

	<div id="study-guide">
	   
	   <h2><span>What was the procedure for this vote?</span></h2>

	   <ol>

	   <li>What was this vote on?</li>

	   <div class="tips">
		<p>Not all votes are meant to pass legislation. In the Senate some votes are not about legislation at all, since the Senate must vote to confirm presidential nominations to certain federal positions.</p>
		{% if vote.category == VoteCategory.nomination %}
		<p>This vote was on a nomination by the President. Use your favorite search engine to find more about who was nominated and what the position entails. What branch of government is the position in? What relevant experience does the nominee have?</p>
		{% endif %}
		{% if vote.related_bill %}
		<p>This vote is related to a {{vote.related_bill.noun}}. However, that doesn’t necessarily tell you what it is about. Congress makes many decisions in the process of passing legislation, such as on the procedures for debating the {{vote.related_bill.noun}}, whether to change the {{vote.related_bill.noun}} before voting on passage, and even whether to vote on passage at all.</p>
		{% endif %}
		{% if vote.related_amendment %}
		<p>This was a vote on an amendment to the {{vote.related_bill.noun}}. You can find the text of the amendment by looking for where it appears in the text of the <a href="{{vote.related_amendment.congressdotgov_link}}">Congressional Record</a>. If you’re wondering why Congress doesn’t make it easier to find the text of each amendment, so are we.</p>
		{% endif %}
		<p>You can learn more about the various motions used in Congress at <a href="https://www.everycrsreport.com">EveryCRSReport.com</a>. If you aren’t sure what the {{vote.chamber_name}} was voting on, try seeing if it’s on <a href="https://www.everycrsreport.com/reports/RL32207.html">this list</a>.</p>
	   </div>
	
	{% if " table " in vote.question or " recommit" in vote.question %}
	   <li>Given what this vote is on, what does a vote in favor mean?</li>

	   <div class="tips">
		<p>Not all votes on a {{vote.related_bill.noun}} are on passage. Sometimes Congress votes on whether to set aside a {{vote.related_bill.noun}} or send it back to committee, which can effectively kill the {{vote.related_bill.noun}}. In those cases a vote in favor is actually a vote against passing the {{vote.related_bill.noun}}, since it is a vote to let the {{vote.related_bill.noun}} remain in Congress.</p>
	   </div>
	{% endif %}

	   {% if vote.related_bill %}
	   <li>What is the next step after this vote?</li>

	   <div class="tips">
		<p>Take a look at where this {{vote.related_bill.noun}} is in the legislative process. What might come next? Keep in mind what this specific vote was on, and the context of the {{vote.related_bill.noun}}. Will there be amendments? Will the other chamber of Congress vote on it, or let it die?</p> 
		<p>For this question it may help to briefly examine <a href="{{vote.related_bill.get_absolute_url}}">the {{vote.related_bill.noun}} itself</a>.</p>
	   </div>
	   {% endif %}

	</ol>

	<h2><span>What is your analysis of this vote?</span></h2>

	<ol>

	   <li>What trends do you see in this vote?</li>

	   <div class="tips">
		<p>Members of Congress side together for many reasons beside being in the same political party, especially so for less prominent legislation or legislation specific to a certain region. What might have determined how the roll call came out in this case? Does it look like Members of Congress voted based on party, geography, or some other reason?</p>
		{% if has_diagram.map and vote.chamber_name != "Senate" %}
		<p>One tool that will be helpful in answering this question is the cartogram at the top of the page. A cartogram is a stylized map of the United States that shows each district as an identical hexagon. This view allows you to see the how the representatives from each district voted arranged by their geography and colored by their political party. What trends can you see in the cartogram for this vote?</p>
		{% endif %}
	   </div>

	   {% if has_outliers %}
	   <li>GovTrack marked some legislators’ votes as statistically notable. Why might they be notable?</li>

	   <div class="tips">
		<p>If you can find a trend in how Members of Congress voted, you might be able to see anomalies in that trend. GovTrack uses algorithms to look for trends across votes and mark possible anomalies. Do any of these anomalies surprise you? Why or why not?</p>
	   </div>
	   {% endif %}

	   <li>How did your {% if vote.chamber_name != "Senate" %}representative{% else %}senators{% endif %} vote?</li>

	   <div class="tips">
		<p>There {% if vote.chamber_name != "Senate" %}is one{% else %}are two{% endif %} vote{% if vote.chamber_name == "Senate" %}s{% endif %} here that should be more important to you than all the others. These are the votes cast by your {% if vote.chamber_name != "Senate" %}representative{% else %}senators{% endif %}, which {% if vote.chamber_name != "Senate" %}is{% else %}are{% endif %} meant to represent you and your community. Do you agree with how your {% if vote.chamber_name != "Senate" %}representative{% else %}senators{% endif %} voted? Why do you think they voted the way they did?</p>
		<p>If you don’t already know who your Members of Congress are you can find them by <a href="https://www.govtrack.us/congress/members">entering your address here</a>.</p>
	   </div>

	   {% if vote.chamber_name == "Senate" %}
	   <li>How much of the United States population is represented by the yeas?</li>

	   <div class="tips">
		<p>GovTrack displays the percentage of the United States population represented by the yeas on some Senate votes just under the vote totals. We do this to highlight how the people of the United States are represented in the Senate. Since each state has two senators, but state populations vary significantly, the individuals living in each state have different Senate representation. For example, California’s population of near 40 million is given the same number of senators as Wyoming’s population of about 600,000.</p>
		<p>Do the senators who voted yea represent a majority of the people of the United States? Does it matter?</p>
	   </div>
	   {% endif %}

	</div>

<p class="text-info">
Each vote&rsquo;s study guide is a little different &mdash; we automatically choose which questions to include based on the information we have available about the vote.
Study guides are a new feature to GovTrack. You can help us improve them by filling out <a href="https://docs.google.com/forms/d/1ROkYIeJHlGeJ4VNETbh3Sq-Iw6X6HD6p-VvIJUMc-hs/">this survey</a> or by sending your feedback to <a href="mailto:hello@govtrack.us?subject=Vote study guide">hello@govtrack.us</a>.
</p>
</div>
</div>
</div>
{% endwith %}

{% endblock %}

