{% extends 'master.html' %}

{% block title %}Congressional Votes Database - GovTrack.us{% endblock %}
{% block body_class %}votes{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li>Voting Records</li>
</ul>
{% endblock %}

{% block summary %}
<h1>Congressional Votes Database</h1>

<p>The Senate and House each conduct hundreds of recorded/roll call votes each year, used both to pass legislation and amendments as well as to approve motions and for quorum calls. Use the options to navigate the voting records database.</p>
{% endblock %}

{% block body %}

{% comment %}
{% with recent_vote as vote %}
<h3>Recent vote: {{ vote }}</h3>
{% include "vote/_recent_vote.html" %}
{% endwith %}
{% endcomment %}


{% include "smartsearch/search_panel.html" %}


{% endblock %}
