[submodule "ext/django-registration-pv"]
	path = ext/django-registration-pv
	url = https://github.com/govtrack/django-registration-pv
[submodule "ext/diff_match_patch-python"]
	path = ext/diff_match_patch-python
	url = git://github.com/JoshData/diff_match_patch-python.git
[submodule "ext/congressxml"]
	path = ext/congressxml
	url = https://github.com/govtrack/congressxml
[submodule "ext/django-simplegetapi"]
	path = ext/django-simplegetapi
	url = https://github.com/JoshData/django-simplegetapi
