[submodule "ext/django-registration-pv"]
	path = ext/django-registration-pv
	url = git://github.com/JoshData/django-registration-pv.git
[submodule "ext/django-haystack"]
	path = ext/django-haystack
	url = https://github.com/JoshData/django-haystack.git
[submodule "ext/diff_match_patch-python"]
	path = ext/diff_match_patch-python
	url = git://github.com/JoshData/diff_match_patch-python.git
[submodule "ext/stateface"]
	path = ext/stateface
	url = https://github.com/propublica/stateface
[submodule "ext/congressxml"]
	path = ext/congressxml
	url = https://github.com/GPHemsley/congressxml
[submodule "ext/django-simplegetapi"]
	path = ext/django-simplegetapi
	url = https://github.com/JoshData/django-simplegetapi
