honcho
django<4.2 # MySQL has to be upgraded to 8 after this
uwsgi
lxml
python-prctl
python-dateutil
django-debug-toolbar
django-picklefield
oauth2
mimeparse
pillow
defusedxml
jsonfield
feedparser
scipy
numpy
django-haystack
pysolr
rcssmin
commonmark
html5lib
tqdm
pyyaml
pynliner
django-html-emailer
xml_diff
fast-diff-match-patch
tweepy
sparkpost
user-agents
dj_database_url
django-cache-url
dj-haystack-url
django-crispy-forms
rtyaml
plotly
matplotlib
pycairo
exclusiveprocess
email_validator
draftable-compare-api
cmarkgfm
django_otp
Mastodon.py
requests
django-markdownx
statsmodels
stripe
atproto
pmtiles
mapbox-vector-tile
shapely
