honcho
django<1.12
uwsgi
python-dateutil
django-cache-utils
django-debug-toolbar
django-extensions
django-picklefield
mimeparse
defusedxml
jsonfield
beautifulsoup
feedparser
numpy
django-haystack
pysolr==2.1.0
xapian-haystack
recaptcha-client
django-wysiwyg
rcssmin
markdown2
tqdm
pyyaml
pynliner
git+https://github.com/govtrack/django-lorien-common
git+https://github.com/if-then-fund/django-html-emailer@v0.0.2
xml_diff
diff_match_patch_python
python-twitter
sparkpost
user-agents
dj_database_url
django-cache-url
dj-haystack-url
paypalrestsdk
django-crispy-forms

