honcho
django<1.12
uwsgi
python-dateutil
django-cache-utils
django-debug-toolbar
django-picklefield
mimeparse
defusedxml
jsonfield
feedparser
numpy
django-haystack
pysolr==2.1.0
xapian-haystack
recaptcha-client
django-wysiwyg
rcssmin
commonmark
html5lib
tqdm
pyyaml
pynliner
git+https://github.com/govtrack/django-lorien-common
django-html-emailer
xml_diff
diff_match_patch_python
python-twitter
sparkpost
user-agents
dj_database_url
django-cache-url
dj-haystack-url
paypalrestsdk
django-crispy-forms
rtyaml
