{% extends "master.html" %}
{% block title %}GovTrack.us - About{% endblock %}

{% block summary %}

<h1>Log In</h1>

<form method="post" class="login">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />

	
	<table cols="2" width="100%" style="margin-top: 2em">
	<tr valign="top">
		<td width="50%" style="padding-right: 2em">
			<div class="signin_social">
				<p>Use one of your social accounts to log in or register:</p>
				{% with next as singlesignon_next %}
					{% include "registration/login_singlesignon.html" %}
				{% endwith %}
			</div>
		</td>
		<td width="50%" style="padding-right: 2em">
			<p>Or log in with your email and password:</p>

			{% if errors %}
				<p class="error">{{errors}} Please try again.</p>
			{% endif %}
			
			<label for="id_email">Email</label> 
			<input id="id_email" type="text" name="email" maxlength="60" value="{{email}}"/><br /> 
						
			<label for="id_password">Password</label> 
			<input type="password" name="password" id="id_password" value="{{password}}" /><br /> 
						
			<input class="submit" type="submit" value="Login" />
			<a class="forgot" href="{% url registration.views.resetpassword %}">Forgot your password?</a>
		
			<p><a href="/accounts/register{% if next %}?next={{next|urlencode}}{% endif %}">New here? Create a login.</a></p>

			
		</td>
	</tr>
	</table>
	
</form>

{% endblock %}

