{% extends "master.html" %}

{% load registration_providers %}

{% block title %}Account Settings -- {{site_name}}{% endblock %}
{% block meta_description %}Your {{site_name}} account settings.{% endblock %}

{% block body %}
<h1 style="border: none">Account Settings</h1>

{% with user.userprofile.get_membership_subscription_info as msi %}
{% if msi.message %}
	<h2><span>Membership Subscription</span></h2>

	<p>{{msi.message}} More about <a href="/accounts/membership">GovTrack Membership</a>.</p>
{% endif %}
{% endwith %}

<h2 id="login-section"><span>Login</span></h2>

<p style="margin: 2em 0">These settings control how you log in to GovTrack and where we&rsquo;ll send your email updates to.</p>

		{% if success %}<p class="error" style="margin-top: 1em">{{success}}</p>{% endif %}
	
		<form method="post" class="login" style="margin-bottom: 1em">{% csrf_token %}
			<div class="form-group">
				<label for="email" class="control-label">New Email Address</label>
				<div>
					<input type="email" id="email" name="email" value="{{user.email}}" class="form-control" style="max-width: 20em; display: inline-block; margin-right: 1em; margin-bottom: 3px;" />
					<input type="submit" class="submit btn btn-primary" value="Update"/>
				</div>
			</div>
			{% if errors.email %}<p class="error">{{errors.email}}</p>{% endif %}
		</form>
		
		<form method="post" class="login" style="margin-bottom: 1em">{% csrf_token %}
			<div class="form-group">
				<label for="password" class="control-label">New Password</label>
				<div>
					<input type="password" id="password" name="password" value="" class="form-control" style="max-width: 20em; display: inline-block; margin-right: 1em; margin-bottom: 3px;"/>
					<input type="submit" class="submit btn btn-primary" value="Update"/>
				</div>
			</div>
			{% if errors.password %}<p class="error">{{errors.password}}</p>{% endif %}
	
			{% if not user.has_usable_password %}
				{% if sso|length == 0 %}
					<p style="margin-top: 1em">Your account is missing a password. You should set one so you can log back in later!</p>
				{% else %}
					{% if sso|length == 1 %}
						<p style="margin-top: 1em">You are logging in through a {{sso.0.provider|provider_name}} account. Look for the {{sso.0.provider|provider_name}} button to log in when you come back to {{site_name}} later.</p>
					{% else %}
						<p style="margin-top: 1em">You are logging in through a social account. Look for the appropriate button to log in when you come back to {{site_name}} later.</p>
					{% endif %}
				{% endif %}
			{% endif %}
		</form>

		{% include "registration/profile_singlesignon.html" %}

	<h2><span>Unsubscribe</span></h2>

	<p>To control what emails you get from us, head over to <a href="/accounts/lists">Your Email Subscriptions</a>.</p>

	{% with request.user.userprofile.lists_with_email as lists %}
	{% if lists|length > 0 or request.user.userprofile.massemail %}
		<p>Or to unsubscribe from all email from GovTrack, click the following button:</p>
		<form action="/accounts/update_settings" method="post" style="margin: 1em 2em">{% csrf_token %}
			<input type="hidden" name="action" value="unsubscribe"/>
			<input type="submit" class="submit" value="Unsubscribe From Everything"/>
		</form>
	{% else %}
		<div>You are set to not receive any email from GovTrack.</div>
	{% endif %}
	{% endwith %}

	<hr>
	<p style="margin-top: 2em">For other account issues, please <a href="/contact">contact us</a>.</p>
{% endblock %}
