{% extends "master.html" %}

{% load registration_providers %}

{% block title %}Account Settings -- {{site_name}}{% endblock %}
{% block meta_description %}Your {{site_name}} account settings.{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1 style="border: none">Account Settings</h1>

	<h2><span>Emails</span></h2>

	{% with request.user.userprofile.lists_with_email as lists %}

	{% if lists|length > 0 or request.user.userprofile.massemail %}
		<h3>Unsubscribe?</h3>
		<p>To stop all future email from GovTrack, click the following button:</p>
		<form action="/accounts/update_settings" method="post" style="margin: 1em 2em">{% csrf_token %}
			<input type="hidden" name="action" value="unsubscribe"/>
			<input type="submit" class="submit" value="Unsubscribe"/>
		</form>
		<hr>
	{% else %}
		<div>You are set to not receive any email from GovTrack.</div>
	{% endif %}

	<div class="row">
	<div class="col-sm-6">
		<h3>Email Updates</h3>
		{% if lists|length > 0 %}
			<p>You have email updates turned on for the following lists you created. Use the <a href="/accounts/lists">What I&rsquo;m Tracking</a> page to change how often you get email updates for these lists.</p>
			{% for list in lists %}
				<p style="margin-left: 2em">{{list.name}} ({{list.get_email_display}})</p>
			{% endfor %}
		{% else %}
			<p style="margin-top: 1em">You have no <a href="/accounts/lists">lists</a> that are configured for email updates.</p>
		{% endif %}
		{% endwith %}
	</div>
	<div class="col-sm-6">	
		<h3>Site Announcements</h3>
		{% if request.user.userprofile.massemail %}
			<p>We send occasional emails about changes to GovTrack.us and government transparency in Congress, about twice a year. Click the button to turn off site announcements.</p>
		{% else %}
			<p>You have turned off site announcements.</p>
		{% endif %}
		<form action="/accounts/update_settings" method="post" style="margin-left: 2em">{% csrf_token %}
			<input type="hidden" name="action" value="massemail"/>
			<input type="submit" class="submit" value="{% if request.user.userprofile.massemail %}Stop Site Announcements{% else %}Send Me Site Announcements{% endif %}"/>
		</form>
	</div>
</div>
	
{% with user.userprofile.get_membership_subscription_info as msi %}
{% if msi.message %}
	<h2><span>Membership Subscription</span></h2>

	<p>{{msi.message}} More about <a href="/accounts/membership">GovTrack Membership</a>.</p>
{% endif %}
{% endwith %}

<h2 id="login-section"><span>Login</span></h2>

<p style="margin: 2em 0">These settings control how you log in to GovTrack and where we&rsquo;ll send your email updates to.</p>

<div class="row">
	<div class="col-md-7">
		{% if success %}<p class="error" style="margin-top: 1em">{{success}}</p>{% endif %}
	
		<form method="post" class="form-horizontal login">{% csrf_token %}
			<div class="form-group">
				<label for="email" class="col-sm-2 col-md-3 control-label">New Email Address</label>
				<div class="col-sm-4 col-md-6">
					<input type="email" size="20" id="email" name="email" value="{{user.email}}" class="form-control"/>
				</div>
				<div class="col-sm-1">
					<input type="submit" class="submit btn btn-primary" value="Update"/>
				</div>
			</div>
			{% if errors.email %}<p class="error">{{errors.email}}</p>{% endif %}
		</form>
		
		<form method="post" class="form-horizontal login">{% csrf_token %}
			<div class="form-group">
				<label for="password" class="col-sm-2 col-md-3 control-label">New Password</label>
				<div class="col-sm-4 col-md-6">
					<input type="password" size="20" id="password" name="password" value="" class="form-control"/>
				</div>
				<div class="col-sm-1">
					<input type="submit" class="submit btn btn-primary" value="Update"/>
				</div>
			</div>
			{% if errors.password %}<p class="error">{{errors.password}}</p>{% endif %}
	
			{% if not user.has_usable_password %}
				{% if sso|length == 0 %}
					<p style="margin-top: 1em">Your account is missing a password. You should set one so you can log back in later!</p>
				{% else %}
					{% if sso|length == 1 %}
						<p style="margin-top: 1em">You are logging in through a {{sso.0.provider|provider_name}} account. Look for the {{sso.0.provider|provider_name}} button to log in when you come back to {{site_name}} later.</p>
					{% else %}
						<p style="margin-top: 1em">You are logging in through a social account. Look for the appropriate button to log in when you come back to {{site_name}} later.</p>
					{% endif %}
				{% endif %}
			{% endif %}
		</form>

		<p style="margin-top: 2em">For other account issues, please <a href="/contact">contact us</a>.</p>
	</div>
	<div class="col-md-5">
		{% include "registration/profile_singlesignon.html" %}
	</div>
</div>
	
{% endblock %}

{% block body_scripts %}
{% if request.method == "POST" %}
<script>$(function(){
  $("html, body").animate({ scrollTop: $('#login-section').offset().top - $(window).height()/10 });
});</script>
{% endif %}
{% endblock %}


