{% extends "master.html" %}
{% load cache %}

{% block title %}GovTrack.us - API{% endblock %}

{% block head %}

<link href="/static/js/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/prettify.js"></script>
<script>$(function() { prettyPrint(); });</script>
{% endblock %}

{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li></ul>
{% endblock %}

{% block body %}
	<h1>GovTrack API Documentation</h1>
	<p>GovTrack&rsquo;s API provides programmatic access to information about the U.S. Congress.</p>

{% include "website/developers/menu.html" %}

<section class="main twelve columns">

	<p>Our API provides live access to most of the information found on GovTrack. Data for the 113th Congress are from <a href="https://github.com/unitedstates/congress-legislators">github:unitedstates/congress-legislators</a> and <a href="https://github.com/unitedstates/congress">github:unitedstates/congress</a>, community projects that we helped create and now help maintain. Historical data is from our legacy scrapers.</p>
	<p>Consider using our <a href="/developers/data">bulk raw data</a>, or the bulk offerings of the two github projects, for bulk access to the complete database, rather than making many individual queries, if you need the whole thing.</p>

	
	{% include "website/developers/gettingstarted.html" %}

	<h2><span>Examples</span></h2>
	
	<p>Here are some quick examples:</p>
	
	<ul class="bullets example_api_uses">
		<li><a href="{{baseurl}}role?current=true">{{baseurl}}role?current=true</a><br/>List current Members of Congress.</li>
		<li><a href="{{baseurl}}person/400054">{{baseurl}}person/400054</a><br/>Sen. Richard Burr [R-NC].</li>
		<li><a href="{{baseurl}}bill?congress=112&amp;order_by=-current_status_date">{{baseurl}}bill?congress=112&amp;order_by=-current_status_date</a><br/>List current bills in Congress with the most recently active bills first.</li>
		<li><a href="{{baseurl}}bill/74369">{{baseurl}}bill/74369</a><br/>H.R. 1349: Public Online Information Act of 2011.</li>
		<li><a href="{{baseurl}}vote/?congress=112&chamber=house&session=2011">{{baseurl}}vote/?congress=112&amp;chamber=house&amp;session=2011</a><br/>Roll call votes in the House in 2011</li>
		<li><a href="{{baseurl}}vote/1">{{baseurl}}vote/1</a><br/>Roll call vote metadata for House vote #183 in 2011</li>
		<li><a href="{{baseurl}}vote_voter/?vote=1&limit=441">{{baseurl}}vote_voter/?vote=1&limit=441</a><br/>Actual votes in House vote #183 in 2011 with a limit set so all results appear in one page.</li>
		<li><a href="{{baseurl}}vote_voter/?person=400222&amp;limit=10000&amp;order_by=created&format=csv&fields=vote__id,created,option__value,vote__category,vote__chamber,vote__question,vote__number">{{baseurl}}vote_voter/?person=400222&amp;limit=10000&amp;order_by=created&amp;format=csv&amp;fields=vote__id,created,option__value,vote__category,vote__chamber,vote__question,vote__number</a><br/>Mark Kirk&rsquo;s voting record returned in CSV format. A high limit is set so all of the results make it into the file.</li>
	</ul>
	
	<h2><span>Libraries/Wrappers</span></h2>
	
	<p>You might find these useful: <a href="https://npmjs.org/package/govtrack-node">node.js wrapper</a>, <a href="https://www.temboo.com/library/Library/GovTrack/">GovTrack on Temboo</a>.</p>

	<h2><span>General Options</span></h2>

	{% include "simplegetapi/documentation_generalopts.html" %}
	
	<h3>Examples</h3>

	<p>To list bills in the 112th Congress use a filter like <tt>congress=112</tt> like so:<br/><a href="{{baseurl}}bill?congress=112">{{baseurl}}bill?congress=112</a></p>
	
	<p>The bills and people APIs also support the <tt>q</tt> field which performs a full-text search:<br/>
	<a href="{{baseurl}}bill?q=internet">{{baseurl}}bill?q=internet</a></p>

	<p>To find votes this year, filter using a date:<br/>
	<a href="{{baseurl}}vote?created__gt=2013-01-01T00:00:00">{{baseurl}}vote?created__gt=2012-01-01T00:00:00</a></p>
	
	<p>Here is an example of using the <tt>format</tt> field to get output in CSV format, requesting 600 results with <tt>limit</tt>,
	filtering (<tt>current=true</tt>), and requesting particular fields in the output (with underscore notation to span relationships).
	To get a list of currently serving Members of Congress in CSV format use:<br/><a 
	href="{{baseurl}}role?current=true&format=csv&fields=state,district,title_long,person__firstname,person__lastname,person__name&limit=600">{{baseurl}}role?current=true&amp;format=csv&amp;fields=state,district,title_long,person__firstname,person__lastname,person__name&amp;limit=600</a>.</p>
	
	<p>Here is an example of sorting a date field reverse-chronologically. To find the most recent votes:<br/>
	<a href="{{baseurl}}vote?sort=-created">{{baseurl}}vote?sort=-created</a></p>

	<p>The in and range operators accept multiple values separated by pipe characters. To find bills whose status is/was either signed by the president or enacted by veto override use:<br/>
	<a href="{{baseurl}}bill?current_status__in=enacted_signed|enacted_veto_override|enacted_tendayrule">{{baseurl}}bill?current_status__in=enacted_signed|enacted_veto_override|enacted_tendayrule</a></p>

	<h2><span>Access Points and Schemas</span></h2>
	
	<p>The following resources are available in the API.</p>
	
	{% cache 6000 govtrack_api_docs_3 %}
	
	<ul class="bullets">
	{% for endpoint, resourcedef in api %}
		<li><a href="#endpoint_{{endpoint}}">{{endpoint|capfirst}}</a><br/>{{resourcedef.get_docstring}}</li>
	{% endfor %}
	</ul>
	
	{% for endpoint, resourcedef in api %}
		<a name="endpoint_{{endpoint}}"> </a>
		<h3>{{endpoint|capfirst}}</h3>

		{% include "simplegetapi/documentation_fields.html" %}
	{% endfor %}
	
	{% endcache %}
</section>
{% endblock %}

