{% extends "master.html" %}

{% block title %}GovTrack.us - Bulk Raw Data{% endblock %}

{% block head %}
<style>
h3 { margin: 4px 0 4px 16px; }
tt { font-size: 90%; }
#content li { margin-bottom: 1em; }
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb"><li><a href="/developers">Developer Documentation</a></li> </ol>
{% endblock %}

{% block body %}
	<h1>Bulk Raw Data Documentation</h1>
	<p>GovTrack&rsquo;s bulk raw data can be used to build other tools around Congressional information.</p>
	<p>Our bulk data rsync server provides access to most of the information found on GovTrack. Data are from <a href="https://github.com/unitedstates/congress-legislators">github:unitedstates/congress-legislators</a> and <a href="https://github.com/unitedstates/congress">github:unitedstates/congress</a>, community projects that we helped create and now help maintain.</p>
	<p>Consider using our <a href="/developers/api">API</a> if you only need a small slice of the data.</p>

<section class="main twelve columns">

	
	{% include "website/developers/gettingstarted.html" %}

	<h2><span>Overview</span></h2>
	
	<p>You can familiarize yourself with the contents of our bulk data by browsing <a href="/data/congress-legislators/">http://www.govtrack.us/data/congress-legislators/</a> and <a href="/data/congress/">http://www.govtrack.us/data/congress/</a>. Get an idea for the directory structure and what the files look like.</p>

	<p>An explanation of the directory layout of the files and their formats is given below.</p>
	
	<h3>Getting the Data</h3>
	
	<p>To fetch the data we support <tt>rsync</tt>, a common Unix/Mac tool for efficiently fetching files and keeping them updated as they change. The root of our rsync tree is <tt>govtrack.us::govtrackdata</tt>, and this corresponds exactly to what you see at <a 
	href="/data/">http://www.govtrack.us/data/</a>.</p>
	
	<p>To download bill data for the 113th Congress into a local directory named bills, run:</p>
	
	<pre>rsync -avz --delete --delete-excluded --exclude **/text-versions/ \
		govtrack.us::govtrackdata/congress/113/bills .</pre>
	
	<p>(Note the double colons in the middle and the period at the end. This is a long command. I&rsquo;ve indicated the line continuation with a backslash.)</p>
	
	<p>This directory will grow as bills are introduced, and files will be updated regularly as we pull new information from Congress. To keep your files fresh, just run the command again. It will only download new and updated files!</p>
	
	<p>The complete data directory is around 100 gigabytes in all, so keep your rsync command as narrowly focused as possible.</p>
	
	<p>Although you can also see these files over HTTP, we discourage using HTTP to actually download the data in bulk. Use it for a few files, but don&rsquo;t hammer our server with tens of thousands of HTTP requests.</p>
	
	<p>For more info about rsync, see <a href="/developers/rsync">our rsync notes</a> and the <a href="http://ss64.com/bash/rsync.html">rsync documentation</a>.</p>


	<h2><span>Terminology</span></h2>

	<h3>A &ldquo;Congress&rdquo;</h3>
	
	<p>Most files are organized by &ldquo;Congress.&rdquo; A &ldquo;Congress&rdquo; 
	is a two-year term of activity, starting in the year after an 
	election year. Many things in Congress reset after each two year 
	term, such as bill numbers. Each year is called a &ldquo;session&rdquo;.
	(In historical data, the durations of sessions and Congresses were more arbitrary.)</p>
	
	<p>Congresses start and end on January 3 of odd-numbered years. The 113<sup>th</sup> Congress
	started on Jan 3, 2013 at noon and will end on Jan 3, 2015 at noon. (Again, in historical
	data the start and end dates of Congresses was more arbitrary.)</p>
	
	<p>Congresses are divided into two &ldquo;sessions&rdquo;, which correspond roughly to
	calendar years. But they aren&rsquo;t exactly calendar years, so we also call them
	legislative years. In our data, sessions are identified by the calendar year in which
	they start, e.g. 2014 is the name for the second session (or legislative year) of the
	113th Congress and while it began in 2014 it will end on Jan 3, 2015.</p>

	<h2><span>Bulk Data Files</span></h2>

	<h3>Members of Congress (and Presidents/Vice Presidents)</h3>

	<ul>
		<li><tt><a href="/data/congress-legislators/">/data/congress-legislators/</a></tt><br>
		This directory contains files in YAML and CSV format containing information on Members of Congress and presidents and vice presidents from 1789-present. It is basically a mirror of <a href="https://github.com/unitedstates/congress-legislators">github:unitedstates/congress-legislators</a>, and see that project for documentation. The CSV file contains only a subset of the fields from the YAML files.</li>

		<li><tt><a href="/data/photos">/data/photos</a></tt><br>
		This directory contains JPEG images of Members of Congress, past and present. 
		The name of the photo is the GovTrack numeric identifier for the person followed by:
		<tt>.jpeg</tt>, for the largest original image available; <tt>-200px.jpeg</tt>, <tt>-100px.jpeg</tt>,
		and <tt>-50px.jpeg</tt> for three standard sizes of the photo by width; or <tt>-credit.txt</tt>
		which is a tab-delimeted file containing first the URL of where the image was acquired
		from and second the name of the source, both intended to be used in credit links. The photos are sourced
		from various locations, and many come via the <a href="https://github.com/unitedstates/images">github:unitedstates/images</a>
		project on github.</li>
	</ul>

	<h3>Committees and Committee Assignments</h3>

	<ul>
		<li><tt><a href="/data/congress-legislators/">/data/congress-legislators/</a></tt><br>
		This directory also contains files in YAML format containing information on Congressional committees (both current &amp;historical) and current committee assignments. It is basically a mirror of <a href="https://github.com/unitedstates/congress-legislators">github:unitedstates/congress-legislators</a>, and see that project for documentation.</li>
	</ul>
	
	<h3>Bills, Amendments, Votes</h3>

	<p>Data files for bills, amendments, and votes are contained in directories named as <a href="/data/congress/113">/data/congress/{congress}</a>, by the Congress number in which the bill or amendment was introduced or the vote took place. The files are the output of the scrapers developed in the <a href="https://github.com/unitedstates/congress">github:unitedstates/congress</a> project.</p>

	<p>Within these directories you will find...</p>

	<ul>
		<li><tt>bills/{bill-type}/{bill-type}{number}/<b>data.json</b></tt><br>
		example: <tt><a href="/data/congress/113/bills/hr/hr4015/data.json">/data/congress/113/bills/hr/hr4015/data.json</a></tt><br>
		Bill status in JSON format for the 93rd Congress (1973) forward, plus limited data for the 82nd-92nd Congresses (1951-1972; statutes and enrolled concurrent resolutions only) and the 6th-42nd Congresses (1799-1873). See the <a href="https://github.com/unitedstates/congress/wiki/bills">documentation</a> at the github:unitedstates/congress project for details. See our <a href="/about">coverage table</a> for details. You&rsquo;ll also see XML files here which are for legacy applications and are no longer supported.</li>
		
		<li><tt>bills/{bill-type}/{bill-type}{number}/<b>text-versions/{version}/...</b></tt><br>
		example: <tt><a href="/data/congress/113/bills/sconres/sconres14/text-versions/is">/data/congress/113/bills/sconres/sconres14/text-versions/is</a></tt><br>
		Bill text and associated metadata, comprehensively since the 103rd Congress, plus OCR'd stext of statutes for the 82nd-92nd Congresses (1951-1972), and links to scans for bills in the 6th-42nd Congresses (1799-1873). Bills change during their life cycle, and each &ldquo;print&rdquo; from the Government Publishing Office has a version code, but use the publication date and version name in the metadata rather than the version code. The text itself is stored in multiple formats. See the <a href="https://github.com/unitedstates/congress/wiki/bill-text">documentation</a> for what formats are available and our <a href="/about">coverage table</a> for other details.</li>

		<li><tt>amendments/{amdt-type}/{amdt-type}{amdt-number}/data.json</tt><br>
		The metadata and status of floor amendments. See the <a href="https://github.com/unitedstates/congress/wiki/amendments">documentation</a> for details of the JSON format. Amendment information is available starting with the 97th Congress.</li>

		<li><tt>votes/{session}/{chamber}{vote-number}/data.json</tt><br>
		example: <tt><a href="/data/congress/113/votes/2014/h108/data.json">/data/congress/113/votes/2014/h108/data.json</a></tt><br>
		Roll call vote results. See the <a href="https://github.com/unitedstates/congress/wiki/votes">documentation</a> for details of the JSON format. Note that not every vote in Congress is a roll call vote.</li>
	
		<li><tt><a href="/data/us/sessions.tsv">/data/us/sessions.tsv</a></tt><br>
		A TSV file containing the start and adjournment dates of each session of Congress.</li>
	
	</ul>
	
	<p>Other files that you may see in the /data directory are unsupported. Use at your own risk.</p>

</section>
{% endblock %}

