{% extends "master.html" %}
{% block title %}GovTrack.us - Bulk Raw Data{% endblock %}
{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li> <li>Bulk Raw Data</li></ul>
{% endblock %}
{% block summary %}
	<h1>Bulk Raw Data Documentation</h1>
	<p>GovTrack&rsquo;s bulk raw data can be used to build other tools around Congressional information.</p>
{% endblock %}
{% block links %}
{% include "website/developers/menu.html" %}
{% endblock %}

{% block body %}
<section class="main twelve columns">
	<h2>What Data Is Available</h2>
	
	<p>...And where to get it:</p>
	
	<ul class="bullets">
		<li><b>Members of Congress &amp; Committees</b>: The roster of Members of Congress, brief biographical data, social media accounts, committees, committee assignments, and historical data can be found in the new github project <a href="https://github.com/unitedstates/congress-legislators">unitedstates/congress-legislators</a>. This is a new community project seeded from GovTrack&rsquo;s people database.</li>
		
		<li><b>Bills and Resolutions</b>: Our database contains metadata about bills and resolutions (title, status, actions, etc.) from the 96th Congress through the present. Starting with the 113th Congress (2013-2014), the data files are scraped using the <a href="https://github.com/unitedstates/congress">unitedstates/congress</a> project, a community project. See below for how to download the data.</li>
		
		<li><b>Roll Call Votes</b>: Our database contains roll call votes from the founding of the nation. See below.</li>
		
		<li><b>Other Data</b>: See below for session dates, bill text, and photos of Members of Congress.</li>
	</ul>
	
	

	{% include "website/developers/gettingstarted.html" %}

	<h2>Getting the Data</h2>
	
	<p>The raw data is 43 gigabytes in all. As a result, we have a few different methods for helping you get the data you want:</p>
	
	<ul>
	<li>You can browse the bulk data at <a 
	href="/data/">http://www.govtrack.us/data</a>. Start here to get an idea for the directory structure and what the files look like. We discourage using HTTP to actually download the data in bulk, though. (Also see the <a href="/developers/api">API</a> for HTTP-based access.)</li>

	<li>&ldquo;Rsync&rdquo; is the preferred method for obtaining the bulk data. You can use rsync to choose just the directories you want and it efficiently keeps  your files up to date by downloading only changes since your last update. <a href="/developers/rsync">Rsync Instructions &gt;</a></li>
	</ul>

	<h2 style="margin-bottom: 1em">Bulk Data Schema</h2>
	
	<h3>General Structure</h3>
	
	<p>Most files are organized by &ldquo;Congress.&rdquo; A &ldquo;Congress&rdquo; 
	is a two-year term of activity, starting in the year after an 
	election year. Many things in Congress reset after each two year 
	term, such as bill numbers. In GovTrack, a "Congress" is called 
	a "session" (which is actually a misnomer because each 
	"Congress" is made up of two "sessions" which follow the 
	calendar years).</p>
	
	<p>The 112<sup>th</sup> Congress (<tt>session = 112</tt>) roughly covers the period 2011-2012, although technically the Congress usually starts a few days into January of the first year and extends a few days into January of the year following the last full year of the Congress.
	Each Congress is in its own directory: <tt>data/us/112</tt>, <tt>data/us/111</tt>,
	<tt>data/us/110</tt>, etc. We have roll call data going back to the first
	Congress, so we have data going back to the directory <tt>data/us/1</tt>.</p>
	
	<h3>Schemas</h3>

	<ul>

	<li>Bills and resolutions are stored in <a href="/data/us/112/bills">data/us/112/bills</a> for the current Congress and similarly named directories for other Congresses. <a href="/developers/bill_xml">Bill XML Schema &gt;</a></li>
	
	<li>Roll call votes are stored in <a href="/data/us/112/rolls">data/us/112/rolls</a> for the current Congress and similarly named directories for other Congresses. Votes by unanimous consent, for example,
	are not included here because they are not recorded votes. <a href="/developers/vote_xml">Roll Call Vote XML Schema &gt;</a> </li>

	</ul>
	
	<h3>Other Files</h3>
	
	<ul>
	<li><a href="/data/us/sessions.tsv">data/us/sessions.tsv</a>
	gives the start and end date of each session (typically one year) and 
	Congress (typically two years).</li>

	<li>The <a href="/data/photos">data/photos</a> directory 
	contains jpeg images of Members of Congress, past and present. 
	Not all MoC's have photos. The name of the photo is the GovTrack 
	numeric identifier for the person followed by: nothing, for the 
	largest original image available; 200px, 100px, 50px, for three 
	sizes of the photo, by width; all followed by .jpeg. -credit.txt files
	give a tab-delimeted source URL and source description information
	for each photo.</li>
	
	<li>The <a href="/data/us/bills.text">data/us/bills.text</a> directory includes the text of legislation in PDF, XML, and text format (from GPO) and in HTML format (from THOMAS). It is organzized by Congress, bill type, and GPO bill status code.
	See <a href="http://www.gpo.gov/help/index.html#about_congressional_bills.htm">GPO's documentation on bill text status</a>.</li>
	
	<li><b>DEPRECATED AS OF 1/3/2013 &mdash;</b> <a href="/data/us/people.xml">data/us/people.xml</a>:
	This file contains everyone that has ever served in Congress, and U.S. presidents, with their party
	affiliation, terms in Congress, birthdays, etc.
	This file is quite large... best not to open it in your browser.
	This file has been put together from a variety of sources and is
	maintained by hand. <a href="/developers/people_xml">People.xml Schema &gt;</a></li>
	</ul>
	

</section>
{% endblock %}

