{% extends "master.html" %}
{% block title %}GovTrack.us - Downstream Users{% endblock %}
{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li><li>Data Users</li></ul>
{% endblock %}
{% block summary %}
	{% include "website/developers/menu.html" %}
	<h1>Other Websites Reusing GovTrack Data</h1>
	
	<p>GovTrack isn't <i>just</i> a website. It's a reusable database
	of congressional information put out there for anyone to build
	new tools out of. We support open knowledge to the limit.</p>
{% endblock %}
{% block body %}
<section class="main">
		
		<p>Here's a list of websites using data assembled by GovTrack</p>
		
		<ul>
			<li><a href="http://opencongress.org">OpenCongress</a>: Quite like GovTrack with a focus on social networking-type tools.</li>
			<li><a href="http://maplight.org">MAPLight.org</a>: Computes correlations between votes and campaign contributions.</li>
			<li><a href="http://oilmoney.priceofoil.org/">Follow the Oil Money</a>: A money-and-votes site directed at energy and oil.</li>
			<li><a href="http://whereabill.org">WhereABill.org</a>: Follow the progress of a bill through the capitol complex, visually, on a map.</li>
			<li><a href="http://themiddleclass.org/">TheMiddleClass.org</a>: Tracking  legislation of significance to the middle class.</li>
			<li><a href="http://www.nationaljournal.com/njonline/election2008/committees/#">National Journal: Committee Chairmen</a>: An interactive game where you can play musical chairs with the committee leadership of the incoming 111th Congress.</li>
			<li><a href="http://filibusted.us/">Filibusted.us</a>: Who is filibustering the most bills? Sunlight Apps for America winner (2009).</li>
			<li><a href="http://www.ifebp.org/Resources/News/Legislative/">International Foundation of Employee Benefit Plans</a></li>
			<li><a href="http://congrelate.com/">Congrelate</a></li>
			<li><a href="http://littlesis.org/">LittleSis.org</a></li>
			<li><a href="http://www.govit.com">Govit</a>: Citizens vote on bills.</li>
			<li><a href="http://lawsilike.appspot.com/">Laws I Like</a>: Vote on bills and post your votes to your profile.</li>
			<li><a href="http://apps.facebook.com/representedby/">RepresentedBy</a>: Post your representatives to your profile and keep up with what they're doing.</li>
			<li><a href="http://www.wethecandidates.com/">WeTheCandidates</a></li>
			<li><a href="http://www.newballot.org">NewBallot</a>: You vote on the same laws Congress is voting on. Every week your representative gets a report on how their constituency wants them to vote.</li>
			<li><a href="http://votereports.org/">VoteReports</a>: Use VoteReports to see if your representatives truly represent you</li>
			<li><a href="http://mikebluestein.wordpress.com/2010/01/16/congress111-iphone-application-screenshots/">Congress111</a>, by Mike Bluestein, has a variety of information on Members of Congress, based in part on GovTrack's database.</li>
			<li><a href="http://www.watchdog.net">WatchDog.net</a>: Another GovTrack clone with some additional information.</li>
			<li><a href="http://www.congressdb.com">CongressDB</a>: Analysis of voting records.</li>
			<!--<li><a href="http://takecountryback.us/">TakeCountryBack.us</a></li>-->
			<li>Almost half of the entries to Sunlight Foundation's <a href="http://www.sunlightlabs.com/contests/appsforamerica/">Apps for America</a> contest used data from GovTrack</li>
			<li><a href="http://www.peepgov.com/">PeepGov.com</a></li>
			<li><a href="http://manybills.researchlabs.ibm.com/">IBM ManyBills</a></li>
			<li><a href="http://www.connect2congress.com">Connect2Congress</a></li>
			<li><a href="http://sunlightlabs.com/projects/android-congress/">Congress</a> app for Android phones by the Sunlight Foundation.</li>
			<li><a href="http://services.sunlightlabs.com/docs/Drumbone_API/ ">Sunlight Foundation's Drumbone API</a></li>
			<li><a href="http://geocongress.us/">GeoCongress.us</a></li>
			<li><a href="http://votesane.com/ ">VoteSane</a></li>
			<li><a href="http://www.citizenbinder.com">Citizen Binder</a></li>
			<li><a href="http://thePDD.org">Watch the Vote (thepdd.org)</a></li>
			<li><a href="http://votility.com/">Votility</a></li>
			<li><a href="http://www.votetocracy.com/">Votetocracy</a></li>
			<li><a href="http://killfil.com/">KillFil! - Kill Filibuster</a></li>
			<li><a href="http://www.votervoice.net">VoterVoice.net</a></li>
			<li><a href="http://friggeri.net/senate/">Agreement Groups in the United States Senate, by Adrien Friggeri</a></li>
		</ul>
</section>

<!-- <div class="col_right">
	<div class="sidebox">
	</div>

</div> -->

{% endblock %}

