{% extends "master.html" %}
{% block title %}GovTrack.us - Downstream Users{% endblock %}
{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li><li>Data Users</li></ul>
{% endblock %}
{% block summary %}
	<h1>Other Websites Reusing GovTrack Data</h1>
	
	<p>GovTrack isn&rsquo;t <i>just</i> a website. It&rsquo;s a reusable database
	of congressional information put out there for anyone to build
	new tools out of. We support open knowledge to the limit.</p>
{% endblock %}
{% block links %}
{% include "website/developers/menu.html" %}
{% endblock %}

{% block body %}
<section class="main twelve columns">
	<h2>Who&rsquo;s using our data and API?</h2>
		
	<p>Here&rsquo;s a list of some of the websites and apps using our data or API:</p>
		
		<ul>
			<li><a href="http://opencongress.org">OpenCongress</a>: Quite like GovTrack with a focus on social networking-type tools. (Since 2007)</li>
			<li><a href="http://maplight.org">MAPLight.org</a>: Computes correlations between votes and campaign contributions. (Since 2007)</li>
			<li><a href="http://oilmoney.priceofoil.org/">Follow the Oil Money</a>: A money-and-votes site directed at energy and oil.</li>
			<li><a href="http://whereabill.org">WhereABill.org</a>: Follow the progress of a bill through the capitol complex, visually, on a map. (Since 2007)</li>
			<li><a href="http://themiddleclass.org/">TheMiddleClass.org</a>: Tracking  legislation of significance to the middle class.</li>
			<li><a href="http://filibusted.us/">Filibusted.us</a>: Who is filibustering the most bills? Sunlight Apps for America winner (2009).</li>
			<li><a href="http://www.ifebp.org/Resources/News/Legislative/">International Foundation of Employee Benefit Plans</a></li>
			<li><a href="http://congrelate.com/">Congrelate</a></li>
			<li><a href="http://littlesis.org/">LittleSis.org</a></li>
			<li><a href="http://votereports.org/">VoteReports</a>: Use VoteReports to see if your representatives truly represent you (since 2010)</li>
			<li><a href="http://mikebluestein.wordpress.com/2010/01/16/congress111-iphone-application-screenshots/">Congress111</a>, by Mike Bluestein, has a variety of information on Members of Congress, based in part on GovTrack's database. (since 2010)</li>
			<li>Almost half of the entries to Sunlight Foundation's <a href="http://www.sunlightlabs.com/contests/appsforamerica/">Apps for America</a> contest in 2009 used data from GovTrack</li>
			<li><a href="http://manybills.researchlabs.ibm.com/">IBM ManyBills</a> (since 2010)</li>
			<li><a href="http://www.connect2congress.com">Connect2Congress</a> (since 2010)</li>
			<li><a href="http://geocongress.us/">GeoCongress.us</a> (since 2010)</li>
			<li><a href="http://votesane.com/ ">VoteSane</a> (since 2010)</li>
			<li><a href="http://www.watchthevote.org">Watch the Vote</a></li>
			<li><a href="http://votility.com/">Votility</a> (since 2010)</li>
			<li><a href="http://www.popvox.com">POPVOX</a> (since 2010; uses our source code)</li>
			<li><a href="http://www.votetocracy.com/">Votetocracy</a></li>
			<li>DemCom, the House Democrats&rsquo;s intranet (since 2011)</li>
			<li><a href="http://killfil.com/">KillFil! - Kill Filibuster</a> (since 2011)</li>
			<li><a href="http://www.votervoice.net">VoterVoice.net</a> (since 2011)</li>
			<li><a href="http://friggeri.net/senate/">Agreement Groups in the United States Senate, by Adrien Friggeri</a> (2012)</li>
			<li><a href="http://dyn.realclearpolitics.com/congressional_bill_tracker/">Real Clear Politics Congressional Bill Tracker</a> (since 2013)</li>
			<li><a href="http://apps.microsoft.com/windows/en-us/app/informed-american/896cc692-252f-4d01-b2f1-3228864bae0b">Informed American</a> (since 2013)</li>
			<li><a href="http://pocketcongressapp.com/">Pocket Congress</a> (since 2013)</li>
			<li><a href="https://itunes.apple.com/us/app/girl-empower/id593295518?mt=8">Girl emPower</a> iOS app (2013)</li>
			<li><a href="http://wordsandvotes.sandyhookpromise.org/">Words &amp; Votes: Gun violence in the United States</a> (since 2013)</li>
			<li><a href="http://xenocrypt.blogspot.com/2013/07/mapping-historical-votes-when-womens.html">Mapping Historical Votes: When Women's Suffrage Failed, 1915</a> by Xenocrypt (2013)</li>
			<li><a href="http://www.ocvote.com/election-laws/">Orange County&rsquo;s Election Legislation Tracker</a> (since 2013)</li>
			<li><a href="https://itunes.apple.com/us/app/eligo-usa/id699482787">eligo Congress</a> iOS app (since 2013)</li>
			<li><a href="http://renzolucioni.com/articles/senate-voting-relationships/">Voting Relationships between Senators</a> (2013)</li>
			<li><a href="http://www.windowsphone.com/en-us/store/app/informed-american/64316993-60fc-46b6-b36d-0d0be4b7564d">Informed American</a> Windows Phone app (2014)</li>
			<li><a href="https://play.google.com/store/apps/details?id=com.imaginationprocessing.congressclique&hl=en">113th U. S. Congress</a> Android app (2014)</li>
			<li><a href="http://www.polco.us/">Polco: The Political Compass</a> (2014)</li>
		</ul>
		
	<h2>Previously Used Our Data</h2>
	
		<p>These apps began by using our data, and later transitioned to using the data developed in the <a href="https://github.com/unitedstates/congress">github:unitedstates/congress</a> community project.</p>
	
		<ul>
			<li><a href="http://services.sunlightlabs.com/docs/Real_Time_Congress_API/">Sunlight Foundation's Real Time Congress API</a> (initially the Drumbone API)</li>
			<li><a href="http://sunlightlabs.com/projects/android-congress/">Congress</a> app for Android phones by the Sunlight Foundation. (2010-2012)</li>
			<li><a href="http://scout.sunlightfoundation.com/">Scout</a> by the Sunlight Foundation (2012)</li>
			<li><a href="http://calloncongress.sunlightfoundation.com/">Call on Congress</a> voice service app by the Sunlight Foundation</a> (2012)</li> 
		</ul>
		
	<h2>Archived List</h2>
		
	<p>Sites no longer operating:</p>
		
		<ul>
			<li><a href="http://www.nationaljournal.com/njonline/election2008/committees/#">National Journal: Committee Chairmen</a>: An interactive game where you can play musical chairs with the committee leadership of the incoming 111th Congress.</li>
			<li><a href="http://www.govit.com">Govit</a>: Citizens vote on bills. (2010)</li>
			<li><a href="http://lawsilike.appspot.com/">Laws I Like</a>: Vote on bills and post your votes to your profile. (2009)</li>
			<li><a href="http://apps.facebook.com/representedby/">RepresentedBy</a>: Post your representatives to your profile and keep up with what they're doing. (2009)</li>
			<li><a href="http://www.wethecandidates.com/">WeTheCandidates</a> (2010)</li>
			<li><a href="http://www.newballot.org">NewBallot</a>: You vote on the same laws Congress is voting on. Every week your representative gets a report on how their constituency wants them to vote. (2010)</li>
			<li><a href="http://www.watchdog.net">WatchDog.net</a>: Another GovTrack clone with some additional information. (2009)</li>
			<li><a href="http://www.congressdb.com">CongressDB</a>: Analysis of voting records.</li>
			<li><a href="http://www.peepgov.com/">PeepGov.com</a> (2010)</li>
			<li><a href="http://www.citizenbinder.com">Citizen Binder</a> (2010)</li>
		</ul>
	
</section>

{% endblock %}

