	<h2><span>Getting Started</span></h2>
	
	<p>Consider joining our <a href="http://groups.yahoo.com/group/govtrack/">mail list</a> for notices about any data format changes. If you have any ideas for making GovTrack data better, please post a message to let others know. We&rsquo;d appreciate it if you let us know how you are using the data, just to satisfy our curiosity. Email us at the address at the bottom of the page.</p>
	
	<p>You must agree to the <a href="/developers/license">license terms</a> before accessing the bulk data or API. The terms are about as unrestrictive as terms go. Note that we do not make a distinction between commercial and noncommercial use. If you are looking for an SLA, you&rsquo;ll need to contact us at the address at the bottom of the page.</p>
	

