{% extends "master.html" %}
{% block title %}GovTrack.us - Developer Documentation{% endblock %}
{% block summary %}
	{% include "website/developers/menu.html" %}
	<h1>Developing with GovTrack Data</h1>
	<p>Everything on this page is for software developers. If you&rsquo;re looking for downloadable data for use in Excel, you&rsquo;ll have to look elsewhere on the site such as on the bill search page, the vote database page, etc.</p>
{% endblock %}
{% block body %}
	<p>If you are a developer looking to get involved in the open data movement, a great place to start is to contribute to the <a href="http://openstates.sunlightlabs.com/">Open States Project</a> run by the Sunlight Foundation. The goal is to build a database of legislation, like GovTrack, but for all 50 states.</p>

	<h2>Source Data</h2>
	
	<p>All of the source data that powers the site is made available in static XML files which you can download in bulk and reuse for other purposes. They are made available under open terms. &mdash; <a href="/developers/data">Source Data Documentation</a> | <a href="developers/license">License Terms</a></p>
	
	<h2>Mail List</h2>
	
	<p>If you are a regular user of the source data or APIs, it is important that you join our <a href="http://groups.yahoo.com/group/govtrack/">mail list</a> for notices about any data format changes. If you have any ideas, please post a message to let others know.</p>
	
	<h2>Who&rsquo;s using the data?</h2>
	
	<p>I also keep a list of <a href="/developers/downstream">projects using data from GovTrack</a>.</p>
	
	<h2>APIs?</h2>
	
	<p>TBA</p>

{% endblock %}

