{% extends "master.html" %}
{% block title %}GovTrack.us Open Data &amp; API{% endblock %}

{% block body %}
	<h1>Open Data &amp; APIs</h1>

	<p>All the data that powers GovTrack.us is available to you for reuse for any purpose.</p>

	<p>GovTrack is the longest-running open data provider for federal legislation. We began making our data available for re-use in 2005, and through APIs in 2012, and our service has been the basis for <a href="/developers/downstream">many other open government websites and apps</a>.</p>

	<h2><span>Getting data from the primary source</span></h2>

	<p>In 2016, <a href="https://medium.com/@joshuatauberer/govtrack-now-actually-uses-open-government-data-5fc16f377e86#.iflkyrvgs">after a 15-year campaign</a>, we finally convinced the U.S. Congress to make legislative data available themselves. Primary data resources include:</p>

	<ul>
	<li><a href="http://clerk.house.gov/xml/lists/MemberData.xml">Membership of the House of Representatives in XML</a></li>
	<li><a href="http://www.senate.gov/general/contact_information/senators_cfm.xml">Membership of the Senate in XML</a></li>
	<li><a href="https://www.gpo.gov/fdsys/bulkdata/">Bill summary and status XML at GPO FDSys</a></li>
	<li><a href="http://docs.house.gov/">Upcoming bills and committee hearings in the House (docs.house.gov)</a></li>
	</ul>

	<p>We encourage you to check out the source data.</p>

	<h2><span>Getting data from GovTrack</span></h2>

	<p>We continue to make our open data and APIs available because our offerings are often easier to use and sometimes more comprehensive than the official data from Congress. See <a href="/about">our about page</a> for a complete list of the data sources we use.</p>

	<p><strong>If you would like to use our bulk data or APIs, you must agree to the <a href="/developers/license">license</a> and you should join our <a href="http://groups.yahoo.com/group/govtrack/">mail list</a> to be notified about changes.</strong></p>

	<p>Here&rsquo;s what we make available:</p>

	<p><a href="/developers/data"><b>Bulk Data</b></a>: Our bulk data contains the raw data behind most everything you see on GovTrack in JSON format. You can download the bulk data using <tt>rsync</tt>, a common Unix data transfer utility.</p>

	<p><a href="https://github.com/unitedstates/congress-legislators"><b>congress-legislators</b></a>. The congress-legislators project on Github is a comprehensive database of all Members of Congress since 1789, stored in YAML format. (These files are also in our bulk data where they are converted to CSV format.)</p>
	
	<p><a href="/developers/api"><b>API</b></a>: The API is appropriate for use in applications that need only small slices of our data at a time. If you intend to query data in bulk, use our <a href="/developers/data">bulk data</a> instead.</p>
	
	<p><a href="https://github.com/unitedstates/congress"><b>congress project</b></a>. The congress project on github is an open source community repository where we write Python scripts to gather official legislative information and convert it into more usable JSON data files.</p>

	<p><a href="https://github.com/govtrack/govtrack.us-web"><b>GovTrack source code</b></a>. We have also posted the Python/Django source code for GovTrack itself.</p>

	<p><span style="font-weight: bold; color: red;">DEPRECATED</span> <a href="https://gis.govtrack.us/map/demo/cd-2014/">GIS API and Maps</a>. We host a map server and API for United States Congressional Districts, 113th Congress (i.e. 2012 elections and on), based on the geographic data made available by the U.S. Census. This service will be discontinued on January 4, 2017.</p>

{% endblock %}

