{% extends "master.html" %}
{% block title %}GovTrack.us Developer Documentation{% endblock %}
{% block summary %}
	<h1>Developer Documentation</h1>
	<p style="margin-top: 1em">Want to build an app? Part of GovTrack&rsquo;s core mission is to make legislative data freely available so that others can build new tools to promote civic education and engagement.</p>
{% endblock %}
{% block links %}
{% include "website/developers/menu.html" %}
{% endblock %}

{% block body %}
<section class="main">
	<p>GovTrack applies the principles of open data to legislative transparency. We screen scrape <a href="/about">a variety of official government websites</a> each day and make the resulting normalized database of legislative information available for free for reuse &mdash; in bulk (since 2005) and with an API (since 2012). Our database is the foundation for <a href="/developers/downstream">dozens of other open government websites</a>.</p>
	
	<h2>How to get the data</h2>
	
	<p>Starting in 2013 we began transitioning to a newer data collection system, so the data is currently fragmented among several sources:</p>
	
	<p><a href="https://github.com/unitedstates/congress-legislators">github:unitedstates/congress-legislators</a>. This is a community project that we started to maintain a comprehensive database of all Members of Congress since 1789. The github account contains YAML files which you can load into your application. (Before 2013, this was our "people" database.)</p>
	
	<p><a href="https://github.com/unitedstates/congress">github:unitedstates/congress</a>. This is a community project to compile a comprehensive database of U.S. federal legislation. It is based in part on the source code we developed in the early 2000&rsquo;s to scrape THOMAS, and now we maintain the new code with others as part of a group effort. The project provides <a href="https://github.com/unitedstates/congress/wiki">bulk data downloads</a>, or you can run the Python scripts yourself on your own schedule.</p>

	<p><a href="/developers/data">Legacy Bulk Data</a>. Since 2005 we have provided our database of flat XML files for bills and related data via our bulk data rsync server. This is the easiest method to get the complete database of bill status data and to keep it updated. Data files for the 113th Congress are from the two github projects above, so the information is identical. Historical data is from our legacy scrapers.</p>
	
	<p><a href="/developers/api">API</a>. Our API went online in May 2012. It is not quite as complete as some of the other data access methods. Data for the 113th Congress are from the two github projects above, so the information is identical. Historical data is from our legacy scrapers.</p>
	
	<p><a href="http://gis.govtrack.us/map/demo/cd-2012/">GIS API and Maps</a>. We host a map server and API for United States Congressional Districts, 113th Congress (i.e. 2012 elections and on), based on the geographic data made available by the U.S. Census.</p>
	
	<!--<p><a href="https://github.com/govtrack/govtrack.us-web">github.com/govtrack/govtrack.us-web</a> contains the source code for the Django front-end that you see at govtrack.us.</p>-->
	
	
</section>
{% endblock %}

