{% extends "master.html" %}
{% block title %}GovTrack.us - Data License{% endblock %}
{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li> <li>Data License</li></ul>
{% endblock %}
{% block summary %}
	{% include "website/developers/menu.html" %}
	<h1>Data License</h1>
	
	<p>GovTrack has provided a comprehensive, bulk-access database about the U.S. Congress
	since 2004. Until we can get Congress to pick up the slack, it is the only free database
	of this sort of information.</p>
{% endblock %}

{% block body %}
<section class="main">
	<h2>Standard Data License</h2>

	<p>Unless you are interested in a contractual agreement with us to establish a SLA, we&rsquo;ve
	set up the following generic terms.</p>

	<ul class="bullets">
	<li>Any data files we make available from the Source Data page for which we own the copyright we release into the public domain.</li>
	<li>Attribution with a link back to GovTrack.us would be appreciated wherever you use the data.</li>
	<li>No warranty is provided for this data, and, by downloading the data, you agree that we shall not be liable for inaccuracies or other problems in the data or documentation, and that you indemnify us harmless against any claims resulting from your use of the data. Use at your own risk.</li>
	<li>You are permitted and encouraged to download the data following the guidelines given and subject to normal Internet etiquette &mdash; unless we have explicitly denied you access. We reserve the right to discontinue your access to our source data for any reason at any time.</li>
	<li>We reserve the right to change these terms on a periodical basis.</li>
	</ul>

	<p>Note how we don&rsquo;t make a distinction between commercial and noncommercial use. Any use is permitted, we just don&rsquo;t guarantee that we will continue to give you access to the data. Note, however, that we have never cut anyone off.</p>

	<h2>Service Agreements</h2>

	<p>If you plan to use the data or API in a commercial product or plan to redistribute the data in bulk, I strongly encourage you to contact us and establish a service agreement. This may or may not entail a fee. If you can contribute something back to the open government data community, such as more data under a nonrestrictive license, then we will be quite likely to grant you a license at no charge right away.</p>
</section>
{% endblock %}

