{% extends "master.html" %}
{% block title %}GovTrack.us - Data Terms of Service{% endblock %}
{% block crumbs %}
<ul><li><a href="/developers">Developer Documentation</a></li></ul>
{% endblock %}

{% block body %}
	<h1>Data Terms of Service</h1>
	
	<p>GovTrack has provided a comprehensive, bulk-access database about the U.S. Congress
	since 2004!</p>

	<h2><span>Standard Data Terms of Service</span></h2>

	<p>The terms below are our standard terms of service. By using our data
	or API, you agree to these terms. If you&rsquo;re okay with these
	terms, get hacking! Drop us a note to say hi though, 'cause we like
	to hear from folks using our data/API.</p>

	<p>If these terms aren&rsquo;t okay for you, or if you are interested in a contractual agreement with us to establish a SLA,
	see below.</p>

	<ul class="bullets">
	<li>Any data files we make available from the Source Data page for which we own the copyright we release into the public domain.</li>
	<li>Attribution with a link back to GovTrack.us would be appreciated wherever you use the data.</li>
	<li>No warranty is provided for this data, and, by downloading the data, you agree that we shall not be liable for inaccuracies or other problems in the data or documentation, and that you indemnify us harmless against any claims resulting from your use of the data. Use at your own risk.</li>
	<li>You are permitted and encouraged to download the data following the guidelines given and subject to normal Internet etiquette &mdash; unless we have explicitly denied you access. We reserve the right to discontinue your access to our source data for any reason at any time.</li>
	</ul>

	<h2><span>Service Agreements</span></h2>

	<p>We really don&rsquo;t like being in the business of selling data. It&rsquo;s not in our ethos. But if you
	want to sign a more formal contract, e.g. one that guarantees access, we do that too. You can <a href="/contact">contact us</a>
	for more information on that.</p>

{% endblock %}

