{% extends 'master.html' %}
{% load humanize govtrack_utils %}

{% block body_class %}bills{% endblock %}

{% block title %}Text of {{bill|truncatewords:16}} ({{textdata.doc_version_name}} version) - GovTrack.us{% endblock %}

{% block meta_description %}Text of {{bill|truncatewords:8}} as of {{textdata.docdate}} ({{textdata.doc_version_name}} version). {{bill|truncatewords:24}}{% endblock %}

{% block extra_css %}
<style>
h1 {
	font-size: 24px;
	line-height: 30px;
	color: #565656;
	padding: 0 0 6px;
	margin: 0 0 6px;
}	

.heading-box .article { padding: 0; }

.bill_text_content {
	border-right: 1px solid #AAA;
	padding: 1em;
	font-family: serif;
	color: #000;
}

.bill_text_content h1, .bill_text_content h2, .bill_text_content h3, .bill_text_content h4, .bill_text_content h5 { font-family: serif; text-transform: none; font-weight: bold; color: #000;}
.bill_text_content h1 span, .bill_text_content h2 span, .bill_text_content h3 span { font-style: normal; }
.bill_text_content blockquote { margin: 1em; }
.bill_text_content ul { margin-left: 1em; }

.bill_text_content span.ins, .bill_text_content span.del, .bill_text_content span.change {
	background-color: #A00;
	color: #FFF;
}

.bill_text_content div.spacer {
	background-color: #F3F3F3;
	background-image: url('/static/images/text_compare_line_filler.gif');
	margin: 10px; /* this affects the javascript */
}

.bill_text_content pre {
	font-size: 11px;
	line-height: 140%;
	color: black;
}

#bill_comparison_content .bill_text_content > .header {
	padding: 1em;
	margin-bottom: 1em;
	background-color: #EEE;
	font-weight: bold;
	text-align: center;
}

#sidebar {
	padding-left: 20px;
}

{% include "bill/congressxml.css" %}

</style>
{% endblock %}

{% block head %}
<script>
function hide_comparison() {
	$('#main_text_content').show();
	$('#bill_comparison_content').hide();
	$('#sidebar').show();
	return false;
}

function load_comparison(alt_bill, alt_version) {
	$('#main_text_content').hide();
	$('#content_loading').show();
	$('#content_loading').html('<p>Loading...</p>');
	
	$.ajax({
		url: "/congress/bills/_ajax/load_text",
		type: "GET",
		data: {
			mode: "comparison",
			left_bill: {{bill.id}},
			left_version: "{{textdata.doc_version}}",
			right_bill: alt_bill ? alt_bill : {{bill.id}},
			right_version: alt_version ? alt_version : "",
		},
		dataType: "json",
		success: function(data) {
			if (data.error) {
				$('#content_loading').html($('<p></p>').text(data.error));
				return;
			}
			display_comparison(data.left_text, data.right_text, data.left_meta, data.right_meta);
		},
		xhr: function() {
			try {
				var xhr = new window.XMLHttpRequest();
				xhr.addEventListener("progress", function(evt){
				  if (evt.lengthComputable) {
					var percentComplete = Math.round(evt.loaded / evt.total * 100);
					$('#content_loading').html('<p>Loading... ' + percentComplete + '%...</p>');
				  }
				}, false);
				return xhr;
			} catch (err) {
			}
		},
	});
	
	return false;
}

var elems_to_fix;
function align_corresponding_elems(start_at) {
	for (var i = start_at; i < elems_to_fix.length; i++) {
		//if(typeof console == "object") console.log(i);

		if (i == start_at + 250) {
			window.setTimeout("align_corresponding_elems(" + i + ")", 100);
			return;
		}
		
		var elem = $(elems_to_fix[i]);
		if (elem.css('display') != 'block') continue;
		for (var topbot = 0; topbot <= 1; topbot++) {
			var cr = elem.attr("corresponds_with_" + (topbot == 0 ? "top" : "bottom"));
			if (!cr) cr = elem.attr("cw_" + (topbot == 0 ? "top" : "bot"));
			if (!cr) continue;
			var b = $("#" + cr);
			if (!b.length) continue;
			var p = b.offset().top - elem.offset().top;
			if (topbot == 1) p += b.height() - elem.height(); // compare bottoms
			if (Math.abs(p) > 20) { // should be at least the total margin
				var d = $('<div class="spacer"/>').css({ height: Math.abs(p)-20 }); // subtract the total margin
				d.addClass("tb_" + topbot);
				if (topbot == 0) // top
					d.insertBefore(p > 0 ? elem : b);
				else // bottom
					d.insertAfter(p > 0 ? elem : b);
			}
		}
	}
}

function display_comparison(left_text, right_text, left_meta, right_meta) {
	$('#content_loading').hide();
	$('#sidebar').hide();
	$('#bill_comparison_content').show();
	
	var docs = $("#bill_comparison_content .bill_text_content");
	$(docs[0]).find('> .header').text((left_meta.bill_id == right_meta.bill_id ? "" : left_meta.bill_name + " --- ") + left_meta.docdate + ": " + left_meta.doc_version_name);
	$(docs[1]).find('> .header').text((left_meta.bill_id == right_meta.bill_id ? "" : right_meta.bill_name + " --- ") + right_meta.docdate + ": " + right_meta.doc_version_name);
	$(docs[0]).find('> .body').html(left_text);
	$(docs[1]).find('> .body').html(right_text);
	
	align_panels();
	
	// Add spacing to create alignments between corresponding paragraphs on each side.
	elems_to_fix = $(docs[0]).find("> .body *");
	align_corresponding_elems(0);
	
	/*var doc_fixed;
	var doc_movable;
	if ($(docs[0]).height() > $(docs[1]).height()) {
		doc_fixed = docs[1];
		doc_movable = docs[0];
	} else {
		doc_fixed = docs[0];
		doc_movable = docs[1];
	}
		
	$("#bill_comparison_content").hover(function() { }, function() {
		$(".bill_text_content").stop(true).css({marginTop: 0});
	});
	
	$(window).scroll(function() {
		$("#bill_comparison_content  .bill_text_content").each(function() {
				var top = $(this).offset().top;
				if (top > $(window).scrollTop())
					$(this).stop(true).css({marginTop: 0});
		});
	});
	
	$("#bill_comparison_content .bill_text_content *").hover(function() {
	//$(doc_fixed).find("*").hover(function() {
		var a = $(this);
		if (!a.attr("corresponds_with_top")) return;
		var b = $("#" + a.attr("corresponds_with_top"));
		if (!b.length) return;
		b.addClass("highlight");
		
		var ap = a.parents("#bill_comparison_content .bill_text_content");
		var bp = b.parents("#bill_comparison_content  .bill_text_content");
		var ctop = parseFloat(ap.css("marginTop").replace("px", ""));
		var new_pos = ctop + (a.offset().top-ap.offset().top) - (b.offset().top-bp.offset().top);
		var dist = Math.abs(bp.css("marginTop").replace("px", "") - new_pos);
		if (dist > 15)
			bp.stop(true).animate({marginTop: new_pos }, dist < 30 ? "slow" : "fast");
	}, function() {
		$("#" + $(this).attr("corresponds_with_top")).removeClass("highlight");
	});
	*/
}

function align_panels() {
	return;
	$("#bill_comparison_content").css({ marginLeft: -$("h1").offset().left+50,
	width: $(window).width() - 30 });
	$("#bill_comparison_content .bill_text_content").css({ width: ($(window).width() - 100)/2 });
}
$(window).resize(align_panels);

$(function() {
	var m = /^#compare=(\d+)/.exec(window.location.hash);
	if (m) {
		load_comparison(m[1], null);
	}
});
</script>
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="{% url "congress_home" %}">Congress</a></li>
	<li><a href="/congress/bills">Bills</a></li>
	<li><a href="{{bill.get_absolute_url}}">{{bill.display_number}}</a></li>
	<li>Bill Text</li>
</ul>
{% endblock %}

{% block summary %}
	<h1>{{bill.title|truncatewords:20}}</h1>
	{% if bill.title != bill.title|truncatewords:20 %}
		{% with bill.title|truncatewords:20|cut:"..." as bt %}
			<p style="line-height: 130%">...{{bill.title|cut:bt}}</p>
		{% endwith %}
	{% endif %}

	<div class="info">
		<p class="date">{{bill.congress|ordinalhtml}} Congress, {{congressdates.0|date:"Y"}}&ndash;{{congressdates.1|date:"Y"}}. Text as of {{textdata.docdate}} ({{textdata.doc_version_name}}).</p>
		
		<p><a href="{{bill.get_absolute_url}}">Status &amp; Summary</a>
		| <a href="{{textdata.gpo_pdf_url}}">PDF</a>
		| Source: <a href="{{textdata.gpo_url}}">GPO</a>
		{% if textdata.source == "cato-deepbills" %}and <a href="http://www.cato.org/resources/data">Cato Institute Deepbills</a>{% endif %}
		{% if textdata.source == "statutes" %}&mdash; <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">Statutes at Large</a>{% endif %}
		</p>
	</div><!-- /info -->
{% endblock %}

{% block body %}

<div id="bill_comparison_content" style="display: none;">
	<center style="padding: 1em">
		<a href="#" onclick="return hide_comparison();">Close Comparison</a>
	</center>

	<div class="row">
	<div class="bill_text_content six columns">
		<div class="header"> </div>
		<div class="body"> </div>
	</div>
	
	<div class="bill_text_content six columns">
		<div class="header"> </div>
		<div class="body"> </div>
	</div>
	</div>
	
	<div style="clear: both"> </div>
</div>

<div class="row">
<div class="nine columns">
	<div id="main_text_content" class="bill_text_content">
	{% if not textdata.text_html %}
		<p>The text of this bill is not yet available. Please check back soon.</p>
	{% else %}
			{{textdata.text_html|safe}}
	{% endif %}
	</div>

	<div id="content_loading" class="bill_text_content" style="display: none;">
		<p>Loading...</p>
	</div>
</div>
<div class="three columns">

	<div id="sidebar">
		<div style="margin: 5em 0;">
			<script>
			if (is_ad_free) {
				document.write("An ad would be here, but you've gone ad-free!");
			} else {
				document.write("{{ '<ins class="adsbygoogle" style="display:inline-block;width:200px;height:200px" data-ad-client="ca-pub-3418906291605762" data-ad-slot="9757129944"></ins>'|escapejs }}");
				(adsbygoogle = window.adsbygoogle || []).push({});
			}
			</script>
			<div style="font-size: 90%; text-align: center"><a href="/advertising">About Ads</a></div>
		</div>

		{% if textdata.text_html %}
		
		{% if bill.is_alive and not version %}
		<p>You are reading the latest text of the {{bill.noun}}. The text of a {{bill.noun}} may change in committee or through the amendment process.</p>
		{% endif %}
		
		{% if alternates and alternates|length > 1 %}
		<p>Select a version of this bill to view:</p>
		<ul class="bullets">
			{% for alt in alternates %}
				{% if textdata.doc_version == alt.doc_version %}
					<li style="font-weight: bold;">{{alt.docdate|date}}: {{alt.doc_version_name}}</li>
				{% else %}
					<li><a href="{{bill.get_absolute_url}}/text/{{alt.doc_version}}">{{alt.docdate|date}}: {{alt.doc_version_name}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		
		<p>Compare this version to:</p>
		<ul class="bullets">
			{% for alt in alternates %}
				{% if textdata.doc_version == alt.doc_version %}
					<li style="color: #777;">{{alt.docdate|date}}: {{alt.doc_version_name}}</li>
				{% else %}
					<li><a href="#" onclick="return load_comparison(null, '{{alt.doc_version}}');">{{alt.docdate|date}}: {{alt.doc_version_name}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		{% endif %}
		
		{% if related_bills %}
		<p>Compare this bill to another bill:</p>
		<ul class="bullets">
			{% for rb, bv in related_bills %}
				<li><a href="#" onclick="return load_comparison({{rb.id}}, '{{bv|escapejs}}');">{{rb}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	
		{% endif %}
	
		<div style="margin: 5em auto; width: 120px;">
			<script>
			if (is_ad_free) {
				document.write("An ad would be here, but you've gone ad-free!");
			} else {
				document.write("{{ '<ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-3418906291605762" data-ad-slot="8493087146"></ins>'|escapejs }}");
				(adsbygoogle = window.adsbygoogle || []).push({});
			}
			</script>
			<div style="font-size: 90%; text-align: center"><a href="/advertising">About Ads</a></div>
		</div>
	</div>
</div>
</div>
{% endblock %}

