{% extends "master.html" %}
{% load humanize govtrack_utils %}

{% block title %}Bills and Resolutions -- GovTrack.us{% endblock %}
{% block meta_description %}Find legislation in the U.S. Congress.{% endblock %}

{% block head %}
<style>
#basic_trackers li {
	cursor: pointer;
	display: block;
	padding: .5em;
	margin: -.5em 0 .5em -.5em;
}
	#basic_trackers li:hover {
		background-color: #EEE;
	}
	#basic_trackers li div {
	}

#subject_list span {
	display: none;
}
	#subject_list span a {
		color: #C77;
	}
	#subject_list > div:hover span {
		display: inline;
	}
#subject_list ul {
	display: none;
}
</style>
{% endblock %}

{% block body_scripts %}
<script>
$(function() {
	$("#subject_list span a").click(function() {
		var nodes = $(this.parentNode.parentNode.parentNode).find("ul");
		if (nodes.is(":visible")) {
			nodes.slideUp();
		} else {
			nodes.slideDown();
		}
		return false;
	});
});

function do_keyword_tracker_submit() {
	var q = $('#track-by-keyword-input').val();

	// People type bill numbers here. For that, they should track the bill -- not the bill number as a keyword.
	if (/(hr|s|hconres|sconres|hjres|sjres|hres|sres)(\d+)$/i.test(q.replace(/[\s\.\-]/g, ""))) {
		window.location = "/search?q=" + encodeURIComponent(q) + "&track=1";
		return false;
	}

	// Redirect to the tracker subscribe page for the bill search tracker for these keywords.
	window.location = "/events/track-something?feed=billsearch:text=" + encodeURIComponent(q);
	return false;
}
</script>
{% endblock %}

{% block body %}

<div class="clearfix">
	<img src="/static/images/img-bills-resolutions.png" alt="Page Icon" style="float: right"/>
	<h1 style="margin-top: 30px; border: none">Bills and Resolutions</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
	{% if coming_up|length > 0 %}<li role="presentation" class="active"><a href="#docket" aria-controls="docker" role="tab" data-toggle="tab">Coming Up</a></li>{% endif %}
	<li role="presentation" {% if coming_up|length == 0 %}class="active"{% endif %}><a href="#find" aria-controls="find" role="tab" data-toggle="tab">Find a Bill</a></li>
	<li role="presentation"><a href="#get-alerts" aria-controls="get-alerts" role="tab" data-toggle="tab">Get Alerts</a></li>
	<li role="presentation"><a href="#bystatus" aria-controls="bystatus" role="tab" data-toggle="tab">All Bills</a></li>
	<li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab">Hot Bills</a></li>
</ul>

<div class="tab-content">
	{% if coming_up|length > 0 %}
	<div id="docket" class="tab-pane active">
			<p style="margin-top: 15px">{{coming_up|length}} {% if coming_up|length == 1 %}bill or resolution is{% else %}bills and resolutions are{% endif %} on the House and Senate calendars for the coming days.</p>

			<table class="table">
			{% for bill in coming_up %}
				<tr>
				<td>
                  <nobr>{{bill.scheduled_consideration_date|date}}</nobr>
                  {% if bill.docs_house_gov_postdate and not bill.senate_floor_schedule_postdate %}<div><small>(week of)</small></div>{% endif %}
                </td>
				<td>
					{% if bill.docs_house_gov_postdate %}<div><b>House</b></div>{% endif %}
					{% if bill.senate_floor_schedule_postdate %}<div><b>Senate</b></div>{% endif %}
				</td>
				<td>
				<p><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:30}}</a></p>
					{% if not bill.current_status in BILL_STATUS_INTRO %}
						<p>{{bill.current_status_description}}</p>
					{% endif %}
				</td>
				</tr>
			{% endfor %}
			</table>

			<p>Once bills are scheduled for floor action they typically have enough support to pass!</p>
	</div>
	{% endif %}

	<div id="find" class="tab-pane {% if coming_up|length == 0 %}active{% endif %}">
		<div class="row">
			<div class="col-sm-7">
			<div style="padding-right: 30px">
				<p style="margin-top: 30px">
					{% if 5000 > total %}
					Each year the United States Congress considers about 5,000 bills and resolutions,
					{% else %}
					There are {{total|intcomma}} bills and resolutions currently before the United States Congress,
					{% endif %}
					but of those only about 4% will become law.
				</p>

				<p>Congress works in two-year legislative sessions tied to the elections. The current session is called the {{current_congress|ordinalhtml}} Congress and it began on {{current_congress_dates.0|date}}. All bills not enacted by the end of the session on {{current_congress_dates.1|date}} die, and Congress will start over.</p>

				<p>Because there are so many bills and resolutions, it can be difficult to find the one you are looking for. Please consider your options:</p>


				<h2><span>Suggested ways to find a bill</span></h2>

				<p>Start by using the <b>subject areas</b> listed on this page.</p>

				<p>Or use our <a href="/congress/bills/browse">advanced search</a> to find bills by status, subject area, sponsor, or other fields.</p>


				<h2><span>Search for bills whose text contains a keyword</span></h2>

				<form method="get" action="/congress/bills/browse" class="clearfix" style="margin-bottom: 1em">
					<input type="text" placeholder="search query" style="max-width: 75%; height: 25px; float: left;" name="text"/>
					<input type="submit" class="submit btn-search-small2"/>
				</form>

				<p>Since bills often contain legal terminology in place of everyday words, it is often easier to find a bill using one of the other methods above.</p>

			</div>
			</div>

			<div class="col-sm-5">
				<h2><span>Subject areas</span></h2>
	
		<div id="subject_list">
		{% for topterm, subterms in subjects %}
			<div style="margin-bottom: .33em">
				<div><a href="{{topterm.get_absolute_url}}">{{topterm.name}}</a> <span>(<a href="#">narrow topic...</a>)</span></div>
				<ul class="bullets">
					{% for subterm in subterms %}
						<li><a href="{{subterm.get_absolute_url}}">{{subterm.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
		</div>

				<p style="margin: 2em 0">Subject areas are assigned to bills by the Library of Congress.</p>
			</div>
		</div>

	</div>

	<div id="get-alerts" class="tab-pane">
		<div class="row">
			<div class="col-sm-6">
			<div style="padding-right: 30px">
				<h2><span>Basic alerts</span></h2>
				<ul id="basic_trackers" style="padding: 0">
					{% for feed in feeds %}
					<li onclick="window.location='{{feed.link}}'">
						<a href="{{feed.link}}">{{feed.title}}</a>
						<div>{{feed.description}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			</div>
			<div class="col-sm-6">
				<h2><span>Other ways to get alerts</span></h2>

				<p>There are many ways to get email alerts about bills in Congress from GovTrack.</p>

				<p>If you are interested in a particular bill, start by <a href="#find">finding that bill</a>.</p>

				<p>You can also get alerts for <a href="#find">subject areas</a> and bills assigned to <a href="/congress/committees">committees</a>.</p>

				<p>If you are interested in the legislative activity of your representative and senators, start by <a href="/congress/members">finding who represents you</a>.</p>

				<h2><span>Advanced alerts</span></h2>
				<form onsubmit="return do_keyword_tracker_submit()" class="clearfix" style="margin-bottom: 1em">
					<div>Enter a keyword or phrase to get alerts for:</div>
					<input id="track-by-keyword-input" type="text" placeholder="your alert keyword or phrase" style="width: 220px; height: 26px; float: left; margin: 0 0 5px 0;"/>
					<input type="submit" class="submit btn-search-small2"/>
				</form>
				<p>Since bills often contain legal terminology in place of everyday words, we only recommend this for legislative professionals.</p>

				<p>You can also get alerts based on <a href="/congress/bills/uscode">citations to the United States Code</a>.</p>
			</div>
		</div>			
	</div>
	
	<div id="bystatus" class="tab-pane">	
		<p style="margin-top: 15px">Here is a breakdown of all {{total|intcomma}} bills and resolutions currently before Congress:</p>
			
		{% for name, descr1, descr2, href, count, queryset in groups %}
		{% if count > 0 %}
			<h3>{{name}}</h3>
			
			{% if 10 > count %}
				<p>There are {{count|intcomma}} {{descr1}}{{descr2}}:</p>
		
				<ul>
				{% for bill in queryset %}
					<li>
						<div><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:20}}</a></div>
						<div style="margin-bottom: .5em">{{bill.current_status_description}}</div>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There are <a href="{{href}}">{{count|intcomma}} {{descr1}}</a>{{descr2}}.</p>
			{% endif %}
		{% endif %}
		{% endfor %}

		<hr>

		<h3>Historical Information</h3>
		<p>We&rsquo;ve also <a href="{% url "bill_stats" %}">compiled historical statistics</a> about how many bills
		are enacted and when during the legislative session activity tends to occur.</p>
	</div>
	
	<div id="hot" class="tab-pane">
		{% if trending_bill_feeds|length > 0 %}
		<h3>Trending now:</h3>
		<div style="margin-bottom: 1.5em">
		{% for f in trending_bill_feeds %}
			<div style="margin-bottom: .5em;">
				<a href="{{f.link}}">{{f.title|truncatewords:30}}</a>
			</div>
		{% endfor %}
		</div>
		{% endif %}

		<h3>Top bills tracked by GovTrack users:</h3>
		<div id="top_tracked_bills">
		{% for bill, count in top_tracked_bills %}
			<div style="margin-bottom: .5em;">
				<a href="{{bill.get_absolute_url}}">{{bill|truncatewords:30}}</a>
				<br><small>tracked by {{count}} user{{count|pluralize}}</small>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
