{% extends 'master.html' %}

{% block title %}Search Bills in Congress - GovTrack.us{% endblock %}
{% block body_class %}search bills{% endblock %}
{% block meta_description %}Search bills and resolutions in the United States Congress.{% endblock %}
{% block meta_keywords %}U.S. Congress,Congress,legislation,bill,law{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="{% url congress_home %}">Congress</a></li>
	<li><a href="/congress/bills">Bills</a></li>
	<li>Search</li>
</ul>
{% endblock %}

{% block summary %}
<h2>Search Legislation</h2>

<p>Use this page to find bills and resolutions in the U.S. Congress going back to 1973. We also have limited information on bills from 1957-1972 that were enacted into law.</p>
{% endblock %}

{% block body %}

{% include "smartsearch/search_panel.html" %}

{% endblock %}
