{% extends "master.html" %}
{% load humanize govtrack_utils %}

{% block title %}Bills and Resolutions -- GovTrack.us{% endblock %}

{% block meta_description %}A list of legislation in the U.S. Congress.{% endblock %}

{% block body_class %}bills{% endblock %}

{% block head %}
<style>
.col_6 {
	width: 420px;
	float: left;
}
#subject_list span {
	display: none;
	font-size: 90%;
}
	#subject_list span a {
		color: #C77;
	}
	#subject_list li:hover span {
		display: inline;
	}
#subject_list ul {
	display: none;
}
</style>
<script>
$(function() {
	$("#subject_list span a").click(function() {
		var nodes = $(this.parentNode.parentNode.parentNode).find("ul");
		if (nodes.is(":visible")) {
			nodes.slideUp();
		} else {
			nodes.slideDown();
		}
		return false;
	});
});
</script>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts.js" ></script>
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li>Bills</li>
</ul>
{% endblock %}

{% block summary %}
	<h1>Bills and Resolutions</h1>
	<p style="margin-top: 1em; margin-bottom: 0">
		{% if 5000 > total %}
		Around 10,000 bills and resolutions are considered by the United States Congress in each two-year session, but of those bills and resolutions only about 400 will become law.{% comment %} The current cycle is called the {{current_congress}}.{% endcomment %}
		{% else %}
		There are {{total|intcomma}} bills and resolutions currently before the United States Congress. Of those, only about 5% will become law. They must be enacted before the end of the {{current_congress_years}} session (the &ldquo;{{current_congress}} Congress&rdquo;).
		{% endif %}
	</p>
{% endblock %}

{% block body %}

<ul class="tabs four-up">
	<li><a href="#docket">Docket</a></li>
	<li><a href="#subjects">By Subject</a></li>
	<li><a href="#search">Search and Track</a></li>
	<li><a href="#statistics">Statistics</a></li>
</ul>

<div class="panes">
	<div id="docket">
		<h2 style="margin: 1em 0 1em 0">Congress&rsquo;s Docket</h2>
		
		<div class="col_6" style="margin-right: 40px; padding-right: 40px; border-right: 1px solid #EEE;">
			<h4>Coming Up This Week</h4>
			
			<p style="margin-top: 1em">{{coming_up|length}} {% if coming_up|length == 1 %}bill or resolution is{% else %}bills and resolutions are{% endif %} on the House and Senate calendars for the coming days. Once bills are scheduled for floor action, they typically have enough support to pass.</p>
			
			{% for bill in coming_up %}
				<div style="margin-top: 2em; margin-bottom: .5em;"><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:30}}</a></div>
				<div style="margin-left: 1em">
					{% if bill.docs_house_gov_postdate %}<p style="margin-bottom: .5em;">The <b>House</b> Majority Leader indicated the {{bill.noun}} would be considered in the week ahead on {{bill.docs_house_gov_postdate|date}}.</p>{% endif %}
					{% if bill.senate_floor_schedule_postdate %}<p style="margin-bottom: .5em;">The <b>Senate</b> added the {{bill.noun}} to its floor schedule for the following day on {{bill.senate_floor_schedule_postdate|date}}.</p>{% endif %}
					{% if not bill.current_status in BILL_STATUS_INTRO %}
						<p><b>Status: </b>{{bill.current_status_description}}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		
		<div class="col_6">
		<p>Here is a breakdown of all {{total|intcomma}} bills and resolutions currently before Congress:</p>
			
		{% for name, descr1, descr2, href, count, queryset in groups %}
		{% if count > 0 %}
			<h4 style="margin-top: 2em; margin-bottom: .5em">{{name}}</h4>
			
			{% if 10 > count %}
				<p>There are {{count|intcomma}} {{descr1}}{{descr2}}:</p>
		
				<ul>
				{% for bill in queryset %}
					<li>
						<div><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:20}}</a></div>
						<div style="margin-bottom: .5em">{{bill.current_status_description}}</div>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There are <a href="{{href}}">{{count|intcomma}} {{descr1}}</a>{{descr2}}.</p>
			{% endif %}
		{% endif %}
		{% endfor %}
		</div>		
	</div>
	
	<div id="subjects">
		<h2 style="margin: 1em 0 .5em 0">Browse Bills by Subject</h2>
		<p>Use the Library of Congress&rsquo;s subject categorization of bills and resolutions to explore pending legislation in Congress.</p>
		<ul id="subject_list">
		{% for topterm, subterms in subjects %}
			<li style="margin-bottom: .33em">
				<div><a href="{{topterm.get_absolute_url}}">{{topterm.name}}</a> <span>(<a href="#">narrow topic...</a>)</span></div>
				<ul class="bullets">
					{% for subterm in subterms %}
						<li><a href="{{subterm.get_absolute_url}}">{{subterm.name}}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
	
	<div id="search">
		<h2 style="margin: 1em 0 .5em 0">Search Bills and Resolutions</h2>
		<p style="width: 600px">Search for bills using the search box at the top right of every page, or use the <a href="/congress/bills/browse">advanced search</a> to screen by status, subject, and other factors.</p>
		
		<h2 style="margin: 1em 0 .5em 0">Track Legislative Events</h2>
		<p style="width: 600px">Use these pages to subscribe to email updates to track bills and resolutions in Congress.</p>
		<ul class="bullets">
			<li><a href="/events/introduced-bills">Introduced Bills</a></li>
			<li><a href="/events/enacted-bills">Enacted Bills</a></li>
			<li><a href="/events/major-bill-activity">All Major Activity</a></li>
			<li><a href="/events/bill-activity">All Major Activity with Introductions</a></li>
			<li><a href="/events/coming-up">Coming Up</a></li>
		</ul>
	
	</div>

	<div id="statistics">
		<h2 style="margin: 1em 0 .5em 0">Statistics and Historical Comparison</h2>
		
		<p>Here are counts of bills and resolutions by status in the current Congress compared to previous Congresses. Note that the current Congress is not yet finished.</p>
		
		<script>
		function show_stats_style(show_abs, show_pct) {
			$('#bill_hist_stats .abs').toggle(show_abs);
			$('#bill_hist_stats .pct').toggle(show_pct);
			if (show_abs) $('#bill_hist_stats .pct').css({ fontSize: "90%", color: "#777" });
			else  $('#bill_hist_stats .pct').css({ fontSize: "100%", color: "#000" });
			return false;
		}
		</script>
		<p style="text-align: center">
			<a href="#" onclick="return show_stats_style(true, true)">Counts &amp; Percents</a>
			| <a href="#" onclick="return show_stats_style(true, false)">Counts Only</a>
			| <a href="#" onclick="return show_stats_style(false, true)">Percents Only</a>
		</p>
		
		<table id="bill_hist_stats">
		<tr>
			<th style="padding: 0 1em 1em 0;">Congress</th>
			{% for grp in groups2 %}
				<th style="padding: 0 1em 1em 0;" title="{{grp.1}}{{grp.2}}">{{grp.0}}</th>
			{% endfor %}
			<th style="padding: 0 0 1em 0;">TOTAL</th>
		</tr>
		{% for cong in counts_by_congress %}
			<tr>
				<td style="padding: 0 1em 1em 0">
					<b>{{cong.congress|ordinalhtml}}</b>
					<div style="font-size: 90%; color: #777"><nobr>{{cong.dates.0|date}}</nobr><br/> <nobr>-{% if forloop.first %}present{% else %}{{cong.dates.1|date}}{% endif %}</nobr></div>
				</td>
				{% for c in cong.counts %}
					<td style="padding-right: 1em; text-align: center;">
						<div class="abs"><a href="{{c.link}}">{{c.count}}</a></div>
						<div class="pct">{{c.percent}}%</div>
					</td>
				{% endfor %}
				<th><a href="/congress/bills/browse?congress={{cong.congress}}">{{cong.total}}</a></th>
			</tr>
		{% endfor %}
		</table>

		<h2 style="margin-top: 1em">When does Congressional activity occur?</h2>
		
		<p>These charts show when during the course of the two-year Congressional sessions activity tends to occur. Note that each Congress starts a few days into January and finishes a few days into January two calendar years later.</p>
		
		{% for name, data in activity %}
			{% if forloop.first %}
				<p style="padding-bottom: 1em;">This first chart shows when bills and resolutions tend to be introduced. It shows that legislation tends to be introduced early on in the session.</p>
			{% else %}
				<p style="padding: 1em 0 1em 0;">This next chart shows when bills and joint resolutions tend to be enacted (either by being signed by the president or by a veto being overridden). It shows that about half of all legislation that will be enacted is enacted only in the final quarter of the session.</p>
			{% endif %}
		
			<div id="activity_by_month_{{forloop.counter}}"> </div>
			<script>
			var year_names = ["1st", "2nd", "3rd"];
			$(document).ready(function() {
				var chart = new Highcharts.Chart({
					chart: {
						renderTo: 'activity_by_month_{{forloop.counter}}',
						type: 'spline',
						width: 900,
						height: 350,
						marginTop: 5
					},
					title: { text: '{{name|escapejs}}' },
					legend: { enabled: true },
					credits: { enabled: false },
					xAxis: {
						labels: { step: 3 },
						categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]
					},
					yAxis: [{ min: 0, title: { text: 'Average # of {{name|escapejs}}' } },
						{ min: 0, max: 100, title: { text: 'Cumulative Percent' }, opposite: true }],
					tooltip: {
						formatter: function() {
							return this.series.name + "<br/>" + this.x + " in the " + year_names[this.point.year] + ' year: ' + this.y
						}
					},
					plotOptions: {
						spline: {
							lineWidth: 2,
							marker: { radius: 3 },
							states: {
								hover: { lineWidth: 2 }
							}
						}
					},
					series: [{
						name: 'Average Count',
						data: [{% for month in data %}{ x: {{month.x}}, y: {{month.count}}, year: {{month.year}} }{% if not forloop.last %}, {% endif %}{% endfor %} ]
					},
					{
						name: 'Cumulative Percent',
						yAxis: 1,
						data: [{% for month in data %}{ x: {{month.x}}, y: {{month.cumulative_count}}, year: {{month.year}} }{% if not forloop.last %}, {% endif %}{% endfor %} ],
						color: '#BBB',
						lineWidth: 1,
						marker: { radius: 2 }
					}]
				});
			});
			</script>
		{% endfor %}
		<p style="padding: 1em 0 1em 0;">Use the cumulative percent charts to estimate how much has yet to occur in the current session of Congress. For instance, the cumulative percent of bills enacted for December in the first year of a session is 34%, meaning that while the session is half over, only one-third of the number of bills that will be enacted have been enacted by that point.</p>
	</div>	
</div>

<script>$("ul.tabs a").tabs("div.panes > div");</script>

{% endblock %}
