{% extends "master_a.html" %}
{% load govtrack_utils %}

{% block head %}
{{block.super}}
<style>
#bill-subpages { margin: 15px 0; font-size: 13px; }
#bill-subpages a { padding: 6.6px 10px; color: #9D2146; text-decoration: none; }
#bill-subpages .active a { background-color: #9D2146; color: white; font-weight: bold; }
</style>
{% endblock %}

{% block sidebar_top %}

{# EMOJI REACTIONS STYLES AND SCRIPTS #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.1.4/assets/css/emojione.min.css"/>
<style>
#emoji-reactions {
  display: block !important;
}
  #emoji-reactions a {
     display: inline-block;
     text-decoration: none;
     padding: .25em 0 .25em .15em;
     margin: 0 .25em .25em 0;
     border: 1px solid rgba(255,255,255,0);
     opacity: .5;
  }
    #emoji-reactions a.has-count {
      opacity: 1;
    }
    #emoji-reactions a.active {
      background-color: #FAFAFA;
      border: 1px solid #DD9;
      color: black;
      opacity: 1;
    }
    #emoji-reactions a span {
       display: inline-block;
       font-style: normal;
       color: #777;
       font-size: 90%;
       line-height: 90%;
       padding: 0 1px;
       min-width: .75em;
    }
    #emoji-reactions img.emojione {
      height: 1ex;
    }
</style>
<script src="https://cdn.jsdelivr.net/emojione/2.1.4/lib/js/emojione.min.js"></script>
<script>
  // show emojis
  function add_emoji_reaction(emoji) {
    var n = $("<a href='#'/>");
    n.attr("data-count", emoji.count);
    n.append(emojione.toImage(":" + emoji.name + ":"))
    n.attr("title", "React to this {{bill.noun|escapejs}} with the " + emoji.name + " emoji.");
    if (emoji.me)
      n.addClass("active");
    var c = $('<span></span>');
    n.append(c);
    function update_count() {
      var count = parseInt(n.attr("data-count"));
      c.text(count > 0 ? count : "");
      n.toggleClass('has-count', count > 0);
    }
    update_count(emoji.count);
    $('#emoji-reactions')
      .find(($('#emoji-reactions .main > *').length < 3) ? '.main' : '.other')
      .append(n);

    n.click(function() {
      var delta = n.hasClass("active") ? -1 : 1;
      n.toggleClass("active");
      n.attr("data-count", parseInt(n.attr("data-count")) + delta);
      update_count();
      $.ajax({
        url: "{% url 'reaction' %}",
        method: "POST",
        data: {
          subject: "bill:{{bill.congressproject_id|escapejs}}",
          emoji: emoji.name,
          mode: delta
        },
        success: function() {
        }
      })
      return false;
    })
  }
  window.post_jquery_load_scripts.push(function() {
    for (var i = 0; i < the_page.reactions.length; i++)
      add_emoji_reaction(the_page.reactions[i]);
  });
</script>

{# LIKERT/TEXT SYLES AND SCRIPTS #}
<style>
#LikertFrame {
    cursor: default;
    white-space: nowrap;
}
#UserPositionContainer .explanation {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}
  #UserPositionContainer .explanation a {
    text-decoration: none;
  }
#UserPositionContainer .LikertContainer {
    display: inline-block;
    white-space-collapse: discard;
    padding: 0 .2em;
    border-radius: 1em;
    white-space: nowrap;

    background: -moz-linear-gradient(90deg, #f94e5e 0%, #c0a66a 45%, #c0ba6a 55%, #00a45c 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #f94e5e), color-stop(45%, #c0a66a), color-stop(55%, #c0ba6a), color-stop(100%, #00a45c)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #f94e5e 0%, #c0a66a 45%, #c0ba6a 55%, #00a45c 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #f94e5e 0%, #c0a66a 45%, #c0ba6a 55%, #00a45c 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #f94e5e 0%, #c0a66a 45%, #c0ba6a 55%, #00a45c 100%); /* ie10+ */
    background: linear-gradient(90deg, #f94e5e 0%, #c0a66a 45%, #c0ba6a 55%, #00a45c 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( ok-circletColorstr='#00a45c', endColorstr='#f94e5e',GradientType=1 ); /* ie6-9 */
}
#UserPositionContainer .LikertContainer {
  color: white;
}
#UserPositionContainer .LikertContainer .val {
  display: inline-block;
  padding: .125em .25em;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
  #UserPositionContainer .LikertContainer .val:hover .fa-circle {
    color: #FFF;
    opacity: 1;
  }
  #UserPositionContainer .LikertContainer .val .fa-circle {
    color: #FFD;
    opacity: .75;
  }
  #UserPositionContainer .LikertContainer .val .fa-check-circle {
    display: none;
  }
  #UserPositionContainer .LikertContainer .val.active .fa-circle {
    display: none;
  }
  #UserPositionContainer .LikertContainer .val.active .fa-check-circle {
    display: inline;
  }
#UserPositionContainer .sidelabel {
    margin: 2px 1px 0 1px;
	vertical-align: top;
    color: #666;
}
#UserPositionModal textarea {
    width: 100%;
    height: 5em;
}
</style>
<script>
window.post_jquery_load_scripts.push(function() {
  // alter form depending on whether user is a member of a userpanel
  if (the_user) {
    $('#UserPositionModal .not-on-a-user-panel-toggle').toggle(the_user.is_on_userpanel == 0);
    $('.on-a-user-panel-toggle').toggle(the_user.is_on_userpanel > 0);
    $('.on-a-user-panel-toggle .count').text(the_user.is_on_userpanel);
    $('.on-a-user-panel-toggle .s').text(the_user.is_on_userpanel != 1 ? "s" : "");
  }

  // load existing user position
  // show this control only if the user has existing data
  if (the_page && the_page.position) {
    $('#UserPositionContainer').show();
    $("#UserPositionContainer .LikertContainer .val").each(function(item) {
      if ($(this).attr("data-value") == the_page.position.likert)
        $(this).addClass('active');
    });
    $("#UserPositionModal textarea").val(the_page.position.reason);
    if (the_page.position.reason)
      $("#UserPositionContainer .notesToggle .text").text("See Note");
  }

  // event handlers
  $("#UserPositionContainer .notesToggle").click(function() {
    if (!the_user) {
      alert("You must be logged in to use this feature.");
      return;
    }
    $('#UserPositionModal').modal('show');
  });
  $('#UserPositionModal').on('shown.bs.modal', function() {
    $('#UserPositionModal textarea').focus();
  })
  $("#UserPositionContainer .LikertContainer .val").click(function() {
    // Update and save this likert score.
    if (!the_user) {
      alert("You must be logged in to use this feature.");
      return;
    }
    var wasme = $(this).hasClass("active");
    $("#UserPositionContainer .LikertContainer .val").removeClass("active");
    if (!wasme)
      $(this).addClass("active");
    saveUserPosition();
  });
  $('#UserPositionModal').on('hide.bs.modal', function() {
    saveUserPosition();
  })
});
function saveUserPosition() {
  $.ajax({
    url: "{% url 'update-userposition' %}",
    method: "POST",
    data: {
       subject: "{{bill.get_feed.feedname|escapejs}}",
       likert: $("#UserPositionContainer .val.active").attr("data-value"),
       reason: $("#UserPositionModal textarea").val()
    },
    success: function() {
    },
    error: function() {
      alert("There was an error saving your position.")
    }
  })
  return false;
}
</script>

{# REACTIONS #}
<div class="row" style="margin-bottom: 0">
<div class="col-xs-6 col-sm-12" style="margin-bottom: 13px">
  <h2 style="margin-bottom: 4px">React <span class="sr-only">to this {{bill.noun}}</span> with an emoji</h2>
  <div id="emoji-reactions" data-toggle="tooltip" data-placement="bottom" style="display: none;">
    <span class="main"> </span>
    <a class="see-other" href="#" onclick="$(this).remove(); $('#emoji-reactions .other').fadeIn(); return false;" title="Show more reactions">···</a>
    <span class="other" style="display: none"> </span>
  </div>
</div>

<div id="UserPositionContainer" class="col-xs-6 col-sm-12" style="margin-bottom: 13px; display: none;">
    <h2 style="margin-bottom: 4px">Save your opinion <span class="sr-only">on this {{bill.noun}} on a six-point scale from strongly oppose to strongly support</span></h2>
    <div class="LikertFrame">
      <span class="sidelabel glyphicon glyphicon-thumbs-down"></span>
      <div class="LikertContainer"> {# to get rid of whitespace between elems, close tags are on next line #}
        <span class="val" data-value="-3" title="{{-3|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="-2" title="{{-2|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="-1" title="{{-1|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="0"  title="{{0|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="1"  title="{{1|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="2"  title="{{2|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span>
        </span><span class="val" data-value="3"  title="{{3|likerttext}}"><span class="far fa-circle"></span><span class="fas fa-check-circle"></span></span>
      </div>
      <span class="sidelabel glyphicon glyphicon-thumbs-up"></span>
    </div>
    <div class="explanation">
      <a href="#" class="notesToggle" onclick="return false;" title="Show or hide your notes">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="text">Add Note</span>
      </a>
      <a href="/accounts/positions" style="margin-left: .75em;">All Positions &raquo;</a>
      <p class="on-a-user-panel-toggle" style="display: none;">
        (Shared on <span class="count"></span> panel<span class="s"></span>.)
      </p>
  </div>
</div> <!-- /UserPositionContainer -->

</div> <!-- /row -->

{% endblock %}

{% block sidebar_bottom %}
<div>
	<h2>Widget for your website</h2>
	<p><a href="{{bill.get_absolute_url}}/widget">Get a bill status widget &raquo;</a></p>
</div>
{% endblock %}

{% block crumbs %}
{# BREADCRUMBS #}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "congress_home" %}">Congress</a></li>
    <li class="breadcrumb-item"><a href="/congress/bills">Bills</a></li>
    {% if not bill_subpage %}
    <li class="breadcrumb-item active" aria-current="page">{{bill.display_number_with_congress_number}}</li>
    {% else %}
    <li class="breadcrumb-item"><a href="{{bill.get_absolute_url}}">{{bill.display_number_with_congress_number}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{bill_subpage}}</li>
    {% endif %}
  </ol>
</nav>

{% endblock %}

{% block summary %}

{# BILL TITLE #}
<div class="h1-multiline">
	<h1 style="max-height: 3em; overflow: hidden;">{{bill.display_number_no_congress_number}}{% if not bill.is_current%} ({{bill.congress|ordinalhtml}}){% endif %}: {{bill.title_no_number}}</h1>
			<p id="h1_overflow" style="display: none"></p>
			<script>
			window.post_jquery_load_scripts.push(function() {
			$('h1').truncate_text(function (remaining, chopped) {
			    if (chopped) {
			    	$('h1').css({ marginBottom: '2px' });
			    	$('#h1_overflow').text("..." + chopped).show();
			    }
			}, function() { $('h1').addClass('long'); });
			});
			</script>
</div>

{% block header_top %}
{% endblock %}

{% endblock %}

{% block body %}

{% with page=request.path|cut:bill.get_absolute_url %}
 <ul id="bill-subpages" class="nav nav-pills">
    <li class="nav-item"><a href="{{bill.get_absolute_url}}" class="nav-link {% if page == "" %}active{% endif %}">Overview</a></li>

	{% with bill.oursummary as summary1 %}
	{% with bill.get_formatted_summary as summary2 %}
	{% if summary1 or summary2 %}
    <li class="nav-item"><a href="{{bill.get_absolute_url}}/summary" class="nav-link {% if page == "/summary" %}active{% endif %}">Summary</a></li>
    {% endif %}
    {% endwith %}
    {% endwith %}

  {% if bill.cosponsor_count > 0 %}
    <li class="nav-item"><a href="{{bill.get_absolute_url}}/cosponsors" class="nav-link {% if page == "/cosponsors" %}active{% endif %}">
      Cosponsors
    </a></li>
  {% endif %}

	{% if bill.source != "americanmemory" %}
    <li class="nav-item"><a href="{{bill.get_absolute_url}}/details" class="nav-link {% if page == "/details" %}active{% endif %}">Details</a></li>
	{% endif %}

	{% if text_info.has_displayable_text or is_on_bill_text_page %}
    <li class="nav-item"><a href="{{bill.get_absolute_url}}/text" class="nav-link {% if is_on_bill_text_page %}active{% endif %}">Text</a></li>
	{% endif %}

    <li class="nav-item"><a href="{{bill.get_absolute_url}}/studyguide" class="nav-link {% if page == "/studyguide" %}active{% endif %}">Study Guide</a></li>

</ul>

{# can't be in the sidebar because sidebar styling messes up the modal title #}
<div id="UserPositionModal" class="modal modal-lg" tabindex="-1" role="dialog" aria-labelledby="UserPositionModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="UserPositionModalTitle">Add a Note</h2>
      </div>
      <div class="modal-body">
        <p>
          Add a note about this {{bill.noun}}.
          <span class="not-on-a-user-panel-toggle">
              Your note is for you and will not be shared with anyone.
          </span>
        </p>
        <p class="on-a-user-panel-toggle" style="font-weight: bold;">
          Because you are a member of <span class="count"></span> panel<span class="s"></span>, your positions on legislation and notes below will be shared with the panel administrators. (<a href="/accounts/positions">More Info</a>)
        </p>
        <textarea style="display: block;" 
          placeholder="My notes on why I oppose or support this {{bill.noun}}."
          title="My notes on why I oppose or support this {{bill.noun}}."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save Note</button>
      </div>
    </div>
  </div>
</div>

{% endwith %}

{% endblock %}
