{% extends "master_a.html" %}
{% load humanize %}
{% load cache %}

{% block title %}{{bill}} - GovTrack.us{% endblock %}

{% block meta_description %}
{{bill}}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
<style>
#make_prediction {
	margin-top: 1em;
	margin-bottom: 1.2em;
	border-top: 1px dotted #AAA;
	border-bottom: 1px dotted #AAA;
	padding-top: 1em;
	padding-bottom: 0;
	line-height: normal;
	font-size: 85%;
	font-family: sans-serif;
}
</style>
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/bills">Bills</a></li>
<li>{{bill.display_number}}</li>
</ul>
{% endblock %}

{% block body_class %}bill{% endblock %}

{% block summary %}

{% cache 600 billhead bill.id %}
<h1>{{bill.title|truncatewords:15}}</h1>
	
<div id="track_panel_base" class="container">
	<div class="info">
		{% if bill.title != bill.title|truncatewords:15 %}
			{% with bill.title|truncatewords:15|cut:"..." as bt %}
				<p style="line-height: 130%">...{{bill.title|cut:bt}}</p>
			{% endwith %}
		{% endif %}
	
		<p class="date">{{bill.congress|ordinal}} Congress, {{congressdates.0|date:"Y"}}&ndash;{{congressdates.1|date:"Y"}}</p>
		
		{% if subtitle %}<p style="line-height: 135%">{{subtitle}}</p>{% endif %}
		
		<dl>
			<dt>Sponsor:</dt>
			<dd><a class="name" href="{{bill.sponsor.get_absolute_url}}">{{bill.sponsor}}</a></dd>
		
			<dt>Status:</dt>
			<dd>
			{% if not dead %}
				{{bill.get_current_status_display}}
			{% else %}
				Died ({{bill.get_current_status_display}})
			{% endif %}
			</dd>
		</dl>
	
	</div><!-- /info -->
	
	<p style="margin: 0"><small>Bill titles {% if subtitle %}and summaries{% endif %} are written by the sponsor.</small></p>
</div>
{% endcache %}

{% include "events/subscribe_inline.html" %}

<div class="aside">
	{% if bill.is_alive %}
	<a href="#" class="track-btn" onclick="return show_track_panel();">Track this bill</a>
	
	{% if not user.is_authenticated %}
	<div id="make_prediction">
	<p>We think this bill has a <b>{{market_score}}%</b> chance of passing Congress. <a href="/accounts/login?next={{bill.get_absolute_url|urlencode}}">Log in</a> to make a bet.</p>
	</div>
	{% else %}
	<div id="make_prediction">
	<p>We think this bill has a <b>{{market_score}}%</b> chance of passing Congress. What do you think?</p>
	<p class="empty" {% if market_score_you %}style="display: none"{% endif %}>
		That&rsquo;s...
		<a href="#" prediction="1">Too Low</a> | 
		<a href="#" prediction="-1">Too High</a>
	</p>
	<p class="nonempty" {% if not market_score_you %}style="display: none"{% endif %}>You predict <span>{% if market_score_you.prediction == 1 %}the bill will pass{% else %}the bill will not pass{% endif %}</span>. <a href="#" prediction="0">Clear my bet</a>.</p>
	</div>
	<script>
	$("#make_prediction a").click(function() {
		var p = this.getAttribute("prediction");
		$.ajax({
			url: "/congress/bills/_ajax/market_test_vote",
			type: "POST",
			data: {
				bill: {{bill.id}},
				prediction: p
			},
			dataType: "json",
			success: function(data) {
				if (data.vote == 0) {
					$("#make_prediction .empty").show();
					$("#make_prediction .nonempty").hide();
				} else {
					$("#make_prediction .empty").hide();
					$("#make_prediction .nonempty").show();
					$("#make_prediction .nonempty span").text(data.vote == 1 ? "the bill will pass" : "the bill will not pass");
				}
			}
		});	
		return false;
	});
	</script>
	{% endif %}
	
	<script src="https://www.popvox.com/widgets/js/bill.js?bill={{bill.congress}}/{{bill.bill_type_slug}}{{bill.number}}"> </script>
	{% endif %}	
	
	<div class="fb-like" data-send="true" data-layout="button_count" data-width="170" data-show-faces="false" style="margin-top: 10px"></div>
</div><!-- /actions -->
{% endblock %}

{% block body %}
{% cache 600 billoverview bill.id %}
<div id="bill-overview" class="section">
	
	<h2>Bill Overview</h2>
		
	<div class="overview">
		<div class="holder">
			<div class="frame">
				
				<div class="container">
					<dl>
						<dt>Status:</dt>
						<dd>
							<table>
								{% for item in bill.get_major_events %}
								<tr>
									<td class="done">{{item.label}}</td>
									<td>{{item.date|date:"DATE_FORMAT"}}</td>
								</tr>
								{% endfor %}
							
								{% if current %}
								{% for item in bill.get_future_events %}
								<tr>
									<td class="pending">{{item}}</td>
									<td>(not yet ocurred)</td>
								</tr>
								{% endfor %}
								{% endif %}
								
								<tr><td colspan="2" style="padding-top: 5px">
								{% if not died %}
									{{bill.current_status_description}}
								{% else %}
									This bill died in a previous session of Congress.
								{% endif %}
								</td></tr>
							</table>

						</dd>
						
						{% if relevant_assignments or good_cosp_assignments > 0 %}
						<dt>Prognosis:</dt>
						<dd>
							<p>The following factors favor this bill&rsquo;s progress:</p>
						
							{% for person, ca in relevant_assignments %}
								<p>{{person}} is {{ca.role_name_2}} the {{ca.committee.name}}, where the bill has been referred.</p>
							{% endfor %}
							{% if good_cosp_assignments > 0 %}
								<p>{{good_cosp_assignments}} {% if good_cosp_assignments_other %}other {% endif %} cosponsor{% if good_cosp_assignments > 1 %}s are members{% else %} is a member{% endif %} of a committee to which the bill has been referred.</p>
							{% endif %}
						</dd>
						{% endif %}
				
					</dl>
				</div><!-- /container -->
				
				<div class="container">
					<dl>
						<dt>Text:</dt>
						<dd>
							<ul class="text-view">
								<!--<li><a href="#">Summary</a></li>-->
								<li><a href="{{bill.get_absolute_url}}/text">Read Bill Text</a></li>
							</ul>
						</dd>
					</dl>
				</div><!-- /container -->
				
				<div class="container">
					<dl class="heading">
						<dt>Cosponsors:</dt>
						<dd>
							{% if bill.cosponsors.all|length == 0 %}
								none
							{% else %}
								<a href="#" onclick="if (!$('#cosponsors').is(':visible')) $('#cosponsors').slideDown(); else $('#cosponsors').slideUp(); return false;">show cosponsors ({{bill.cosponsor_count}})</a>
								<div id="cosponsors" style="display: none">
									{% for cosp in bill.cosponsor_records %}
									<div><a href="{{cosp.person.get_absolute_url}}">{{cosp.person}}</a> {% if cosp.joined != bill.introduced_date %}(joined {{cosp.joined}}{% if cosp.withdrawn %}; withdrawn {{cosp.withdrawn}}{% endif %}){% else %}{% if cosp.withdrawn %}  (withdrawn {{cosp.withdrawn}}){% endif %}{% endif %}</div>
									{% endfor %}
								</div>
							{% endif %}
						</dd>
						</dl>

					{% if bill.committees.exists %}
					<dl class="heading">
						<dt>Committees:</dt>
						<dd>
							{% for c in bill.committees.all %}
								{% if not c.committee %}
									<p><a href="{{c.get_absolute_url}}">{{c}}</a></p>
									{% for s in bill.committees.all %}
										{% if s.committee == c %}
											<p style="margin-left: 2em"><a href="{{s.get_absolute_url}}">{{s}}</a></p>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
							<p>The committee chair determines whether a bill will move past the committee stage.</p>
						</dd>
					</dl>
					{% endif %}
					</div> <!-- ?? -->
				</dv> <!-- /container -->
				
			</div><!-- /frame -->
		</div><!-- /holder -->
	</div><!-- /overview -->
	
	<div class="overview last">
		<div class="holder">
			<div class="frame">
				
				<div class="container">
					{% if bill.votes.exists %}
					<dl>
						<dt>Votes:</dt>
						<dd>
							{% for v in bill.votes.all %}
							<p><a href="{{v.get_absolute_url}}">{{v}}</a><br/>
								{{v.created}}. {{v.result}}.</p>
							{% endfor %}
						</dd>
					</dl>
					{% endif %}
					
					{% if bill.terms.exists %}
					<dl style="margin-top: 1em">
						<dt>Subject Areas:</dt>
						<dd>
							<p>Use these subject areas to explore related legislation:</p>
							<div style="max-height: 15em; overflow: auto">
							{% for term in bill.get_terms_sorted %}
								<div><a {% if term.is_top_term %}style="font-weight: bold"{% endif %} href="{{term.get_absolute_url}}?congress={{bill.congress}}">{{term}}</a></div>
							{% endfor %}
							</div>
						</dd>
					</dl>
					{% endif %}
						
					{% if bill.relatedbills.exists %}
					<dl style="margin-top: 1em">
						<dt>Related Bills:</dt>
						<dd>
							<div style="max-height: 15em; overflow: auto">
							{% for rb in bill.get_related_bills %}
								<div>{% if rb.relation != "unknown" %}{{rb.relation}}: {% endif %}<a href="{{rb.related_bill.get_absolute_url}}">{{rb.related_bill}}</a></div>
							{% endfor %}
							</div>
							<p><small>Related bills are identified by the Congressional Research Service.</small></p>
						</dd>
					</dl>
					{% endif %}
				</div>
			
				<div class="container">
					<dl>
						<dt>Primary Source</dt>
						<dd>
							<p><a href="{{bill.thomas_link}}">THOMAS (The Library of Congress)</a><br/>THOMAS is updated generally one day after events occur and events since the last update may not be reflected here.</p>
						</dd>
						<dt>Citation</dt>
						<dd>
							<script>function show_cite(fmt) {
								var v = $("#cite_" + fmt).is(":visible");
								$('#cite_apa, #cite_mla, #cite_wikipedia').slideUp();
								if (!v) $("#cite_" + fmt).slideDown();
								return false;
							}</script>
							<p>This page can be cited in one of these formats (click for details):
								<a href="#" onclick="return show_cite('apa')">APA</a>,
								<a href="#" onclick="return show_cite('mla')">MLA</a>,
								<a href="#" onclick="return show_cite('wikipedia')">Wikipedia Template</a>.
							</p>
							<p id="cite_apa" style="display: none">{{bill.display_number_no_congress_number}}--{{bill.congress|ordinal}} Congress: {{bill.title_no_number}}. ({{bill.introduced_date|date:"Y"}}). In GovTrack.us (database of federal legislation). Retrieved {% now "F j, Y" %}, from {{request.build_absolute_uri}}</p>

							<p id="cite_mla" style="display: none">&ldquo;{{bill.display_number_no_congress_number}}--{{bill.congress|ordinal}} Congress: {{bill.title_no_number}}.&rdquo; GovTrack.us (database of federal legislation). {{bill.introduced_date|date:"Y"}}. {% now "F j, Y" %} &lt;{{request.build_absolute_uri}}&gt;</p>

							<p id="cite_wikipedia" style="display: none">{{cite web<br/>
							|url={{request.build_absolute_uri}}<br/>
							|title={{bill.display_number_with_congress_number}}<br/>
							|accessdate={% now "F j, Y" %}<br/>
							|author={{bill.congress|ordinal}} Congress ({{bill.introduced_date|date:"Y"}})<br/>
							|date={{bill.introduced_date|date:"F j, Y"}}<br/>
							|work=Legislation<br/>
							|publisher=GovTrack.us<br/>
							|quote={{bill.title_no_number}}<br/>
							}}</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div><!-- /overview -->
	
	{% with bill.get_formatted_summary as summary %}
	{% if summary %}
	<section class="clear" style="padding-top: 2em">
		<h3>Official Bill Summary</h3>
		<p>The following summary was written by the Congressional Research Service, a nonpartisan arm of the Library of Congress, which serves Congress. GovTrack did not write and has no control over these summaries.</p>
		{{summary|safe}}
	</section>
	{% endif %}
	{% endwith %}
</div><!-- /container -->

{% endcache %}
{% endblock %}
