{% extends "master_b.html" %}
{% load humanize govtrack_utils %}

{% block title %}Historical Statistics about Legislation in the U.S. Congress -- GovTrack.us{% endblock %}
{% block meta_description %}Historical statistics about bills in the U.S. Congress.{% endblock %}
{% block cat-icon-filename %}img-bills-resolutions.png{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li><a href="{% url "congress_home" %}">Congress</a></li>
<li><a href="{% url "bills_overview" %}">Bills</a></li>
</ol>
{% endblock %}

{% block body_scripts %}
<script src="{{ STATIC_URL }}vendor/highcharts.js"></script>
<script>
function show_stats_style(show_abs, show_pct) {
	$('#bill_hist_stats .abs').toggle(show_abs);
	$('#bill_hist_stats .pct').toggle(show_pct);
	if (show_abs) $('#bill_hist_stats .pct').css({ fontSize: "90%", color: "#777" });
	else  $('#bill_hist_stats .pct').css({ fontSize: "100%", color: "#000" });
	return false;
}

var year_names = ["1st", "2nd", "3rd"];
$(function() {
{% for name, data in activity %}
	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'activity_by_month_{{forloop.counter}}',
			type: 'spline',
			width: 900,
			height: 350,
			marginTop: 5
		},
		title: { text: '{{name|escapejs}}' },
		legend: { enabled: true },
		credits: { enabled: false },
		xAxis: {
			labels: { step: 3 },
			categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan"]
		},
		yAxis: [{ min: 0, title: { text: '% of {{name|escapejs}}' } },
			{ min: 0, max: 100, title: { text: 'Cumulative Percent' }, opposite: true }],
		tooltip: {
			formatter: function() {
				return this.series.name + "<br/>" + this.x + " in the " + year_names[this.point.year] + ' year: ' + this.y
			}
		},
		plotOptions: {
			spline: {
				lineWidth: 2,
				marker: { radius: 3 },
				states: {
					hover: { lineWidth: 2 }
				}
			}
		},
		series: [{
			name: 'Average Count',
			data: [{% for month in data %}{ x: {{month.x}}, y: {{month.count}}, year: {{month.year}} }{% if not forloop.last %}, {% endif %}{% endfor %} ]
		},
		{
			name: 'Cumulative Percent',
			yAxis: 1,
			data: [{% for month in data %}{ x: {{month.x}}, y: {{month.cumulative_count}}, year: {{month.year}} }{% if not forloop.last %}, {% endif %}{% endfor %} ],
			color: '#BBB',
			lineWidth: 1,
			marker: { radius: 2 }
		}]
	});
{% endfor %}
});
</script>
{% endblock %}

{% block summary %}
	<h1>Statistics and Historical Comparison</h1>
	<p style="margin-top: 1em; margin-bottom: 0">
	Here are counts of bills and resolutions by status and by when they were introduced or enacted.
	</p>
{% endblock %}

{% block body %}
	<h2>Bills by Final Status</h2>
	
		<p>This table breaks down the bills and resolutions introduced in each two-year Congress by their final status. Note that the current Congress is not yet finished.</p>

		<p style="text-align: center">
			<a href="#" onclick="return show_stats_style(true, true)">Counts &amp; Percents</a>
			| <a href="#" onclick="return show_stats_style(true, false)">Counts Only</a>
			| <a href="#" onclick="return show_stats_style(false, true)">Percents Only</a>
		</p>
		
		<table id="bill_hist_stats">
		<tr>
			<th style="padding: 0 1em 1em 0;">Congress</th>
			{% for grp in groups2 %}
				<th style="padding: 0 1em 1em 0;" title="{{grp.1}}{{grp.3}}">{{grp.0}}</th>
			{% endfor %}
			<th style="padding: 0 0 1em 0;">TOTAL</th>
		</tr>
		{% for cong in counts_by_congress %}
			<tr>
				<td style="padding: 0 1em 1em 0">
					<b>{{cong.congress|ordinalhtml}}</b>
					<div style="font-size: 90%; color: #777"></span>{{cong.dates.0|date}}</span><br/> <span class="nowrap">-{% if forloop.first %}present{% else %}{{cong.dates.1|date}}{% endif %}</span></div>
				</td>
				{% for c in cong.counts %}
					<td style="padding-right: 1em; text-align: center;">
						<div class="abs"><a href="{{c.link}}">{{c.count|intcomma}}</a></div>
						<div class="pct">{{c.percent}}%</div>
					</td>
				{% endfor %}
				<th><a href="/congress/bills/browse?congress={{cong.congress}}">{{cong.total|intcomma}}</a></th>
			</tr>
		{% endfor %}
		</table>
		
		<p>Here is what we mean in each column:</p>
		<ul class="bullets">
			{% for grp in groups2 %}
				<li><b>{{grp.0}}:</b> {{grp.1|capfirst}}{{grp.3}}</li>
			{% endfor %}
		</ul>

	<h2 style="margin-top: 1em">When does Congressional activity occur?</h2>
		
		<p>These charts show when during the course of the two-year Congressional sessions activity tends to occur. Note that each Congress starts a few days into January and finishes a few days into January two calendar years later.</p>
		
		{% for name, data in activity %}
			{% if forloop.first %}
				<p style="padding-bottom: 1em;">This first chart shows when bills and resolutions tend to be introduced. It shows that legislation tends to be introduced early on in the session.</p>
			{% else %}
				<p style="padding: 1em 0 1em 0;">This next chart shows when bills and joint resolutions tend to be enacted (either by being signed by the president or by a veto being overridden). It shows that about half of all legislation that will be enacted is enacted only in the final quarter of the session.</p>
			{% endif %}
		
			<div id="activity_by_month_{{forloop.counter}}"> </div>
		{% endfor %}

		<p style="padding: 1em 0 1em 0;">Use the cumulative percent charts to estimate how much has yet to occur in the current session of Congress. For instance, the cumulative percent of bills enacted for December in the first year of a session is 33%, meaning that while the session is half over, only one-third of the number of bills that will be enacted have been enacted by that point.</p>
	</div>	


{% endblock %}
