{% load govtrack_utils %}

<div class="h1-multiline" style="border: none;">
	<h1 style="margin-top: 10px; max-height: 3em; overflow: hidden;">{{bill.display_number_no_congress_number}}{% if not bill.is_current%} ({{bill.congress|ordinalhtml}}){% endif %}: {{bill.title_no_number}}</h1>
			<p id="h1_overflow" style="display: none"></p>
			<script>
			window.post_jquery_load_scripts.push(function() {
			$('h1').truncate_text(function (remaining, chopped) {
			    if (chopped) {
			    	$('h1').css({ marginBottom: '2px' });
			    	$('#h1_overflow').text("..." + chopped).show();
			    }
			}, function() { $('h1').addClass('long'); });
			});
			</script>
</div>

<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
<div class="col-md-5">

<div id="emoji-reactions" data-toggle="tooltip" data-placement="bottom" style="display: none;">
	<span class="main"> </span>
	<a class="see-other" href="#" onclick="$(this).remove(); $('#emoji-reactions .other').fadeIn(); return false;" title="Show more reactions">···</a>
	<span class="other" style="display: none"> </span>
</div>

</div>
<div class="col-md-7">

<div id="UserPositionContainer">
	<div class="LikertFrame">
		<div class="LikertContainer"> {# to get rid of whitespace between elems, close tags are on next line #}
    <span class="glyphicon glyphicon-thumbs-down" title="Oppose"></span>
      <span class="val" data-value="-3" title="{{-3|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="-2" title="{{-2|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="-1" title="{{-1|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="0"  title="{{0|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="1"  title="{{1|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="2"  title="{{2|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span>
      </span><span class="val" data-value="3"  title="{{3|likerttext}}"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></span>
      <span class="glyphicon glyphicon-thumbs-up" title="Support"></span>
		</div>
    <span class="sidelabel">
      <a href="#" class="notesToggle" onclick="return false;" title="Show or hide your notes" style="display: none">
        <span class="glyphicon glyphicon-pencil"></span>
        Add Note
      </a>
    </span>
	</div>
  <div class="whybox" style="display: none">
    <textarea style="display: block;" 
      placeholder="My personal notes on why I oppose or support this {{bill.noun}}."
      title="My personal notes on why I oppose or support this {{bill.noun}}."></textarea>
    <button class="btn btn-primary">Save Note</button>
  </div>
</div>

</div>
</div>

<script>
window.post_jquery_load_scripts.push(function() {
  if (the_user)
    $("#UserPositionContainer .notesToggle").show();

  // load existing user position
  if (the_page && the_page.position) {
    $("#UserPositionContainer .LikertContainer .val").each(function(item) {
      if ($(this).attr("data-value") == the_page.position.likert)
        $(this).addClass('active');
    });
    $("#UserPositionContainer textarea").val(the_page.position.reason);
    if (the_page.position.reason) {
      $("#UserPositionContainer .whybox").show();
      $("#UserPositionContainer .notesToggle").hide();
    }
  }

  // event handlers
  $("#UserPositionContainer .notesToggle").click(function() {
    $('#UserPositionContainer .whybox').toggle();
    $('#UserPositionContainer .whybox textarea').focus();
  });
  $("#UserPositionContainer .LikertContainer .val").click(function() {
    // Update and save this likert score.
    if (!the_user) {
      alert("You must be logged in to use this feature.");
      return;
    }
    var wasme = $(this).hasClass("active");
    $("#UserPositionContainer .LikertContainer .val").removeClass("active");
    if (!wasme)
      $(this).addClass("active");
    saveUserPosition();
  });
  $("#UserPositionContainer button").click(function() {
    saveUserPosition(true);
  })
});
function saveUserPosition(show_status) {
  $.ajax({
		url: "{% url 'update-userposition' %}",
		method: "POST",
		data: {
		   subject: "{{bill.get_feed.feedname|escapejs}}",
       likert: $("#UserPositionContainer .val.active").attr("data-value"),
		   reason: $("#UserPositionContainer textarea").val()
		},
		success: function() {
      if (show_status)
        alert("Your note about this {{bill.noun}} has been saved.")
		},
		error: function() {
      alert("There was an error saving your position.")
    }
	})
	return false;
}
</script>
<style>
#UserPositionContainer {
    cursor: default;
}
#UserPositionContainer .LikertContainer {
    display: inline-block;
    white-space-collapse: discard;
    padding: 0 .5em;
    border-radius: 1em;
    white-space: nowrap;

background: -moz-linear-gradient(45deg, #ED1322 0%, #B8BA8C 47%, #B8BA8C 53%, #07DA70 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ED1322), color-stop(45%, #B8BA8C), color-stop(55%, #B8BA8C), color-stop(100%, #07DA70)); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, #ED1322 0%, #B8BA8C 47%, #B8BA8C 53%, #07DA70 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, #ED1322 0%, #B8BA8C 47%, #B8BA8C 53%, #07DA70 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, #ED1322 0%, #B8BA8C 47%, #B8BA8C 53%, #07DA70 100%); /* ie10+ */
background: linear-gradient(45deg, #ED1322 0%, #B8BA8C 47%, #B8BA8C 53%, #07DA70 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07DA70', endColorstr='#ED1322',GradientType=1 ); /* ie6-9 */
}
#UserPositionContainer .LikertContainer {
  color: white;
}
#UserPositionContainer .LikertContainer .val {
  display: inline-block;
  padding: 3px .25em 1px .25em;
  text-align: center;
  cursor: pointer;
  color: #DDD;
}
  #UserPositionContainer .LikertContainer .val:hover {
    color: #FFF;
  }
  #UserPositionContainer .LikertContainer .val .glyphicon-star {
    display: none;
  }
  #UserPositionContainer .LikertContainer .val.active .glyphicon-star-empty {
    display: none;
  }
  #UserPositionContainer .LikertContainer .val.active .glyphicon-star {
    display: inline;
    color: white;
  }
#UserPositionContainer .sidelabel {
    color: #444;
    font-style: italic;
    font-size: 83%;
}
.whybox textarea {
    margin: .5em 0;
    width: 100%;
    height: 5em;
}
</style>


<style>
.h1-multiline, h1 { padding: 0; margin: 0; }
#bill-subpages { margin: 30px 0; font-size: 13px; }
#bill-subpages a { padding: 6.6px 10px; color: #9D2146; text-decoration: none; }
#bill-subpages .active a { background-color: #9D2146; color: white; font-weight: bold; }
</style>

{% with page=request.path|cut:bill.get_absolute_url %}
 <ul id="bill-subpages" class="nav nav-pills" role="tablist">
    <li role="presentation" {% if page == "" %}class="active"{% endif %}><a href="{{bill.get_absolute_url}}">Overview</a></li>

	{% with bill.oursummary as summary1 %}
	{% with bill.get_formatted_summary as summary2 %}
	{% if summary1 or summary2 %}
    <li role="presentation" {% if page == "/summary" %}class="active"{% endif %}><a href="{{bill.get_absolute_url}}/summary" role="tab">Summary</a></li>
    {% endif %}
    {% endwith %}
    {% endwith %}

	{% if bill.source != "americanmemory" %}
    <li role="presentation" {% if page == "/details" %}class="active"{% endif %}><a href="{{bill.get_absolute_url}}/details" role="tab">Details</a></li>
	{% endif %}

	{% if text_info.has_displayable_text or is_on_bill_text_page %}
    <li role="presentation" {% if is_on_bill_text_page %}class="active"{% endif %}><a href="{{bill.get_absolute_url}}/text" role="tab">Text</a></li>
	{% endif %}

</ul>
{% endwith %}
