{% extends "master.html" %}
{% load humanize govtrack_utils %}

{% block title %}Real or Not? Which Is the Real Bill -- GovTrack.us{% endblock %}

{% block meta_description %}A game: Which is the real bill in Congress?{% endblock %}

{% block body_class %}bills{% endblock %}

{% block head %}
<style>
	#real_or_not { width: 800px; height: 400px; }
	#real_or_not .buttons-b { display: none; }
	@media only screen and (max-width: 767px) {
		#real_or_not { width: 320px; height: 700px; }
		#real_or_not .buttons-b { display: block; }
		#real_or_not .buttons-a { display: none; }
	}
</style>
<script>
	var right_answer = null;
	function show_bill_or_not() {
		$.ajax("/congress/bills/_ajax/bill_or_not", {
			success: function(res) {
				right_answer = (Math.random() < .5 ? "choice_a" : "choice_b");
				wrong_answer = (right_answer == "choice_a" ? "choice_b" : "choice_a");
			
				$("#real_or_not .bill-number").text(res.bill_number);
				$("#real_or_not .bill-type").text(res.bill_type);
				$("#real_or_not .bill-date").text(res.actual_bill_intro_date);
				$("#real_or_not .answer a").attr('href', res.actual_bill_link);
				$("#real_or_not ." + right_answer + " span").text(res.actual_bill_title);
				$("#real_or_not ." + wrong_answer + " span").text(res.fake_bill_title);

				$('#real_or_not .buttons').show();
				$('#real_or_not .answer').hide();
				
				$('#real_or_not').show();
			}
		});
		
	}
	$(function() {
		// init event handlers
		$("#real_or_not .green-btn").click(function() {
			show_bill_or_not();
		});
		$("#real_or_not .grey-btn").click(function() {
			$('#real_or_not .buttons').fadeOut(function() { $('#real_or_not .answer').fadeIn(); });
		
			var which = $(this).attr('data-which');
			if (which == right_answer) {
				$('#real_or_not .result').text("right!"); 
			} else {
				$('#real_or_not .result').text("not right, sorry.");
			}
		});
		
		// start game
		show_bill_or_not();
	});
</script>
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/bills">Bills</a></li>
<li>Real or Not?</li>
</ul>
{% endblock %}

{% block summary %}
	<h1>Real or Not?</h1>
	<p style="margin-top: 1em; margin-bottom: 0">
		Real or Not? Only a true wonk knows. Try to guess which is the real bill.
	</p>
{% endblock %}

{% block body %}
<div id="real_or_not" style="padding: 15px; display: none;">
	<center>
		<h4 style="margin-bottom: 1em; font-family: sans-serif;">Which of these is the real <span class="bill-number" style="font-weight: bold; font-size: 110%">H.R. 1234</span>?</h4>
	</center>
	<div class="row">
		<div class="six columns choice_a">
			<b>A)</b> <span> </span>
			<div class="buttons-b"><div class="buttons"><div class="grey-btn small-btn" style="margin: 1em auto" data-which="choice_a">This One&rsquo;s Real</div></div></div>
		</div>
		<div class="six columns choice_b">
			<b>B)</b> <span> </span>
			<div class="buttons-b"><div class="buttons"><div class="grey-btn small-btn" style="margin: 1em auto" data-which="choice_b">This One&rsquo;s Real</div></div></div>
		</div>
	</div>
	<div class="buttons-a">
	<div class="row buttons">
		<div class="six columns"><div class="grey-btn small-btn" style="margin: 1em auto" data-which="choice_a">This One&rsquo;s Real</div></div>
		<div class="six columns"><div class="grey-btn small-btn" style="margin: 1em auto" data-which="choice_b">This One&rsquo;s Real</div></div>
	</div>
	</div>
	<div class="answer" style="text-align: center; display: none; margin-top: 1.5em;">
		<div><b>That&rsquo;s <span class="result"> </span></b> Now go <a href="">read more about <span class="bill-number"> </span></a> to see what the <span class="bill-type"> </span> introduced on <span class="bill-date"> </span> was about.</div>
		
		<div class="green-btn" style="margin: 1em auto">Play Again</div>
	</div>
</div>
{% endblock %}
