{% extends "master.html" %}
{% load humanize %}

{% block title %}Bills and Resolutions -- GovTrack.us{% endblock %}

{% block meta_description %}A list of legislation in the U.S. Congress.{% endblock %}

{% block body_class %}bills{% endblock %}

{% block head %}
<style>
.col_6 {
	width: 420px;
	float: left;
}
#subject_list span {
	display: none;
	font-size: 90%;
}
	#subject_list span a {
		color: #C77;
	}
	#subject_list li:hover span {
		display: inline;
	}
#subject_list ul {
	display: none;
}
</style>
<script>
$(function() {
	$("#subject_list span a").click(function() {
		var nodes = $(this.parentNode.parentNode.parentNode).find("ul");
		if (nodes.is(":visible")) {
			nodes.slideUp();
		} else {
			nodes.slideDown();
		}
		return false;
	});
});
</script>
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li>Bills</li>
</ul>
{% endblock %}

{% block summary %}
	<h1>Bills and Resolutions</h1>
	<p style="margin-top: 1em; margin-bottom: 0">
		{% if 5000 > total %}
		Around 10,000 bills and resolutions are considered by the United States Congress in each two-year session, but of those bills and resolutions only about 400 will become law.{% comment %} The current cycle is called the {{current_congress}}.{% endcomment %}
		{% else %}
		There are {{total|intcomma}} bills and resolutions currently before the United States Congress. Of those, only about 5% will become law. They must be enacted before the end of the {{current_congress_years}} session (the &ldquo;{{current_congress}} Congress&rdquo;).
		{% endif %}
	</p>
{% endblock %}

{% block body %}

<ul class="tabs">
	<li><a href="#">Docket</a></li>
	<li><a href="#">By Subject</a></li>
	<li><a href="#">Search and Track</a></li>
</ul>

<div class="panes">
	<div>
		<h2 style="margin: 1em 0 1em 0">Congress&rsquo;s Docket</h2>
		
		<div class="col_6" style="margin-right: 40px; padding-right: 40px; border-right: 1px solid #EEE;">
			<h4>Coming Up This Week</h4>
			
			<p style="margin-top: 1em">{{coming_up|length}} {% if coming_up|length == 1 %}bill or resolution is{% else %}bills and resolutions are{% endif %} on the House and Senate calendars for the coming days. Once bills are scheduled for floor action, they typically have enough support to pass.</p>
			
			{% for bill in coming_up %}
				<div style="margin-top: 2em; margin-bottom: .5em;"><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:30}}</a></div>
				<div style="margin-left: 1em">
					{% if bill.docs_house_gov_postdate %}<p style="margin-bottom: .5em;">The <b>House</b> Majority Leader indicated the {{bill.noun}} would be considered in the week ahead on {{bill.docs_house_gov_postdate|date}}.</p>{% endif %}
					{% if bill.senate_floor_schedule_postdate %}<p style="margin-bottom: .5em;">The <b>Senate</b> added the {{bill.noun}} to its floor schedule for the following day on {{bill.senate_floor_schedule_postdate|date}}.</p>{% endif %}
					{% if not bill.current_status in BILL_STATUS_INTRO %}
						<p><b>Status: </b>{{bill.current_status_description}}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		
		<div class="col_6">
		<p>Here is a breakdown of all {{total|intcomma}} bills and resolutions currently before Congress:</p>
			
		{% for name, descr1, descr2, href, count, queryset in groups %}
		{% if count > 0 %}
			<h4 style="margin-top: 2em; margin-bottom: .5em">{{name}}</h4>
			
			{% if 10 > count %}
				<p>There are {{count|intcomma}} {{descr1}}{{descr2}}:</p>
		
				<ul>
				{% for bill in queryset %}
					<li>
						<div><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:20}}</a></div>
						<div style="margin-bottom: .5em">{{bill.current_status_description}}</div>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>There are <a href="{{href}}">{{count|intcomma}} {{descr1}}</a>{{descr2}}.</p>
			{% endif %}
		{% endif %}
		{% endfor %}
		</div>		
	</div>
	
	<div>
		<h2 style="margin: 1em 0 .5em 0">Browse Bills by Subject</h2>
		<p>Use the Library of Congress&rsquo;s subject categorization of bills and resolutions to explore pending legislation in Congress.</p>
		<ul id="subject_list">
		{% for topterm, subterms in subjects %}
			<li style="margin-bottom: .33em">
				<div><a href="{{topterm.get_absolute_url}}">{{topterm.name}}</a> <span>(<a href="#">narrow topic...</a>)</span></div>
				<ul class="bullets">
					{% for subterm in subterms %}
						<li><a href="{{subterm.get_absolute_url}}">{{subterm.name}}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
	
	<div>
		<h2 style="margin: 1em 0 .5em 0">Search Bills and Resolutions</h2>
		<p style="width: 600px">Search for bills using the search box at the top right of every page, or use the <a href="/congress/bills/browse">advanced search</a> to screen by status, subject, and other factors.</p>
		
		<h2 style="margin: 1em 0 .5em 0">Track Legislative Events</h2>
		<p style="width: 600px">Use these pages to subscribe to email updates to track bills and resolutions in Congress.</p>
		<ul class="bullets">
			<li><a href="/events/introduced-bills">Introduced Bills</a></li>
			<li><a href="/events/enacted-bills">Enacted Bills</a></li>
			<li><a href="/events/major-bill-activity">All Major Activity</a></li>
			<li><a href="/events/bill-activity">All Major Activity with Introductions</a></li>
			<li><a href="/events/coming-up">Coming Up</a></li>
		</ul>
	
	</div>	
</div>

<script>$("ul.tabs").tabs("div.panes > div");</script>




{% endblock %}
