{% extends "master_a.html" %}
{% load humanize %}
{% load govtrack_utils %}

{% block title %}{{bill.title_no_number}} ({% if not bill.is_current %}{{bill.current_status_date|date:"Y"}}; {{bill.congress|ordinal}} Congress {% endif %}{{bill.display_number_no_congress_number}}) - GovTrack.us{% endblock %}

{% block meta_description %}{% if not bill.is_current %}{{bill.current_status_date}}. {% endif %}{{bill.display_number}}. {% if subtitle %}{{subtitle}}{% endif %} In GovTrack.us, a database of bills in the U.S. Congress.{% endblock %}
{% block meta_keywords %}U.S. Congress,Congress,legislation,bill{% for term in bill.terms.all %}{% if 10 > forloop.counter %},{{term}}{% endif %}{% endfor %},law{% endblock %}

{% block og_image %}
	{% if text_info.has_thumbnail %}
		<meta property="og:image" content="http://www.govtrack.us{{bill.get_absolute_url}}/thumbnail?aspect=1"/>
		<meta property="og:image:secure_url" content="https://www.govtrack.us{{bill.get_absolute_url}}/thumbnail?aspect=1"/>
		<meta property="twitter:image:src" content="https://www.govtrack.us{{bill.get_absolute_url}}/thumbnail?aspect=.75"/>
	{% else %}
		<meta property="og:image" content="http://www.govtrack.us/static/images/media_icon.png?20130118" />
		<meta property="og:image:secure_url" content="https://www.govtrack.us/static/images/media_icon.png?20130118" />
		<meta property="twitter:image:src" content="https://www.govtrack.us/static/images/media_icon.png?20130118" />
	{% endif %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{bill.title}}">
	<meta name="twitter:description" content="{{subtitle}}">
{% endblock %}

{% block head %}
	<meta property="og:title" content="{{bill.title_no_number}} ({% if not bill.is_current %}{{bill.current_status_date|date:"Y"}} - {% endif %}{{bill.display_number_no_congress_number}})" />
	<meta property="og:description" content="{% if subtitle %}{{subtitle}}{% else %}A {{bill.noun}} in the U.S. Congress.{% endif %}" />
	<meta property="og:url" content="https://www.govtrack.us{{bill.get_absolute_url}}" />
	<meta property="og:type" content="og_govtrack:bill">
{% endblock %}

{% block body_scripts %}
<script>
    $('#event_subscribe_inline_container').html(the_page.events_subscribe_button);
    
	// customization based on user's district
	var sponsor = {{ bill.sponsor_role.simple_record|json }};
	var cosponsors = [{% for cosp in bill.cosponsor_records %}{{cosp.role.simple_record|json}}{% if not forloop.last %}, {% endif %}{% endfor %}];
	var major_votes = [];
	{% for v in bill.votes.all %}
		{% if v.is_major %}
			major_votes.push({ date: "{{v.created|date}}", mocs: {{v.simple_record|json}} });
		{% endif %}
	{% endfor %}

	onUserDistrictChanged(function (cong_dist, mocs) {
		var text = "";
		if (cong_dist) {
			var s = moc_record_matches_user(sponsor, cong_dist, mocs);
			if (s)
				text += s + " is the sponsor. ";
			for (var i = 0; i < cosponsors.length; i++) {
				var c = moc_record_matches_user(cosponsors[i], cong_dist, mocs);
				if (c)
					text += c + " is a cosponsor. ";
			}
			for (var i = 0; i < major_votes.length; i++) {
				var t = [];
				for (var j = 0; j < major_votes[i].mocs.length; j++) {
		            var v = moc_record_matches_user(major_votes[i].mocs[j].moc, cong_dist, mocs);
		            if (v) {
	 		            v = v.replace(/^Your /, "your ");
		                t.push(v + "voted " + major_votes[i].mocs[j].vote);
		            }
				}
				if (t.length > 0) {
					text += "On " + major_votes[i].date + " " + t.join(" and ") + ". ";
				}
			}
		}
		$('#yourreps').toggleClass('hidden', text=="");
		$('#yourreps').text(text);
	});
</script>
{% endblock %}

{% block extra_css %}
<!-- bid:{{bill.id}} -->
<style>

.minor_vote {
	display: none;
}

#action-panel h1 { font-size: 20px; }
#action-panel h2 { font-size: 16px; }

.dl-horizontal dd {
	padding-bottom: .33em;
}
.dl-horizontal dd a {
	font-weight: bold;
}

#prognosis_factors p span, #prognosis_factors .key { color: #777; font-family: Arial, Helvetica, sans-serif;}

#call_congress_positions button {
	display: inline-block;
	margin-top: .75em;
	margin-left: 2em;
	padding: 8px;
	font: 18px/24px Ubuntu, Verdana, Tahoma, Arial, sans-serif;
	text-align: center;
}
	#call_congress_positions button span {
		display: block;
		font-size: 42px;
		margin-top: 10px;
	}
		#call_congress_positions button.support span { color: green; }
		#call_congress_positions button.oppose span { color: red; }

p#yourreps {
	margin: 0;
	font-style: italic;
}

#status-row-grid {
	margin: 1.75em 0;
}
#status-row-grid > div.status-item {
	text-align: center;
}
#status-row-grid .status-item .arrow {
	margin-left: -35px;
	width: 35px;
	height: 88px;
	background-image: url(/static/images/status_icons_arrow.png);
}
	#status-row-grid .status-item .date {
		font-size: 80%;
		text-transform: uppercase;
	}
	#status-row-grid .status-item .vote {
        line-height: 100%;
	}
	#status-row-grid .status-item .status-label {
		line-height: 105%;
	}
	@media (min-width: 1200px) {
		#status-row-grid .status-item .arrow {
			margin-left: -45px;
		}
	}
#status-row-grid .img {
	width: 132px;
	height: 88px;
	margin: 4px auto;
	background-image: url(/static/images/status_icons.png);
}
	#status-row-grid .img.status_introduced { }
	#status-row-grid .img.status_reported { background-position: -132px 0; }
	#status-row-grid .img.status_pass_over_house,
	#status-row-grid .img.status_pass_over_senate,
	#status-row-grid .img.status_passed_simpleres,
	#status-row-grid .img.status_passed_constamend,
	#status-row-grid .img.status_passed_concurrentres,
	#status-row-grid .img.status_passed_bill,
	#status-row-grid .img.status_pass_back_house,
	#status-row-grid .img.status_pass_back_senate,
	#status-row-grid .img.status_conference_passed_house,
	#status-row-grid .img.status_conference_passed_senate,
	#status-row-grid .img.status_override_pass_over_house,
	#status-row-grid .img.status_override_pass_over_senate
	 { background-position: -264px 0; }
	#status-row-grid .img.status_prov_kill_suspensionfailed,
	#status-row-grid .img.status_prov_kill_cloturefailed,
	#status-row-grid .img.status_prov_kill_pingpongfail,
	#status-row-grid .img.status_fail_originating_house,
	#status-row-grid .img.status_fail_originating_senate,
	#status-row-grid .img.status_fail_second_house,
	#status-row-grid .img.status_fail_second_senate,
	#status-row-grid .img.status_vetoed_override_fail_originating_house,
	#status-row-grid .img.status_vetoed_override_fail_originating_senate,
	#status-row-grid .img.status_vetoed_override_fail_second_house,
	#status-row-grid .img.status_vetoed_override_fail_second_senate
	 { background-position: -398px 0; }
	#status-row-grid .img.status_schedule_house,
	#status-row-grid .img.status_schedule_senate
	 { background-position: -530px 0; }
	#status-row-grid .img.status_prov_kill_veto,
	#status-row-grid .img.status_vetoed_pocket
	 { background-position: -662px 0; }
	#status-row-grid .img.status_enacted_signed
	 { background-position: -794px 0; }
	#status-row-grid .img.status_enacted_veto_override,
	#status-row-grid .img.status_enacted_tendayrule
	 { background-position: -924px 0; }
#status-row-grid .pending {
	color: #BBB;
}
	#status-row-grid .pending .img {
		opacity: .3;
	}
#status-row-grid .related-bill-text { display: none; }
#status-row-grid .related-bill {
	color: #777;
}
	#status-row-grid .related-bill .related-bill-text {
		display: block;
		position: relative;
		top: -.75em;
		color: #777;
		font-size: 90%;
		background-color: white; /* ensure can be seen over image */
	}
</style>
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="{% url "congress_home" %}">Congress</a></li>
	<li><a href="/congress/bills">Bills</a></li>
</ul>
{% endblock %}

{% block body_class %}bill{% endblock %}

{% block summary %}

	<div class="h1-multiline" style="border: none">
	<h1 class="long" style="max-height: 3.5em; overflow: hidden;">{{bill.display_number_no_congress_number}}{% if not bill.is_current%} ({{bill.congress|ordinalhtml}}){% endif %}: {{bill.title_no_number}}</h1>
			<p id="h1_overflow"></p>
			<script>$('h1').truncate_text(function (remaining, chopped) {
			    if (chopped) $('#h1_overflow').text("..." + chopped);
			});</script>
	</div>

	<div class="panel panel-default">
	<div class="panel-body">
	<div class="row">
	<div id="track_panel_base" class="{% if bill.is_alive %}col-md-8{% else %}col-sm-12{% endif %}">
		<div class="info" style="{% if not bill.is_alive %}width: auto; {% endif %}background: none;">
		
			{% if bill.explanatory_text or bill.congress < 93 %}
			<p style="font-style: italic">
				{% if bill.explanatory_text %}{{bill.explanatory_text}}{% endif %}
				{% if bill.congress < 93 %}
					Limited information is available for bills and resolutions introduced before 1973 (the 93<sup>rd</sup> Congress).
				{% endif %}
			</p>
			<hr>
			{% endif %}
			
			<dl class="dl-horizontal">
				{% if bill.source != "statutesatlarge" %}
					<dt>Introduced:</dt>
					<dd><p><strong>{{bill.introduced_date}}</strong>
						{% if not bill.is_alive %}<br>{{bill.congress|ordinalhtml}} Congress, {{congressdates.0|date:"Y"}}&ndash;{{congressdates.1|date:"Y"}}{% endif %}</p></dd>
				{% else %}
					{# from the SaL, the introduced date is not known #}
					<dt>Introduced:</dt>
					<dd><p>{{bill.congress|ordinalhtml}} Congress ({{congressdates.0|date:"Y"}}&ndash;{{congressdates.1|date:"Y"}})</p></dd>
				{% endif %}

				{% if bill.source != "americanmemory" %}
				<dt>Status:</dt>
				<dd>
					{% if bill.source == "statutesatlarge" and bill.noun == "bill" %}
						<p>Enacted on {{bill.current_status_date}}</p>
					{% elif bill.source == "statutesatlarge" and bill.noun == "resolution" %}
						<p>Enacted or Agreed to on {{bill.current_status_date}}</p>
					{% elif not dead %}
						<p><strong>{{bill.get_current_status_display}}</strong>
						on <strong>{{bill.current_status_date}}</strong></p>
						<p>{{bill.current_status_description}}</p>

						{% if bill.docs_house_gov_postdate and bill.docs_house_gov_postdate.date > bill.current_status_date %}
						<p><span class="glyphicon glyphicon-calendar"> </span> The House Majority Leader indicated on {{bill.docs_house_gov_postdate|date:"DATE_FORMAT"}} that this {{bill.noun}} may be considered in the week ahead.</p>
						{% endif %}
						
						{% if bill.senate_floor_schedule_postdate and bill.senate_floor_schedule_postdate.date > bill.current_status_date %}
						<p><span class="glyphicon glyphicon-calendar"> </span> Added to the <strong>Senate&rsquo;s floor schedule</strong> for the next legislative day on {{bill.senate_floor_schedule_postdate|date:"DATE_FORMAT"}}.</p>
						{% endif %}
					
						{% if bill.get_upcoming_meetings|length %}
							<p>This {{bill.noun}} is scheduled for the following committee meetings:
							{% for m in bill.get_upcoming_meetings %}
								<br>{{m.when}} &mdash; {{m.committee.fullname}}
							{% endfor %}
							</p>
						{% endif %}

					{% else %}
						<div><strong>Died in a previous Congress</strong></div>
						<p style="margin-top: .25em">{{bill.current_status_description}}</p>
					{% endif %}
				</dd>
				{% endif %}

				{% with bill.slip_law_number as sln %}
				{% if sln %}
					<dt>Law:</dt>
					<dd><p>{{bill.slip_law_number}}</p></dd>
				{% endif %}
				{% endwith %}

				{% if bill.sponsor %}
				<dt>Sponsor:</dt>
				<dd>
					{% if bill.sponsor.has_photo %}
						<div style="float: left; margin-right: 9px; max-width: 65px; margin-bottom: .5em">
							<a href="{{bill.sponsor.get_absolute_url}}">
								<img src="/data/photos/{{bill.sponsor.id}}-100px.jpeg" title="{{bill.sponsor.name_no_details}}" class="img-responsive" style="border: 1px solid #999"/>
							</a>
						</div>
					{% endif %}
					<div>
						<p><a class="name" href="{{bill.sponsor.get_absolute_url}}">{{bill.sponsor.name_no_details}}</a></p>
						<p class="small">{{bill.sponsor_role.get_description}}</p>
						<p class="small">{{bill.sponsor_role.party}}</p>
					</div>
					<div style="clear: both"></div>
				</dd>
				{% endif %}

				{% if text_info %}
				<dt>Text:</dt>
				<dd>
					{% if text_info.has_displayable_text %}
						{% if text_info.has_thumbnail %}
						<div style="float: left; margin-right: 9px; max-width: 65px; margin-bottom: .5em">
							<a href="{{bill.get_absolute_url}}/text">
								<img src="{{bill.get_absolute_url}}/_text_image" class="img-responsive" title="Bill Text" style="border: 1px solid #999;"/>
							</a>
						</div>
						{% endif %}
						<p>
							<a href="{{bill.get_absolute_url}}/text">Read Text &raquo;</a>
							<small><br>Last Updated: {{text_info.docdate}}
							{% if text_info.numpages %}
							<br>Length: {{text_info.numpages}}
							{% endif %}
							</small>
						</p>
						<div style="clear: both"></div>
					{% else %}
						<p><a href="{{text_info.gpo_pdf_url}}">Read Text &raquo;</a> (PDF; {{text_info.docdate}})</p>
					{% endif %}
				</dd>
				{% endif %}

				{% with bill.get_prognosis as p %}
				{% if p and bill.is_alive %}
				<dt>Prognosis:</dt>
				<dd>
					<p>{{p.prediction|floatformat:0}}% chance of being {{p.success_name}}</p>
				</dd>
				{% endif %}
				{% endwith %}
				
				{% with reintro_as=reintros.1 related_newer=bill.get_related_bills_newer %}
					
				{% if reintro_as %}
					<dt>See Instead:</dt>
					<dd><p>This bill was re-introduced as <a href="{{reintro_as.get_absolute_url}}">{{reintro_as.display_number}}</a> on {{reintro_as.introduced_date}}.
					{% if reintro_as.is_alive %}See <a href="{{reintro_as.get_absolute_url}}">{{reintro_as.display_number}}</a> for current action on this subject.{% endif %}</p></dd>
					
				{% elif related_newer %}
					<dt>See Instead:</dt>
					<dd>
					{% for rb in related_newer %}
						<p>
							<a href="{{rb.related_bill.get_absolute_url}}">{{rb.related_bill.display_number_no_congress_number}}</a>
							(same title)
							<br/>{{rb.related_bill.get_current_status_display}} &mdash; {{rb.related_bill.current_status_date|date}}
						</p>
					{% endfor %}
					</dd>
					
				{% endif %}
				
				{% endwith %}
				
				{% if bill.source == "statutesatlarge" %}
				<dt>Source:</dt>
				<dd>
					<p><a href="{{text_info.gpo_url}}">GPO FDSys &ndash; United States Statutes at Large</a></p>
				</dd>
				{% elif bill.source == "americanmemory" %}
				<dt>Source:</dt>
				<dd>
					<p><a href="{{bill.source_link}}">American Memory Century of Lawmaking</a>
					<br/>(Click for scanned images of the {{bill.noun}}&rsquo;s text.)</p>
				</dd>
				{% endif %}
			</dl>

			<p id="yourreps" class="hidden"></p>
			
			{% with bill.oursummary as summary %}
			{% if summary %}
				<p style="margin: 1em 0 0 0">
					{{summary.plain_text|truncatewords:30}}
					(<a href="{{bill.get_absolute_url}}/summary">more summary</a>)</p>
			{% endif %}
			{% endwith %}
			
		</div><!-- /info -->
		
	</div>
	
	{% if bill.is_alive %}
	<div class="aside col-md-4" style="margin-top: 15px">
		<script>function show_track_panel() { return false; } /* default impl before script loaded */</script>
		<a href="#" class="track-btn" onclick="return show_track_panel();">Track this bill</a>
		<div id="event_subscribe_inline_container"> </div>
		
		<div id="action-button" style="display: none; margin: 12px 0;">
			<a class="push-btn yellow-btn"  href="#" onclick="$('#action-panel').modal(); ga('send', 'event', 'bill-action', 'what-can-i-do'); return false;">
				<span class="icon-speech-bubble-round-dots" style="color: #020"></span>
				<span style="text-shadow: none; margin-left: 3px; text-transform: none">Call Congress</span>
			</a>
		</div>
		<script>if (the_segment != "House" && the_segment != "Senate") $('#action-button').show();</script>

		<div class="modal fade" id="action-panel" tabindex="-1" role="dialog" aria-labelledby="actionPanelModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="actionPanelModalLabel">Call Congress</h4>
		      </div>
		      <div class="modal-body">
				<script>
					function do_poll(posid) {
						window.location = "{% url "bill_start_poll" %}?bill={{bill.id}}&position=" + posid;
					}
				</script>

				<div id="call_congress_positions">
					<p style="margin-bottom: 1em">A phone call to Congress is an effective way to let your voice be heard. We&rsquo;ll walk you through the whole thing. How do you feel about {{bill.display_number}}?</p>
					<button onclick="do_poll('support');" class="support">
						<div>I support {{bill.display_number}}</div>
						<span class="icon-thumbs-up-filled"></span>
					</button>
					<button onclick="do_poll('oppose');" class="oppose">
						<div>I oppose {{bill.display_number}}</div>
						<span class="icon-thumbs-down-filled"></span>
					</button>
				</div>
				<div id="call_congress_position_chosen" style="display: none;">
					<p style="margin-bottom: .5em;">You chose: <span style="font-weight: bold"/></p>
					<button id="change_position" onclick="$('#call_congress_positions').show(); $('#call_congress_position_chosen').hide();" style="margin-bottom: .5em">Change Position &nbsp; ▶</button>
					<button id="make_call" onclick="window.location = the_page.poll_and_call_position.call_url;" style="margin-bottom: .5em">Call Congress &nbsp; ▶</button>
					<div id="submission_status" style="display: none">
						Hello!
					</div>
				</div>
				<script>
				if (the_page && the_page.poll_and_call_position) {
					var p = the_page.poll_and_call_position;
					$('#call_congress_positions').hide();
					$('#call_congress_position_chosen').show();
					$('#call_congress_position_chosen span').text(p.text);
					$('#change_position').toggle(p.can_change);
					$('#make_call').toggle(p.can_call.length > 0);
				}
				</script>				
		      </div>
		    </div>
		  </div>
		</div>		

				
	</div><!-- /actions -->
	{% endif %}
</div> <!-- /row -->
</div> <!-- /panel-body -->
</div> <!-- /panel -->

	<div id="admin_panel"> </div>
	<script>if (the_page.admin_panel) $('#admin_panel').html(the_page.admin_panel);</script>
{% endblock %}

{% block body %}
		<h2><span>About the {{bill.noun}}</span></h2>

		<div class="row">

		  	{% if subtitle or bill.source == "thomas-congproj" %}
			<div class="col-sm-6 col-md-7">
			<dl>
					{% if subtitle %}
						<dt>Full Title</dt>
						<dd><p>{{subtitle}}</p></dd>
					{% endif %}

					{% with bill.oursummary as summary1 %}
					{% with bill.get_formatted_summary as summary2 %}
					{% if summary1 and summary2 and subtitle %}
						<p><a href="{{bill.get_absolute_url}}/summary">Read summary (GovTrack/CRS) &gt;</a></p>
					{% elif summary1 and subtitle %}
						<p><a href="{{bill.get_absolute_url}}/summary">Read GovTrack summary &gt;</a></p>
					{% elif summary2 and subtitle %}
						<p><a href="{{bill.get_absolute_url}}/summary">Read CRS summary &gt;</a></p>
					{% elif summary1 %}
						<dt>Summary</dt>
						<dd>
							{{summary1.as_html|truncatewords_html:60|safe}}
							<p style="margin-top: -.75em"><a href="{{bill.get_absolute_url}}/summary">Read more &gt;</a></p>
						</dd>
					{% elif summary2 %}
						<dt>Summary (CRS)</dt>
						<dd>
							{{summary2|striptags|truncatewords:30|safe}}
							<a href="{{bill.get_absolute_url}}/summary">Read more &gt;</a>
						</dd>
					{% endif %}
					{% endwith %}
					{% endwith %}
			</dl>
			</div>
		  	{% endif %}

				{% if related|length > 0 %}
				<div class="col-sm-6 col-md-5" style="line-height: 125%">
					<dt style="margin-bottom: .5em">Related Bills</dt>

					{% if bill.noun == 'bill' %}
					<p>Legislative action may be ocurring on one of these bills in lieu of or in parallel to action on this {{bill.noun}}.</p>
					{% endif %}

					{% for rb in related %}
						{% if forloop.counter == 3 %}
						<div style="text-align: center; font-size: 90%;">
							<a id="related_bills_additional_more" href="#">show {{forloop.revcounter}} more</a>
						</div>
						<div id="related_bills_additional" style="display: none">
						{% endif %}

						<div>
							<div style="position: absolute; padding-top: 2px;">
								<a href="{{rb.bill.get_absolute_url}}">
									<img src="{{rb.bill.get_absolute_url}}/thumbnail?width=75" class="img-responsive" title="{{rb.bill}}" style="border: 1px solid #999;" width="75"/>
								</a>
							</div>
							<div style="padding-left: 90px; min-height: 90px;">
								{% if rb.prenote %}{{rb.prenote}}{% endif %}
								<a href="{{rb.bill.get_absolute_url}}">
									{% if rb.bill.congress == bill.congress %}
										{{rb.bill.display_number_no_congress_number}}{% else %}
										{{rb.bill.display_number_with_congress_number}}{% endif %}</a>
								{% if rb.note %}{{rb.note}}{% endif %}
								{% if rb.show_title %}<div style="font-size: 85%;">{{rb.bill.title_no_number|truncatewords:14}}</div>{% endif %}
								<p style="font-size: 85%; margin: .5em 0 .75em 0;">
									{{rb.bill.get_current_status_display}}<br/>
									{% if not rb.bill.is_final_status %}Last Action: {% endif %}{{rb.bill.current_status_date|date}}
								</p>
							</div>
							<div style="clear: both"></div>
						</div>

						{% if forloop.last and forloop.counter >= 3 %}
							<div style="text-align: center; font-size: 90%;">
								<a id="related_bills_additional_less" href="#">show less</a>
							</div>
						</div> <!-- /hidden box -->
						{% endif %}
					{% endfor %}
				</div>
				<script>$('#related_bills_additional').moreLess()</script>
				{% endif %}

		</div>
		<div class="row">
			<div class="col-md-6">
				<dl>
					<dt>What is a {{bill.noun}}?</dt>
					<dd>
						<p>The &ldquo;{{bill.get_bill_type_display}}&rdquo; in &ldquo;{{bill.display_number_no_congress_number}}&rdquo; means this is a {{bill.bill_type_name}} in the United States Congress. {{bill.how_a_bill_text}}</p>
						{% if not bill.is_success %}<p>The {{bill.noun}}&rsquo;s title was written by its sponsor.</p>{% endif %}
					</dd>
				</dl>
			</div>
		</div> <!-- /row -->

		{% if bill.source == "thomas-congproj" %}
			<h2><span>History</span></h2>

			{% if current or bill.get_major_events|length > 0 %}
				<div id="status-row-grid" class="row">
					{% for item in bill.get_major_events %}
						{% if forloop.counter0|divisibleby:3 %}<div class="clearfix visible-xs"></div>{% endif %}
						{% if forloop.counter0|divisibleby:4 %}<div class="clearfix visible-sm"></div>{% endif %}
						{% if forloop.counter0|divisibleby:6 %}<div class="clearfix visible-md"></div> <div class="clearfix visible-lg"></div>{% endif %}

						<div class="status-item col-xs-4 col-sm-3 col-md-2 {% if not item.date %}pending{% endif %} {% if item.bill %}related-bill{% endif %}"
							{% if not item.bill %}data-content="{{item.explanation}}"{% endif %}
							{% if item.bill %}data-content="This activity took place on a related bill, possibly in lieu of similar activity on {{bill.display_number}}."{% endif %}
							>
							{% if item.vote_link and not item.bill %}<a href="{{item.vote_link}}">{% endif %}
							<div class="img status_{{item.key}}">
								{% if item.bill %}<div class="related-bill-text">{{item.relation}}</div>{% endif %}
								{% if not forloop.first %}<div class="arrow"> </div>{% endif %}
							</div>
							{% if item.vote_link and not item.bill %}</a>{% endif %}

							<div class="status-label" title="{{item.actionline}}" {% if item.date %}style="font-weight: bold"{% endif %}>
								{% if item.bill %}<div>{{item.bill.display_number}}</div>{% endif %}
								{{item.label}}
							</div>
							{% if item.date %}<div class="date">{{item.date|date:"DATE_FORMAT"}}</div>{% endif %}

							{% if item.vote_link %}<a href="{{item.vote_link}}"><div class="vote">View Vote Result &raquo;</div></a>{% endif %}
							{% if item.vote_text %}<div class="vote"><small>Vote was {{item.vote_text}} so no record of individual votes was made.</small></div>{% endif %}
						</div>
					{% endfor %}
				</div>
				<script>
				$(function() {
					$('#status-row-grid .status-item').popover({ placement: 'bottom', trigger: 'hover' });
				})
				</script>
			{% endif %}
		{% endif %}

		<h2><span>Details</span></h2>

		<div class="row">
				{% if bill.congress >= 93 %}
				<div class="col-sm-6 col-md-4">
					<dl>
						<dt>Cosponsors</dt>
						<dd>
							{% if bill.cosponsor_count == 0 %}
								none
							{% else %}
								<div title="{% for party, count in bill.cosponsor_counts_by_party %}{{count}} {{party}}s{% if not forloop.last %}, {% endif %}{% endfor %}">
								{{bill.cosponsor_count}} cosponsors ({% for party, count in bill.cosponsor_counts_by_party %}{{count}}{{party.0}}{% if not forloop.last %}, {% endif %}{% endfor %})
								(<a href="#" onclick="if (!$('#cosponsors').is(':visible')) $('#cosponsors').slideDown(); else $('#cosponsors').slideUp(); return false;">show</a>)
								</div>
								<div id="cosponsors" style="display: none">
									{% for cosp in bill.cosponsor_records %}
									<div><a href="{{cosp.person.get_absolute_url}}">{{cosp.person_name}}</a></div>
									{% with cosp.details as cosp_details %}
										{% if cosp_details %}
											<div style="margin-left: 1.5em; font-size: 85%">({{cosp_details}})</div>
										{% endif %}
									{% endwith %}
									{% endfor %}
								</div>
							{% endif %}
						</dd>
					</dl>
				</div>
				{% endif %}

				{% if bill.committees.exists %}
				<div class="col-sm-6 col-md-4">
					<dl>
						<dt>Committee Assignments</dt>
						<dd>
							{% for c in bill.committees.all %}
								{% if not c.committee %}
									<div><a href="{{c.get_absolute_url}}">{{c|cut:"Committee on the "|cut:"Committee on "}}</a></div>
									{% for s in bill.committees.all %}
										{% if s.committee == c %}
											<div style="margin-left: 1em">
												<span style="color: #666">↪</span>
												<a href="{{s.get_absolute_url}}">{{s.name_no_article}}</a>
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
							<p class="small" style="margin: 1em 0 0 0">The committee chair determines whether a {{bill.noun}} will move past the committee stage.</p>
						</dd>
					</dl>
				</div>
				{% endif %}

			<div class="col-sm-6 col-md-4">
				<dl>
					<dt>Votes</dt>
					<dd>
						{% if bill.votes.exists %}
							{% for v in bill.votes.all %}
							<div class="{% if v.is_major %}major_{% else %}minor_{% endif %}vote" style="margin-bottom: 1em">
								<div><a href="{{v.get_absolute_url}}">
									{% if v.is_on_passage %}
										{{v.get_chamber_display}} Vote on Passage
									{% elif v.is_major %}
										{{v.get_chamber_display}}: {{v.vote_type}}
									{% else %}
										{{v}}
									{% endif %}
								</a></div>
								<div style="font-size: 90%">
								{% if v.is_on_passage and v.vote_type != "On Passage of the Bill" and v.vote_type != "On the Resolution" %}{{v.vote_type}}<br/>{% endif %}
								{{v.created}}<br/>
								{{v.summary}}
								</div>
								</div>
							{% endfor %}
							<p id="more_votes" style="display: none; font-style: italic;"><a href="#" onclick="return show_all_votes();">Show <span class='num'> </span> <span class='desc'> </span> vote(s)...</a><p>
							<p id="fewer_votes" style="display: none"><a href="#" onclick="return hide_minor_votes();">Hide minor vote(s)...</a><p>
							<script>
							var minor_votes = $('.minor_vote');
							if (minor_votes.length > 0) {
								$('#more_votes').show();
								$('#more_votes').find('span.num').text(minor_votes.length);
								$('#more_votes').find('span.desc').text($('.major_vote').length == 0 ? "" : "additional");
							}
							function show_all_votes() {
								$('.minor_vote').fadeIn();
								$('#more_votes').hide();
								$('#fewer_votes').show();
								return false;
							}
							function hide_minor_votes() {
								$('.minor_vote').fadeOut();
								$('#more_votes').show();
								$('#fewer_votes').hide();
								return false;
							}
						</script>
					{% else %}
						{% if bill.source == "thomas-congproj" %}
							<p>There have been no votes related to this {{bill.noun}}.</p>
						{% else %}
							<p>No votes are known for this {{bill.noun}}. Vote information is limited in historical data.</p>
						{% endif %}
					{% endif %}
					</dd>
				</dl>
			</div>
		</div> <!-- row -->


		{% if bill.source != "americanmemory" %}
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<dl>
						<dt>Subject Areas</dt>
						<dd>
							{% if bill.get_terms_sorted|length = 0 %}
								<p>None known at this time.</p>
							{% else %}
							<div>
							{% for term in bill.get_terms_sorted %}
								{% if forloop.counter == 5 %}
									<div><a id="subjects_additional_more" href="#" style="font-style: italic">show {{forloop.revcounter}} more</a></div>
									<div id="subjects_additional" style="display: none">
								{% endif %}

								<div><a {% if term.is_top_term %}style="font-weight: bold"{% endif %} href="{{term.get_absolute_url}}?congress={{bill.congress}}">{{term}}</a></div>

								{% if forloop.last and forloop.counter >= 5 %}
									<div><a id="subjects_additional_less" href="#" style="font-style: italic">show less</a></div>
									</div> <!-- /hidden box -->
								{% endif %}
							{% endfor %}
							</div>
							<script>$('#subjects_additional').moreLess()</script>
							{% endif %}
						</dd>
					</dl>
			</div>

			<div class="col-sm-6 col-md-4">
				<dl>
					<dt>Find Similar Bills</dt>
					<dd>
						<p>Search for <a href="/congress/bills/browse?congress={{bill.congress}}#similar_to={{bill.get_bill_type_display}}{{bill.number}}/{{bill.congress}}">similar bills</a>.</p>
					</dd>
				</dl>
			</div>

			{% with bill.get_prognosis as p %}
			{% if p %}
			<div class="col-sm-6 col-md-4">
					<dl>
						<dt>Prognosis</dt>
						<dd>
							{% if p.is_introduced %}
								<p><b>
								{{p.prediction_1|floatformat:0}}%</b> chance of getting past committee.<br/>
								<b>{{p.prediction|floatformat:0}}%</b> chance of being {{p.success_name}}.</p>
								<p class="small">{% if 40 > p.success_rate_1 %}Only {% endif %}{{p.success_rate_1|floatformat:0}}% of {{p.bill_type_descr}} made it past committee
								and {% if 40 > p.success_rate %}only {% endif %} about {{p.success_rate|floatformat:0}}% were {{p.success_name_2}}
								in {{p.congressdates.0|date:"Y"}}&ndash;{{p.congressdates.1|date:"Y"}}.
							{% else %}
								<p><b>{{p.prediction|floatformat:0}}%</b> chance of being {{p.success_name}}.</p>
								<p class="small">{% if 40 > p.success_rate_2 %}Only about {% endif %}{{p.success_rate_2|floatformat:0}}% of {{p.bill_type_descr}} that made it past committee in {{p.congressdates.0|date:"Y"}}&ndash;{{p.congressdates.1|date:"Y"}} were {{p.success_name_2}}.
							{% endif %}

							[{% if p.factors_help_help or p.factors_hurt_hurt or p.factors_help_hurt or p.factors_hurt_help %}<a href="#" onclick="$('#prognosis_factors').slideToggle(); return false;">show factors</a> | {% endif %}<a href="/about/analysis#prognosis">methodology</a>]
							</small></p>
							
							<div id="prognosis_factors" style="display: none; margin-top: 1em;">
							<p style="margin-bottom: .5em">The following factors determined this {{bill.noun}}&rsquo;s prognosis:</p>

							{% if p.factors_help_help %}
							{% for factor in p.factors_help_help %}
								<p class="small" style="margin: .25em 1em .25em 1em;">{{factor}} <span>▲</span></p>
							{% endfor %}
							{% endif %}
							
							{% if p.factors_hurt_hurt %}
							{% for factor in p.factors_hurt_hurt %}
								<p class="small" style="margin: .25em 1em .25em 1em;">{{factor}} <span>▼</span></p>
							{% endfor %}
							{% endif %}
							
							{% if p.factors_help_hurt %}
							{% for factor in p.factors_help_hurt %}
								<p class="small" style="margin: .25em 1em .25em 1em;">{{factor}} <span>▲▼</span></p>
							{% endfor %}
							{% endif %}
							
							{% if p.factors_hurt_help %}
							{% for factor in p.factors_hurt_help %}
								<p class="small" style="margin: .25em 1em .25em 1em;">{{factor}} <span>▼▲</span></p>
							{% endfor %}
							{% endif %}

							<p class="small key">Key:
								{% if p.factors_help_help %}▲ Correlated with successful bills.{% endif %}
								{% if p.factors_hurt_hurt %}▼ Correlated with unsuccessful bills.{% endif %}
								{% if p.factors_help_hurt %}▲▼ Correlated with {{bill.noun}}s that get past committee but are not enacted.{% endif %}
								{% if p.factors_hurt_help %}▲▼ Correlated with {{bill.noun}}s that don&rsquo;t get past committee and with bills that are enacted.{% endif %}
								Correlation may not indicate causation.
							</p>

							</div>
						</dd>
					</dl>
			</div>
			{% endif %}
			{% endwith %}
		{% endif %}
		</div>

		<h2><span>Links &amp; tools</span></h2>

		<div class="row">
				<div class="col-sm-6 col-md-4">
					<dl>
						<dt>Primary Source</dt>
						{% if bill.congress >= 93 %}
						<dd>
							<p style="margin-bottom: .25em"><a href="{{bill.thomas_link}}">THOMAS.gov (The Library of Congress)</a></p>
							<p class="small" style="line-height: 130%">GovTrack gets most information from THOMAS, which is updated generally one day after events occur. Activity since the last update may not be reflected here. {% if bill.source == "thomas-congproj" %}Data comes via the <a href="https://github.com/unitedstates/congress">congress project</a>.{% endif %}</p>
						</dd>
						{% elif bill.source == "statutesatlarge" %}
						<dd>
							<!-- http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE -->
							<p style="margin-bottom: .25em"><a href="{{text_info.gpo_url}}">GPO FDSys &ndash; United States Statutes at Large</a></p>
							<p class="small">Historical information on bills from 1957-1972 is obtained from the Government Publishing Office&rsquo;s United States Statutes at Large publication, via the <a href="https://github.com/unitedstates/congress">congress project</a>.</p>
						</dd>
						{% elif bill.source == "americanmemory" %}
						<dd>
							<p style="margin-bottom: .25em"><a href="{{bill.source_link}}">American Memory Century of Lawmaking</a></p>
							<p class="small">Historical information on bills from 1799-1873 comes from the Library of Congress&rsquo;s American Memory Century of Lawmaking collection, via the <a href="https://github.com/unitedstates/am_mem_law">am_mem_law project</a>.</p>
						</dd>
						{% endif %}
					</dl>
				</div>

			<div class="col-sm-6 col-md-4">
				<dl>
						<dt>Widget</dt>
						<dd>
							<p><a href="{{bill.get_absolute_url}}/widget">Get a bill status widget for your website &raquo;</a></p>
						</dd>
				</dl>
			</div>

			<div class="col-sm-6 col-md-4">
						<dt>Citation</dt>
						<dd>
							<script>function show_cite(fmt) {
								var v = $("#cite_" + fmt).is(":visible");
								$('#cite_apa, #cite_mla, #cite_wikipedia').slideUp();
								if (!v) $("#cite_" + fmt).slideDown();
								return false;
							}</script>
							<p style="margin: 0">Click a format for a citation suggestion:</p>
							<ul class="list-inline">
								<li><a href="#" onclick="return show_cite('apa')">APA</a></li>
								<li><a href="#" onclick="return show_cite('mla')">MLA</a></li>
								<li><a href="#" onclick="return show_cite('wikipedia')">Wikipedia Template</a></li>
							</ul>
							<p id="cite_apa" style="display: none">Civic Impulse. ({% now "Y" %}). {{bill.display_number_no_congress_number}} &mdash; {{bill.congress|ordinal}} Congress: {{bill.title_no_number|truncatewords:15}}. Retrieved from {{request.build_absolute_uri}}</p>

							<p id="cite_mla" style="display: none">&ldquo;{{bill.display_number_no_congress_number}} &mdash; {{bill.congress|ordinal}} Congress: {{bill.title_no_number|truncatewords:15}}.&rdquo; www.GovTrack.us. {{bill.introduced_date|date:"Y"}}. {% now "F j, Y" %} &lt;{{request.build_absolute_uri}}&gt;</p>

							<p id="cite_wikipedia" style="display: none">{{cite web<br/>
							|url={{request.build_absolute_uri}}<br/>
							|title={{bill.display_number_with_congress_number}}<br/>
							|accessdate={% now "F j, Y" %}<br/>
							|author={{bill.congress|ordinal}} Congress ({{bill.introduced_date|date:"Y"}})<br/>
							|date={{bill.introduced_date|date:"F j, Y"}}<br/>
							|work=Legislation<br/>
							|publisher=GovTrack.us<br/>
							|quote={{bill.title_no_number|truncatewords:15}}<br/>
							}}</p>
						</dd>
				</dl>
			</div>

		</div> <!-- /row -->

	{% if 0 %}
	<div id="comments">
		<p style="text-align: center; font-style: italic; margin-bottom: 1em;">
			Use the comment space below for discussion of the merits of {{bill.display_number}} with other GovTrack users.<br/>
			Your comments are not read by Congressional staff.</p>
		</p>
	
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'govtrack'; // required: replace example with your forum shortname
			var disqus_identifier = '{{feed.feedname|escapejs}}';
			var disqus_title = '{{bill.display_number_with_congress_number|escapejs}}: {{bill.title_no_number|escapejs}}';
			var disqus_url = 'http://www.govtrack.us{{bill.get_absolute_url|escapejs}}';
			var disqus_loaded = false;
			function initialize_disqus() {
				if (disqus_loaded) return;
				disqus_loaded = true;
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			}
		</script>
		<noscript><a href="//disqus.com/?ref_noscript">Comments powered by Disqus</a> are not available without Javascript.</noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>    
	
	</div>
	{% endif %}
	

{% include "ad_footer_leaderboard.html" %}
		
{% if bill.congress >= 113 and 0 %}
<!-- disqus comment count, hacked from their count.js code -->
<script>
var DISQUSWIDGETS = {
	displayCount: function(obj) {
		var c = (obj && obj.counts && obj.counts.length > 0) ? obj.counts[0].comments : 0;
		var n = $('#comments_tab a');
		n.text(n.text() + " (" + c + ")");
		{% if not bill.is_alive %}if (c > 0) {% endif %}$('#comments_tab').show();
			
	}
};
</script>
<script src="//govtrack.disqus.com/count-data.js?1={{feed.feedname|urlencode}}"> </script>
{% endif %}

{% endblock %}
