{% extends "master_a.html" %}
{% load humanize %}

{% block title %}{{bill}} - GovTrack.us{% endblock %}

{% block meta_description %}
{{bill}}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/bills">Bills</a></li>
<li>{{bill.display_number}}</li>
</ul>
{% endblock %}

{% block body_class %}bill{% endblock %}

{% block summary %}
<div class="container">
	<h1>{{bill}}</h1>
	
	<div class="info">
		<p class="date">{{bill.congress|ordinal}} Congress, {{congressdates.0|date:"Y"}}&ndash;{{congressdates.1|date:"Y"}}</p>
		
		{% if subtitle %}<p>{{subtitle}}</p>{% endif %}
		
		<dl>
			<dt>Sponsor:</dt>
			<dd>
<a class="name" href="{{bill.sponsor.get_absolute_url}}">{{bill.sponsor}}</a></dd>
		
			<dt>Status:</dt>
			<dd style="line-height: normal"><strong>{{bill.get_current_status_display}}</strong><br/>
			{{bill.current_status_description}}</dd>
		</dl>
	
		
	</div><!-- /info -->
	
	<div class="actions">
		<a href="#" class="track-btn">Track this bill</a>
		
		<script src="https://www.popvox.com/widgets/js/bill.js?bill={{bill.congress}}/{{bill.bill_type_slug}}{{bill.number}}"> </script>
	</div><!-- /actions -->

</div>
{% endblock %}

{% block body %}
<div id="bill-overview" class="section">
	
	<h2>Bill Overview</h2>
		
	<div class="overview">
		<div class="holder">
			<div class="frame">
				
				<div class="container">
					<dl class="heading">
						<dt>Cosponsors:</dt>
						<dd>
							{% if bill.cosponsors.all|length == 0 %}
								none
							{% else %}
								<a href="#" onclick="if (!$('#cosponsors').is(':visible')) $('#cosponsors').slideDown(); else $('#cosponsors').slideUp(); return false;">show cosponsors ({{bill.cosponsors.all|length}})</a>
								<div id="cosponsors" style="display: none">
									{% for cosp in bill.cosponsor_records %}
									<div>{{cosp.person}} {% if cosp.joined != bill.introduced_date %}({{cosp.joined}}){% endif %} {% if cosp.withdraw %}  (withdrawn {{cosp.withdrawn}}){% endif %}</div>
									{% endfor %}
								</div>
							{% endif %}
						</dd>
					</dl>
					<dl>
						<dt>Text:</dt>
						<dd>
							<ul class="text-view">
								<!--<li><a href="#">Summary</a></li>-->
								<li><a href="{{bill.get_absolute_url}}/text">Read Bill Text</a></li>
							</ul>
						</dd>
					</dl>
				</div><!-- /container -->
				
				<div class="container">
					<dl>
						<dt>Status:</dt>
						<dd>
							<table>
								{% for item in bill.get_major_events %}
								<tr>
									<td class="done">{{item.label}}</td>
									<td>{{item.date|date:"DATE_FORMAT"}}</td>
								</tr>
								{% endfor %}
							
								{% for item in bill.get_future_events %}
								<tr>
									<td class="pending">{{item.label}}</td>
									<td>(not yet ocurred)</td>
								</tr>
								{% endfor %}
							</table>
						</dd>
					</dl>
				</div><!-- /container -->
			</div><!-- /frame -->
		</div><!-- /holder -->
	</div><!-- /overview -->
	
	
	<div class="overview last">
		<div class="holder">
			<div class="frame">
				<div class="container">
					<dl>
						<dt>Votes:</dt>
						<dd>
							{% for v in bill.votes.all %}
							<p><a href="{{v.get_absolute_url}}">{{v}}</a><br/>
								{{v.created}}. {{v.result}}.</p>
							{% endfor %}
						</dd>
					</dl>
				</div>
				{% comment %}
				<div class="container">
					<ul class="download-links">
						<li><a href="#">Download as CSV</a></li>
						<li><a href="#">Download as XML</a></li>
					</ul>
				</div>
				{% endcomment %}
			</div>
		</div>
	</div><!-- /overview -->
{% endblock %}
