{% extends 'master_a.html' %}
{% load humanize govtrack_utils %}

{% block body_class %}bills{% endblock %}

{% block title %}Summary of {{bill|truncatewords:16}} - GovTrack.us{% endblock %}

{% block meta_description %}Summary of {{bill|truncatewords:24}}{% endblock %}

{% block extra_css %}
<style>
h1 {
	border: none;
}
h3 {
	margin-top: 0;
}
</style>
{% endblock %}

{% block summary %}

{% include "bill/bill-header.html" %}

<div style="margin-top: 2em">
	<div role="tabpanel">
	  <ul id="summary-tabs" class="nav nav-pills" role="tablist">
	  </ul>
	</div>

	<div id="summary-panes" class="tab-content" style="margin-top: 1em; padding-bottom: 2em">
		<script>
		var summaries = [];
		function add_summary(name, href) {
			summaries.push([name, href]);
		}
		</script>

		<div id="oursummary" class="tab-pane postcontent" role="tabpanel">
			{% with bill.oursummary as summary %}
			{% if not summary %}
				<p>We don&rsquo;t have a summary available yet.</p>
			{% else %}
				{{summary.as_html|safe}}

				<div class="clearfix"> </div> {# because of share float to not hit border #}

				<div class="small" style="margin-top: 1em; border-top: 1px solid #666; padding-top: 1em">
					Last updated {{summary.modified|date}}.
					{% if not summary.source_text %}
					View <a href="/events/bill-summaries">all GovTrack summaries</a>.
					{% else %}
					Source: <a href="{{summary.source_url}}">{{summary.source_text}}</a>
					{% endif %}
				</div>
				<script>add_summary("{% firstof summary.source_text 'GovTrack' %}'s Summary", "oursummary");</script>
			{% endif %}
			{% endwith %}
		</div>
		
		<div id="libraryofcongress" class="tab-pane postcontent" role="tabpanel">
			{% with bill.get_formatted_summary as summary %}
			{% if not summary %}
				<p>No summary available.</p>
			{% else %}
				<p>The summary below was written by the Congressional Research Service, which is a nonpartisan division of the Library of Congress{% if summary.0 %}, and was published on {{summary.0|date}}{% endif %}.</p>
				<hr/>
				{{summary.1|safe}}
				<script>add_summary("Library of Congress", "libraryofcongress");</script>
			{% endif %}
			{% endwith %}
		</div>
		
		{% comment %}
		<div id="houserepublicans" class="tab-pane postcontent" role="tabpanel">
			<h3 style="margin-bottom: 1em">House Republican Conference Summary</h3>
			<p>The summary below was written by the <a href="http://www.gop.gov">House Republican Conference</a>, which is the caucus of Republicans in the House of Representatives.</p>
			<hr/>
			{% with bill.get_gop_summary as gopsummary %}
				{% if not gopsummary %}
					<p>No summary available.</p>
				{% else %}
					<p>This summary can be found at <a href="{{gopsummary.link}}">{{gopsummary.link}}</a>.</p>
				
					{% if gopsummary.background %}
					<h4>Background</h4>
					{{gopsummary.background}}
					{% endif %}
					
					{% if gopsummary.summary %}
					<h4>Summary</h4>
					{{gopsummary.summary}}
					{% endif %}
					
					{% if gopsummary.cost %}
					<h4>Cost</h4>
					{{gopsummary.cost}}
					{% endif %}
					
					<script>add_summary("House Republicans", "houserepublicans", "{{gopsummary.text|truncatewords:30|escapejs}}");</script>
					<script>add_summary("House Democrats", "housedemocrats", "No summary available.");</script>
				{% endif %}
			{% endwith %}
		</div>
		
		<div id="housedemocrats" class="tab-pane postcontent" role="tabpanel">
			<h3 style="margin-bottom: 1em">House Democratic Caucus Summary</h3>
			<p>The <a href="http://www.dems.gov/">House Democratic Caucus</a> does not provide summaries of bills.</p>
			<p>So, yes, we display the House Republican Conference&rsquo;s summaries when available even if we do not have a Democratic summary available. That&rsquo;s because we feel it is better to give you as much information as possible, even if we cannot provide every viewpoint.</p>
			<p>We&rsquo;ll be looking for a source of summaries from the other side in the meanwhile.</p>
		</div>
		{% endcomment %}
	</div>
</div>

{% endblock %}


{% block body_scripts %}
<script>
function add_summary(name, href, first_summary) {
	// add a sub-tab
	var tab = $('<li role="presentation"><a role="tab" data-toggle="tab"/></li>');
	tab.find('a').text(name).attr('href', '#' + href)
	$('#summary-tabs').append(tab);
	if ((first_summary && window.location.hash.length <= 1) || "#"+href==window.location.hash) {
		tab.addClass('active');
		$('#' + href).addClass('active');
		first_summary = false;
	}
	tab.find('a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	  window.location = "#" + href;
	})
}
for (var i = 0; i < summaries.length; i++) {
	add_summary(summaries[i][0], summaries[i][1], i==0);
}
</script>
{% endblock %}
