{% extends "bill/bill-pages-layout.html" %}
{% load humanize %}
{% load govtrack_utils %}

{% block body_class %}bills{% endblock %}

{% block title %}Questions for {{bill|truncatewords:16}} - GovTrack.us{% endblock %}

{% block meta_description %}Questions for {{bill|truncatewords:24}}{% endblock %}

{% block body %}

{{block.super}}

<p>This is a study guide for this {{bill.noun}}.
 Use the information on the {{bill.noun}} page to try to answer these questions.
 You should be able to answer most questions from the overview,
{% with bill.oursummary as summary1 %}
{% with bill.get_formatted_summary as summary2 %}
{% if summary1 or summary2 %} summary,{% endif %}{% endwith %}{% endwith %}
 details, and text tabs.</p>

<h3><span>What would this {{bill.noun}} do?</span></h3>

<p>In a few words, what would you say is the subject of this {{bill.noun}}?</p>

{% if text_info.numpages|length > 30 %}
<p>The text of this {{bill.noun}} is {{text_info.numpages}} pages long.
 What strategies could you use to learn about the {{bill.noun}} without having to
 read it all?</p>
{% endif %}

{% if text_info.numpages|length < 10 and text_info.numpages|length > 0 %}
<p>This {{bill.noun}} is only {{text_info.numpages}} page {% if text_info.numpages|length > 1 %}s{% endif %} long. Are you able to understand it?
 Does being short make the {{bill.noun}} less significant?</p>
{% endif %}

{% if not text_info.numpages %}
<p>The text of this {{bill.noun}} is not available yet. 
How else might you learn about what the {{bill.noun}} would do?</p>
{% endif %}

{% with bill.oursummary as summary1 %}
	{% with bill.get_formatted_summary as summary2 %}
	{% if summary1 or summary2 %}
		<p>There is a summary available for this {{bill.noun}}. 
		Does it help you understand the {{bill.noun}} would do?</p>
	{% endif %}
	{% endwith %}
{% endwith %}

<p>Who is this {{bill.noun}} likely to impact?</p>

<p>Is this {{bill.noun}} important?</p>

<h3><span>What else do you know about this {{bill.noun}}?</span></h3>

<p>What do you know about the sponsor? 
Is this the kind of {{bill.noun}} you would expect from them? Why or why not?</p>

{% if legislator_statements %}
<p>Some Members of Congress have made statements about this {{bill.noun}}.
 What do those statements tell you about the {{bill.noun}}?
 Do the statements agree about what the {{bill.noun}} would do?</p>
{% endif %}

{% if bill.find_reintroductions|length > 0  %}
<p>This {{bill.noun}} has been introduced in another Congress. What has changed between versions?
 (Hint: You can compare its text to
 previous versions on the right hand side of the text page.)</p>
{% endif %} 

{# Add links later #}

{% if stakeholder_posts %}
<p>A stakeholder organization has made a statement about this {{bill.noun}}.
 What is their relationship to the bill?
 How does their perspective help you understand the {{bill.noun}}?
 Is anyone talking about the {{bill.noun}} off of GovTrack?</p>
{% endif %}

{% if not stakeholder_posts %}
<p>Step away from GovTrack for a moment.
 Is anyone talking about this {{bill.noun}}?
 How does their perspective help you understand the {{bill.noun}}?<p>
{% endif %}

<p>What kind of expert would be able to tell you more about the policies this {{bill.noun}} would impact?</p>

<h3><span>What can you do about this {{bill.noun}}?</span></h3>

<p>What can your Member of Congress do to impact this {{bill.noun}}?
 (Hint: Are your representative or senators on a committee this {{bill.noun}}
 was assigned to?)</p>

<p>What organizations are working to impact the passage of this {{bill.noun}}?</p>

<div style="margin: 18px 0 25px 0; font-size: 85%; padding: .4em; border: 1px solid #DDC; background: #FFE; font-style: italic; ">
<p>These questions are a new feature to GovTrack. You can help us improve them by sending your feedback to <a href="hello@govtrack.us">hello@govtrack.us</a>.</p>
</div>
{% endblock %}
