{% extends 'master_b.html' %}

{% block title %}{{term.name}} Bills - GovTrack.us{% endblock %}
{% block meta_description %}{{term.name}}-related bills in the U.S. Congress.{% endblock %}
{% block cat-icon-filename %}img-bills-resolutions.png{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li><a href="{% url "congress_home" %}">Congress</a></li>
<li><a href="/congress/bills">Bills</a></li>

{% with term.parents.all as parents %}
{% if parents|length > 0 %}
	<li>
	{% for parent in parents %}
		{% if not forloop.first %} / {% endif %}
		<a href="{{parent.get_absolute_url}}{% if request.GET.congress %}?congress={{request.GET.congress|urlencode}}{% endif %}">{{parent.name}}</a>
	{% endfor %}
	</li>
{% endif %}
{% endwith %}

<li class="active">{{term.name}}</li>
</ol>
{% endblock %}

{% block summary %}
{% with term.subterms.all as subs %}

<h1>{{term.name}}</h1>
		
<div class="row">
	<div id="track_panel_base" class="col-sm-8">
		<p>Use this page to browse bills in the U.S. Congress related to the subject {{term.name}}, as determined by the Library of Congress.</p>

		{% if subs|length > 0 %}
			<p>Narrow your focus by drilling down into <a href="#" onclick="$('#subterms_modal').modal(); return false;">{{subs|length}} subcategories</a>.</p>
		{% endif %}
	</div>

	<div class="aside col-sm-4">
        <script>function show_track_panel() { return false; } /* default impl before script loaded */</script>
        <a href="#" class="track-btn" onclick="return show_track_panel();">Track this subject</a>
        <div id="event_subscribe_inline_container"> </div>
	</div><!-- /actions -->
</div>


<div id="subterms_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subterms_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="subterms_modal_title">Drill Down</h4>
      </div>
      <div class="modal-body">
		<ul>
		{% for sub in subs %}
			<li><a href="{{sub.get_absolute_url}}{% if request.GET.congress %}?congress={{request.GET.congress|urlencode}}{% endif %}">{{sub.name}}</a></li>
		{% endfor %}
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endwith %}
{% endblock %}

{% block body %}

{% include "smartsearch/search_panel.html" %}

{% endblock %}

{% block body_scripts %}
<script>
  $('#event_subscribe_inline_container').html(the_page.events_subscribe_button);
</script>
{% endblock %}
