{% extends 'master_a.html' %}

{% block title %}{{term.name}} Bills - GovTrack.us{% endblock %}
{% block meta_description %}{{term.name}}-related bills in the U.S. Congress.{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url "congress_home" %}">Congress</a></li>
<li><a href="/congress/bills">Bills</a></li>
<li>{{term.name}}</li>
</ul>
{% endblock %}

{% block summary %}
<div class="row">
	<div id="track_panel_base" class="col-sm-8">
		<h1>{{term.name}}</h1>
		
		<p>Use this page to browse bills in the U.S. Congress related to the subject {{term.name}}.</p>

		<p><small>Classification into subject areas is retrieved from the Library of Congress.</small></p>
		
		{% comment %}
		{% with term.subterms.all as subs %}
		{% if subs|length > 0 %}
			<p style="margin: 0">Or drill down to:</p>
			<ul class="bullets" style="height: 8em; overflow: auto;">
			{% for sub in subs %}
				<li style="line-height: normal;"><a href="{{sub.get_absolute_url}}{% if request.GET.congress %}?congress={{request.GET.congress|urlencode}}{% endif %}">{{sub.name}}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		
		{% with term.parents.all as parents %}
		{% if parents|length > 0 %}
			<p style="margin: 0">Go back up to
			{% for parent in parents %}
				<a href="{{parent.get_absolute_url}}{% if request.GET.congress %}?congress={{request.GET.congress|urlencode}}{% endif %}">{{parent.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
		{% endif %}
		{% endwith %}
		
		{% endcomment %}
	</div>

	<div class="aside col-sm-4">
        <script>function show_track_panel() { return false; } /* default impl before script loaded */</script>
        <a href="#" class="track-btn" onclick="return show_track_panel();">Track this subject</a>
        <div id="event_subscribe_inline_container"> </div>
	</div><!-- /actions -->
</div>
{% endblock %}

{% block body %}

{% include "smartsearch/search_panel.html" %}

{% endblock %}

{% block body_scripts %}
<script>
  $('#event_subscribe_inline_container').html(the_page.events_subscribe_button);
</script>
{% endblock %}
