{% extends "master.html" %}
{% block title %}GovTrack.us - About Our Data{% endblock %}

{% block body_class %}about{% endblock %}

{% block extra_css %}
<style>
.coverage_table td { padding: .5em; vertical-align: top; }
.coverage_table th { text-align: center; }
</style>
{% endblock %}

{% block body %}
<h1>About the Data on GovTrack.us</h1>

<div class="row">
<section class="col-sm-7">

	<p>GovTrack gets its information from a variety of sources. Most of the sources are official government websites that publish structured data which we pull new information from automatically each day.</p>

	<p>The sources we use are listed in the following coverage table:</p>

	<table class="table coverage_table">
		<tr><th colspan="2" style="padding: 1em 0 .5em 0">Current Information<br>(114<sup>th</sup> Congress through 115<sup>th</sup> Congress)</th></tr>
		
		<tr>
			<td><nobr>Members of Congress</nobr></td>
			<td>Biographical information and committee assignments for current and former Members of Congress is from the <a href="https://github.com/unitedstates/congress-legislators">congress-legislators project</a>,
			a community repository we originally developed and help maintain.
			Photos are sourced from various locations, including the <a href="http://memberguide.gpo.gov">GPO Guide to House and Senate Members</a>, and credited on individual legislator pages.</td>
		</tr>
		<tr>
			<td>Bill Status</td>
			<td>From <a href="https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS">GPO.gov/FDSys</a>. Updated roughly daily. Legislative activity appears the next business day. Via the <a href="https://github.com/unitedstates/congress">congress</a> project. Prognosis scores (predictions of enactment) are from <a href="https://www.skoposlabs.com/">Skopos Labs</a>.</td></tr>
		</tr>
		<tr>
			<td>Bill Summaries</td>
			<td>We display several sorts of bill summaries, including many that we write ourselves. Other summaries are from
			the Library of Congress&rsquo;s Congressional Research Service 
			and the <a href="http://www.gop.gov/">House Republican Conference</a>.</td>
		</tr>
		<tr>
			<td>Votes</td>
			<td>From the <a href="http://www.senate.gov/pagelayout/legislative/a_three_sections_with_teasers/votes.htm">Senate</a> and <a href="http://clerk.house.gov/legislative/legvotes.aspx">House</a> websites. Updated hourly. Missed vote explanations from <a href="https://projects.propublica.org/explanations/">ProPublica</a>.</td></tr>
		</tr>
		<tr>
			<td>Bill Text</td>
			<td>From <a href="http://www.gpo.gov/fdsys">GPO.gov/FDSys</a>. Updated daily, but text only becomes available typically 1-3 business days after major action on the bill.</td></tr>
		</tr>
		<tr>
			<td>What&rsquo;s Coming Up</td>
			<td>Bills: From the <a href="http://www.senate.gov/pagelayout/legislative/d_three_sections_with_teasers/calendars.htm">Senate</a> website and <a href="http://docs.house.gov">Docs.House.Gov</a>;
			    Committee Meetings: From the <a href="http://www.senate.gov/pagelayout/committees/b_three_sections_with_teasers/committee_hearings.htm">Senate</a> website and <a href="http://docs.house.gov">Docs.House.Gov</a>. Updated daily.</td></tr>
		</tr>
		<tr>
			<td>District Boundaries</td>
			<td>Congressional district boundaries on the maps are from the <a href="https://www.census.gov/geo/maps-data/data/tiger-line.html">U.S. Census Bureau</a> and maps are courtesy of <a href="https://www.mapbox.com/">Mapbox</a> (see <a href="https://medium.com/@govtrack/creating-congressional-district-maps-with-mapbox-4888e4b79cf">how we do it</a>).</td>
		</tr>


		<tr><th colspan="2" style="padding: 1em 0 .5em 0">1989-2014<br>(101<sup>st</sup>-113<sup>th</sup> Congresses)</th></tr>

		<tr>
			<td>Bill Status</td>
			<td>Historical bill status information was obtained from the old THOMAS.gov site prior to its shutdown in 2016.</td></tr>
		</tr>
		<tr>
			<td>Votes</td>
			<td>From the <a href="http://www.senate.gov/pagelayout/legislative/a_three_sections_with_teasers/votes.htm">Senate</a> and <a href="http://clerk.house.gov/legislative/legvotes.aspx">House</a> websites. (Except House votes in 1989 (101<sup>st</sup> Congress, 1st Session), see Rosenthal & Poole.)</td></tr>
		</tr>
		<tr>
			<td>Bill Text</td>
			<td>From <a href="http://www.gpo.gov/fdsys">GPO.gov/FDSys</a> (~2012-) and archived text from THOMAS.gov (1989-~2012). (Also <a href="http://www.cato.org/resources/data">Cato Institute Deepbills</a> for the 113th Congress.)</td></tr>
		</tr>

		<tr><th colspan="2" style="padding: 1em 0 .5em 0">1973-1988<br>(93<sup>rd</sup>-100<sup>th</sup> Congresses)</th></tr>
		
		<tr>
			<td>Bill Status</td>
			<td>From THOMAS.gov (see above).</td></tr>
		</tr>
		<tr>
			<td>Bill Text</td>
			<td>From the Statutes at Large on <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">GPO.gov/FDSys</a> (volumes 87-106). Only the text of enacted bills and agreed to concurrent resolutions are available.</td></tr>
		</tr>
		<tr>
			<td>Votes</nobr></small></td>
			<td>From Rosenthal &amp; Poole&rsquo;s <a href="http://voteview.com/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a>, Carnegie Mellon University.</td>
		</tr>
		
		<tr><th colspan="2" style="padding: 1em 0 .5em 0">1951-1972<br>(82<sup>nd</sup>-92<sup>nd</sup> Congresses)</th></tr>

		<tr>
			<td>Bills</td>
			<td>From the Statutes at Large on <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">GPO.gov/FDSys</a> (volumes 65-86). Only enacted bills and concurrent resolutions agreed to are available.</td></tr>
		</tr>
		<tr>
			<td>Votes</nobr></small></td>
			<td>From Rosenthal &amp; Poole&rsquo;s <a href="http://voteview.com/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a> (see above).</td>
		</tr>
		
		<tr><th colspan="2" style="padding: 1em 0 .5em 0">1799-1873<br>(6<sup>th</sup>-42<sup>nd</sup> Congresses)</th></tr>
		
		<tr>
			<td>Bills</td>
			<td>From the Library of Congress&rsquo;s <a href="http://memory.loc.gov/ammem/amlaw/lawhome.html">American Memory Century of Lawmaking</a> collection via the <a href="https://github.com/unitedstates/am_mem_law">am_mem_law</a> project.</td></tr>
		</tr>
		<tr>
			<td>Votes</nobr></small></td>
			<td>From Rosenthal &amp; Poole&rsquo;s <a href="http://voteview.com/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a> (see above).</td>
		</tr>

	</table>

</section>

<section class="col-sm-5" style="font-size: 12px;">
	<div class="panel panel-default">
		<div class="panel-heading">What to use this data?</div>
		<div class="panel-body">
			All of the data behind GovTrack can be freely reused by others for any purpose. See our <a href="/developers">developer documentation</a> for more information.
		</div> <!-- /panel-body -->
	</div> <!-- /panel -->
</section>
</div>

{% endblock %}

