{% extends "master.html" %}
{% block title %}GovTrack.us - About{% endblock %}

{% block summary %}
<div class="right">
<p>Follow us on Twitter <a href="http://twitter.com/govtrack">@govtrack</a> or join our <a href="http://www.facebook.com/pages/Civic-Impulse/312186525430">Facebook page</a>.</p>
<hr size="1" style="margin: 15px"/>
<ul>
<li><a href="/press">Press Clippings &amp; Publications</a></li>
<li><a href="/sources">Data Sources</a></li>
<li><a href="/advertising">Advertising Opportunities</a></li>
<li><a href="/developers">Developer Documentation</a></li>
</ul>
</div>

<h1>About GovTrack.us</h1>

<p>GovTrack.us is a tool by <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a> to help the public research and track the activities in the U.S. Congress, promoting and innovating government transparency and civic education through novel uses of technology.</p>

<p>Launched in 2004 as merely a hobby, GovTrack.us was the first website worldwide whose primary goal was to provide free and comprehensive legislative tracking for everyday citizens and to embrace Web 2.0 and open data for government information. GovTrack.us was a 2006 <a href="http://webbyawards.com/webbys/current.php?season=10#webby_entry_politics">Webby Award nominee</a> and has been covered in <a href="http://www.govtrack.us/articles/20050126nyt.xpd">The New York Times</a> and <a href="http://www.govtrack.us/articles/20060301wp.xpd">The Washington Post</a>, and it is the data provider for many other websites displaying legislative information.</p>

{% endblock %}

{% block body %}
<h2>How it works</h2>

<p>GovTrack helps you find the status of U.S. federal legislation, voting records for the Senate and House of Representatives, information on Members of Congress, and congressional district maps.</p>

<p>Much of the information shown on GovTrack is assembled in an automated way from official government websites. primarily the website <a href="http://thomas.loc.gov/">THOMAS</a> which is the official website for the status of legislation run by the Library of Congress. The process of gathering the information is entirely automatic and Congress isn&rsquo;t always very happy to share, so you may find occasional errors here, but we take errors very seriously and work hard to correct them.</p>

<p>The status and text of legislation is usually delayed by about 24 hours and roll call votes usually appear on the site within an hour. We can only get information as fast as the official sites are updated. Our database also extends into the past. You can search and browse bills going back to the 93rd Congress &mdash; that&rsquo;s 1973-74 &mdash; and the text of legislation goes back as far as the 106th Congress (1999-2000). Roll call votes are available back to the start of our nation!</p>

<h2>More about the site</h2>

<p>This site was created and is run by <a href="http://razor.occams.info">Joshua Tauberer</a> and became a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a> when he formed the company in 2009. GovTrack isn&rsquo;t affiliated with the government or any other group and our only ongoing funding comes from advertising.</p>

<p>To send us a note, email <a href="mailto:operations@govtrack.us">operations@govtrack.us</a>. Please don&rsquo;t email us to contact your Member of Congress or to do research for you, though! Also, please don&rsquo;t cite Josh personally for information you find on this site as the information is derived entirely from other databases. I generally don&rsquo;t do research by hand or exercise any editorial effect over what you see here.</p>

<p>GovTrack openly shares the data it brings together so that other websites can build other tools to help citizens engage with government. Apps based on GovTrack&rsquo;s legislative database include <a href="http://www.opencongress.org">OpenCongress</a>, <a href="http://www.maplight.org">MAPLight</a>, <a href="http://filibusted.us/">Filibusted.us</a>, <a href="http://manybills.researchlabs.ibm.com/">IBM ManyBills</a>, and the <a href="http://sunlightlabs.com/projects/android-congress/">Congress</a> app for Android phones by the Sunlight Foundation. For more information, see <a href="/developers/downstream">the full list</a> and the <a href="/developers">Developer Documentation</a>.</p>

<p>Since our launch in 2004, GovTrack has been a leader in the growing and changing open government movement. Today the movement for better access to government records involves citizens, web developers, designers, researchers, statisticians, government managers, and elected officials in a concerted effort to make data a national asset.  GovTrack&rsquo;s creator, Josh, has been working on the policy angle of open government data and wrote about it in the book <a href="http://www.amazon.com/dp/0596804350">Open Government</a> (2010). He is also co-founder and CTO of <a href="http://www.popvox.com">POPVOX.com</a>, a platform for constituent communication.</p>		

{% endblock %}

