{% extends "master.html" %}
{% block title %}GovTrack.us - About{% endblock %}

{% block body_class %}about{% endblock %}

{% block extra_css %}
<style>
.heading-box #cat-icon { min-height: auto; }
a.imp { font-weight: bold; }
.coverage_table { margin-left: 1em; }
.coverage_table td { padding: .5em; }
</style>
{% endblock %}

{% block summary %}
<div>
	<h1>About GovTrack.us</h1>

	<p style="margin-bottom: 0">GovTrack.us is a tool by <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a> to help the public research and follow legislation in the United States Congress and the state legislatures. Our goal is to promote government transparency and civic engagement through novel uses of technology.</p>
</div>
{% endblock %}
{% block links %}
<div>
	<p>Follow us on Twitter <a href="http://twitter.com/govtrack">@govtrack</a> or join our <a href="http://www.facebook.com/pages/Civic-Impulse/312186525430">Facebook page</a>.</p>
	<hr />
	<p>Stay up to date with site changes by reading <a href="/blog">our blog</a>. GovTrack is constantly evolving.</p>
</div>
{% endblock %}

{% block body %}
<section class="main eight columns">
	<h2>How it works</h2>

	<p>GovTrack helps you find the status of U.S. federal legislation, voting records for the Senate and House of Representatives, information on Members of Congress, congressional district maps, and the status of state legislation.</p>

	<p>We assemble most of the information here in an automated way by scanning federal government websites, including <a href="http://thomas.loc.gov/">THOMAS</a> for the status of legislation. State legislative information is available here through a partnership with <a href="http://www.BillTrack50.com">LegiNation, Inc.</a> and <a href="http://www.LegiScan.com">LegiScan, Inc</a>.</p>
	
	<p>Once we get the information, we make it easier to understand and we let you track bills for updates with <a href="/start">email updates and RSS feeds</a>. We also have unique statistical analyses to put the information in context. Read the <a class="imp" href="/about/analysis">&laquo;Analysis Methodology&raquo;</a>.</p>

	<p>GovTrack openly shares the data it brings together so that other websites can build other tools to help citizens engage with government. See the <a class="imp" href="/developers">&laquo;Developer Documentation&raquo;</a> for more.</p>
	
	<h2>Who we are</h2>

	<p>GovTrack was created in 2004 by <a href="http://razor.occams.info">Joshua Tauberer</a> originally as a hobby. Today it is a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a>, his company. See our <a class="imp" href="/press">&laquo;Press Clippings&raquo;</a> to read what people think of the site.</p>
	
	<p>GovTrack isn&rsquo;t affiliated with the government, and our only funding comes from advertising. You can read our <a  class="imp"href="/advertising">&laquo;Advertising Policy&raquo;</a>.</p>
	
	<p>To send us a note, email <a href="mailto:operations@govtrack.us">operations@govtrack.us</a>.</p>

	<p>Also on staff are Aviad Eilam, GovTrack&rsquo;s director of communications, and Gordon P. Hemsley, developer. The site&rsquo;s design is by <a href="http://www.villagecreative.com">Village Creative</a>. Past designs were by Ben Rellick and Daniel Gabriele. Past staff members and contributors include <a href="http://lorien.name/">Grigoriy Petukhov</a> and Kevin Henry.</p>
	
	<h2>Information coverage &amp; timeliness</h2>
	
	<p>We pull in current federal legislative data about as fast as Congress makes it available on their websites. The status and text of legislation is usually delayed by about 24 hours, and roll call votes usually appear here within an hour. Our database also extends into the past. Here&rsquo;s a full coverage table:</p>
	
	<table class="coverage_table">
		<tr><th>Coverage Period</th> <th>Corpus</th> <th>Source and Timeliness</th></tr>
		
		<tr><td rowspan="3">2013-present<br/><small>(113<sup>th</sup> Congress)</small></td>
			<td>Bill Status</td>
			<td>From <a href="http://thomas.gov">THOMAS.gov</a> via <a href="https://github.com/unitedstates/congress">congress project</a>.<br/>Typically updated the next business day after events occur</td></tr>
		</tr>
		<tr>
			<td>Votes</td>
			<td>From <a href="http://www.senate.gov">Senate</a> and <a href="http://www.house.gov">House</a> websites via <a href="https://github.com/unitedstates/congress">congress project</a>.<br/>Typically updated within two hours of the vote</td></tr>
		</tr>
		<tr>
			<td>Bill Text</td>
			<td>From <a href="http://thomas.gov">THOMAS.gov</a>.<br/>Typically updated 1-3 business days after a bill is introduced or has other major action</td></tr>
		</tr>

		<tr><td rowspan="3">1993-2012<br/><small><nobr>(103<sup>rd</sup>-112<sup>th</sup> Congresses)</nobr></small></td>
			<td>Bill Status</td>
			<td>From <a href="http://thomas.gov">THOMAS.gov</a>.</td></tr>
		</tr>
		<tr>
			<td>Votes</td>
			<td>From <a href="http://www.senate.gov">Senate</a> and <a href="http://www.house.gov">House</a> websites.</td></tr>
		</tr>
		<tr>
			<td>Bill Text</td>
			<td>From <a href="http://thomas.gov">THOMAS.gov</a>.</td></tr>
		</tr>
		
		<tr><td>1973-1992<br/><small><nobr>(93<sup>rd</sup>-102<sup>nd</sup> Congresses)</nobr></small></td>
			<td>Bill Status</td>
			<td>From <a href="http://thomas.gov">THOMAS.gov</a>.</td></tr>
		</tr>
		<tr><td>1990-1992<br/><small><nobr>(101<sup>st</sup>-92<sup>nd</sup> Congresses)</nobr></small>
			<td>House Votes</td>
			<td>From the <a href="http://www.house.gov">House</a> website. Starts in the 101<sup>st</sup> Congress, 2<sup>nd</sup> Session.</td></tr>
		</td>
		<tr><td>1989-1992<br/><small><nobr>(101<sup>st</sup>-92<sup>nd</sup> Congresses)</nobr></small>
			<td>Senate Votes</td>
			<td>From the <a href="http://www.senate.gov">Senate</a> website.</td></tr>
		</td>
		
		<tr><td><nobr>1951-1972</nobr><br/><small>(85<sup>th</sup>-92<sup>nd</sup> Congresses)</small></td>
			<td>Bill Status</td>
			<td><b>Only enacted bills and concurrent resolutions agreed to.</b> From the Statutes at Large on <a href="http://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">GPO.gov</a> (volumes 65-86), via <a href="https://github.com/unitedstates/congress">congress project</a></td></tr>
		</tr>
		
		<tr><td><nobr>1<sup>st</sup>-101<sup>st</sup> Congresses</nobr><br/>(1789-1989/90)</td>
			<td>Votes</td>
			<td>From Rosenthal &amp;  Poole&rsquo;s <a href="http://voteview.com/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a>, Carnegie  Mellon  University. (Senate votes through 1989, House votes through 1990.)</td></tr>
		</tr>
		
		<tr>
			<td>1789-2013</td>
			<td>Legislators</td>
			<td>From the <a href="https://github.com/unitedstates/congress-legislators">congress-legislators project</a>.</td></tr>
		</tr>
	</table>
	
	<p style="margin-top: 1em">See the full list of <a class="imp" href="/sources">&laquo;Data Sources&raquo;</a>.</p>

	<h2>The Open Government / Open Government Data / Government Transparency Movements</h2>
	
	<p>The open government movement involves citizens, web developers, designers, researchers, writers, statisticians, government managers, and elected officials in a concerted effort to make data a national asset, to make government more transparent and effective, and to empower citizens to participate effectively in governance and in their communities.</p>
	
	<p>Since our launch in 2004, GovTrack has been a leader in the growing and changing open government movement. GovTrack&rsquo;s creator, Josh, also works on the policy angle of open government data. He wrote about it in the book <a href="http://opengovdata.io">Open Government Data: The Book</a> (2012).</p>
	
	<p>Join our movement. Here are some resources:</p>
	
	<ul class="bullets">
	<li><a href="http://groups.google.com/group/sunlightlabs">Sunlight Labs Google Group</a>: A community email group for anyone working on civic technology.</li> 
	<li><a href="http://transparencycamp.org/">Transparency Camp Conference</a>: The annual "un-"conference in DC on government transparency and civic engagement from a technology perspective.</li>
	<li><a href="http://www.openingparliament.org/declaration">The Declaration on Parliamentary Openness</a>: An international declaration on the roles of parliaments and parliamentary-monitoring organizations (like GovTrack does for Congress).</li>
	<li><a href="http://opengovdata.io">Open Government Data: The Book</a>: A book by GovTrack&rsquo;s creator on the open government data movement.</p>
	</ul>
</section>

{% endblock %}

