{% extends "master.html" %}
{% block title %}GovTrack.us - Hide All The Ads With a Yearly Membership{% endblock %}
{% block head %}
<style>
	.adfreedetails {
		padding: 0 1.75em;
		margin-bottom: 1em;
	}
	.adfreedetails li {
		margin: .75em 0;
	}
</style>
{% endblock %}

{% block body %}
<div class="row">

	<div class="col-sm-8">
	<div style="padding-right: 30px">
		<h1>Hide All The Ads With a Yearly Membership</h1>

		<p>If you&rsquo;re using GovTrack.us for work, or you are passionate about our service, please consider voluntarily paying for
		our service so that we can continue to keep it free for everyone. We want to build the best Congress-tracking website that we can, but we need your help to do it.</p>

		<p><b>We&rsquo;ll hide all of the advertisements on GovTrack for a year to make your GovTrack experience even better.</b></p>

		{% if msi.active %}
			<p class="text-danger"><b>{{msi.message}}</b></p>
		{% endif %}
		{% if checkout_session %}
			<p class="text-danger"><b>Thank you for your ${{checkout_session.0}} payment on {{checkout_session.1|date}}.
			{% if not checkout_session.2 %}Your payment is pending.{% endif %}
			</b></p>
		{% endif %}

		<div style="border: 1px solid #CCC; padding: 15px; margin: 2em -10px; background-color: #FFD; border-radius: 10px;">
			<form id="go_ad_free" method="post" action="/accounts/membership/checkout">
				{% csrf_token %}

				<p><b>Please create my one-year membership at the following level:</b></p>

				<p>
					<label class="radio-inline"><input name="amount" type="radio" value="100"> $100</label>
					<label class="radio-inline"><input name="amount" type="radio" value="50"> $50</label>
					<label class="radio-inline"><input name="amount" type="radio" value="25"> $25</label>
					<label class="radio-inline"><input name="amount" type="radio" value="10"> $10</label>
					<label class="radio-inline"><input name="amount" type="radio" value="5"> $5</label>
				</p>

				<p>(Memberships do not automatically renew. That&rsquo;s too sophisticated for us.)</p>

				{% if not msi.active %}
					{% if msi.message %}
						{# expiration info #}
						<p><strong>{{msi.message}}</strong></p>
					{% endif %}
				{% endif %}

				{% if not request.user.is_authenticated %}
					<p>You&rsquo;ll have to create a GovTrack account first if you&rsquo;d like us to hide the advertisements after you make your contribution.</p>

					<p><a class="btn btn-success" href="#" onclick="$(this).parent().hide(); $('#adfreelogin').slideDown(); return false;">Hide The Advertisements &nbsp; ▶</a></p>

					<div id="adfreelogin" style="display: none; padding-bottom: 15px; border-bottom: 1px solid #DD9; margin-bottom: 15px;">
						<p>Please create a GovTrack account to begin:</p>
				
						{% with redirect_url="/accounts/membership/start" %}
						<div style="width: 50%;">
						<div class="signin_social" style="margin-left: 2em;">
							{% with redirect_url as singlesignon_next %}
								{% include "registration/login_singlesignon.html" %}
							{% endwith %}
							<p style="margin: .5em 0 1.5em 0; font-size: 90%; line-height: 125%;">Use single-sign-on above or register by clicking the appropriate button below.</p>
						</div>
						<div style="clear: both"> </div>
						
						<a class="btn btn-success" href="/registration/signup?next={{redirect_url}}">Register a New Account</a>
						<a class="btn btn-success" href="/accounts/login?next={{redirect_url}}">Existing User Log In</a>
						</div>
						{% endwith %}
					</div>

					<p>Or you can make a contribution without creating an account:</p>
				{% endif %}


				<p><input type="submit" class="btn btn-success" value="Continue to Payment &nbsp; ▶"></p>

				<hr style="border-color: #DD9"/>

				<p style="font-size: 90%; margin: 0;">We use Stripe as our payment processor. GovTrack.us is a project of Civic Impulse, LLC, a tiny company that makes sure this website keeps on chugging. Payments are <b>not</b> tax-deductible.</p>

			</form>
		</div>
	</div>
	</div>

	<div class="col-sm-4">
		<div style="margin-top: 25px; padding: 1em; background-color: #F3F3F3; box-shadow: 10px 10px 5px #888888;">
			<h3 style="margin-top: 0; font-weight: bold;">Help us make government more accountable and transparent.</h3>

			<p>Since 2004, GovTrack has been used by tens of millions of Americans to learn what their representatives in Congress have been up to.</p>

			<p>We are quoted regularly in the national media, who turn to us to run the numbers on legislative activity. And our successful decade-long campaign for &ldquo;open data&rdquo; from Congress has resulted in greater transparency year after year (but there&rsquo;s always more needed!).</p>

			<p>Your support will help us hire staff to research bills in Congress and tell you what they mean, and to improve and expand on the great Congress-tracking tools you see here.</p>

			<p>Some of our expenses are offset by the advertising you see throughout the site, but it&rsquo;s just not enough to keep doing what we&rsquo;re doing, so we need your help.</p>
		</div>
	</div>
	
</div>
{% endblock %}

{% block body_scripts %}
<script>
	function grey_submit_btn() {
		var amt = $('#go_ad_free input[name="amount"]:checked').val();
		$('#go_ad_free input[type="submit"]').toggleClass("disabled", (typeof amt == "undefined"));
	}
	$('#go_ad_free input[type="radio"]').change(grey_submit_btn);
	grey_submit_btn();
</script>
{% endblock %}
