{% extends "master.html" %}
{% block title %}GovTrack.us - Go Ad-Free{% endblock %}
{% block crumbs %}
	<h1>Go Ad-Free!</h1>
{% endblock %}
{% block override_content %}
<div id="content">
<div class="row">

	<div class="six columns" style="margin-top: 1em; padding-left: 0;">
	
		<h2>Support our work and get rid of the advertisements</h2>

		<p style="margin: 1.5em 0;">For $2, we&rsquo;ll hide all of the ads on GovTrack for a year.</p>
		
		{% if not request.user.is_authenticated %}
			<p style="margin: 1.5em 0;">You must be logged in to go ad-free.</p>
		
			<div style="width: 50%; margin-left: 2em;">
				<div class="signin_social">
					{% with "/accounts/go_ad_free" as singlesignon_next %}
						{% include "registration/login_singlesignon.html" %}
					{% endwith %}
					<p style="margin: .5em 0 1.5em 0; font-size: 90%; line-height: 130%;">Use single-sign-on above or register by clicking the appropriate button below.</p>
				</div>
				<div style="clear: both"> </div>
			
				<a class="button" href="/registration/signup?next=/accounts/go_ad_free">Register a New Account</a>
				<a class="button" href="/accounts/login?next=/accounts/go_ad_free">Existing User Log In</a>
			</div>
		
		{% elif is_ad_free %}
			<p><strong>{{is_ad_free}}</strong></p>
			
			<p>If you have any questions about your payment, please email us at <a href="mailto:&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;">&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;</a>.</p>
			
		{% else %}
			<p>To go ad-free, just click the button below:</p>
			
			<a href="{% url "website.views.go_ad_free_redirect" %}" class="push-btn green-btn" style="text-transform: none; margin: 1em auto;">Pay $2 with PayPal</a>
			
			<p><small>
			You&rsquo;ll be asked to log into PayPal and confirm the payment.
			If you have any trouble please email us at <a href="mailto:&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;">&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;</a>.
			</small></p>
		{% endif %}
	</div>

	<div class="six columns last" style="padding-top: 50px;">
		<p>Here are some details:</p>
		
		<ul class="bullets">
			<li>You must be logged in for the ads to be hidden.</li>
			<li>We&rsquo;re only accepting payment via PayPal right now. You can use a credit card, but you&rsquo;ll need to create a PayPal account first.</li>
			<li>If you&rsquo;re not happy and want the ads back, we&rsquo;ll send you a refund no-questions-asked within 7 days of your payment.</li>
		</ul>
	
		<p>We began offering this service on May 23, 2013 in order to provide a less distracting and more privacy-protecting way to access GovTrack.us.
		Before June 21, 2013, the offer was $5 to go ad-free for life. On June 21 we changed it to $2/year.</p>
	</div>
	
</div>
</div>
{% endblock %}

