{% extends "master.html" %}
{% block title %}Advertising on GovTrack.us{% endblock %}

{% block crumbs %}
	<h1>About the Advertising</h1>
{% endblock %}

{% block override_content %}
<div id="content" class="row">
	
	<div class="eight columns">
		<h2>About the Ads You See</h2>
		
		<p>GovTrack.us is a project of <a href="http://www.civicimpulse.com/">Civic Impulse, LLC</a>. We are a small for-profit company trying to make the world better. We sell ad space here to cover our operating costs and to pay our staff. Without advertising, GovTrack as you know it would not be possible. (<a href="/about">More about us...</a>)</p>
	
		<p>Ads on GovTrack work just like the ads you see on TV or in newspapers. We don&rsquo;t solicit ads from one side of the political spectrum or the other. Instead, we sell our ad space to anyone who will pay our ad rates. Our ad space is currently managed by <a href="https://www.google.com/adsense">Google AdSense</a>, which means in most cases we do not even know who is advertising on GovTrack. Occasionally we sell limited ad space directly to advertisers.</p>
		
		<h2>Interested in Advertising on GovTrack?</h2>
		
		<p>If you would like to advertise on GovtTrack, please contact us at <a href="mailto:operations@govtrack.us">operations@govtrack.us</a>. Our rates start at $2.50 CPC or $4.00 CPM. We do not advertise text links.</p>
	</div>
</div>

{% endblock %}

