{% extends "master.html" %}
{% block title %}Advertising on GovTrack.us{% endblock %}
{% block crumbs %}
<a href="/about">About GovTrack</a>
{% endblock %}
{% block body %}
<div class="col_left">
<h1>Advertising on GovTrack</h1>

<p>GovTrack is a project of <a href="http://www.civicimpulse.com/">Civic Impulse, LLC</a>, a for-profit company but one who thinks far more about how to do good work than raising profits. That said, we do run advertising to stay afloat.</p>

<p>Interested in advertising? Our ads reach 30,000+ unique visitors each day, a group of politically interested and active people in the United States. Demographics and interest varies considerably from page to page throughout the site, since each bill in Congress draws a different segment of the population. If there's a bill in Congress relevant to your business industry, that's probably a good place for you to advertise. Drop us a line if you would like to advertise here: <a href="mailto:operations@govtrack.us">operations@govtrack.us</a>.</p>

<p>We are an equal-opportunity advertiser, meaning we don&rsquo;t solicit ads from one side of the political spectrum or the other. Most ads are recruited through ad networks that automatically choose the most relevant ads based on the page you are viewing and other factors. In those cases, we had no particular role in determining the advertisements you are viewing. It&rsquo;s a lot like a newspaper: the ads and the content are separate operations that do not affect each other.</p>

</div>

{% endblock %}

