{% extends "master.html" %}
{% block title %}Advertising on GovTrack.us{% endblock %}

{% block body %}
<h1>About the Advertising</h1>

<div class="row">
	<div class="col-sm-8">
		<p>GovTrack.us is a project of <a href="http://www.civicimpulse.com/">Civic Impulse, LLC</a>. We are a very small company trying to make the world better. We sell ad space here to cover our operating costs and to pay our staff. Without advertising, GovTrack as you know it would not be possible. (<a href="/about">More about us...</a>)</p>
	
		<h2><span>Our advertising policy</span></h2>

		<p>Ads on GovTrack work just like the ads you see on television, in newspapers, and elsewhere on the web. We don&rsquo;t solicit ads from one side of the political spectrum or the other. Instead, we sell our ad space to anyone who will pay our ad rates, within broad guidelines to exclude offensive material.</p>

		<p>We go beyond industry standards to separate ads from regular site content. Our advertising policy (this page) is linked beneath each advertisement, we serve many ads in a consistent, distinct color, and we do not mix ads within regular site content, all so that it is as clear as it can be that the advertisements are advertisements.</p>

		<p>Our ad space is currently managed by <a href="https://www.google.com/adsense">Google AdSense</a>, which means in most cases we do not even know who is advertising on GovTrack at any given time. Occasionally we sell limited ad space directly to advertisers.</p>
		
	</div>
</div>

{% endblock %}

