<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
		
		<title>Civic Impulse, LLC &mdash; The Intersection of Civics and Technology</title>
		
		<!--<link rel="shortcut icon" type="image/png" href="/static/favicon.png"></link>-->

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
		<link media="all" rel="stylesheet" href="/static/css/all.css">
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" media="screen"/><![endif]-->
		
		<meta name="description" content="Civic Impulse, LLC builds tools to foster civic participation and government transparency."></meta>
		
		<style type="text/css">
		h1 { margin-top: 20px; color: white; }
		h1 small { font-size: 60%; }
		.top a:link, .top a:visited { color: #FEA; }
		</style>
	</head>
	
	<body>
		<div class="top container" style="color: white; padding: 20px 0">
			<h1>Civic Impulse<small style="color: inhertit">, LLC</small></h1>

			<p>We build tools that foster civic participation, civc education, and government transparency.</p>

			<p>Civic Impulse, LLC is <a href="http://razor.occams.info">Joshua Tauberer</a>&rsquo;s liability wrapper around <a href="https://www.govtrack.us">GovTrack.us</a>.</p>
		</div>
			
		<div id="main_content">
				<div class="container" style="padding: 30px 0">
						
						<p><a href="https://www.govtrack.us" style="font-weight: bold">GovTrack.us</a> is a free legislative tracking tool and the data source for many other congressional transparency websites. It launched in 2004 as a hobby of Joshua Tauberer and catalyzed the open government data movement in the United States.</p>

						<p><a href="http://razor.occams.info" style="font-weight: bold">Joshua Tauberer</a>, PhD, president of Civic Impulse, is a software developer, entrepreneur, and civic hacker. He is the author of <a href="http://opengovdata.io">Open Government Data: The Book</a>. Follow him at <a href="http://twitter.com/joshdata">@JoshData</a>.</p>

						<p>For more, see GovTrack&rsquo;s <a href="https://www.govtrack.us/press">press clips</a> and Joshua&rsquo;s <a href="http://razor.occams.info/cv.html">CV</a>.</p>
				</div>
			</div><!-- /info-box -->
			
		</div><!-- /wrapper -->
		
	</body>	
</html>
