<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
		
		<title>Civic Impulse, LLC &mdash; The Intersection of Civics and Technology</title>
		
		<!--<link rel="shortcut icon" type="image/png" href="/static/favicon.png"></link>-->

		<link media="all" rel="stylesheet" href="/static/css/all.css">
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" media="screen"/><![endif]-->
		
		<meta name="description" content="Civic Impulse, LLC builds tools to foster civic participation and government transparency."></meta>
		
		<style type="text/css">
		h1 small { font-size: 60%; }
		#intro-box .container { overflow: auto; }
		#intro-box h1 { margin: 30px 0 0 0; }
		#intro-box p.intro { margin-top: 65px; width: 320px; }
		#intro-box .block { margin-top: -200px; text-align: left; width: 325px; }
		#intro-box .block img { float: left; margin-right: 1em; border: 1px solid black; }
		#intro-box a.alt { text-decoration: none; }
		
		#info-box .heading { margin: 20px 0 20px 0; }
		#info-box p { font-size: 17px; margin-bottom: .9em; }
		</style>
	</head>
	
	<body class="homepage">
		<div id="wrapper">
			
		<div id="masthead">
			<div id="header-wrap">
				<header id="header" class="row">
					<div id="nav-block">
						<div class="row">
							<div class="block">
								<ul class="super-nav">
								</ul>
							</div>
						</div>
						
						<nav id="nav">
							<ul>
							</ul>
						</nav>
						
					</div><!-- /nav-block -->
				</header>
			</div>
				
				
				<div id="intro-box" class="row">
					<div class="column twelve">
						<h1>Civic Impulse<small>, LLC</small></h1>
						<p class="intro">We build tools that foster civic participation, civc education, and government transparency, and we work with governments on improving government data policy.</p>
						
						<div class="block">
							<a href="http://www.govtrack.us"><img src="/static/images/govtrack_icon.png" width="78" height="65" alt="GovTrack.us"/></a>
							<p><a href="http://www.govtrack.us" style="font-weight: bold">GovTrack.us</a> brings open data and Web 2.0 to the U.S. Congress. <a class="alt" href="http://www.govtrack.us/about">About</a> | <a class="alt" href="http://www.govtrack.us/press">Press</a></p>
							
							<div style="margin-top: 60px; clear: both;">
								<a href="http://razor.occams.info"><img src="/static/images/josh.png" width="78" height="90" alt="Joshua Tauberer"/></a>
								<p><a href="http://razor.occams.info">Joshua Tauberer</a> is the owner and president of Civic Impulse.</p>
							</div>
						</div>
					</div>
				</div><!-- /intro-box -->
			
						
			</div><!-- /masthead -->
			
			<div id="info-box">
				<div class="holder">
					<div class="row">
						<div class="heading">
							<h2>About the Company</h2>
						</div>
						<p>Civic Impulse, LLC was formed in 2009 and is based in Washington, D.C.</p>
						
						<p><a href="http://www.govtrack.us" style="font-weight: bold">GovTrack.us</a>, a free legislative tracking tool and the data source for many other congressional transparency websites, launched in 2004 as a hobby of Joshua Tauberer. It catalyzed the open government data movement in the United States. The project was incorporated into Civic Impulse when the company was formed. Follow the project at <a href="http://twitter.com/govtrack">@GovTrack</a>.</p>
						
						<p><a href="http://razor.occams.info" style="font-weight: bold">Joshua Tauberer</a>, PhD, president of Civic Impulse, is a software developer, entrepreneur, and civic hacker.
						He is the author of <a href="http://opengovdata.io">Open Government Data: The Book</a>
						also is also published in <a href="http://www.amazon.com/Open-Government-Collaboration-Transparency-Participation/dp/0596804350">Open Government: Collaboration, Transparency, and Participation in Practice</a> (2010, O'Reilly Media).
						Follow him at <a href="http://twitter.com/joshdata">@JoshData</a>.</p>
						
						<p>For an overview of our work, see some of these press clips:</p>
						<div style="margin: 0 3em 0 2em">
							<p>1/27/2005: <u>The New York Times</u>: <a href="http://www.nytimes.com/2005/01/27/technology/circuits/27reso.html">How Did They Vote? Updates by E-Mail of Congressional Ayes and Nays</a>, by Daniel Terdiman</p>
							<p>3/1/2006. <u>The Washington Post</u>: <a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/02/28/AR2006022801471.html">Think Your Lawmakers Don't Read Bills? Do It Yourself</a>, by Zachary A. Goldfarb</p>
							<p>5/11/2009. <u>Columbia Journalism Review</u>: <a href="http://www.cjr.org/campaign_desk/senate_goes_xml.php">Senate goes XML</a>, by Clint Hendler</p>
							<p>9/28/2009. <u>LA Times</u>: <a href="http://www.latimes.com/business/la-fi-hiltzik28-2009sep28,0,6508895,full.column">These crusaders bring transparency to government</a>, by Michael Hiltzik</p>
							<p>12/27/2010. <u>ReadWriteWeb</u>: <a href="http://www.readwriteweb.com/archives/data_hacker_pageranks_members_of_the_us_congress.php">Data Hacker Pageranks Members of the US Congress</a>, by Marshall Kirkpatrick</p>
							<p>6/2012: <u>Communications of the ACM</u>: <a href="http://cacm.acm.org/magazines/2012/6/149925-data-mining-meets-city-hall/fulltext">Data Mining Meets City Hall</a>, by Leah Hoffmann.</p>
							<p>6/8/2012: <u>The Washington Post</u>: <a href="http://www.washingtonpost.com/politics/congressional-data-may-soon-be-easier-to-use-online/2012/06/08/gJQAdikBNV_story.html">Congressional data may soon be easier to use online</a>, by David A. Fahrenthold.</p>
						</div>
					</div>
				</div>
			</div><!-- /info-box -->
	
		
			<footer id="footer">
				<div class="holder row">
					
					<nav>
						<ul>
							<li><a href="/">Civic Impulse</a></li>
							<li><a href="http://www.govtrack.us">GovTrack.us</a></li>
						</ul>
					</nav>
					
					<section class="social">
						<ul>
							<li><a href="http://www.facebook.com/pages/Civic-Impulse/312186525430"><img src="/static/images/ico-fb.png" width="16" height="16" alt="image description"><span>Facebook</span></a></li>
							<li><a href="http://twitter.com/#!/govtrack"><img src="/static/images/ico-tweet.png" width="16" height="16" alt="image description"><span>Twitter</span></a></li>
						</ul>
					</section>
					
					<section>
						
					</section>
					
				</div>
			</footer>
			
		</div><!-- /wrapper -->
		
	</body>	
</html>
