{% extends "master_a.html" %}
{% block title %}Congressional Procedures, Rules and Norms - GovTrack.us{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li>How Congress Works</li>
<li>Congressional Procedures</li>
</ol>
{% endblock %}

{% block head %}
<style>
#content h2 {
	margin-top: 3em;
}
a.backtotop:link, a.backtotop:visited {
	float: right;
	margin: 1em 0 1em;
	text-decoration: none;
	font-size: 85%;
	color: #855;
}
</style>
{% endblock %}

{% block summary %}
	<h1>Congressional Procedures, Rules and Norms</h1>

	<p>We provide summary information on <a href="/how-a-bill-becomes-a-law">how bills become laws</a>, but what if you need the details?</p>
	<p>The Congressional Research Service (aka CRS) can help. We’ve arranged a selection of up-to-date Congressional Research Service guides on procedures, rules and norms by legislative step, and where appropriate, chamber. Since all of these things do change, you can expect this page to be updated periodically.</p>
	<p>Reports via <a href="https://www.everycrsreport.com/topics/legislative-process.html">EveryCRSReport.com</a>.</p>

{% endblock %}

{% block body %}
<a name="top"></a>

<h2><span>Table of Contents</span></h2>
<ul>
	<li><a href="#a">Comprehensive Legislative Research Guides</a></li>
	<li><a href="#b">General Guides to Procedures and Best Practices</a>
		<ul>
			<li><a href="#b1">House</a></li>
			<li><a href="#b2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#c">Offices and Special Positions</a>
		<ul>
			<li><a href="#c1">House</a></li>
			<li><a href="#c2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#d">Parliamentary Procedure</a>
		<ul>
			<li><a href="#d1">House</a></li>
			<li><a href="#d2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#e">Non-Legislative Powers</a>
		<ul>
			<li><a href="#e1">Senate</a></li>
		</ul>
		</li>
	<li><a href="#f">Introducing a Bill</a>
		<ul>
			<li><a href="#f1">House</a></li>
			<li><a href="#f2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#g">Types of Legislation</a></li>
	<li><a href="#h">Appropriations Procedures</a></li>
	<li><a href="#i">Budget Procedures</a></li>
	<li><a href="#j">Budget Reconciliation Procedures</a></li>
	<li><a href="#k">Committee Consideration</a>
		<ul>
			<li><a href="#k1">Committee Types</a></li>
			<li><a href="#k2">House</a></li>
			<li><a href="#k3">Senate</a></li>
		</ul>
	</li>
	<li><a href="#l">Calendars & Scheduling</a>
		<ul>
			<li><a href="#l1">House</a></li>
			<li><a href="#l2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#m">Floor Action</a>
		<ul>
			<li><a href="#m1">House</a></li>
			<li><a href="#m2">Senate</a>
			<ul>
				<li><a href="#m3">Cloture</a></li>
			</ul>
		</ul>
	</li>
	<li><a href="#n">Resolving Differences</a>
		<ul>
			<li><a href="#n1">House</a></li>
			<li><a href="#n2">Senate</a></li>
		</ul>
	</li>
	<li><a href="#o">Enrollment of Legislation</a></li>
</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="a"></a>
<h2><span>Comprehensive Legislative Research Guides</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL33471.html">The Congressional Research Service and the American Legislative Process</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41865.html">Legislative History Research: A Guide to Resources for Congressional Staff</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21363.html">Legislative Procedure in Congress: Basic Sources for Congressional Staff</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL33895.html">Researching Current Federal Legislation and Regulations: A Guide to Resources for Congressional Staff</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="b"></a>
<h2><span>General Guides to Procedures and Best Practices</span></h2>
	<a name="b1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R44768.html">“Dear Colleague” Letters in the House of Representatives: Past Practices and Issues for Congress</a></li>
	</ul>
	<a name="b2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R40105.html">Authority of the Senate Over Seating Its Own Members: Exclusion of a Senator-Elect or Senator-Designate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42929.html">Procedures for Considering Changes in Senate Rules</a></li>
	</ul>
	<a href="#top" class="backtotop">Back to Top</a>
	<a name="c"></a>
<h2><span>Offices and Special Positions</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R41807.html">House and Senate Chaplains: An Overview</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30567.html">Party Leaders in the United States Congress, 1789-2017</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R40555.html">Delegates to the U.S. Congress: History and Current Status</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R40170.html">Parliamentary Rights of the Delegates and Resident Commissioner from Puerto Rico</a></li>
	</ul>
	<a name="c1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL33220.html">Support Offices in the House of Representatives: Roles and Authorities</a></li>
		<li><a href="https://www.everycrsreport.com/reports/97-780.html">The Speaker of the House: House Officer, Party Leader, and Representative</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44243.html">Electing the Speaker of the House of Representatives: Frequently Asked Questions</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20881.html">Party Leaders in the House: Election, Duties, and Responsibilities</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30857.html">Speakers of the House: Elections, 1913-2017</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-396.html">Guide to Individuals Seated on the House Dais</a></li>
	</ul>
	<a name="c2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL30960.html">The President Pro Tempore of the Senate: History and Authority of the Office</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-397.html">Guide to Individuals Seated on the Senate Dais</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="d"></a>
<h2><span>Parliamentary Procedure</span></h2>
	<a name="d1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RS20544.html">The Office of the Parliamentarian in the House and Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-307.html">Points of Order, Rulings, and Appeals in the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL32207.html">Commonly Used Motions and Requests in the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30787.html">Parliamentary Reference Sources: House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20313.html">Queen-of-the-Hill Rules in the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-411.html">Questions of Privilege in the House</a></li>
	</ul>
	<a name="d2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R40948.html">Constitutional Points of Order in the Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-306.html">Points of Order, Rulings, and Appeals in the Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30788.html">Parliamentary Reference Sources: Senate</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="e"></a>
<h2><span>Non-Legislative Powers</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R40504.html">Contingent Election of the President and Vice President by Congress: Perspectives and Contemporary Analysis</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL32717.html">Counting Electoral Votes: An Overview of Procedures at the Joint Session, Including Objections by Members of Congress</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44757.html">Defense Primer: A Guide for New Members</a></li>
	</ul>
	<a name="e1"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R44083.html">Appointment and Confirmation of Executive Branch Leadership: An Overview</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30959.html">Presidential Appointee Positions Requiring Senate Confirmation and Committees Handling Nominations</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-384.html">Senate Consideration of Treaties</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41172.html">The Role of the Senate in Judicial Impeachment Proceedings: Procedure, Practice, and Data</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="f"></a>
<h2><span>Introducing a Bill</span></h2>
	<a name="f1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R44001.html">Introducing a House Bill or Resolution</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44734.html">How Legislation Is Brought to the House Floor: A Snapshot of Parliamentary Practice in the 114th Congress (2015-2016)</a><br/>
			This guide goes into more detail on the specific kinds of legislation brought to the floor and procedures used with them. It's specific to the 114th Congress, but since that was the most recent one before the current 115th, its insights should still prove useful.</li>
		<li><a href="https://www.everycrsreport.com/reports/RS22477.html">Sponsorship and Cosponsorship of House Bills</a></li>
	</ul>
	<a name="f2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R44195.html">Introducing a Senate Bill or Resolution</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-279.html">Sponsorship and Cosponsorship of Senate Bills</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43563.html">“Holds” in the Senate</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="g"></a>
<h2><span>Types of Legislation</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-825.html">“Sense of” Resolutions and Provisions</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43539.html">Commemorations in Congress: Options for Honoring Individuals, Groups, and Events</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL34037.html">Congressional Censure and “No Confidence” Votes Regarding Public Officials</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21562.html">Naming Post Offices Through Legislation</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22450.html">Procedural Analysis of Private Laws Enacted: 1986-2015</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43992.html">The Congressional Review Act (CRA): Frequently Asked Questions</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="h"></a>
<h2><span>Appropriations Procedures</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/R42388.html">The Congressional Appropriations Process: An Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43234.html">Across-the-Board Rescissions in Appropriations Acts: Overview and Recent Practices</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43482.html">Advance Appropriations, Forward Funding, and Advance Funding: Concepts, Practice, and Budget Process Considerations</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44124.html">Appropriations Report Language: Overview of Development, Components, and Issues for Congress</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42098.html">Authorization of Appropriations: Procedural and Legal Issues</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL31055.html">House Offset Amendments to Appropriations Bills: Procedural Considerations</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41634.html">Limitations in Appropriations Measures: An Overview of Procedural Issues</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22796.html">Medicare Trigger</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL32473.html">Omnibus Appropriations Acts: Overview of Recent Practices</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL34597.html">The Enactment of Appropriations Measures During Lame Duck Sessions</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44530.html">Spending and Tax Expenditures: Distinctions and Major Programs</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44736.html">The Holman Rule (House Rule XXI, Clause 2(b))</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41408.html">Rules and Practices Governing Consideration of Revenue Legislation in the House and Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL31572.html">Appropriations Subcommittee Structure: History of Changes from 1920 to 2017</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="i"></a>
<h2><span>Budget Procedures</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-721.html">Introduction to the Federal Budget Process</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30297.html">Congressional Budget Resolutions: Historical Information</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R40085.html">Consideration of Budgetary Legislation During Presidential Transition Years: A Brief Overview</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42647.html">Continuing Resolutions: Overview of Components and Recent Practices</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41948.html">Automatic Continuing Resolutions: Background and Overview of Recent Proposals</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44296.html">Deeming Resolutions: Budget Enforcement in the Absence of a Budget Resolution</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21519.html">Legislative Procedures for Adjusting the Public Debt Limit: A Brief Overview</a></li>
		<li><a href="https://www.everycrsreport.com/reports/97-865.html">Points of Order in the Congressional Budget Process</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30223.html">Presidential Rescission Authority: Efforts to Modify the 1974 Framework</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44769.html">Provisions Affecting the Congressional Budget Process Included in H.Res. 5 (115th Congress)</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42972.html">Sequestration as a Budget Enforcement Process: Frequently Asked Questions</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42050.html">Budget “Sequestration” and Selected Program Exemptions and Special Rules</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20152.html">The Executive Budget Process Timetable</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43163.html">The President’s Budget: Overview of Structure and Timing of Submission to Congress</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20198.html">The Role of Departments and Agencies in Budget Development</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20268.html">Agency Justification of the President’s Budget</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20167.html">The Role of the Office of Management and Budget in Budget Development</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20179.html">The Role of the President in Budget Development</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="j"></a>
<h2><span>Budget Reconciliation Procedures</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL30862.html">The Budget Reconciliation Process: The Senate’s “Byrd Rule”</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44058.html">The Budget Reconciliation Process: Stages of Consideration</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-814.html">Budget Reconciliation Legislation: Development and Consideration</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41151.html">Budget Reconciliation Process: Timing of Committee Responses to Reconciliation Directives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30458.html">The Budget Reconciliation Process: Timing of Legislative Action</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43885.html">Points of Order Limiting the Contents of Reconciliation Legislation: In Brief</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R40480.html">Budget Reconciliation Measures Enacted Into Law: 1980-2010</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="k"></a>
<h2><span>Committee Consideration</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-317.html">Types of Committee Hearings</a></li>
	</ul>
	<a name="k1"></a>
<h3>Committee Types</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-241.html">Committee Types and Roles</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL34679.html">House Committee Chairs: Considerations, Decisions, and Actions as One Congress Ends and a New Congress Begins</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41519.html">History and Authority of the Joint Economic Committee</a></li>
	</ul>
	<a name="k2"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-304.html">House Committee Hearings: Arranging Witnesses</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-488.html">House Committee Hearings: Preparation</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-339.html">House Committee Hearings: Scheduling and Notification</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22637.html">House Committee Hearings: The “Minority Witness Rule”</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-338.html">House Committee Hearings: Witness Testimony</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41083.html">House Committee Markups: Manual of Procedures and Procedural Strategies</a></li>
		<li><a href="https://www.everycrsreport.com/reports/97-1045.html">House Rules and Precedents Affecting Committee Markup Procedures</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-870.html">Quorum Requirements in the House: Committee and Chamber</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44362.html">Post-Committee Adjustment in the Modern House: The Use of Rules Committee Prints</a></li>
	</ul>
	<a name="k3"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL30548.html">Hearings in the U.S. Senate: A Guide for Preparation and Procedure</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-336.html">Senate Committee Hearings: Arranging Witnesses</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-489.html">Senate Committee Hearings: Preparation</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-337.html">Senate Committee Hearings: Scheduling and Notification</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22649.html">Senate Committee Hearings: The “Minority Witness Rule”</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-392.html">Senate Committee Hearings: Witness Testimony</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-311.html">Senate Rules Affecting Committees</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-775.html">Quorum Requirements in the Senate: Committee and Chamber</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="l"></a>
<h2><span>Calendars and Scheduling</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RS20234.html">Expedited or “Fast-Track” Legislative Procedures</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R42977.html">Sessions, Adjournments, and Recesses of Congress</a></li>
	</ul>
	<a name="l1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-437.html">Calendars of the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30599.html">Expedited Procedures in the House: Variations Enacted into Law</a></li>
	</ul>
	<a name="l2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-429.html">The Senate’s Calendar of Business</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-438.html">The Senate’s Executive Calendar</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22299.html">Bypassing Senate Committees: Rule XIV and Unanimous Consent</a></li>

	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="m"></a>
<h2><span>Floor Action</span></h2>
	<a name="m1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL30725.html">The First Day of a New Congress: A Guide to Proceedings on the House Floor</a><br/>Literally what happens on the first day of a new Congress; not a general introductory guide as the title might also suggest.</li>
		<li><a href="https://www.everycrsreport.com/reports/95-563.html">The Legislative Process on the House Floor: An Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R43424.html">Considering Legislation on the House Floor: Common Practices in Brief</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20067.html">How Measures Are Brought to the House Floor: A Brief Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-427.html">Considering Measures in the House Under the One-Hour Rule</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22991.html">Speaking on the House Floor: Gaining Time and Parliamentary Phraseology</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22015.html">Availability of Legislative Measures in the House of Representatives (The “Three-Day Rule”)</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-314.html">Suspension of the Rules in the House: Principal Features</a></li>
		<li><a href="https://www.everycrsreport.com/reports/97-552.html">The Discharge Rule in the House: Principal Features and Uses</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-315.html">Privileged Business on the House Floor</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R44330.html">The Motion to Recommit in the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-970.html">Pairing in Congressional Voting: The House</a></li>

	</ul>
	<a href="#top" class="backtotop">Back to Top</a>
	<a name="m2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RS20722.html">The First Day of a New Congress: A Guide to Proceedings on the Senate Floor</a><br/>Literally what happens on the first day of a new Congress; not a general introductory guide as the title might also suggest.</li>
		<li><a href="https://www.everycrsreport.com/reports/98-865.html">Flow of Business: A Typical Day on the Senate Floor</a></li>
		<li><a href="https://www.everycrsreport.com/reports/96-548.html">The Legislative Process on the Senate Floor: An Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20668.html">How Measures Are Brought to the Senate Floor: A Brief Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-836.html">Calling Up Business on the Senate Floor</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-310.html">Senate Unanimous Consent Agreements: Potential Effects on the Amendment Process</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-614.html">Amendments in the Senate: Types and Forms</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22854.html">Filling the Amendment Tree in the Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RL30850.html">Minority Rights and Senate Procedures</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-737.html">Floor Consideration of Conference Reports in the Senate</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS20199.html">Ordering a Roll Call Vote in the Senate</a></li>
			<li><a href="https://www.everycrsreport.com/reports/RS22952.html">Proxy Voting and Polling in Senate Committee</a></li>
		<li><a href="https://www.everycrsreport.com/reports/96-452.html">Voting and Quorum Procedures in the Senate</a></li>
	</ul>
	<a href="#top" class="backtotop">Back to Top</a>
	<a name="m3"></a>
<h4>Cloture</h4>
		<ul>
			<li><a href="https://www.everycrsreport.com/reports/RL30360.html">Filibusters and Cloture in the Senate</a></li>
			<li><a href="https://www.everycrsreport.com/reports/R44819.html">Senate Proceedings Establishing Majority Cloture for Supreme Court Nominations: In Brief</a></li>
			<li><a href="https://www.everycrsreport.com/reports/RL32878.html">Cloture Attempts on Nominations: Data and Historical Development</a></li>
		</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="n"></a>
<h2><span>Resolving Differences</span></h2>
<p>While the first three reports do overlap some, they each go into detail on different aspects of the resolving differences stage.</p>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/96-708.html">Conference Committee and Related Procedures: An Introduction</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-696.html">Resolving Legislative Differences in Congress: Conference Committees and Amendments Between the Houses</a></li>
		<li><a href="https://www.everycrsreport.com/reports/R41003.html">Amendments Between the Houses: Procedural Options and Effects</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21236.html">Blue-Slipping: Enforcing the Origination Clause in the House of Representatives</a></li>
		<li><a href="https://www.everycrsreport.com/reports/98-382.html">Conference Reports and Joint Explanatory Statements</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21629.html">Sufficiency of Signatures on Conference Reports</a></li>
	</ul>
	<a name="n1"></a>
<h3>House</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-381.html">Instructing House Conferees</a></li>
	</ul>
	<a name="n2"></a>
<h3>Senate</h3>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/98-380.html">Senate Conferees: Their Selection and Authority</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS22733.html">Senate Rules Restricting the Content of Conference Reports</a></li>
		<li><a href="https://www.everycrsreport.com/reports/RS21629.html">Sufficiency of Signatures on Conference Reports</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>
<a name="o"></a>
<h2><span>Enrollment of Legislation</span></h2>
	<ul>
		<li><a href="https://www.everycrsreport.com/reports/RL34480.html">Enrollment of Legislation: Relevant Congressional Procedures</a></li>
	</ul>
<a href="#top" class="backtotop">Back to Top</a>

{% endblock %}
