{% extends "master.html" %}
{% block title %}Live Video In Congress Now -- GovTrack.us{% endblock %}
{% block head %}
<style>
h1 { margin-bottom: 30px; }

.col_6 {
	width: 450px;
	margin-right: 40px;
	float: left;
}
.col_last {
	margin-right: 0;
}

.floor {
	display: none;
	font-size: 90%;
	padding: .5em;
	margin: .5em 0 2em 0;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
}

.notes {
	margin-top: 20px;
	border-top: 1px solid #AAA;
	padding-top: 20px;
}

section {
	margin-bottom: 2em;
}
</style>

<script>
	function sunlight_live_callback(data) {
		if (data && data.floor_updates && data.floor_updates[0] && data.floor_updates[0].events && data.floor_updates[0].events[0]) {
			var time = new Date(Date.parse(data.floor_updates[0].timestamp));
			var hr = time.getHours();
			var am = "am";
			if (hr == 0) hr = 12;
			else if (hr == 12) am = "pm";
			else if (hr > 12) { hr -= 12; am = "pm"; }
			time = time.toLocaleDateString() + " " + hr + ":" + (time.getMinutes() < 10 ? "0" : "") + time.getMinutes() + " " + am;
			
			var ev = data.floor_updates[0].events[0];
			if (ev.length > 160) ev = ev.substring(0, 158) + "...";
			
			var n = $("<div><span class='date'/>: <span class='text'/><div>");
			n.find(".date").text(time);
			n.find(".text").text(ev);
			
			var c = $('#from_the_floor_' + data.floor_updates[0].chamber);
			c.append(n);
			c.show();
			
			/*if (data.floor_updates[0].events[0].indexOf("do now adjourn") >= 0 || data.floor_updates[0].events[0].indexOf("will next convene") >= 0)
				$('#currently_in_session .' + data.floor_updates[0].chamber + "-area").removeClass("active");*/
		}
	}
</script>

{% endblock %}
{% block crumbs %}
<ul><li><a href="/congress">Congress</a></li><li>Live</li></ul>
{% endblock %}
{% block override_content %}
<div id="content">

<h1>Live Video from Congress</h1>

<section>
	<div class="col_6">
		<h2>In the House Now</h2>
		<div id="from_the_floor_house" class="floor"> </div>
		
		{% with 450 as width %}
		{% with 338 as height %}
		{% with "http://grani-househ264enc01.wm.llnwd.net/grani_houseH264ENC01?wmcache=0" as media_asf %}
		{% with "/static/images/dynamic/floor_thumb_house.jpeg" as media_jpg %}
			{% include "website/video.html" %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		
		<center><small><a href="http://houselive.gov">Go to the Official House Floor Page</a></small></center>
	</div>
	
	<div class="col_6 col_last">
		<h2>In the Senate Now</h2>
		<div id="from_the_floor_senate" class="floor"> </div>
	
		{% with 450 as width %}
		{% with 338 as height %}
		{% with "http://grani-senateenc01.wm.llnwd.net/grani_senateenc01?wmcache=0" as media_asf %}
		{% with "/static/images/dynamic/floor_thumb_senate.jpeg" as media_jpg %}
			{% include "website/video.html" %}
		{% endwith %} 	
		{% endwith %} 	
		{% endwith %}
		{% endwith %}
		
		<center><small><a href="http://www.senate.gov/floor/index.htm">Go to the Official Senate Floor Page</a></small></center>
	</div>
	
	<script>
	$(function() {
	    // Make the two on-the-floor blurbs from the RTC api the same (max) height.
		var h = 0;
		$('.floor').each(function() {
			var h2 = $(this).height();
			if (h2 > h) h = h2;
		});
		$('.floor').animate({ height: h });
	});
	</script>
	
	<script src="http://api.realtimecongress.org/api/v1/floor_updates.json?apikey=cef0df6234aa496bb3b36be96eb4ee93&callback=sunlight_live_callback&per_page=1&chamber=senate"></script>
	<script src="http://api.realtimecongress.org/api/v1/floor_updates.json?apikey=cef0df6234aa496bb3b36be96eb4ee93&callback=sunlight_live_callback&per_page=1&chamber=house"></script>
	
	<div style="clear: both"/>
</section>

<section>
	<h2>Live House Committee Events</h2>
	
	<ul class="bullets">
	{% for event in housecommittees %}
		<li><a href="{{event.url}}" target="_blank">{{event.title}}</a></li>
	{% empty %}
		<p>There are no known live committee events.</p>
	{% endfor %}
	</ul>
</section>

<section>
	<div class="notes">
		<p>Floor status is courtesy of the <a href="http://services.sunlightlabs.com/docs/Real_Time_Congress_API/">Sunlight Foundation Real Time Congress API</a>.</p>
		<p>Live House committee events is courtesy of <a href="http://thomas.loc.gov/video/house-committee">The Library of Congress</a>.</p>
	</div>
</section>

</div>
{% endblock %}

