{% extends "master.html" %}
{% block title %}Contacting GovTrack.us{% endblock %}

{% block head %}
<style>
	dt {
		font-size: 120%;
		margin-top: 1em;
		margin-bottom: .25em;
	}
	#content dl p {
		margin-bottom: .5em;
	}
</style>
{% endblock %}

{% block crumbs %}
	<h1>Contact Us</h1>
{% endblock %}

{% block override_content %}
<div id="content" class="row">
	
	<div class="col-sm-8">
		<p style="margin-top: 2em">Before writing us, please note:</p>

		<dl>

		<dt>We can&rsquo;t help you with a problem you are having with an agency.</dt>
		<dd>
		<p>This isn&rsquo;t a government website. We don&rsquo;t have any way to help you with any problems you may have with a government agency.</p>
		<p>We suggest instead that you contact your representative. You can use our site to <a href="/congress/members">find your representative</a>. Then go to his or her website and look for their contact information there.</p>
		</dd>

		<dt>We cannot help you book a White House tour.</dt>
		<dd><p>This isn&rsquo;t a government website. You must call the office of your representative or senator. You can use this site to <a href="/congress/members">find your representative</a>. Then go to his or her website and look for their contact information there.</p>
		</dd>

		<dt>Everything we know is already posted.</dt>
		<dd>We do not have any additional information on the status of a bill that isn&rsquo;t already posted on the page for the bill on this website. We also can&rsquo;t explain bills &mdash; we don&rsquo;t have any special insight into what they mean.</dd>

		<dt>Trying to unsubscribe?</dt>
		<dd>It&rsquo;ll be a lot faster if you <a href="/accounts/profile">edit your account settings</a> rather than emailing us. If you have any trouble, please do email.</dd>

		<dt>Still want to reach us?</dt>
		<dd>
		<p>Email us at <a href="mailto:&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;">&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;</a> and we&rsquo;ll try to answer your question as best we can.</p>
		<p>If you are having trouble using the site or found an error, please include a link to the page on the site you want us to look at.</p>
		<p>If you are a journalist, please mention if you are on a deadline.</p>
		</dd>

		</dl>

		

	</div>
</div>

{% endblock %}

