{% extends "master.html" %}
{% load humanize %}
{% block title %}Members of Congress &amp; Congressional District Maps - GovTrack.us{% endblock %}
{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		$(function() {
			var myOptions = {
				zoom: 4,
				center: new google.maps.LatLng(38, -96),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				zoomControl: true,
				mapTypeControl: false,
				scaleControl: true,
				streetViewControl: false
				};
			var map = new google.maps.Map(document.getElementById("map_canvas"),
			myOptions);
			
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push($('#fullscreen')[0]);
			
			var overlayOptions = 
			{
			  getTileUrl: function(coord, zoom) 
			  {
				  return "http://www.govtrack.us/perl/wms/wms.cgi?google_tile_template_values=" + coord.x + "," + coord.y + "," + zoom + "&LAYERS=cd-110&FORMAT=image/png";	
			  },
			  tileSize: new google.maps.Size(256, 256),
			  minZoom: 2,
			  maxZoom: 28,
			  opacity: .2,
			  isPng: true
			};			
			overlayWMS = new google.maps.ImageMapType(overlayOptions);
			map.overlayMapTypes.insertAt(0, overlayWMS);			

			var overlayOptions = 
			{
			  getTileUrl: function(coord, zoom) 
			  {
				  return "http://www.govtrack.us/perl/wms/wms.cgi?google_tile_template_values=" + coord.x + "," + coord.y + "," + zoom + "&LAYERS=cd-110-outlines&FORMAT=image/png";
			  },
			  tileSize: new google.maps.Size(256, 256),
			  minZoom: 2,
			  maxZoom: 28,
			  opacity: .7,
			  isPng: true
			};			
			overlayWMS = new google.maps.ImageMapType(overlayOptions);
			map.overlayMapTypes.insertAt(0, overlayWMS);

			google.maps.event.addListener(map, "click", function(event) {
				var req = 'http://www.govtrack.us/perl/wms/get-region.cgi?layer=cd-110&lat=' + event.latLng.lat() + '&long=' + event.latLng.lng() + '&format=json';
				ajax(req, {}, {
						success: function(res) {
							alert(res[0]);
						},
						failure: function() {
							alert(0);
						}
				});
			});
			
		});
		
		function doFullScreen() {
			if ($('#leftpanel').css('display') == 'none') {
				$('#leftpanel').show();
				$('#map_canvas').css('position', 'relative');
				$('#map_canvas').css('width', '620px');
				$('#map_canvas').css('height', '450px');
			} else {
				$('#leftpanel').hide();
				$('#map_canvas').css('position', 'absolute');
				$('#map_canvas').css('top', '1px');
				$('#map_canvas').css('left', '1px');
				$('#map_canvas').css('width', '99%');
				$('#map_canvas').css('height', '99%');
			}
		}
	</script>
{% endblock %}
{% block style %}
	#map_canvas { height: 100% }
{% endblock %}
{% block wide-body %}

<h1>Members of Congress &amp; Congressional District Maps</h1>

<div id="leftpanel" style="float: left; width: 310px; padding-right: 2em">
	<div id="find" {% if state %}style="display: none"{% endif %}>
		<h2 class="first">Find a Senator or Representative</h2>
		
		<p>Enter the last name of a senator, representative, or delegate, choose a state, or enter a ZIP or ZIP+4 postal code or street address:</p>
		
		<form action="#">	
		<p>			
			<input id="lastname" value="" type="text" size="30" />
			<input class="button" type="submit" value="Search" />
			<script>$('#lastname').input_default('Last Name');</script>		
		</p>		
		</form>
		
		<form>	
		<p>			
			<select id="state" size="1" onchange="if (this.value != '') window.location='/congress/members/' + this.value">
				<option value="">(Select State)</option>
				{% for abbr, name in statelist %}
				<option value="{{abbr}}" {% if abbr == state %}selected{% endif %}>{{abbr}} - {{name}}</option>
				{% endfor %}
			</select>
		</p>
		</form>
	
		<form action="#">	
		<p>			
			<input id="zip" value="" type="text" size="30" />
			<input class="button" type="submit" value="Search" />
			<script>$('#zip').input_default('ZIP or ZIP+4');</script>		
		</p>		
		</form>
	
		<form action="#">	
		<p>			
			<input id="address" value="" type="text" size="30" />
			<input class="button" type="submit" value="Search" />
			<script>$('#address').input_default('350 5th Ave, New York, NY 10001');</script>		
		</p>		
		</form>
		
		<h2>Or...</h2>
		<ul>
			<li><a href="/congress/members/all">List All Members of Congress</a></li>
			<li><a href="/congress/members/browse">Search Former Members of Congress</a></li>
		</ul>
		
		<h2>Statistics</h2>
		<p>Take a look at <a href="/congress/members/stats">statistics</a> about missed votes, bill sponsorship, ideology, and leadership.</p>
		
		<h2>More Maps</h2>
		<p>Want to print these maps? Try our <a href="/congress/members/printablemaps">printable PDF maps</a> instead.</p>
		<p>You can also use the <a href="/embed/googlemaps">map layer on your maps mash-up or get a KML file</a> for Google Maps/Earth.</p>
	</div>
	
	{% if state %}
	<div id="state">
		<h2 class="first">{{statename}}</h2>
		
		<h3>Senators</h3>
		{% if stateapp == "T" %}
			<p>{{statename}} is a U.S. territory and so does not have any senators.</p>
		{% else %}
			<ul>
				{% for rep in senators %}
					{% if rep %}
						<li><a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a></li>
					{% else %}
						<li><em>Vacant</em></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
		
		<h3>Representative{{reps|pluralize}}</h3>
		<ul>
			{% for dist, rep in reps %}
				<li style="margin-bottom: .5em">
					{% if reps|length > 1 %}
					<div><strong>{{dist|ordinal}} District:</strong></div>
					{% endif %}
					{% if rep %}
						<a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a>
					{% else %}
						<em>Vacant</em>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
	
<div style="float: left">
	
	<div style="display: none">
		<div id="fullscreen">
			<img src="{{ MEDIA_URL }}icons/stock_fullscreen.png" title="Toggle Full Screen" onclick="doFullScreen();" style="cursor: pointer"/>
		</div>
	</div>

	<div id="map_canvas" style="width: 620px; height:450px; border: 1px solid black"> </div>

</div>

{% endblock %}

