{% extends "master.html" %}
{% block title %}GovTrack.us - Educator User Guide{% endblock %}

{% block body %}

	<h1>For Educators</h1>

	<p>GovTrack.us tracks the United States Congress and helps Americans participate in their national legislature. We <i>love</i> Congress and are passionate about teaching America how their government works, preparing them for a lifetime of civic engagement.</p>

	<p>Here are some ways GovTrack can be used in your classroom.</p>

	<h2><span>Follow along with congressional activity as a class</span></h2>
		<p>With GovTrack’s <a href="https://www.govtrack.us/accounts/lists">tracker lists</a> you can share a list of bills, votes, legislators and more with your students, or vice versa. Leave notes for your students next to each item in your list or have students submit assignments by sharing their notes with you.</p>
		<p>Following along with current, real-time legislative activity can help your students relate what Congress does to the rest of their lives. Tailor as many tracking lists as you like &mdash; such as one for each class &mdash; with important bills for your students, or allow them to research their own bills as they choose.</p>

	<h2><span>Get key questions on bills and votes</span></h2>
		<p>Each bill and vote page on GovTrack comes with a built-in study guide with key questions for students to ask about that bill. Study guide questions are open ended, meant to encourage students to think about the content and context of legislative activity.</p>
		<p>Study guides adapt slightly depending on factors of each bill or vote. For example, if legislators have issued press statements about a bill, the guide will prompt students to consider those as they examine the context of the bill as a whole.</p>

	<h2><span>Get a GovTrack expert to drop in on your online class</span></h2>
		<p>Teaching online? You can reach out to <a href="mailto:hello@govtrack.us">hello@govtrack.us</a> to ask for one of our experts to answer questions or give brief lectures to your class. Let us know about your lesson plans in advance and we’ll prepare relevant information and demonstrate some of the tools on GovTrack that may be useful.</p>

{% endblock %}
