{% extends "master.html" %}
{% block title %}GovTrack.us - Advocate User Guide{% endblock %}

{% block body %}

<h1>For Advocates</h1>

	<p>GovTrack.us is a comprehensive database of federal legislative information, including
	tools and analysis you won&rsquo;t find anywhere else. Here are some ways you
	can use GovTrack to help you advocate for your issues.</p>

        <h2><span>Spread your message to reach ten million annual GovTrack users</span></h2>
                <p>GovTrack users may come from all parts of the country with all kinds of political leanings, but they share one thing in common: they track Congress. Reach ten million annual users who want to know more about legislative policy by registering as a GovTrack stakeholder. As a stakeholder, you will be able to post public position statements on bill pages and link users to actions steps so that they can participate in your movement. You can register as a stakeholder on the Position Statements section of any bill page.</p>
                <p>You can also create your own shareable bill lists. Leave your own notes on legislative activity and share your lists to keep others in the loop about your legislative interests with tracker lists. Share a link to your list and comments your colleagues or anyone else.</p>

        <h2><span>Find likely cosponsors to help advance your legislation</span></h2>
                <p>GovTrack offers unique analysis comparing members’ leadership and ideology scores using cosponsorship data. Find full cosponsorship data on any member by clicking “view cosponsors” at the bottom of the Bills Sponsored section. Use this data to find keep track of likely cosponsors to help advance legislation.</p>

        <h2><span>Access extensive legislative analysis tools</span></h2>
                <p>You can use GovTrack’s comprehensive databases to find the latest information about Congress including</p>
		<ul>
                        <li>Current or historical legislatve activity</li>
                        <li>Members’ legislative records and press releases</li>
                        <li>Committee Activity and press releases</li>
                </ul>
		<p>Tailor your own lists for email updates and RSS feeds on specific bills, committee activities, or individual Members of Congress. To create a new list visit <a href="https://www.govtrack.us/accounts/lists">your tracker lists page</a>. To add a new tracker to a list simply click on the green track button at the top of any GovTrack page.</p>
		<p>Use a built-in text comparison tool to view legislative text side-by-side to previous versions or related legislation, which can be found on the right hand sidebar of every bill text page.</p>
		<p>Get GovTrack analysis on trends in congressional data, such as annual <a href="https://www.govtrack.us/congress/members/report-cards/2019">legislative report cards</a> for each member with key statistics their role in Congress.</p>

        <h2><span>Search through a database of congressional procedures</span></h2>
                <p>We’ve collected all of the Congressional Research Services reports on congressional procedures on <a href="https://www.govtrack.us/congressional-procedures">GovTrack’s Congressional Procedures, Rules, and Norms page</a>. Reports are gathered from EveryCRSReport.com.</p>

{% endblock %}






