{% extends "master.html" %}
{% block title %}GovTrack.us - Journalist User Guide{% endblock %}

{% block body %}

<h1>User Guide for Journalists and Reporters</h1>

	<h2><span>Find your story</span></h2>
		<p>Search through expansive databases of congressional data to find your story. GovTrack features comprehensive data on all legislation, alongside exclusive databases such as our <a href="https://www.govtrack.us/congress/members/report-cards/2019">legislator report cards</a>, <a href="https://www.govtrack.us/misconduct">Congressional Misconduct Database</a>, and database of <a href="https://www.govtrack.us/congressional-procedures">Congressional Procedures, Rules, and Norms</a> via EveryCRSReport.com.</p>
		<p>Compare legislator leadership and ideology with unique GovTrack analysis examining trends in cosponsorships. Find out the frequent cosponsors of each member, which members are most bipartisan, and who appears to have the most influence on policy.</p>
		<p>Having trouble with your story? Contact GovTrack experts to get special insight into congressional data. We can help you get perspective on an existing project, or come up with a new pitch for a story. Reach out at <a href="mailto:hello@govtrack.us">hello@govtrack.us</a>.</p>

	<h2><span>Access extensive legislative analysis tools</span></h2>
		<p>Tailor your own <a href="https://www.govtrack.us/accounts/lists">tracker lists</a> with email updates (and RSS feeds) to track updates on specific bills, committee activities, or individual Members of Congress. To create a new list visit your tracker lists page. To add a new tracker to a list simply click on the green track button at the top of any GovTrack page.</p>
		<p>Use a built-in text comparison tool to view legislative text side-by-side to previous versions or related legislation, which can be found on the right hand sidebar of every bill text page.</p>
	
	<h2><span>Share notes with colleagues</span></h2>
		<p>Leave notes on your tracker lists and share them to keep your colleagues or readers in the loop. Lists come with a link to a page where you can comment on your trackers. Sharing this link with your colleagues will allow them to follow along with your trackers and comments.</p>

{% endblock %}
