{% extends "master.html" %}
{% block title %}How United States Laws are Made - GovTrack.us{% endblock %}

{% block body %}
<div style="max-width: 50em">
	<h1>How Laws Are Made</h1>

	<p>The United States of America isn&rsquo;t one government. It is actually many governments, each composed of different parts competing for power, all working together to make the lives of Americans better.</p>

	<p>This document gives a broad outline of where laws come from in the United States and what parts of the lawmaking process you can see here on GovTrack.us.</p>

	<h2><span>The Constitution</span></h2>

	<p><b><a href="https://www.senate.gov/civics/constitution_item/constitution.htm">The Constitution of the United States</a></b> is the founding document of the country and is the highest legal authority. Ratified in 1788, and in operation since 1789, it set the fundamental structure and limitations of the government of the Untited States of America.</p>

	<p>But the Constitution was necessarily vague. The founders of the nation could not anticipate all possible problems that would face the nation. As a result, more than 200 years of court cases have given more precise meaning to the original text. This <b><a href="https://www.congress.gov/constitution-annotated">Annotated Constitution</a></b> explains what the original text of the Constitution is now understood to mean.</p>

	<p>The Constitution created the federal (or &ldquo;national&rdquo;) government which has three parts: the Congress (the legislative branch), the President &amp; federal agencies (the executive branch), and the federal courts (the judicial branch). The Constitution gave different but overlapping powers to the branches so that no branch has the highest authority but all branches are involved in the creation of law.</p>

	<p>The Constitution can be amended. An amendment to the Constitution can be proposed either by the Congress or by conventions of the people in two-thirds of the states. In either case, an amendment to the Constitution must also be approved by three-fourths of the states. <a href="https://www.govtrack.us/congress/bills/browse#text=%22proposing+an+amendment+to+the+constitution%22&bill_type[]=7,8&congress=__ALL__">When an amendment is proposed by the Congress, you can see it here on GovTrack as a joint resolution.</a></p>

	<h2><span>The Congress</span></h2>

	<p>The United States Congress, or just Congress for short, is the primary subject of this website GovTrack.us. Congress is primarily responsible for creating national law, subject to the limitations set in the Constitution. The laws that Congress creates are called statutes.</p>

	<p>Congress is made up of two chambers, the House of Representatives and the Senate, which are filled by direct election by the American public. For Congress to pass a law, first there must be a bill. A bill must be passed by a majority vote in both chambers of Congress and then either be signed by the President or, if the President vetoes the bill, the veto must be overridden by a two-thirds vote in Congress. Once that happens, the bill becomes a law &mdash; a &ldquo;statute.&rdquo; <a href="/congress/bills">For more information on the bills in Congress, see the rest of this website GovTrack.us.</a></p>

	<p>When bills become a law, they are <a href="https://www.archives.gov/federal-register/laws/current.html">assigned numbers</a> and then published in the <a href="https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">United States Statutes at Large</a>. Laws of a general and permanent nature are then incorporated into the <b><a href="http://uscode.house.gov/">United States Code</a></b>. (Not in the U.S. Code are temporary laws, laws affecting just a few people, and law created by parts of the government other than the Congress.)</p>

	<p><b>This website GovTrack.us focuses on only information about the Congress in the federal government of the United States.</b> But we have included other information on this page so that you can understand the role of the Congress as a part of the entire government&rsquo;s job of creating law.</p> 

	<h2><span>Federal Agencies</span></h2>

	<p>The executive branch of the federal government consists of the President and (some) federal agencies. Both the President and agencies can create law.</p>

	<p>Although the Constitution gave all lawmaking powers to the Congress, Congress has in turn delegated some of those powers to the executive branch of the federal government. When Congress passes a law, it often directs the President, members of the President&rsquo;s Cabinet, or other lower officials to create &ldquo;regulations&rdquo; (also called &ldquo;rules&rdquo;). Regulations are created in a different manner than the statutes created by Congress, but regulations also have the force of law because they are created with the authority of Congress.</p>

	<p>When federal agencies create regulations, they must do so through a process proscribed by Congress. That process typically involves a public comment period. In the public comment period, Americans &mdash; and often American businesses &mdash; provide expertise to federal agencies about how the regulation would affect them. Agencies are legally bound to take that expertise into account before they finalize the regulation. Because the federal government has hundreds of agencies, there are many thousands of new regulations being issued all the time. For more about that process, see <b><a href="https://www.federalregister.gov/">FederalRegister.gov</a></b>.</p>

	<p>Regulations are published in the <b><a href="https://www.federalregister.gov/">Federal Register</a></b> as they are issued and then are incorporated into the <b><a href="http://www.ecfr.gov/cgi-bin/ECFR?page=browse">Code of Federal Regulations</a></b>.</p>

	<h2><span>The President</span></h2>

	<p>The President of the United States has no explicit law-making power in the Constitution, but there are two implicit sources of authority that the President uses to create law.</p>

	<p>The first is the President&rsquo;s inherent powers in the Constitution, primarily the President&rsquo;s role as the commander-in-chief of the military and the power to make foreign policy (and some others, such as to issue pardons). These powers can be constrained by Congress and challenged in the courts, but the President has wide latitude in these areas.</p>

	<p>The second source of authority derives from the President&rsquo;s power to appoint &mdash; and therefore also fire &mdash; the higest level of staff in the executive branch, including the Cabinet. Not all officials can be fired by the President, but for those who the President can fire, the President can order them to take any action consistent with existing law. Such orders usually direct agencies to take actions that Congress left up to the agency to decide. In these cases, the President can direct the agency to decide one way or the other.</p>

	<p>(Not all agencies are subject to the President&rsquo;s power this way. Most federal workers cannot be fired by the President, and many agencies are lead by officials that Congress has protected from being fired. These are called &ldquo;independent agencies&rdquo; and the President has no, or very little, power over them.)</p>

	<p>The President&rsquo;s <b><a href="https://www.federalregister.gov/executive-orders">executive orders</a></b> are the primary way in which the President creates and publishes such law.</p>

	<h2><span>The Federal Courts</span></h2>

	<p>The judicial branch of the federal government, created by the Constitution, is the federal court system. The courts resolve disagreements in the law by interpreting statutes and regulations. But in resolving disagreements, they also create new law. The opinions issued by the courts form the part of U.S. law called case law under the <a href="https://en.wikipedia.org/wiki/Precedent">principle of precedent</a>, which means that earlier court opinions are binding on later issues brought before the courts.</p>

	<p>There are three levels of federal courts. Most cases are brought first before &ldquo;district&rdquo; courts, which can hold trials. District courts each generally have authority over small geographic jurisdictions in the country. When the parties still disagree with a district court opinion, judgments by district courts are appealed to &ldquo;circuit&rdquo; courts. Like district courts, circuit courts generally have jurisdiction over a geographic part of the country. Circuit court judgments are appealed to the Supreme Court, especially when circuit courts in different parts of the country have come to different decisions on similar issues. The Supreme Court&rsquo;s decision cannot be appealed, but the law on which the Supreme Court must base its decision can be changed later by Congress.</p>

	<p>Federal court opinions can be viewed at <b><a href="https://www.courtlistener.com/">CourtListener.com</a></b>.</p>

	<p>There are also laws that are enforced by the courts which are neither statutes nor regulations. <a href="https://en.wikipedia.org/wiki/Common_law">Common law</a> are precedents set by the courts before the country was founded, based on earlier legal traditions, and which are still enforced by courts.</p>

	<h2><span>Federal versus State Governments</span></h2>

	<p>The Constitution created a union of states, with a federal government at the center. Under a principle called <a href="https://en.wikipedia.org/wiki/Dual_federalism">divided sovereignty</a>, the federal government is responsible for some areas of law (e.g., money, war) while the state governments are responsible for other areas (e.g., health, police). In practice, the line between the federal and state governments has been blurred as the federal government has expanded over the last 200 years.</p>

	<p>There are currently 50 states in the United States of America. Each state has a government similar to the federal government but on a smaller scale, with legislative, executive, and judicial branches. The website <b><a href="https://openstates.org/">OpenStates</a></b> tracks the legislative branches of the 50 states. There are no free nation-wide resources that track the law created by the executive or judicial branches of the state governments.</p>


</div>
{% endblock %}
