{% extends "master_a.html" %}
{% block title %}How a Bill Becomes a Law - GovTrack.us{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li>How Congress Works</li>
<li>How a Bill Becomes a Law</li>
</ol>

{% endblock %}

{% block head %}
<style>
dl dd {
	margin-bottom: .75em;
}
</style>
{% endblock %}

{% block summary %}
	<h1>How a Bill Becomes a Law</h1>

	<p>The United States Congress, or just Congress for short, is the first branch of the United States federal government. Congress is primarily responsible for creating national statutory law, subject to the limitations set in the Constitution.</p>

	<p>This page links to resources about how Congress makes laws.</p>

	<p>You may also want to check out these other pages:</p>

	<ul>
		<li>There are other types of laws in the United States besides national statutory law. See <a href="what-is-the-law">What is the law?</a> for our explanation of all the different types of laws that are created in the United States.</li>
		<li>Know this already? Head over to <a href="/congressional-procedures.html">Congressional Procedures, Rules and Norms</a> for the details.</li>
	</ul>

{% endblock %}

{% block body %}

	<h2><span>How a bill becomes a law</span></h2>

	<p>The 1976 Schoolhouse Rock! segment <i>I&rsquo;m Just A Bill</i> is a great summary of how Congress turns an idea into a law:</p>

	<div class="embed-responsive embed-responsive-4by3" style="margin: 2em 0">
		<iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/tyeJ55o3El0" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
	</div>

	<p>More details can be found in this overview view:</p>

	<div class="embed-responsive embed-responsive-16by9" style="margin: 2em 0">
	<iframe class="embed-iframe" src="//cdn.loc.gov/loader/embed//embed-with-loader.php?uuid=1C69EBF58CF100F2E0538C93F11600F2&size=mediumWide&name=&type=V&image=https://www.congress.gov/img/leg-process-placeholder.jpg" width="512" height="450" frameborder="0" scrolling="no"></iframe>
	</div>

	<p>You can <a href="https://www.congress.gov/legislative-process">continue with that video series</a> at the Library of Congress.</p>

	<p>For more in-depth explanations:</p>

	<ul>
	<li><a href="https://www.everycrsreport.com/reports/R42843.html">Introduction to the Legislative Process in the U.S. Congress</a></li>
	<li><a href="https://www.everycrsreport.com/reports/R42388.html">The Congressional Appropriations Process: An Introduction</a></li>
	<li><a href="/congressional-procedures.html">Congressional Procedures, Rules and Norms</a></li>
	</ul>

	<p>This information describes the formal procedure by which a bill becomes a law. But virtually all of the research and negotiating in the law-making process ocurrs off the record in meetings between the staff that work for senators and representatives, members of the public, lobbyists for nonprofits and businesses, and federal agencies.</p>

	<h2><span>What happens after Congress makes a law?</span></h2>

	<p>Making a law is only the very first step in creating national policy.</p>

	<p>Legally speaking, after a bill becomes a law, it is <a href="https://www.archives.gov/federal-register/laws/current.html">assigned a number</a> and then published in the <a href="https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">United States Statutes at Large</a>. Laws of a general and permanent nature are then incorporated into the <a href="http://uscode.house.gov/">United States Code</a>.</p>

	<p>Many laws direct federal agencies to take certain actions, like creating or ending a government program. After a law is enacted, it is up to the agencies to determine how that law will be implemented. They may create new regulations, which are also laws! For more about regulations, see <a href="what-is-the-law">What is the law?</a>.</p>

	<h2><span>What are the checks and balances on laws crated by Congress?</span></h2>

	<p>There are many checks and balances limited Congress&rsquo;s power to create laws. The executive branch &mdash; meaning the President and federal government agencies &mdash; can choose how to enforce the law, within the limits set by Congress. The federal courts can rule that Congress acted outside of the limitations of the Constitution when enacting a law (i.e. it is un-Constitutional). And the people of the United States can elect new representatives and senators in the next election.</p>

</div>
{% endblock %}
