{% extends "master.html" %}
{% block title %}GovTrack.us - General User Guide{% endblock %}

{% block body %}
	<h1>How To Use GovTrack</h1>

	<p>GovTrack.us tracks the United States Congress and helps Americans participate in their national legislature.</p>

	<p>We publish the status of federal legislation, information about your representative and senators in Congress including voting records, and original research on legislation. We’re one of the oldest government transparency websites in the world.</p>

	<h2><span>Who are my representatives?</span></h2>
		<p>Find out who represents you using our <a href="https://www.govtrack.us/congress/members/map">Congressional Districts Map</a>, or by searching your address on our <a href="https://www.govtrack.us/congress/members">Members of Congress page</a>. Learn more about your representatives by viewing their GovTrack pages, as well as <a href="https://www.govtrack.us/congress/members/report-cards/2019">legislative report cards</a> that compare the records of legislators every two years.<p>

	<h2><span>Find current and historical congressional activity</span></h2>
		<p>GovTrack includes bills and votes from as early as 1789. You can find any current bill in Congress on the <a href="https://www.govtrack.us/congress/bills/#find">Bill and Resolutions page</a>, or use <a href="https://www.govtrack.us/congress/bills/browse">GovTrack’s advanced search</a> to narrow down a list of bills to your exact interest. Learn about recent or historical votes on the <a href="https://www.govtrack.us/congress/votes">Voting Records page</a>.  Read more about <a href="https://www.govtrack.us/about-our-data">the data available on GovTrack here</a>.</p>

	<h2><span>Get and share automatic updates on Congress</span></h2>
		<p>Use <a href="https://www.govtrack.us/accounts/lists">tracker lists</a> to tailor your own email updates (and RSS feeds) to track updates on specific bills or bills in a subject area you choose, committee activities, or individual Members of Congress.</p>
		<p>Leave your own notes on legislative activity and share your lists to keep others in the loop about your legislative interests. Anyone with the right share link will be able to see your lists.</p>
		<p>To create a new list visit your tracker lists page. To add a new tracker to a list simply click on the green track button at the top of most any GovTrack page. You can make as many tracking lists as you like.</p>

	<h2><span>GovTrack&rsquo;s original reporting on Congress</span></h2>
		<p>If you’re not sure what to track in Congress, we’ve got you covered. Our <a href="http://govtrackinsider.com/">original reporting on GovTrack Insider</a> offers insight into current legislative issues and analysis of historical events in Congress.</p>
		<p>Explore unique data on Congress, like the <a href="https://www.govtrack.us/misconduct">Congressional Misconduct Database</a> and database of <a href="https://www.govtrack.us/congressional-procedures">Congressional Procedures, Rules, and Norms</a>. We are also tracking <a href="https://www.govtrack.us/covid-19">COVID-19 cases in Congress</a>.</p>

{% endblock %}
