{% extends "master.html" %}
{% load events_utils %}
{% block title %}GovTrack.us: Tracking the U.S. Congress{% endblock %}
{% block meta_description %}Tracking legislation and votes in the United States Congress.{% endblock %}
{% block style %}
{% endblock %}
{% block master_content %}
	<div class="welcome">
		<h2>Easily track the activities of the United States Congress.</h2>
		<p>GovTrack lets you browse, search, view, and tracking information from the United States Congress. Find your Congress members, track bills, tally votes, and keep tabs on our Congress.</p>
		<div class="call_to_action">Get Started</div>
	</div>
	
	<div class="browse">
		<p>Dive Into Your Congress</p>
		
		<a class="members_of_congress" href="{% url person_list %}">
			Members of Congress
		</a>
		
		<a class="bills" href="{% url bill_list %}">
			Bills &amp; Resolutions
		</a>
		
		<a class="votes" href="{% url vote_list %}">
			Voting Records
		</a>
	
		<a class="committees" href="{% url committee_list %}">
			Committees
		</a>
	</div>
		
	<div class="now">
		<h2>Current Happenings</h2>
		
		<div class="panel">
			<h3>In Congress</h3>
			
			<div>currently in session</div>
			
			<div id="events">
				<div id="from_the_floor">
				</div>
				
				{% for item in events %}
				{% with item|render_event:"" as event %}
				<div class="event">
					<div class="date">
					{% if not meta.date_has_no_time %}
						{{event.when}}
					{% else %}
						{{event.when|date}}
					{% endif %}
					</div>
					<div class="title"><a href="{{event.url}}">{{event.date}} {{event.title}}</a></div>
				</div>
				{% endwith %}
				{% endfor %}
			</div>
			
			<script>
			function sunlight_live_callback(data) {
				if (data && data.floor_updates && data.floor_updates[0] && data.floor_updates[0].events && data.floor_updates[0].events[0]) {
					var time = new Date(Date.parse(data.floor_updates[0].timestamp));
					var hr = time.getHours();
					var am = "am";
					if (hr == 0) hr = 12;
					else if (hr == 12) am = "pm";
					else if (hr > 12) { hr -= 12; am = "pm"; }
					time = time.toLocaleDateString() + " " + hr + ":" + (time.getMinutes() < 10 ? "0" : "") + time.getMinutes() + " " + am;
					
					var n = $("<p><span class='date'/> <span class='text'/></p>");
					n.find(".date").text(time + " in the House:");
					n.find(".text").text(data.floor_updates[0].events[0]);
					$('#from_the_floor').append(n);
				}
			}
			</script>
			<script src="http://api.realtimecongress.org/api/v1/floor_updates.json?apikey=cef0df6234aa496bb3b36be96eb4ee93&callback=sunlight_live_callback&per_page=1&chamber=house"></script>
			
			<div id="currently_in_congress">
				...
			</div>
		</div>
		
		<div class="panel">
			<h3>Popular Bills</h3>
			
			<div id="popular_bills">
				...
			</div>
			
			<h2>Latest Votes</h2>

			<div id="latest_votes">
				...
			</div>
		</div>
		
		<div class="panel">
			<h3>From the GovTrack Blog</h3>
			
			<div id="blog_items">
				...
			</div>
			
			<h3>GovTrack Tweets</h3>
			
			<div id="our_tweets">
				{% for tweet in tweets %}
					<div class="tweet">{{tweet.text}}</div>
					<div class="tweet_date">{{tweet.relative_created_at}}</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="tools">
		<h2>Take Congress on the Go</h2>
		
		<a href="http://sunlightlabs.com/blog/2011/congress-for-android-3/">
			<img src="http://assets.sunlightlabs.com/blog/android/main-thumb.png" width="80" style="float: left; margin-right: 1em; border: none"/>
		</a>
		<div style="float: left; width: 210px">
			<h3 style="margin-top: 0"><a href="http://sunlightlabs.com/blog/2011/congress-for-android-3/">Congress 3.0</a></h3>
			<p>Created by the Sunlight Foundation and based in part on GovTrack&rsquo;s database, this app lets you browse the latest activity in Congress and get information on your Members of Congress.</p>
		</div>
	</div>
	
{% endblock %}

