{% extends "master.html" %}
{% load events_utils %}
{% block title %}GovTrack.us: Tracking the U.S. Congress{% endblock %}
{% block meta_description %}Tracking legislation and votes in the United States Congress.{% endblock %}

{% block head %}
  <meta property="og:title" content="GovTrack.us" />
  <meta property="og:description" content="Tracking legislation and votes in the United States Congress." />
  <meta property="og:url" content="{{SITE_ROOT_URL}}" />

<style>
body {
	background-image: url(/static/images/capitol_splash.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	min-height: 100vh;
}
#bodybody {
	background: none;
}
#masthead, #footer {
	border-top: none;
	background-color: rgba(0,0,0,.33);
}
#sitenewscontainer.navbar-default, #sitenewscontainer.navbar-default a {
	background: none;
	border: none;
	color: white;
}

.form-group {
	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.form-inline .form-control {
		min-width: 30em;
	}
}

#blog-posts {
	background-color: rgba(240,240,255, .7);
	border-radius: 20px;
	padding: 15px;
	margin: 0 -15px 0 -15px;
}
	#blog-posts h2 { margin-top: 0; }

	#primary-links {
		margin-top: 2em;
	}
	#primary-links a {
		display: block;
		margin: 1em 0;
		text-align: center;
		font-family: serif;
		line-height: 140%;
		text-decoration: none;
		font-family: sans-serif;
	}
		#primary-links a span {
			font-style: italic;
		}
		#primary-links a img {
			display: block;
			width: 100%;
		}
		#primary-links a:hover img {
			opacity: .9;
		}

article {

}

	article h3 {
		margin: 0 0 .2em 0;
		line-height: 125%;
	}

	article h3 a:link {
		text-decoration: none;
		font-weight: bold;
	}

	#content article p {
		margin-bottom: .25em;
	}
</style>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
	function do_address_form() {
		window.location = "/congress/members/map#address=" + encodeURIComponent($('#address').val());
		return false;
	}
	function do_by_current_location() {
		window.location = "/congress/members/map#my_location=1";
		return false;
	}
	function do_subject_form() {
		var url = $('#bill-subject-area').val();
		if (url)
			window.location = url;
		return false;
	}
</script>
{% endblock %}

{% block body %}

<div style="max-width: 1024px; margin: 60px auto;">
	<h1 style="font-size: 3.75vh; line-height: 125%; border: none; color: #222;">
		GovTrack is here to help you track legislation being debated in the United States Congress.
	</h1>

	<div style="font-family: 'Roboto Slab'; font-weight: bold;">

	<form action="#" onsubmit="return do_address_form();" class="form-inline" style="margin: 40px 0">
      <label for="address" style="display: block;">Enter your address to find your representative and senators and then get alerts:</label>
	  <div class="form-group">
	    <input type="text" class="form-control" id="address" placeholder="415 N. Main St., Hannibal, Missouri">
	  </div>
	  <div class="form-group">
		  <button type="submit" class="btn btn-success">Next &raquo;</button>
		  <button class="btn btn-success" onclick="do_by_current_location(); return false;">Use My Location</button>
	  </div>
	  <p style="margin-top: .5em; margin-left: 2px;">
		<a href="/congress/members/map">View a Map</a> &middot;
		<a href="/congress/members/current">See All Members of Congress</a> &middot;
		<a href="/congress/members">More</a>
	  </p>
	</form>

	<form action="#" onsubmit="return do_subject_form();" class="form-inline" style="margin: 40px 0">
      <label for="bill-subject-area" style="display: block;">Browse legislation that affects you:</label>
	  <div class="form-group">
	    <select id="bill-subject-area" class="form-control" onchange="$(this).parents('form').submit();">
	    	<option value="">Select Issue Area</option>
			{% for top_term, subterms in bill_subject_areas %}
				<option value="{{top_term.get_absolute_url}}">{{top_term.name}}</option>
				{% if not forloop.last %}&middot;{% endif %}
			{% endfor %}
	    </select>
	  </div>
	  <div class="form-group">
	  	<button type="submit" class="btn btn-success">Next &raquo;</button>
	  </div>
	  <p style="margin-top: .5em; margin-left: 2px;">
		<a href="/congress/bills/#bystatus">Browse Bills</a> &middot;
		<a href="/congress/bills/#get-alerts">Get Alerts</a> &middot;
		<a href="/congress/bills/browse">Advanced Search</a> &middot;
		<a href="/congress/votes">Recent Votes</a> &middot;
		<a href="/congress/committees/">By Committee</a> &middot;
		<a href="/congress/bills/">More</a>
	  </p>
	</form>

	</div>
</div>

<div id="blog-posts">
	<h2>
		<div style="float: right;">
			<a href="/events/govtrack-insider" style="text-transform: none; font-size: 80%; text-decoration: none;">subscribe</a>
		</div>
		<span>
		<a href="https://govtrackinsider.com" title="More Posts on Medium" style="color: white; text-decoration: none">
			GovTrack Insider
		</a>
		</span>
	</h2>
	<div class="row">
	{% for post in medium_posts|slice:"0:3" %}
	<div class="col-sm-6">
		<article class="row" style="margin-bottom: 1.5em">
		{% if not post.image %}
			<div class="col-xs-12">
		{% else %}
			<div class="col-xs-4 col-sm-3 col-lg-2" style="padding-right: 0">
			<a href="{{post.url}}">
				<img src="https://cdn-images-1.medium.com/max/400/{{post.image}}" class="img-responsive" style="border: 1px solid #888;"/>
			</a>
			</div>
			<div class="col-xs-8 col-sm-9 col-lg-10">
		{% endif %}
		<h3 style="line-height: 120%;"><a href="{{post.url}}">{{post.title}}</a></h3>
		<p style="line-height: 125%;">{{post.snippet}} <span style="font-size: 90%">{{post.published}}</span></p>
		</div>
		</article>
	</div>
	{% if forloop.counter|divisibleby:2 %}<div class="clearfix"> </div>{% endif %}
	{% endfor %}
	
	<div class="col-sm-6">
		<p><strong>Site News</strong></p>
		<div style="font-size: 80%">
		{% for item in blog|slice:"0:1" %}
			<article style="margin-bottom: 1.5em">
			<h3><a href="{{item.link}}">{{item.title}}</a></h3>
			<p>{{item.content|striptags|truncatewords:25}} <span style="font-size: 90%">{{item.date}}</span></p>
			</article>
		{% endfor %}
		</div>
	</div> <!-- /col -->
	</div> <!-- /row -->
</div>

<div class="container" style="display: none">
<div class="row">
	<div class="col-sm-3">
		<div id="primary-links" class="row" style="text-align: center">
			<div class="col-xs-4 col-sm-12">
				<a href="/congress/members">
					<img src="/static/images/img-congress-members.png">
					Members <span>of</span> Congress
				</a>
			</div>
			<div class="col-xs-4 col-sm-12">
				<a href="{% url "bill_docket" %}">
					<img src="/static/images/img-bills-resolutions.png">
					Bills <span>&amp;</span> Resolutions
				</a>
			</div>
			<div class="col-xs-4 col-sm-12">
				<a href="{% url "vote_list" %}">
					<img src="/static/images/img-voting-records.png">
					Voting Records
				</a>
			</div>
			<div class="clearfix visible-xs"> </div>
			<div class="col-xs-4 col-sm-12">
				<a href="{% url "committee_list" %}">
					<img src="/static/images/img-committees.png">
					Committees
				</a>
			</div>
			<div class="col-xs-4 col-sm-12">
				<a href="/about">
					<img src="/static/images/img-about.png">
					About GovTrack.us
				</a>
			</div>
			<div class="col-xs-4 col-sm-12">
				<a href="/developers">
					<img src="/static/images/img-opendata.png">
					Use Our Open Data
				</a>
			</div>
		</div>
	</div>
	<div class="col-sm-9">

		


			<div id="generic-events">
				<h2><span>Recent Activity in Congress</span></h2>
		
				<section>
					{% for item in events|slice:":5" %}
					{% with item|render_event:subscription_feeds as event %}
					<article style="margin-bottom: 1em">
						<h3><a href="{{event.url}}">{{event.title|truncatewords:30}}</a></h3>
						<p>
							{{event.type}} &mdash; {% if not event.date_has_no_time %}{{item.when}}{% else %}{{item.when|date}}{% endif %}
						</p>
						{{event.body_html|safe}}
					</article>
					{% endwith %}
					{% endfor %}

				</section>
			</div><!-- /generic-events -->

	</div> <!-- /col -->
</div> <!-- /row -->
</div>
{% endblock %}



