{% extends "master.html" %}
{% block title %}GovTrack.us - Privacy Policy and Terms of Service{% endblock %}

{% block body %}
	<h1>Legal Notices</h1>

	<h2><span>Privacy Policy</span></h2>
	
	<p>GovTrack collects typical non-personal information needed to maintain a healthy website, such as your IP address, web browser, and referral URL. If you create an account, then you know we are also collecting your email address, a password, and other information you provide, such as the list of bills you are tracking. Your password is stored in a matchable-but-not-recoverable (hashed) format. If you log in via a social network, we also keep your account ID on that network so we can recognize you when you try to log in again. You may also select legislation or our other feeds to track, and
	you may react to or leave notes on legislation, in which case we store that information
	for you.</p>
	
	<p>We do not use any of the information we collect in ways that would not be obvious to you. If you turn on email updates, we may email you legislative updates. We may email you other generic website notices if you have an account with us, but you can turn that off on your account page. We do not share your information with other parties without your permission except those parties that handle basic web infrastructure for us, such as our outbound email provider, and parties that help us anonymize your data so that we can share the data safely and anonymously with researchers.</p>

	<p>If you access this website from a federal government IP address, we may record your browsing history and may make all of the information we have collected about you, except your password, available to the general public.</p>

	<p>GovTrack collects the same information whether or not your browser sends a Do Not Track header. When you visit this website, other parties whose resources we have embeded may be collecting information about you as well. We avoid embedding resources that have egregious tracking policies. We place a cookie in your browser to link your session together.</p>
	
	<h2><span>Terms of Service</span></h2>

	<p>You are welcome &mdash; and encouraged &mdash; to copy and reuse any information you see here.</p>

	<p>You waive any claims against us. If you reside in a jurisdiction in which your visit of GovTrack would cause us to have violated a law or out of which would arise a claim of action against us, you are not permitted to use this website.</p>

	<p>If you use our embeddable congressional district map widget (the iframe code), you must also abide by the <a href="https://www.mapbox.com/tos/#maps">terms of Mapbox</a>: You can&rsquo;t use the map on a non-public website, basically.</p>

	<p>The privacy policy and these terms may be revised at any time and were last updated in September 2017.</p>

	<p>GovTrack.us is a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a>, registered in the District of Columbia.</p>

{% endblock %}
