{% extends "master.html" %}
{% block title %}GovTrack.us - Privacy Policy and Terms of Service{% endblock %}

{% block body %}
	<h1>Legal Notices</h1>

	<h2><span>Privacy Policy</span></h2>

	<h3> 1. Preamble</h3>
	<p>This privacy policy covers the use of the website (“Site”) www.govtrack.us, and all of its subdomains. GovTrack is offered to as a free public service to users (“You”, “Your”) in the United States by Civic Impulse, LLC (“We”, “Us”, “Our”). We describe here the types of data the Site collects, how the data is used and stored, and the conditions under which such data may be shared.</p>

	<h3>2. Last Modified / Effective Date / Notification of Changes</h3>
	<p>This Privacy Policy, version 3.0, was posted on December 13, 2018, and is effective as of the start of the following day.</p>
	<p>We may, from time to time, modify this Privacy Policy to ensure that it complies with government rules and regulations and that it reflects changes in the manner in which we plan to collect, store, use, and share the data we collect. We will post any changes to this Privacy Policy on this site. Recent changes were:</p>

	<p>version 3.0 (December 13, 2018): the privacy policy was completely rewritten</p>
	<p>version 2.2 (September 2018): users can now enter their positions on legislation; information about users participating in an (opt-in) research panel are shared with the research entity</p>
	<p>version 2.1 (November 2015): policy expanded to comply with California law</p>
	<p>version 2.0 (February 2013): new policy posted</p>

	<h3>3. Notice to residents of the European Union and European Economic Area</h3>
	<p>We offer this Site to United States users only. We neither market our products nor services to European Union (EU) or European Economic Area (EEA) data subjects. We do not knowingly collect, process, or store data on EU or EEA data subjects.</p>

	<h3>4. User Consent</h3>
	<p>By accessing the Site, the User consents to the Privacy Policy and Terms and Conditions under which the site is offered. In addition, when users volunteer to share their geolocational data to lookup their congressional district, and other other informtion described below, they consent to the collection, storage, and use of such data and sharing practices outlined in this Privacy Policy.</p>

	<h3>5. Data We Access or Store</h3>
	<p>We collect certain information about the users who visit and use the site:</p>

	<table class="table">
	<thead>
		<tr>
			<th>Data Type</th>
			<th>Storage Duration</th>
			<th>Use</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Internet Protocol (IP) Address Data</td>
			<td>Indefinitely</td>
			<td>To deliver services and perform diagnostics</td>
		</tr>
		<tr>
			<td>User Agent Information (contains information about the type and version of user’s web browser and operating system)</td>
			<td>Indefinitely</td>
			<td>To deliver services and perform diagnostics.</td>
		</tr>
		<tr>
			<td>Other information submitted automatically by users’ web browsers, such as referring URL or browser language</td>
			<td>Indefinitely</td>
			<td>To deliver services and perform diagnostics.</td>
		</tr>
		<tr>
			<td>User email addresses</td>
			<td>Until user requests removal</td>
			<td>To deliver services and inform users of product and service updates</td>
		</tr>
		<tr>
			<td>User Registration Information</td>
			<td>Until user requests removal</td>
			<td>To deliver services and inform users of product and service updates</td>
		</tr>
		<tr>
			<td>Information that users authorize Third-Party Login services (Facebook, Google, or Twitter) to transmit to us</td>
			<td>Until user requests removal</td>
			<td>To deliver services</td>
		</tr>
		<tr>
			<td>User-submitted data or data user chooses to share with Us, including, but not limited to topics of interest, zip code, address/geolocational data</td>
			<td>Until user requests removal</td>
			<td>To deliver services</td>
		</tr>
		<tr>
			<td>Direct communications from users</td>
			<td>Until user requests removal</td>
			<td>To respond to user inquiries, feedback, or suggestions, troubleshoot user issues, or provide technical support</td>
		</tr>
		<tr>
			<td>User interaction with the site</td>
			<td>Until user requests removal</td>
			<td>To provide services to the user and to improve the Site and services</td>
		</tr>
	</tbody>
	</table>

	<h3>6. Children’s Privacy/COPPA</h3>
	<p>We do not market or direct our services to children under the age of 13. We do not knowingly collect data or information on or about children under the age of 13.</p>

	<h3>7. How Your Data May Be Shared or Disclosed.</h3>
	<p>We contract with some third-party service providers and use some third-party design assets, software, or plugins to run the Site and deliver our services to you. Circumstances may also arise in which we may become compelled to share data with others.</p>
	<p>Third-Party Service Providers - We use third-party services and analytics providers in relation to some of our website features, internal communications, and to process payments and receive payments. We may share Your information with service providers that perform services on our behalf and under our instructions. We have not authorized these providers to use or disclose the information except as necessary to perform services on our behalf or obey legal requirements.</p>
	<p>Business Transfer - We may share user data with a prospective buyer or other successor in the event of an acquisition, merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information about our users held by Us is among the assets transferred.</p>
	<p>Legal Process / Government Investigation / As Required by Law - We may be compelled to disclose information we have collected if compelled to do so by court order, subpoena, or other legal process.</p>
	<p>Good Faith Disclosure - Circumstances may arise in which we may disclose information in good faith to aid in the investigation of fraud; to protect your safety; or to protect Our safety, legal rights and Our interests, those of Our shareholders, employees, consultants, contractors, physical, and intellectual property.</p>
	<p>Some users are invited to research panels, and if you accept a research panel invitation your reactions and private notes on legislation will be shared with the panel&rsquo;s administrator, as disclosed at the time you accept the invitation.</p>
	<p>If you access this website from a federal government IP address, we may record your browsing history and may make all of the information we have collected about you, except your password, available to the general public.</p>

	<h3>8. Third-Party Sites</h3>
	<p>We are not responsible for the content and privacy policies offered by other websites that may be linked on our Site. We may collect information regarding your use of Third-Party Sites within groups, pages, or sections administered by us, our agents, employees, or affiliates.</p>

	<h3>9. Third-Party Plugins, Design Assets, and Content</h3>
	<p>We rely on some third-party providers to offer users features such as simplified sharing of our content, to serve design assets such as fonts or media on our Site, and congressional district mapping. These providers may independently collect data about Your hardware, user-agent information, and connectivity data.</p>
	
	<h3>10. User’s Ability to Correct/Modify Data</h3>
	<p>Users may modify, amend, correct, and otherwise change data reported to Us via the User Portal (available at <a href="https://www.govtrack.us/accounts/profile">https://www.govtrack.us/accounts/profile</a> once the User has logged into the site) or request deletion thereof by visiting <a href="https://www.govtrack.us/contact">https://www.govtrack.us/contact</a> and submitting a request to Us.</p>

	<h3>11. Do Not Track Signals</h3>
	<p>The Site does not respond to Do Not Track signals.</p>
	
	<h3>12. Opting Out</h3>
	<p>By registering for Our Site or signing up for our Services, including updates on legislation, You understand and acknowledge that You will, from time to time, receive emails and email notifications from us as part of our Service. You may Opt Out of receiving those messages by modifying your settings &mdash; see above.</p>

	<h3>13. Cookies</h3>
	<p>We use Cookies, small digital files stored on your device and maintained by your browser, to learn how often users visit Our Site, to provide them with the ability to login automatically, and to identify when users are logged in in order to personalize their experience.</p>
	<p>We use Google AdSense to display ads on the Site. Google AdSense uses cookies to serve ads based on a Your prior visits to Our website or other websites. Google's use of advertising cookies enables it and its partners to serve ads to You based on Your visit to Our site and/or other sites on the Internet. You may opt-out of third-party vendor’s use of cookies for personalized advertising by visiting <a href="https://www.aboutads.info">www.aboutads.info</a>.</p>
	
	<h3>14. Social Login, Analytics, and Ad Providers</h3>
	<p>We use Quantcast, Google AdSense, Google Analytics, and Google Translate. In addition, at the option of the User, we offer social login capability through Facebook, Google, and Twitter social login. These providers may independently collect data about our User’s hardware, user-agent information, and connectivity data, or place cookies on your device.</p>

	<h3>15. How to Contact Us</h3>
	<p>Users may visit <a href="https://www.govtrack.us/contact">https://www.govtrack.us/contact</a>.</p>

	<h2><span>Terms of Service</span></h2>

	<p>You are welcome &mdash; and encouraged &mdash; to copy and reuse any information you see here.</p>

	<p>You waive any claims against us. If you reside in a jurisdiction in which your visit of GovTrack would cause us to have violated a law or out of which would arise a claim of action against us, you are not permitted to use this website.</p>

	<p>If you use our embeddable congressional district map widget (the iframe code), you must also abide by the <a href="https://www.mapbox.com/tos/#maps">terms of Mapbox</a>: You can&rsquo;t use the map on a non-public website, basically.</p>

	<p>The privacy policy and these terms may be revised at any time and were last updated in September 2017.</p>

	<p>GovTrack.us is a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a>, registered in the District of Columbia.</p>

{% endblock %}
