{% extends "master.html" %}
{% block title %}GovTrack.us - Privacy Policy and Terms of Service{% endblock %}
{% block crumbs %}
	<h1>Legal Notices</h1>
{% endblock %}
{% block override_content %}
<div id="content">
	<h2>Privacy Policy</h2>
	
	<p>GovTrack collects all of the standard non-personal information needed to maintain a healthy website, such as your IP address, web browser, and referral URL. We keep this information indefinitely but typically never use it unless we are troubleshooting a website problem. If you create an account, then you know we are also collecting your email address, a password, and other information you provide, such as the list of bills you are tracking. If you log in via a social network, we also keep your account ID on that network so we can recognize you when you try to log in again.</p>
	
	<p>We do not use any of the information we collect in ways that would not be obvious to you. If you turn on email updates, we may email you legislative updates. If you click a link to share bills on Facebook, we will share your action on Facebook. We may email you other generic website notices if you have an account with us, but that is exceedingly rare. We do not share your information with other parties without your permission except those parties that handle basic web infrastructure for us, such as our outbound email provider.</p>
	
	<h2>Terms of Service</h2>
	
	<p>We have no particular terms of service. If you don&rsquo;t break any laws or general Internet etiquette norms using this website, you are welcome here.</p>
</div>
{% endblock %}
