{% load govtrack_utils %}
{% for position in position_list %}
    {# <p>Subject: {{ position.subject }} Created: {{position.created}} </p> #}
    <div class="tracked_event">
        <h4 class="event_title simple">
            <a href="{{position.bill.get_absolute_url}}" target="_blank">{{position.bill.title}}</a>
        </h4>
        <div class="event_body">
            {% if position.position is not None %}
                <p class="position_val">{{position.position|likerttext}}{% if position.reasons != "" %}:{% endif %}</p>
            {% endif %}
            <p class="position_notes">{{position.reasons}}</p> 
        </div>
    </div>
{% empty %}
    <p class="if_has_no_positions text-info">
        You have not noted any positions yet! <br>
        <a href="/congress/bills">You can explore bills here</a> 
         and note your positions near the top of the page.
    </p>
{% endfor %}
