{% extends "master.html" %}
{% block title %}{{post.title}} - GovTrack.us{% endblock %}
{% block meta_description %}Original reporting and other news from GovTrack.us{% endblock %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/posts">News From Us</a></li>
    <li class="breadcrumb-item">{{post.get_category_display}}</li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<h1>{{post.title}}</h1>

<div class="row">
    <div class="col-md order-md-2" style="margin-bottom: 2em">
        <div class="ms-md-3" style="border: 1px solid #777; border-radius: 1em; padding: 1em; background-color: #F9F9F9;">
        <h2>Get {{post.get_category_display}} Updates In Your Inbox!</h2>
        <p>Sign up (it&rsquo;s free!) to get posts like this straight to your inbox. You&rsquo;ll be able to choose posts from these categories:</p>
        <p>{% for cat in categories %}{{cat.label}}{% if not forloop.last %} &nbsp; &ndash; &nbsp; {% endif %}{% endfor %}</p>
        <p><a href="/accounts/lists" class="btn btn-primary">Sign Up &raquo;</a></p>
        </div>
    </div>

    <div class="col-md">

      <p>
          {{post.created|date}}
          {% if post.author %}&middot; by {{post.author}}{% endif %}
      </p>

      {{post.body_html|safe}}
    </div>
</div>

<hr>

<p>
   Let us know what you think about these updates
   by tooting us on <a rel="me" href="https://mastodon.social/@GovTrack" title="Mastodon"><i class="fab fa-mastodon"></i> Mastodon</a>
   or <a href="/contact" style="text-decoration: none"><i class="fas fa-envelope"></i> sending us an email</a>.
</p>


{% endblock %}

