{% extends "master.html" %}
{% block title %}GovTrack.us - Press Coverage &amp; Publications{% endblock %}
{% block style %}
.press td { padding-top: 1em }
{% endblock %}
{% block crumbs %}
<a href="/about">About GovTrack</a>
{% endblock %}
{% block body %}
<div class="col_left">
<h1>Press Clippings</h1>

	<p>Here are articles on GovTrack in the press, mentions of GovTrack in articles about government transparency, other reviews and related press releases.</p>

	<table class="press">
		<tr><td>12/27/2010</td> <td><u>ReadWriteWeb</u>: <a href="http://www.readwriteweb.com/archives/data_hacker_pageranks_members_of_the_us_congress.php">Data Hacker Pageranks Members of the US Congress</a>, by  Marshall Kirkpatrick.</td></tr>
		<tr><td>5/23/2010</td> <td>Open Society Institute: <a href="http://www.soros.org/initiatives/information/focus/communication/articles_publications/publications/open-data-study-20100519">Open Data Study</a>.</td></tr>
		<tr><td>12/2/2009</td> <td><u>The American</u>: <a href="http://american.com/archive/2009/december-2009/opening-a-can-of-worms-government-and-climate-change-data">Opening a Can of Worms: Government and Climate Change Data</a>, by James V. Delong. (It refers to my monograph Open Data Is Civic Capital.)</td></tr>
		<tr><td>10/19/2009</td> <td><u>Columbia Journalism Review</u>: <a href="https://stgcms.journalism.columbia.edu/cs/ContentServer/jrn/1212611716674/page/1212611716651/JRNSimplePage2.htm">The Reconstruction of American Journalism</a> (<a href="http://www.cjr.org/reconstruction/the_reconstruction_of_american.php">CJR</a>), by Leonard Downie, Jr., The Washington Post and Arizona State University, and Michael Schudson, Columbia University.</td></tr>
		<tr><td>9/28/2009</td> <td><u>LA Times</u>: <a href="http://www.latimes.com/business/la-fi-hiltzik28-2009sep28,0,6508895,full.column">These crusaders bring transparency to government</a>, by Michael Hiltzik</td></tr>
		<tr><td>9/9/2009</td> <td><u>Orlando Sentinel</u>: <a href="http://blogs.orlandosentinel.com/news_politics/2009/09/alan-grayson-is-he-one-of-congress-top-leaders.html">Alan Grayson: Is he one of Congress' top "leaders"?</a>. Debate on the leader-follower score.</td></tr>
		<tr><td>8/26/2009</td> <td><u>Government Computer News</u>: <a href="http://gcn.com/articles/2009/08/26/apps-for-america-finalists.aspx">Apps for America 2 finalists announced</a>, by Joab Jackson.</td></tr>
		<tr><td>6/1/2009</td> <td><u>Government Computer News</u>: <a href="http://gcn.com/articles/2009/06/01/datagov-format-for-reuse.aspx">Ready for reuse?</a> by Joab Jackson.</td></tr>
		<tr><td>5/11/2009</td> <td><u>Columbia Journalism Review</u>: <a href="http://www.cjr.org/campaign_desk/senate_goes_xml.php">Senate goes XML</a>, by Clint Hendler</td></tr>
		<tr><td>5/6/2009</td> <td><u>Politico</u>: <a href="http://www.politico.com/news/stories/0509/22143.html">Senate picks up the slack on data</a>, by Victoria McGrane. (Again, no mention of GovTrack, but I count this as a bit of a personal victory.)</td></tr>
		<tr><td>5/4/2009</td> <td><u>O'Reilly Broadcast</u>: <a href="http://broadcast.oreilly.com/2009/05/us-senato-social-graph-1991--.html">Visualizing the U.S. Senate Social Graph, 1991 - 2009 [Part 1]</a>, by Andrew Odewahn.</td></tr>
		<tr><td>5/1/2009</td> <td><u>Politico</u>: <a href="http://www.politico.com/news/stories/0509/21985.html">Group wants Senate to get 'techy'</a>, by Victoria McGrane. (It doesn't mention GovTrack, but I was involved behind the scenes.)</td></tr>
		<tr><td>5/9/2009</td> <td><u>Examiner.com</u>: <a href="http://www.examiner.com/x-9268-Seattle-Libertarian-Examiner~y2009m5d9-Online-democracy">Online democracy</a>, by Alexandra de Scheel</td></tr>
		<tr><td>4/30/2009</td> <td><u>Government Computer News</u>: <a href="http://gcn.com/articles/2009/05/04/data-democratized.aspx">Remixing government data</a> by Joab Jackson.</td></tr>
		<tr><td>4/27/2009</td> <td><u>Politico</u>: <a href="http://www.politico.com/news/stories/0409/21726.html">Online voting records user unfriendly</a>, by Victoria McGrane</td></tr>
		<tr><td>3/5/2009</td> <td><u>Mother Jones</u>: <a href="http://www.motherjones.com/politics/2009/03/congressional-data-mining-coming-soon">Congressional Data Mining: Coming Soon?</a>, by Jonathan Stein</td></tr>
		<tr><td>3/3/2009</td> <td><u>TechNewsWorld</u>: <a href="http://www.technewsworld.com/story/How-to-Use-the-Web-to-Track-Government-Goings-On-66357.html?wlc=1236252767">How to Use the Web to Track Government Goings-On</a>, by Erika Morphy.</td></tr>
		<tr><td>2/28/2009</td> <td><u>Newsweek</u>: <a href="http://www.newsweek.com/id/186991">The People's Data: Government should make data openly available and then let outside talent reimagine how it can be used online</a>, by Christopher Werth.</td></tr>
		<tr><td>1/10/2009</td> <td><u>Miller-McCune</u>: <a href="http://www.miller-mccune.com/article/deep-throat-meets-data-mining">Deep Throat Meets Data Mining: In the nick of time, the digital revolution comes to democracy's rescue. And, perhaps, journalism's</a>, by John Mecklin.</td></tr>
		<tr><td>1/2009</td> <td><u>The Atlantic</u>: <a href="http://www.theatlantic.com/doc/200901/technology-government">iGov: How geeks are opening up government on the Web</a>, by Douglas McGray.</td></tr>
		<tr><td>7/24/2008</td> <td><u>linux.com</u>: <a href="http://www.linux.com/feature/142232">GovTrack opens up information on US legislature</a>, by Tina Gasperson.</td></tr>
		<tr><td>7/21/2008</td> <td><a href="http://itc.conversationsnetwork.org/shows/detail3749.html">IT Conversations: Jon Udell's Interviews with Innovators</a>
		</td></tr>
		<tr><td>7/16/2008</td> <td><u>Princeton Alumni Weekly</u>: <a href="http://www.princeton.edu/~paw/archive_new/PAW07-08/15-0715/features_tauberer.html">Data Crusader: Josh Tauberer '04 is someone a policy wonk could love</a>, by Brett Tomlinson.</td></tr>
		<tr><td>7/3/2008</td> <td><u>SemanticWeb.com</u>: <a href="http://www.semanticweb.com/insight/article.php/3758406">The Semantic Web and The Democratic Tradition</a>, by Jennifer Zaino</td></tr>
		<tr><td>7/3/2008</td> <td><u>ZDNet</u>: <a href="http://blogs.zdnet.com/Ratcliffe/?p=346">Seven Tech ways to make America better this July 4</a>, by Mitch Ratcliffe</td></tr>
		<tr><td>6/30/2008</td> <td><u>TIME</u> (just online?): <a href="http://www.time.com/time/business/article/0,8599,1819187,00.html">The Citizen Watchdogs of Web 2.0</a>, by Jeremy Caplan</td></tr>
		<tr><td>6/3/2008</td> <td><u>Ars Technica</u>: <a href="http://arstechnica.com/news.ars/post/20080603-study-gov-websites-should-focus-on-rss-xmlnot-redesigns.html">Study: .gov web sites should focus on RSS, XML—not redesigns</a>, by Timothy B. Lee</td></tr>
		<tr><td>6/2008</td> <td>Robinson, David, Yu, Harlan, Zeller, William P and Felten, Edward W, "<a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1138083">Government Data and the Invisible Hand</a>" (2008). Yale Journal of Law &amp; Technology, Vol. 11, 2008</td></tr>
		<tr><td>1/23/2008</td> <td><u>National Journal: Technology Daily:</u> <a href="http://www.govexec.com/story_page.cfm?filepath=/dailyfed/0108/012308tdpm1.htm">Lawmakers favor outside access to legislative data</a>, by Aliya Sternstein</td></tr>
		<tr><td>8/9/2007</td> <td><a href="http://www.theopenhouseproject.com/2007/08/09/insanely-useful-sites-govtrackus/">Sunlight Foundation: Insanely Useful Websites</a> (by John Wonderlich and Paul Blumenthal, with an audio-intro by GovTrack's Josh Tauberer)</td></tr>
		<tr><td>3/2007</td> <td><u>Searcher</u>: <a href="http://www.infotoday.com/searcher/mar07/">Mashups, Blogs, Wikis Go Federal</a> (subscribers only) (by Laura Gordon-Murnane)</td></tr>
		<tr><td>2/13/2007</td> <td><u>The American</u> (online): <a href="http://www.american.com/archive/2007/february-0207/legislators-should-live-in-a-glass-house">Legislators Should Live in a Glass House</a> (by GovTrack's creator Josh Tauberer)</td></tr>
		<tr><td>2/9/2007</td> <td><a href="http://www.commondreams.org/news2007/0209-01.htm">Sunlight Foundation Announces Open House Project</a>
		</td></tr>
		<tr><td>5/9/2006</td> <td><a href="http://webbyawards.com/webbys/current.php?season=10#webby_entry_politics">Webby Award 2006 Nominee - Politics</a>
		</td></tr>
		<tr><td>5/6/2006</td> <td><u>Voice of America: Our World</u>: <a href="http://www.voanews.com/english/Science/2006-05-05-voa57.cfm">Web Site of the Week</a>
		</td></tr>
		<tr><td>4/3/2006</td> <td><u>The Daily Pennsylvanian</u>: <a href="http://www.dailypennsylvanian.com/vnews/display.v/ART/4430c7eb4fba7?in_archive=1">Grad student's site helps track new laws</a> (by Katie Vasserman)</td></tr>
		<tr><td>3/1/2006</td> <td><u>The Washington Post</u>: <a href="http://www.washingtonpost.com/wp-dyn/content/article/2006/02/28/AR2006022801471.html">Think Your Lawmakers Don't Read Bills? Do It Yourself.</a> (by Zachary A. Goldfarb)</td></tr>
		<tr><td>2/21/2005</td> <td><u>Accounting Today</u>: "Government Resources"</td></tr>
		<tr><td>3/3/2005</td> <td><u>The Daily Princetonian</u>: <a href="http://www.dailyprincetonian.com/archives/2005/03/03/news/12239.shtml">Tauberer '04 takes Govtrack to Capitol Hill</a> (by Kavita Saini)</td></tr>
		<tr><td>2/8/2005</td> <td><u>BusinessWeek Online</u>: <a href="http://www.businessweek.com/technology/content/feb2005/tc2005028_3828_tc203.htm">All Your Info in One Place</a> (by Olga Kharif)</td></tr>
		<tr><td>1/27/2005</td> <td><u>The New York Times</u>: <a href="http://www.govtrack.us/articles/20050126nyt.xpd">How Did They Vote? Updates by E-Mail of Congressional Ayes and Nays</a> (by Daniel Terdiman)</td></tr>
		<tr><td>1/13/2005</td> <td><u>The Guardian</u> (London): "Life: online: Blog Watch: Bill of progress"</td></tr>
	</table>

</div>

<div class="col_right">
	<div class="sidebox">
		<h2>Publications</h2>
		
		<iframe src="http://rcm.amazon.com/e/cm?t=govt-20&amp;o=1&amp;p=8&amp;l=as1&amp;asins=0596804350&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr" style="width:120px;height:240px;float:left;margin-right: 15px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
		
		<p>The following are publications by GovTrack&rsquo;s creator Joshua Tauberer.</p>

		<p>"Case Study: GovTrack.us" in <u>Open Government: Collaboration, Transparency, and Participation in Practice</u> (2010), O'Reilly Media. <a href="http://www.amazon.com/Open-Government-Collaboration-Transparency-Participation/dp/0596804350">Buy The Book</a>. <a href="http://razor.occams.info/pubdocs/opengov_tauberer.pdf">Download My Chapter (PDF)</a></p>
		
		<p>&ldquo;<a href="http://razor.occams.info/pubdocs/opendataciviccapital.html">Open Data is Civic Capital: Best Practices for &lsquo;Open Government Data&rsquo;</a>&rdquo; explains the benefits to society of open access to government-held information and includes best practices for governments publishing open government data.</p>
		
		<p>For other documents see <a href="http://razor.occams.info/publications.xpd">Josh&rsquo;s publications</a>.</p>
		
		<div class="clear"> </div>
	</div>

</div>

{% endblock %}

