{% extends "master.html" %}
{% block title %}GovTrack.us&rsquo;s Reading List{% endblock %}

{% block extra_css %}
<style>
	@media screen and (min-width: 700px) {
		.item table {
			float: left;
		}
	}
	.item {
		margin-top: 2em;
	}
	.item h3 {
		margin: 0 0 1em 0;
		font-weight: bold;
		color: black;
	}
	.item img {
		margin-bottom: 1em;
	}
</style>
{% endblock %}

{% block body %}
<h1>Our Reading List &amp; Games</h1>

<p>Here are some books and games GovTrack staff members and users recommend!</p>

<h2><span>Some Fun and Games</span></h2>

<div class="row">
<div class="col-md-8">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a target="_blank"  href="https://www.amazon.com/gp/product/B07PV128NJ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07PV128NJ&linkCode=as2&tag=govtrack-20&linkId=a381033416ff956a0ebfa0f2541e9d35"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07PV128NJ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=B07PV128NJ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=B07PV128NJ&asins=B07PV128NJ&linkId=02b2cbaa9ebf8b19950933f6645e053e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
	</td></tr></table>
	<div>
	<h3>Mapmaker</h3>
	<p>The GovTrack team played this game over a holiday weekend and had lots of fun. You&rsquo;ll find new insight into the congressional redistricting process.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>

<h2><span>Books About the Beginnings of the Nation &amp; Congress</span></h2>

<div class="row">
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a href="https://www.amazon.com/gp/product/0812976843/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=391b5f5ddac0df69368810442c86f803" target="_blank"><img src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0812976843&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" style="border: 1px solid black;" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=0812976843" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;float:right;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0812976843&asins=0812976843&linkId=5c42aa1183d5e220787271e0620a9dc9&show_border=true&link_opens_in_new_window=true"></iframe>
	</td></tr></table>
	<div>
	<h3>Plain, Honest Men: The Making of the American Constitution, by Richard Beeman</h3>
	<p>Easily one of our most favorite books, <em>Plain, Honest Men</em> tells the story not of the nation but of the people who came together to create it.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a href="https://www.amazon.com/gp/product/0743226720/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=fc579ad5009dda6937fa0a00ba1c9166" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0743226720&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=0743226720" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0743226720&asins=0743226720&linkId=8e321c222578977c90b69425a91868e7&show_border=true&link_opens_in_new_window=true"></iframe>
	</td></tr></table>
	<div>
	<h3>1776, by David McCullough</h3>
	<p>A narrative of just the year 1776, the year the nation entered into its war for independence. It&rsquo;s a long book, but we could&rsquo;t put it down.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>
<div class="row">
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a href="https://www.amazon.com/gp/product/1400067669/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=15db7de5e2848cbcba1cfde9470f7783" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1400067669&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=1400067669" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=1400067669&asins=1400067669&linkId=f657fc64c8736cce91b307e93cbaebc5&show_border=true&link_opens_in_new_window=true"></iframe>
	</td></tr></table>
	<div>
	<h3>Thomas Jefferson: The Art of Power, by Jon Meacham</h3>
	<p>This biography of one of the most important men in American history looks at what made Thomas Jefferson the man that he was.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a target="_blank"  href="https://www.amazon.com/gp/product/1451692110/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1451692110&linkCode=as2&tag=govtrack-20&linkId=0d90ffd209833bbfa7431395f05ec4e5"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1451692110&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=1451692110" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=1451692110&asins=1451692110&linkId=e30e85dac0077d1e16ec6273d6950435&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
	</td></tr></table>
	<div>
	<h3>The First Congress: How James Madison, George Washington, and a Group of Extraordinary Men Invented the Government</h3>
	<p>This one was so good we bought it for each other.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>
<div class="row">
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a href="https://www.amazon.com/gp/product/B005UZ7OKY/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=6554a188f71b0e05dc7f3a97cc636bbd" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B005UZ7OKY&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=B005UZ7OKY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=B005UZ7OKY&asins=B005UZ7OKY&linkId=460f57abc82c031cd2c63430108d911d&show_border=true&link_opens_in_new_window=true"></iframe>
	</td></tr></table>
	<div>
	<h3>Inventing Congress: Origins &amp; Establishment Of First Federal Congress</h3>
	<p><em>Inventing Congress</em> is a scholarly publication on the precedents set early on in the history of Congress. It&rsquo;s a bit technical &mdash; so probably best if you already know how Congress works.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>

<h2><span>Books Recommended by Users</span></h2>

<div class="row">
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a target="_blank"  href="https://www.amazon.com/gp/product/0394720954/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0394720954&linkCode=as2&tag=govtrack-20&linkId=da038d188ead3637bf2dd9d1da1fb69b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=0394720954&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=0394720954" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0394720954&asins=0394720954&linkId=4536b460b55164129801bf58c8607ea4&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"></iframe>
	</td></tr></table>
	<div>
	<h3>Master of the Senate</h3>
	<p>GovTrack user Dennis Bevan suggests <em>Master of the Senate</em> by Robert A. Caro:
&ldquo;This book not only details the way the modern Senate really works, but also tells the story of how LBJ made it that way. A fascinating read.&rdquo;</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a target="_blank"  href="https://www.amazon.com/gp/product/1439127727/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1439127727&linkCode=as2&tag=govtrack-20&linkId=27c5880021fdeb2f7f3cb58ac4cf7a74"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1439127727&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=1439127727" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=1439127727&asins=1439127727&linkId=c7516e89bfc221c7966406332d3529db&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
	</td></tr></table>
	<div>
	<h3>The Presidents Club</h3>
	<p>GovTrack user pattigoke suggested <em>The Presidents Club</em>.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>

<div class="row">
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a target="_blank"  href="https://www.amazon.com/gp/product/0307947904/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0307947904&linkCode=as2&tag=govtrack-20&linkId=bc1f414a7c42993da7c10f5ab5260271"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=0307947904&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=0307947904" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0307947904&asins=0307947904&linkId=985bb049f8604c83fea535fa746975dd&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
	</td></tr></table>
	<div>
	<h3>Dark Money</h3>
	<p>GovTrack user Nola Elson recommended <em>Dark Money</em>.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
<div class="col-md-6">

<div class="item">
	<table>
	<tr valign="top"><td>
	<a href="https://www.amazon.com/gp/product/B007U69DKU/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=e585cf4581bc89f9effb97dc906a43cc" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B007U69DKU&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=B007U69DKU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</td><td style="padding: 0 1em;">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=B007U69DKU&asins=B007U69DKU&linkId=5550fbb6e5987686abd11bb2e4ac874f&show_border=true&link_opens_in_new_window=true"></iframe>
	</td></tr></table>
	<div>
	<h3>Open Government Data</h3>
	<p>We didn&rsquo;t read this book &mdash; we wrote it. This book by GovTrack.us&rsquo;s founder discusses the history and principles of the open government data movement.</p>
	</div>
	<div class="clearfix"></div>
</div>

</div>
</div>


{% endblock %}

