{% extends "master.html" %}
{% block title %}GovTrack.us&rsquo;s Reading List{% endblock %}

{% block extra_css %}
<style>
	.item {
		margin-top: 2em;
	}
	.item h3 {
		margin: 0 0 1em 0;
		font-weight: bold;
		color: black;
	}
	.item img {
		margin-bottom: 1em;
	}
</style>
{% endblock %}

{% block body %}
<h1>Our Reading List</h1>

<p>Here are some books GovTrack staff members have read and recommend!</p>

<h2><span>About the Beginnings of the Nation</span></h2>

<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a href="https://www.amazon.com/gp/product/0812976843/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=391b5f5ddac0df69368810442c86f803" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0812976843&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=0812976843" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>Plain, Honest Men: The Making of the American Constitution, by Richard Beeman</h3>
	<p>Easily one of our most favorite books, <em>Plain, Honest Men</em> tells the story not of the nation but of the people who came together to create it.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0812976843&asins=0812976843&linkId=5c42aa1183d5e220787271e0620a9dc9&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
</div>

<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a href="https://www.amazon.com/gp/product/0743226720/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=fc579ad5009dda6937fa0a00ba1c9166" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0743226720&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=0743226720" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>1776, by David McCullough</h3>
	<p>A narrative of just the year 1776, the year the nation entered into its war for independence. It&rsquo;s a long book, but we could&rsquo;t put it down.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=0743226720&asins=0743226720&linkId=8e321c222578977c90b69425a91868e7&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
</div>

<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a href="https://www.amazon.com/gp/product/1400067669/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=15db7de5e2848cbcba1cfde9470f7783" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1400067669&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=1400067669" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>Thomas Jefferson: The Art of Power, by Jon Meacham</h3>
	<p>This biography of one of the most important men in American history looks at what made Thomas Jefferson the man that he was.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=1400067669&asins=1400067669&linkId=f657fc64c8736cce91b307e93cbaebc5&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
</div>

<h2><span>About the Beginnings of Congress</span></h2>

<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a target="_blank"  href="https://www.amazon.com/gp/product/1451692110/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1451692110&linkCode=as2&tag=govtrack-20&linkId=0d90ffd209833bbfa7431395f05ec4e5"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1451692110&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=govtrack-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=am2&o=1&a=1451692110" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>The First Congress: How James Madison, George Washington, and a Group of Extraordinary Men Invented the Government</h3>
	<p>This one was so good we bought it for each other.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=1451692110&asins=1451692110&linkId=e30e85dac0077d1e16ec6273d6950435&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
</div>
</div>


<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a href="https://www.amazon.com/gp/product/B005UZ7OKY/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=6554a188f71b0e05dc7f3a97cc636bbd" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B005UZ7OKY&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=B005UZ7OKY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>Inventing Congress: Origins &amp; Establishment Of First Federal Congress</h3>
	<p><em>Inventing Congress</em> is a scholarly publication on the precedents set early on in the history of Congress. It&rsquo;s a bit technical &mdash; so probably best if you already know how Congress works.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=B005UZ7OKY&asins=B005UZ7OKY&linkId=460f57abc82c031cd2c63430108d911d&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
</div>


<h2><span>Other Books</span></h2>

<div class="row item">
<div class="col-sm-3 col-lg-2">
	<a href="https://www.amazon.com/gp/product/B007U69DKU/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=govtrack-20&linkId=e585cf4581bc89f9effb97dc906a43cc" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B007U69DKU&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=govtrack-20" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=govtrack-20&l=li3&o=1&a=B007U69DKU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div>
<div class="col-sm-7 col-lg-8">
	<h3>Open Government Data</h3>
	<p>We didn&rsquo;t read this book &mdash; we wrote it. This book by GovTrack.us&rsquo;s founder discusses the history and principles of the open government data movement.</p>
</div>
<div class="col-sm-2">
	<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=govtrack-20&marketplace=amazon&region=US&placement=B007U69DKU&asins=B007U69DKU&linkId=5550fbb6e5987686abd11bb2e4ac874f&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
</div>

{% endblock %}

