{% extends "master.html" %}
{% block title %}Search GovTrack.us{% endblock %}
{% block extra_css %}
<style>
#search-results ul {
	list-style: none;
	padding-left: 0;
}
</style>
{% endblock %}
{% block body %}
	<h1>Search</h1>

	<form method="get" class="advanced-search">
		<input name="q" type="text" class="text" value="{{request.GET.q}}" style="font-size: 15px; width: 350px" />
		<input id="submit" class="btn-search-small" type="submit" value="Search"/>
	</form>
	

	<div class="small" style="margin-top: 1em">
		<p>When searching for bills, enter keywords to search the full text of bills,
		or enter a bill number (e.g. HR 123 or HR 123/110) or slip law number (e.g. P.L. 110-64).
		You can also put phrases in quotes (e.g. "nuclear fuel"). You can also search for Members of Congress, Congressional committees, and state legislation.</p>
	</div>

		<div id="search-results">
		{% if request.GET.q %}
			{% for grp in results %}
				<div class="results-group group">
					<h3>{{grp.title}}</h3>
				{% if not grp.results %}
					<p class="no_results">We couldn&rsquo;t find any {{grp.noun}} that matched your search. <a href="{{grp.href}}">Browse</a> for more.</p>
				{% else %}
					<ul>
					{% for ret in grp.results %}
						<li><a href="{{ret.href}}">{{ret.label}}</a></li>
					{% endfor %}
					</ul>
					{% if grp.qsarg %}
					<a class="more" href="{{grp.href}}?{{grp.qsarg}}={{request.GET.q|urlencode}}">See More &raquo;</a>
					{% endif %}
				{% endif %}
				</div>
			{% endfor %}
		{% endif %}
		</div><!-- /results-group -->
	</div><!-- /site-search-results -->
{% endblock %}

