{% extends "master.html" %}
{% block title %}Search GovTrack.us{% endblock %}
{% block crumbs %}
	<h1>Search Results</h1>
{% endblock %}
{% block override_content %}
<div id="content">

	<div class="advanced-search site-search-results row">
		<form method="get" id="search-again" class="row group">
			<h3>Search Congress again</h3>
			<div class="intro six columns">
				<p>You can search for bills and resolutions, Members of Congress, Congressional committees, and state legislation.</p>
				<p>When searching for bills, enter keywords to search the full text of bills,
				or enter a bill number (e.g. HR 123 or HR 123/110) or slip law number (e.g. P.L. 110-64).
				You can also put phrases in quotes (e.g. "nuclear fuel").</p>
			</div>
			<fieldset class="six columns">
				<label for="search_entry">Search all of GovTrack for...</label>
				<input id="search_entry" name="q" type="text" class="text" value="{{request.GET.q}}" />
				<input id="submit" class="btn-search-small" type="submit" value="Search"/>
	    	</fieldset>
		</form>
		

		
		<div id="search-results">
		{% if request.GET.q %}
			{% for grp in results %}
				<div class="results-group group">
					<h3>{{grp.title}}</h3>
				{% if not grp.results %}
					<p class="no_results">We couldn&rsquo;t find any {{grp.noun}} that matched your search. <a href="{{grp.href}}">Browse</a> for more.</p>
				{% else %}
					<ul>
					{% for ret in grp.results %}
						<li><a href="{{ret.href}}">{{ret.label}}</a></li>
					{% endfor %}
					</ul>
					{% if grp.qsarg %}
					<a class="more" href="{{grp.href}}?{{grp.qsarg}}={{request.GET.q|urlencode}}">See More &raquo;</a>
					{% endif %}
				{% endif %}
				</div>
			{% endfor %}
		{% endif %}
		</div><!-- /results-group -->
	</div><!-- /site-search-results -->

</div>
{% endblock %}

