{% extends "master.html" %}
{% block title %}Search GovTrack.us{% endblock %}
{% block style %}
{% endblock %}
{% block crumbs %}
	<h1>Search Congress</h1>
{% endblock %}
{% block override_content %}
<div id="content">

<div class="advanced-search">
	<form method="get" style="width: auto; border: none; padding: 0;">
	<fieldset>
			<label for="search_entry">Search bills, Members of Congress, committees...</label>
			<input id="search_entry" name="q" type="text" class="text" value="{{request.GET.q}}" style="width: 300px"/>
			<input class="btn-search-small" type="submit" value="Search"/>
    </fieldset>
	</form>
	
	<div style="margin: 1.5em 0 2em 0">
	{% if request.GET.q %}
		{% for category, browseurl, matches in results %}
			<div style="margin-bottom: 15px">
			<h2>{{category}}</h2>
			{% if not matches %}
				<p>We couldn&rsquo;t find anything that matched your search in this category. <a href="{{browseurl}}">Browse</a> for more.</p>
			{% else %}
				{% for ret in matches %}
					<div><a href="{{ret.href}}">{{ret.label}}</a></div>
				{% endfor %}
			{% endif %}
			</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}

