{% extends "master.html" %}
{% block title %}Sousveillance - GovTrack.us{% endblock %}

{% block head %}
<style>
#log td, #log th {
	padding: 0 1em .5em 0;
	line-height: 128%;
}
#log span.netblock {
	font-weight: bold;
}
#log .recent {
	font-size: 85%;
}
</style>
{% endblock %}

{% block body %}
<h1>What is Congress browsing?</h1>

<div class="row">

<div class="col-sm-4">
	<p>This page is a public record of any time someone visits GovTrack.us from within the United States Senate, House of Representatives, or the White House,
	and their associated office buildings.</p>

	<h2>Why are we doing this?</h2>

	<p>In March 2017 the U.S. Congress <a href="https://www.govtrack.us/congress/bills/115/sjres34">passed a bill</a> that rolled back regulations prohibiting
	Internet service providers from selling subscribers&rsquo; browsing habits to advertisers. Since browsing history metadata is no big deal to Congress, we
	began publishing the browsing history of anyone visting GovTrack.us from Congress&rsquo;s and the White House&rsquo;s office buildings.</p>

	<h2>How This Works</h2>

	<p>Every computer on the Internet has an &ldquo;IP address.&rdquo; The Senate, House, and Executive Office of the President (i.e. the White House and
	nearby offices) all use IP addresses within ranges assigned to them in public records. That&rsquo;s how we can tell if a visitor to GovTrack is
	from Congress or the White House.</p>

	<p><u>We don&rsquo;t know who these visitors are, though.</u> Some of the people we are tracking are visitors to Congress or the White House using the guest wifi networks (like lobbyists or citizen groups), and some of the hits are from automated tools running on those computers like link checkers. We expect that most of the logged hits shown here are congressional and White House staff, however. 
	All we know for certain is that these hits are from an IP address range owned by Congress
	or the White House.</p>

	<p>We also place persistent tracking cookies in the browsers of these users to link multiple requests to a single browsing history.</p>

	<h2>Related Projects</h2>

	<p>See the <a href="https://en.wikipedia.org/wiki/CongressEdits">CongressEdits</a> <a href="https://twitter.com/congressedits">twitter account</a>
	for a similar project tracking edits on Wikipedia made from Congress&rsquo;s IP addresses. <a href="https://projects.propublica.org/politwoops/">Politwoops</a>
	tracks politicians&rsquo; deleted tweets.</p>
</div>

<div class="col-sm-7">
	<h2 style="margin: 0"><span>Live Log from Congress &amp; the White House</span></h2>
	<table id="log" style="margin-top: 1em">
		<thead><tr><th>Date and Time of Visit</th> <th>Page Accessed and Visitor Information</th></tr></thead>
		<tbody>
		</tbody>
	</table>
</div>

</div>
{% endblock %}

{% block body_scripts %}
<script>
var sousupdate_last = null;
function sousupdate() {
	$.ajax({
		url: "/sousveillance.json",
		success: function(res) {
			function make_node(item, recursive) {
				var node = $("<tr valign=top><td><span class='nowrap date'></span></td> <td><a class=path></a> <div class='meta'>from <span class=netblock></span> (<span class=ua></span>)</div> <div class='recent'></div></td></tr>");
				node.find(".ua").text(item.ua ? item.ua : "bot")
				node.find(".netblock").text(item.netblock)
				node.find(".path").attr("href", item.path).text(item.path)
				node.find(".date").text(item.when)
				if (item.recent.length > 0) {
					node.find(".recent").text("Other pages visited by this user:");
					item.recent.forEach(function(item) {
						var n = $("<div><span class=date></span> <a class=path></a> from <span class=netblock></span></div>");
						n.find(".netblock").text(item.netblock)
						n.find(".path").attr("href", item.path).text(item.path)
						n.find(".date").text(item.when)
						node.find(".recent").append(n);
					});
				}
				return node;
			}

			// add to top
			res.reverse();
			res.forEach(function(item) {
				if (sousupdate_last && item.reqid <= sousupdate_last) return;
				var node = make_node(item);
				node.hide();
				$('#log tbody').prepend(node);
				node.fadeIn();
				sousupdate_last = item.reqid;
			});

			// refresh in a bit
			setTimeout(sousupdate, 10000);
		}
	});
}
sousupdate()
</script>
{% endblock %}
