{% extends "master.html" %}
{% block title %}GovTrack.us - Congressional Staff User Guide{% endblock %}

{% block body %}

<h1>User Guide for Congressional Staff</h1>

	<h2><span>Access extensive legislative analysis tools</span></h2>
		<p>You can use GovTrack’s comprehensive databases to find the latest information about Congress including<p>
		<ul>
			<li>Current or historical legislatve activity</li>
			<li>Members’ legislative records and press releases</li>
			<li>Committee Activity and press releases</li>
		</ul>
		<p>Use built-in text comparison tools to view legislative text side-by-side to previous versions or related legislation.</p>
		<p>Bill pages also feature a Position Statements section with select press releases from Members of Congress and statements from policy stakeholders. Contact us at <a href="mailto:hell@govtrack.us">hello@govtrack.us</a> to discuss featuring your boss’s press releases on GovTrack.</p>

	<h2><span>Find likely cosponsors to help advance your legislation</span></h2>
		<p>You can find full cosponsorship data on any member by clicking “view cosponsors” at the bottom of the Bills Sponsored section of their page. Use this feature to get a list of your boss’ most frequent cosponsors sorted by legislative topic.</p>
		<p>GovTrack also offers unique analysis comparing members’ relative leadership and ideology using cosponsorship data on member pages, as well as annual <a href="https://www.govtrack.us/congress/members/report-cards/2019">legislative report cards</a> with statistics on each member. Report cards include rankings on bipartisanship, bills enacted, missed votes, and more. Use this information to profile other members’ standings in Congress.</p>

	<h2><span>Search through a database of congressional procedures</span></h2>
		<p>GovTrack features a number of comprehensive databases that can make your job easier. We’ve collected all of the Congressional Research Services reports on congressional procedures on GovTrack’s <a href="https://www.govtrack.us/congressional-procedures">Congressional Procedures, Rules, and Norms page</a>. Reports are gathered from EveryCRSReport.com.</p>

	<h2><span>Personalize tracker lists for regular updates on congressional activity</span></h2>
		<p>Use tracker lists to tailor your own email updates and RSS feeds to track updates on specific bills, committee activities, or individual Members of Congress. To create a new list visit <a href="https://www.govtrack.us/accounts/lists">your tracker lists page</a>. To add a new tracker to a list simply click on the green track button at the top of most GovTrack pages. You can make as many tracker lists as you like.</p>

	<h2><span>Comment on your trackers and share them with your constituents and your team</span></h2>
		<p>Leave notes on your tracker lists and share them to keep your colleagues in the loop about your office’s legislative priorities. Lists come with a link to a page where you can comment on your trackers. Sharing this link with your colleagues will allow them to follow along with your trackers and comments.</p>


{% endblock %}
