{% extends "master.html" %}
{% block title %}GovTrack.us - Other Tracking Tools{% endblock %}

{% block head %}
<style>
section.col_6 {
	float: left;
	width: 430px;
	margin-right: 80px;
	margin-bottom: 40px;
}
section.col_last {
	margin-right: 0px;
}

section .thumb {
	float: left;
	border: 1px solid #6FF;
	margin-right: 15px;
}
</style>
{% endblock %}

{% block crumbs %}
<h1>Other Tools</h1>
{% endblock %}

{% block heading_box %}
{% endblock %}

{% block body %}
<section class="col_6">
	<h2>Mobile Tools</h2>

	<a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress">
		<img src="https://lh3.ggpht.com/BjdpUK_cVSaNXNBPskUV4xoD9MugUbDZSBJsm4UXWsyYCzRZfL7CR5mvzC7kvS8gBQ" width="144" height="256" class="thumb" alt="Android app"/>
	</a>
	
	<p><a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress" style="font-weight: bold">Congress</a> by the Sunlight Foundation brings GovTrack&rsquo;s legislative database to Android smartphones. A pocket Congress - track elected officials, read the latest bills and laws. Keep on top of Congress.</p>
	
	<p><a href="http://calloncongress.sunlightfoundation.com/" style="font-weight: bold">Call on Congress</a>, an 800-number voice service app by the Sunlight Foundation, tells you how your representatives are voting on bills and raising campaign money. You can also get details on where to vote on Election Day.</p>
</section>

<section class="col_6 col_last">
	<h2>On Twitter</h2>

	<p>Follow our twitter handle <a href="http://www.twitter.com/GovTrack" style="font-weight: bold">@GovTrack</a> for notices of upcoming legislation in the House and Senate and newly enacted bills.</p>
	
	<p>Use <a href="http://www.twitter.com/HouseFloor" style="font-weight: bold">@HouseFloor</a> and <a href="http://www.twitter.com/HouseFloor" style="font-weight: bold">@SenateFloor</a> for live real-time updates of Congressional floor action. These feeds were created by Mountaintop Open Gov.</p>
</section>

<section class="col_6">
	<h2>Advocate Your View</h2>
	
	<p><a href="http://www.popvox.com" style="font-weight: bold">POPVOX</a>, co-founded by the same guy behind GovTrack, is a platform for advocacy for issues before the U.S. Congress. Use POPVOX to write a letter to your Members of Congress.</p>
	
	<center><a href="https://www.popvox.com/bills"><img src="https://www.popvox.com/media/buttons/popvox_bills_widget.gif" alt="write congress at POPVOX" width="158" height="100" border="0"/></a></center>
</section>

<section class="col_6 col_last">
	<h2>Other Tracking Tools</h2>
	
	<p><a href="http://scout.sunlightfoundation.com/" style="font-weight: bold">Scout</a>, a tool created by the Sunlight Foundation using GovTrack&rsquo;s database of legislation, provides email and SMS alerts for new activity in Congress, the 50 state legislatures, and federal regulations.</p>
</section>


{% endblock %}
