{% extends "master.html" %}
{% block title %}GovTrack.us - Other Tracking Tools{% endblock %}

{% block head %}
<style>
.row {
	padding-bottom: 1.5em;
}
section .thumb {
	float: left;
	border: 1px solid #6FF;
	margin-right: 15px;
}
</style>
{% endblock %}

{% block crumbs %}
<h1>Other Tools</h1>
{% endblock %}

{% block heading_box %}
{% endblock %}

{% block body %}
<div class="row">
	<section class="col-sm-6">
		<h2>Mobile Tools</h2>

		<a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress">
			<img src="https://lh3.ggpht.com/BjdpUK_cVSaNXNBPskUV4xoD9MugUbDZSBJsm4UXWsyYCzRZfL7CR5mvzC7kvS8gBQ" width="144" height="256" class="thumb" alt="Android app"/>
		</a>
		
		<p><a href="https://play.google.com/store/apps/details?id=com.sunlightlabs.android.congress" style="font-weight: bold">Congress</a> by the Sunlight Foundation brings GovTrack&rsquo;s legislative database to Android smartphones. A pocket Congress - track elected officials, read the latest bills and laws. Keep on top of Congress.</p>
		
		<p><a href="http://calloncongress.sunlightfoundation.com/" style="font-weight: bold">Call on Congress</a>, an 800-number voice service app by the Sunlight Foundation, tells you how your representatives are voting on bills and raising campaign money. You can also get details on where to vote on Election Day.</p>
	</section>

	<section class="col-sm-6">
		<h2>On Twitter</h2>
		
		<p>Use <a href="http://www.twitter.com/HouseFloor" style="font-weight: bold">@HouseFloor</a> and <a href="http://www.twitter.com/HouseFloor" style="font-weight: bold">@SenateFloor</a> for live real-time updates of Congressional floor action. These feeds were created by <a href="http://govtop.blogspot.com/">GovTop Network</a>.</p>
	</section>
</div>
<div class="row">
	<section class="col-sm-6">
		<h2>Advocate Your View</h2>
		
		<p><a href="http://www.popvox.com" style="font-weight: bold">POPVOX</a>, co-founded by the same guy behind GovTrack, is a platform for advocacy for issues before the U.S. Congress. Use POPVOX to write a letter to your Members of Congress.</p>
		
		<center><a href="https://www.popvox.com/bills"><img src="https://www.popvox.com/media/buttons/popvox_bills_widget.gif" alt="write congress at POPVOX" width="158" height="100" border="0"/></a></center>
	</section>

	<section class="col-sm-6">
		<h2>Other Tracking Tools</h2>
		
		<p><a href="http://scout.sunlightfoundation.com/" style="font-weight: bold">Scout</a>, a tool created by the Sunlight Foundation using GovTrack&rsquo;s database of legislation, provides email and SMS alerts for new activity in Congress, the 50 state legislatures, and federal regulations.</p>
		
		<p><a href="http://www.washingtonwatch.com/" style="font-weight: bold">WashingtonWatch.com</a> tracks the dollar costs of implementing new bills and has forums for discussion on bills and resolutions.</p>
	</section>

</div>
<section class="main col-sm-8">
	<h2 style="margin-bottom: 1em">Researching the Law</h2>
	
	<p>Here are some other tools you may be interested in for researching U.S. law:</p>
	
	
	<h3>Federal Law</h3>

	<ul>
		<li><b>Statutory law</b> is the component of U.S. law that is enacted by
		the U.S. Congress through bills and some types of resolutions. The United States Code is the compilation of statutory law pieced together from the text of the bills and resolutions enacted by Congress.
		The text of the U.S. Code can be read at the
		<a href="http://www4.law.cornell.edu/uscode/">Cornell Legal Information 
		Institute</a> website. More information can also be found at the
		<a href="http://www.loc.gov/law/help/guide/federal/uscode.html">Library of Congress</a>
		and <a href="http://uscode.house.gov/">The House</a>.</li>
		<li><b>Regulatory or administrative law</b> is the component of U.S. law created by executive branch agencies. Rule-making is the process of creating regulations, and public-comment periods are often
		required. This process is published in the Federal Register, which
		you can access at <a href="https://www.federalregister.gov/">FederalRegister.gov</a>.
		The compilation of regulations is called the Code of Federal Regulations,
		which you can read online at the <a href="http://www.law.cornell.edu/cfr/text">Cornell Legal Information 
		Institute</a>.</li>
		<li><b>Case law</b> is the aspect of law that results from judicial
		decisions. You can find court opinions at 
		<a href="http://www.justia.com/">Justia</a>,
		<a href="http://www.law.cornell.edu/co.html">Cornell's Legal Information Institute</a>,
		<a href="http://www.findlaw.com/">FindLaw</a>, or
		<a href="http://courtlistener.com/">CourtListener</a>.</li>
		<li><b>The U.S. Constitution</b>: The <a href="http://www.archives.gov/exhibits/charters/constitution.html">U.S. Constitution</a> outlines the structure of government, supersedes
		any other aspect of law, and is the hardest aspect of law to change.
		It and the <a href="http://www.archives.gov/exhibits/charters/bill_of_rights.html">Bill of Rights</a>, the first ten amendments to the constitution,
		are the only founding documents that are a part of law.</li>
	</ul>

	<h3>Historical Documents</h3>
	
	<ul>
		<li><a href="http://www.gpo.gov/fdsys/browse/collectiontab.action">GPO FDsys</a>, the government&rsquo;s official repository of documents, has many documents created by the legislative process.</li>
		<li><a href="http://memory.loc.gov/ammem/amlaw/lawhome.html">The Library of Congress: Century of Lawmaking</a> has scans of bills and resolutions from 1799-1873, laws from 1789-1875 (i.e. Statutes at Large), and other early records.</li>
		<li>Statutes (i.e. enacted bills) from 1789-1919 can be found at <a href="http://homepages.uc.edu/~armstrty/statutes.html">Early United States Statutes</a>.</li>
		<li>Other founding and early documents from 1775-1814 can be found at the <a href="http://www.loc.gov/rr/program/bib/ourdocs/PrimDocsHome.html">Library of Congress web guide for primary documents in American History</a>,
		and various other important documents can be found at <a href="http://www.ourdocuments.gov">OurDocuments.gov</a>
		and <a href="http://www.archives.gov/exhibits/charters/charters_downloads.html">NARA's Charters of Freedom</a>.</li>
	</ul>
	
	<h3>Federal Spending</h3>

	<ul>
		<li>The <a href="http://www.cbo.gov/">Congressional Budget Office (CBO)</a>, a nonpartisan arm of Congress, issues reports on the costs of some legislation.</li>
		<li><a href="http://usaspending.gov/">USASpending.gov</a> and <a href="http://www.fedspending.org/">FedSpending.org</a> are databases of federal contracts and grants.</li>
	</ul>
</section>

{% endblock %}
