{% extends "master.html" %}
{% block title %}GovTrack Voterama{% endblock %}

{% block body %}

<h1>GovTrack.us to Acquire Thomas Voting Reports</h1>

<div class="row">
<section class="col-sm-7 col-md-6">
<p>GovTrack.us, a leading digital publisher of information on Congress and a public
advocate of using technology to increase transparency on Capitol Hill, has agreed to
purchase Thomas Voting Reports, the longest-running independent news service
in Washington. The deal will take effect at the start of the 117th Congress in January.</p>

<h2><span>Thomas Voting Reports</span></h2>
<p>Thomas Voting Reports, under the trade name Voterama in
Congress, serves a nationwide subscriber base of newspapers and
their websites. It publishes a weekly news report of up to 900 words
featuring nonpartisan journalistic descriptions of key congressional
actions paired with the votes cast on those measures by local House members and senators.</p>

<p>The company opened in 1971 as a regional reporting service covering the local angle in Washington
for newspaper clients in several states. In 1973, it added 50-state coverage of congressional voting

records that continues today and will be merged into GovTrack.us. More than 720 daily U.S. news-
papers, nearly one in two, have subscribed to the service at one time or another.</p>

<h2><span>GovTrack.us</span></h2>
<p>With 10 million unique visitors this year and more than
80,000 Twitter followers, GovTrack.us, founded in 2004, ranks
among the most visited nongovernmental, public-interest websites that cover the workings of
Congress in detail for the benefit of readers including everyday constituents.</p>

<p>GovTrack.us posts status reports and sends email and Twitter alerts on major bills in the legislative
pipeline; tracks individual voting records; measures lawmakers’ ideology based on the bills they
cosponsor; and publishes specialized databases in areas including congressional misconduct and

the spread of Covid-19 among members. GovTrack.us was one of the world’s first government-
transparency websites. A representative of the organization testified before the House Select

Committee on the Modernization of Congress in support of more and better disclosure of informa-
tion to the public.</p>

<h2><span>Statements</span></h2>
<p><span style="font-weight:bold">Voterama Editor Richard G. Thomas:</span> “Our legacy service rooted in traditional journalism has
found a worthy new home at GovTrack.us, which skillfully combines Internet and social media
savvy, enterprise journalism and a spirit of public service to deliver important congressional
information to citizens. With an autocratic war on truth underway on Capitol Hill and throughout
our political discourse, constituents need access more than ever to trustworthy sources of news
and information on congressional actions and the records of individual lawmakers. GovTrack.us
is stepping up to meet this challenge, and we are gratified to see our coverage specialty included
in their efforts.”</p>

<p><span style="font-weight:bold">GovTrack.us Founder Joshua Tauberer:</span> “Thomas Voting Reports’ mission to provide localized
congressional-accountability coverage to newspapers across America fits naturally with our work

to inform Americans about the daily activities of Congress. We are honored to bring their journal-
ism under the same roof as GovTrack’s bill summaries and analyses of legislators’ records. The

synergy between the two services will benefit Voterama subscribers and visitors to GovTrack.us
with enhanced data and analytical content and will lead to new opportunities to engage readers.”</p>

</section>
<section class="col-md-offset-1 col-sm-5">

<div class="panel panel-info">
<div class="panel-body">

<h3 style="padding-left:10pt">Subscribe now to recieve weekly reports on the votes cast by your legislators:</h3>

<div class="subscription-form" style="padding-left:10pt; padding-bottom:15pt">
    <p>
        <label for="pub">Publication</label>
	<input type="text" id="pub" name="pub">
    </p>
    <p>
        <label for="contact">Contact</label>
        <input type="text" id="contact" name="contact">
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </p>
    <p>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone">
    </p>
</div>

</div>
</div>

</section>
</div>
{% endblock %}
