{% extends "master_a.html" %}
{% block title %}How United States Laws are Made - GovTrack.us{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
</ol>
{% endblock %}

{% block head %}
<style>
dl dd {
	margin-bottom: .75em;
}
</style>
{% endblock %}

{% block summary %}
	<h1>How Laws Are Made</h1>

	<p>This document gives a broad outline of where laws come from in the United States beyond just the parts of the lawmaking process you can see here on GovTrack.us, including the Constitution, statutes, regulations, case law, and state and local law.</p>
{% endblock %}

{% block body %}
<div style="max-width: 50em">

	<h2><span>The Constitution</span></h2>

	<dl>

	<dt>Source of Law:</dt>
	<dd><a href="https://www.senate.gov/civics/constitution_item/constitution.htm">The Constitution of the United States</a></dd>

	<dt>This Law is Called:</dt>
	<dd>Constitutional law.</dd>

	<dt>What is it?</dt>
	<dd>The Constitution is the founding document of the country and is the highest legal authority. Ratified in 1788, and in operation since 1789, it sets the fundamental structure and limitations of the government of the Untited States of America. The Constitution created the federal (or &ldquo;national&rdquo;) government which has three parts: the Congress (the legislative branch), the President &amp; federal agencies (the executive branch), and the federal courts (the judicial branch). The Constitution gave different but overlapping powers to the branches so that no branch has the highest authority but all branches are involved in the creation of law.</dd>

	<dt>What does it mean today?</dt>
	<dd>The Constitution was necessarily vague when it was written. The founders of the nation could not anticipate all possible problems that would face the nation. As a result, more than 200 years of court cases have given more precise meaning to the original text. This <b><a href="https://www.congress.gov/constitution-annotated">Annotated Constitution</a></b> explains what the original text of the Constitution is now understood to mean.</dd>

	<dt>How is Constitutional law created?</dt>
	<dd>The Constitution can still be amended by a process involving the Congress and the states, though this is rare. <a href="https://www.govtrack.us/congress/bills/browse#text=%22proposing+an+amendment+to+the+constitution%22&bill_type[]=7,8&congress=__ALL__">When an amendment is proposed by the Congress, you can see it here on GovTrack as a joint resolution.</a> Constitutional law is also created as new court cases refine the meaning of the original document (see case law below).</dd>

	</dl>

	<h2><span>The Congress</span></h2>

	<dl>

	<dt>Source of Law:</dt>
	<dd>The United States Congress, or just Congress for short.</dd>

	<dt>This Law is Called:</dt>
	<dd>Statutes.</dd>

	<dt>What is it?</dt>
	<dd>Congress is the first branch of government created by the Constitution and it is primarily responsible for creating national law, subject to the limitations set in the Constitution. Congress is made up of two chambers, the House of Representatives and the Senate, which are filled by direct election by the American public.</dd>

	<dt>How is statutory law created?</dt>
	<dd>Statutory law is created by the Congress. That&rsquo;s what this website is about. So we have a whole page on <a href="how-a-bill-becomes-a-law">how a bill becomes a law</a>.</dd>

	<dt>What are the checks and balances on this type of law?</dt>
	<dd><ul><li>The executive branch can choose how to enforce the law, within the limits set by Congress.</li> <li>The federal courts can rule that Congress acted outside of the limitations of the Constitution when enacting a law (i.e. it is un-Constitutional).</li><li>The people of the United States can elect new representatives and senators in the next election.</li></ul></dd>

	<dt>Where can this law be read?</dt>
	<dd>You can follow the process of bills becoming laws <a href="/congress/bills">here on GovTrack</a>. After a bill becomes a law, it is <a href="https://www.archives.gov/federal-register/laws/current.html">assigned a number</a> and then published in the <a href="https://www.gpo.gov/fdsys/browse/collection.action?collectionCode=STATUTE">United States Statutes at Large</a>. Laws of a general and permanent nature are then incorporated into the <b><a href="http://uscode.house.gov/">United States Code</a></b>. (Not found in the U.S. Code are temporary laws, laws affecting just a few people, and law created by parts of the government other than the Congress.)</dd>

	</dl>

	<p>This website GovTrack.us focuses on only information about the Congress in the federal government of the United States. But we have included other information on this page so that you can understand the role of the Congress as a part of the entire government&rsquo;s job of creating law.</p>
 

	<h2><span>Federal Agencies</span></h2>

	<dl>

	<dt>Source of Law:</dt>
	<dd>The executive branch of the federal government, which consists of the President and some of the federal agencies.</dd>

	<dt>This Law is Called:</dt>
	<dd>Regulations (also &ldquo;administrative law&rdquo;, &ldquo;rules&rdquo;).</dd>

	<dt>What is it?</dt>
	<dd>Although the Constitution gave all lawmaking powers to the Congress, Congress has in turn delegated some of those powers to the executive branch of the federal government. When Congress passes a law, it often directs the President, members of the President&rsquo;s Cabinet, or other lower officials to create regulations. Regulations are created in a different manner than the statutes created by Congress, but regulations also have the force of law because they are created with the authority of Congress.</dd>

	<dt>How are regulations created?</dt>
	<dd>When federal agencies create regulations, they must do so through a process proscribed by Congress. That process typically involves a public comment period. In the public comment period, Americans &mdash; and often American businesses &mdash; provide expertise to federal agencies about how the regulation would affect them. Agencies are legally bound to take that expertise into account before they finalize the regulation. Because the federal government has hundreds of agencies, there are many thousands of new regulations being issued all the time. For more about that process, see <b><a href="https://www.federalregister.gov/">FederalRegister.gov</a></b>.</dd>

	<dt>What are the checks and balances on this type of law?</dt>
	<dd><ul><li>Congress can decide whether or not to provide funding for federal programs.</li> <li>Congress can change the law to remove the authority on which regulations are based.</li> <li>The federal courts can rule that a regulation was made outside of the delegated authority given by Congress.</li></ul></dd>

	<dt>Where can this law be read?</dt>
	<dd>Regulations are published in the <b><a href="https://www.federalregister.gov/">Federal Register</a></b> as they are issued and then are incorporated into the <b><a href="http://www.ecfr.gov/cgi-bin/ECFR?page=browse">Code of Federal Regulations</a></b>.</dd>

	</dl>

	<h2><span>The President</span></h2>

	<dl>
	<dt>Source of Law:</dt>
	<dd>The President of the United States.</dd>

	<dt>This Law is Called:</dt>
	<dd>Executive orders and other presidential directives.</dd>

	<dt>What is it?</dt>
	<dd><p>The President of the United States has no explicit law-making power in the Constitution, but there are two implicit sources of authority that the President uses to create law:</p>

	<p>(1) The first is the President&rsquo;s inherent powers in the Constitution, primarily the President&rsquo;s role as the commander-in-chief of the military and the power to make foreign policy (and some others, such as to issue pardons). These powers can be constrained by Congress and challenged in the courts, but the President has wide latitude in these areas.</p>

	<p>(2) The second source of authority derives from the President&rsquo;s power to fire some of the highest level of staff in the executive branch, including the President&rsquo;s Cabinet members. Not all officials can be fired by the President, but for those who the President can fire, the President can order them to take any action consistent with existing law. Such orders usually direct agencies to take actions that Congress left up to the agency to decide. In these cases, the President can direct the agency to decide one way or the other.</p></dd>

	<dt>What are the checks and balances on this type of law?</dt>
	<dd><ul><li>Congress can decide whether or not to provide funding for the President&rsquo;s actions and can write new laws that limit the discretion of the agencies under the control of the President.</li><li>Congress can write new laws limiting the power of the President to appoint and fire officials. Most federal workers cannot be fired by the President, and many agencies are led by officials that Congress has protected through law from being fired. These are called &ldquo;independent agencies&rdquo; and the President has no, or very little, power over them.</li><li>The federal courts can rule that the President acted outside of the inherent or implied powers given by the Constitution.</li><li>The people of the United States can elect a new President in the next election.</li><li>Congress can remove the President through impeachment and conviction.</li></ul></dd>

	<dt>Where can this law be read?</dt>
	<dd>The President&rsquo;s <b><a href="https://www.federalregister.gov/executive-orders">executive orders</a></b> are the primary way in which the President creates and publishes such law.</dd>

	</dl>

	<h2><span>The Federal Courts</span></h2>

	<dl>

	<dt>Source of Law:</dt>
	<dd>The federal courts, including the Supreme Court.</dd>

	<dt>This Law is Called:</dt>
	<dd>Case law.</dd>

	<dt>What is it?</dt>
	<dd>The judicial branch of the federal government, created by the Constitution, is the federal court system. The courts resolve disagreements in the law by interpreting statutes, regulations, the Constitution, and common law. But in resolving disagreements, they also create new law. The opinions issued by the courts form the part of U.S. law called case law under the <a href="https://en.wikipedia.org/wiki/Precedent">principle of precedent</a>, which means that the logic of earlier court opinions must be applied to new cases brought before the same court.</dd>

	<dt>How is case law created?</dt>
	<dd><p>There are three levels of federal courts. Most cases are brought first before &ldquo;district&rdquo; courts, which can hold trials. District courts each generally have authority over small geographic jurisdictions in the country. When the parties still disagree with a district court opinion, judgments by district courts are appealed to &ldquo;circuit&rdquo; courts. Like district courts, circuit courts generally have jurisdiction over a geographic part of the country. Circuit court judgments are appealed to the Supreme Court, especially when circuit courts in different parts of the country have come to different decisions on similar issues. Case law is created whenever these courts issue opinions.</p>
	<p>There are, additionally, laws that are enforced by the courts which are neither statutes nor regulations. <a href="https://en.wikipedia.org/wiki/Common_law">Common law</a> are precedents set by the courts before the country was founded, based on earlier legal traditions, and which are still enforced by courts.</p>
	</dd>

	<dt>What are the checks and balances on this type of law?</dt>
	<dd>The court system is a last resort for resolving disagreements about the law, and so many court orders, including the ruling of the Supreme Court, cannot be appealed <em>and must be followed</em>. But these other checks and balances exist:
	<ul><li>Congress can change the law on which a court order was based.</li><li>Congress can remove judges through impeachment and conviction.</li><li>When a vacancy on a court arises, the President can appoint (with Senate approval) a more favorable judge.</li><li>The number, jurisdiction, and composition of federal courts below the Supreme Court are set by laws made by the Congress and can be changed by the Congress by passing new laws.</li><li>The Constitution can be amended through a process involving Congress and the states.</li></ul></dd>

	<dt>Where can this law be read?</dt>
	<dd>Federal court opinions can be viewed at <b><a href="https://www.courtlistener.com/">CourtListener.com</a></b>. There is no single official government website that provides free access to case law!</dd>

	</dl>


	<h2><span>State and Local Governments</span></h2>

	<dl>

	<dt>Source of Law:</dt>
	<dd>The 50 states and their local governments, as well as the governments of the District of Columbia, Puerto Rico, and the U.S.&rsquo;s other territories.</dd>

	<dt>This Law is Called:</dt>
	<dd>State and local law.</dd>

	<dt>What is it?</dt>
	<dd><p>The Constitution created a union of states, with a federal government at the center. Under a principle called <a href="https://en.wikipedia.org/wiki/Dual_federalism">divided sovereignty</a>, the federal government is responsible for some areas of law (e.g., money, war) while the state governments are responsible for other areas (e.g., health, police). There are currently 50 states in the United States of America. Each state has a government similar to the federal government but on a smaller scale, with legislative, executive, and judicial branches.</p>
	<p>Additionally, there are six non-state territories that produce their own law. The District of Columbia, the nation&rsquo;s capital district, has a local government supervised by the Congress. Puerto Rico and the U.S.&rsquo;s four other island territories &mdash; American Samoa, Guam, the Northern Mariana Islands, and the U.S. Virgin Islands &mdash; have their own governments but have no ultimate sovereignty as the states do.</p></dd>

	<dt>What does it mean today?</dt>
	<dd>In practice, the line between the federal and state governments has been blurred as the federal government has expanded over the last 200 years. The federal government funds many state programs and uses the funding to coerce states to set policies usually left up to the states.</dd>

	<dt>What are the checks and balances on this type of law?</dt>
	<dd>The same sorts of checks and balances exist between the branches of government at the state and local levels. In addition:
	<ul><li>Where state law conflicts with federal law, federal law wins.</li><li>In limited situations, the opinions issued by state courts can be appealed to the federal courts.</li></ul></dd>

	<dt>Where can this law be read?</dt>
	<dd>The website <b><a href="https://openstates.org/">OpenStates</a></b> tracks the legislative branches of the 50 states. There are no free nation-wide resources that track the law created by the executive or judicial branches of the state governments.</dd>

	</dl>

</div>
{% endblock %}
