@import 'https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab:300,700';

/* GLOBAL STYLES */

html { font-size: 15px; /* for rem unit sizing, match the body to be nice */ }
body {
	background: #9D2146;
	color: #141712;
	font-size: 15px;
	}
	#bodybody {
		background-color: white;
		padding-bottom: 25px;
	}

a:link, a:visited {
	color: #9D2146;
	text-decoration: underline;
	}
	a.btn:link, a.btn:visited {
		color: white;
		text-decoration: none;
	}
a:hover, a:focus, a:active {
	color: #9D2146;
	}
	a.btn:hover, a.btn:focus, a.btn:active {
		color: white;
	}
a.plain:link, #masthead a:link, #intro-box a:link {
	text-decoration: none;
	}
a.plain:hover, a.plain:focus, a.plain:active {
	text-decoration: underline;
	}
.nav-tabs>li>a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font: normal normal normal 2.5em/1.5em 'Roboto Slab';
	line-height: 130%;
	margin-top: 1.5em;
	margin-bottom: 1em;
	}
h1 {
	margin-bottom: .85em;
	margin-top: 20px;
	font-size: 27px;
	font-weight: bold;
	line-height: 1.275em;
	color: #222;
	padding-bottom: .25em;
	border-bottom: 1px solid #CCA;
	}
	h1.long {
		font-size: 23px;
		line-height: 1.25em;
	}
	h1 sup {
		font-size: 65%;
	}
	h1 small {
		font-size: 15px;
		font-style: italic;
		color: #666;
	}
	.h1-multiline {
		font-size: 27px;
		font-weight: normal;
		padding-bottom: .25em;
		border-bottom: 1px solid #CCA;
	}
		.h1-multiline h1 {
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
		}
		.h1-multiline p {
			margin: 0;
			font-size: 19px;
			line-height: 130%;
		}

h2 {
	font-size: 1.4em;
	line-height: 1.5em;
}
	h2:first-child {
		margin-top: 0;
	}
	#content h2 {
		border-bottom: 1px solid #1D4E70;
		font-size: 14px;
		margin: 1.85em 0 1.25em 0;
	}
		#content h2 span {
			display: inline-block;
			padding: 2px 8px 1px 6px;
			background-color: #1D4E70;
			color: white;
			font-family: sans-serif;
		}

h3 {
	font-size: 1.15em;
}
h4 {
	font-size: 1.05em;
}
h5 {
	font-family: inherit;
	font-size: 1em;
	text-transform: uppercase;
	}

h2 span, h3 span, h4 span, span span, a em {
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	}
p+h2,
ul+h2,
ol+h2,
pre+h2 {
	margin-top: 1.5em;
}

header ul, footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#content p {
	margin-bottom: 1em;
}

#content hr {
	border-color: #557D9A;
}

blockquote {
	font-size: inherit;
}

/* LAYOUT STYLES */

.box {
	background: #f3f1e9 url(../images/bg-paper.jpg);
	border: solid #e7e4dc 1px;
	-moz-box-shadow:
		0 0 0 5px #f9f8f4,
		0 1px 2px 5px rgba(106,106,106,.4);
	box-shadow:
		0 0 0 5px #f9f8f4,
		0 1px 2px 5px rgba(106,106,106,.4);
}

/* ADS */

.ads.square {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 20px;
	}
.ads.footer.leaderboard {
	display: none;
	margin: 20px 0 20px 0;
	text-align: center;
	}
	.ads .explainer {
		margin-bottom: 10px;
		text-align: center;
		font-size: 12px;
		}

/* MASTER LAYOUT */

#masthead {
	margin-bottom: 15px;
	background-color: #1D4E70;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	color: #FAFAFA;
}
#masthead .navbar {
	/* override bootstrap */
	margin-bottom: 0;
	border: none;
}
		#masthead .nav a {
			color: inherit;
		}
		#masthead .nav a:hover, #masthead .nav a:focus {
			background-color: #258;
			color: white;
		}
		#masthead .nav .dropdown-menu {
			background: linear-gradient(#1D4E70, #022640);
		}
		#masthead .dropdown-menu {
			margin-top: -2px;
		}
		#masthead .dropdown-menu a:hover {
			color: black;
		}
		#masthead .navbar-toggle {
			border-color: #557D9A;
		}
		#masthead .navbar-toggle .icon-bar {
			background-color: #557D9A;
		}
		#masthead input {
			color: black;
		}
		.nav-item-image img {
			padding-top: 1px;
			width: 49px;
			height: 49px;
		}
		@media screen and (min-width: 768px) {
			#masthead .nav-item-image {
				 padding-top: 0;
				 padding-bottom: 0;
			}
		}

#logo {
	display: block;
	background: url(../images/logo.png) 0 0 no-repeat;
	height: 30px;
	width: 110px;
	margin-top: 11px;
	margin-left: 15px;
	text-indent: -9999px;
	overflow: hidden;
}
	
.breadcrumb {
	margin-top: 15px;
	margin-bottom: 0;
	padding-bottom: 0; /* override bootstrap, always followed by a h1 which has a margin */
	padding-left: 0;
	background: none;
	font-size: 88%;
}
	.breadcrumb a {
	}

.panel-info {
	border: none;
	border-radius: 12px;
	background-color: #fece99;
    color: black;
}
	.panel-info a {
		color: #003300;
	}
.panel-success {
	border: none;
	border-radius: 12px;
	background-color: #9ED56F;
}
	.panel-success button {
		background-color: white;
	}

#categories {
	}
	#categories li {
		display: inline-block;
		width: 225px;
		min-height: 153px;
		margin: 0 3px 20px;
		}
		#categories li > a {
			display: block;
			width: 225px;
			margin-top: 13px;
			padding-top: 137px;
			}
		#categories #link-members > a {
			background: url(../images/img-congress-members.png) center 5px no-repeat;
			}
		#categories #link-bills > a {
			background: url(../images/img-bills-resolutions.png) center 5px no-repeat;
			}
		#categories #link-votes > a {
			background: url(../images/img-voting-records.png) center top no-repeat;
			}
		#categories #link-committees > a {
			background: url(../images/img-committees.png) center 15px no-repeat;
			}

/* Summary box styles
	 ================================================= */
	.summary-box .info {
		background: url(../images/divider-4.gif) repeat-x 0 100%;
		padding: 0 0 12px;
		margin: 0 0 9px;
		}
	@media (min-width: 768px) {
		dl.dl-horizontal dt {
			width: 90px;
			font-weight: normal;
			}
		dl.dl-horizontal dd {
			margin-left: 100px;
		}
			dl.dl-horizontal dd p {
				line-height: 127%;
				margin-bottom: .33em;
			}
				dl.dl-horizontal dd p:first-child {
					line-height: inherit;
					margin-bottom: .1em;
				}
		dl.dl-horizontal.wide dt {
			width: 130px;
			}
		dl.dl-horizontal.wide dd {
			margin-left: 140px;
			}
	}

.photo img {
	-moz-box-shadow: 2px 2px 2px 0px rgba(168,168,168,1);
	box-shadow: 2px 2px 2px 0px rgba(168,168,168,1);
	margin: 4px;
	}
.summary-box .photo {
	margin: 0 7px 10px 7px;
}
.photo a,
.photo a:hover {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 0;
}

/* Member details styles
	 ================================================== */
	.members-grid .member {
	text-align: center;
	margin-bottom: 30px;
	}
	.members-grid .member .photo {
	margin: 0 auto;
	}


/* Vote Statistics styles =========================== */
/* ================================================== */

.stats {
	text-align: center;
	margin-left: 21px;
	}
	.stats:first-child {
		margin-left: 0;
	}
	.stats tbody td, .stats tbody th {
		padding: 0;
		border: 1px solid #d7ddd7;
		height: 29px;
		vertical-align: middle;
		}
	.stats tbody th {
		font: 10px/20px serif;
		font-weight: bold;
		text-transform: uppercase;
		text-align: right;
		line-height: 100%;
		padding: 0 10px 0 0;
		width: 84px;
		}
	.stats thead {
		font: 12px/20px serif;
		}
		.stats thead th {
			height: 30px;
			padding: 0 4px;
			vertical-align: middle;
			text-align: center;
			font-weight: normal;
			}
	.stats .pink td { background: #f2f2f2 }
	.stats .gradient .empty {
		background: none;
		border: 0;
		}
	.stats .gradient td {
		background: #ededed url(../images/bg-stats-table.gif) repeat-x;
		height: 44px;
		line-height: 44px;
		vertical-align: middle;
		}
		.stats .gradient td img { vertical-align: middle }
.download-links li {
	padding: 0 0 6px;
	overflow: hidden;
	}
aside .download-links { padding: 31px 0 0 }
.download-links li a {
	background: url(../images/ico-download.gif) no-repeat 0 3px;
	padding: 0 0 0 16px;
	}
.section aside { overflow: hidden }

.stats thead.sortable th { cursor: pointer; }
.stats tbody tr.group td { font-size: 105%; font-weight: bold; text-transform: none; }

.partycolor_D { color: #0041a1; }
.partycolor_R { color: #e60e13; }
.partycolor_I {  }
.party_D, .party_I, .party_R {
	cursor: default;
	color: white;
}
.color_D { background-color: #0041a1; }
.color_R { background-color: #e60e13; }
.color_I { background-color: #921b85; }
.party_D { background-color: #0041a1; }
.party_R { background-color: #e60e13; }
.party_I { border: 1px solid black; color: black; }

/* historical parties... the other letters of the alphabet */
.color_A, .color_B, .color_C, .color_E, .color_F, .color_G, .color_H, .color_J, .color_K, .color_L, .color_M, .color_N, .color_O, .color_P, .color_Q, .color_S, .color_T, .color_U, .color_V, .color_W, .color_X, .color_Y, .color_Z { background-color: #EEE; }

.vote_positive { background-color: #EFE; }
.vote_negative { background-color: #FEE; }

#dotchart { position: relative; font-size: 11px; margin-bottom: 10px; }
#dotchart .dot { position: absolute; width: 6px; height: 6px; }
#dotchart .party_I { width: 4px; height: 4px; }

/*	Event styles for global use
	========================================================= */
		.tracked_event {
			clear: both;
			padding: 20px;
			border: 1px solid #eee;
			margin-bottom: 20px;
			/*moz-border-radius: 3px;
			border-radius: 3px;*/
		}
		.tracked_event:hover {
			background: #fffcf5;
			padding-left: 19px;
			border-left: 2px solid #40A4BD
		}
			.tracked_event .event_body {
				 margin-top: 1em;
			}
			.tracked_event h4.event_title.simple {
				font-size: 15px;
			}
			.event_feed_title,
			.event_type,
			.event_body h5,
			.event_date span {
				font-style: italic;
				color: #999;
				}
			.event_feed_title {
				margin-top: 1em;
				margin-bottom: 1em;
				border-top: solid #eee 1px;
				border-bottom: solid #eee 1px;
				padding: 2px 0;
			}
				.event_feed_title small,
				.event_type span {
					text-transform: uppercase;
					font-weight: bold;
				}
			.event_type {
				float: right;
			}
				.event_type span {
					display: inline-block;
					background: #efefef;
					padding: 0 8px;
					margin-left: .5em;
					border: solid #ddd 1px;
					border-radius: 3px;
					moz-border-radius: 3px;
				}

			.event_date {
				display: inline-block;
			}
			.tracked_event h4 {
				clear: both;
				margin-top: 0;
				margin-bottom: .5em;
			}
			.event_body h5 {
				text-transform: none;
			}
			.event_body p {
				margin-bottom: .5em;
			}
			.no_data {
				padding: 1em;
				font-weight: bold;
				font-style: italic;
				background: #fffae4;
				border: 1px solid #fff6d2;
			}

/*	Tracker widget styles
	=========================================================== */
	.track-btn {
		height: 39px;
		width: 170px;
		font-size: 16px;
		line-height: 39px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		color: #fff !important; /* overrides a:link, a:visited */
		text-shadow: 0 1px 1px #3d6410;
		margin: 0 0 15px;
		cursor: pointer;
		}
		.track-btn:link { text-decoration: none; }
		.track-btn, .green-btn { background: url(../images/btn-sprite-green.png) no-repeat; }
		.track-btn:hover {
			color: #fff;
			background-position: 0 -43px;
			text-decoration: none;
			border-bottom: 0;
			}
		.track-btn:active {
			background-position: 0 -86px;
		}
		.small-btn {
			height: 34px;
			width: 150px;
			font-size: 14px;
			line-height: 34px;
			text-transform: none;
		}

	.tracker_widget {
		line-height: 130%;
		text-align: left;
	}
			.tracker_widget.modal-body {
				padding-bottom: 0;
			}

			.tracker_widget h3 {
				font-size: 1em;
				color: #37C;
				text-align: center;
				margin: 0 0 .5em 0;
				text-transform: none;
			}
			.list_select ul { padding: 0; list-style: none; }
			.events_to_track li a,
			.list_select li a {
				display: block;
				padding: 0 10px;
				height: 25px;
				line-height: 28px;
				margin: 2px 0;
				background: #fff;
				moz-border-radius: 5px;
				border-radius: 5px;
				overflow: hidden;
				font-size: .9em;
				text-decoration: none;
			}
			.events_to_track li a {
				background: transparent;
				border: 0;
				margin-bottom: 0;
			}
			.list_select li.new a,
			.list_select li.all a {	 /* Styles the "Add New List" link */
				background: transparent;
				border: 0;
			}
			.list_select li.selected a {
				background: #8e8778;
				color: #fff;
			}
			.list_select li a:hover {
				box-shadow:
					0 2px 5px rgba(0,0,0,.2);
				/*behavior: url(/static/js/PIE.htc);*/
			}
			.list_select li.new a:hover,
			.list_select li.all a:hover {
				box-shadow: none;
				/*behavior: url(/static/js/PIE.htc);*/
			}
				.events_to_track li span.icon,
				.list_select li span.icon	 {
					display: inline-block;
					float: left;
					width: 12px;
					height: 12px;
					margin-top: 6px;
					margin-right: .5em;
					text-indent: -9999px;
					background: url(../images/icons.png) -36px 0 no-repeat;
					color: #666;
				}
				.events_to_track li span.icon { background-position: -48px 0; }
				.events_to_track li:hover span.icon { background-position: -48px -12px; }
				.events_to_track li.selected span.icon { background-position: -48px -24px; }
				.list_select li:hover span.icon {
					background-position: -36px -12px;
				}
				.list_select li.selected span.icon {
					background-position: -36px -24px;
				}
				.list_select li.new span.icon {
					background-position: -24px 0;
				}
				.list_select li.new:hover span.icon {
					background-position: -24px -12px;
				}
				.list_select li.all span.icon {
					background-position: 0 0;
				}
				.list_select li.all:hover span.icon {
					background-position: 0 -12px;
				}
	#track_panel .singlesignon {
		display: inline-block;
	}
		#track_panel .singlesignon .legend {
			display: none;
		}
		#track_panel .singlesignon li {
			display: inline-block;
			float: none;
		}
		#track_panel .singlesignon li .btn {
			padding: 0;
		}

/*	Footer Styles
	======================================================== */
#footer {
	border-top: 40px solid #fcc684;
	padding: 24px 0 0;
	color: white;
	}
	#footer h4 { color: white; }
	#footer a { color: white; }
	#footer nav {
		font-size: 91%;
		line-height: 175%;
		margin-bottom: 25px;
		}
		#footer nav li {
			vertical-align: top;
			}
		#footer nav a, #footer .social a {
			display: block;
			}
#footer .social {
	font-size: 12px;
	}
#footer h4 {
	margin: 0 0 5px;
	text-transform: uppercase;
	}
	#footer h4 span {
		text-transform: none;
		}
#footer .social ul {
	line-height: 2em;
	}
	#footer .social li {
		vertical-align: top;
		}
#footer .social ul img {
	vertical-align: middle;
	padding: 0 8px 0 2px;
	}
#footer .social a { display: block }
#footer section {
	margin-bottom: 25px;
	overflow: hidden;
}
#footer p {
	margin: 0 0 12px;
	line-height: 18px;
	}


/* Search form area =============================== */
/* ================================================ */
.searching {
	}
	.searching label {
        font-weight: normal;
		}
	.searching .summary {
		margin: 5px 0;
		color: #906010;
		font: 16px/21px serif;
		}
		.searching .summary strong {
			font-weight: bold;
			color: #444;
		}
	.searching #loading_status { text-align: center; border: 1px solid #AAA; background-color: #EEE; margin: 1em 0; }
	.searching	#show_more { text-align: center; border: 1px solid #CB4B16; background-color: #ffcebb; font-weight: bold; display: block; }
	.searching .results {
		margin-top: 10px;
		border-top: 5px solid #DDD;
		padding-top: 10px;
		margin-bottom: 15px;
	}
	.searching .results .result_item {
		padding: .5em 0;
	}
		.searching .results .result_item:after {
		content: '';
		display: block;
		clear: both;
		}
		.searching .results .result_item > a {
		display: block;
		font: bold 1.2em/1.5em serif;
		text-decoration: none;
		}
		.searching .results .result_item > a:hover {
			border: none;
			text-decoration: underline;
		}


/* Main Form styles =========================== */
/* ============================================ */

/* Search form in header */
.search-form {
	margin-top: 10px;
	}
	.search-form .text {
		float: left;
		width: 150px;
		height: 25px;
		padding: 0 3px;
		}
		.search-form .text input {
			width: 145px;
			height: 26px;
			margin: 0;
			float: left;
			}
	.search-form .btn-search, .btn-search-small2 {
		background: url(../images/btn-search.gif) no-repeat;
		width: 25px;
		height: 25px;
		float: left;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		line-height: 0;
		font-size: 0;
		text-indent: -9999px;
		cursor: pointer;
		}

.searching .advanced-search {
	position: relative;
	background: #f3f1e9 url(../images/bg-paper.jpg);
	margin: 4px 0 30px;
	border: solid #e7e4dc 1px;
	-moz-box-shadow:
		0 0 0 5px #f9f8f4,
		0 1px 2px 5px rgba(106,106,106,.4);
	box-shadow:
		0 0 0 5px #f9f8f4,
		0 1px 2px 5px rgba(106,106,106,.4);
	padding: 20px;
	cursor: pointer;
	}
.member .advanced-search {
	padding-top: 20px;
}
.advanced-search h3 {
	text-align: center;
	margin: 0 0 8px;
	padding: 0 0 5px;
	}
.advanced-search form { margin: 0; }
.advanced-search label, .advanced-search legend {
	font-size: .8em;
	line-height: 24px;
	color: #555;
	display: block;
	border: none;
	margin: 0;
	}
	.advanced-search #show_more_options {
		font-size: .8em;
		}
	.advanced-search .choices label {
		text-transform: none;
		color: #333;
		}
		.advanced-search .choices label .count {
			color: #777;
			}
select, input.text {
	font: 12px/16px sans-serif;
	color: #444;
	border: solid #643800 1px;
	border-radius: 3px;
	-moz-background-clip: padding; background-clip: padding-box;
	}
.advanced-search select {
	height: 30px;
	background: #fff /*url('../images/select_field.png') right top no-repeat*/;
	}
.advanced-search input.text {
	}
	.advanced-search input.text.with_search_button {
		height: 24px;
		float: left;
		margin-right: 2px;
	}
	#search-members ul input.text {
		background-position: -256px top;
	}
.advanced-search .row { margin: 0 0 20px	}
.advanced-search .btn-search,
.tracker_widget .btn.done {
	background: url(../images/btn-advans-search.png) no-repeat;
	width: 120px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	margin: 24px 0 0;
	padding: 0 0 2px;
	border: 0;
	line-height: 18px;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	}
	.advanced-search .btn-search:hover,
	.tracker_widget .btn.done:hover {
		background-position: left bottom;
	}
.advanced-search .btn-search-small {
	background: url(../images/btn-advans-search-small.png) no-repeat;
	width: 66px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	padding: 2px 0 2px;
	border: 0;
	line-height: 18px;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	color: #fff;
	}


/*	Search results page
	==================================== */
	#search-results .results-group {
		clear: none;
		margin-bottom: 20px;
		padding: 2px;
	}
		#search-results .results-group h3,
		#search-results .results-group h4 {
			text-align: left;
			width: auto;
			font-size: 1em;
			margin-bottom: 1em;
			text-transform: uppercase;
		}
		#search-results .results-group p.no_results { margin: 0 20px; }
		#search-results .results-group ul li {
			padding: .5em 20px;
			border-bottom: solid #f5f5f5 1px;
		}
		#search-results .results-group ul li:hover		{ background: #f8f8f8; }
		#search-results .results-group ul li a			{ display: block; }
		#search-results .results-group ul li a:hover	{ border-bottom: 0; }

		#search-results .results-group .more {
			display: inline-block;
			background: #eee;
			font-size: .8em;
			padding: 2px 4px;
			margin: .25em 20px 0;
			border: solid #ddd 1px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		#search-results .results-group .more:hover {
			background: #ddd;
			border: solid #ccc 1px;
			/*color: #fff7d7;*/
		}

/*********************************************/

/* Developer Documentation styles */
pre.example {
	height: 25em;
	width: 800px;
	margin: 1em 0 1.5em 16px;
	border: 1px solid black;
	overflow: auto;
}
dl.schema {
	margin: 1em 0 2em 16px;
}
dl.schema > dt {
	float: left;
	clear: both;
	width: 150px;
	margin-bottom: 1em;
}
dl.schema > dd {
	float: left;
	width: 600px;
	margin-bottom: .75em;
}
dl.schema > div {
	border-bottom: 1px solid #DDD;
	margin-bottom: .75em;
}
.example_api_uses a {
	font-family: monospace;
	font-size: 85%;
}


/******************************
 JT added things below here
 ******************************/

.clear {
	clear: both;
}

input[type=text].default {
	font-family: Verdana, Arial, sans-serif;
	font-size: 90%;
	color: #888;
	}

ul.singlesignon {
	list-style: none;
	padding: 0;
}
.singlesignon li {
	float: left;
	margin-right: 5px;
	}

.error {
	color: #C22;
	font-weight: bold;
}

#sitenewscontainer {
	padding: 2px 0 1px 0;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 0px 1px 0px #666;
	font-size: 13px;
	color: #666;
}
	#sitenewscontainer a {
		color: #55E;
	}
#sitenews {
	margin: 0 auto;
	text-align: center;
}
	#sitenews > div:first-of-type {
		width: 20px;
		float: right;
		margin: 0 10px;
	}
		#sitenews > div:first-of-type a {
			-moz-border-radius: 12px;
			border-radius: 12px;
			margin: -5px auto 0;
			text-align: center;
			text-decoration: none;
			font-family: sans-serif;
		}
	#sitenews div.sitenewsbody {
		width: 100%;
		margin: 5px auto;
	}
	@media (min-width: 960px) {
		#sitenews div.sitenewsbody {
			width: 940px;
		}
	}
	#sitenews a {
		/* incredibly, this causes IE9 to freeze -- border-bottom: 1px dotted #CB4B16; */
		text-decoration: underline;
	}

	#trending_trackers a {
		display: inline-block;
		width: 230px;
		padding: 3px 8px 2px 8px;
		margin: 0;
		line-height: 120%;
		max-height: 2.65em;
		overflow: hidden;
		vertical-align: middle;
	}
	@media (max-width: 940px) {
		#trending_trackers a.trending_trackers_4 { display: none; }
	}
	@media (max-width: 720px) {
		#trending_trackers a.trending_trackers_3 { display: none; }
	}
	@media (max-width: 490px) {
		#trending_trackers a.trending_trackers_2 { display: none; }
	}

#missedvotestable { margin-top: 1.5em; margin-left: 3em; }
#missedvotestable th { padding-right: 1em; }

.photo_flag {
	width: 100px;
	color:#fff;
	font-size: 12px;
	padding: 3px 3px 1px 5px;
	position:relative;
	line-height: 128%;
    min-height: 20px;
	top: -4px;
	left:-10px;
	margin: 0 auto;
	font-weight: bold;
}
	@media screen and (min-width: 768px) {
		.photo_flag {
			left: -6px;
		}
	}
	.photo_flag + h5 {
		margin: .5em 0 .4em 0;
	}
.photo_flag:before {
	content:"";
	position:absolute;
	top: -10px;
	left:0px;
	width:0px;
	height:0px;
	border-width:5px;
	border-style:solid;
}
.photo_flag:after {
	content:"";
	position:absolute;
	top:0px;
	left:100%;
	width:0px;
	height:0px;
	border-right-color:transparent !important;
}
.photo_flag.flag_d { background:#4089bd; }
.photo_flag.flag_d:after { border:10px solid #4089bd; }
.photo_flag.flag_d:before { border-color: transparent #2e8ea6 #2e8ea6 transparent; }
.photo_flag.flag_r { background:#bd4040; }
.photo_flag.flag_r:after { border:10px solid #bd4040; }
.photo_flag.flag_r:before { border-color: transparent #a62e2e #a62e2e transparent; }
.photo_flag.flag_i { background:#999; }
.photo_flag.flag_i:after { border:10px solid #999; }
.photo_flag.flag_i:before { border-color: transparent #666 #666 transparent; }
.photo_flag.flag_d.sub_chair { background:#82a5bd; }
.photo_flag.flag_d.sub_chair:after { border:10px solid #82a5bd; }
.photo_flag.flag_d.sub_chair:before { border-color: transparent #739ca6 #739ca6 transparent; }
.photo_flag.flag_r.sub_chair { background:#bd8282; }
.photo_flag.flag_r.sub_chair:after { border:10px solid #bd8282; }
.photo_flag.flag_r.sub_chair:before { border-color: transparent #a67272 #a67272 transparent; }

.sidebar-events {
	background-color: rgba(255,255,255, .8);
	border: 1px solid rgba(150,200,250, .15);
	padding: 10px;
	color: #666;
	font-size: 90%;
	line-height: 130%;
	margin-bottom: 1.5em;
}
	.sidebar-events h2 {
		margin: 1em -10px .5em;
		padding: .5em;
		background-color: rgba(50,100,200, .05);
		margin-bottom: 1em;
		font-size: 17px;
	}
		.sidebar-events h2:first-child {
			margin-top: -10px;
		}
