.clear {
    clear: both;
}

.crumbs {
    margin-bottom: 1em;
}

.person-details .photo {
    float: left;
    width: 150px;
}

.person-details .description {
    float: left;
}

.analysis {}

    .analysis .graph {
        float: left;
        width: 200px;
    }

    .analysis .details {
        margin-left: 200px;
    }


