.clear {
    clear: both;
}

.crumbs {
    margin-bottom: 1em;
}

#content h1 {
	background-color: black;
	margin-left: -10px;
	padding: 10px;
	color: white;
}
#content p, #content li, #content pre {
	font-size: 10px;
	margin: 5px 0 0 0;
}

.person-details .photo {
    float: left;
    width: 120px;
}

.person-details .description {
    float: left;
}

.analysis {}

    .analysis .graph {
        float: left;
        width: 200px;
    }

    .analysis .details {
        margin-left: 200px;
    }


.split-half {
    float: left;
    width: 50%;
}

.recent-video-list-container {
	overflow: auto;
}
.recent-video-list {
	width: 5000px;
}
.video-thumbnail {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
	width: 120px;
	font-size: 8pt;
}
.video-thumbnail a {
	font-weight: normal;
}
#happening_now .video-thumbnail {
	width: 350px;
}
#happening_now .video-thumbnail .image {
	float: left;
}
#happening_now .video-thumbnail .title {
	float: left;
	margin-left: 1em;
	width: 160px;
}

li.committee-member-item {
    float: left;
    width: 100px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

th.headerSortUp {
    background: #777 no-repeat 100% 47% url(/static/img/asc.gif);
}

th.headerSortDown {
    background: #777 no-repeat 100% 47% url(/static/img/desc.gif);
}

th.header {
    padding-right: 20px;
    cursor: pointer;
}
