MAILTO=tauberer@govtrack.us

LANGUAGE=en_US.UTF-8
LC_ALL=en_US.UTF-8
LANG=en_US.UTF-8
LC_TYPE=en_US.UTF-8

# Hours are in UTC.

10,35 * * * 1-5 { cd /home/govtrack/web; ./run_scrapers.py votes; }
45 */3 * * * { cd /home/govtrack/web; ./run_scrapers.py text bills votes committees; }
45 8 * * * { cd /home/govtrack/web; ./run_scrapers.py stats; }

0 10 * * 1-5 { cd /home/govtrack/web; date; ./manage.py send_email_updates daily; }
0 13 * * 6 { cd /home/govtrack/web; date; ./manage.py send_email_updates weekly; }

25 7 * * * { cd /home/govtrack/web; ./manage.py clear_expired_email_verifications; ./manage.py clearsessions; }

1 13-23 * * * { cd /home/govtrack/web; ./manage.py tweet_something; }

