[Unit]
Description=GovTrack uWSGI service
After=network.target

[Service]
WorkingDirectory={{ ROOT_DIR }}
ExecStart=/usr/local/bin/honcho run -e {{ ROOT_DIR }}/.env uwsgi --module wsgi:application --socket /tmp/uwsgi_govtrack.sock --chmod-socket=666

[Install]
WantedBy=multi-user.target
