[Unit]
Description=GovTrack uWSGI service
After=network.target

[Service]
WorkingDirectory={{ ROOT_DIR }}
ExecStart=/usr/local/bin/honcho run uwsgi --module wsgi:application --socket /tmp/uwsgi_govtrack.sock

[Install]
WantedBy=multi-user.target
