<style>
    .pagination span { font-weight: bold; cursor: default; }
    .pagination .prev span { color: #AAA; }
    .pagination .next span { color: #AAA; }
    .paging .pages { display: inline-block; width: 300px; height: 1.5em; overflow: hidden; }
    .rowtop { padding-top: 8px; }
    .col0 { border-bottom: none;  }
    .rowleft { padding: 4px 12px 6px 0px; }
    .rowbottom { padding: 6px 0 6px 0; }
</style>

<div class="searching">
<section>
    <div class="summary" style="display: none">
        <p><span class="total">xxx</span> <span class="noun">things</span> matched your search. <span class="range">Showing <span class="start">aaa</span> through <span class="end">bbb</span>.</span></p>
    </div>
    
    <table class="results" style="display: none;">
        <thead>
            <tr>
                {% for col in column_headers %}
                    <th>{% if col %}{{col}}{% endif %}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul class="paging" style="display: none;">
        <li class="prev"><span>&laquo; Previous</span> <a href="#" onclick="return update_search(null, -1)">&laquo; Previous</a></li>
        <span class="pages"> </span>
        <li class="next"><span>Next &raquo;</span> <a href="#" onclick="return update_search(null, 1)">Next &raquo;</a></li>
    </ul>
</section>
<script>
function addCommas(nStr)
{
  nStr += '';
  x = nStr.split('.');
  x1 = x[0];
  x2 = x.length > 1 ? '.' + x[1] : '';
  var rgx = /(\d+)(\d{3})/;
  while (rgx.test(x1)) {
    x1 = x1.replace(rgx, '$1' + ',' + '$2');
  }
  return x1 + x2;
}
function show_facets(postdata, options) {
    // Display options.
    for (var k in options) {
        field = options[k][0];
        type = options[k][1];
        values = options[k][2];
        visible = options[k][3];
        
        $('#searchform_field_' + field + "_container").toggle(visible);
        
        var node = $('#searchform_field_' + field);
        if (type == "select") {
            node.text("");
            for (var j in values) {
                var opt = $("<option/>");
                opt.attr('value', values[j][0]);
                opt.text(values[j][1] + (values[j][2] > 0 ? "   (" + addCommas(values[j][2]) + " " + (values[j][2] == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}") + ")" : ""));
                node.append(opt);
            }
            if (postdata[field])
                node.val(postdata[field])
            else
                node.val("__ALL__");
        } else if (type == "text") {
            node.val(postdata[field])
        } else if (type == "checkbox" || type == "radio") {
            node.html("");
            for (var j in values) {
                var opt = $("<div class='choices'><input type='" + type + "' onchange='update_search(null, null, this)'/> <label style='display: inline'><span class='name'> </span> <span class='count'> </span></label></div>");
                opt.find('input').attr('id', "searchform_field_" + field + "_" + j);
                opt.find('input').attr('name', field);
                opt.find('input').attr('value', values[j][0]);
                
                opt.find('label').attr('for', "searchform_field_" + field + "_" + j);
                if (values[j][0] == "__ALL__") {
                    opt.find('.name').text("All");
                } else {
                    opt.find('.name').text(values[j][1]);
                    if (values[j][2])
                        opt.find('.count').text("(" + addCommas(values[j][2]) + " " + (values[j][2] == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}") + ")");
                }
                
                if (values[j][3])
                	opt.attr("title", values[j][3]);
                
                if (type == "checkbox") {
                    // restore checked status
                    if (postdata[field])
                        for (i in postdata[field])
                            if (postdata[field][i] == (""+values[j][0])) // convert value to string
                                opt.find('input').attr('checked', '1');
                    
                    // check ALL if nothing is checked
                    if (!postdata[field] && values[j][0] == "__ALL__")
                        opt.find('input').attr('checked', '1');
                } else if (type == "radio") {
                    if (postdata[field] == (""+values[j][0])) // convert value to string
                        opt.find('input').attr('checked', '1');
                    else if (!postdata[field] && j == 0) // turn on the first one by default
                        opt.find('input').attr('checked', '1');
                }
                        
                node.append(opt);
            }
        }
    }
}

var current_page = 1;
var update_search_lock = false;
function update_search(pagenum, pageinc, elem, isinitial) {
    if (update_search_lock) return;
    update_search_lock = true;
    $('#searchform input').attr('disabled', '1');
    
    if (!pagenum && !pageinc) {
        // When changing the search options, reset to first page.
        pagenum = 1;
    }
    
    form = $('#searchform')[0];
    
    if (elem && elem.type == "checkbox") {
        // If any ALL is chosen, clear out the other options. If any other option is
        // clicked, clear out the ALL.
        for (var i = 0; i < form.elements.length; i++)
            if (form.elements[i].checked && form.elements[i].name == elem.name && form.elements[i].value != elem.value)
                if (elem.value == "__ALL__" || form.elements[i].value == "__ALL__")
                    $(form.elements[i]).attr('checked', '');
    }

    // Collect the POST data.
    var postdata = { };
    for (var i = 0; i < form.elements.length; i++) {
        if (form.elements[i].type == 'checkbox' && !form.elements[i].checked) continue;
        if (form.elements[i].type == 'radio' && !form.elements[i].checked) continue;
        if (form.elements[i].value == "__ALL__" || form.elements[i].value == "") continue;
        
        name = form.elements[i].name;
        if (form.elements[i].type == 'checkbox') {
            if (postdata[name] == null) postdata[name] = Array();
            postdata[name].push(form.elements[i].value);
        } else {
            postdata[name] = form.elements[i].value;
        }
    }
    
    if (isinitial) {
        {% for k, v in defaults.items %}
        {% if v %}
            {% for field in form %}
                {% if field.field_name == k %}
                    {% if field.type == "checkbox" %}
                        {% if v %}
                        	if (postdata["{{k|escapejs}}"] == null) postdata["{{k|escapejs}}"] = Array();
                        	{% for vv in v %}
                            postdata["{{k|escapejs}}"].push("{{vv|escapejs}}");
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if field.type == "radio" %}
                        {% if v %}
                            postdata["{{k|escapejs}}"] = "true";
                        {% endif %}
                    {% endif %}
                    {% if field.type == "select" or field.type == "text" %}
                        postdata["{{k|escapejs}}"] = "{{v|escapejs}}";
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    }
    
    if (pagenum)
        postdata.page = pagenum;
    else if (pageinc)
        postdata.page = current_page + pageinc;
    else
        postdata.page = current_page;
    
    postdata.faceting = "false";
        
    $.ajax(
        {
            url: document.location.href,
            type: "POST",
            dataType: "json",
            data: postdata,
            success: function(res) {
                if (res.error) {
                    $('.results tbody').html("");
                    $('#searcherror').text(res.error);
                } else {
                    // Display results.                    
                    $('.results tbody').html(res.results);
                    $('#searcherror').text('');
                    
                    $('.summary').show();
                    $('.summary .total').text(addCommas(res.total));
                    $('.summary .noun').text(res.total == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}");
                    if (res.total > 0) {
                        $('.summary .start').text((res.page-1)*res.per_page + 1);
                        $('.summary .end').text((res.page-1)*res.per_page + res.total_this_page);
                        $('.summary .range').show();
                    } else {
                        $('.summary .range').hide();
                    }
                    
                    show_facets(postdata, res.options);
                    
                    // Display page numbers and prev/next.
                    if (res.page > 1) {
                        $('.paging .prev a').show();
                        $('.paging .prev span').hide();
                    } else {
                        $('.paging .prev a').hide();
                        $('.paging .prev span').show();
                    }
                    if (res.page < res.num_pages) {
                        $('.paging .next a').show();
                        $('.paging .next span').hide();
                    } else {
                        $('.paging .next a').hide();
                        $('.paging .next span').show();
                    }
                    
                    $('.paging .pages').text("");
                    for (var i = 1; i <= res.num_pages; i++) {
                        if (res.page - i > 10) continue;
                        //if (i - res.page > 10) break;
                        if (i == res.page)
                            $('.paging .pages').append($('<span>' + i + '</span>'));
                        else
                            $('.paging .pages').append($('<a href="#" onclick="return update_search(' + i + ')">' + i + '</a>'));
                        $('.paging .pages').append(" ");
                    }
                    
                    $('.results, .paging').show();
                    
                    // After showing the main content, show the full faceted results.
                    postdata.faceting = "true";
                    $.ajax({
                            url: document.location.href,
                            type: "POST",
                            dataType: "json",
                            data: postdata,
                            success: function(res) {
                                if (res.error) return;
                                show_facets(postdata, res.options);
                            }
                        });
                }
                
                current_page = res.page;
                
                update_search_lock = false;
                $('#searchform input').attr('disabled', '');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $('.results tbody').html("");
                $('#searchform').text("Search is not currently operational: " + textStatus);
                update_search_lock = false;
                $('#searchform input').attr('disabled', '');
            }
        });
    
    return false; // cancel any event
}

$(function() { update_search(1, null, null, true); });
</script>

<div class="advanced-search">
    <form id="searchform" onsubmit="update_search(); return false;">
    <fieldset>
    <h3>Search</h3>
    <div id="searcherror"> </div>
    <ul>
        {% for field in form %}
            <li id="searchform_field_{{field.field_name}}_container" {% if field.type != "select" or field.help %}class="wide"{% endif %} style="cursor: pointer">
                <label for="searchform_field_{{field.field_name}}">{% if field.label %}{{field.label}}{% else %}{{field.field_name}}{% endif %}</label>
                {% if field.type == "text" %}
                    <input id="searchform_field_{{field.field_name}}" name="{{field.field_name}}" type="text" class="text"> </input>
                    <input id="searchform_field_{{field.field_name}}_button" class="btn-search-small" type="submit" value="Search" value="Go" onclick="update_search()"> </input>
                {% endif %}
                {% if field.type == "select" %}
                    <select id="searchform_field_{{field.field_name}}" name="{{field.field_name}}" size="1" onchange="update_search()"> </select>
                {% endif %}
                {% if field.type == "checkbox" or field.type == "radio" %}
                    <div id="searchform_field_{{field.field_name}}"> </div>
                {% endif %}
                {% if field.help %}
                    <div style="margin-top: 3px"><small>{{field.help}}</small></div>
                {% endif %}
            </li>
        {% endfor %}
        
        {% if sort_options|length > 0 %}
            <li>
                <label for="searchform_sort">Sort by</label>
                <select id="searchform_sort" name="sort" size="1" onchange="update_search()">
                    <option value="relevance">Relevance</option>
                    {% for label, key in sort_options %}
                        <option value="{{key}}">{{label}}</option>
                    {% endfor %}
                </select>
            </li>
        {% endif %}
    </ul>
    </fieldset>
    </form>
</div>

<div style="clear: both"></div>

</div>

