<script src="/static/js/jquery.ba-bbq.min.js"> </script>

<style>
    .rowtop { padding-top: 8px; }
    .col0 { border-bottom: none;  }
    .rowleft { padding: 4px 12px 6px 0px; }
    .rowbottom { padding: 6px 0 6px 0; }
    #loading_status { text-align: center; border: 1px solid #AAA; background-color: #EEE; }
    #show_more { text-align: center; border: 1px solid #CB4B16; background-color: #ffcebb; font-weight: bold; }
</style>

<div class="searching row">
<section class="eight columns">
    <div class="summary" style="display: none">
        <p><span class="total">xxx</span> <span class="noun">things</span> matched your search<span class="searchdescr"></span>.</p>
    </div>
    
    <table class="results" style="display: none;">
        <thead>
            <tr>
                {% for col in column_headers %}
                    <th>{% if col %}{{col}}{% endif %}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <div id="loading_status" style="display: none;">Loading...</div>
    <div id="show_more" style="display: none;"><a href="#" onclick="return update_search(null, 1)">Show More Results</a></div>
</section>
<script>
function addCommas(nStr)
{
  nStr += '';
  x = nStr.split('.');
  x1 = x[0];
  x2 = x.length > 1 ? '.' + x[1] : '';
  var rgx = /(\d+)(\d{3})/;
  while (rgx.test(x1)) {
    x1 = x1.replace(rgx, '$1' + ',' + '$2');
  }
  return x1 + x2;
}
function show_facets(postdata, options, isinitial) {
    // Display options.
    for (var k in options) {
        field = options[k][0];
        type = options[k][1];
        values = options[k][2];
        is_simple = options[k][3];
        visible = options[k][4];
        
        $('#searchform_field_' + field + "_container").toggle(visible);
        
        var node = $('#searchform_field_' + field);
        if (type == "select") {
            node.text("");
            for (var j in values) {
            	var txt = values[j][1];
            	if (values[j][2] > 0)
            		txt += "   (" + addCommas(values[j][2]) + " " + (values[j][2] == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}") + ")";
            	if (is_simple && values[j][0] == "__ALL__")
            		txt += " [Loading...]"
            	
                var opt = $("<option/>");
                opt.attr('value', values[j][0]);
                opt.text(txt);
                node.append(opt);
            }
            if (postdata[field])
                node.val(postdata[field])
            else
                node.val("__ALL__");
        } else if (type == "text") {
        	// There is never a reason to update a free-form text field with
        	// data returned by the search server because the user has already
        	// entered something, and we don't want to mess with it.... except
        	// when loading the initial state from the search query fragment.
        	if (isinitial && field in postdata) {
        		node.val(postdata[field])
				node.focus();
			}
        } else if (type == "checkbox" || type == "radio") {
            node.html("");
            for (var j in values) {
                var opt = $("<div class='choices'><input type='" + type + "' onclick='update_search(null, null, this)'/> <label style='display: inline'><span class='name'> </span> <span class='count'> </span></label></div>");
                opt.find('input').attr('id', "searchform_field_" + field + "_" + j);
                opt.find('input').attr('name', field);
                opt.find('input').attr('value', values[j][0]);
                
                opt.find('label').attr('for', "searchform_field_" + field + "_" + j);
                if (values[j][0] == "__ALL__") {
                    opt.find('.name').text("All");
                } else {
                    opt.find('.name').text(values[j][1]);
                    if (values[j][2])
                        opt.find('.count').text("(" + addCommas(values[j][2]) + " " + (values[j][2] == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}") + ")");
                }
                
                if (values[j][3])
                	opt.attr("title", values[j][3]);
                
                if (type == "checkbox") {
                    // restore checked status
                    if (postdata[field])
                        for (i in postdata[field])
                            if (postdata[field][i] == (""+values[j][0])) // convert value to string
                                opt.find('input').attr('checked', '1');
                    
                    // check ALL if nothing is checked
                    if (!postdata[field] && values[j][0] == "__ALL__")
                        opt.find('input').attr('checked', '1');
                } else if (type == "radio") {
                    if (postdata[field] == (""+values[j][0])) // convert value to string
                        opt.find('input').attr('checked', '1');
                    else if (!postdata[field] && j == 0) // turn on the first one by default
                        opt.find('input').attr('checked', '1');
                }
                        
                node.append(opt);
            }
        }
    }
}

var default_search = { };
{% for k, v in defaults.items %}
{% if v %}
	{% for field in form %}
		{% if field.field_name == k %}
			{% if field.type == "checkbox" %}
				{% if v %}
					if (default_search["{{k|escapejs}}"] == null) default_search["{{k|escapejs}}"] = Array();
					{% for vv in v %}
					default_search["{{k|escapejs}}"].push("{{vv|escapejs}}");
					{% endfor %}
				{% endif %}
			{% endif %}
			{% if field.type == "radio" %}
				{% if v %}
					default_search["{{k|escapejs}}"] = "true";
				{% endif %}
			{% endif %}
			{% if field.type == "select" or field.type == "text" %}
				default_search["{{k|escapejs}}"] = "{{v|escapejs}}";
			{% endif %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endfor %}
{% for label, key, default in sort_options %}
	{% if default %}
		default_search["sort"] = "{{key|escapejs}}";
	{% endif %}
{% endfor %}

// The initial search combines the default faceting with the URL fragment.
var fragment_params =  $.deparam.fragment();
var initial_search = { };
for (var k in default_search) initial_search[k] = default_search[k];
for (var k in fragment_params) initial_search[k] = fragment_params[k];

var current_page = 1;
var update_search_lock = false;
var prev_search = initial_search;
function update_search(pagenum, pageinc, elem, isinitial) {
    if (update_search_lock) return;
    update_search_lock = true;
    $('#searchform input').prop('disabled', true);
    
    if (!pagenum && !pageinc) {
        // When changing the search options, reset to first page.
        pagenum = 1;
    }
    
    form = $('#searchform')[0];
    
    if (elem && elem.type == "checkbox") {
        // If any ALL is chosen, clear out the other options. If any other option is
        // clicked, clear out the ALL.
        for (var i = 0; i < form.elements.length; i++)
            if (form.elements[i].checked && form.elements[i].name == elem.name && form.elements[i].value != elem.value)
                if (elem.value == "__ALL__" || form.elements[i].value == "__ALL__")
                    $(form.elements[i]).prop('checked', false);
    }

    // Collect the POST data.
    var postdata = { };
    for (var i = 0; i < form.elements.length; i++) {
        if (form.elements[i].type == 'checkbox' && !form.elements[i].checked) continue;
        if (form.elements[i].type == 'radio' && !form.elements[i].checked) continue;
        if (form.elements[i].value == "__ALL__" || form.elements[i].value == "") continue;
        
        // We should not facet on free-form text fields on the initial search because
        // these entries can result in zero results, which messes up faceting because
        // there will be no drill-down options. This can occur when the user navigates
        // back to this page after doing a free-form search.
        if (isinitial && form.elements[i].type == "text") continue;
        
        name = form.elements[i].name;
        if (name == "" || name == "undefined") continue;
        
        if (form.elements[i].type == 'checkbox') {
            if (postdata[name] == null) postdata[name] = Array();
            postdata[name].push(form.elements[i].value);
        } else {
            postdata[name] = form.elements[i].value;
        }
    }
    
    // Apply any initial search options.
    if (isinitial) for (var k in initial_search) postdata[k] = initial_search[k];
    
    // Copy just the faceting so far into a separate array, minus the parts that
    // match the defaults.
    var current_search = { };
    var current_search_set = false;
    for (var k in postdata) {
    	if (postdata[k] != default_search[k]) {
    		current_search[k] = postdata[k];
    		current_search_set = true;
    	}
    }
    
    if (pagenum)
        postdata.page = pagenum;
    else if (pageinc)
        postdata.page = current_page + pageinc;
    else
        postdata.page = current_page;
    
    postdata.faceting = "false";
    postdata.allow_redirect = (isinitial ? "false" : "true"); // hit back after getting a redirect would generate an immediate redirect again, not helpful

    $("#loading_status").show();
    $("#show_more").hide();
    if (postdata.page == 1) {
    	$('.summary').hide();
    	$('.results tbody').html("");
    }

    $.ajax(
        {
            url: document.location.pathname,
            type: "POST",
            dataType: "json",
            data: postdata,
            success: function(res) {
                if (res.error) {
                    $('#searcherror').text(res.error);
                    $("#loading_status").hide();
                } else if (res.redirect) {
                	window.location = res.redirect;
                	return;
                } else {
                    // Display results.
                   	$('.results tbody').append($(res.results));
                    $('#searcherror').text('');
                    
                    $('.summary').show();
                    $('.summary .total').text(addCommas(res.total));
                    $('.summary .noun').text(res.total == 1 ? "{{noun_singular|escapejs}}" : "{{noun_plural|escapejs}}");
                    $('.summary .searchdescr').text(res.description ? " for " + res.description : "");

					$("#loading_status").hide();
					$("#show_more").toggle(res.page < res.num_pages);
					$('.results').show();
                    
                    if (res.total == 0) {
						// Now we have a problem. If there are no results, then the facets
						// are going to be messed up because there can be no drill-down.
						// We got here because the user did a free-form text search that
						// resulted in no answers. In this case, show the facets from the
						// last successful search.
						prev_search.page = 1;
						prev_search.faceting = "true";
						$.ajax({
								url: document.location.pathname,
								type: "POST",
								dataType: "json",
								data: prev_search,
								success: function(res) {
									if (res.error) return;
									show_facets(postdata, res, isinitial);
								}
							});
                    } else {
						// Updates checkboxes and radio buttons and the current values
						// for selects, but in order to be fast we were not returned
						// the other options for selects- that comes later.
						show_facets(postdata, res.options, isinitial);
						
						// After showing the main content and basic facets, show the full faceted results.
						postdata.faceting = "true";
						$.ajax({
								url: document.location.pathname,
								type: "POST",
								dataType: "json",
								data: postdata,
								success: function(res) {
									if (res.error) return;
									show_facets(postdata, res, isinitial);
								}
							});
						
						prev_search = postdata;
						
						// Store the current search query in the hash so that the user can back-button to
						// this page and we will try to restore the query options.
						if (!current_search_set) {
							if (window.location.hash) // don't set if already blank
								window.location.hash = "#_"; // setting to blank jumps page to top
						} else {
							window.location.hash = "#" + $.param(current_search, true);
						}
					}
                }
                
                current_page = res.page;
                
                update_search_lock = false;
                $('#searchform input').prop('disabled', false);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $('.results tbody').html("");
                $('#searchform').text("Search is not currently operational: " + textStatus);
                update_search_lock = false;
                $('#searchform input').prop('disabled', false);
				$("#loading_status").show();
				$("#show_more").hide();
            }
        });
    
    return false; // cancel any event
}

$(function() { update_search(1, null, null, true); });
</script>

<div class="advanced-search four columns">
    <form id="searchform" onsubmit="update_search(); return false;">
    <fieldset>
    <h3>Search</h3>
    <div id="searcherror"> </div>
    <ul>
        {% for field in form %}
            <li id="searchform_field_{{field.field_name}}_container" {% if field.type != "select" or field.help %}class="wide"{% endif %} style="cursor: pointer">
                <label for="searchform_field_{{field.field_name}}">{% if field.label %}{{field.label}}{% else %}{{field.field_name}}{% endif %}</label>
                {% if field.type == "text" %}
                    <input id="searchform_field_{{field.field_name}}" name="{{field.field_name}}" type="text" class="text with_search_button" onchange="$('#show_more').hide()"> </input>
                    <input id="searchform_field_{{field.field_name}}_button" class="btn-search-small" type="submit" value="Search" value="Go" onclick="update_search()"> </input>
                    	{% comment %}when the text value changes, hide Show More so that we don't try to access a later page on a different search query than what we've loaded so far{% endcomment %}
                {% endif %}
                {% if field.type == "select" %}
                    <select id="searchform_field_{{field.field_name}}" name="{{field.field_name}}" size="1" onchange="update_search()"> </select>
                {% endif %}
                {% if field.type == "checkbox" or field.type == "radio" %}
                    <div id="searchform_field_{{field.field_name}}"> </div>
                {% endif %}
                {% if field.help %}
                    <div style="margin-top: 3px"><small>{{field.help}}</small></div>
                {% endif %}
            </li>
        {% endfor %}
        
        {% if sort_options|length > 0 %}
            <li>
                <label for="searchform_sort">Sort by</label>
                <select id="searchform_sort" name="sort" size="1" onchange="update_search()">
                    <option value="relevance">Relevance</option>
                    {% for label, key, default in sort_options %}
                        <option value="{{key}}" {% if default %}selected{% endif %}>{{label}}</option>
                    {% endfor %}
                </select>
            </li>
        {% endif %}
    </ul>
    </fieldset>
    </form>
</div>

<div style="clear: both"></div>

</div>

