{% extends "master_a.html" %}
{% load humanize %}
{% load cache %}

{% block logo_class %}states{% endblock %}
{% block footer_extra %}{% include "states/footer.html" %}{% endblock %}

{% block title %}{{bill.state}} {{bill.state_session.slug}} {{bill.bill_number}}. {{bill.short_title|truncatewords:25}} - GovTrack.us{% endblock %}

{% block meta_description %}{{bill.short_title}}. In GovTrack.us, a database of U.S. legislation.{% endblock %}
{% block meta_keywords %}{{bill.state_session.state}},legislation,bill,law{% endblock %}

{% block head %}
<link media="all" rel="stylesheet" href="{{ STATIC_URL }}fonts/stateface.css">
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="/start#states">States</a></li>
	<li><a href="/states/{{bill.state_session.state|lower}}">{{bill.state_session.state}}</a></li>
	<li><a href="/states/{{bill.state_session.state|lower}}/bills/browse">Bills</a></li>
	<li><a href="/states/{{bill.state_session.state|lower}}/bills/browse#state_session={{bill.state_session.id}}">{{bill.state_session.slug}}</a></li>
	<li>{{bill.bill_number}}</li>
</ul>
{% endblock %}

{% block body_class %}state bill{% endblock %}

{% block summary %}
<div class="row">
	<h1><span class="stateface stateface-{{bill.state_session.state|lower}}">{{bill.bill_number}}</span>. {{bill.short_title|truncatewords:25}}</h1>
		
	<div id="track_panel_base" class="eight columns">
		<p class="date">{{state_metadata.legislature_name}}. {{bill.session}}. {% if chamber_name %}{{chamber_name}}.{% endif %}</p>
		
		<div class="info">
			{% if bill.long_title != bill.short_title %}
				<p>{{bill.long_title}}</p>
			{% endif %}

			<dl>
				{% if bill.introduced_date %}
				<dt>Introduced:</dt>
				<dd>{{bill.introduced_date|date}}</dd>
				{% endif %}
				
				{% if bill.last_action_date %}
				<dt>Last Action:</dt>
				<dd>{{bill.last_action_date|date}}<br/>{{bill.last_action_text}}</dd>
				{% endif %}
			</dl>
			
			<dl>
				{% for source in openstates_api_info.sources %}
					{% if forloop.first %}
					<dt>Official Source</dt>
					<dd>
					{% endif %}
						<div><a href="{{source.url}}">{{source.url|truncatechars:35}}</a></div>
					{% if forloop.last %}
					</dd>
					{% endif %}				
				{% endfor %}
			</dl>
		</div>
		
		<p style="margin: 0; line-height: 100%; clear: both"><small>State legislative information provided by <a href="http://www.BillTrack50.com">LegiNation, Inc.</a> and <a href="http://www.LegiScan.com">LegiScan, Inc.</a> Some information also from <a href="http://openstates.org/">Open States</a>.</small></p>
		
	</div>

	<div class="aside four columns">
		{% if bill.is_current and feed %}
		{% include "events/subscribe_inline.html" %}
		<a href="#" class="track-btn" onclick="return show_track_panel();">Track this bill</a>
		{% endif %}
		
		{% if bill.state == "VA" %}
			<p style="margin-top: 2em; font-style: italic; font-size: 95%;">For tracking Virginia state legislation, GovTrack actually recommends using <a href="http://www.richmondsunlight.com/search/?q={{bill.bill_number|urlencode}}">RichmondSunlight.com</a>.</p>
		{% endif %}
	</div><!-- /actions -->
</div>
{% endblock %}

{% block body %}
<div id="bill-overview" class="section">
	
	<div class="six columns">
		<h2>History</h2>
		{% for action in bill.actions.all %}
			<p>{{action.date|date}}: {{action.text}}</p>
		{% endfor %}
	</div>
	
	<div class="six columns last">
		{% if bill.summary %}
		<h2>Summary</h2>
		{{bill.summary}}
		{% endif %}
	</div>
</div>
					

{% endblock %}


