{% extends "master.html" %}
{% load humanize %}
{% load cache %}

{% block logo_class %}states{% endblock %}
{% block footer_extra %}{% include "states/footer.html" %}{% endblock %}

{% block title %}{{state_metadata.legislature_name}} - GovTrack.us{% endblock %}

{% block meta_description %}{{state_metadata.legislature_name}}. In GovTrack.us, a database of U.S. legislation.{% endblock %}
{% block meta_keywords %}{{state_metadata.legislature_name}},legislation,bill,law{% endblock %}

{% block head %}
<link media="all" rel="stylesheet" href="{{ STATIC_URL }}fonts/stateface.css">
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
<li><a href="/start#states">States</a></li>
<li class="active">{{state}}</li>
</ol>
{% endblock %}

{% block summary %}
	<h1><span class="stateface stateface-{{state|lower}}">{{state_metadata.legislature_name}}</span></h1>
	<div id="track_panel_base">
		<p style="margin: 1em 0 0 0; line-height: 100%"><small><p>State legislative information provided by <a href="http://www.BillTrack50.com">LegiNation, Inc.</a> and <a href="http://www.LegiScan.com">LegiScan, Inc.</a></p></small></p>
		
		{% if state == "VA" %}
			<p>For tracking Virginia state legislation, GovTrack actually recommends using <a href="http://www.richmondsunlight.com/">RichmondSunlight.com</a>.</p>
		{% endif %}
	</div>
{% endblock %}

{% block links %}
	{% if feed %}
	{% include "events/subscribe_inline.html" %}

	<a href="#" class="track-btn" onclick="return show_track_panel();">Track this state</a>
	<p><a href="/events/events.rss?feeds={{feed.feedname|urlencode}}">RSS</a></p>
	{% endif %}
{% endblock %}

{% block body %}

<div style="float: left; width: 500px; margin-right: 60px;">
	<h2>Tracked Events</h2>
	{% include "events/trackedeventslist.html" %}
</div>

<div style="float: left; width: 300px;">
	<h2>Search</h2>
	
	<p>Search all bills or use <a href="/states/{{state|lower}}/bills/browse">advanced search</a>:</p>
	
	<form name="header_search" action="/states/{{state|lower}}/bills/browse" method="GET" class="search-form">
		<fieldset>
			<div class="text"><input type="text" defaulttext="Search" name="text"/></div>
			<input class="btn-search" type="submit" value="Search" />
		</fieldset>
	</form>
</div>

{% endblock %}


