{% extends "master.html" %}

{% load humanize %}
{% load cache %}
{% load govtrack_utils %}

{% block title %}{{position.text}} - {{issue.question}} - GovTrack.us{% endblock %}

{% block meta_description %}{{issue.title}}{% endblock %}

{% block head %}
	<meta property="og:title" content="{{position.text}} - {{issue.question}}" />
	<meta property="og:url" content="https://www.govtrack.us{{issue.get_absolute_url}}/{{position.id}}" />
{% endblock %}

{% block body_scripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT0FVIPcP0mEE-v2V0A9mZOU69WkqGlyU&callback=google_maps_api_loaded"> </script>
<script>

$(function() {
	$("#addr").focus().keydown_enter(function() { doGeoCode(); });
})

var geocoder;
function doGeoCode() {
	if (!geocoder) geocoder = new google.maps.Geocoder();
	var addr = $("#addr").val()
	if (!addr) return;

	geocoder.geocode(
		{ 'address': addr },
		function(results, status) {
			if (status != google.maps.GeocoderStatus.OK) {
				alert("Sorry, Google couldn't find that address: " + status);
				return;
			}

			var geocoder_result = results[0].geometry.location;
			$.ajax({
				url: "/congress/members/ajax/district_lookup",
				data: {
					lat: results[0].geometry.location.lat(),
					lng: results[0].geometry.location.lng()
				},
				dataType: "json",
				success: function(data) {
					if (!data.state) {
						alert("The address does not appear to be within a United States Congressional District.");
						return;
					}
					show_map(data.state, data.district, geocoder_result.lat(), geocoder_result.lng(), results[0].formatted_address);
				}
			});
		});
}

function show_map(state, district, marker_lat, marker_lng, formatted_address) {
	$('#enter_addr').slideUp();
	$('#ok_go').slideDown();

	$('#formatted_address').text(formatted_address);
	$('#thats_in').text(state + (district ? "-" + district : ""));
	$("#distr").val(state + district);

	$("#map")
		.attr("src", "/congress/members/embed/mapframe?state=" + state + "&district=" + district + "&marker_lat=" + marker_lat + "&marker_lng=" + marker_lng + "&footer=0")
		.show();
}

function reset_form() {
	$('#enter_addr').slideDown();
	$('#ok_go').slideUp();
}

</script>
{% endblock %}

{% block extra_css %}
<style>
#addr { font-size: 18px; }
#map { border: 1px solid black; }
</style>
{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Call Congress</li>
    <li class="breadcrumb-item"><a href="{{issue.get_absolute_url}}">{{issue.title}}</a></li>
  </ol>
</nav>

{% endblock %}

{% block body_class %}issue{% endblock %}

{% block body %}
<div>
	<h1>Call Congress About {{issue.title}}</h1>
	<p>You Chose: <b>{{position.text}}</b>.</p>
</div>

<div class="row">
	<div class="col-sm-6">
		<div id="enter_addr">
			<p>Let&rsquo;s find your congressional district so we can route your call to the right Members of Congress. What is your home address?</p>

			<div><input id="addr" type="text" placeholder="123 Main St, Wishaloo, California"/></div>
			<div>
				<button onclick="doGeoCode()">Ok ▶</button>
			</div>

			<p style="margin: .5em 0 1.5em 0"><small>We do not store your home address once we find your district.</small></p>
		</div>

		<div id="ok_go" style="display: none;">
			<h3>Did we get that right?</h3>

			<p>We understood that to be: <span id="formatted_address"> </span>.</p>

			<p><strong style="color: red">We think that&rsquo;s in <span id="thats_in"> </span>. Check the map</strong> to make sure we found your district correctly. You may need to zoom in to see if your home is within the shaded area.</p>

			<p>Did we get it right?</p>

			<form method="post" style="margin-top: 1em">
				{% csrf_token %}
				<input id="distr" type="hidden" name="district" value="???"/>
				<input type="hidden" name="meta_order" value="{{request.GET.meta_order}}"/>
				<button onclick="reset_form(); return false;">◀ &nbsp; Go Back</button>
				<input type="submit" value="Yes, That&rsquo;s Right &nbsp; ▶"/>
			</form>

			<p><small>If we got your district wrong... Sorry, you won&rsquo;t be able to participate right now. We hope to fix this soon.</small></p>
		</div>
	</div>

	<div class="col-sm-6">
		<iframe id="map" width="100%" height="300" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="about:blank" style="display: none"> </iframe>
	</div>
</div>

{% endblock %}
