{% extends "master_a.html" %}

{% load humanize %}
{% load cache %}
{% load govtrack_utils %}

{% block title %}{{issue.question}} - GovTrack.us{% endblock %}

{% block meta_description %}{{issue.title}}{% endblock %}

{% block head %}
	<meta property="og:title" content="{{issue.question}}" />
	<meta property="og:url" content="https://www.govtrack.us{{issue.get_absolute_url}}" />
{% endblock %}

{% block body_scripts %}
<script>
	function do_poll(posid, choice_index) {
		window.location = "{{issue.get_absolute_url}}/join/" + posid + "?meta_order=" + choice_index;
	}
	function show_submission_status(msg) {
		$('#submission_status').text(msg).show();
		window.location.hash = "#";
	}
	$(function(){
		if (window.location.hash == "#unknown") show_submission_status("You cannot make a phone call on this issue at this time. Sorry.")
		if (window.location.hash == "#house-vacant") show_submission_status("Your representative's office is currently vacant.")
		if (window.location.hash == "#senate-vacant") show_submission_status("Your state's Senate offices are currently vacant.")
		if (window.location.hash == "#vacant") show_submission_status("You currently do not have any representation in Congress.")
		if (window.location.hash == "#no-senators") show_submission_status("You live in a congressional district that does not have representation in the Senate. You cannot make a phone call on this issue at this time.")
		if (window.location.hash == "#no-phone") show_submission_status("We are missing the phone number of your representative or senator at this time. Please check back soon.")
		if (window.location.hash == "#all-calls-made") show_submission_status("You have already called your representative or senators on this issue.")
		if (window.location.hash == "#hours") show_submission_status("Please come back during east coast office hours and click Call Congress above to call your representative.")
		if (window.location.hash == "#rate-limit") show_submission_status("You have already made a lot of calls recently. Please wait a few days and then continue.")
	});
</script>
{% endblock %}

{% block extra_css %}
<style>
#submission_status {
	margin: 1em;
	padding: .75em;
	border: 1px solid red;
	color: red;
	font-weight: bold;
	max-width: 30em;
}
</style>
{% endblock %}

{% block crumbs %}
<ul>
	<li>Call Congress</li>
</ul>
{% endblock %}

{% block body_class %}issue{% endblock %}

{% block summary %}
<h1>{{issue.title}}</h1>
{{issue.introtext|markdown}}
{% endblock %}

{% block body %}
<h3>{{issue.question}}</h3>
<div id="you_choose">
	<p>We&rsquo;ll walk you through how to call your representative about this issue.
	{% if positions|length > 1 %}Which side of the issue are you on?{% endif %}</p>
	{% for p in issue.get_randomized_positions %}
	<div class="position">
		<button onclick="do_poll({{p.id}}, {{forloop.counter0}})" style="margin-bottom: .5em">{{forloop.counter}}. {{p.text}} &nbsp; ▶</button>
	</div>
	{% endfor %}
</div>
<div id="you_already_chose" style="display: none;">
	<p>You chose: <span style="font-weight: bold"/></p>
	<button id="change_position" onclick="$('#you_choose').show(); $('#you_already_chose').hide();" style="margin-bottom: .5em">Change Position &nbsp; ▶</button>
	<button id="make_call" onclick="window.location = '{{issue.get_absolute_url|escapejs}}/make_call';" style="margin-bottom: .5em">Call Congress &nbsp; ▶</button>
	<div id="submission_status" style="display: none">
		Hello!
	</div>
</div>
<script>
if (the_page && the_page.position) {
	$('#you_choose').hide();
	$('#you_already_chose').show();
	$('#you_already_chose span').text(the_page.position.text);
	$('#change_position').toggle(the_page.position.can_change);
	$('#make_call').toggle(the_page.position.can_call.length > 0);
}
</script>

{% for bill in issue.bills.all %}
	<p style="margin-top: 1em">Return to <a href="{{bill.bill.get_absolute_url}}">{{bill.bill}}</a></p>
{% endfor %}

{% if total_users < 100 %}
	<hr style="margin-top: 3em;">
	<p>Poll results are not yet available.</p>
	
{% else %}

	<h2 style="margin-top: 1em">Poll Results</h2>
	<p>Here is what you&rsquo;ve said:</p>
	{% for p in positions %}
		<p>{{p.percent_users}}% &ndash; {{p.text}}</p>
	{% endfor %}
	<p>{{total_users|intcomma}} users have responded to the survey so far.</p>

{% endif %}

{% endblock %}
