{% extends "master_d.html" %}

{% load humanize %}
{% load cache %}
{% load govtrack_utils %}

{% block title %}{{issue.question}} - GovTrack.us{% endblock %}
{% block meta_description %}{{issue.title}}{% endblock %}

{% block body_scripts %}
<script>
var call_id = null;

$('#phone').keydown_enter(function() { start_call(); });

function start_call() {
	var num = $("#phone").val();
	if (!num) return;

	$('#phone, #start_call').prop("disabled", 1);
	$('#call_status').text("We are dialing your number...");

	$.ajax(
		"/poll/_ajax/start-call",
		{
			type: "POST",
			data: {
				p: {{user_position.id}},
				target: {{moc.id}},
				phone_number: num
			},
			error: function() {
				$('#phone, #start_call').prop("disabled", 0);
				$('#call_status').text("Something went wrong. Please try again another time.");
			},
			success: function(status) {
				if (!status.ok) {
					$('#phone, #start_call').prop("disabled", 0);
					$('#call_status').text(status.msg);
					return;
				}

				// poll for status updates
				call_id = status.call_id;
				setTimeout("poll_call_status()", 3000);
			}
		})
}

function poll_call_status() {
	$.ajax(
		"/poll/_ajax/poll-call-status",
		{
			type: "POST",
			data: {
				id: call_id
			},
			error: function() {
				$('#call_status').text("Something went wrong....");
				setTimeout("poll_call_status()", 5000);
			},
			success: function(status) {
				$('#call_status').text(status.msg);

				// poll again
				if (!status.finished)
					setTimeout("poll_call_status()", 3000);
			}
		})
}
</script>
{% endblock %}

{% block extra_css %}
<style>
#script {
	margin: 1.5em 1.75em 1.5em 0;
	border: 1px solid black;
	padding: 1em;
	background-color: #136;
	color: white;
	font-size: 108%;
	font-family: Tahoma, Ubuntu, Arial;
	line-height: 145%;
}
#script > p > span {
	font-weight: bold;
}
#script p.them {
	font-style: italic;
	color: #FFA;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	padding: 3px;
	line-height: 130%;
}
</style>
{% endblock %}

{% block crumbs %}
<ul>
	<li>Call Congress</li>
	<li>{{issue.title}}</li>
</ul>
{% endblock %}

{% block body_class %}issue{% endblock %}

{% block summary %}
<div>
	<h1>Call Congress About {{issue.title}}</h1>

	<p style="margin: 0">Make your voice heard. We&rsquo;ll walk you through the call step by step! (<a href="{{issue.get_absolute_url}}">skip this step</a>)</p>
</div>
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-sm-6">
		<p>We&rsquo;ll now connect a call to your representative&rsquo;s office for you.</p>

		<p>You provide <strong>your</strong> phone number, we&rsquo;ll call you, and then we will connect your call to the office of <b>{{moc.person}}</b>.</p>

		<p>Look over our suggested script on the right for an idea of what will happen next.</p>

		<div style="margin: 1.5em 40px; font-size: 110%;">
			<div style="margin-bottom: 5px;">Enter your phone number:</div>
			<input id="phone" type="tel" style="font-size: 28px; width: 220px; height: 40px; display: inline" placeholder="000 555-8888"/>
			<button id="start_call" onclick="start_call()" style="font-size: 24px; height: 38px;">Call Me</button>
			<div id="call_status"></div>
		</div>

		<p style="margin-bottom: 2em; line-height: 14px;"><small>We&rsquo;ll be recording your call so we can learn how to improve this process and make your future experience on GovTrack more effective.</small></p>

		<h5 style="margin-bottom: .5em">Rather call yourself?</h5>

		<p>Feel free to make the call yourself too. {{moc.person.name_and_title}}&rsquo;s phone number is <b><a href="tel:{{moc.phone}}">{{moc.phone}}</a></b>.{% if moc.website %} Or visit <a href="{{moc.website}}">{{moc.website}}</a> and fill out the contact form to write a letter.{% endif %}</p>

		<h5 style="margin-bottom: .5em">Finished?</h5>

		{% if other_targets|length == 0 %}
			<p>Once you finish the call, or if you want to skip this step, <a href="{{next_step}}">click here</a>. You can come back to this later.</p>
		{% else %}
			<p>Once you finish this call, you can also call your other representative or senators:</p>
			{% for t in other_targets %}
				<form method="get" style="margin-left: 2em">
					<input type="hidden" name="target" value="{{t.id}}"/>
					<input type="submit" value="Call {{t.person.name}} &nbsp; ▶"/>
				</form>
			{% endfor %}
			<p>Or if you want to skip this step, <a href="{{next_step}}">click here</a>. You can come back to this later.</p>
		{% endif %}
	</div>

	<div class="col-sm-6">
		<div style="margin-left: 4em">
		<h4 style="text-align: center; margin-bottom: .25em;">Call Script (Suggested)</h4>

		<div id="script">
			<p class="them" style="border-top: none"><span>Them:</span> {{moc.get_title}} {{moc.person.lastname}}&rsquo;s office, how can I help you?</p>

			<p>Hi, my name is <span>[Your Name]</span>, and I&rsquo;m a resident of {% if moc.district %}the {{moc.district|ordinal}} district{% else %}{% if moc.state == "DC" %}the {% endif %}{{moc.state_name}}{% endif %}.</p>

			{{position.call_script|markdown}}

			<p>Can I count on the {{moc.get_title|lower}}&rsquo;s support?</p>

			<p class="them"><span>Them:</span> Thank you for calling. Can I get your name again and your address?</p>

			<p>Yes. My name is . . . and my address is . . .</p>

			<p class="them"><span>Them:</span> I will let the {{moc.get_title|lower}} know you called.</p>

			<p>Thank you for your time.</p>
		</div>

		<p style="font-size: 95%; padding-right: 1em">Your name and address help your representative&rsquo;s office track the sentiment of their constituents, and if they ask for it it means they are taking your call seriously.</p>
		</div>
	</div>
</div>

{% comment %}
<h4 style="margin-top: 1em">Issue Background</h4>
{{issue.introtext|markdown}}
{% endcomment %}

{% endblock %}
