{% extends "master_b.html" %}
{% load humanize govtrack_utils static %}
{% block title %}Legislator Caucuses - GovTrack.us{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block summary %}
   <h1>Legislator Caucuses</h1>
   <p>Caucuses include both formal and informal groups of legislators
   that sometimes choose to vote as a bloc. Not all caucuses publish
   updated lists of their members, so caucus membership information
   here may be incomplete or out of date.</p>
{% endblock %}

{% block body %}

{% for caucus in caucuses %}
   <h2 style="margin-top: 2em; font-weight: bold; font-size: 22px;">{{caucus.name}}</h2>

   {% if caucus.summary %}<p><b>{{caucus.summary}}</b></p>{% endif %}

   <p>
      <a data-bs-toggle="modal" data-bs-target="#modalCaucusMembers{{forloop.counter}}" href="#" style="text-decoration: none;">
      {% if caucus.counts_by_party|length == 1 %}
         <span class="party_{{caucus.counts_by_party.0.1|slice:"0:1"}}" style="padding: 3px; cursor: pointer;">
         {{caucus.counts_by_party.0.0}} {{caucus.counts_by_party.0.1}}{{caucus.counts_by_party.0.0|pluralize}}
         </span>
      {% else %}
         {% comment %}
            {{caucus.members|length}} member{{caucus.members|length|pluralize}}
         {% endcomment %}
         {% for count, party in caucus.counts_by_party %}
            <span class="party_{{party|slice:"0:1"}}" style="padding: 3px; margin-right: .5em; cursor: pointer;">
               {{count}} {{party}}{{count|pluralize}}
            </span>
         {% endfor %}
      {% endif %}
      </a>
   </p>
   {% if caucus.description or caucus.url %}<p>{{caucus.description}} (<a href="{{caucus.url}}">{{caucus.url}}</a>)</p>{% endif %}
   {% if caucus.committees %}
      <p>Caucus members are over-represented on the following committees where they may have particular influence:</p>
      <table>
      {% for count, committee, committee_members_total, committee_members_type in caucus.committees %}
        <tr valign="top">
          <td style="max-width: 70px; padding-right: 20px;">
            {% if committee.icon %}
            <a href="{{ committee.get_absolute_url }}">
              <img src="/static/images/committee-icons/{{committee.icon}}.png" class="img-fluid" style="margin-bottom: 15px";/>
            </a>
            {% endif %}
          </td>
          <td>
             <a href="{{committee.get_absolute_url}}">{{committee.name}}</a>
             <br>({{count}} caucus members out of {{committee_members_total}} {{committee_members_type}})
          </td>
        </tr>
      {% endfor %}
      </table>
   {% endif %}
   {% if caucus.committees_underrep %}
      <p>Caucus members are <i>under-</i>represented on the
         {% for count, committee, committee_members_total, committee_members_type  in caucus.committees_underrep %}
            <a href="{{committee.get_absolute_url}}">{{committee.name}}</a>
            ({{count}}){% if not forloop.last %}, {% endif %}
         {% endfor %}.</p>
   {% endif %}

   <div id="modalCaucusMembers{{forloop.counter}}" class="modal" tabindex="-1">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" style="margin: 0">Members of {{caucus.name}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <p><i>Caucus membership information may be incomplete or out of date.
           It was last updated on {{caucus.updated|date}}.</i></p>
            {% for p in caucus.members %}
               <div><a href="{{p.get_absolute_url}}">{{p.name}}</a></div>
            {% endfor %}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>


{% endfor %}

{% endblock %}


