{% extends "master.html" %}
{% load humanize govtrack_utils %}
{% block title %}{% if not state %}Members of Congress &amp; Congressional District Maps{% endif %}{% if state and not district %}{{statename}}&rsquo;s Members of Congress &amp; Congressional District Map{% endif %}{% if state and district %}{{statename}}&rsquo;s {{district|ordinal}} Congressional District - {{state.upper}}-{{district|stringformat:'02d'}} Representatives &amp; District Map{% endif %} - GovTrack.us{% endblock %}
{% block meta_description %}{% if state and district and cities%}Congressional district for {{cities}}. {% endif %}{% if not state %}What congressional district are you in? {% endif %}Find your U.S. Congress senators and representative {% if state and not district %}in {{statename}}{% endif %}{% if state and district %}in {{statename}}&rsquo;s {{district|ordinal}} Congressional District ({{state.upper}}{{district|stringformat:'02d'}}){% endif %} using a map.{% endblock %}
{% block meta_keywords %}United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block head %}
  {% include "person/mapbox-head.html" %}
  <style>
  	#map {
  		width: 100%;
  		height: 80vh;
  	}
  </style>
{% endblock %}

{% block body_scripts %}
  {% include "person/mapbox-scripts.html" with marker_lat=request.GET.marker_lat marker_lng=request.GET.marker_lng %}
  
  <script>
  map.on("moveend", update_embed_code_bounds);
  function update_embed_code_bounds() {
  	var b = map.getBounds();
  	$("#embedbounds").text(Math.round(b.getWest()*1000)/1000 + "," + Math.round(b.getNorth()*1000)/1000 + "," + Math.round(b.getEast()*1000)/1000 + "," + Math.round(b.getSouth()*1000)/1000);
  }
  update_embed_code_bounds(); // initialize

  if ($(window).width() > 768) {
    var input = $('#user-address');
    var w = $('#user-address').parents("form").innerWidth();
    $('#user-address').parents("form").find("button").each(function() {
      w -= $(this).outerWidth();
    })
    input.width(w-50);
  }

  function go_to_point(pt, q) {
    // Query Mapbox API to get what district is at this location.
    latlng_to_district({
      lat: pt[1],
      lng: pt[0]}, function(district) {
      	if (!district) {
      		alert("That location does not seem to be in a United States Congressional District.");
      		return;
      	}
      	if (district.number != "00")
	        window.location = "/congress/members/" + district.state + "/" + district.number + "?q=" + encodeURIComponent(q) + "&marker_lng=" + pt[0] + "&marker_lat=" + pt[1];
      	else
	        window.location = "/congress/members/" + district.state;
      });
  }

  function do_address(addr) {
  	if (!addr)
  		addr = $("#user-address").val();
  	if (addr == "") {
	    window.location = "/congress/members/map";
	    return;
	}
    address_to_latlng(addr, function (pt) { go_to_point(pt, addr); });
  }

  function do_by_current_location() {
	  if ("geolocation" in navigator)
	    navigator.geolocation.getCurrentPosition(function(position) {
	      go_to_point([position.coords.longitude, position.coords.latitude], "");
	    });
  }

  {% if request.GET.address %}
    do_address("{{request.GET.address|escapejs}}");
  {% endif %}
  </script>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
	<li><a href="/congress">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	{% if state %}
		<li><a href="/congress/members/map">Map</a></li>
		{% if not district %}
		<li>{{statename}}</li>
		{% else %}
		<li><a href="/congress/members/{{state}}">{{statename}}</a></li>
		{% endif %}
	{% endif %}
</ol>
{% endblock %}

{% block body %}
	{% if not state %}
		<h1>Congressional Districts Map</h1>
	{% else %}
		<h1>{{statename}}&rsquo;s {{district|ordinalhtml}} Congressional District</h1>
	{% endif %}

{% if not state or state == "FL" or state == "VA" or state == "NC" %}
{% include "person/redistricting-notes.html" %}
{% endif %}

<form class="form-inline" onsubmit="do_address(); return false;" style="margin: 2em 0">
  <div class="form-group">
    <label for="user-address" class="sr-only">Address</label>
    <input type="text" class="form-control" id="user-address" placeholder="Enter an address in the United States" value="{{request.GET.q}}">
  </div>
  <button type="submit" class="btn btn-primary">Find District</button>
  <button class="btn btn-default" onclick="do_by_current_location(); return false;">Use My Location</button>
</form>

		{% if state %}
		<div class="panel panel-success" style="margin: 1em 0">
		<div class="panel-heading">
			{% if not request.GET.q %}
				Who represents this district?
			{% else %}
				That location is in {{statename}}&rsquo;s {{district|ordinalhtml}} congressional district which is represented by...
			{% endif %}
		</div>
		<div class="panel-body">
			<h3 style="margin: 0 0 .5em 0">Senators</h3>
			{% if state == "DC" %}
				<p>The District of Columbia does not elect senators.</p>
			{% elif stateapp == "T" %}
				<p>{% if state == "VI" %}The {% endif %}{{statename}} is a U.S. territory and so does not have any senators.</p>
			{% else %}
				<p>
					{% for rep in senators %}
						{% if rep %}
							<a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a>
						{% else %}
							<em>Vacant</em>
						{% endif %}
						{% if not forloop.last %}
							and
						{% endif %}
					{% endfor %}
				</p>
			{% endif %}
			
			<h3 style="margin: 1em 0 .5em 0">Representative</h3>

			<div>
				{% for dist, rep, rep_cities in reps %}
					<div style="margin-bottom: .5em">
						{% if not district %}
						{% if reps|length > 1 or dist > 0 %}
						<a href="/congress/members/{{state}}/{{dist}}" title="View District Map" class="plain"><strong>{{dist|ordinalhtml}}</strong> </a> &mdash;
						{% endif %}
						{% endif %}
						{% if rep %}
							<a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a>
						{% else %}
							<em>Vacant</em>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
		</div>
		{% endif %}

	<div id='map'></div>
	
	<div style="clear: both; text-align: center; margin: 1em">
		<div id="embed_teaser">
			<a href="#" onclick="$('#embed_teaser').hide(); $('#embed_details').fadeIn(); return false;">Embed this map on your website...</a>
		</div>
		<div id="embed_details" style="display: none;">
			<div style="text-align: center">Use this HTML code:</div>
		
			<pre id="embedpre" wrap="hard" style="overflow: auto; margin: 15px; font-size: 90%; color: black;">&lt;iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://www.govtrack.us/congress/members/embed/mapframe?{% if state %}state={{state|lower}}{% endif %}{% if district %}&amp;district={{district}}{% endif %}&amp;bounds=<span id="embedbounds"></span>"&gt;&lt;/iframe&gt;</pre>

		</div>
	</div>
</div><!-- /search-members -->

{% include "ad_footer_leaderboard.html" %}

{% endblock %}

