<html>
<head>
	<title>Congressional District Map Widget</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style>
		body { margin: 0; padding: 0 }
	</style>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		var state = {% if not demo %}"{{state|escapejs}}"{% else %}"ne"{% endif %};
		var district = {% if not demo %}"{{district|escapejs}}"{% else %}"3"{% endif %};
	
		var map;
		
		function initialize() {
			var myOptions = {
				zoom: 4,
				center: new google.maps.LatLng(38, -96),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				zoomControl: true,
				mapTypeControl: false,
				scaleControl: true,
				streetViewControl: false,
				styles: 			
					[
					  {
						"featureType": "water",
						"stylers": [
						  { "visibility": "simplified" }
						]
					  },{
						"featureType": "transit.station.bus",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "poi.business",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "landscape.man_made",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "landscape.natural",
						"stylers": [
						  { "lightness": 100 }
						]
					  },{
						"featureType": "administrative.province",
						"elementType": "geometry.stroke",
						"stylers": [
						  { "invert_lightness": true }
						]
					  },{
						"featureType": "poi.park",
						"elementType": "geometry.fill",
						"stylers": [
						  { "visibility": "off" }
						]
					  }
					]			
				};
				
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);				
			
			{% if bounds %}
			var bounds = "{{bounds|escapejs}}".split(',');
				bounds = new google.maps.LatLngBounds(new google.maps.LatLng(bounds[3], bounds[0]), new google.maps.LatLng(bounds[1], bounds[2]));
				map.fitBounds(bounds);
			{% endif %}
			
			var tileimgformat = 'png';
			if (navigator.appName == 'Microsoft Internet Explorer' && new RegExp("MSIE [678]").exec(navigator.userAgent)) tileimgformat = 'gif';
			var overlay = new google.maps.ImageMapType({
			  getTileUrl: function(coord, zoom) {
				  return "http://gis.govtrack.us/map/tiles/2010-cd/"
				  + ((state && district) ? (state.toLowerCase() + "-" + (district.length < 2 ? "0" : "") + district) + "/" : "")
				  + (zoom-1) + "/" + coord.x + "/" + coord.y + "." + tileimgformat + "?size=512";
			  },
			  tileSize: new google.maps.Size(512, 512),
			  isPng: tileimgformat == "png",
			  minZoom: 3,
			  maxZoom: 28,
			  opacity: tileimgformat == "png" ? .85 : .25
			});
			
			map.overlayMapTypes.clear();
			map.overlayMapTypes.insertAt(0, overlay);
			
			{% if not demo %}
			var mh = document.getElementById("map_canvas").offsetHeight;
			var fh = document.getElementById("map_footer").offsetHeight;
			document.getElementById("map_canvas").style.height = (mh-fh)  + "px";
			{% endif %}
		};
	</script>
</head>
<body onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%"> </div>
	{% if not demo %}
	<center id="map_footer" style="font-size: 60%; padding: .5em"><a href="http://www.govtrack.us/congress/members" target="_blank">Find your Members of Congress</a> on <a href="http://www.govtrack.us/" target="_blank">GovTrack.us</a></center>
	{% endif %}
</body>
</html>

