{% extends "master.html" %}
{% load humanize govtrack_utils %}
{% block title %}{% if not state %}Members of Congress &amp; Congressional District Maps{% endif %}{% if state and not district %}{{statename}}&rsquo;s Members of Congress &amp; Congressional District Map{% endif %}{% if state and district %}{{statename}}&rsquo;s {{district|ordinal}} Congressional District - {{state.upper}}-{{district|stringformat:'02d'}} Representatives &amp; District Map{% endif %} - GovTrack.us{% endblock %}
{% block meta_description %}{% if not state %}What congressional district are you in? {% endif %}Find your U.S. Congress senators and representative {% if state and not district %}in {{statename}}{% endif %}{% if state and district %}in {{statename}}&rsquo;s {{district|ordinal}} Congressional District ({{state.upper}}{{district|stringformat:'02d'}}){% endif %} using a map.{% endblock %}
{% block meta_keywords %}United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block head %}
  {% include "person/mapbox-head.html" %}
  <style>
    .spanbullets span:after {
      display: inline;
      content: " · ";
    }
    .spanbullets span:last-child:after {
      display: none;
      content: "";
    }
  	#map {
  		width: 100%;
  		height: 80vh;
      border: 1px solid #999;
  	}
  </style>
{% endblock %}

{% block body_scripts %}
  {% include "person/mapbox-scripts.html" %}
  
  <script>
  map.on("moveend", update_embed_code_bounds);
  function update_embed_code_bounds() {
  	var b = map.getBounds();
  	$("#embedbounds").text(Math.round(b.getWest()*1000)/1000 + "," + Math.round(b.getNorth()*1000)/1000 + "," + Math.round(b.getEast()*1000)/1000 + "," + Math.round(b.getSouth()*1000)/1000);
  }
  update_embed_code_bounds(); // initialize

  if ($(window).width() > 768) {
    var input = $('#user-address');
    var w = $('#user-address').parents("form").innerWidth();
    $('#user-address').parents("form").find("button").each(function() {
      w -= $(this).outerWidth();
    })
    input.width(w-50);
  }

  function go_to_point(pt, q) {
    // Query Mapbox API to get what district is at this location.
    latlng_to_district({
      lat: pt[1],
      lng: pt[0]}, function(district) {
      	if (!district) {
      		alert("That location does not seem to be in a United States Congressional District.");
      		return;
      	}
      	if (district.number != "00" || 1) {
          // URLs don't use zero-padding
          var path = "/congress/members/" + district.state + "/" + parseInt(district.number);
          var fragment = "#q=" + encodeURIComponent(q) + "&marker_lng=" + pt[0] + "&marker_lat=" + pt[1];
          if (path == window.location.pathname) {
            // The page won't reload. Just add a marker & alert.
            addMapMarker(pt);
            alert("That address is in the same congressional district.");
          }
	        window.location = path + fragment;
        }
      	else
	        window.location = "/congress/members/" + district.state;
      });
  }

  function do_address(addr) {
  	if (!addr)
  		addr = $("#user-address").val();
  	if (addr == "") {
	    window.location = "/congress/members/map";
	    return;
	}
  	if (addr == "my location") {
	    do_by_current_location();
	    return;
	}
    address_to_latlng(addr, function (pt) { go_to_point(pt, addr); });
  }

  function do_by_current_location() {
	  if ("geolocation" in navigator)
	    navigator.geolocation.getCurrentPosition(function(position) {
	      go_to_point([position.coords.longitude, position.coords.latitude], "");
	    });
  }

  // utility function
  function parse_qs(qs) {
    // Parse something that looks like a query string. Based on
    // http://stackoverflow.com/a/2880929/125992.
    var match,
      pl     = /\+/g,  // Regex for replacing addition symbol with a space
      search = /([^&=]+)=?([^&]*)/g,
      decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
      ret = {};
    while (match = search.exec(qs))
      ret[decode(match[1])] = decode(match[2]);
    return ret;
  }

  var q = parse_qs(window.location.hash.substring(1));
  if (q.address)
    do_address(q.address);
  else if (q.my_location)
  	do_by_current_location();
  if (q.q)
    $('#user-address').val(q.q);
  if (q.marker_lat)
    addMapMarker([parseFloat(q.marker_lng), parseFloat(q.marker_lat)]);
</script>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
	<li><a href="/congress">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	{% if state %}
		<li><a href="/congress/members/map">Map</a></li>
		{% if not district %}
		<li>{{statename}}</li>
		{% else %}
		<li><a href="/congress/members/{{state}}">{{statename}}</a></li>
		{% endif %}
	{% endif %}
</ol>
{% endblock %}

{% block body %}
	{% if not state %}
		<h1>Congressional Districts Map</h1>
	{% elif district == 0 %}
		<h1>{{statename}}&rsquo;s At-Large Congressional District</h1>
	{% else %}
		<h1>{{statename}}&rsquo;s {{district|ordinalhtml}} Congressional District</h1>
	{% endif %}

<div style="margin: 2em 0">
<form class="form-inline" onsubmit="do_address(); return false;">
  <div class="form-group">
    <label for="user-address" class="sr-only">Address</label>
    <input type="text" class="form-control" id="user-address" placeholder="Enter an address in the United States">
  </div>
  <button type="submit" class="btn btn-primary">Find District</button>
</form>
<div style="margin: .5em"><a href="#" onclick="do_by_current_location(); return false;" style="text-decoration: none"><i class="fa fa-map-marker" aria-hidden="true"></i> I&rsquo;m at home, use my phone/computer&rsquo;s location</a></div>
</div>

<div class="row">

	{% if state %}
		<div class="col-md-6">
		
			{% if request.GET.q %}
				<p>That location is in {{statename}}&rsquo;s {{district|ordinalhtml}} congressional district which is represented by...</p>
			{% endif %}

			{% for props, rep in legislators %}
				{% if props.first_senator %}
					<h2 style="margin-top: 0"><span>Senators</span></h2>
					<p>Each state elects two senators to the United States Senate for staggered 6-year terms. Senators represent the entire state. {{statename}}&rsquo;s senators are:</p>
				{% endif %}
				{% if props.first_representative %}
					<h2><span>Representative</span></h2>

					{% if stateapp != "T" %}
						<p>The United States is divided into 435 congressional districts, each with a population of about 710,000 individuals. Each district elects a representative to the U.S. House of Representatives for a two-year term. Representatives are also called congressmen/congresswomen.</p>
					{% elif state == "DC" %}
						<p>The District of Columbia (DC) is the nation&rsquo;s capital. Although DC has a larger population than some states, the District is not one of the fifty states and so has no senators or representatives in Congress.</p>

						<p>Instead, the District of Columbia sends a <b>delegate</b> to the House of Representatives with essentially no voting privileges. Delegates have a marginal role in Congress and their constituents are not represented in Congress in the same manner as most citizens.</p>
					{% else %}
						<p>{% if state == "VI" or state == "MP" %}The {% endif %}{{statename}} is a territory of the United States. Because it is not a state, it has no senators or representatives in Congress.</p>

						<p>Instead, it sends a <b>delegate</b> to the House of Representatives{% if state == "PR" %}, called the <b>Resident Commissioner</b>,{% endif %} with essentially no voting privileges. Delegates have a marginal role in Congress and their constituents are not represented in Congress in the same manner as most citizens.</p>
					{% endif %}

				{% endif %}

				<div class="row" style="margin-bottom: 1.5em;">
				<div class="col-sm-3" style="padding-right: 0; padding-bottom: 1em;">
					{% if rep.has_photo %}
						<img src="{{rep.get_photo_url}}" alt="Photo" class="img-responsive" />
					{% else %}
						<div style="border: 1px solid black; width: 100px; height: 120px;" class="img-responsive"> </div>
					{% endif %}
				</div>
				<div class="col-sm-9">
					{% if rep %}
						<div style="margin-bottom: 2px">
						  <a href="{{rep.get_absolute_url}}" style="font-weight: bold; font-size: 110%; text-decoration: none; color: inherit;">
							{{rep.name_no_details}}
						  </a>
						</div>

						{% with rep.current_role as role %}
						<div>{{role.get_description}}</div>
	            		<div>Since {{role.logical_dates.0|date}} (Next Election in {{role.next_election_year}})</div>
						<div style="margin-bottom: .45em;">{{role.party}}</div>

						<div class="spanbullets" style="margin-bottom: .75em;">
						{% if rep.twitterid %}<span><a href="https://twitter.com/@{{rep.twitterid}}">@{{rep.twitterid}}</a></span>{% endif %}
						{% if role.website %}<span><a href="{{role.website}}">Official Website <i class="fa  fa-external-link"></i></a></span>{% endif %}
						{% if role.phone %}<span><nobr><a href="tel:+1-{{role.phone}}">{{role.phone}}</a></nobr></span>{% endif %}
						</div>

						<div style="margin-bottom: .5em;"><a href="{{rep.get_absolute_url}}" class="btn btn-success">View Legislative Profile &amp; Get Alerts &raquo;</a></div>

						{% if role.role_type == 2%}
							<div style="margin-top: .5em; line-height: 126%; font-size: 85%; color: #555; font-style: italic;">Check the map <span class="visible-xs-inline visible-sm-inline">below</span> to make sure we&rsquo;ve located your address accurately.</div>
						{% endif %}
						{% endwith %}

					{% else %}
						<em>This seat is currently vacant.</em>
					{% endif %}
				</div>
				</div>
			{% endfor %}

		</div> <!-- /col -->
		<div class="col-md-6">
	{% else %}
		<div class="col-xs-12">
	{% endif %}

	{% if not state or state == "FL" or state == "VA" or state == "NC" %}
	{% include "person/redistricting-notes.html" %}
	{% endif %}

	<div id='map'></div>
	
	<div style="clear: both; text-align: center; margin: 1em">
		<div id="embed_teaser">
			<a href="#" onclick="$('#embed_teaser').hide(); $('#embed_details').fadeIn(); return false;">Embed this map on your website...</a>
		</div>
		<div id="embed_details" style="display: none;">
			<div style="text-align: center">Use this HTML code:</div>
		
			<pre id="embedpre" wrap="hard" style="overflow: auto; margin: 15px; font-size: 90%; color: black;">&lt;iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://www.govtrack.us/congress/members/embed/mapframe?{% if state %}state={{state|lower}}{% endif %}{% if district %}&amp;district={{district}}{% endif %}&amp;bounds=<span id="embedbounds"></span>"&gt;&lt;/iframe&gt;</pre>

		</div>
	</div>

</div> <!-- /col -->
</div> <!-- /row -->
{% include "ad_footer_leaderboard.html" %}

{% endblock %}

