<html>
<head>
	<title>Congressional District Map Widget</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style>
		body { margin: 0; padding: 0 }
	</style>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		var state = {% if not demo %}"{{state|escapejs}}"{% else %}"ne"{% endif %};
		var district = {% if not demo %}"{{district|escapejs}}"{% else %}"3"{% endif %};
	
		var map;
		
		function initialize() {
			var myOptions = {
				zoom: 4,
				center: new google.maps.LatLng(38, -96),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				zoomControl: true,
				mapTypeControl: false,
				scaleControl: true,
				streetViewControl: false,
				styles: 			
					[
					  {
						"featureType": "water",
						"stylers": [
						  { "visibility": "simplified" }
						]
					  },{
						"featureType": "transit.station.bus",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "poi.business",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "landscape.man_made",
						"stylers": [
						  { "visibility": "off" }
						]
					  },{
						"featureType": "landscape.natural",
						"stylers": [
						  { "lightness": 100 }
						]
					  },{
						"featureType": "administrative.province",
						"elementType": "geometry.stroke",
						"stylers": [
						  { "invert_lightness": true }
						]
					  },{
						"featureType": "poi.park",
						"elementType": "geometry.fill",
						"stylers": [
						  { "visibility": "off" }
						]
					  }
					]			
				};
				
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);				
			
			{% if bounds %}
			var bounds = "{{bounds|escapejs}}".split(',');
				bounds = new google.maps.LatLngBounds(new google.maps.LatLng(bounds[3], bounds[0]), new google.maps.LatLng(bounds[1], bounds[2]));
				map.fitBounds(bounds);
			{% endif %}
			
			createDistrictsOverlay("2010-cd");
			
			{% if not demo %}
			var mh = document.getElementById("map_canvas").offsetHeight;
			var fh = document.getElementById("map_footer").offsetHeight;
			document.getElementById("map_canvas").style.height = (mh-fh)  + "px";
			{% endif %}
		};
		
		var tilesizeshift = 0; // 0=256, 1=use 512px tiles instead of 256
		
		// Use PNG or GIF tiles? IE8 and earlier don't support transparent PNGs properly,
		// so use opaque GIF tiles but set the transparency on the map layer appropriately.
		var tileimgformat = 'png';
		if (navigator.appName == 'Microsoft Internet Explorer' && new RegExp("MSIE [678]").exec(navigator.userAgent)) tileimgformat = 'gif';
		
		function createDistrictsOverlay(layer) {
			var tileimgsize = 256 << tilesizeshift;
		
			// Apply the map layer.
			var overlay = new google.maps.ImageMapType({
			  getTileUrl: function(coord, zoom) {
				  return "http://gis.govtrack.us/map/tiles/" + layer + "/" + (zoom-tilesizeshift) + "/" + coord.x + "/" + coord.y + "." + tileimgformat + "?size=" + tileimgsize + (tileimgformat == "png" ? "" : "&features=outline,label");
			  },
			  tileSize: new google.maps.Size(tileimgsize, tileimgsize),
			  isPng: tileimgformat == "png",
			  minZoom: 3,
			  maxZoom: 28,
			  opacity: tileimgformat == "png" ? .85 : .65
			});
			
			map.overlayMapTypes.clear();
			map.overlayMapTypes.insertAt(0, overlay);
			
			// For IE8 and earlier, the layer above only applies outlines and labels --- at high opacity.
			// Apply a second layer for the boundary fill color --- at low opacity.
			if (tileimgformat != "png") {
				var overlay2 = new google.maps.ImageMapType({
				  getTileUrl: function(coord, zoom) {
					  return "http://gis.govtrack.us/map/tiles/" + layer + "/" + (zoom-tilesizeshift) + "/" + coord.x + "/" + coord.y + "." + tileimgformat + "?size=" + tileimgsize + (tileimgformat == "png" ? "" : "&features=fill");
				  },
				  tileSize: new google.maps.Size(tileimgsize, tileimgsize),
				  isPng: false,
				  minZoom: 3,
				  maxZoom: 28,
				  opacity: .15
				});
				
				map.overlayMapTypes.insertAt(0, overlay2);
			}
		}
	</script>
</head>
<body onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%"> </div>
	{% if not demo %}
	<center id="map_footer" style="font-size: 60%; padding: .5em"><a href="http://www.govtrack.us/congress/members" target="_blank">Find your Members of Congress</a> on <a href="http://www.govtrack.us/" target="_blank">GovTrack.us</a></center>
	{% endif %}
</body>
</html>

