<!DOCTYPE html>
<html>
<head>
  <!-- See https://github.com/aaronpdennis/congress-maps -->

  <meta charset='utf-8' />
  <title>GovTrack.us Congressional Districts Map Widget</title>

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

  <!-- Mabpox GL -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'>

  <!-- Mapbox.js (fallback) -->
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

  <!-- GeoViewport -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>

  <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>

<!-- Map Container -->
<div id='map'></div>

{% if not hide_footer %}
  <center id="map_footer" style="font-size: 60%; padding: .5em"><a href="https://www.govtrack.us/congress/members" target="_blank">Find your Members of Congress</a> on <a href="https://www.govtrack.us/" target="_blank">GovTrack.us</a></center>
{% endif %}

{% if not bounds and state %}
<script src="/static/js/congressional-districts-bboxes-114-2015.js"> </script>
{% endif %}

<script>
// Mapbox configuration
var accessToken = 'pk.eyJ1IjoiZ292dHJhY2siLCJhIjoiY2lua2J1cmwzMHhyNnVrbHl3bmx4ZnZneiJ9.Wld_AdbKwOgmF2ZXn2SPmw';
var styleURL = 'mapbox://styles/govtrack/cioagxcds003vaqm7z7qdf7xl';

{% if not hide_footer %}
function resize_map() {
  var map = $("#map");
  var footer = $("#map_footer");
  map.css({ position: "static", height: $(window).innerHeight() - footer.outerHeight() });
}
resize_map();
$(window).resize(resize_map);
{% endif %}

var state = {% if state %}"{{state|upper|escapejs}}"{% else %}null{% endif %};
var district = {% if district %}parseInt("{{district|upper|escapejs}}"){% else %}null{% endif %};
{% if district %}if (district < 10) district = "0" + district; else district = "" + district;{% endif %}

{% if bounds %}
{# user-specified #}
var bbox = "{{bounds|escapejs}}".split(',');
  bbox = [parseFloat(bbox[0]), parseFloat(bbox[3]), parseFloat(bbox[2]), parseFloat(bbox[1])];
{% else %}
var bbox;
if (state && district)
  bbox = bboxes[state + district]
else if (state)
  bbox = bboxes[state];
else
  bbox = [-128.8, 23.6, -65.4, 50.2]; // United States
{% endif %}

var viewport = geoViewport.viewport(bbox, [window.innerWidth/2, window.innerHeight/2])

// Checks for support of Mapbox GL. Works with most modern browsers.
if (mapboxgl.supported({ failIfMajorPerformanceCaveat: true })) {

  // Initialize the map
  mapboxgl.accessToken = accessToken;
  var map = new mapboxgl.Map({
      container: 'map',
      style: styleURL,
      center: viewport.center,
      zoom: viewport.zoom
  });

  // Once map is fully loaded...
  map.on('load', function() {
    // set controls
    map.addControl(new mapboxgl.Navigation({ position: 'bottom-left' }));
    map.touchZoomRotate.disableRotation();

    // Create a filter for the selected state & district.
    var filter = ['all'];
    if (state) filter.push(['==', 'state', state]);
    if (state && district) filter.push(['==', 'number', district]);

    // For each district color layer in the map, apply some filters...
    for (var i = 1; i <= 5; i++) {
      // The filter that filters based on color is the one we want to preserve
      // If there are already multiple filters applied, it will be the last one
      var exisitingFilter = map.getFilter('districts_' + i);
      if (exisitingFilter[0] === 'all') {
        exisitingFilter = exisitingFilter[exisitingFilter.length - 1];
      }

      // Add the existing color filter
      var layerFilter = filter.concat([exisitingFilter]);

      // Set new layer filter for each district layer in the map
      map.setFilter('districts_' + i, layerFilter);
      map.setFilter('districts_' + i + '_boundary', layerFilter);
      map.setFilter('districts_' + i + '_label', layerFilter);
    }

    // Create a similar filter for the boundary lines
    map.setFilter('districts_boundary_line', filter);


    {% if request.GET.marker_lat and 0 %}
        var loc = new google.maps.LatLng("{{request.GET.marker_lat|escapejs}}", "{{request.GET.marker_lng|escapejs}}");
        map.setCenter(loc);
        var marker = new google.maps.Marker({
            map: map, 
            position: loc
        });
    {% endif %}

  });

} else {

  // If Mapbox GL is not supported
  // Log this information to the console (perhaps an alert that the website is not fully featured would be better?)
  console.log('Mapbox GL not supported');

  // Initialize the map
  L.mapbox.accessToken = accessToken;
  var map = L.mapbox.map('map').setView([viewport.center[1], viewport.center[0]], viewport.zoom);
  L.mapbox.styleLayer(styleURL).addTo(map);
}

</script>

</body>
</html>

