{% extends "master.html" %}
{% load humanize %}
{% block title %}{% if not state %}Members of Congress &amp; Congressional District Maps{% endif %}{% if state and not district %}{{statename}}&rsquo;s Members of Congress &amp; Congressional District Map{% endif %}{% if state and district %}{{statename}}&rsquo;s {{district|ordinal}} Congressional District - Representatives &amp; District Map{% endif %} - GovTrack.us{% endblock %}
{% block meta_description %}{% if not state %}What congressional district are you in?{% endif %} Find your U.S. Congress senators and representative {% if state and not district %}in {{statename}}{% endif %}{% if state and district %}in {{statename}}&rsquo;s {{district|ordinal}} Congressional District{% endif %} using a map.{% endblock %}
{% block meta_keywords %}U.S. Congress,congressional districts,map,senators,representatives,congressmen{% endblock %}
{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript">
		function createDistrictsOverlay(outlines_only, opacity, state, district) {
			return {
			  getTileUrl: function(coord, zoom) 
			  {
				  return "http://www.govtrack.us/perl/wms/wms.cgi?google_tile_template_values=" + coord.x + "," + coord.y + "," + zoom
				  	+ "&LAYERS=cd-110" + (outlines_only ? "-outlines" : "")
					+ (state ? ":http://www.rdfabout.com/rdf/usgov/geo/us/" + state
						+ (!district ? "%25"
							: "/cd/110/" + district)
						: "")
					+ "&FORMAT=image/png";	
			  },
			  tileSize: new google.maps.Size(256, 256),
			  minZoom: 2,
			  maxZoom: 28,
			  opacity: opacity,
			  isPng: true
			};		
		}
		
		var map;
		var cur_mouse_pos = null;
		
		$(function() {
			var myOptions = {
				zoom: {{center_zoom}},
				center: new google.maps.LatLng({{center_lat}}, {{center_long}}),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				zoomControl: true,
				mapTypeControl: false,
				scaleControl: true,
				streetViewControl: false
				};
			map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push($('#fullscreen')[0]);
			
			overlayWMS = new google.maps.ImageMapType(createDistrictsOverlay(false, .2, {% if state %}"{{state|lower}}"{% else %}null{% endif %}, {% if district %}"{{district}}"{% else %}null{% endif %}));
			map.overlayMapTypes.insertAt(0, overlayWMS);			

			overlayWMS = new google.maps.ImageMapType(createDistrictsOverlay(true, .7, {% if state %}"{{state|lower}}"{% else %}null{% endif %}, {% if district %}"{{district}}"{% else %}null{% endif %}));
			map.overlayMapTypes.insertAt(0, overlayWMS);
			
			{% if request.GET.marker %}
				lnglat = "{{request.GET.marker}}".split(":");
				loc = new google.maps.LatLng(lnglat[1], lnglat[0]);
				map.setCenter(loc);
				var marker = new google.maps.Marker({
					map: map, 
					position: loc
				});
				map.setZoom(13);					
			{% endif %}
			
			google.maps.event.addListener(map, "bounds_changed", function() {
				var b = map.getBounds();
				$("#embedbounds").text(Math.round(b.getSouthWest().lng()*1000)/1000 + "," + Math.round(b.getNorthEast().lat()*1000)/1000 + "," + Math.round(b.getNorthEast().lng()*1000)/1000 + "," + Math.round(b.getSouthWest().lat()*1000)/1000);
			});
			
			google.maps.event.addListener(map, "mousemove", function(e) {
				cur_mouse_pos = e.latLng;
				setTimeout("doMouseHover(" + e.latLng.lat() + "," + e.latLng.lng() + ")", 1000);
			});
			// Create a div to hold the control.
			var controlDiv = document.createElement('DIV');
			// Set CSS styles for the DIV containing the control
			// Setting padding to 5 px will offset the control
			// from the edge of the map.
			controlDiv.style.padding = '5px';
			// Set CSS for the control border.
			var controlUI = document.createElement('DIV');
			controlUI.style.backgroundColor = 'white';
			controlUI.style.borderStyle = 'solid';
			controlUI.style.borderWidth = '2px';
			controlUI.style.cursor = 'pointer';
			controlUI.style.textAlign = 'center';
			controlDiv.appendChild(controlUI);
			// Set CSS for the control interior.
			var controlText = document.createElement('DIV');
			controlText.id = "map_district_hover_label";
			controlText.style.fontFamily = 'Arial,sans-serif';
			controlText.style.fontSize = '12px';
			controlText.style.paddingLeft = '4px';
			controlText.style.paddingRight = '4px';
			controlText.innerHTML = '';
			controlUI.appendChild(controlText);
			map.controls[google.maps.ControlPosition.TOP_RIGHT].push(controlDiv);
		});
		
		function doMouseHover(lat, lng) {
			if (!cur_mouse_pos || cur_mouse_pos.lat() != lat || cur_mouse_pos.lng() != lng) return;
			
			$.ajax({
				url: "/congress/members/ajax/district_lookup",
				data: {
					lat: lat,
					lng: lng
				},
				dataType: "json",
				success: function(data) {
					if (!data.state) {
						$('#map_district_hover_label').text("");
					} else {
						if (data.district) {
							$('#map_district_hover_label').html("<a href='/congress/members/" + data.state + "/" + data.district + "'>" + data.state + "-" + data.district + "</a>");
						} else {
							$('#map_district_hover_label').html("<a href='/congress/members/" + data.state + "'>" + data.state + " At-Large" + "</a>");
						}
					}
				}
			});
		}
		
		var is_full_screen = false;
		function doFullScreen() {
			if (is_full_screen) {
				$('#map_canvas').css('position', 'relative');
				$('#map_canvas').css('width', '');
				$('#map_canvas').css('top', '');
				$('#map_canvas').css('left', '');
				$("#map_container").append($('#map_canvas'));
				google.maps.event.trigger(map, "resize");
			} else {
				$('#map_canvas').css('position', 'absolute');
				$('#map_canvas').css('z-index', '1000');
				$("body").append($('#map_canvas'));
			}
			is_full_screen = !is_full_screen;
			canvas_resize();
		}
		function canvas_resize() {
			if (!is_full_screen) return;
			$('#map_canvas').css({
				left: $(window).scrollLeft(),
				top: $(window).scrollTop(),
				width: $(window).width(),
				height: $(window).height() });
			google.maps.event.trigger(map, "resize");
		}
		$(window).scroll(canvas_resize);
		$(window).resize(canvas_resize);
		
		var geocoder;
		function doGeoCode(addr) {
			if (!geocoder)
				geocoder = new google.maps.Geocoder();
			geocoder.geocode(
				{ 'address': addr },
				function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var geocoder_result = results[0].geometry.location;

						$.ajax({
							url: "/congress/members/ajax/district_lookup",
							data: {
								lat: results[0].geometry.location.lat(),
								lng: results[0].geometry.location.lng()
							},
							dataType: "json",
							success: function(data) {
								if (!data.state) {
									alert("The address does not appear to be within a United States Congressional District.");
								} else {
									if (data.district)
										window.location = "/congress/members/" + data.state + "/" + data.district + "?marker=" + geocoder_result.lng() + ':' + geocoder_result.lat();
									else
										window.location = "/congress/members/" + data.state + "?marker=" + geocoder_result.lng() + ':' + geocoder_result.lat();
								}
							}
						});
					} else {
					   alert("Sorry, Google couldn't find that address: " + status);
				    }
				});
		}
		
		function doform() {
			if (!$('#name').hasClass('default') && $('#name').val()) {
				window.location = "/congress/members/current?name=" + encodeURI($('#name').val());
			} else if (!$('#address').hasClass('default') && $('#address').val()) {
				doGeoCode($('#address').val());
			} else if (!$('#zip').hasClass('default') && $('#zip').val()) {
				doGeoCode($('#zip').val());
			}
			return false;
		}
	</script>
{% endblock %}
{% block style %}
	#map_canvas { height: 100% }
{% endblock %}
{% block ad_block %}
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="/congress">Congress</a></li>
	{% if not state %}
	<li>Members of Congress</li>
	{% else %}
	<li><a href="/congress/members">Members of Congress</a></li>
		{% if not district %}
		<li>{{statename}}</li>
		{% else %}
		<li><a href="/congress/members/{{state}}">{{statename}}</a></li>
		<li>{{district|ordinal}}</li>
		{% endif %}
	{% endif %}
</ul>
{% endblock %}

{% block summary %}
	<h2>Find a Senator <span>or</span> Representative</h2>
	<p style="margin-top: 1em">Use this page to find current or past Members of Congress.</p>
	<p style="margin-bottom: 0"><strong>Looking for redistricting maps?</strong> Your current Members of Congress are based on the district lines at the time you last voted. Our maps won't be updated to reflect redistricting until the new Members of Congress elected this year take office in January 2013.</p>
{% endblock %}

{% block body_class %}member{% endblock %}

{% block body %}
<div id="search-members" class="section">
	<div class="holder">
		<div class="frame">
			<div class="advanced-search">
				{% if not state %}
					<form action="#" onsubmit="return doform();">
						<fieldset>
							<h3>Find a Senator <span>or</span> Representative</h3>
							
							<p>Enter the last name of a senator or representative, choose a state, or enter a ZIP code or street address:</p>
							
							<div class="row">
								<label for="name">By Last Name</label>
								<input id="name" class="text" type="text" value=""/>
								<script>$('#name').input_default('type the last name of a Member of Congress');
								</script>
							</div>
							
							<ul>
								<li>
									<label for="state">By State</label>
									<select id="state" onchange="if (this.value != '') window.location='/congress/members/' + this.value">
										<option value="">(Select State)</option>
										{% for abbr, name in statelist %}
										<option value="{{abbr}}" {% if abbr == state %}selected{% endif %}>{{abbr}} - {{name}}</option>
										{% endfor %}								
									</select>
								</li>
								<li>
									<label for="zip">By Zip Code</label>
									<input id="zip" class="text" type="text" value="" />
									<script>$('#zip').input_default('ZIP or ZIP+4');</script>
								</li>
							</ul>
							
							<div class="row">
								<label for="address">By Address</label>
								<input id="address" class="text" type="text" value="" />
								<script>$('#address').input_default('350 5th Ave, New York, NY 10001');</script>
							</div>
							
							<input class="btn-search" type="submit" value="Search" />
							
						</fieldset>
					</form>
					
					<ul>
						<li><a href="/congress/members/current">List all Members of Congress</a></li>
						<li><a href="/congress/members/all">Search Former Members of Congress</a></li>
					</ul>
					
					{% comment %}
					<h5>Statistics</h5>
					<p>Take a look at <a href="/congress/members/stats">statistics</a> about missed votes, bill sponsorship, ideology, and leadership.</p>
					{% endcomment %}
					
				{% else %}
					<h2>{{statename}}</h2>
					<p>(<a href="/congress/members">Back to U.S. Map</a>)</small></p>
					
					<h3>Senators</h3>
					{% if stateapp == "T" %}
						<p>{{statename}} is a U.S. territory and so does not have any senators.</p>
					{% else %}
						<ul>
							{% for rep in senators %}
								{% if rep %}
									<li><a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a></li>
								{% else %}
									<li><em>Vacant</em></li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
					
					{% if not district %}
					<h3>Representative{{reps|pluralize}}</h3>
					{% else %}
					<h3>{{district|ordinal}} Congressional District</h3>
					{% endif %}
					<ul style="height: 300px; width: 250px; overflow: auto;">
						{% for dist, rep in reps %}
							<li style="margin-bottom: .5em">
								{% if not district %}
								{% if reps|length > 1 or dist > 0 %}
								<div><a href="/congress/members/{{state}}/{{dist}}"><strong>{{dist|ordinal}} District</strong></a> <span style="color: #777">(map)</span></div>
								{% endif %}
								{% endif %}
								<div>
								{% if rep %}
									<a href="{{rep.get_absolute_url}}">{{rep.name_no_district}}</a>
								{% else %}
									<em>Vacant</em>
								{% endif %}
								</div>
							</li>
						{% endfor %}
					</ul>
					{% if district %}
					<p>(<a href="/congress/members/{{state}}">Back to all of {{statename}}</a>)</p>
					{% endif %}
				{% endif %}
			
			</div><!-- /advanced-search -->

		
			<div style="display: none">
				<div id="fullscreen" style="padding: 10px">
					<img src="{{ MEDIA_URL }}icons/stock_fullscreen.png" title="Toggle Full Screen" onclick="doFullScreen();" style="cursor: pointer"/>
				</div>
			</div>
			
			<div id="map_container">
				<div id="map_canvas">
				</div>
			</div>
			
			<div style="clear: both; ">
				<div id="embed_teaser" style="text-align: center">
					<a href="#" onclick="$('#embed_teaser').hide(); $('#embed_details').fadeIn(); return false;">Embed this map...</a>
				</div>
				<div id="embed_details" style="display: none">
					<div style="text-align: center">Embed this map on your own website using this HTML code:</div>
				
					<pre id="embedpre" wrap="hard" style="overflow: auto; margin: 15px; font-size: 85%">&lt;iframe width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="http://www.govtrack.us/congress/members/embed/mapframe?{% if state %}state={{state|lower}}{% endif %}{% if district %}&amp;district={{district}}{% endif %}&amp;bounds=<span id="embedbounds"></span>"&gt;&lt;/iframe&gt;</pre>
			  
					<div style="text-align: center">Advanced web designers can <a href="/congress/members/embed/mapframe?demo=1">view the source</a> and adapt it to your website&rsquo;s needs.</div>
				</div>
			</div>
		</div><!-- /frame -->
	</div><!-- /holder -->
</div><!-- /search-members -->

{% include "ad_footer_leaderboard.html" %}

{% endblock %}

