{% extends "master_b.html" %}
{% load humanize %}
{% block title %}Members of the United States Congress - GovTrack.us{% endblock %}
{% block meta_description %}The United States Congress is made up of 100 senators, 435 representatives, and 6 delegates to the House of Representatives.{% endblock %}
{% block meta_keywords %}United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block body_scripts %}
	<script type="text/javascript">
		function doform() {
			window.location = "/congress/members/map#address=" + encodeURIComponent($('#address').val());
			return false;
		}
	</script>
{% endblock %}

{% block summary %}
	<h1>Members of Congress</h1>

	<p>Use GovTrack to find out who represents you in Congress and what bills they have sponsored.</p>
{% endblock %}
	
{% block body %}
	<form action="#" onsubmit="return doform();" style="margin-bottom: 1em">
		<p style="margin-bottom: .25em">Enter your address below. We will find your congressional district.</p>
		<input id="address" class="form-control" type="text" value="" style="width: 75%; height: 26px; float: left;" placeholder="415 N. Main St., Hannibal, Missouri" />
		<input class="btn-search-small2" type="submit" value="Search"  />
		<div style="clear: both"> </div>
	</form>

	<div class="row" style="margin-top: 1.5em">
		<div class="col-xs-6">
			<p style="margin-bottom: .5em">Or select a state to list all senators and representatives from that state:</p>
			<select id="state" onchange="if (this.value != '') window.location='/congress/members/' + this.value" class="form-control">
				<option value="">(Select State)</option>
				{% for abbr, name in statelist %}
				<option value="{{abbr}}" {% if abbr == state %}selected{% endif %}>{{abbr}} - {{name}}</option>
				{% endfor %}								
			</select>
		</div>
		<div class="col-xs-6" style="padding-top: 1em; font-size: 90%">
			<p><a href="/congress/members/map">View a Map of Congressional Districts</a></p>
			<p><a href="/congress/members/current">List all Members of Congress</a></p>
			<p><a href="/congress/members/all">Search Former Members of Congress</a></p>
		</div>
	</div>

	<img src="/static/images/capitol-diagram.jpg" class="img-responsive" style="margin-bottom: 20px">

<p>The United States Congress has an upper chamber called the Senate and a lower chamber called the House of Representatives (or &ldquo;House&rdquo; for short) which share the responsibilities of the legislative process to create federal statutory law.</p>
	
<div class="row">
<div class="col-sm-6">
	<h2>The Senate</h2>
	
	<p>The 50 states elect 2 senators each for staggered 6-year terms. A senator represents between 1 and 37 million people, depending on their state&rsquo;s population.</p>
	
	<p>The day-to-day activities of the Senate are controlled largely by the political party holding the most seats, called the &ldquo;majority party.&ldquo;   Here is a count of senators by party:</p>
	
	<table style="width: 15em; margin-bottom: 1em;">
	{% for p in senate_by_party %}
	<tr><th>{{p.party}}s</th> <td>{{p.count}}</td></tr>
	{% endfor %}
	{% if senate_vacancies > 0 %}<tr><th>Vacancies</th> <td>{{senate_vacancies}}</td></tr>{% endif %}
	<tr><th>Total</th> <td>100</td></tr>
	</table>
</div>
<div class="col-sm-6">	
	<h2>The House of Representatives</h2>
	
	<p>The states are also divided into 435 congressional districts with a population of about 710,000 each. Each district elects a representative to the House of Representatives for a 2-year term.</p>

	<p>As in the Senate, the day-to-day activities of the House are controlled by the &ldquo;majority party.&ldquo; Here is a count of representatives by party:</p>
	
	<table style="width: 15em">
	{% for p in house_by_party %}
	<tr><th>{{p.party}}s</th> <td>{{p.count}}</td></tr>
	{% endfor %}
	{% if house_vacancies > 0 %}<tr><th>Vacancies</th> <td>{{house_vacancies}}</td></tr>{% endif %}
	<tr><th>Total</th> <td>435</td></tr>
	</table>
	
	<p style="margin-top: .5em">The District of Columbia, Puerto Rico, and the U.S.&rsquo;s four other island territories &mdash; American Samoa, Guam, the Northern Mariana Islands, and the U.S. Virgin Islands &mdash; each send a non-voting delegate to the House. Puerto Rico&rsquo;s delegate is called the Resident Commissioner.</p>
</div>
</div>

<hr>

<h2>Report Cards</h2>

<p>Each year we compile all of our statistics into a report card for each Member of Congress.</p>

<p><a href="/congress/members/report-cards/2016">2016 Report Cards</a> (for the 114<sup>th</sup> Congress (2015-2016); posted Jan. 7, 2017)</p>
<p><a href="/congress/members/report-cards/2015">2015 Report Cards</a> (for the 2015 legislative year; posted Jan. 8, 2016)</p>
<p><a href="/congress/members/report-cards/2014">2014 Report Cards</a> (for the 113<sup>th</sup> Congress (2013-2014); posted Jan. 16, 2015)</p>
<p><a href="/congress/members/report-cards/2013">2013 Report Cards</a> (for the 2013 legislative year; posted Jan. 8, 2014)</p>

{% endblock %}


