{% extends "master_b.html" %}
{% load humanize govtrack_utils static %}
{% block title %}Members of the United States Congress - GovTrack.us{% endblock %}
{% block meta_description %}The United States Congress is made up of 100 senators, 435 representatives, and 6 delegates to the House of Representatives.{% endblock %}
{% block meta_keywords %}United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block body_scripts %}
<script src="{{ STATIC_URL }}vendor/highcharts.js"></script>

<script type="text/javascript">
function doform() {
	window.location = "/congress/members/map#address=" + encodeURIComponent($('#address').val());
	return false;
}


function make_longevity_chart(elemid, data, xaxis) {
	Highcharts.chart(elemid, {
	    chart: {
	        type: 'bar',
	        animation: false
	    },
	    title: null,
	    xAxis: {
	        categories: data.buckets,
	        title: {
	        	text: 'Years Served in Congress'
	        }
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'Number of ' + xaxis
	        }
	    },
	    legend: {
	        reversed: true
	    },
		credits: { enabled: false },
	    plotOptions: {
	        series: {
	            stacking: 'normal',
	    		groupPadding: .05
	        }
	    },
	    series: data.series
	});
}

function make_agesex_chart(elemid, data, xaxis) {
	Highcharts.chart(elemid, {
	    chart: {
	        type: 'bar',
	        animation: false,
	        height: "200px"
	    },
	    title: null,
	    xAxis: {
	        categories: data.buckets,
	        title: {
	        	text: 'Age'
	        }
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'Number of ' + xaxis
	        }
	    },
	    legend: {
	        reversed: true
	    },
		credits: { enabled: false },
	    plotOptions: {
	        series: {
	            stacking: 'normal',
	    		groupPadding: .05
	        }
	    },
	    series: data.series
	});
}

$(function() {
	make_longevity_chart("senate_longevity_chart", {{longevity.1|json}}, 'Senators');
	make_longevity_chart("house_longevity_chart", {{longevity.2|json}}, 'Representatives');
	{% if agesex.1 %}make_agesex_chart("senate_agesex_chart", {{agesex.1|json}}, 'Senators');{% endif %}
	{% if agesex.2 %}make_agesex_chart("house_agesex_chart", {{agesex.2|json}}, 'Representatives');{% endif %}
});
</script>
{% endblock %}

{% block head %}
<style>
h2 { font-weight: bold; }
label { font-weight: normal; }
</style>
{% endblock %}

{% block summary %}
	<h1>Members of Congress</h1>
	<p>Use GovTrack to find out who represents you in Congress, what bills they have sponsored, and how they voted.</p>
{% endblock %}

{% block body %}
	<div class="row">
	<div class="col-sm-6">

	<h2>Find Your Representative and Senators</h2>

	<form action="#" onsubmit="return doform();" style="margin-bottom: 1em">
		<a href="/congress/members/map#my_location=1" style="float: right"><i class="fa fa-map-marker" aria-hidden="true"></i> I&rsquo;m at Home</a>
		<label for="address" style="display: block; margin-bottom: .25em;">Enter your address:</label>
		<table style="width: 100%;"><tr>
		<td><input id="address" class="form-control" type="text" value="" placeholder="415 N. Main St., Hannibal, Missouri" /></td>
		<td><button type="submit" class="btn btn-default" style="margin-left: .5em;"><span class="glyphicon glyphicon-search"></span> <span class="sr-only">Search</span></button></td>
		</tr></table>
		<div style="margin: 1em 0">
			<a href="/congress/members/map"><img src="{% static "images/districtmaps.png" %}" class="img-responsive" style="border: 1px solid #999"/></a>
			<div><a href="/congress/members/map">View a Map of All Congressional Districts</a></div>
		</div>
	</form>

	<div style="padding-right: 1em">
			<label for="state" style="margin: .5em 0;">Or select a state:</label>
			<select id="state" onchange="if (this.value != '') window.location='/congress/members/' + this.value" class="form-control">
				<option value="">(Select State)</option>
				{% for abbr, name in statelist %}
				<option value="{{abbr}}" {% if abbr == state %}selected{% endif %}>{{abbr}} - {{name}}</option>
				{% endfor %}								
			</select>
	</div>

	<h2>All Representatives and Senators in Congress</h2>

	<p>
		<a href="/congress/members/current">List all Members of Congress</a>
		&middot;
		<a href="/congress/members/all">Search Former Members of Congress</a>
	</p>

<hr>

<h2>Report Cards</h2>

<p>Each year or two we compile all of our statistics into a report card for each Member of Congress.</p>

<p><a href="/congress/members/report-cards/2022">2022 Report Cards</a> for the 117<sup>th</sup> Congress (2021-2022) <!-- (posted Feb. 12, 2023) --></p>
<p><a href="/congress/members/report-cards/2020">2020 Report Cards</a> for the 116<sup>th</sup> Congress (2019-2020) <!-- (posted Jan. 30, 2021) --></p>
<p><a href="/congress/members/report-cards/2019">2019 Report Cards</a> for the 2019 legislative year <!-- (posted Jan. 18, 2020) --></p>
<p><a href="/congress/members/report-cards/2018">2018 Report Cards</a> for the 115<sup>th</sup> Congress (2017-2018) <!-- (posted Jan. 20, 2019) --></p>
<p><a href="/congress/members/report-cards/2017">2017 Report Cards</a> for the 2017 legislative year <!-- (posted Jan. 6, 2018) --></p>
<p><a href="/congress/members/report-cards/2016">2016 Report Cards</a> for the 114<sup>th</sup> Congress (2015-2016) <!-- (posted Jan. 7, 2017) --></p>
<p><a href="/congress/members/report-cards/2015">2015 Report Cards</a> for the 2015 legislative year <!-- (posted Jan. 8, 2016) --></p>
<p><a href="/congress/members/report-cards/2014">2014 Report Cards</a> for the 113<sup>th</sup> Congress (2013-2014) <!-- (posted Jan. 16, 2015) --></p>
<p><a href="/congress/members/report-cards/2013">2013 Report Cards</a> for the 2013 legislative year <!-- (posted Jan. 8, 2014) --></p>

	</div>

	<div class="col-sm-6">

	<p>The United States Congress has two chambers, one called the Senate and the other called the House of Representatives (or &ldquo;House&rdquo; for short) which share the responsibilities of the legislative process to create federal statutory law. They occupy opposite ends of the Capitol Building.</p>

	<h2>About the Senate</h2>
	
	<p>The United States&rsquo;s 50 states each elect two senators for staggered six-year terms. A senator represents between {{min_state_pop}} and {{max_state_pop}} million people, depending on their state&rsquo;s population.</p>
	
	<p>The day-to-day activities of the Senate are controlled largely by the political party holding the most seats, called the &ldquo;majority party.&rdquo;   Here is a count of senators by party:</p>
	
	<h3>Senators by Party</h3>
	<table style="width: 16em; margin-bottom: 1em;">
	{% for p in senate_by_party %}
	<tr valign="top">
		<td style="padding-right: 5px">
			<span class="party_{{p.party.0}}" style="display: inline-block; line-height: 100%; padding: 1px; margin-bottom: 1px; width: 1em; text-align: center;">{{p.party.0}}</span>
		</td>
		<td style="padding-bottom: 4px">
			<b>{{p.party}}{{p.count|pluralize}}</b>
			{% if p.caucus_parties %}
				<div style="font-size: 80%; line-height: 115%;">
					Includes
					{% for party, count in p.caucus_parties.items %}
						{{count}} {{party}}{{count|pluralize}}
					{% endfor %}
					who caucus with the {{p.party}}s
				</div>
			{% endif %}
		</td>
		<td>
			{{p.count}}
		</td>
	</tr>
	{% endfor %}
	{% if senate_vacancies > 0 %}<tr><td/><td style="padding-bottom: 4px;">Vacancies</td> <td>{{senate_vacancies}}</td></tr>{% endif %}
	<tr style="border-top: 1px solid #555;"><td/><td style="padding-top: 4px;">Total Seats</td> <td style="padding-top: 4px;">100</td></tr>
	</table>

	{% if senate_by_party.0.count == 50 and senate_by_party.0.vp %}
		<p>{{senate_by_party.0.party}}s hold the majority in the Senate because the Vice President, a {{senate_by_party.0.party}}, joins them to cast tie-breaking votes when necessary.</p>
	{% endif %}


        {% if majority_party_apportioned_population_proportion %}
        <p>Although {{senate_by_party.0.party}}s hold the most seats, they represent just {{majority_party_apportioned_population_proportion}}% of the country&rsquo;s population because the Senate gives two seats to each state regardless of each state&rsquo;s population.</p>
        {% endif %}

	<p>The District of Columbia, Puerto Rico, and the U.S.’s four other island territories — American Samoa, Guam, the Northern Mariana Islands, and the U.S. Virgin Islands — are not represented in the Senate.</p>

	<h3>Tenure of Senators</h3>
	<p>The table below shows a breakdown of how many years the senators have been serving in office.</p>
	<div id="senate_longevity_chart"></div>

	{% if agesex.1 %}
	<h3>Age and Sex of Senators</h3>
	<div id="senate_agesex_chart"></div>
	<p>{{agesex.1.summary.percent_older_men}}% of senators are men over the age of {{agesex.1.summary.age}}, while only {{agesex.1.summary.percent_younger_women}}% of senators are women {{agesex.1.summary.age}} years old or younger.</p>
	{% endif %}

	<h2>About the House of Representatives</h2>
	
	<p>The United States is also divided into 435 congressional districts with a population of about {{district_median_population|intcomma}} each. Each district elects a representative to the House of Representatives for a two-year term.</p>

	<p>As in the Senate, the day-to-day activities of the House are controlled by the &ldquo;majority party.&rdquo; Here is a count of representatives by party:</p>

	<h3>Representatives by Party</h3>
	
	<table style="width: 15em">
	{% for p in house_by_party %}
	<tr valign="top">
		<td>
			<span class="party_{{p.party.0}}" style="display: inline-block; line-height: 100%; padding: 1px; margin-bottom: 1px; width: 1em; text-align: center;">{{p.party.0}}</span>
		</td>
		<td style="padding-bottom: 4px">
			<b>{{p.party}}{{p.count|pluralize}}</b>
			{% if p.caucus_parties %}
				<div style="font-size: 80%; line-height: 115%;">
					Includes
					{% for party, count in p.caucus_parties.items %}
						{{count}} {{party}}{{count|pluralize}}
					{% endfor %}
					who caucus with the {{p.party}}s
				</div>
			{% endif %}
		</td>
		<td>
			{{p.count}}
		</td>
	</tr>
	{% endfor %}
	{% if house_vacancies > 0 %}<tr><td/><td style="padding-bottom: 4px;">Vacancies</td> <td>{{house_vacancies}}</td></tr>{% endif %}
	<tr style="border-top: 1px solid #555;"><td/><td style="padding-top: 4px;">Total Seats</td> <td style="padding-top: 4px;">435</td></tr>
	</table>
	
	<p style="margin-top: .5em">The 435 congressional districts do not include the District of Columbia, Puerto Rico, and the U.S.&rsquo;s four other island territories &mdash; American Samoa, Guam, the Northern Mariana Islands, and the U.S. Virgin Islands &mdash; which each send a non-voting delegate to the House. Puerto Rico&rsquo;s delegate is called the Resident Commissioner.</p>

	<h3>Tenure of Representatives</h3>
	<p>The table below shows a breakdown of how many years the representatives have been serving in office.</p>
	<div id="house_longevity_chart"></div>

	{% if agesex.2 %}
	<h3>Age and Sex of Representatives</h3>
	<div id="house_agesex_chart"></div>
	<p>{{agesex.2.summary.percent_older_men}}% of representatives are men over the age of {{agesex.2.summary.age}}, while only {{agesex.2.summary.percent_younger_women}}% of representatives are women {{agesex.2.summary.age}} years old or younger.</p>
	{% endif %}
</div>
</div>

	<img src="/static/images/capitol-diagram.jpg" class="img-responsive" style="margin-bottom: 30px" alt="Photo of U.S. Capitol Building">



{% endblock %}


