{% extends "master_a.html" %}
{% load humanize persontags cache %}

{% block title %}{{person}} - GovTrack.us{% endblock %}

{% block meta_description %}
        {% if not active_role %}Former{% endif %}
        {{ role.get_role_type_display }}}{% if role.state %}, {{ role.get_state_display }}{% endif %}
{% endblock %}

{% block head %}
<style>
#missedvotestable { margin-top: 1.5em; margin-left: 3em; }
#missedvotestable th { padding-right: 1em; }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts.js" ></script>
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/members">Members of Congress</a></li>
<li>{{person.name_no_details}}</li>
</ul>
{% endblock %}

{% block body_class %}member{% endblock %}

{% block summary %}
{% cache 600 member_head person.id %}
<div id="track_panel_base" class="container">
	<h1>{{person.name_and_title}}</h1>
	
	{% if role and not active_role %}
	<p>Former {{ role.get_role_type_display }}{% if role.state %} from {{ role.get_state_display }}{% if role.district == 0 %}'s At-Large District {% endif %}{% if role.district > 0 %}'s {{role.district|ordinal}} District {% endif %}{% endif %}</p>
	{% endif %}
	
	<div class="info">
		<dl>
			{% if role and active_role %}
			{% if role.state and not role.district %}
			<dt>State:</dt>
			<dd>{{role.state_name}}</dd>
			{% endif %}

			{% if role.district > 0 %}
			<dt>District:</dt>
			<dd>{{role.state_name}} - <a href="/congress/members/{{ role.state }}/{{role.district}}">District {{role.district}}</a></dd>
			{% endif %}
			
			<dt>Party:</dt>
			<dd>{{ role.party }}</dd>
			{% endif %}
		</dl>
	</div>
	
	<h2>Elected Positions</h2>
	<table>
		<tr>
			<th>Dates</th>
			<th>Title</th>
			<th>Representing</th>
		</tr>
        {% for role in person.roles_condensed %}
        <tr>
            <td>{{ role.startdate|date:"Y" }}-{{ role.enddate|date:"Y" }}</td>
            <td>{{ role.get_role_type_display }}</td>
            <td>{{ role.get_state_display }}{% if role.district == 0 %}'s At-Large District {% endif %}{% if role.district > 0 %}'s {{role.district|ordinal}} District {% endif %}</td>
        </tr>
        {% endfor %}
	</table>
</div><!-- /container -->
{% endcache %}

{% include "events/subscribe_inline.html" %}

{% cache 600 member_aside person.id %}
<div class="aside">
	{% if photo %}
		<div class="photo">
			<img src="{{ photo }}" alt="Photo" width="100" height="122"/> <!-- 90x112 -->
		</div>
	{% endif %}
	
	{% if active_role %}
	<a href="#" class="track-btn" onclick="return show_track_panel();">Track Member</a>
	
	{% if role.website %}
	<div class="article">
		<strong>Official Website:</strong>
		<a href="{{role.website}}">{{role.website}}</a>
	</div>
	{% endif %}
	{% endif %}
</div><!-- /aside -->
{% endcache %}
{% endblock %}

{% block body %}
{% cache 600 member_details person.id %}
<div id="member-details" class="section">

	{% if analysis_data.sponsorship %}
	<section id="sponsorship_analysis">
		<h3>Sponsorship Analysis</h3>
        
		<p>{{ person.lastname }} is a {{ analysis_data.sponsorship.description }} according to GovTrack's own analysis of bill sponsorship. Use this chart to compare {{ person.lastname }} to other members of the {{analysis_data.sponsorship.chamber}} on leadership and ideology.</p>

		<div id="sponsorship_analysis_chart"> </div>
		<script>
		var party_colors = {
			'Democrat': 'rgba(20, 20, 255, .75)',
			'Republican': 'rgba(255, 20, 20, .75)',
			'Independent': 'rgba(100, 100, 100, .85)'
		}
		$(document).ready(function() {
			var chart = new Highcharts.Chart({
				chart: {
					renderTo: 'sponsorship_analysis_chart',
					type: 'scatter',
					zoomType: 'xy',
					height: 350,
					marginTop: 5
				},
				title: {
					text: ''
				},
				credits: { enabled: false },
				xAxis: {
					title: { text: 'Ideology Score' },
					labels: { enabled: false },
					gridLineWidth: 1
				},
				yAxis: {
					min: 0,
					title: { text: 'Leadership Score' },
					labels: { enabled: false }
				},
				tooltip: {
					formatter: function() {
							return this.point.name;
					}
				},
				legend: {
					layout: 'horizontal',
					align: 'center',
					verticalAlign: 'top'
				},
				plotOptions: {
					scatter: {
						marker: {
							states: {
								hover: {
									enabled: true,
									lineColor: 'rgb(100,100,100)'
								}
							}
						},
						states: {
							hover: {
								marker: {
									enabled: false
								}
							}
						}
					}
				},
				series: [{
					marker: { symbol: "triangle", radius: 7 },
					dataLabels: { enabled: true, formatter: function() { return this.point.name; } },
					name: '{{person.lastname|escapejs}}',
					color: 'rgba(223, 83, 223, 1)',
					data: [{x: {{analysis_data.sponsorship.ideology}}, y: 	{{analysis_data.sponsorship.leadership}}, name: "{{person.lastname|escapejs}}"}]
		
				}
				{% regroup analysis_data.sponsorship.all by party as data_party %}
				{% for party in data_party %}
				, {
					marker: { symbol: "circle", radius: 3 },
					name: '{{party.grouper|escapejs}}s',
					color: party_colors['{{party.grouper|escapejs}}'],
					data: [
						{% for item in party.list %}
							{
								x: {{item.ideology}},
								y: {{item.leadership}},
								name: "{{item.name|escapejs}}{% if item.id in analysis_data.influence.influencers %} - Influences {{person.lastname|escapejs}}{% endif %}{% if item.id in analysis_data.influence.influencees %} - Influenced by {{person.lastname|escapejs}}{% endif %}"
								{% if item.id in analysis_data.influence.influencers %}, marker: { radius: 4, fillColor: "white", lineColor: party_colors['{{party.grouper|escapejs}}'], lineWidth: 2 }
								{% else %}
								{% if item.id in analysis_data.influence.influencees %}, marker: { radius: 4, fillColor: "#CCC", lineColor: party_colors['{{party.grouper|escapejs}}'], lineWidth: 2 }{% endif %}
								{% endif %}
							}
							{% if not forloop.last %},{% endif %}
						{% endfor %}
					]
				}
				{% endfor %}
				]
			});
		});
		</script>
		<div style="margin-left: 25px; line-height: 110%; font-size: 13px;">
		{% if analysis_data.influence.influencers|length > 0 %}
			<p>Influenced by: {% for p in analysis_data.influence.influencers.values %}<a href="{{p.get_absolute_url}}">{{p.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		{% endif %}
		{% if analysis_data.influence.influencees|length > 0 %}
			<p>Influences: {% for p in analysis_data.influence.influencees.values %}<a href="{{p.get_absolute_url}}">{{p.name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		{% endif %}
		<p><small>This chart is based on principle components analysis for ideology, PageRank for leadership, and network inference for influence. See <a href="http://www.govtrack.us/blog/2010/12/26/repstats/">analysis details</a>.</small></p>
		</div>
	</section><!-- /analysis -->
    {% endif %}


	{% if committeeassignments %}
	<section id="membership">
		<h3>Committee Membership</h3>
		<p>{{person.name_no_details}} sits on the following committees:</p>
		<ul>
			{% for c in committeeassignments %}
			<li>
				{% if c.role_name != 'Member' %}{{c.role_name}}, {% endif %}
				<a href="{{c.committee.get_absolute_url}}">{{c.committee}}</a>
				{% if c.subroles %}
					<ul>
					{% for s in c.subroles %}
					<li>{{s.role_name}}, Subcommittee on <a href="{{s.committee.get_absolute_url}}">{{s.committee}}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</section><!-- /membership -->
	
{% endif %}
	
	
{% if recent_bills %}
	<section id="sponsorship">
		<h3>Bill Sponsorship <span>&amp;</span> Cosponsorship</h3>
		<p>Some of {{person.lastname}}’s most recently sponsored bills include...</p>
		<ul>
			{% for bill in recent_bills %}
			<li><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:15}}</a></li>
			{% endfor %}
		</ul>
		<p><a href="/congress/bills/browse?sponsor={{person.id}}">View All &raquo;</a> (including bills from previous years)</p>
	</section><!-- /sponsorship -->
{% endif %}

	{% if analysis_data.missedvotes %}
	<section id="voting-record">
		<h3>Voting Record</h3>
		<p>From {{analysis_data.missedvotes.firstdate|date:"M Y"}} to {{analysis_data.missedvotes.lastdate|date:"M Y"}}, {{person.lastname}} missed {{analysis_data.missedvotes.missed}} of {{analysis_data.missedvotes.total}} recorded or roll call votes, which is {{analysis_data.missedvotes.percent}}%.
		{% if active_role %} {% comment %}Median only makes sense for people currently serving. {% endcomment %}
		{% if analysis_data.missedvotes.percent < 2.4 %}This is better than the median of 2.4%.{% else %}This is worse than the median of 2.4%.{% endif %}
		{% endif %}
		The chart below reports missed votes by calendar quarter (every three months).</p>
		<div id="voting_record_chart"> </div>
		<script>
		$(document).ready(function() {
			var chart = new Highcharts.Chart({
				chart: {
					renderTo: 'voting_record_chart',
					type: 'spline',
					height: 225,
					marginTop: 5,
				},
				title: { text: 'Missed Votes (%)' },
				legend: { enabled: false },
				credits: { enabled: false },
				xAxis: {
					labels: { rotation: -90, align: "right" {% if analysis_data.missedvotes.data|length > 20 and analysis_data.missedvotes.data|length < 40 %}, step: 2{% endif %} {% if analysis_data.missedvotes.data|length >= 40 %}, step: 4{% endif %} },
					categories: [{% for time, value in analysis_data.missedvotes.data %}"{{time|escapejs}}"{% if not forloop.last %}, {% endif %}{% endfor %} ]
				},
				yAxis: {
					title: {
						text: 'Missed Votes (%)'
					},
					min: 0,
					minorGridLineWidth: 0,
					gridLineWidth: 0,
					alternateGridColor: null,
					plotBands: [{
						from: 0,
						to: 1.22,
						color: 'rgba(68, 170, 213, 0.1)',
						label: {
							text: '25th Percentile',
							style: { color: '#606060' }
						}
					}, {
						from: 1.22,
						to: 2.36,
						color: 'rgba(68, 170, 213, 0.3)',
						label: {
							text: 'Median',
							style: { color: '#606060' }
						}
					}, {
						from: 2.36,
						to: 4.12,
						color: 'rgba(68, 170, 213, 0.1)',
						label: {
							text: '75th Percentile',
							style: { color: '#606060' }
						}
					}, {
						from: 4.12,
						to: 5.98,
						color: 'rgba(68, 170, 213, 0.3)',
						label: {
							text: '90th Percentile',
							style: { color: '#606060' }
						}
					}]
				},
				tooltip: {
					formatter: function() {
							return this.x +': '+ this.y +'% votes missed';
					}
				},
				plotOptions: {
					spline: {
						lineWidth: 2,
						marker: {
							radius: 3
						},
						states: {
							hover: {
								lineWidth: 2
							}
						}
					}
				},
				series: [{
					name: '{{person.lastname|escapejs }} - Missed Votes %',
					data: [{% for time, value in analysis_data.missedvotes.data %}{{value}}{% if not forloop.last %}, {% endif %}{% endfor %} ]
		
				}],
				navigation: {
					menuItemStyle: {
						fontSize: '10px'
					}
				}
			});
		});
		</script>
		
		<p style="text-align: center; margin-top: .5em; font-size: 90%;"><a href="#" onclick="$('#missedvotestable').slideDown(); $(this).hide(); return false;">Show the numbers...</a></p>
		<table id="missedvotestable" style="display: none">
			<tr> <th>Time Period</th> <th>Votes Elligible</th> <th>Missed Votes</th> <th>Percent</th> </tr>
			{% for time, pct, novote, numvote in analysis_data.missedvotes.data %}
				<tr><td>{{time}}</td> <td>{{numvote}}</td> <td>{{novote}}</td> <td>{{pct}}%</td></tr>
			{% endfor %}
		</table>

	</section><!-- /voting-record -->
	{% endif %}
	
	
	<section>
	<h3>Primary Sources</h3>
	<p>The information on this page is originally sourced from a variety of materials, including:</p>
	<ul>
	{% with person.vote_sources as person_vote_sources %}
		{% if committeeassignments or "congress" in person_vote_sources %}
			<li>The <a href="http://www.house.gov">House</a> and <a href="http://www.senate.gov">Senate</a> websites, for committee membership and voting records</li>
		{% endif %}
		{% if person.bioguideid %}
			<li><a href="http://bioguide.congress.gov/scripts/biodisplay.pl?index={{person.bioguideid}}">Congressional Biographical Directory</a> for elected positions</li>
		{% endif %}
		{% if "keithpoole" in person_vote_sources %}
			<li><a href="http://voteview.ucsd.edu/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a> by Howard L. Rosenthal and Keith  T.  Poole. </li>
			<li>Martis&rsquo;s &ldquo;The Historical Atlas of Political Parties in the United States Congress&rdquo;, via Keith Poole&rsquo;s roll call votes data set, for political party affiliation for Members of Congress from 1789 through about year 2000</li>
		{% endif %}
		{% if photo_credit %}
			<li><a href="{{photo_credit.0}}">{{photo_credit.1}}</a> for the photo</li>
		{% endif %}
		{% if recent_bills %}
			<li><a href="http://thomas.loc.gov">THOMAS</a>, for sponsored bills</li>
		{% endif %}
	{% endwith %}
	</ul>
	</section>
	
</div><!-- /member-details -->
{% endcache %}

{% cache 600 member_news person.id %}
<div class="tweets section">
	<div id="happening_now" style="display: none">
	<h3>Happening Now</h3>
	
	<article class="post" id="latest-tweet" style="display: none">
		<a href="" class="tweetlink photo">
			<img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" border="0" width="20" height="20"/>
		</a>
		<div class="article">
			<h4><a href="#" class="twittername">@XXX</a></h4>
			<p class="content">YYY</p>
			<em class="twitterdate">6 hours ago via web</em>
		</div>
	</article>
	</div>

    <script type="text/javascript">
        function renderLatestTweet(username) {
            var url = 'http://twitter.com/statuses/user_timeline/' + username + '.json';
            $.get(url, {count: 1}, function(data) {
                if (data.length) {
                    var tweet = data[0];
                    var created = new Date(tweet.created_at);
                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
                                  'Sep', 'Oct', 'Nov', 'Dec'];
                    var datestr = months[created.getMonth()] + '. ' + created.getDate() + ', ' + created.getFullYear();
                    var content = tweet.text;
                    $('#latest-tweet').show().find('.content').text(content).show();
					$('#latest-tweet').find('.twittername').text("@" + username).show();
					$('#latest-tweet').find('.twittername, .tweetlink').attr('href', 'http://www.twitter.com/' + username)
					$('#latest-tweet').find('.twitterdate').text(datestr).show();
					$('#happening_now').show();
                }
            }, 'jsonp');
        }
        {% if person.twitterid %}
            renderLatestTweet('{{ person.twitterid }}');
        {% endif %}
    </script>

	<h3>Recent Legislative Activity</h3>
	
	{% include "events/trackedeventspanel.html" %}
</div>
{% endcache %}

{% endblock %}

