{% extends "master_b.html" %}
{% load humanize persontags cache govtrack_utils %}

{% block title %}Report Cards for {{session}}{% if specific_stat %} - {{specific_stat_title}}{% endif %}{% if cohort %} - {{cohort_title}}{% endif %} - GovTrack.us{% endblock %}
{% block meta_description %}Year-end {{session}} legislative statistics.{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block head %}
<style>
	section.stat {
		margin: 0 0 3em 0;
	}

	section h2 { font-weight: bold; }

	section p.notes {
		font-size: 88%;
		color: #777;
		margin: 1em 0 1em 0;
	}

	section .icon {
		margin: 0 auto;
		width: 150px;
		height: 120px;
	}
	section.icon-congress-members .icon {
		background: url(/static/images/img-congress-members.png) center 5px no-repeat;
	}
	section.icon-committees .icon {
		background: url(/static/images/img-committees.png) center 15px no-repeat;
	}
	section.icon-bills-resolutions .icon {
		background: url(/static/images/img-bills-resolutions.png) center 5px no-repeat;
	}
	section.icon-voting-records .icon {
		background: url(/static/images/img-voting-records.png) center top no-repeat;
	}
	section.icon-open-government .icon {
		background: url(/static/images/img-open-government.png) center top no-repeat;
	}
	section.icon-handshake .icon{
		background: url(/static/images/img-handshake.png) center top no-repeat;
	}
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
	<li><a href="{% url "congress_home" %}">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	{% if cohort or specific_stat %}
		<li><a href="/congress/members/report-cards/{{session}}">{{session}} Report Cards</a></li>
		{% if cohort %}<li class="active">{{cohort_title}}</li>{% endif %}
		{% if specific_stat %}<li class="active">{{specific_stat_title}}</li>{% endif %}
	{% else %}
		<li class="active">{{session}} Report Cards</li>
	{% endif %}
</ol>
{% endblock %}

{% block body_class %}member{% endblock %}

{% block summary %}
<div>
	<h1>
			{{session}} Report Cards
			<div class="small">
				{% if cohort %}{{cohort_title}}{% endif %}
				{% if cohort and specific_stat %} / {% endif %}
				{% if specific_stat %}{{specific_stat_title}}{% endif %}
			</div>
	</h1>

	{% if not meta.is_full_congress_stats %}
		<p>These special year-end statistics dissect the legislative records of Members of Congress during the {{session}} legislative year ({{meta.startdate|date}}-{{meta.enddate|date}}), looking at Members who served at the end of that period. This page was last updated on {{publishdate|date}}.</p>
	{% else %}
		<p>These statistics dissect the legislative records of Members of Congress during the {{meta.congress|ordinalhtml}} Congress ({{meta.startdate|date}}-{{meta.enddate|date}}), as of {{publishdate|date}}.</p>
	{% endif %}

    <div class="panel panel-info" style="margin: 1em 0 1em 0;">
      <div class="panel-body">
        <p>A higher or lower number below doesn&rsquo;t necessarily make a legislator any better or worse, or more or less effective, than other Members 
        of Congress. We present these statistics for you to understand the quantitative aspects of legislating and make your own judgements based on what
        legislative activities you think are important.</p>
        <p style="margin-bottom: 0">Keep in mind that there are many important aspects of being a legislator besides what can be measured, such as 
        constituent services and performing oversight of the executive branch, which aren&rsquo;t reflected here.</p>
      </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row">

	<div class="col-sm-3">
		{% if cohorts %}
		<p>Look at report cards for...</p>
		<ul>
		{% for sort_order, cohort_key, cohort_name, cohort_count in cohorts %}
			{% if cohort_key != cohort %}
				<li><a href="/congress/members/report-cards/{{session}}/{{cohort_key}}" {% if not cohort %}{% if cohort_key == "house" or cohort_key == "senate" %}style="font-weight: bold"{% endif %}{% endif %}>{{cohort_name}}</a> ({{cohort_count}})</li>
			{% else %}
				<li><strong>{{cohort_name}} ({{cohort_count}})</strong></li>
			{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div class="col-sm-9">

		{% for stat in metrics %}
		<section id="{{stat.key}}" class="row stat {{stat.key}} icon-{{stat.icon}}">
			<div class="col-sm-3">
				<div class="icon">&nbsp;</div>
			</div>

			<div class="col-sm-9">
				<h2 style="margin-top: 0">{{stat.title}}</h2>

				{% if stat.key == "missed-votes" %}
					<p>The percentage of votes each legislator missed in {{period}}.</p>

				{% elif stat.key == "bills-introduced" %}
					<p>The number of bills each legislator introduced in {{period}}.</p>

				{% elif stat.key == "bills-enacted" %}
					<p>The number of bills each legislator introduced that became law in {{period}}. Keep in mind that it takes a law to repeal a law. Very few bills ever become law.</p>
				
				{% elif stat.key == "bills-enacted-ti" %}
					<p>The number of bills each legislator introduced that became law in {{period}}, including via incorporation into other bills. Keep in mind that it takes a law to repeal a law. Very few bills ever become law.</p>

				{% elif stat.key == "bills-reported" %}
					<p>The number of bills that each legislator introduced in {{period}} that got past committee and to the floor for consideration. Most bills and resolutions languish in committee without any action.</p>

				{% elif stat.key == "bills-with-committee-leaders" %}
					<p>The number of bills that each legislator introduced in {{period}} that had a cosponsor who was a chair or ranking member of a committee that the bill was referred to. Getting support from committee leaders on relevant committees is a crucial step in moving legislation forward.</p>

				{% elif stat.key == "bills-with-cosponsors-both-parties" %}
					<p>In this era of partisanship, it is encouraging to see Members of Congress working across the aisle. This is the percent of bills introduced by each legislator in {{period}} which had both a Democratic cosponsor and a Republican cosponsor.</p>
				
				{% elif stat.key == "bills-with-cosponsors-both-parties-count" %}
					<p>In this era of partisanship, it is encouraging to see Members of Congress working across the aisle. This is the number of bills introduced by each legislator in {{period}} which had both a Democratic cosponsor and a Republican cosponsor.</p>

				{% elif stat.key == "bills-with-cosponsor-other-party" %}
					<p>In this era of partisanship, it is encouraging to see Members of Congress working across the aisle. This is the number of bills introduced by each legislator in {{period}} which had a cosponsor from the other political party than the party the legislator caucused with.</p>

				{% elif stat.key == "bills-with-companion" %}
					<p>The House and Senate often work on the same issue simultaneously by introducing <emph>companion bills</emph> in each chamber. This is the number of bills introduced by each legislator in {{period}} that had a companion bill in the other chamber. Working with a sponsor in the other chamber makes a bill more likely to be passed by both the House and Senate.</p>

				{% elif stat.key == "cosponsors" %}
					<p>The total number of cosponsors joining the bills written by each legislator in {{period}}.</p>

				{% elif stat.key == "cosponsored" %}
					<p>The number of bills cosponsored by each legislator in {{period}}.</p>

				{% elif stat.key == "cosponsored-other-party" %}
					<p>In this era of partisanship, it is encouraging to see Members of Congress working across the aisle. This is the percent of bills cosponsored by each legislator which were introduced by a member of the other party.</p>

				{% elif stat.key == "ideology" %}
					<p>Our unique ideology analysis assigns a score to Members of Congress according to their legislative behavior by whether they sponsor and cosponsor overlapping sets of bills and resolutions with other Members of Congress. The score can be interpreted as a left&mdash;right scale measuring the dominant ideological difference or differences among Members of Congress, although of course it only takes into account a small aspect of reality.</p>

				{% elif stat.key == "leadership" %}
					<p>Our unique leadership analysis looks at who is cosponsoring whose bills. A higher score
					shows a greater ability to get cosponsors on bills.</p>

				{% elif stat.key == "committee-positions" %}
					<p>A score, giving five points for each full committee leadership position and one point for each subcommittee leadership position, for each legislator.</p>

				{% elif stat.key == "transparency-bills" %}
					<p>GovTrack looked at whether legislators supported any of the <a href="https://github.com/govtrack/govtrack.us-web/blob/master/analysis/transparency-bills.txt">government transparency, accountability, and effectiveness bills</a> that we identified in {{period}}. We gave a score to each legislator based on one point for cosponsoring and three points for sponsoring any of these bills.</p>
				{% endif %}

				<table>
				{% for context in stat.contexts %}
					<tr><td colspan="3"><h5 {% if not forloop.first %}style="margin-top: 1em"{% endif %}>{{context.title}}</h5></td></tr>

					{% for ascending_descending in context.people %}
						{% if forloop.first and ascending_descending|length > 0 %}
						<tr>
							<td colspan=2 style="color: #777">
								{{stat.superlatives.0}}
							</td>
						</tr>
						{% endif %}
						{% for rank, value, person in ascending_descending %}
							<tr>
								<td style="text-align: right; padding-right: 1em; color: #777">
									#{{rank}}
								</td>
								<td style="text-align: right; padding-right: 1em">
									{% if stat.key == "ideology" or stat.key == "leadership" %}
										{{value|floatformat:2}}
									{% elif stat.key == "missed-votes" or stat.key == "bills-with-cosponsors-both-parties" or stat.key == "cosponsored-other-party" %}
										{{value|floatformat:1}}%
									{% else %}
										{{value}}
									{% endif %}
								</td>
								<td><a href="{{person.get_absolute_url}}/report-card/{{session}}" style="text-decoration: none">{{person}}</a></td>
							</tr>
						{% endfor %}
						{% if forloop.first and not specific_stat %}
							<tr><td colspan="3" style="text-align: center; font-size: 85%;">
							...
							<a href="/congress/members/report-cards/{{session}}/{{context.key}}/{{stat.key}}">EXPAND</a>
							...
							</td></tr>
						{% endif %}
						{% if not forloop.first and ascending_descending|length > 0 %}
						<tr>
							<td colspan=2 style="color: #777">
								{{stat.superlatives.1}}
							</td>
						</tr>
						{% endif %}
					{% endfor %}
				
					{% if specific_stat %}
					<tr><td colspan="2"></td><td><small><a href="/congress/members/report-cards/{{session}}/{{context.key}}/{{stat.key}}.csv">Export to CSV...</a></small></td></tr>
					{% endif %}
				{% endfor %}
				</table>

				
				{% if stat.key == "missed-votes" %}
					<p class="notes">The Speaker of the House is not included in this statistic because according to <a href="http://www.rules.house.gov/singlepages.aspx?NewsID=160&rsbd=165">current House rules</a>, the Speaker of the House is not required to vote in &ldquo;ordinary legislative proceedings, and the delegates from the five island territories and the District of Columbia are also not included because they were not elligible to vote in any roll call votes.</p>
				{% elif stat.key == "bills-enacted" %}
					{% if session == '2013' %}
					<p class="notes">We only count enacted bills (and joint resolutions) that the legislator was the primary sponsor of. While a legislator may lay claim to authoring other bills that became law, such as through companion bills or incorporation into larger bills, these cases are difficult for us to track quantitatively.</p>
					{% else %}
					<p class="notes">A bill or joint resolution is considered enacted if it or an exactly identical bill to it is enacted as law. We only consider bills that the legislator was the primary sponsor of. While a legislator may lay claim to authoring other bills that became law, such as through incorporation into larger bills, these cases are difficult for us to track quantitatively.</p>
					{% endif %}
				{% elif stat.key == "bills-enacted-ti" %}
					<p class="notes">The legislator must be the primary sponsor of the bill or joint resolution that was enacted or the primary sponsor of a bill or joint resolution for which at least about one third of its text was incorporated into another bill or joint resolution that was enacted as law, as determined by an automated analysis. While a legislator may lay claim to authoring other bills that became law, these cases are difficult for us to track quantitatively. We also exclude bills where the sponsor&rsquo;s original intent is not in the final bill.</p>
				{% elif stat.key == "bills-with-companion" %}
					<p class="notes">Companion bills are those that are identified as &ldquo;identical&rdquo; by Congress&rsquo;s Congressional Research Service.</p>
				{% elif stat.key == "bills-with-cosponsors-both-parties" %}
					<p class="notes">Only Members of Congress who sponsored more than 10 bills and resolutions are included in this statistic.</p>
				{% elif stat.key == "bills-with-cosponsor-other-party" %}
					<p class="notes">Only Members of Congress who caucused with either the Democrats or the Republicans are included in this statistic. Cosponsors who caucused with neither party do not count toward this statistic.</p>
				{% elif stat.key == "cosponsored-other-party" %}
					<p class="notes">Only Democratic and Republican Members of Congress who cosponsored more than 10 bills and resolutions are included in this statistic.</p>
				{% elif stat.key == "ideology" %}
					<p class="notes">For more, see <a href="/about/analysis#ideology">our methodology</a>. Although we do not report a margin of error, the scores fluctuate significantly over time because of the limited data used in the analysis. An ideology score is not computed for Members of Congress who introduced fewer than 10 bills or who have a low leadership score, as there is usually not enough data in these cases to compute reliable statistics. Note that because on this page only legislative activity in {{period}} is considered, the ideology score here may differ from those elsewhere on GovTrack.</p>
				{% elif stat.key == "leadership" %}
					<p class="notes">For more, see <a href="/about/analysis#leadership">our methodology</a>. A leadership score is not computed for Members of Congress who introduced fewer than 10 bills, as there is usually not enough data in these cases to compute reliable statistics. Note that because on this page only legislative activity in {{period}} is considered, the leadership scores here may differ from those elsewhere on GovTrack.</p>
				{% endif %}

			</div>
		</section>
		{% endfor %}
	</div>

</div><!-- /.row -->

<div class="row">
	<section>
		{% include "person/session_stats_notes.html" %}
	</section>

</div><!-- /.row -->
{% endblock %}

