{% extends "master.html" %}
{% load humanize persontags cache govtrack_utils %}

{% block title %}{{person.name_no_details}}&rsquo;s {{session}} Report Card from GovTrack.us{% endblock %}

{% block meta_description %}Year-end {{session}} legislative statistics for {{person}}, the {{ person.role.get_role_type_display }}{% if person.role.state %} from {{ person.role.get_state_display }}{% endif %}{% endblock %}

{% block og_image %}
    <meta name="twitter:card" content="summary">
    <meta property="og:image" content="https://www.govtrack.us{{person.get_photo.0}}"/>
    <meta name="twitter:image" content="https://www.govtrack.us{{person.get_photo.0}}"/>
{% endblock %}

{% block head %}
<meta property="og:title" content="{{person.name_no_details}}&rsquo;s {{session}} legislative statistics.">
{% with stats.0.context_for_headline as h %}
{% if h %}
<meta property="og:description" content="{{stats.0.verb.0}} {{stats.0.verb.1}}
{% if h.rank_descending == 1 %}{{stats.0.superlatives.0}}
{% elif h.rank_ascending == 1 %}{{stats.0.superlatives.1}}
{% elif h.rank_descending < h.rank_ascending %}{{h.rank_descending|ordinal}} {{stats.0.superlatives.0}}
{% else %}{{h.rank_ascending|ordinal}} {{stats.0.superlatives.1}}{% endif %}
{{stats.0.verb.2}} compared to {{h.name}}, and other {{session}} legislative statistics">
{% endif %}
{% endwith %}

<style>
	.row.nav {
		font-size: 90%;
		margin-bottom: 1.25em;
	}

	#content h2 {
		margin: 0 0 1em 0;
		font-weight: normal;
	}
		#content h2 em {
			font-weight: bold;
			font-style: normal;
		}
		#content h2 small {
			color: inherit;
		}

	p.details, p.notes {
		font-size: 90%;
		color: #444;
		margin: .25em 0;
	}

	.icon {
		width: 100%;
		height: 5vw;
	}
	.icon-congress-members .icon {
		background: url(/static/images/img-congress-members.png) center center / contain no-repeat;
	}
	.icon-committees .icon {
		background: url(/static/images/img-committees.png) center center / contain no-repeat;
	}
	.icon-bills-resolutions .icon {
		background: url(/static/images/img-bills-resolutions.png) center center / contain no-repeat;
	}
	.icon-voting-records .icon {
		background: url(/static/images/img-voting-records.png) center top / contain no-repeat;
	}
	.icon-open-government .icon {
		background: url(/static/images/img-open-government.png) center top / contain no-repeat;
	}
	.icon-handshake .icon {
		background: url(/static/images/img-handshake.png) center top / contain no-repeat;
	}
</style>
{% endblock %}

{% block body_scripts %}
<script>
function smooth_scroll(elem) {
	smooth_scroll_to($('#' + elem.href.split("#")[1]));
	return false;
}
</script>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
	<li><a href="{% url "congress_home" %}">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	<li><a href="{{person.get_absolute_url}}">{{person.name_no_details}}</a></li>
	<li><a href="/congress/members/report-cards/{{session}}">All {{session}} Report Cards</a></li>
</ol>
{% endblock %}

{% block body %}
<h1 style="border: none">
	{{person.name_and_title}}&rsquo;s
	{{session}} Report Card
</h1>

<div class="row">
<div class="col-md-9 col-lg-8">

<div class="row">
	{% if photo %}
	<div class="col-sm-3 col-md-2">
			<div class="photo" style="margin-bottom: 1em">
				<img src="{{ photo }}" class="img-responsive" />
			</div>
	</div>
	<div class="col-sm-9 col-md-10">
	{% endif %}
		<p><em>
			{% if person.role.leadership_title %}{{person.role.leadership_title}}<br>{% endif %}
			{% if person.role.senator_rank %}{{person.role.get_senator_rank_display}}{% endif %}
			{{ person.role.get_role_type_display }}
			{% if person.role.state %} from {{ person.role.get_state_display }}{% if person.role.district == 0 %}'s At-Large District {% endif %}{% if person.role.district > 0 %}'s {{person.role.district|ordinalhtml}} District{% endif %}{% endif %}
			<br>{{ person.role.party }}
			<br>{% if person.role.current %}Serving{% else %}Served{% endif %} {{person.role.logical_dates.0|date}} &ndash; {{person.role.logical_dates.1|date}}
			</em></p>

		<hr>

		{% if not meta.is_full_congress_stats %}
			<p>These year-end statistics cover <b>{{person.lastname}}&rsquo;s record during the {{session}} legislative year</b> ({{meta.startdate|date}}-{{meta.enddate|date}}) and compare {{himher}} to other {{class}} serving at the end of that period. Last updated on {{publishdate|date}}. {{meta.notes}}</p>
		{% else %}
			<p>These statistics cover <b>{{person.lastname}}&rsquo;s record during the {{meta.congress|ordinalhtml}} Congress</b> ({{congress_dates.0|date}}-{{congress_dates.1|date}}) and compare {{himher}} to other {{class}} also serving at the end of the session. Last updated on {{publishdate|date}}. {{meta.notes}}</p>
		{% endif %}

		{% if person.role.leadership_title %}
			<p style="color: red">Members of Congress with party leadership roles often do not participate in the legislative process in the same way as other Members of Congress. Since {{person.lastname}} was busy being {{person.role.leadership_title}}, the metrics of legislative activity listed below may not apply.</p>
		{% endif %}

	{% if photo %}
	</div>
	{% endif %}
</div>


	<div class="panel panel-info" style="margin: 1em 0 2em 0;">
	  <div class="panel-body">
		<p>A higher or lower number below doesn&rsquo;t necessarily make this legislator any better or worse, or more or less effective, than other Members of Congress. We present these statistics for you to understand the quantitative aspects of {{person.lastname}}&rsquo;s legislative career and make your own judgements based on what activities you think are important.</p>
		<p style="margin-bottom: 0">Keep in mind that there are many important aspects of being a legislator besides what can be measured, such as constituent services and performing oversight of the executive branch, which aren&rsquo;t reflected here.</p>
	  </div>
	</div>
</div>

<div class="col-md-3 col-lg-4">
<div class="row nav">
	<p style="color: #666; font-style: italic; margin: 0 0 .8em 1em;">Jump to...</p>
	{% for grp in nav_groups %}
		<div class="col-sm-6 col-md-12">
			<div class="col-xs-4">
				<img src="/static/images/img-{{grp.icon}}.png" class="img-responsive"/>
			</div>
			<div class="col-xs-8">
				<div style="padding-bottom: 6px; margin-left: -15px; {% if grp.icon == "open-government" or grp.icon == "voting-records" %}padding-top: 3px{% endif %}">
					{% for stat in grp.stats %}
						<div style="margin-bottom: 1px;"><a href="#{{stat.key}}" onclick="return smooth_scroll(this);">{{stat.title}}</a></div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% if forloop.counter == 2 %}<div class="clearfix visible-sm-block"></div>{% endif %}
		<div class="clearfix visible-xs-block"></div>
	{% endfor %}
</div> <!-- inner row -->
</div> <!-- inner col -->
</div> <!-- outer row -->

<table>
<tbody>
{% for stat in stats %}
  <tr valign="top">
	<td id="{{stat.key}}" class="icon-{{stat.icon}}" width="10%">
		<div class="icon">&nbsp;</div>
	</td>
	<td>
		<h2>
		{% with stat.context_for_headline as h %}
		{% if h %}
				<em>{{stat.verb.0}}</em>
				
				{{stat.verb.1}}

				<em>
				{% if h.rank_descending == 1 %}
					{{stat.superlatives.0}}
				{% elif h.rank_ascending == 1 %}
					{{stat.superlatives.1}}
				{% elif h.rank_descending < h.rank_ascending %}
					{{h.rank_descending|ordinalhtml}} {{stat.superlatives.0}}
				{% else %}
					{{h.rank_ascending|ordinalhtml}} {{stat.superlatives.1}}
				{% endif %}
				</em>

				{{stat.verb.2}}

				compared to

				<em>{{h.name}}</em>
				{% if h.rank_ties > 0 %}<small>(tied with {{h.rank_ties}} other{{h.rank_ties|pluralize}})</small>{% endif %}
		{% else %}
			<em>{{stat.title}}</em>
		{% endif %}
		</h2>

		{% if stat.key == "missed-votes" %}
			<p>{{person.lastname}} missed <strong>{{stat.value|floatformat:1}}%</strong> of votes ({{stat.missed|intcomma}} of {{stat.elligible|intcomma}} votes) in {{period}}. <a href="{{person.get_absolute_url}}">View {{person.lastname}}&rsquo;s Profile &raquo;</a></p>

		{% elif stat.key == "bills-introduced" %}
			<p>{{person.lastname}} introduced <strong>{{stat.value|intcomma}}</strong> bill{{stat.value|pluralize}} and resolution{{stat.value|pluralize}} in {{period}}. <a href="/congress/bills/browse#sponsor={{person.id}}&congress={{meta.congress}}">View Bills &raquo;</a></p>

		{% elif stat.key == "bills-enacted" %}
			<p>{{person.lastname}} introduced <strong>{{stat.value|intcomma}}</strong> bill{{stat.value|pluralize}} that became law in {{period}}. Keep in mind that it takes a law to repeal a law. Very few bills ever become law. {% if stat.value > 0 %}<a href="/congress/bills/browse#sponsor={{person.id}}&congress={{meta.congress}}&enacted_ex=on">View Enacted Bills &raquo;</a>{% endif %}</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-enacted-ti" %}
			<p>{{person.lastname}} introduced <strong>{{stat.value}}</strong> bill{{stat.value|pluralize}} that became law, including via incorporation into other measures, in {{period}}. Keep in mind that it takes a law to repeal a law. Very few bills ever become law. {% if stat.value > 0 %}<a href="/congress/bills/browse#sponsor={{person.id}}&congress={{meta.congress}}&enacted_ex=on">View Enacted Bills &raquo;</a>{% endif %}</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-reported" %}
			<p>Most bills and resolutions languish in committee without any action. {{person.lastname}} introduced <strong>{{stat.value}}</strong> bill{{stat.value|pluralize}} in {{period}} that got past committee and to the floor for consideration.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-with-committee-leaders" %}
			<p><strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s bills and resolutions in {{period}} had a cosponsor who was a chair or ranking member of a committee that the bill was referred to. Getting support from committee leaders on relevant committees is a crucial step in moving legislation forward.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-with-cosponsors-both-parties" %}
			<p>{% if h.rank_descending < h.rank_ascending %}In this era of partisanship, it is encouraging to see Members of Congress working across the aisle.{% else %}{{person.lastname}} tends to gather cosponsors only on one side of the aisle.{% endif %} <strong>{{stat.value|floatformat:"0"}}%</strong> of {{person.lastname}}&rsquo;s {{stat.num_bills}} bills and resolutions had both a Democratic cosponsor and a Republican cosponsor in {{period}}.</p>

		{% elif stat.key == "bills-with-cosponsors-both-parties-count" %}
			<p>In this era of partisanship, it is important to see Members of Congress working across the aisle. <strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s {{stat.num_bills}} bills and resolutions had both a Democratic cosponsor and a Republican cosponsor in {{period}}.</p>

		{% elif stat.key == "bills-with-cosponsor-other-party" %}
			<p>In this era of partisanship, it is important to see Members of Congress working across the aisle. <strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s {{stat.num_bills}} bills and resolutions had a cosponsor from a different political party than the party {{person.lastname}} caucused with in {{period}}.</p>

		{% elif stat.key == "bills-with-companion" %}
			<p>The House and Senate often work on the same issue simultaneously by introducing <emph>companion bills</emph> in each chamber. <strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s bills and resolutions had a companion bill in the {{stat.other_chamber}}. Working with a sponsor in the other chamber makes a bill more likely to be passed by both the House and Senate.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "cosponsors" %}
			<p>{{person.lastname}}&rsquo;s bills and resolutions had <strong>{{stat.value|intcomma}}</strong> cosponsor{{stat.value|pluralize}} in {{period}}. Securing cosponsors is an important part of getting support for a bill, although having more cosponsors does not always mean a bill will get a vote. <a href="/congress/bills/browse#sponsor={{person.id}}&congress={{meta.congress}}">View Bills &raquo;</a></p>

		{% elif stat.key == "cosponsored" %}
			<p>{{person.lastname}} cosponsored <strong>{{stat.value|intcomma}}</strong> bill{{stat.value|pluralize}} and resolution{{stat.value|pluralize}} introduced by other Members of Congress. Cosponsorship shows a willingness to work with others to advance policy goals. <a href="/congress/bills/browse#cosponsors={{person.id}}&congress={{meta.congress}}">View Cosponsored Bills &raquo;</a></p>

		{% elif stat.key == "cosponsored-other-party" %}
			<p>{% if h.rank_descending < h.rank_ascending %}In this era of partisanship, it is encouraging to see Members of Congress working across the aisle.{% endif %} Of the {{stat.cosponsored}} bills that {{person.lastname}} cosponsored, <strong>{{stat.value|floatformat:"0"}}%</strong> were introduced by a legislator who was not a {{person.role.party}}.
			{% if person.role.opposing_party %}
				<a href="/congress/bills/browse#cosponsors={{person.id}}&sponsor_party={{person.role.opposing_party}}&congress={{meta.congress}}">View Cosponsored Bills &raquo;</a>
			{% endif %}
			</p>

		{% elif stat.key == "ideology" %}
			<p>Our unique ideology analysis assigns a score to Members of Congress according
			to their legislative behavior by how similar the pattern of bills and resolutions they cosponsor are to other Members of Congress.</p>
			<p class="details">For more, see <a href="/about/analysis#leadership">our methodology</a>. Note that because on this page only legislative activity in {{period}} is considered, the ideology score here may differ from {{person.lastname}}&rsquo;s score elsewhere on GovTrack.</p>

		{% elif stat.key == "leadership" %}
			<p>Our unique leadership analysis looks at who is cosponsoring whose bills. A higher score
			shows a greater ability to get cosponsors on bills.</p>
			<p class="details">For more, see <a href="/about/analysis#leadership">our methodology</a>. Note that because on this page only legislative activity in {{period}} is considered, the leadership score here may differ from {{person.lastname}}&rsquo;s score elsewhere on GovTrack.</p>

		{% elif stat.key == "committee-positions" %}
			<p>{{person.lastname}} held a leadership position on <strong>{{stat.committees|length}}</strong>
			committee{{stat.committees|length|pluralize}} and <strong>{{stat.subcommittees|length}}</strong>
			subcommittee{{stat.subcommittees|length|pluralize}}, as either a chair (majority party) or ranking member (minority party), at the end of the session.
			{% if stat.context_for_headline %}For comparison to other Members of Congress, we assigned a score giving five points for each full committee leadership position and one point for each subcommittee leadership position.{% endif %}
			<a href="{{person.get_absolute_url}}">View {{person.lastname}}&rsquo;s Profile &raquo;</a></p>

		{% elif stat.key == "transparency-bills" %}
			<p>GovTrack looked at whether {{person.lastname}} supported any of {{stat.num_bills}} <a href="https://github.com/govtrack/govtrack.us-web/blob/master/analysis/transparency-bills.txt">government transparency, accountability, and effectiveness bills</a> in the {{stat.chamber}} that we identified in this session. We gave {{person.lastname}} <strong>{{stat.value}}</strong> point{{stat.value|pluralize}}, based on one point for cosponsoring and three points for sponsoring any of these bills.</p>
			{% if stat.sponsored|length > 0 %}<p class="details">{{person.lastname}} sponsored {% for title, link in stat.sponsored %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}
			{% if stat.cosponsored|length > 0 %}<p class="details">{{person.lastname}} cosponsored {% for title, link in stat.cosponsored %}<a href="{{link}}" title="{{title}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% else %}
			<p>{{stat.value}}</p>

		{% endif %}

		{% if stat.context_for_display|length %}
		<p class="details">
			Compare to all
			{% for cohort in stat.context_for_display %}
				<a href="/congress/members/report-cards/{{session}}/{{cohort.key}}/{{stat.key}}">
					{{cohort.name}}</a>
				({{cohort.percentile|ordinalhtml}} percentile){% if not forloop.last %};{% else %}.{% endif %}
			{% endfor %}
		</p>


		{% if stat.key == "missed-votes" %}
			{% if person.role.role_type == 2 %}
			<p class="notes">The Speaker of the House, per <a href="http://www.rules.house.gov/singlepages.aspx?NewsID=160&rsbd=165">current House rules</a>, is not required to vote in &ldquo;ordinary legislative proceedings&rdquo; and is never recorded as missing a vote, and may not be included in the comparison with other representatives if not voting. The delegates from the five island territories and the District of Columbia are not eligible to vote in most roll call votes and so may not appear here if not elligible for any vote during the time period of these statistics.</p>
			{% endif %}
		{% elif stat.key == "bills-enacted" %}
			{% if session == '2013' %}
			<p class="notes">We only count enacted bills (and joint resolutions) that the legislator was the primary sponsor of. While a legislator may lay claim to authoring other bills that became law, such as through companion bills or incorporation into larger bills, these cases are difficult for us to track quantitatively.</p>
			{% else %}
			<p class="notes">A bill or joint resolution is considered enacted if it or an exactly identical bill to it is enacted as law. We only consider bills that the legislator was the primary sponsor of. While a legislator may lay claim to authoring other bills that became law, such as through incorporation into larger bills, these cases are difficult for us to track quantitatively.</p>
			{% endif %}
		{% elif stat.key == "bills-enacted-ti" %}
			<p class="notes">The legislator must be the primary sponsor of the bill or joint resolution that was enacted or the primary sponsor of a bill or joint resolution for which at least about one third of its text was incorporated into another bill or joint resolution that was enacted as law, as determined by an automated analysis. While a legislator may lay claim to authoring other bills that became law, these cases are difficult for us to track quantitatively. We also exclude bills where the sponsor&rsquo;s original intent is not in the final bill.</p>
		{% elif stat.key == "bills-with-companion" %}
			<p class="notes">Companion bills are those that are identified as &ldquo;identical&rdquo; by Congress&rsquo;s Congressional Research Service.</p>
		{% elif stat.key == "bills-with-cosponsors-both-parties" %}
			<p class="notes">Only Members of Congress who sponsored more than 10 bills and resolutions are included in this statistic.</p>
		{% elif stat.key == "bills-with-cosponsor-other-party" %}
			<p>Cosponsors who caucused with neither the Democratic nor Republican party do not count toward this statistic.</p>
		{% elif stat.key == "cosponsored-other-party" %}
			<p class="notes">Only Democratic and Republican Members of Congress who cosponsored more than 10 bills and resolutions are included in this statistic.</p>
		{% endif %}

		{% endif %}
		{% endwith %}
  </td>
</tr>
<tr><td colspan="2"><hr></td></tr>
{% endfor %}
</tbody>
</table>

	<section>
		{% include "person/session_stats_notes.html" %}
	</section>
</div><!-- /member-details -->

</div><!-- /.row -->
{% endblock %}

