{% extends 'master_b.html' %}

{% block title %}Members of Congress - Search - GovTrack.us{% endblock %}
{% block meta_description %}Representatives and Senators in the United States Congress.{% endblock %}
{% block meta_keywords %}U.S. Congress,senators,representatives,congressmen,House of Representatives,Senate{% endblock %}
{% block cat-icon-filename %}img-congress-members.png{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url "congress_home" %}">Congress</a></li>
<li><a href="/congress/members">Members of Congress</a></li>
<li>Search</li>
</ul>
{% endblock %}

{% block summary %}
<h1>Members of Congress</h1>
<p>Use this page to find current or past Members of Congress. You can also <a href="/congress/members/map">view district maps</a>.</p>
{% endblock %}

{% block body %}

<div class="row">
	{% include "smartsearch/search_panel.html" %}
</div>

{% endblock %}
