{% extends "master_a.html" %}
{% load humanize persontags video %}

{% block title %}{{person}} - GovTrack.us{% endblock %}

{% block meta_description %}
        {% if not active_role %}Former{% endif %}
        {{ role.get_role_type_display }}}{% if role.state %}, {{ role.get_state_display }}{% endif %}
{% endblock %}

{% block extra_js %}
<script type='text/javascript' src='{{ MEDIA_URL }}jwplayer/jwplayer.js'></script>
<script type="text/javascript" src="{{ MEDIA_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
{% endblock %}

{% block crumbs %}
<ul>
<li><a href="{% url congress_home %}">Congress</a></li>
<li><a href="/congress/members">Members of Congress</a></li>
<li>{{person.name_no_details}}</li>
</ul>
{% endblock %}

{% block body_class %}member{% endblock %}

{% block summary %}
<div class="container">
	<h1>{{person.name_and_title}}</h1>
	
	<div id="track_panel_base">
	{% if role and not active_role %}
	<p>Former {{ role.get_role_type_display }}{% if role.state %} from {{ role.get_state_display }}{% if role.district == 0 %}'s At-Large District {% endif %}{% if role.district > 0 %}'s {{role.district|ordinal}} District {% endif %}{% endif %}</p>
	{% endif %}
	
	<div class="info">
		<dl>
			{% if role and active_role %}
			{% if role.state and not role.district %}
			<dt>State:</dt>
			<dd>{{role.state_name}}</dd>
			{% endif %}

			{% if role.district > 0 %}
			<dt>District:</dt>
			<dd>{{role.state_name}} - <a href="/congress/members/{{ role.state }}/{{role.district}}">District {{role.district}}</a></dd>
			{% endif %}
			
			<dt>Party:</dt>
			<dd>{{ role.party }}</dd>
			{% endif %}
		</dl>
	</div>
	
	<h2>Elected Positions</h2>
	<table>
		<tr>
			<th>Dates</th>
			<th>Title</th>
			<th>Representing</th>
		</tr>
        {% for role in person.roles_condensed %}
        <tr>
            <td>{{ role.startdate|date:"Y" }}-{{ role.enddate|date:"Y" }}</td>
            <td>{{ role.get_role_type_display }}</td>
            <td>{{ role.get_state_display }}{% if role.district == 0 %}'s At-Large District {% endif %}{% if role.district > 0 %}'s {{role.district|ordinal}} District {% endif %}</td>
        </tr>
        {% endfor %}
	</table>
	</div>
	
	{% include "events/subscribe_inline.html" %}
</div><!-- /container -->

<div class="aside">
	{% if photo %}
		<div class="photo">
			<img src="{{ photo }}" alt="Photo" width="100" height="122"/> <!-- 90x112 -->
		</div>
	{% endif %}
	
	{% if active_role %}
	<a href="#" class="track-btn" onclick="return show_track_panel();">Track Member</a>
	{% endif %}
	
	{% if role.website %}
	<div class="article">
		<strong>Official Website:</strong>
		<a href="{{role.website}}">{{role.website}}</a>
	</div>
	{% endif %}
</div><!-- /aside -->
{% endblock %}

{% block body %}
<div id="member-details" class="section">

	{% if videos and 0 %}
	<div id="media">
		<h3>Recent Media</h3>
		{% for video in videos %}
			{% video video %}
		{% endfor %}
	</div><!-- /media -->
	{% endif %}
	
	{% if analysis_data %}
	<div id="analysis">
		<h3>Sponsorship Analysis</h3>
        {% if analysis_data.image %}
        <img src="{{ analysis_data.image }}" alt="Sponsorship analysis graph" />
        {% endif %}
        
		{{ person.lastname }} is a {{ analysis_data.description }} according to GovTrack's own analysis of bill sponsorship. The graph to the left shows {{ person.lastname }} as a large dot among {{person|hisher}} peers, with the left-right axis indicating ideology and the up-down axis representing legislative leadership. <a href="#" onclick="$('#sponsorshipanalysis_info').slideDown(); $(this).fadeOut(); return false;">More...</a>

		<p id="sponsorshipanalysis_info" style="color: grey; display: none">These labels come from the <a href="#">Political Spectrum & Legislative Leadership statistical analysis</a> that we have carried out. The statistical analysis is blind to party affiliation and the content of bills. From there, we have divided the Members of Congress into far-left/right, rank-and-file, and centrist; and leader, rank-and-file, or lonely (i.e. follower) by 20<sup>th</sup> and 80<sup>th</sup> percentiles.</p>
	</div><!-- /analysis -->
    {% endif %}

	
	<div id="voting-record">
		<h3>Voting Record</h3>
		<img src="#" alt="Voting record graph" />
		<p>XXXXXXX. View a <a href="#">larger chart and a list of recent votes</a>.</p>
	</div><!-- /voting-record -->
	
	{% if committeeassignments %}
	<div id="membership">
		<h3>Committee Membership</h3>
		<p>{{person.name_no_details}} sits on the following committees:</p>
		<ul>
			{% for c in committeeassignments %}
			<li>
				{% if c.role_name != 'Member' %}{{c.role_name}}, {% endif %}
				<a href="{{c.committee.get_absolute_url}}">{{c.committee}}</a>
				{% if c.subroles %}
					<ul>
					{% for s in c.subroles %}
					<li>{{s.role_name}}, Subcommittee on <a href="{{s.committee.get_absolute_url}}">{{s.committee}}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div><!-- /membership -->
	
{% endif %}
	
	
{% if recent_bills %}
	<div id="sponsorship">
		<h3>Bill Sponsorship <span>&amp;</span> Cosponsorship</h3>
		<p>blah blah</p>
		<p>Some of {{person.lastname}}’s most recently sponsored bills include...</p>
		<ul>
			{% for bill in recent_bills %}
			<li><a href="{{bill.get_absolute_url}}">{{bill|truncatewords:15}}</a></li>
			{% endfor %}
		</ul>
		<p><a href="#">View All &raquo;</a> (including bills from previous years)</p>
	</div><!-- /sponsorship -->
{% endif %}
	
	<h3>Primary Sources</h3>
	<p>The information on this page is originally sourced from a variety of materials, including:</p>
	<ul>
	{% with person.vote_sources as person_vote_sources %}
		{% if recent_bills %}
			<li><a href="http://thomas.loc.gov">THOMAS</a>, for sponsored bills</li>
		{% endif %}
		{% if committeeassignments or "congress" in person_vote_sources %}
			<li>The <a href="http://www.house.gov">House</a> and <a href="http://www.senate.gov">Senate</a> websites, for committee membership and voting records</li>
		{% endif %}
		{% if person.bioguideid %}
			<li>The <a href="http://bioguide.congress.gov/scripts/biodisplay.pl?index={{person.bioguideid}}">Congressional Biographical Directory</a> for elected positions.</li>
		{% endif %}
		{% if "keithpoole" in person_vote_sources %}
			<li><a href="http://voteview.ucsd.edu/dwnl.htm">United States Congressional Roll Call Voting Records, 1789-1990</a> by Howard L. Rosenthal and Keith  T.  Poole. </li>
			<li>Martis&rsquo;s &ldquo;The Historical Atlas of Political Parties in the United States Congress&rdquo;, via Keith Poole&rsquo;s roll call votes data set, for political party affiliation for Members of Congress from 1789 through about year 2000.</li>
		{% endif %}
	{% endwith %}
	</ul>
</div><!-- /member-details -->

<div class="tweets section">
	<div id="happening_now" style="display: none">
	<h3>Happening Now</h3>
	
	<article class="post" id="latest-tweet" style="display: none">
		<a href="" class="tweetlink photo">
			<img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" border="0" width="20" height="20"/>
		</a>
		<div class="article">
			<h4><a href="#" class="twittername">@XXX</a></h4>
			<p class="content">YYY</p>
			<em class="twitterdate">6 hours ago via web</em>
		</div>
	</article>
	</div>

    <script type="text/javascript">
        function renderLatestTweet(username) {
            var url = 'http://twitter.com/statuses/user_timeline/' + username + '.json';
            $.get(url, {count: 1}, function(data) {
                if (data.length) {
                    var tweet = data[0];
                    var created = new Date(tweet.created_at);
                    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
                                  'Sep', 'Oct', 'Nov', 'Dec'];
                    var datestr = months[created.getMonth()] + '. ' + created.getDate() + ', ' + created.getFullYear();
                    var content = tweet.text;
                    $('#latest-tweet').show().find('.content').text(content).show();
					$('#latest-tweet').find('.twittername').text("@" + username).show();
					$('#latest-tweet').find('.twittername, .tweetlink').attr('href', 'http://www.twitter.com/' + username)
					$('#latest-tweet').find('.twitterdate').text(datestr).show();
					$('#happening_now').show();
                }
            }, 'jsonp');
        }
        {% if person.twitterid %}
            renderLatestTweet('{{ person.twitterid }}');
        {% endif %}
    </script>

	<h3>Recent Legislative Activity</h3>
	
	{% include "events/trackedeventspanel.html" %}
</div>

{% endblock %}

