{% extends "master_a.html" %}
{% load humanize persontags cache govtrack_utils %}

{% block title %}{{person.name_no_details}} Report Card {{session}} - GovTrack.us{% endblock %}

{% block meta_description %}Year-end {{session}} legislative statistics for {{person}}, the {{ role.get_role_type_display }}{% if role.state %} from {{ role.get_state_display }}{% endif %}{% endblock %}

{% block head %}
<style>
	.row.nav {
		font-size: 90%;
		padding-bottom: 1em;
		border-bottom: 1px solid #DDD;
	}

	section.stat {
		padding: 1.5em 0 2em 0;
		border-bottom: 1px solid #DDD;
	}
	section.stat h2 {
		font-size: 1.8em;
		margin: 0 0 18px 0;
	}
	section.stat h3.rank {
		font-size: 1.2em;
		text-transform: inherit;
		margin: 0 0 22px 0;
	}
	section .rank em {
		border: 1px solid #A98;
		background-color: #bb4b44;
		color: white;
		padding: 0 2px 0 2px;
		font-style: normal;
	}
	section p.details {
		font-size: 90%;
		color: #444;
		margin: 1em 2em;
	}
	section table.context th {
		text-align: right;
		font-weight: normal;
	}
	section table.context th, section table.context td.percentile {
		padding: 2px .75em;
	}
	section table.context td.percentile {
		min-width: 225px;
	}
	section table.context td.min, section table.context td.max {
		font-size: 80%;
		color: #777;
		padding: 0 4px 2px 4px;
		vertical-align: middle;
	}
	section table.context td.bar {
		vertical-align: middle;
		padding: 2px 0;
	}
	section table.context td.bar div.bar {
		width: 100px;
		height: 18px; 
		background-color: #42a6be;
	}
	section table.context td.more a {
		padding: 0 1em;
		font-size: 75%;
		color: #F77;
	}
	section table.context tr.odd {
		background-color: #EEE;
	}
	section p.notes {
		font-size: 88%;
		color: #777;
		margin: .5em 0 1em 0;
	}

	section .icon {
		margin: 0 auto;
		width: 150px;
		height: 120px;
	}
	section.icon-congress-members .icon {
		background: url(/static/images/img-congress-members.png) center 5px no-repeat;
	}
	section.icon-committees .icon {
		background: url(/static/images/img-committees.png) center 15px no-repeat;
	}
	section.icon-bills-resolutions .icon {
		background: url(/static/images/img-bills-resolutions.png) center 5px no-repeat;
	}
	section.icon-voting-records .icon {
		background: url(/static/images/img-voting-records.png) center top no-repeat;
	}
	section.icon-open-government .icon {
		background: url(/static/images/img-open-government.png) center top no-repeat;
	}
	section.icon-handshake .icon{
		background: url(/static/images/img-handshake.png) center top no-repeat;
	}
</style>

<script>
function smooth_scroll(elem) {
	$("html, body").animate({ scrollTop: $('#' + elem.href.split("#")[1]).offset().top - $(window).height()/10 });
	return false;
}
</script>
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="{% url "congress_home" %}">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	<li><a href="{{person.get_absolute_url}}">{{person.name_no_details}}</a></li>
	<li>{{session}} Report Card</li>
</ul>
{% endblock %}

{% block body_class %}member{% endblock %}

{% block summary %}
<div class="row group">
	<h1 style="text-align: center;">{{session}} Report Cards</h1>

	{% if photo %}
	<div class="three columns">
			<div class="photo">
				<img src="{{ photo }}" alt="Photo" width="100" height="122"/> <!-- 90x112 -->
			</div>
	</div>
	<div class="nine columns">
	{% endif %}
		<h2>{{person.name_and_title}}</h2>

		<p><em>
			{% if role.leadership_title %}{{role.leadership_title_full}}<br>{% endif %}
			{% if role.senator_rank %}{{role.get_senator_rank_display}}{% endif %}
			{{ role.get_role_type_display }}
			{% if role.state %} from {{ role.get_state_display }}{% if role.district == 0 %}'s At-Large District {% endif %}{% if role.district > 0 %}'s {{role.district|ordinalhtml}} District{% endif %}{% endif %}
			<br>{{ role.party }}
			<br>{% if role.current %}Serving{% else %}Served{% endif %} {{role.logical_dates.0|date}} &ndash; {{role.logical_dates.1|date}}
			</em></p>

		<p>These special year-end statistics cover {{person.lastname}}&rsquo;s record during the {{session}} legislative year and compare {{himher}} to other {{class}} serving at the end of the session.</p>

		{% if role.leadership_title %}
			<p style="color: red">Members of Congress with party leadership roles often do not participate in the legislative process in the same way as other Members of Congress. Since {{person.lastname}} {% if role.current %}is{% else %}was{% endif %} busy being {{role.leadership_title}}, the metrics of legislative activity listed below may not apply.</p>
		{% endif %}

	{% if photo %}
	</div>
	{% endif %}
</div>
{% endblock %}

{% block body %}
<div class="row nav">
	<p style="color: #666; font-style: italic; margin: 0 0 .8em 1em;">Jump to...</p>
	{% for grp in nav_groups %}
		<div class="four columns">
			<div class="four columns">
				<img src="/static/images/img-{{grp.icon}}.png" width="80" style="float: left; margin-right: 1em"/>
			</div>
			<div class="eight columns">
				<div style="padding-bottom: 6px; margin-left: -15px; {% if grp.icon == "open-government" or grp.icon == "voting-records" %}padding-top: 3px{% endif %}">
					{% for stat in grp.stats %}
						<div style="margin-bottom: 1px;"><a href="#{{stat.key}}" onclick="return smooth_scroll(this);">{{stat.title}}</a></div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% if forloop.counter == 3 %}
			<div style="clear: both"></div>
		{% endif %}
	{% endfor %}
</div>


<div class="row">

{% for stat in stats %}
<section id="{{stat.key}}" class="row stat {{stat.key}} icon-{{stat.icon}}">
	<div class="three columns">
		<div class="icon">&nbsp;</div>
	</div>

	<div class="nine columns">
		<h2>{{stat.title}}</h2>

		{% with stat.context_for_headline as h %}
		{% if h %}
			<h3 class="rank">
				{% if h.rank_descending < h.rank_ascending and h.rank_descending <= 5 %}
					<em>{{h.rank_descending|ordinalhtml}}</em> {{stat.superlatives.0}}
				{% elif h.rank_ascending < h.rank_descending and h.rank_ascending <= 5 %}
					<em>{{h.rank_ascending|ordinalhtml}}</em> {{stat.superlatives.1}}
				{% else %}
					{% if h.rank_descending < h.rank_ascending %}
						{{stat.superlatives.0}}
					{% else %}
						{{stat.superlatives.1}}
					{% endif %}
					{% if h.percentile2 <= .05 %}<em>5%</em>
					{% elif h.percentile2 <= .10 %}<em>10%</em>
					{% elif h.percentile2 <= .15 %}<em>15%</em>
					{% elif h.percentile2 <= .20 %}<em>20%</em>
					{% elif h.percentile2 <= .25 %}<em>25%</em>
					{% elif h.percentile2 <= .30 %}<em>30%</em>
					{% else %}<em>50%</em>
					{% endif %}
				{% endif %}

				among

				<em>{{h.name}}</em>{% if h.rank_ties > 0 %}; tied with {{h.rank_ties}} other{{h.rank_ties|pluralize}}{% endif %}
			</h3>
		{% endif %}

		{% if stat.key == "missed-votes" %}
			<p>{{person.lastname}} missed <strong>{{stat.value|floatformat:1}}%</strong> of votes ({{stat.missed}} of {{stat.elligible}} votes) in the {{session}} legislative session. <a href="{{person.get_absolute_url}}">View {{person.lastname}}&rsquo;s Profile &raquo;</a></p>

		{% elif stat.key == "bills-introduced" %}
			<p>{{person.lastname}} introduced <strong>{{stat.value|intcomma}}</strong> bill{{stat.value|pluralize}} and resolution{{stat.value|pluralize}} in {{session}}. <a href="/congress/bills/browse#sponsor={{person.id}}">View Bills &raquo;</a></p>

		{% elif stat.key == "bills-enacted" %}
			<p>{{person.lastname}} introduced <strong>{{stat.value}}</strong> bill{{stat.value|pluralize}} that became law in {{session}}. Keep in mind that it takes a law to repeal a law. Very few bills ever become law. <a href="/congress/bills/browse#sponsor={{person.id}}&current_status=28&current_status=29">View Enacted Bills &raquo;</a></p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-reported" %}
			<p>Most bills and resolutions languish in committee without any action. {{person.lastname}} introduced <strong>{{stat.value}}</strong> bill{{stat.value|pluralize}} and resolution{{stat.value|pluralize}} in {{session}} that got a committee vote sending it to the floor for further consideration.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-with-committee-leaders" %}
			<p><strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s bills and resolutions in {{session}} had a cosponsor who was a chair or ranking member of a committee that the bill was referred to. Getting support from committee leaders on relevant committees is a crucial step in moving legislation forward.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "bills-with-cosponsors-both-parties" %}
			<p>{% if h.rank_descending < h.rank_ascending %}In this era of partisanship, it is encouraging to see Members of Congress working across the aisle.{% else %}{{person.lastname}} tends to gather cosponsors only on one side of the aisle.{% endif %} <strong>{{stat.value|floatformat:"0"}}%</strong> of {{person.lastname}}&rsquo;s {{stat.num_bills}} bills and resolutions had both a Democratic cosponsor and a Republican cosponsor in {{session}}.</p>

		{% elif stat.key == "bills-with-companion" %}
			<p>The House and Senate often work on the same issue simultaneously by introducing <emph>companion bills</emph> in each chamber. <strong>{{stat.value}}</strong> of {{person.lastname}}&rsquo;s bills and resolutions had a companion bill in the {{stat.other_chamber}}. Working with a sponsor in the other chamber makes a bill more likely to be passed by both the House and Senate.</p>
			{% if stat.bills|length > 0 %}<p class="details">Those bills were: {% for title, link in stat.bills %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% elif stat.key == "cosponsors" %}
			<p>{{person.lastname}}&rsquo;s bills and resolutions had <strong>{{stat.value|intcomma}}</strong> cosponsor{{stat.value|pluralize}} in {{session}}. Securing cosponsors is an important part of getting support for a bill, although having more cosponsors does not always mean a bill will get a vote. <a href="/congress/bills/browse#sponsor={{person.id}}">View Bills &raquo;</a></p>

		{% elif stat.key == "cosponsored" %}
			<p>{{person.lastname}} cosponsored <strong>{{stat.value|intcomma}}</strong> bill{{stat.value|pluralize}} and resolution{{stat.value|pluralize}} introduced by other Members of Congress. Cosponsorship shows a willingness to work with others to advance policy goals. <a href="/congress/bills/browse#cosponsors={{person.id}}">View Cosponsored Bills &raquo;</a></p>

		{% elif stat.key == "cosponsored-other-party" %}
			<p>{% if h.rank_descending < h.rank_ascending %}In this era of partisanship, it is encouraging to see Members of Congress working across the aisle.{% endif %} Of the {{stat.cosponsored}} bills that {{person.lastname}} cosponsored, <strong>{{stat.value|floatformat:"0"}}%</strong> were introduced by someone other than a {{role.party}}.
			{% if role.opposing_party %}
				<a href="/congress/bills/browse#cosponsors={{person.id}}&sponsor_party={{role.opposing_party}}">View Cosponsored Bills &raquo;</a>
			{% endif %}
			</p>

		{% elif stat.key == "ideology" %}
			<p>Our unique ideology analysis assigns a score to Members of Congress according
			to their legislative behavior by how similar the pattern of bills and resolutions they cosponsor are to other Members of Congress.</p>
			<p class="details">For more, see <a href="/about/analysis#leadership">our methodology</a>. Note that because on this page only legislative activity in {{session}} is considered, the ideology score here may differ from {{person.lastname}}&rsquo;s score elsewhere on GovTrack.</p>

		{% elif stat.key == "leadership" %}
			<p>Our unique leadership analysis looks at who is cosponsoring whose bills. A higher score
			shows a greater ability to get cosponsors on bills.</p>
			<p class="details">For more, see <a href="/about/analysis#leadership">our methodology</a>. Note that because on this page only legislative activity in {{session}} is considered, the leadership score here may differ from {{person.lastname}}&rsquo;s score elsewhere on GovTrack.</p>

		{% elif stat.key == "committee-positions" %}
			<p>{{person.lastname}} held a leadership position on <strong>{{stat.committees|length}}</strong>
			committee{{stat.committees|length|pluralize}} and <strong>{{stat.subcommittees|length}}</strong>
			subcommittee{{stat.subcommittees|length|pluralize}}, as either a chair (majority party) or ranking member (minority party), at the end of the session. For comparison to other Members of Congress, we assigned a score giving five points for each full committee leadership position and one point for each subcommittee leadership position. <a href="{{person.get_absolute_url}}">View {{person.lastname}}&rsquo;s Profile &raquo;</a></p>

		{% elif stat.key == "transparency-bills" %}
			<p>GovTrack looked at whether {{person.lastname}} supported any of {{stat.num_bills}} <a href="https://github.com/govtrack/govtrack.us-web/blob/master/analysis/transparency-bills.txt">government transparency bills</a> in the {{stat.chamber}} that we identified in this session. We gave {{person.lastname}} <strong>{{stat.value}}</strong> point{{stat.value|pluralize}}, based on one point for cosponsoring and three points for sponsoring any of these bills.</p>
			{% if stat.sponsored|length > 0 %}<p class="details">Sponsored: {% for title, link in stat.sponsored %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}
			{% if stat.cosponsored|length > 0 %}<p class="details">Cosponsored: {% for title, link in stat.cosponsored %}<a href="{{link}}">{{title|truncatewords:7}}</a>{% if not forloop.last %}; {% endif %}{% endfor %}</p>{% endif %}

		{% else %}
			<p>{{stat.value}}</p>

		{% endif %}

		{% if stat.context_for_display|length %}
		<table class="context">
			<tr><td style="font-size: 85%; color: #777; padding: 0 0 .25em 1em; font-style: italic;">compared to...</td></tr>
			{% for cohort in stat.context_for_display %}
				<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
					<th scope="row">{{cohort.name}}</th>

					<td class="percentile">
						{% if cohort.rank_descending < cohort.rank_ascending %}
							{{cohort.rank_descending|ordinalhtml}} {{stat.superlatives.0}}
						{% else %}
							{{cohort.rank_ascending|ordinalhtml}} {{stat.superlatives.1}}
						{% endif %}
						{% if cohort.rank_ties %}<small>(tied w/ {{cohort.rank_ties}})</small>{% endif %}

						<small>out of {{cohort.N}}</small>
					</td>

					{% if stat.show_values %}<td class="min" style="text-align: right">{{cohort.min|floatformat:"0"}}</td>{% endif %}

					<td class="bar">
						<div class="bar">
							<img style="float: left; margin-left: {{cohort.percentile|add:-6}}px; margin-top: 1px;" src="/static/images/img-guy-taking-oath.png" width="16" height="16" title="{{person}}">
						</div>
					</td>
					{% if stat.show_values %}<td class="max"><nobr>
						{{cohort.max|floatformat:"0"|intcomma}}{% if stat.key == "missed-votes" %}% of votes
						{% elif stat.key == "bills-introduced" %}
							bills
						{% elif stat.key == "bills-enacted" %}
							laws
						{% elif stat.key == "bills-reported" %}
							bills
						{% elif stat.key == "bills-with-committee-leaders" %}
							bills
						{% elif stat.key == "bills-with-cosponsors-both-parties" %}% of bills
						{% elif stat.key == "bills-with-companion" %}
							bills
						{% elif stat.key == "cosponsors" %}
							cosponsors
						{% elif stat.key == "cosponsored" %}
							bills
						{% elif stat.key == "cosponsored-other-party" %}% of bills
						{% elif stat.key == "committee-positions" %}
							points
						{% elif stat.key == "transparency-bills" %}
							points
						{% endif %}
					</nobr></td>{% endif %}

					<td class="more">
						<a href="/congress/members/report-cards/{{session}}/{{cohort.key}}/{{stat.key}}">View All</a>
					</td>
				</tr>
			{% endfor %}
		</table>

		{% if stat.key == "missed-votes" %}
			{% if role.role_type == 2 %}<p class="notes">The Speaker of the House is not included in this statistic (see the notes at the very bottom of the page for why), and the delegates from the five island territories and the District of Columbia are also not included because they were not elligible to vote in any roll call votes.</p>{% endif %}
		{% elif stat.key == "bills-enacted" %}
			<p class="notes">We only count enacted bills that the legislator was the primary sponsor of. While a legislator may lay claim to authoring other bills that became law, such as through companion bills or incorporation into larger bills, these cases are difficult for us to track quantitatively.</p>
		{% elif stat.key == "bills-with-cosponsors-both-parties" %}
			<p class="notes">Only Members of Congress who sponsored more than 10 bills and resolutions are included in this statistic.</p>
		{% elif stat.key == "cosponsored-other-party" %}
			<p class="notes">Only Democratic and Republican Members of Congress who cosponsored more than 10 bills and resolutions are included in this statistic.</p>
		{% endif %}

		{% endif %}
		{% endwith %}
	</div>
</section>
{% endfor %}

	<section>
		{% include "person/session_stats_notes.html" %}
	</section>
</div><!-- /member-details -->

</div><!-- /.row -->
{% endblock %}

