<div class="alert alert-info" role="alert" style="padding: 8px; font-size: 14px;">
  <strong>Don&rsquo;t use this map for the 2022 election.</strong>
  The map on this page from the 2020 election is still the correct map
  for checking who represents you in Congress now, and it will remain correct
  for that purpose until the 2022 election&rsquo;s winners take office on January 3, 2023.
  To learn about 2022 election candidates, you will need another map that has
  been updated for 2022 redistricting, which we do not have.
</div>
