<div class="alert alert-warning" role="alert">
	<p>As a result of litigation, the congressional districts of Florida <a href="http://www.tampabay.com/news/politics/stateroundup/florida-legislature-wont-appeal-redistricting-ruling/2262133">have been changed for the 2016 elecions</a></p>
	<p>Although you may be voting in a different district in November, to determine your <u>current</u> representative in Congress you must look at who your district selected in 2014.</p>
	<p style="margin-bottom:0"><strong>Therefore we will continue to show the districts as they were during the 2014 elections</strong> until the next class of representatives takes office on January 3, 2017. To prepare for voting in the 2016 elections, please consult other resources.</p>
</div>
