<div class="alert alert-danger" role="alert">
	<p><strong>If you live in Florida, North Carolina, or Virginia, don&rsquo;t use this map for the 2016 election &mdash; your districts have changed.</strong></p>
    <p>You are probably voting in a different district. Look at your voter registration card or consult your local elections office.</p>
	<p>As a result of litigation, the congressional districts in these states have been redrawn for the 2016 elections. This map uses the district lines as they were in 2014. We will update this map when the next class of representatives takes office on January 3, 2017.</p>
</div>
