{% load govtrack_utils %}

		<h2>Additional Notes</h2>

		<p><strong>The Speaker&rsquo;s Votes:</strong> Missed votes are not computed for the Speaker of the House. According to <a href="http://www.rules.house.gov/singlepages.aspx?NewsID=160&rsbd=165">current House rules</a>, the Speaker of the House is not required to vote in &ldquo;ordinary legislative proceedings.&rdquo; In practice this means the Speaker of the House rarely votes but is not considered absent.</p>

		<p><strong>Leadership/Ideology:</strong> The leadership and ideology scores are not displayed for Members of Congress who introduced fewer than 10 bills, or, for ideology, for Members of Congress that have a low leadership score, as there is usually not enough data in these cases to compute reliable leadership and ideology statistics.</p>

		<p><strong>Missing Bills:</strong> We exclude bills from some statistics where the sponsor&rsquo;s original intent is not in the final bill because the bill&rsquo;s text was replaced in whole with unrelated provisions (i.e. it became a vehicle for passage of unrelated provisions).<p>

		<p><strong>Ranking Members (RkMembs):</strong> The chair of a committee is always selected from the political party that holds the most seats in the chamber, called the &ldquo;majority party&rdquo;. The &ldquo;ranking member&rdquo; (sometimes &ldquo;RkMembs&rdquo;) is the title given to the senior-most member of the committee <em>not</em> in the majority party.</p>

		<p><strong>Freshmen/Sophomores:</strong> Freshmen and sophomores are Members of Congress whose first term (in the same chamber at the end of {{period}}) was the {{meta.congress|ordinalhtml}} Congress (freshmen) or {{meta.congress|add:-1|ordinalhtml}} (sophomores). Members of Congress who took office within the last few months of a Congress are considered freshmen in the next Congress as well.</p>
