{% extends "master_a.html" %}
{% load humanize govtrack_utils %}
{% block title %}{{statename}} Senators, Representatives, and Congressional District Maps - GovTrack.us{% endblock %}
{% block meta_description %}Find your U.S. Congress senators and representative in {{statename}} using a map.{% endblock %}
{% block meta_keywords %}{{statename}},United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block head %}
	<style>
	#content p.moc { font-weight: bold; margin: 0; }
	.members-grid .info { margin-top: 8px; font-size: 85%; }
	</style>
{% endblock %}

{% block body_scripts %}
<script>
// the map doesn't load correctly if the map is initialized (even within the iframe)
// before it is visible, so don't load the iframe until the map tab is clicked
var map_loaded = false;
$(function() {
   $('a[data-toggle="tab"][href="#map"]').on('shown.bs.tab', function (e) {
   	if (map_loaded) return;
   	map_loaded = true;
     $("#map-iframe").attr('src', "/congress/members/embed/mapframe?state={{state}}&footer=0");
   })

   $('a[data-toggle="tab"][href="#representatives"]').on('shown.bs.tab', function (e) {
    if ($(window).width() > 768) {
      var input = $('#user-address');
      var w = $('#user-address').parents("form").innerWidth();
      $('#user-address').parents("form").find("button").each(function() {
        w -= $(this).outerWidth();
      })
      input.width(w-50);
    }
   });
})
</script>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
	<li><a href="/congress">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	<li class="active">{{statename}}</li>
</ol>
{% endblock %}

{% block body %}
	<h1>{{statename}}</h1>

	{% if stateapp != "T" %}
		<p>{{statename}} is a U.S. state with <b>two</b> senators in the United States Senate and <b>{{stateapp|apnumber}}</b> representatives in the United States House of Representatives.</p>

	{% elif state == "DC" %}
		<p>The District of Columbia (DC) is the nation&rsquo;s capital district. Although DC has a larger population than some states, the District is not one of the fifty states and so has no senators and its representative in the House of Representatives is a <b>delegate</b> with limited voting privileges.
		Delegates have a marginalized role in Congress and their constituents are not represented in Congress in the same manner as most citizens.</p>

	{% else %}
		<p>{% if state == "VI" or state == "MP" %}The {% endif %}{{statename}} is a territory of the United States. Because it is not a state, it has no senators and its representative in the House of Representatives is a <b>delegate</b>{% if state == "PR" %}, called the <b>Resident Commissioner</b>,{% endif %} with limited voting privileges.
		Delegates have a marginalized role in Congress and their constituents are not represented in Congress in the same manner as most citizens.</p>
	{% endif %}

	{% if stateapp != "T" %}
		<ul class="nav nav-tabs" role="tablist" id="tabs">
			<li role="presentation" class="active"><a href="#senators" aria-controls="senators" role="tab" data-toggle="tab">Senators</a></li>
			<li role="presentation"><a href="#representatives" aria-controls="representatives" role="tab" data-toggle="tab">Representatives</a></li>
			<li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab">Map of Congressional Districts</a></li>
		</ul>


		<div class="tab-content" style="margin-top: 1em">

	    	<div role="tabpanel" class="tab-pane active" id="senators">
			
			<h2>Senators</h2>
			<p>Each state elects two senators for staggered 6-year terms. Senators represent the entire state. {{statename}}&rsquo;s senators are:</p>

		    <div class="row members-grid">
		    {% for person in senators %}
		        <div class="member col-xs-6 col-md-5">
		        	{% if not person %}
			            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
			            <p style="margin-top: 1em">The senate seat is currently vacant.</p>
		        	{% else %}
			            <div class="photo">
			        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120" alt="{{ person.name_no_details }}"/></a>
			        	</div>
			        	
			            {% with person.get_current_role as role %}
			            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
			            	{{ role.get_senator_rank_display }} Senator
			            </div>

			            <p class="moc"><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></p>

			            <div class="info">
			            	<div>{{role.party}}</div>
		            		<div>Since {{role.logical_dates.0|date}}</div>
		            		<div>Next Election in {{role.next_election_year}}</div>
			            </div>
			            {% endwith %}
			        {% endif %}
		        </div>
		        {% endfor %}
		    </div>
	    	</div>

	    	<div role="tabpanel" class="tab-pane" id="representatives">
			<h2>Representatives</h2>
	<p>The United States is divided into 435 congressional districts, each with a population of about 710,000 individuals. Each district elects a representative to the House for a two-year term. Representatives are also called congressmen/congresswomen.</p>

    {% if stateapp != 1 %}
	<div style="margin: 1.75em 0;">
	<form class="form-inline" onsubmit="window.location = '/congress/members/map#address=' + encodeURIComponent($('#user-address').val()); return false;">
      <div style="font-weight: bold; margin-bottom: 4px;">Find your representative by entering your address:</div>
	  <div class="form-group">
	    <label for="user-address" class="sr-only">Address</label>
	    <input type="text" class="form-control" id="user-address" placeholder="Enter an address in {{statename}}" name="address">
	  </div>
	  <button type="submit" class="btn btn-primary">Find District</button>
	</form>
	<div style="margin: .5em"><a href="#" onclick="window.location = '/congress/members/map#address=my+location'; return false;" style="text-decoration: none"><i class="fa fa-map-marker" aria-hidden="true"></i> I&rsquo;m at home, use my phone/computer&rsquo;s location</a></div>
	</div>
    {% endif %}

	<p>{{statename}}&rsquo;s representative{% if stateapp > 1 %}s are{% else %} is{% endif %}:</p>

    <div class="row members-grid">
    {% for district, person in representatives %}
        {% if forloop.counter0|divisibleby:4 %}<div class="clearfix visible-md"></div><div class="clearfix visible-lg"></div>{% endif %}
        {% if forloop.counter0|divisibleby:3 %}<div class="clearfix visible-sm"></div>{% endif %}
        {% if forloop.counter0|divisibleby:2 %}<div class="clearfix visible-xs"></div>{% endif %}
        <div class="member col-xs-6 col-sm-4 col-md-3">

        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The {{district|ordinalhtml}} district is currently vacant.</p>
	            <div class="info">
		        	{% if stateapp != 1 %}
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120" alt="{{ person.name_no_details }}"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	{% if stateapp != 1 %}
		            	{{ district|ordinalhtml }} District
	            	{% else %}
	            		At Large
	            	{% endif %}
	            </div>

	            <p class="moc"><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></p>

	            <div class="info">
	            	<div>{{role.party}}</div>
            		<div>Since {{role.logical_dates.0|date}}</div>

		        	{% if stateapp != 1 %}
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>

    		</div>
	    	<div role="tabpanel" class="tab-pane" id="map">
				<h2>Map of Congressional Districts</h2>
				{% if state == "FL" or state == "VA" or state == "NC" %}
		    		{% include "person/redistricting-notes.html" %}
				{% endif %}

				<iframe id="map-iframe" style="width: 100%; height: 80vh; border: 1px solid #999;"> </iframe>

	    	</div>
	</div> <!-- /tabs -->

	{% else %}

    <div class="members-grid">
    {% for district, person in representatives %}
        <div class="member" style="width: 150px">
        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The delegate&rsquo;s office is currently vacant.</p>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	At-Large
	            </div>

	            <p class="moc"><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></p>

	            <div class="info">
            		<div>{{role.logical_dates.0|date}}-Present</div>
	            	<div>{{role.party}}</div>
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>

	{% endif %}


<hr>
{% include "ad_footer_leaderboard.html" %}

{% endblock %}

