{% extends "master_a.html" %}
{% load humanize govtrack_utils %}
{% block title %}{{statename}}&rsquo;s Members of Congress &amp; Congressional District Maps - GovTrack.us{% endblock %}
{% block meta_description %}Find your U.S. Congress senators and representative in {{statename}} using a map.{% endblock %}
{% block meta_keywords %}U.S. Congress,congressional districts,map,senators,representatives,congressmen,House of Representatives,Senate{% endblock %}
{% block head %}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	{% if not debug %}
	<script type="text/javascript" src="/gis/static/js/google_maps_helpers.js"></script>
	<script type="text/javascript" src="/gis/static/js/maps_helpers.js"></script>
	{% else %}
	<script type="text/javascript" src="http://gis.govtrack.us/static/js/google_maps_helpers.js"></script>
	<script type="text/javascript" src="http://gis.govtrack.us/static/js/maps_helpers.js"></script>
	{% endif %}
	<script type="text/javascript">
		var map;

		$(function() {
			map = map_controller();
			map.init(
				document.getElementById("map_canvas"),
				"{{state|lower}}",
				null,
				{
					zoom: {{center_zoom}},
					center: new google.maps.LatLng({{center_lat}}, {{center_long}}),
				}
				);

			{% if request.GET.marker %}
				var lnglat = "{{request.GET.marker}}".split(":");
				var loc = new google.maps.LatLng(lnglat[1], lnglat[0]);
				map.setCenter(loc);
				map.setZoom(13);					
				map.addMarker(loc);
			{% endif %}
			
			map.onBoundsChanged(function(b) {
				$("#embedbounds").text(Math.round(b.getSouthWest().lng()*1000)/1000 + "," + Math.round(b.getNorthEast().lat()*1000)/1000 + "," + Math.round(b.getNorthEast().lng()*1000)/1000 + "," + Math.round(b.getSouthWest().lat()*1000)/1000);
			});
			
			map.addControl(google.maps.ControlPosition.TOP_RIGHT, $('#map_controls')[0])
			map.onMouseMoveHit(
				function(key, data) {
					var div = $('#map_district_hover_container');
					var lbl = $('#map_district_hover_label');
					if (data) {
						lbl.html(data.name);
						div.show();
					} else {
						div.hide();
					}
				},
				function() {
					var div = $('#map_district_hover_container');
					var lbl = $('#map_district_hover_label');
					if (div.is(":visible")) lbl.html("Loading...");
				});

		});
		
		var is_full_screen = false;
		function doFullScreen() {
			if (is_full_screen) {
				$('#map_canvas').css('position', 'relative');
				$('#map_canvas').css('top', '');
				$('#map_canvas').css('left', '');
				$("#map_container").append($('#map_canvas'));
			} else {
				$('#map_canvas').css('position', 'absolute');
				$('#map_canvas').css('z-index', '1000');
				$("body").append($('#map_canvas'));
			}
			is_full_screen = !is_full_screen;
			canvas_resize();
		}
		function canvas_resize() {
			if (!is_full_screen) {
				var w = $('#map_container').width();
				var h = $(window).height() * .8;
				$('#map_canvas').css('width', w);
				$('#map_canvas').css('height', w < h ? w : h);
			} else {
				$('#map_canvas').css({
					left: $(window).scrollLeft(),
					top: $(window).scrollTop(),
					width: $(window).width(),
					height: $(window).height()
				});
			}
			google.maps.event.trigger(map, "resize");
		}
		$(window).scroll(canvas_resize);
		$(window).resize(canvas_resize);
		$(canvas_resize);
	</script>
	<style>
	.row.summary-box-row { margin-bottom: 20; }
	h5 { margin-bottom: 0px; }
	.members-grid .info { margin-top: 8px; font-size: 85%; }

	#map_controls > li {
		float: left;
		background-color: white;
		border: 2px solid #777;
		cursor: pointer;
		text-align: center;
		margin: 3px 6px 0 0;
		padding: 2px 4px 2px 4px;
	}
	#map_controls > li.active {
		background-color: #FFA;
	}
	#map_canvas { border: 1px solid black; }
	#map_canvas * {  max-width: none !important; -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box; } /* fix for bootstrap 3 */
	</style>
{% endblock %}

{% block crumbs %}
<ul>
	<li><a href="/congress">Congress</a></li>
	<li><a href="/congress/members">Members of Congress</a></li>
	<li>{{statename}}</li>
</ul>
{% endblock %}

{% block summary %}
	<h1>{{statename}}</h2>

	{% if stateapp != "T" %}
		<p>{{statename}} is a U.S. state with two senators in the United States Senate and {{stateapp|apnumber}} representatives in the United States House of Representatives.</p>
		{% if stateapp > 1 %}<p>Scroll down for a map of the districts.</p>{% endif %}
	{% elif state == "DC" %}
		<p>The District of Columbia (DC) is the nation&rsquo;s capital. Although DC has a larger population than some states, the District is not one of the fifty states and so has no senators or representatives in Congress. Instead it sends a delegate to the House of Representatives with essentially no voting privileges.</p>
	{% else %}
		<p>{% if state == "VI" %}The {% endif %}{{statename}} is a territory of the United States. It sends a delegate to the House of Representatives{% if state == "PR" %}, called the Resident Commissioner,{% endif %} with essentially no voting privileges and has no senators in the United States Congress.</p>
	{% endif %}
	
{% endblock %}

{% block summary_col_2 %}

{% if senators|length > 0 %}
	<h2 style="margin-top: 30px">Senators</h2>

	<p>Each state elects two senators for staggered 6-year terms. Senators represent the entire state.</p>

    <div class="row members-grid">
    {% for person in senators %}
        <div class="member col-xs-6 col-md-5">
        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The senate seat is currently vacant.</p>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	{{ role.get_senator_rank_display }} Senator
	            </div>

	            <h5><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></h5>

	            <div class="info">
            		<div>Took Office: {{role.logical_dates.0|date}}</div>
            		<div>Next Election: {{role.next_election_year}}</div>
	            	<div>Party: {{role.party}}</div>
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if representatives|length > 0 and stateapp == "T" %}
	{% if state == "PR" %}
		<h2>Resident Commissioner</h2>
	{% else %}
		<h2>Delegate</h2>
	{% endif %}

	<p>Delegates may vote within committees but they are not permitted to vote on anything on the House floor, including on bills. Thus delegates have a marginal role in Congress, and their constituents are not represented in Congress in the same manner as most citizens.</p>

    <div class="members-grid">
    {% for district, person, cities in representatives %}
        <div class="member" style="width: 150px">
        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The delegate&rsquo;s office is currently vacant.</p>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	At-Large
	            </div>

	            <h5><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></h5>

	            <div class="info">
            		<div>{{role.logical_dates.0|date}}-Present</div>
	            	<div>{{role.party}}</div>
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block body %}

{% if stateapp != "T" %}
	<h2 style="margin-top: 0">Representatives</h2>

	<p>The United States is divided into 435 congressional districts &mdash; {{stateapp}} in {{statename}} &mdash; each with a population of about 710,000 individuals. Each district elects a representative to the House for a two-year term. Representatives are also called congressmen/congresswomen.</p>

    <div class="row members-grid">
    {% for district, person, cities in representatives %}
        {% if forloop.counter0|divisibleby:6 %}<div class="clearfix visible-md"></div><div class="clearfix visible-lg"></div>{% endif %}
        {% if forloop.counter0|divisibleby:4 %}<div class="clearfix visible-sm"></div>{% endif %}
        {% if forloop.counter0|divisibleby:2 %}<div class="clearfix visible-xs"></div>{% endif %}
        <div class="member col-xs-6 col-sm-3 col-md-2">

        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The {{district|ordinalhtml}} district is currently vacant.</p>
	            <div class="info">
		        	{% if stateapp != 1 %}
	            	<div style="margin-top: 4px" title="{{cities}}">{{cities|truncatewords:5}}</div>
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	{% if stateapp != 1 %}
		            	{{ district|ordinalhtml }} District
	            	{% else %}
	            		At Large
	            	{% endif %}
	            </div>

	            <h5><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></h5>

	            <div class="info">
            		<div>Took Office: {{role.logical_dates.0|date}}</div>
	            	<div>Party: {{role.party}}</div>

		        	{% if stateapp != 1 %}
	            	<div style="margin-top: 4px" title="{{cities}}">{{cities|truncatewords:5}}</div>
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>

	<h2>Map</h2>

	<div style="display: none">
		<div id="fullscreen" style="padding: 10px">
			<img src="{{ STATIC_URL }}images/stock_fullscreen.png" title="Toggle Full Screen" onclick="doFullScreen();" style="cursor: pointer"/>
		</div>
	</div>
	
	<div id="map_container">
		<div id="map_canvas">
		</div>
		<div style="display: none">
			<ul id="map_controls">
				<li id="map_district_hover_container" style="display: none">
					<div id="map_district_hover_label">
					</div>
				</li>
				<!--<li id="ctrl_layer_2010" class="active">2010 Districts</li>
				<li id="ctrl_layer_2012">2012 Districts</li>-->
			</ul>
		</div>
	</div>
	

</div><!-- /search-members -->
{% endif %}

<hr>
{% include "ad_footer_leaderboard.html" %}

{% endblock %}

