{% extends "master_a.html" %}
{% load humanize govtrack_utils %}
{% block title %}{{statename}} Senators, Representatives, and Congressional District Maps - GovTrack.us{% endblock %}
{% block meta_description %}Find your U.S. Congress senators and representative in {{statename}} using a map.{% endblock %}
{% block meta_keywords %}{{statename}},United States Congress,U.S. Congress,congressional districts,map,senator,senators,representative,representatives,congressman,congressmen,congresswoman,congresswomen,House of Representatives,Senate{% endblock %}
{% block head %}
{{block.super}}
	<style>
	#content p.moc { font-weight: bold; margin: 0; }
	.members-grid .info { margin-top: 8px; font-size: 85%; }
	</style>
{% endblock %}

{% block body_scripts %}
<script>
// the map doesn't load correctly if the map is initialized (even within the iframe)
// before it is visible, so don't load the iframe until the map tab is clicked
var map_loaded = false;
$(function() {
   {% if stateapp != "T" %}
    $('a[data-bs-toggle="tab"][href="#map"]').on('shown.bs.tab', load_map_iframe);
    if (window.location.hash == "#map")
    	load_map_iframe(); // already open
   {% else %}
   	setTimeout(load_map_iframe, 50);
   {% endif %}
   function load_map_iframe() {
   	if (map_loaded) return;
   	map_loaded = true;
     $("#map-iframe").attr('src', "/congress/members/embed/mapframe?state={{state}}&footer=0");
   }

   $('a[data-toggle="tab"][href="#representatives"]').on('shown.bs.tab', function (e) {
    if ($(window).width() > 768) {
      var input = $('#user-address');
      var w = $('#user-address').parents("form").innerWidth();
      $('#user-address').parents("form").find("button").each(function() {
        w -= $(this).outerWidth();
      })
      input.width(w-50);
    }
   });
})
</script>
{% endblock %}

{% block crumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/congress/members">Members of Congress</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{statename}}</li>
  </ol>
</nav>

{% endblock %}

{% block summary %}
	<h1 style="margin-bottom: 10px">{{statename}}</h1>

	<p style="margin: 10px 0 20px 0;">
	{% if stateapp != "T" %}
		{{statename}} has <b>two</b> senators in the United States Senate and <b>{{stateapp|apnumber}}</b> representatives in the United States House of Representatives.
		{{statename}} is a state in the United States.

	{% elif state == "DC" %}
		The District of Columbia (DC) is the nation&rsquo;s capital district. Although DC has a larger population than some states, the District is not one of the fifty states and so has no senators and its representative in the House of Representatives is a <b>delegate</b> with limited voting privileges.
		Delegates have a marginalized role in Congress and their constituents are not represented in Congress in the same manner as most citizens.

	{% else %}
		{% if state == "VI" or state == "MP" %}The {% endif %}{{statename}} is a territory of the United States. Because it is not a state, it has no senators and its representative in the House of Representatives is a <b>delegate</b>{% if state == "PR" %}, called the <b>Resident Commissioner</b>,{% endif %} with limited voting privileges.
		Delegates have a marginalized role in Congress and their constituents are not represented in Congress in the same manner as most citizens.
	{% endif %}
	</p>
{% endblock %}

{% block body %}
	{% if stateapp != "T" %}
		<ul class="nav nav-tabs" role="tablist" id="tabs">
			<li class="nav-item" role="presentation"><a href="#senators" aria-controls="senators" class="nav-link active" data-bs-toggle="tab" role="tab" aria-selected="true">Senators</a></li>
			<li class="nav-item" role="presentation"><a href="#representatives" aria-controls="representatives" class="nav-link" data-bs-toggle="tab" role="tab">Representatives</a></li>
			<li class="nav-item" role="presentation"><a href="#map" aria-controls="map" class="nav-link" data-bs-toggle="tab" role="tab">Map of Congressional Districts</a></li>
		</ul>


		<div class="tab-content" style="margin-top: 1em">

	    	<div role="tabpanel" class="tab-pane active" id="senators">
			
			<h2>Senators</h2>
			<p>Each state in the United States elects two senators, regardless of the state&rsquo;s population. Senators serve six-year terms with staggered elections. Americans in the United States&rsquo;s six territories do not have senators.</p>
			<p>{{statename}}&rsquo;s senators are:</p>

		    <div class="row members-grid">
		    {% for person in senators %}
		        <div class="member col-xs-6 col-md-5">
		        	{% if not person %}
			            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
			            <p style="margin-top: 1em">The senate seat is currently vacant.</p>
		        	{% else %}
			            <div class="photo">
			        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120" alt="{{ person.name_no_details }}"/></a>
			        	</div>
			        	
			            {% with person.get_current_role as role %}
			            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
			            	{{ role.get_senator_rank_display }} Senator
			            </div>

			            <p class="moc"><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></p>

			            <div class="info">
			            	<div>{{role.party}}</div>
		            		<div>Since {{role.logical_dates.0|date}}</div>
                            {% if not role.did_election_just_happen %}
		            			<div>Next Election in {{role.next_election_year}}</div>
                            {% else %}
		            			<div>Current Term Ends {{role.enddate|date}}</div>
                            {% endif %}
			            </div>
			            {% endwith %}
			        {% endif %}
		        </div>
		        {% endfor %}
		    </div>
	    	</div>

	    	<div role="tabpanel" class="tab-pane" id="representatives">
			<h2>Representatives</h2>
	<p>The United States is divided into 435 congressional districts, each with a population of about 710,000 individuals. Each district elects a representative to the House of Representatives for a two-year term. Representatives are also called congressmen/congresswomen.
	Americans in the United States&rsquo;s six territories are represented in the House of Representatives by an additional six non-voting delegates.</p>

    {% if stateapp != 1 %}
	<div style="margin: 1.75em 0;">
	<form class="form-inline" onsubmit="window.location = '/congress/members/map#address=' + encodeURIComponent($('#user-address').val()); return false;">
      <div style="font-weight: bold; margin-bottom: 4px;">Find your representative by entering your address:</div>
	  <div class="form-group">
	    <label for="user-address" class="sr-only">Address</label>
	    <input type="text" class="form-control" id="user-address" placeholder="Enter an address in {{statename}}" name="address">
	  </div>
	  <button type="submit" class="btn btn-primary">Find District</button>
	</form>
	<div style="margin: .5em"><a href="#" onclick="window.location = '/congress/members/map#address=my+location'; return false;" style="text-decoration: none"><i class="fas fa-map-marker" aria-hidden="true"></i> I&rsquo;m at home, use my phone/computer&rsquo;s location</a></div>
	</div>
	{% endif %}

	{% endif %}

	{% if stateapp == 1 %}
		<p>{{statename}}&rsquo;s one representative, called an &ldquo;at-large&rdquo; representative because they represent the entire state, is:</p>
	{% elif stateapp == "T" %}
		<p>{{statename}}&rsquo;s one representative, called an &ldquo;at-large&rdquo; representative because they represent the entire area, is:</p>
	{% else %}
		<p>{{statename}}&rsquo;s {{stateapp|apnumber}} representatives are:</p>
    {% endif %}

    <div class="row members-grid">
    {% for district, person in representatives %}
        {% if forloop.counter0|divisibleby:4 %}<div class="clearfix visible-md"></div><div class="clearfix visible-lg"></div>{% endif %}
        {% if forloop.counter0|divisibleby:3 %}<div class="clearfix visible-sm"></div>{% endif %}
        {% if forloop.counter0|divisibleby:2 %}<div class="clearfix visible-xs"></div>{% endif %}
        <div class="member col-xs-6 col-sm-4 col-md-3">

        	{% if not person %}
	            <div class="photo"><div style="width: 100px; height: 120px;">&nbsp;</div></div>
	            <p style="margin-top: 1em">The {{district|ordinalhtml}} district is currently vacant.</p>
	            <div class="info">
		        	{% if stateapp != 1 and stateapp != "T" %}
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
        	{% else %}
	            <div class="photo">
	        		<a href="{{ person.get_absolute_url }}"><img src="{{ person.get_photo_url_100 }}" width="100" height="120" alt="{{ person.name_no_details }}"/></a>
	        	</div>
	        	
	            {% with person.get_current_role as role %}
	            <div class="photo_flag flag_{{role.party|slice:":1"|lower}}">
	            	{% if stateapp != 1 and stateapp != "T" %}
		            	{{ district|ordinalhtml }} District
	            	{% else %}
	            		At Large
	            	{% endif %}
	            </div>

	            <p class="moc"><a href="{{ person.get_absolute_url }}" class="plain">{{ person.name_no_details }}</a></p>

	            <div class="info">
	            	<div>{{role.party}}</div>
            		<div>Since {{role.logical_dates.0|date}}</div>
                    {% if DID_AN_ELECTION_JUST_HAPPEN %}<div>(Current term ends {{role.enddate|date}})</div>{% endif %}

		        	{% if stateapp != 1 and stateapp != "T" %}
	            	<div><a href="/congress/members/{{state}}/{{district}}">View District Map</a></div>
	            	{% endif %}
	            </div>
	            {% endwith %}
	        {% endif %}
        </div>
        {% endfor %}
    </div>

        {% if not DID_AN_ELECTION_JUST_HAPPEN %}
        <p style="margin-bottom: 2em">All representatives serve until the end of the current Congress on {{end_of_congress_date|date}}.</p>
        {% endif %}

	{% if stateapp != "T" %}
			</div> <!-- /tab -->
	    	<div role="tabpanel" class="tab-pane" id="map">
				<h2>Map of Congressional Districts</h2>
	    		{% include "person/redistricting-notes.html" %}
	{% endif %}

				<iframe id="map-iframe" style="width: 100%; height: 80vh; border: 1px solid #999;"> </iframe>

	{% if stateapp != "T" %}
	    	</div>
	</div> <!-- /tabs -->
	{% endif %}


<hr>
{% include "ad_footer_leaderboard.html" %}

{% endblock %}

