{% extends "master.html" %}
{% load humanize %}
{% block title %}Members of Congress Political Spectrum &amp; Leadership Rankings - GovTrack.us{% endblock %}
{% block head %}
{% endblock %}
{% block style %}
#fig {
	float: left;
	width: 650px;
	height: 530px;
	border: 1px solid black;
}
#controls {
	float: left;
	width: 300px;
}
{% endblock %}
{% block wide-body %}

<h1>Members of Congress Political Spectrum and Leadership Rankings</h1>

<div id="fig">
<script type="text/javascript" src="{{MEDIA_URL}}js/protovis-r3.2.js"></script>
<script type="text/javascript+protovis">
var data = {{data|safe}};
var xaxis = "ideology";

function make_yscale() {
	return [cy + .5 - .6/zoom, cy + .5 + .6/zoom];
}

function make_xscale() {
	if (zoom < 1) zoom = 1;
	
	if (xaxis == "ideology") {
		return [cx + .5 - .5/zoom, cx + .5 + .5/zoom];
	} else if (xaxis == "years_in_congress") {
		a = {{years_in_congress_max}}/Math.exp(2)
			- {{years_in_congress_max}}/Math.exp(2)/zoom
			+ cx*(zoom-1)*{{years_in_congress_max}};
		if (a < 0) a = 0;
		
		b = {{years_in_congress_max}}/Math.exp(2) + ({{years_in_congress_max}}-{{years_in_congress_max}}/Math.exp(2))/zoom
		+ cx*(zoom-1)*{{years_in_congress_max}};
		
		return [.5 + a, b+2];
	}
}

/* Sizing and scales. */
var w = 600,
    h = 500,
	cx = 0,
	cy = 0,
	zoom = 1,
    x = (xaxis == "ideology") ? pv.Scale.linear(make_xscale()).range(0, w) : pv.Scale.log(make_xscale()).base(5).range(0, w),
    y = pv.Scale.linear(make_yscale()).range(0, h);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);


/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .left(x)
    .strokeStyle(function(d) d ? "#eee" : "#000")
	.anchor("bottom").add(pv.Label)
    .visible(function(d) d >= 1)
    .text(function(d) d);

/* The dot plot! */
vis.add(pv.Panel)
    .data(data)
  .add(pv.Dot)
  .left(function(d) {
	if (xaxis == "ideology") return x(d.x);
	if (xaxis == "years_in_congress") return x(d.years_in_congress);
  }) 
    .bottom(function(d) y(d.y))
	.strokeStyle(function(d) { if (d.party == "Democrat") return "#00F"; if (d.party == "Republican") return "#F00"; return "#590"; })
    .fillStyle(function() "#590")
    .size(function(d) 3)
	.anchor("bottom").add(pv.Label)
		.textStyle(function(d) { if (d.party == "Democrat") return "#00A"; if (d.party == "Republican") return "#A00"; return "#590"; })
		.text(function(	d) d.label);
		
function transform() {
  var t = this.transform().invert();
  cx = t.x/w;
  cy = -t.y/h;
  zoom = 1/(Math.pow(2, (t.k-1)*50));
  x.domain(make_xscale());
  y.domain(make_yscale());
  vis.render();
}
vis.add(pv.Panel)
    .events("all")
    .event("mousedown", pv.Behavior.pan())
    .event("mousewheel", pv.Behavior.zoom())
    .event("pan", transform)
    .event("zoom", transform);

vis.render();

    </script>
<center>Years in Congress</center>
</div>

<div id="controls">
	<p><em>Zoom in and out with your mouse scroll wheel. Pan by dragging.</em></p>
</div>

{% endblock %}

