<div class="ads footer leaderboard">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-3418906291605762";
	/* GT Footer 728x90, created 8/27/10 */
	google_ad_slot = "5620102176";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	
	<script>
	if ($(window).width() < 800 || is_ad_free) {
		// nothing, not wide enough or user has paid to not have ads
	} else {
		document.write("{{ '<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3418906291605762" data-ad-slot="5620102176"></ins>'|escapejs }}");
		(adsbygoogle = window.adsbygoogle || []).push({});
	    document.write("{{ '<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/membership">Hide These Ads</a>)</div>'|escapejs }}");
	}
	</script>
</div>
