{% extends "master.html" %}
{% block heading_box %}
<div class="row group">
	<div class="summary-box box eight columns">
		{% block summary %}
		{% endblock %}
	</div><!-- /summary-box -->
	
	<div class="ads square four columns">
		{% comment %} if remote_net_house or remote_net_senate or request.user.username == "admin" %}
			<a href="mailto:operations+love@govtrack.us"><img src="/static/funnies/322Heart_02.png"/></a>
		{% endcomment %}
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3418906291605762";
		google_ad_slot = "6503428641";
		google_ad_width = 300;
		google_ad_height = 250;
		//-->
		</script>
		{% comment %}
			DONT USE THESE - VIOLATES USERS WHO HAVE BOUGHT OUT OF ADS
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> </script>
			<script type='text/javascript' src='http://dingo.care2.com/petitions/embed.js'></script><div class='care2PetitionEmbed' rssPath='http://www.thepetitionsite.com/feeds/publisher/000/001/700/feed.swf' adSize='small' publisherId='1405' grabbed='0' flags='#000000' buttonColor='#EB6924' html='1'></div>
		{% endcomment %}
		<script>
		// Which ad should we display?
		
		var ad_exp_user = $.cookie("ad_exp");
		if (ad_exp_user) ad_exp_user = $.deparam(ad_exp_user, true);
		if (!ad_exp_user) ad_exp_user = { };
		
		if (is_ad_free) {
			document.write("An ad would be here, but you've gone ad-free!");
		} else if (the_segment == "House" || the_segment == "Senate") {
			google_ad_slot = "7881093146"; // ad unit targeting staff only
			document.write("{{ "<script type='text/javascript' src='http://pagead2.googlesyndication.com/pagead/show_ads.js'> </script>"|escapejs }}");
			
		} else {
			// track total number of impressions this user has seen.
			if (!ad_exp_user.impression) ad_exp_user.impression = 0;
			ad_exp_user.impression += 1;
			
			// put users in buckets: assign each user a random number in [0,1].
			if (!ad_exp_user.segment) ad_exp_user.segment = Math.random();
			
			// save cookie
			$.cookie("ad_exp", $.param(ad_exp_user, true), { expires: 21, path: '/' });
			
			// misc
			if (ad_exp_user.impression == 2) _gaq.push(['_trackEvent', 'ads' , 'second_impression']);
			
			if ((ad_exp_user.impression % 10) == 9) {
				// every 10th impression show an ad to let users buy out of ads
				document.write("{{ "<a href='/accounts/go_ad_free'><img src='/static/images/go_ad_free.png'/></a>"|escapejs }}");
				try { 
				_gaq.push(['_trackEvent', 'ads' , 'go_ad_free_banner_impression']); 
				} catch(err){}
				
			} else if (ad_exp_user.segment < .1) {
				// Display an experimental ad to 10% of users:
				// Care2 TAP
				// {{bill.get_top_term_id}}
				document.write("{{ "<script type='text/javascript' src='http://dingo.care2.com/petitions/embed.js'></script><div class='care2PetitionEmbed' rssPath='http://www.thepetitionsite.com/feeds/publisher/000/001/"|escapejs }}{% firstof care2_category_id '795' %}{{ "/feed.swf' adSize='small' publisherId='1405' grabbed='0' flags='#000002' buttonColor='#EB6924' html='1'></div>"|escapejs }}");
				ad_exp = "care2tap";
				
			} else {
				if (true) {
					google_ad_slot = "6495528747"; // use a different unit for experiments so we have analytics
					ad_exp = "adsense";
				}
				document.write("{{ "<script type='text/javascript' src='http://pagead2.googlesyndication.com/pagead/show_ads.js'> </script>"|escapejs }}");
			}
		}
		</script>
		<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/go_ad_free">Go Ad-Free for $2/year</a>)</div>
	</div>
</div>
	
{% endblock %}
