{% extends "master.html" %}
{% load humanize %}

{% block head %}
<style>
.sidebar, .sidebar p {
	line-height: 122%;
	color: #555;
	font-size: 12px;
}
@media screen and (min-width: 768px) {
	.sidebar > div {
		padding: 15px;
		background-color: #F7F4EB;
		border-radius: 15px;
	}
}
.sidebar > div > div {
	margin-bottom: 15px;
}
.sidebar h2 {
	font-size: 14px;
	margin: 0 0 .75em 0;
	color: black;
	font-weight: bold;
}
	.sidebar h2:first-child {
		margin-top: 0;
	}
.sidebar a:link, .sidebar a:visited {
    color: #9d4660;
}
.sidebar button {
	display: block;
	margin-bottom: 1em;
	width: 145px; /* at least as large as the largest so that when the buttons break to two lines they have the same width */
}
	.sidebar button:last-child {
		margin-bottom: 0;
	}

@media screen and (max-width: 768px) {
	.sidebar button {
		float: left;
		margin-right: 1.5em;
	}
}
   #seealso-links {
        font-size: 95%;
    }
        #seealso-links a {
            display: inline-block;
            text-decoration: none;
            margin-right: 1.25em;
            margin-bottom: .33em;
        }
            #seealso-links a:hover {
                text-decoration: underline;
            }
        #seealso-links a i {
            margin-right: .4em;
        }
</style>
{% endblock %}

{% block body_with_container %}
<div class="container">
	<div id="maincontent" >
		{% block summary %}
		{% endblock %}
	</div><!-- /summary-box -->

	<div class="row">

		<div class="col-sm-4 col-sm-push-8 sidebar">
		  <div>
			{% block sidebar_top %}
			{% endblock %}

			<div class="ads square" data-zone="master_a">
				<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/membership">Hide These Ads</a>)</div>
			</div> <!-- /ads square -->

			<div class="hidden-xs">

			{% block sidebar_bottom %}
			{% endblock %}

			{# LINKS #}

			<h2>Follow GovTrack on social media for more updates:</h2>
			<p>
			<a href="https://www.facebook.com/govtrack/" title="Facebook Page"><i class="fa fa-facebook fa-fw"></i><span class="sr-only">Visit us on Facebook</span></a>
			<a href="http://twitter.com/govtrack" title="Twitter Page"><i class="fa fa-twitter fa-fw"></i><span class="sr-only">Visit us on Twitter</span></a>
			<a href="https://medium.com/govtrack-insider" title="Medium Page"><i class="fa fa-medium fa-fw"></i><span class="sr-only">Visit us on Medium</span></a>
			<a href="https://github.com/govtrack/govtrack.us-web" title="Github"><i class="fa fa-github-alt fa-fw"></i><span class="sr-only">Visit us on Github</span></a>
			</p>

			{# MEDIUM POSTS #}
			{% if medium_posts %}
		     	<h2>On GovTrack Insider:</h2>
				{% for post in medium_posts %}
				{% if forloop.counter <= 3 %}
					<div class="row">
						{% if post.image_100px %}
						<div class="col-xs-3" style="margin-top: 3px; padding-right: 0; margin-right: -5px;">
							<a href="{{post.url}}">
								<img src="{{post.image_100px}}" style="border: 1px solid #BBB;"/ class="img-responsive">
							</a>
						</div>
						<div class="col-xs-9">
						{% else %}
						<div class="col-xs-12">
						{% endif %}
							<div><a href="{{post.url}}">{{post.title}}</a></div>
							<p>{{post.snippet}} <span class="text-muted" style="font-size: 90%;"> {{post.published|date}}</span></p>
							</p>
						</div>
					</div>
				{% endif %}
				{% endfor %}
		    {% endif %}

			</div> <!-- /hidden-xs -->

		  </div> <!-- /sidebar div-->
		</div> <!-- /col -->

		<div class="col-sm-8 col-sm-pull-4">
			<div id="content">
				{% block body %}
				{% endblock %}
			</div>
		</div><!-- /col -->

	</div> <!-- /row -->
</div> <!-- /container -->

{% endblock %}
