{% extends "master.html" %}
{% load humanize %}

{% block head %}
<style>
.sidebar, .sidebar p {
	line-height: 122%;
	color: #555;
	font-size: 13px;
}
@media screen and (min-width: 768px) {
	.sidebar > div {
		padding: 15px;
		background-color: #F7F4EB;
		border-radius: 15px;
	}
}
.sidebar > div > div {
	margin-bottom: 15px;
}
.sidebar h2 {
	font-size: 14px;
	margin: 0 0 .75em 0;
	color: black;
	font-weight: bold;
}
	.sidebar h2:first-child {
		margin-top: 0;
	}
.sidebar button {
	display: block;
	margin-bottom: 1em;
	width: 145px; /* at least as large as the largest so that when the buttons break to two lines they have the same width */
}
	.sidebar button:last-child {
		margin-bottom: 0;
	}

@media screen and (max-width: 768px) {
	.sidebar button {
		float: left;
		margin-right: 1.5em;
	}
}

</style>
{% endblock %}

{% block body_with_container %}
<div id="maincontent">
	<div class="container">
		{% block summary %}
		{% endblock %}
	</div>
</div><!-- /summary-box -->

<div class="container">
	<div class="row">

		<div class="col-sm-4 order-2 sidebar">
		  <div>
			{% block sidebar_top %}
			{% endblock %}

			{% if not DEBUG %}
			<div class="ads in-sidebar" data-zone="sidebar">
				<div class="explainer">(<a href="/advertising">About Ads</a> | <a href="/accounts/membership">Hide These Ads</a>)</div>
			</div> <!-- /ads square -->
			{% endif %}

			<div class="hidden-xs">

			{% block sidebar_bottom %}
			{% endblock %}

			{# LINKS #}

			<h2>Follow GovTrack on social media for more updates:</h2>
			<p>
			<a rel="me" href="https://mastodon.social/@GovTrack"><i class="fab fa-mastodon"></i><span class="sr-only">Visit us on Mastodon</span></a>
			</p>

			</div> <!-- /hidden-xs -->

		  </div> <!-- /sidebar div-->
		</div> <!-- /col -->

		<div class="col-sm-8 order-1">
			<div id="content">
				{% block body %}
				{% endblock %}
			</div>
		</div><!-- /col -->

	</div> <!-- /row -->
</div> <!-- /container -->

{% endblock %}
