{% load govtrack_utils %}
{% with "/static/" as STATIC_URL %} {% comment %}The 500 error page doesn't set this variable! {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
		<title>{% block title %}{% endblock %}</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link media="all" rel="stylesheet" href="{{ STATIC_URL }}css/all{% if not debug %}-min{% endif %}.css?20160131" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

		<meta name="description" content="{% block meta_description %}{% endblock %}" />
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
		{% if HTTP_HOST == "test.govtrack.us" %}<meta name="robots" content="noindex" />{% endif %} {% comment %}moot because site is currently behind authz {% endcomment %}

		{% comment %}<meta property="fb:admins" content="620474" />{% endcomment %}
		<meta property="fb:app_id" content="119329904748946" />
		<meta property="og:site_name" content="GovTrack.us" />
		<meta name="twitter:site" content="@GovTrack">
		{% block og_image %}
		<meta property="og:image" content="https://www.govtrack.us/static/images/media_icon.png?20160130" />
		<meta name="twitter:card" content="summary">
		{% endblock %}
	

		{% block extra_css %}{% endblock %}

		<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.js"></script> {% comment %}html5shiv{% endcomment %}
		{% if not debug %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% else %}
		<script src="/static/lib/jquery.js"></script>
		{% endif %}
		{% if not request.anonymous %}
			<script>$(document).ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{csrf_token|escapejs}}"); });</script> <!-- {% csrf_token %} -->
			<script>
				var the_user = {% if request.user.is_authenticated %}{ "email": "{{request.user.email|escapejs}}" }{% else %}null{% endif %};
				{% include "user_head_script.js" %}
			</script>
		{% else %}
			{% include "twostream/head.html" %}
		{% endif %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-utils.js?2014-11-08"></script>
		{% block extra_js %}{% endblock %}
		
		<script type="text/javascript">
		var user_district_callbacks = [];
		function onUserDistrictChanged() {
			function call_callback(cb) {
				// When there's known data, the state may be XX to indicate the user does not want to be prompted again for his/her district.
				var cd = cong_dist;
				if (cd && cd.state == "XX") cd = null;

				// Convert list to hashable array.
				var mocs = { };
				if (cong_dist_mocs) {
					for (var i = 0; i < cong_dist_mocs.length; i++)
						mocs[cong_dist_mocs[i]] = cong_dist_mocs[i];
				}

				// Call.
				cb(cd, mocs);
			}

			if (typeof arguments[0] == "function") {
				// Called with a callback. Execute immediately with known data, then save callback for later.
				var callback = arguments[0];
				call_callback(callback);
				user_district_callbacks.push(callback);
			} else {
				// Called with a new state and district. Save new info and execute callbacks.
				if (arguments[0] == null) {
					cong_dist = null;
					cong_dist_mocs = null;
				} else {
					cong_dist = { state: arguments[0], district: arguments[1] };
					cong_dist_mocs = arguments[2]; // array of IDs of the user's current MoCs
				}
				for (var i = 0; i < user_district_callbacks.length; i++)
					call_callback(user_district_callbacks[i]);
			}
		}

		{% if not debug %}
		<!-- Google Analytics -->
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{GOOGLE_ANALYTICS_KEY|escapejs}}');
		ga('set', 'dimension1', the_user ? "Logged In" : "Anonymous");
		ga('set', 'dimension2', the_segment);
		ga('send', 'pageview');
		<!-- End Google Analytics -->
		{% else %}
			window.ga = function() { };
		{% endif %}
		</script>

		{% block head %}{% endblock %}
	</head>

<body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]><p style="background-color: black; color: white;">Internet Explorer version 8 or any modern web browser is required to use this website, sorry.<![endif]-->
    <!--[if gt IE 7]><!-->

	{% if pagename != "blog_template" and not user_has_bounced_mail and 1 %}
	<div id="sitenewscontainer" style="display: none">
		<div id="sitenews">
			<div class="ex"><a href="#" onclick="return hide_site_news()">X</a></div>
			{% include "site-news-banner.html" %}
		</div>
	</div>
	<script>
	function trackOutboundLink(link, category, action) { 
		try { 
			ga('send', 'event', category, action);
		} catch(err){}
		setTimeout(function() { document.location.href = link.href; }, 100);
		return false;
	}

	function hide_site_news() {
		$('#sitenewscontainer').fadeOut();
		$.cookie("sitenewsbanner", $('#sitenewscontainer .sitenewsbody').attr("data-seq"), { expires: 14, path: '/' });
	}
	$(function() {
		{% comment %}
			if (cong_dist && cong_dist.reps && 0) {
				if (!the_user && cong_dist.reps[0].key_vote) {
					var p = cong_dist.reps[0];
					var vote_way;
					if (p.key_vote.option == "+") vote_way = "voted yes on";
					else if (p.key_vote.option == "-") vote_way = "voted against";
					else if (p.key_vote.option == "0") vote_way = "did not vote in the vote on";
					else if (p.key_vote.option == "P") vote_way = "abstained in the vote on";
					
					$('#sitenews div.ex').hide();
					$('#sitenews div.sitenewsbody').html(
						  p.name
						+ " <a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_vote_link');\" href='" + p.key_vote.link + "' style='text-decoration: none'>"
						+ vote_way + " "
						+ p.key_vote.description
						+ "</a>. "
						+ "We'll alert you the next time " + p.pronoun + " votes. "
						+ "<a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_sign_up');\" href='/events/track-something?feed=pv:" + p.id + "' style='font-weight: bold'>Sign Up ></a>"
						+ " <small style='margin-left: 1em'>(<a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_wrong');\" href='/congress/members/" + cong_dist.state + "' style='text-decoration: none'>Not your rep?</a>)</small>"
						);
					$('#sitenewscontainer').fadeIn();
				} else if (document.location.pathname != cong_dist.reps[0].link) {
					$('#sitenews div.ex').hide();
					$('#sitenews div.sitenewsbody').html(
						"Live in " + cong_dist.state + "-" + cong_dist.district + "? "
						+ "Check up on <a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_click');\" href='" + cong_dist.reps[0].link + "'>" +  cong_dist.reps[0].name + "</a>.");
					$('#sitenewscontainer').fadeIn();
				}
			}
		{% endcomment %}
		
		// get the first (after the X) link's href, and if it's the current page, don't show
		// the banner.
		var cur_link = null;
		try {
			cur_link = $('#sitenewscontainer a:not(:first)').first().attr("href");
		} catch (err) { }
			
		if ($.cookie("sitenewsbanner") != $('#sitenewscontainer .sitenewsbody').attr("data-seq")
			&& document.location.pathname != cur_link) {
			$.cookie("sitenewsbanner", null, { path: '/' }); // in case it has a different value
			$('#sitenewscontainer').fadeIn();
			setTimeout("$('#trending_bills > a').each(function() { $(this).truncate_text() });", 10); // a little after the fade has started so the divs are shown
		}
	});
	</script>
	{% endif %}

	{% if user_has_bounced_mail %}
	<div id="sitenewscontainer">
		<div id="sitenews">
			<div style="float: right; width: 20px; text-align: right; font-weight: bold;"> </div>
			<div style="float: right; width: 500px; padding: 8px;">
				<div>An email update to you bounced. We have turned off your email updates. Please contact the website administrator to reactivate email updates.</div>
			</div>
			<div style="clear: both"> </div>
		</div>
	</div>
	{% endif %}

	<nav id="masthead" class="navbar navbar-default">
	  <div class="container">

	  	{% comment %}
	  	<div style="float: right; margin: -6px 0 10px 0">
	  		<button type="button" class="btn btn-primary" onclick="$('#leg-services-teaser').modal()">
	  			Hire a Legislative Analyst <span class="label label-success">new</span>
	  		</button>
	  	</div>
	    <div id="leg-services-teaser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="leg-services-teaser-title" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title" id="leg-services-teaser-title">GovTrack Legislative Services PRO</h4>
	          </div>
	          <div class="modal-body">
		  		<p>Don&rsquo;t have the budget to hire an in-house congressional analyst or pay for a full scale legislative tracking service?</p>
		  		<p>The GovTrack team can provide you or your organization with tailored updates on a specific bill or multiple bills covering a particular policy area &mdash; at a competitive cost.</p>
		  		<hr>
		  		<p><i>Request information about GovTrack Legislative Services PRO.</i></p>
				<form class="form-horizontal" style="margin-top: 1.5em" onsubmit="return false;">
				  <div class="form-group">
				    <label for="leg-services-teaser-name" class="col-sm-3 control-label">Your Name</label>
				    <div class="col-sm-9">
				      <input type="text" class="form-control" id="leg-services-teaser-name" placeholder="Your Name" name="name">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="leg-services-teaser-email" class="col-sm-3 control-label">Email</label>
				    <div class="col-sm-9">
				      <input type="email" class="form-control" id="leg-services-teaser-email" placeholder="Email" name="email" value="{% if not request.anonymous %}{{request.user.email}}{% endif %}">
				      {% if request.anonymous %}
				      <script>$(function(){ if (the_user && the_user.email) $('#leg-services-teaser-email').val(the_user.email); })</script>
				      {% endif %}
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <p>Tell us a bit about your organization and your legislative tracking needs.</p>
				      <textarea class="form-control" rows="4" name="message"></textarea>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-9">
				      <button type="submit" class="btn btn-primary" onclick="submit_leg_services_teaser()">Request Information</button>
				    </div>
				  </div>
				</form>
	          </div>
	        </div>
	      </div>
	    </div>	  	
	  	<div class="clearfix"> </div>
	  	{% endcomment %}

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#masthead-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a id="logo" href="/" class="navbar-brand {% block logo_class %}{% endblock %}">govtrack.us</a>
	    </div>
	    <div class="collapse navbar-collapse" id="masthead-navbar-collapse">
	      <div id="nav">
	      <ul class="nav navbar-nav">
	        {% block hide_nav %}
			<li><a href="/">Home</a></li>
			<li class="dropnav">
				<a href="/start">Browse</a>
				<ul>
					<li><a href="/congress/members">Members <em>of</em> Congress</a></li>
					<li><a href="/congress/bills">Bills <em>&amp;</em> Resolutions</a></li>
					<li><a href="/congress/votes">Voting Records</a></li>
					<li><a href="/congress/committees">Committees</a></li>
					<li><a href="/congress/live">Live Video (Beta)</a></li>
					<li><a href="/videos" style="line-height: 120%">GovTrack Videos (Original Reporting)</a></li>
				</ul>
			</li>
			<li class="dropnav">
				<a href="/start">Track</a>
				<ul>
					{% if request.anonymous %}
						<li id="nav_track_start"><a href="/start">Start Tracking</a></li>
						<li id="nav_track_lists" style="display: none"><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
						<script>if (the_user) {
							$('#nav_track_start').find('a').text("Add a Tracker");
							$('#nav_track_lists').show();
						}</script>
					{% else %}
						{% if user.is_authenticated %}
						<li><a href="/start">Add a Tracker</a></li>
						<li><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
						{% else %}
						<li><a href="/start">Start Tracking</a></li>
						{% endif %}
					{% endif %}
					<li><a href="/accounts/docket">Your Docket</a></li>
				</ul>
			</li>
			<li><a href="/about">About</a></li>
			<li><a href="/developers">Open data</a></li>
	        {% endblock %}
	      </ul>
	      </div>
	      <ul class="nav navbar-nav navbar-right">
			{% block override_login %}
			{% if not user.is_authenticated %}
				<li id="nav_askcd" {% if request.anonymous %}style="display: none"{% endif %}><a href="#" onclick="return show_askcd();">Set District</a></li>
				<li id="nav_login"><a href="/accounts/login?next={{request.path|urlencode}}">Log In</a></li>
				{% if request.anonymous %}
					<li id="nav_logout" style="display: none"><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>
				{% endif %}
			{% else %}
				<li><a href="/accounts/profile">{{user.email}}</a></li>
				<li><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>
			{% endif %}
			{% endblock %}
			{% if request.anonymous %}
				<script>if (the_user) {
					$('#nav_login').find('a').text(the_user.email).attr('href', '/accounts/profile');
					$('#nav_logout').show();
				} else {
					$('#nav_askcd').show()
				}</script>
			{% endif %}
			<li>
				<form name="header_search" action="/search" method="GET" class="search-form" role="search">
					<fieldset>
						<div class="text"><input type="text" placeholder="Search" name="q"/></div>
						<input class="btn-search" type="submit" value="Search" />
					</fieldset>
				</form>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	{% block override_breadcrumbs %}
	<div id="breadcrumbs">
		<div class="container">
			{% block crumbs %}{% endblock %}
			{% comment %}
			<ul class="twelve columns">
				<li><a href="#">Congress</a></li>
				<li>Bills & Resolutions</li>
			</ul>
			{% endcomment %}
		</div>
	</div>
	{% endblock %}

	{% block body_with_container %}
		<div class="container">
			<div id="content">
				{% block body %}
				{% endblock %}
			</div><!-- /content -->
		</div> <!-- /container -->
	{% endblock %}

		<footer id="footer">
			<div class="container">
			<div class="row">

				<nav class="col-sm-3 col-md-2">
					<h4><span>site</span> Menu</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/start">Start Tracking</a></li>
						<li><a href="/about">About GovTrack</a></li>
						<li><a href="/developers">Open Data</a></li>
						<li><a href="/legal">Privacy &amp; Legal</a></li>
						{% if not user.is_authenticated %}
						<li><a href="/accounts/login">Log in</a></li>
						{% else %}
						<li><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
						<li><a href="/accounts/profile">Account Settings</a></li>
						<li><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>
						{% endif %}
					</ul>
				</nav>

				<section class="col-sm-2 social">
					<h4><span>follow</span> GovTrack</h4>
					<ul>
						<li><a href="https://www.facebook.com/pages/GovTrackus/312186525430"><i class="fa fa-facebook fa-fw"></i><span>Facebook</span></a></li>
						<li><a href="http://twitter.com/govtrack"><i class="fa fa-twitter fa-fw"></i><span>Twitter</span></a></li>
						<li><a href="https://medium.com/govtrack-insider"><i class="fa fa-medium fa-fw"></i><span>Medium</span></a></li>
						<li><a href="/blog"><i class="fa fa-quote-right fa-fw"></i><span>Blog</span></a></li>
						<li><a href="https://github.com/govtrack/govtrack.us-web/commits/master"><i class="fa fa-github fa-fw"></i><span>Code</span></a></li>
					</ul>
				</section>

				<section class="col-md-offset-1 col-sm-6">
					<p>Launched in 2004, GovTrack helps everyone learn about and track the activities of the United States Congress. This is a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a>. GovTrack.us is not a government website.</p>

					<p><a href="/about">About the Site</a> | <a href="/contact">Contact Us</a></p>

					<p>You are encouraged to reuse any material on this site. GovTrack supports other Congress-tracking websites through our <a href="/developers">open data</a>.</p>
					
					{% block footer_extra %}{% endblock %}
				</section>

			</div>
			</p>
		</footer>

	</div><!-- /wrapper -->

    <div id="error_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="errorModalTitle"> </h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
    <script>
	function show_modal(title, message) {
		$('#error_modal h4').text(title);
		if (message.charAt(0) != '<') {
			$('#error_modal .modal-dialog').toggleClass('modal-sm', true);
			$('#error_modal .modal-body').html($("<p/>").text(message).html());
		} else {
			$('#error_modal .modal-dialog').toggleClass('modal-sm', false);
			$('#error_modal .modal-body').html(message);
		}
		$('#error_modal').modal({});
	}
	</script>

	<script src="/static/js/govtrack.js?20151003"></script>
	{% include "ask_district.html" %}

	{% comment %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//www.govtrack.us/analytics/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 1]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//www.govtrack.us/analytics/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
	{% endcomment %}

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	{% block body_scripts %}{% endblock %}
	
	{% comment %}
    <div id="mysoc_survey_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mysoc_survey_modal_title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="mysoc_survey_modal_title">Help Improve GovTrack</h4>
          </div>
          <div class="modal-body">
	        <div id="ms_srv_wrapper">
		    <p>Would you please <a href="https://www.surveygizmo.co.uk/s3/2195811/Baselining-GovTrack-us" id="ms_srv_link" data-transaction="report" target="_blank">take this survey</a> to help us make GovTrack even better?</p>
			</div>
          	<p>Knowing a bit about our users helps us build the best site we can. Thank you!</p>
          	<p>Your Congress-tracking friend,</p>
          	<p>Josh</p>
          </div>
        </div>
      </div>
    </div>
	<script async src="/static/js/mysociety-survey-script.js?20150622"></script>
	{% endcomment %}

</body>
</html>
{% endwith %}
