{% extends "master.html" %}
{% block body_with_container %}
<div class="container">
	<div class="row">
		<div class="col-sm-2" style="padding-top: 1em">
			<img src="/static/images/{% block cat-icon-filename %}{% endblock %}" alt="Page Icon" class="img-responsive"/>
		</div>
		<div class="col-sm-7">
			<div style="padding-right: 2em">
				{% block summary %}
				{% endblock %}
			</div>
		</div>
		<div class="col-sm-3">
			<a href="/events/track-something?feed={{feed.feedname|urlencode}}" class="track-btn" style="margin: .5em auto;">Track {% block track_button_noun %}This{% endblock %}</a> 
			<p style="margin: 0; line-height: 115%;"><small>{% block track_button_explanation %}...{% endblock %}</small></p>
		</div>
	</div>

	<hr>

	{% block body %}
	{% endblock %}
</div>
{% endblock %}
