{% load govtrack_utils %}
{% with "/static/" as MEDIA_URL %} {% comment %}The 500 error page doesn't set this variable! {% endcomment %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<title>{% block title %}{% endblock %}</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

		<link media="all" rel="stylesheet" href="{{ MEDIA_URL }}css/all{% if not debug %}-min{% endif %}.css?20130722" />
		<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css" media="screen" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="description" content="{% block meta_description %}{% endblock %}" />
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
		{% if HTTP_HOST == "test.govtrack.us" %}<meta name="robots" content="noindex" />{% endif %} {% comment %}moot because site is currently behind authz {% endcomment %}

		{% comment %}<meta property="fb:admins" content="620474" />{% endcomment %}
		<meta property="fb:app_id" content="119329904748946" />
		<meta property="og:site_name" content="GovTrack.us" />
		{% block og_image %}<meta property="og:image" content="http://www.govtrack.us/static/images/media_icon.png?20130118" />{% endblock %}
	

		{% block extra_css %}{% endblock %}

		<script type="text/javascript" src="{{ MEDIA_URL }}js/modernizr.js"></script> {% comment %}html5shiv{% endcomment %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>
			// when debugging off the network, fall back to a local copy of jquery
			try { $; } catch (err) {
				document.write("{{ "<script src='/static/js/jquery-1.7.2.min.js'> </script>"|escapejs }}");
			}
		</script>
		{% if not request.anonymous %}
			<script>$('html').ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{csrf_token|escapejs}}"); });</script> <!-- {% csrf_token %} -->
			<script>
				var the_user = null;
				{% include "user_head_script.js" %}
			</script>
		{% else %}
			{% include "twostream/head.html" %}
		{% endif %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
		<script src="{{ MEDIA_URL }}js/jquery.ba-bbq.min.js"></script>
		<link rel="stylesheet" href="{{ MEDIA_URL }}js/colorbox/colorbox.css" />
		<script src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-utils.js?2013-07-07"></script>
		{% block extra_js %}{% endblock %}
		

		<script type="text/javascript">
		var ad_exp = null;
		window.fbAsyncInitFuncs = Array(); // Facebook init functions should be defined between here and the FB embed later
		
		<!-- Google Analytics -->
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_KEY|escapejs}}']);
		_gaq.push(['_setCustomVar', 1, "Login Type", {% if request.user.is_authenticated %}"Logged In"{% elif request.anonymous %}the_user ? "Logged In" : "Anonymous"{% else %}"Anonymous"{% endif %}, 2]);
		_gaq.push(['_setCustomVar', 2, "MySegment", {% if not request.anonymous %}"{% if remote_net_house %}House{% elif remote_net_senate %}Senate{% elif is_dc_local %}DC{% else %}Other{% endif %}"{% else %}the_segment{% endif %}, 1]);
		_gaq.push(['_setCustomVar', 3, "AdExp", ad_exp, 3]);
		_gaq.push(['_trackPageview']);
		{% if not debug %}
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		{% endif %}
		
		</script>
		
		{% block head %}{% endblock %}
	</head>

<body class="{% block body_class %}{% endblock %}">

	{% if 1 and pagename != "blog_template" and not user_has_bounced_mail %}
	<div id="sitenewscontainer" style="display: none" data-seq="31">
		<div id="sitenews">
			<div class="ex"><a href="#" onclick="return hide_site_news()">X</a></div>
			<div class="sitenewsbody">
				{% comment %}
				<p>Want to hide the ads? You can now <a href="http://www.govtrack.us/accounts/go_ad_free">go ad-free</a> for $2/year.</p>
				{% endcomment %}
				
				<div style="font-size: 85%; color: #553;">Trending on GovTrack now...</div>
				<div id="trending_bills" style="max-width: 920px; margin: 0 auto; font-size: 90%;">
				{% for f in trending_feeds %}
					<a class="no-hover-border" style="width: 230px; float: left; padding-right: 15px; margin: 3px 0; line-height: 120%; max-height: 2.5em; overflow: hidden;" href="{{f.link}}" onclick="return trackOutboundLink(this, 'sitenewsbanner', 'trending-bill');">
						{{f.title}}
					</a>
				{% endfor %}
				<div style="clear: both"> </div>
				</div>
			</div>
			<div style="clear: both"> </div>
		</div>
	</div>
	<script>
	function trackOutboundLink(link, category, action) { 
		try { 
		_gaq.push(['_trackEvent', category , action]); 
		} catch(err){}
		setTimeout(function() { document.location.href = link.href; }, 100);
		return false;
	}

	function hide_site_news() {
		$('#sitenewscontainer').fadeOut();
		$.cookie("sitenewsbanner", $('#sitenewscontainer').attr("data-seq"), { expires: 14, path: '/' });
	}
	$(function() {
		{% comment %}
			if (cong_dist && cong_dist.reps && 0) {
				if (!the_user && cong_dist.reps[0].key_vote) {
					var p = cong_dist.reps[0];
					var vote_way;
					if (p.key_vote.option == "+") vote_way = "voted yes on";
					else if (p.key_vote.option == "-") vote_way = "voted against";
					else if (p.key_vote.option == "0") vote_way = "did not vote in the vote on";
					else if (p.key_vote.option == "P") vote_way = "abstained in the vote on";
					
					$('#sitenews div.ex').hide();
					$('#sitenews div.sitenewsbody').html(
						  p.name
						+ " <a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_vote_link');\" href='" + p.key_vote.link + "' style='text-decoration: none'>"
						+ vote_way + " "
						+ p.key_vote.description
						+ "</a>. "
						+ "We'll alert you the next time " + p.pronoun + " votes. "
						+ "<a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_sign_up');\" href='/start?feed=pv:" + p.id + "' style='font-weight: bold'>Sign Up ></a>"
						+ " <small style='margin-left: 1em'>(<a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_wrong');\" href='/congress/members/" + cong_dist.state + "' style='text-decoration: none'>Not your rep?</a>)</small>"
						);
					$('#sitenewscontainer').fadeIn();
				} else if (document.location.pathname != cong_dist.reps[0].link) {
					$('#sitenews div.ex').hide();
					$('#sitenews div.sitenewsbody').html(
						"Live in " + cong_dist.state + "-" + cong_dist.district + "? "
						+ "Check up on <a onclick=\"return trackOutboundLink(this, 'Banner', 'your_rep_click');\" href='" + cong_dist.reps[0].link + "'>" +  cong_dist.reps[0].name + "</a>.");
					$('#sitenewscontainer').fadeIn();
				}
			}
		{% endcomment %}
			
		if ($.cookie("sitenewsbanner") != $('#sitenewscontainer').attr("data-seq")) {
			$.cookie("sitenewsbanner", null, { path: '/' }); // in case it has a different value
			$('#sitenewscontainer').fadeIn();
			setTimeout("$('#trending_bills > a').each(function() { $(this).truncate_text() });", 10); // a little after the fade has started so the divs are shown
		}
	});
	</script>
	{% endif %}

	{% if user_has_bounced_mail %}
	<div id="sitenewscontainer">
		<div id="sitenews">
			<div style="float: right; width: 20px; text-align: right; font-weight: bold;"> </div>
			<div style="float: right; width: 500px; padding: 8px;">
				<div>An email update to you bounced. We have turned off your email updates. Please contact the website administrator to reactivate email updates.</div>
			</div>
			<div style="clear: both"> </div>
		</div>
	</div>
	{% endif %}
	
	<div id="wrapper">

		<div id="masthead">
			<div id="header-wrap">
				<header id="header" class="row">

					<a id="logo" href="/" class="{% block logo_class %}{% endblock %}">govtrack.us</a>

					<div id="nav-block">
						<div class="row">
							<div class="block right">
								<ul class="super-nav">
									{% comment %}<li><a href="#">Help</a></li>{% endcomment %}
									{% block override_login %}
									{% if not user.is_authenticated %}
										<li id="nav_login"><a href="/accounts/login?next={{request.path|urlencode}}">Log In</a></li>
										{% if request.anonymous %}<li id="nav_logout" style="display: none"><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>{% endif %}
									{% else %}
										<li><a href="/accounts/profile">{{user.email}}</a></li>
										<li><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>
									{% endif %}
									{% endblock %}
								</ul>
								{% if request.anonymous %}
									<script>if (the_user) {
										$('#nav_login').find('a').text(the_user.email).attr('href', '/accounts/profile');
										$('#nav_logout').show();
									}</script>
								{% endif %}
								<form name="header_search" action="/search" method="GET" class="search-form">
									<fieldset>
										<div class="text"><input type="text" placeholder="Search" name="q"/></div>
										<input class="btn-search" type="submit" value="Search" />
									</fieldset>
								</form>
							</div>
						</div>

						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li class="dropnav">
									<a href="/overview">Browse</a>
									<ul>
										<li><a href="/congress/members">Members <em>of</em> Congress</a></li>
										<li><a href="/congress/bills">Bills <em>&amp;</em> Resolutions</a></li>
										<li><a href="/congress/votes">Voting Records</a></li>
										<li><a href="/congress/committees">Committees</a></li>
										<li><a href="/congress/live">Live Video (Beta)</a></li>
										<li><a href="/overview#states">State Legislation (Beta)</a></li>
										<li><a href="/videos" style="line-height: 120%">GovTrack Videos (Original Reporting)</a></li>
									</ul>
								</li>
								<li class="dropnav">
									<a href="/start">Track</a>
									<ul>
										{% if request.anonymous %}
											<li id="nav_track_start"><a href="/start">Start Tracking</a></li>
											<li id="nav_track_lists" style="display: none"><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
											<script>if (the_user) {
												$('#nav_track_start').find('a').text("Add a Tracker");
												$('#nav_track_lists').show();
											}</script>
										{% else %}
											{% if user.is_authenticated %}
											<li><a href="/start">Add a Tracker</a></li>
											<li><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
											{% else %}
											<li><a href="/start">Start Tracking</a></li>
											{% endif %}
										{% endif %}
										<li><a href="/accounts/docket">Your Docket</a></li>
									</ul>
								</li>
								<li><a href="/about">About</a></li>
								<li><a href="/developers">Use our data</a></li>
							</ul>
						</nav>

						<nav id="mobile-nav">
							<select onchange="window.location = $(this).val();">
								<option value="">Go to...</option>
								<option value="/">Home</option>
								<optgroup label="Browse">
									<option value="/congress/members">Members of Congress</option>
									<option value="/congress/bills">Bills &amp; Resolutions</option>
									<option value="/congress/votes">Voting Records</option>
									<option value="/congress/committees">Committees</option>
									<option value="/congress/live">Live Video (Beta)</option>
									<option value="/overview#states">State Legislation (Beta)</option>
									<option value="/videos">GovTrack Videos</option>
								</optgroup>
								<optgroup label="Track">
									{% if user.is_authenticated %}
									<option value="/accounts/lists">What I&rsquo;m Tracking</option>
									<option value="/accounts/docket">Your Docket</option>
									{% endif %}
								</optgroup>
								<option value="/about">About</option>
								<option value="/developers">Use our data</option>
							</select>
						</nav><!-- /mobile-nav -->

					</div><!-- /nav-block -->
				</header>
			</div><!-- /header-wrap -->

			{% block override_breadcrumbs %}
			<div id="breadcrumbs">
				<div class="row">
					{% block crumbs %}{% endblock %}
					{% comment %}
					<ul class="twelve columns">
						<li><a href="#">Congress</a></li>
						<li>Bills & Resolutions</li>
					</ul>
					{% endcomment %}
				</div>
			</div>
			{% endblock %}

		</div><!-- /masthead -->



		{% block override_content %}
		<div id="content" class="row">
			{% block heading_box %}
			<header class="heading-box row">
				<div class="eight columns">
					{% block summary %}
					{% endblock %}
				</div>
				<div class="four columns">
					{% block links %}
					{% endblock %}
				</div>
			</header>
			{% endblock %}


			{% block body %}
			{% endblock %}



		</div><!-- /content -->
		{% endblock %}


		<footer id="footer">
			<div class="holder row">

				<nav class="two columns">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/overview">Overview</a></li>
						<li><a href="/about">About GovTrack</a></li>
						<li><a href="/developers">For Developers</a></li>
						{% if not user.is_authenticated %}
						<li><a href="/accounts/login">Log in</a></li>
						{% else %}
						<li><a href="/accounts/lists">What I&rsquo;m Tracking</a></li>
						<li><a href="/accounts/profile">Account Settings</a></li>
						<li><a href="/accounts/logout?next={{request.path|urlencode}}">Log Out</a></li>
						{% endif %}
					</ul>
				</nav>

				<section class="six columns offset-by-one">
					<h4><span>site</span> Information</h4>
					<p>GovTrack.us is a project of <a href="http://www.civicimpulse.com">Civic Impulse, LLC</a>. Read <a href="/about">about GovTrack</a>.</p>
					<p>Feedback is welcome to <a href="mailto:&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;">&#111;&#112;&#101;&#114;&#097;&#116;&#105;&#111;&#110;&#115;&#064;&#103;&#111;&#118;&#116;&#114;&#097;&#099;&#107;&#046;&#117;&#115;</a>,
					or submit bugs/issues directly to <a href="https://github.com/govtrack/govtrack.us-web/issues">our issue tracker</a>.
					We can&rsquo;t pass on messages to Members of Congress.</p>
					<p>You are encouraged to reuse any material on this site. GovTrack supports other Congress-tracking websites through our <a href="/developers">open data</a>.</p>
					{% block footer_extra %}{% endblock %}
				</section>

				<section class="two columns social">
					<h4><span>follow</span> GovTrack</h4>
					<ul>
						<li><a href="http://www.facebook.com/pages/Civic-Impulse/312186525430"><span>Facebook</span></a></li>
						<li><a href="http://twitter.com/govtrack"><span>Twitter</span></a></li>
						<li><a href="/blog"><span>Blog</span></a></li>
						<li><a href="https://github.com/govtrack/govtrack.us-web/commits/master">Source Code</a></li>
					</ul>
				</section>

			</div>
		</footer>

	</div><!-- /wrapper -->

	<!-- Facebook -->
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
		// init the FB JS SDK
		FB.init({
		  appId      : '119329904748946', // App ID from the App Dashboard
		  status     : false, // check the login status upon init?
		  cookie     : false, // set sessions cookies to allow your server to access the session?
		  xfbml      : true  // parse XFBML tags on this page?
		});

		// Additional initialization code such as adding Event Listeners goes here
		for (var i = 0; i < window.fbAsyncInitFuncs.length; i++) {
			window.fbAsyncInitFuncs[i]();
		}
	  };

	  // Load the SDK's source Asynchronously
	  // Note that the debug version is being actively developed and might
	  // contain some type checks that are overly strict.
	  // Please report such bugs using the bugs tool.
	  (function(d, debug){
		 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement('script'); js.id = id; js.async = true;
		 js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
		 ref.parentNode.insertBefore(js, ref);
	   }(document, /*debug*/ false));
	</script>

	{% block body_scripts %}{% endblock %}

</body>
</html>
{% endwith %}
