<script>
var win_loc_hash = window.location.hash; // may change between now and ()'s execution
$(function() {
	setTimeout(function() {
		// Don't show any pop-ups after a log in that returns to
		// a pop-up track button panel.
		if (win_loc_hash == "#track") return;

		// Read the persistent cookie for flags.
		var flags = $.cookie("flags");
		flags = !flags ? {} : parse_qs(flags);

		// Increment a counter.
		flags.hits = (parseInt(flags.hits) || 0) + 1;

		if (win_loc_hash == "#opencongress") {
			// Special dialog for folks coming from OpenCongress.
			window.location.hash = "";
			$('#opencongress_modal').modal();
			ga('send', 'event', 'referral', 'opencongress');
		
		//} else if (flags.hits > 1 && flags.hits < 10 && (flags.hits % 3) == 0) {
		//	$('#supportus_modal').modal();
		//	ga('send', 'event', 'popup', 'support_us');

		//} else if (flags.hits == 5) {
		//	$('#survey_modal').modal();
		//	ga('send', 'event', 'popup', 'survey');

		} else if (Math.random() < .3) {
			// Show twitter follow popup.
			show_followus(flags);
		}

		// Save flags.
		$.cookie("flags", form_qs(flags), { expires: 21, path: '/' });
	}, 750)
});

function show_followus(flags) {
	if (flags.foll_tw) return; // only show once
	flags.foll_tw = true;

	$('#followus_modal').modal();
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
}
</script>


<div id="followus_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="followusModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="followusModalTitle">Follow us?</h4>
      </div>
      <div class="modal-body">
        <p style="margin-bottom: 20px">We tweet when bills are enacted and when we publish original research.</p>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/govtrack" data-widget-id="508366437044330496" data-height="250" data-tweet-limit="2" data-chrome="nofooter noborders">Tweets by @govtrack</a>
      </div>
      <!--<div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Not Now</button>
      </div>-->
    </div>
  </div>
</div>


<div id="opencongress_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="opencongressModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="opencongressModalTitle" style="font-size: 22px; font-weight: bold; font-family: sans-serif">Welcome to GovTrack.us</h4>
      </div>
      <div class="modal-body">
      	<p>Thank you for giving GovTrack a try. Like OpenCongress, GovTrack is for <strong>researching and tracking legislation before the U.S. Congress</strong>.</p>
      	<p style="text-align: center">★</p>
      	<p>Things here should seem very familiar to you. OpenCongress and GovTrack have always had a data sharing partnership, so you&rsquo;ll find the <strong>exact same information here as what you had on OpenCongress</strong>, just arranged a little differently.</p>
      	<p>And GovTrack has actually been here for more than a decade. This is the site that began <strong>the movement to improve access to Congress using technology</strong>.</p>
      	<p>Unlike OpenCongress, we&rsquo;re funded through advertising and crowdfunding.</p>
      	<p style="text-align: center">★</p>
      	<p>For more, please see <a href="/about">About Us</a>, or follow us <a href="http://twitter.com/govtrack">@GovTrack</a> on Twitter, <a href="https://www.facebook.com/govtrack/">on Facebook</a>, or on <a href="https://medium.com/govtrack-insider">Medium</a>.</p>
      </div>
    </div>
  </div>
</div>


<div id="supportus_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="supportus_modalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="supportus_modalTitle" style="font-size: 28px; font-weight: bold;">Congress is about to wake up.</h4>
      </div>
      <div class="modal-body">
		<p>When President-elect Trump takes office on January 20, the House, Senate, and White House will be controlled by the same party for the first time in six years.</p>

		<p>Things are going to happen fast. Congress is expected to move quickly on Trump's agenda <a href="http://www.forbes.com/sites/stancollender/2016/11/11/gop-to-do-previously-unimaginable-things-to-slam-dunk-its-agenda/#648c6b5a67b5" target="_blank">using the same tactics</a> immune to the filibuster that Democrats used to enact the Affordable Care Act in 2010.</p>

		<p>Now more than ever we need transparency in Congress.</p>

		<p>Over the last year we&rsquo;ve helped 10 million Americans track Congress using bill alerts. We hope to continue <a href="https://medium.com/govtrack-insider" target="_blank">GovTrack Insider</a>, where we put the most important legislation into plain English. We've also worked <i>with</i> Congress on improving transparency at the source.</p>

		<p>We now need your help. We&rsquo;re simply out of money. We can&rsquo;t continue GovTrack Insider or improve our bill tracking tools without your financial support. Important pieces of GovTrack will end on December 31 if we can&rsquo;t pay for it. If you are able, please:

		<p style="text-align: center; font-size: 125%; font-family: 'Roboto Slab', sans-serif; font-weight: bold;"><a href="https://www.patreon.com/govtrack" style="background-color: #9D2146;
    color: white;
    padding: .5em;
    display: inline-block;
    text-decoration: none;">Donate to Support Our Work</a></p>
		<p>Thanks very much for being a part of GovTrack.</p>
		<p>Joshua Tauberer<br>
		Founder, GovTrack.us</p>
      </div>
    </div>
  </div>
</div>

<div id="survey_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="survey_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="survey_modal_title" style="font-size: 28px; font-weight: bold;">User Survey</h4>
      </div>
      <div class="modal-body">
		<p>How can we better help you track Congress?</p>
		<p>Are you able to help us in ways besides financial support?</p>
		<p>We are asking all of our users to take this survey to help us figure out how best to continue our mission into 2017.</p>
		<p style="text-align: center; font-size: 125%; font-family: 'Roboto Slab', sans-serif; font-weight: bold;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc2lR6i9_AcNLV2ZfwFRKSUhSdf7a9VKhFrkhnG9xzRaEV4Rw/viewform" style="background-color: #9D2146;
    color: white;
    padding: .5em;
    display: inline-block;
    text-decoration: none;">Take GovTrack&rsquo;s Survey</a></p>
      </div>
    </div>
  </div>
</div>



