{% load static %}
<script>
var win_loc_hash = window.location.hash; // may change between now and ()'s execution
$(function() {
	setTimeout(function() {
		// Don't show any pop-ups after a log in that returns to
		// a pop-up track button panel.
		if (win_loc_hash == "#track") return;

		// Read the persistent cookie for flags.
		var flags = $.cookie("flags1");
		flags = !flags ? {} : parse_qs(flags);

		// Increment a counter.
		flags.hits = (parseInt(flags.hits) || 0) + 1;

		!function() {
			if (show_announcement(flags)) return;
			//if (show_fundraise(flags)) return;
			//if (show_usergroup(flags)) return;
			//if (show_followus(flags)) return;
		}();

		// Save flags.
		$.cookie("flags1", form_qs(flags), { expires: 28, path: '/' });
	}, 750)
});

function show_followus(flags) {
	// only show this modal once
	if (flags.follow_us == 2) return false;
	flags.follow_us = 2;

	$('#followus_modal').modal();

	// add twitter async script
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

	return true;
}

function show_usergroup(flags) {
	// only show this modal once
	if (flags.hits <= 10) return false;
	if (flags.usergroup) return false;
	flags.usergroup = true;
	$('#usergroup_modal').modal();
	ga('send', 'event', "user group signup", "modal shown");
	return true;
}

function show_fundraise(flags) {
	// only show this modal once
	if (flags.fundraise == 1) return false;
	flags.fundraise = 1;
	$('#fundraise_modal').modal();
	return true;
}

function show_announcement(flags) {
	// only show this modal once
	if (flags.ancmt == 3) return false;
	flags.ancmt = 3;
	//$('#run_of_site_announcement_modal').modal();
	show_where_is_congress_modal();
	return true;
}
</script>


<div id="followus_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="followusModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="followusModalTitle">Getting Started with GovTrack.us</h2>
      </div>
      <div class="modal-body">
        <p>GovTrack.us is an independent website tracking the status of legislation in the United States Congress and helping you participate in your national legislature. Here are some tips to get started.</p>
        <hr>

        <div class="row">
          <div class="col-sm-6">
            <p><span class="dropnum">1.</span> Follow us on Twitter and Facebook for updates about legislation in Congress.</p>

            <div>
              <a href="https://twitter.com/govtrack?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @govtrack</a>
              <span style="width: 2em">&nbsp;</span>
              <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fgovtrack&width=120&height=21&layout=button_count&size=small&show_faces=true&appId" width="120" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>

            <p><span class="dropnum">2.</span> Sign up for our articles by email and then get legislative alerts for your reps or issues you care about.</p>

            <div>
              <a class="btn btn-primary btm-sm" href="/events/govtrack-insider" target="_blank"><i class="glyphicon glyphicon-envelope"></i> Sign Up</a>
              <a class="btn btn-primary btm-sm" href="/start" target="_blank"><i class="glyphicon glyphicon-flash"></i> Get Alerts</a>
            </div>
            
            <p><span class="dropnum">3.</span> Support our work so we can bring you more information about what Congress is doing each day.</p>

            <div>
              <a class="btn btn-primary btm-sm" href="/accounts/membership" target="_blank"><i class="glyphicon glyphicon-usd"></i> One Time</a>
              <a class="btn btn-primary btm-sm" href="https://www.patreon.com/govtrack" target="_blank"><i class="glyphicon glyphicon-credit-card"></i> Monthly</a>
            </div>
          </div>
          <div class="col-sm-6" style="max-height: 325px; overflow: auto;">
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/govtrack" data-widget-id="508366437044330496" data-chrome="noheader nofooter noborders transparent" data-tweet-limit="3">Tweets by @govtrack</a>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Not Now</button>
      </div>-->
    </div>
  </div>
</div>

<style>
#usergroup_modal label {
	display: block;
}
</style>
<script>
$(function() {
	function update_next_enabled() {
		// Update disabled/enabled state of Next button.
		$('#usergroup_modal .btn-primary').prop('disabled',
			$('#usergroup_modal input:checked').length == 0
			||
			($('#usergroup_modal .step-two').is(":visible")
			 && !/\w/.test($('#usergroup_modal .step-two input').val()))
		)

		// Show hide corresponding next paragraph.
		var first_checked_group = $('#usergroup_modal input:checked').first().attr('id');
		$('#usergroup_modal .step-two p[data-for]').each(function() {
			$(this).toggle($(this).attr('data-for') == first_checked_group);
		});
	}
	$('#usergroup_modal input').click(update_next_enabled);
	$('#usergroup_modal input').keyup(update_next_enabled);
	$('#usergroup_modal input').change(update_next_enabled);
	$('#usergroup_modal input').click(function() {
		ga('send', 'event', "user group signup", $(this).attr('id').substring("usergroup_modal_".length));
	});
	update_next_enabled();
	$('#usergroup_modal .btn-primary').click(function() {
		if (!$('#usergroup_modal .step-two').is(":visible")) {
			$('#usergroup_modal .step-two').slideDown();
			$('#usergroup_modal .step-two input').focus();
			update_next_enabled();
		} else if (!$('#usergroup_modal .step-three').is(":visible")) {
			// submit!
			$('#usergroup_modal .step-three').slideDown();
			$('#usergroup_modal .btn-default').fadeOut();
			$('#usergroup_modal .btn-primary').text("Close");


			var groups = [];
			$('#usergroup_modal input:checked').each(function() {
				groups.push($(this).attr('id').substring("usergroup_modal_".length));
			});

			$.ajax({
				method: "POST",
				url: "/user-group-signup",
				data: {
					groups: groups.join(","),
					email: $('#usergroup_modal .step-two input').val()
				}
			});
			ga('send', 'event', "user group signup", "submit");
		} else {
			// close
			$('#usergroup_modal').modal('hide');
		}
	});
})
</script>
<div id="usergroup_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="usergroup_modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="usergroup_modal_title">Join GovTrack&rsquo;s Advisory Community</h2>
      </div>
      <div class="modal-body">
      	<p>We’re looking to learn more about who uses GovTrack and what features you find helpful or think could be improved. If you can, please take a few minutes to help us improve GovTrack for users like you.</p>
      	<p>Start by telling us more about yourself:</p>
      	<label for="usergroup_modal_professionals">
      		<input type="checkbox" id="usergroup_modal_professionals">
      		I&rsquo;m a lobbyist, advocate, or other professional.
      	</label>
      	<label for="usergroup_modal_youth">
      		<input type="checkbox" id="usergroup_modal_youth">
      		I&rsquo;m a young person (younger than 26 years old).
      	</label>
      	<label for="usergroup_modal_womenminority">
      		<input type="checkbox" id="usergroup_modal_womenminority">
      		I&rsquo;m a member of a minority or disadvantaged group.
      	</label>
      	<label for="usergroup_modal_educator">
      		<input type="checkbox" id="usergroup_modal_educator">
      		I&rsquo;m a teacher, librarian, or other educator.
      	</label>
      	<label for="usergroup_modal_other">
      		<input type="checkbox" id="usergroup_modal_other">
      		Other
      	</label>
      	<div class="step-two" style="display: none; padding: 1em 0;">
	      	<p data-for="usergroup_modal_professionals">
	      		We hope to make GovTrack more useful to policy professionals like you. Please sign up for our advisory group to be a part of making GovTrack a better tool for what you do.
	      	</p>
	      	<p data-for="usergroup_modal_youth">
	      		Young Americans have historically been the least involved in politics, despite the huge consequences policies can have on them. By joining our advisory group, you can help us make GovTrack more useful and engaging to young voters like you.
	      	</p>
	      	<p data-for="usergroup_modal_womenminority">
				Our mission is to empower every American with the tools to understand and impact Congress. We hope that with your input we can make GovTrack more accessible to minority and disadvantaged communities who we may currently struggle to reach. Please join our advisory group to let us know what more we can do.
	      	</p>
	      	<p data-for="usergroup_modal_educator">
				We love educating Americans about how their government works too! Please help us make GovTrack better address the needs of educators by joining our advisory group.
	      	</p>
	      	<p data-for="usergroup_modal_other">
	      		Would you like to join our advisory group to work with us on the future of GovTrack?
	      	</p>
	      	<p style="margin-bottom: 5px;">Email address where we can reach you:</p>
	      	<p><input type="text" class="form-control" placeholder="your email address" value="{{request.user.email}}"></p>
      	</div>
      	<div class="step-three" style="display: none;">
      		<p>Thank you for joining the GovTrack Advisory Community! We&rsquo;ll be in touch.</p>
      	</div>
      	<div style="padding-top: .5em;">
	      	<!--<button type="button" class="btn btn-default pull-right" data-dismiss="modal">No Thanks</button>-->
	      	<button type="button" class="btn btn-primary">Next &raquo;</button>
	    </div>
      </div>
    </div>
  </div>
</div>


<div id="fundraise_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fundraise_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="fundraise_modal_title">
    	    There’s never been a better time for civic engagement.
    	</h2>
      </div>
      <div class="modal-body">
		<p>You’ve cast your vote. Now what? Join 10 million other Americans using GovTrack to learn about and contact your representative and senators and track what Congress is doing each day.</p>
		<p>And starting in 2019 we&rsquo;ll be tracking Congress&rsquo;s oversight investigations of the executive branch.</p>
		<p>You’re more than a vote, so support GovTrack today with a tip of any amount:</p>
		<div style="font-size: 115%; font-weight: bold;">
			<p></p>
			<p><a href="/accounts/membership">One-Time Tip</a> or <a href="https://patreon.com/govtrack">Monthly Support</a></p>
		</div>
		<p style="font-size: 95%; color: #555;">Or keep using GovTrack for free! Our public interest mission means we will never put our service behind a paywall.</p>
      </div>
    </div>
  </div>
</div>

<div id="run_of_site_announcement_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="run_of_site_announcement_modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="run_of_site_announcement_modal_title">
    	    GovTrack.us is taking a new focus on civic education
    	</h2>
      </div>
      <div class="modal-body">
		<p><strong>Help us develop the tools to bring real-time legislative data into the classroom.</strong></p>

		<p>If you’ve visited a bill page on GovTrack.us recently, you may have noticed a new “study guide” tab located just below the bill title. This is part of a new project to develop better tools for bringing real-time legislative data into the classroom. We hope to enable educators to build lesson plans centered around any bill or vote in Congress, even those as recent as yesterday.</p>

		<p>We’re looking for feedback from educators about how GovTrack can be used and improved for your classroom. If you teach United States government and would like to speak with us about bringing legislative data into your classroom, please reach out!</p>

		<a href="mailto:hello@govtrack.us?subject=GovTrack%20in%20my%20classroom" class="btn btn-primary">Email Us</a>
		<button type="button" class="btn btn-default" data-dismiss="modal">Continue to site &raquo;</button>
      </div>
    </div>
  </div>
</div>

