{% load govtrack_utils %}
{% load humanize %}
<div class="sitenewsbody" data-seq="70">


	{% comment %}
	<div id="trending_trackers" style="margin: 0 auto; font-size: 90%;">
	<span class="trending_trackers_0">
		Trending on GovTrack...
    </span>
	{% for f in trending_feeds %}
		<a class="trending_trackers_{{forloop.counter}} plain" href="{{f.link}}" onclick="return trackOutboundLink(this, 'sitenewsbanner', 'trending-bill');" title="{{f.title}}">
			{{f.title|truncatewords:10}}
		</a>
	{% endfor %}
	<div style="clear: both"> </div>
	</div>
	{% endcomment %}
</div>
<div style="clear: both"> </div>

