{% extends "master.html" %}

{% load crispy_forms_tags %}
{% load govtrack_utils %}

{% block title %}Register a New Stakeholder - GovTrack.us{% endblock %}

{% block extra_css %}
<style>
  #content { max-width: 50em; }
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
{# <li><a href="/stakeholders">Stakeholders</a></li> #}
{# <li class="active">Register a New Stakeholder</li> #}
</ol>
{% endblock %}

{% block body %}

{% if related_bill %}
<h1>Register Your Organization&rsquo;s Position on {{related_bill}}</h1>
{% else %}
<h1>Register a New Stakeholder</h1>
{% endif %}

<div style="margin: 2em 0;">
<p>GovTrack is rolling out new tools for stakeholders of federal legislation.
Register your organization using the form below.</p>
</div>

<form method="post" style="margin: 2em 0;">
{% csrf_token %}
{{form|crispy}}
<input type="submit" value="Submit" class="btn btn-primary">
</form>

<p>Our team will be in touch after you register to confirm your information.</p>

{% endblock %}

{% block body_scripts %}

{% endblock %}