{% extends "master.html" %}

{% load crispy_forms_tags %}
{% load govtrack_utils %}

{% block title %}Register a New Stakeholder - GovTrack.us{% endblock %}

{% block extra_css %}
<style>
  #content { max-width: 50em; }
</style>
{% endblock %}

{% block crumbs %}
<ol class="breadcrumb">
{# <li><a href="/stakeholders">Stakeholders</a></li> #}
{# <li class="active">Register a New Stakeholder</li> #}
</ol>
{% endblock %}

{% block body %}

{% if related_bill %}
<h1>Register Your Organization&rsquo;s Position</h1>
<h2>Add your organization&rsquo;s position on {{related_bill}}.</h2>
{% else %}
<h1>Register a New Stakeholder</h1>
{% endif %}

<div style="margin: 2em 0;">
<p>Register your organization {% if related_bill %}and its position on the
bill above{% endif %} using the form below. Your submission will be reviewed
by GovTrack staff and if approved will appear {% if not related_bill %}on the site
{% else %}on the page for <a href="{{related_bill.get_absolute_url}}">{{related_bill.display_number}}</a>{% endif %}.</p>
</div>

<form method="post" style="margin: 2em 0;">
{% csrf_token %}
{{form|crispy}}
<input type="submit" value="Submit" class="btn btn-primary">
</form>

<p>Our team will be in touch after you register to confirm your information. If you have any questions,
feel free to contact us at hello@govtrack.us.</p>

{% endblock %}

{% block body_scripts %}

{% endblock %}
