{% extends "htmlemailer/boilerplate.html" %}
{% block head %}
<style>
#backgroundTable { min-width: 40em; max-width: 50em; }
#content-area { padding-left: 1em; }
p { line-height: 133%; }
</style>
{% endblock %}
{% block body %}
    <table border="0" cellpadding="5" cellspacing="2" width="100%">
      <tbody>
        <tr>
          <td valign="top">
              <p><font size="+2"><b>Congress is about to wake up.</b></font></p>
              <p>When President-elect Trump takes office on January 20, the House, Senate, and White House will be controlled by the same party. Congress is expected to move quickly on Trump&rsquo;s agenda <a href="http://www.forbes.com/sites/stancollender/2016/11/11/gop-to-do-previously-unimaginable-things-to-slam-dunk-its-agenda/#648c6b5a67b5">using the same tactics</a> immune to the filibuster that Democrats used to enact the Affordable Care Act in 2010.</p>
              <p>Now more than ever we need transparency in Congress.</p>
              <p>We&rsquo;re getting ready to continue our mission into 2017. Over the last year we&rsquo;ve helped 10 million Americans track Congress using bill alerts, we launched <a href="https://medium.com/govtrack-insider">GovTrack Insider</a>, where we put the most important legislation into plain English, and we worked <i>with</i> Congress on improving transparency at the source.</p>
              <p>But we need your help.</p>
              <p>First, we&rsquo;re simply out of money because no one funds our work. Important pieces of GovTrack including our plain-language summaries will end on December 31 if we can&rsquo;t pay for it. If every GovTrack user donated just 10 cents we could double our staff, but not everyone can. If <i>you</i> can, please help us continue GovTrack Insider and improve our bill tracking tools:</p>
              <p
                style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;text-align:
                center;"><a href="https://www.patreon.com/govtrack"
                  style="text-decoration:none;"><span style="font-size: 14.6667px; color: rgb(17, 85, 204); background-color: transparent; font-weight: 700; font-style: normal; font-variant: normal; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap;">Donate to Support Our Work</span></a></p>
              <p>Second, we want to know how we can better help you track Congress. And we need you to tell us if you can help in other ways. We are asking all of you to take a minute to</p>
              <p
                style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;text-align:
                center;"><a
                  href="https://goo.gl/forms/4lck8TGnEYLtkTcW2"
                  style="text-decoration:none;"><span style="font-size: 14.6667px; color: rgb(17, 85, 204); background-color: transparent; font-weight: 700; font-style: normal; font-variant: normal; text-decoration: underline; vertical-align: baseline; white-space: pre-wrap;">Complete This Survey</span></a></p>
              <p>to help us shape our efforts going forward.</p>
              <p>Thanks very much for being a part of GovTrack.</p>
              <p>Joshua Tauberer<br>founder, GovTrack.us</p>
          </td>
          <td valign="top"><a href="https://www.govtrack.us/"><img
                alt="GovTrack.us Logo"
                src="https://www.govtrack.us/static/images/media_icon.png"
                moz-do-not-send="true" border="0" height="200"
                width="200"></a><br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
	<p style="line-height: 125%"><small>You received this email because you have registered an account on <a href="https://www.govtrack.us">GovTrack.us</a>. To change your email settings, visit your <a href="https://www.govtrack.us/accounts/profile">account settings</a>. GovTrack.us is a project of Civic Impulse LLC. <a href="{{unsub_url}}">Unsubscribe</a></small></p>
{% endblock %}
