{% extends "htmlemailer/boilerplate.html" %}
{% load events_utils %}
{% block head %}
<style>
  #backgroundTable {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }

  a {
    color: #0000EE;
  }
  h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
    text-align: left;
  }
  h2 {
    font-family: Arial, sans-serif;
    font-size: 17pt;
    line-height: 20pt; 
    margin-top: 17px;
    margin-bottom: 0px;
    text-align: left;
  }
  h3 {
    font-family: Arial, sans-serif;
    font-size: 12pt; 
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 16pt;
    text-align: left;
  }
  h4 {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
  }
  h5 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #969698;
    margin-bottom: 20px;
    margin-top:20px;
    text-align: left;
  }
  p {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    line-height: 18pt;
    margin-top: 10px;
    text-align: left;
  }
  li {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    line-height: 16pt;
  }

        .templateColumnContainer{
            text-align: left;
        }

</style>
{% endblock %}
{% block body %}

<!-- HEADER -->
<div style="padding: 30px; text-align: center;">
  <div><a href="https://www.govtrack.us/?{{utm}}" target="blank" style="color: white"><img src="https://www.govtrack.us/static/images/logo.png" alt="GovTrack.us" border="0"></a></div>
  <div style="font-weight: bold; margin-top: 10px;">Launching GovTrack.us for tracking the White House</div>
</div>

<!-- CONTENT AREA -->

<table id="wideWrapper" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto;">
<tr>
<td>

  <table border="0" cellpadding="6" cellspacing="0" style="text-align:left !important;">
    <tr>

        <td align="center" valign="top" width="70%" class="templateColumnContainer">
          <table border="0" cellpadding="12" cellspacing="0" width="100%" style="background-color:#ffffff;border-radius:6px;text-align:left !important;">
          <tr>
              <td valign="top" class="leftColumnContent" align="left">

                <!-- BODY -->
<p>GovTrackers,</p>
<p>This week President Trump <a href="https://joshuatauberer.medium.com/trump-kills-nations-first-open-government-federal-advisory-committee-firing-me-along-with-it-258dc0971afe">terminated</a> 
the nation&rsquo;s first and only advisory committee to make a more open government,
which I served on in my personal capacity as a volunteer.
That&rsquo;s actually not why I am writing you, but it is on the nose...</p>
<p>I don&rsquo;t have to tell you how important it is that we track our elected officials, or how difficult it is to keep up with the steady stream of news out of Washington. That&rsquo;s why after twenty years of tracking the U.S. Congress, it&rsquo;s time for GovTrack.us to do more.</p>
<p>It&rsquo;s time to shine the same light on the White House.</p>
<p><strong>But we can&rsquo;t do it unless you subscribe.</strong></p>
<p>We need to raise $60,000 by March 19 to expand our team. So far $43,255 has been pledged &mdash; that&rsquo;s not enough.</p>
<p>Will you help us reach our goal?</p>
<p><a href="https://www.kickstarter.com/projects/govtrack/alert-new-executive-order?ref=1pcfhu">Click here to subscribe and back this project on Kickstarter.</a></p>
<p><a href="https://www.kickstarter.com/projects/govtrack/alert-new-executive-order?ref=1pcfhu"><img src="https://www.govtrack.us/static/kickstarter-2025-coverimage.png" alt="Back our project on Kickstarter"></a></p>
<p>If we reach our goal, we&rsquo;ll start tracking the President and the White House with updates to you about:</p>
<ul>
<li>Executive orders and other official actions</li>
<li>Actions to downsize and reshape the government, including layoffs, firings, appointments, and cuts</li>
<li>Other things like this you may be reading about</li>
</ul>
<p>In our updates we'll include</p>
<ul>
<li>The <strong>official text</strong> of executive orders so you can read it for yourself.</li>
<li>Context from us about <strong>what it means</strong> and why it&rsquo;s happening.</li>
<li>Updates on <strong>court challenges</strong> and how new executive actions are being implemented.</li>
</ul>
<p>Just like we do for Congress, this is a project about what your government is <em>actually</em> doing. No bluster or hyperbole.</p>
<p>But if we don&rsquo;t reach our funding goal, we won&rsquo;t get any of the pledged support and this project will die like a bill stuck in committee. Pledge a contribution to make it happen at this link:</p>
<p><a href="https://www.kickstarter.com/projects/govtrack/alert-new-executive-order?ref=1pcfhu"><strong>Support our new project and read more details</strong></a></p>
<p><a href="https://www.kickstarter.com/projects/govtrack/alert-new-executive-order?ref=1pcfhu">https://www.kickstarter.com/projects/govtrack/alert-new-executive-order</a></p>
<p>Backers can also get a t-shirt or some other GovTrack swag. More details and a VIDEO explaining the project are at the link above.</p>
<p>Thanks so much!</p>
<p>Joshua Tauberer</p>
<p>Founder, GovTrack.us</p>

                <!-- /BODY -->

              </td>
          </tr>
          </table>
    </td>
    </tr>
  </table>

  <!-- FOOTER -->

  <table border="0" cellpadding="0" cellspacing="0" style="text-align:center !important;">
  <tr>
        <td align="center" valign="top" width="100%" class="templateColumnContainer">
          <table border="0" cellpadding="10" cellspacing="0" width="100%">
            <tr>
              <td valign="top">
                <p style="line-height: 125%"><small>You received this email because you have registered an account on <a href="https://www.govtrack.us">GovTrack.us</a>. To change your email settings, visit your <a href="https://www.govtrack.us/accounts/profile">account settings</a>. <a href="{unsubscribe:{{unsub_url}}}">Unsubscribe from all future email from us</a></small></p>
                <p style="line-height: 125%"><small>This email was sent by <a href="https://civicimpulse.com?{{utm}}">{accountcompany}</a>, {accountaddress1}, {accountcity} {accountstate} {accountzip} {accountcountry}. You may contact us at <a href="mailto:hello@govtrack.us?subject=GovTrack%20Announcement%20ref#%20{{user.id}}">hello@govtrack.us</a>. The email address this message was sent from is not monitored for replies.</p>
            </td>
          </tr>
      </table>
    </td>
  </tr>
  </table>

</td>
</tr>
</table>

{% endblock %}


