{% extends 'master.html' %}
{% block title %}Your Lists -- GovTrack.us{% endblock %}
{% block head %}

<script>
var active_list = null;

function activate_list(elem) {
	active_list = $(elem).attr("listid");
	$('#lists div').removeClass('active');
	$(elem).addClass("active");
	$("#list_view h2").text($(elem).find(".name").text());
	
	$('#basic_trackers input').prop('checked', false);
	$("#other_feed_items").text("");

	$('#search_trackers input').val("");
	$('#search_trackers .results').html("");
	
	$.ajax({
		url: "/events/_edit",
		type: "POST",
		data: {
			listid: active_list,
			command: "list"
		},
		dataType: "json",
		success: function(data) {
			for (var i = 0; i < data.list_trackers.length; i++) {
				var n = $('#basicfeed_' + data.list_trackers[i].id);
				if (n.length) {
					// it is a basic tracker
					n.prop('checked', true);
				} else {
					add_feed_node(data.list_trackers[i].id, data.list_trackers[i].name, data.list_trackers[i].title, data.list_trackers[i].link);
				}
			}
		}
	});
	
	refresh_events();
}

function refresh_events() {
	$('#events').html("Loading...");
	$.ajax({
		url: "/events/_load_events",
		type: "POST",
		data: {
			{% if request.GET.page %}page: "{{request.GET.page|escapejs}}",{% endif %}
			listid: active_list
		},
		dataType: "html",
		success: function(data) {
			$('#events').html(data);
		}
	});	
}

function add_feed_node(id, name, title, link) {
	var t = $("<li><input type='checkbox' checked onclick='return toggle_list_item(this);'/><a/></li>");
	t.find("input").attr('id', "feed_" + id);
	t.find("input").attr('feedname', name);
	t.find("a").text(title);
	t.find("a").attr("href", link);
	//t.find("label").attr('for', "feed_" + id);

	$("#other_feed_items").append(t);
}

function toggle_list_item(elem, refresh) {
	toggle_list_item2($(elem).attr("feedname"), refresh);
}
function toggle_list_item2(feedname, refresh) {
	$.ajax({
		url: "/events/_edit",
		type: "POST",
		data: {
			listid: active_list,
			command: "toggle",
			feed: feedname
		},
		dataType: "json",
		success: function(data) {
			if (refresh)
				activate_list($('#lists div.active')[0]);
			refresh_events();
		}
	});		
}

function delete_list(node) {
	if (!confirm("Delete list " + $(node).find(".name").text() + "?")) return false; 
	$.ajax({
		url: "/events/_edit",
		type: "POST",
		data: {
			listid: $(node).attr("listid"),
			command: "delete"
		},
		dataType: "json",
		success: function(data) {
			activate_list($(node).prev()[0]);
			$(node).fadeOut(function() { $(node).remove(); });
		}
	});
	return false;
}

function rename_list(node) {
	var oldname = $(node).find(".name").text();
	var newname = prompt("Rename list " + oldname + " to...", oldname);
	if (newname && newname != "") {
		$.ajax({
			url: "/events/_edit",
			type: "POST",
			data: {
				listid: $(node).attr("listid"),
				command: "rename",
				name: newname
			},
			dataType: "json",
			success: function(data) {
				$(node).find(".name").text(newname);
				activate_list(node);
			}
		});
	}
	return false;
}

function change_email_options(node) {
	$.ajax({
		url: "/events/_edit",
		type: "POST",
		data: {
			listid: $(node).attr("listid"),
			command: "email_toggle"
		},
		dataType: "json",
		success: function(data) {
			$(node).find(".emailinfo").text(data.list_email);
		}
	});
	return false;
}

function new_list(node) {
	$.ajax({
		url: "/events/_edit",
		type: "POST",
		data: {
			listid: "_new_list",
			command: "create"
		},
		dataType: "json",
		success: function(data) {
			var n = $('#lists > div:first').clone();
			n.insertBefore($('#newlist'));
			n.find(".name").text(data.list_name);
			n.find(".emailinfo").text(data.list_email);
			n.attr("listid", data.list_id);
			n.removeClass("default_list");
			n.hide();
			n.fadeIn();
			activate_list(n);
		}
	});
	return false;
}

function search_feeds(type) {
	var q = $('#track_' + type + '_input').val();
	if (q.replace(/\s/g,"") == "") {
		$('#track_' + type + '_results').text("");
		return;
	}
	
	$('#track_' + type + '_results').text("Loading...");
	ajax("/events/search_feeds", { "type": type, "q": q }, {
			success: function(res) {
				$('#track_' + type + '_results').html("");
				var html = $("<ul/>");
				for (feed in res.feeds) {
					var li = $("<li/>");
					html.append(li);
					
					var a = $("<a href='#' onclick='return false'/>");
					li.append(a);
					a.text(res.feeds[feed].title);
					a.attr("feedname", res.feeds[feed].name);
					a.click(function() { toggle_list_item(this, true); });
				}
				$('#track_' + type + '_results').append(html);
			}
	});		
}

$(function() {
	{% if request.GET.listid %}
	$('#lists div.list').each(function() {
		if (this.getAttribute("listid") == "{{request.GET.listid|escapejs}}")
			activate_list(this);
	});
	{% endif %}
	if (!active_list) activate_list($('#lists div.list')[0]);
});
</script>
{% endblock %}

{% block crumbs %}
<h1>Your Lists</h1>
{% endblock %}

{% block heading_box %}
{% endblock %}

{% block body %}
<section class="group">
	<div id="lists">
	<h3>Select a list to manage</h3>
	{% for list in request.user.userprofile.lists %}
		{% comment %}since the first of these nodes is cloned when we
		create a new list, it should not have any list-specific data hidden away
		except where we expect that to be{% endcomment %}
		

		<div class="list {% if forloop.first and not feeds %}active{% endif %} {% if list.is_default %}default_list{% endif %}" listid="{{list.id}}" onclick="activate_list(this)">
			<h3>{{list.name}}</h3>
			<div class="options">
				<span class="opts edit"><a class="icon edit" href="#" onclick="return rename_list(this.parentNode.parentNode.parentNode);">Rename</a></span>
				<span class="opts no_default_list"><a class="icon trash" href="#" onclick="return delete_list(this.parentNode.parentNode.parentNode);">Delete</a></span>
			</div>
			<div class="list_info">
				<div class="num">## items</div>
				<div class="freq">Update frequency: <span class="email_info">Weekly</span></div>
			</div>
		</div>


	{% endfor %}
		<a id="newlist" class="button" href="#" onclick="new_list()">+ Create New List</a>

	</div><!-- /lists -->
</section>

<section id="list_view">

	<h1><span>Settings For </span>List Name Goes Here</h1>

	<div id="edit_list" class="col_6">
		
		<div id="set_freq" class="control">
			<h3>How often do you want updates?</h3>
			<div>
				<label for="email_frequency">Receive update emails</label>
				<select name="email_frequency">
					<option value="daily">Daily</option>
					<option value="weekly">Weekly</option>
					<option value="monthly">Monthly</option>
					<option value="ends_y">Days that end with "Y"</option>
					<option value="9th_thurs">Every 9th Thursday</option>
				</select>
			</div>
		</div><!-- /set_freq -->


		<div id="items" class="control">
			<h3>Tracked Items <span>in</span> This List</h3>
			<ul id="other_feed_items">
			</ul>
		</div><!-- /items -->
		
		<div id="search_trackers" class="control">
			<h3>Find More Items <span>to</span> Track</h3>
			<label>Search For:</label>
			<div>
				<input id="track_person_input" type="text" style="width: 100%" placeholder="search by last name, zipcode, or state name"/>
			</div>
			<div class="results" id="track_person_results"> </div>
			<script>
				$('#track_person_input').keyup_delayed(function() { search_feeds("person"); });
			</script>

			<div id="browse_links">
				<h4>Browse:</h4>
				<a href="/congress/members">Members</a> &#8226; <a href="/congress/bills">Bills</a> &#8226; <a href="/congress/votes">Votes</a> &#8226; <a href="/congress/committees">Committees</a>
			</div>
		</div><!-- /search_trackers -->

		<div id="suggested" class="control">
			<h3>Suggested Items <span>to</span> Track</h3>
			<ul id="basic_trackers">
				{% for feed in no_arg_feeds %}
					<li>
						<input id="basicfeed_{{feed.id}}" feedname="{{feed.feedname}}" type="checkbox" onclick="return toggle_list_item(this);"/>
						{% if not feed.link %}
							<label for="basicfeed_{{feed.id}}">{{feed.title}}</label>
						{% else %}
							<a href="{{feed.link}}">{{feed.title}}</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div><!-- /suggested -->

	</div>

	<div id="events_list" class="col_6">
		<div id="events_header" class="group">
			<h3>List Feed</h3>
			<a href="#" class="add_icon rss">Subscribe by RSS</a>
		</div>

		<div id="events">
	</div><!-- /events -->

</section>
{% endblock %}
