{% extends "htmlemailer/boilerplate.html" %}
{% load events_utils %}
{% block head %}
<style>
	#backgroundTable {
		font-family: Arial, sans-serif;
		background-color: #F2F2F2;
	}

	li { font-size: 11pt; }

	a {
		color: #0000EE;
	}
	h1 {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 21pt;
		text-align: left;
	}
	h2 {
		font-family: Arial, sans-serif;
		font-size: 18pt;
		line-height: 18pt; 
		margin-top: 10px;
		margin-bottom: 0px;
		text-align: left;
	}
		.rightColumnContent h2 {
			font-size: 15pt;
			line-height: 15pt; 
			margin-top: 8px;
		}
	h3 {
		font-family: Arial, sans-serif;
		font-size: 12pt; 
		margin-top: 10px;
		margin-bottom: 20px;
		line-height: 16pt;
		text-align: left;
	}
	h4 {
		font-family: Arial, sans-serif;
		font-size: 12pt;
		font-weight: normal;
		text-align: left;
	}
	h5 {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 10pt;
		color: #969698;
		margin-bottom: 10px;
		margin-top: 0;
		text-align: left;
	}
	p {
		font-family: Arial, sans-serif;
		font-size: 11pt;
		font-weight: normal;
		line-height: 14pt;
		margin-top: 10px;
		text-align: left;
	}

        .templateColumnContainer{
            text-align: left;
        }

        .leftColumnContent{
            text-align: left;
        }

        .rightColumnContent{
            text-align: left;
        }

        .rightColumnContent p {
			font-size: 10pt;
			line-height: 13pt;
		}

    @media only screen and (min-width: 751px){
		#wideWrapper > tr > td { padding: 0 12px; }
	}

    @media only screen and (max-width: 750px){
		#wideWrapper > tr > td { padding: 0; }

        .templateColumnContainer{
            display:block !important;
            width:95% !important;
            padding: 10px;
        }

        .leftColumnContent{
            font-size:16pt !important;
            line-height:125% !important;
        }

        .rightColumnContent{
            font-size:16pt !important;
            line-height:125% !important;
        }
    }

#announcement-holder {
	margin-bottom: 2em;
	padding: .25em 1em .25em 1em;
	border: 1px solid #DDD;
	background-color: #F3F3FF;
}
#announcement-holder p, #announcement-holder li {
	margin-bottom: .25em;
}
</style>
{% endblock %}
{% block body %}
{% with "utm_campaign=govtrack_email_update&utm_source=govtrack/email_update&utm_medium=email" as utm %}

<!-- HEADER -->
<div style="background-color: #1D4E70; color: white; margin-bottom: 30px; padding: 30px; text-align: center;">
	<div><a href="https://www.govtrack.us/?{{utm}}" target="blank" style="color: white"><img src="https://www.govtrack.us/static/images/logo.png" alt="GovTrack.us" border="0"></a></div>
	<div style="color: white; font-weight: bold; margin-top: 4px;">Email Update</div>
</div>

<!-- CONTENT AREA -->

<table id="wideWrapper" border="0" cellpadding="0" cellspacing="0" style="max-width: 850px; margin: 0 auto;">
<tr>
<td>

	<table border="0" cellpadding="6" cellspacing="0" style="text-align:left !important;">
    <tr>

		<!-- LEFT COLUMN -->

        <td align="center" valign="top" width="70%" class="templateColumnContainer">
        	<table border="0" cellpadding="12" cellspacing="0" width="100%" style="background-color:#ffffff;border-radius:6px;text-align:left !important;">
			    <tr>
			        <td valign="top" class="leftColumnContent" align="left">

						<!-- ANNOUNCEMENT -->
						{% if announcement %}
						<div id="announcement-holder">
				            {% if announcement.subject %}<h2>{{announcement.subject}}</h2>{% endif %}
							{{announcement.body_html|safe}}
						</div>
						{% endif %}


						{% for list, events in eventslists %}
				            <h2 style="text-align:left;">{{list.name}}</h2>

							{% for event in events %}
							{% with event|render_event:feed as meta %}

				            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #F2F2F2;margin-bottom:10px;margin-top:20px;">
				            	<tr valign="top">
                                    <td width="100" style="padding-right: 1em; padding-top: 20px;">
                                      {% if meta.thumbnail_url %}
                                        <a href="{{SITE_ROOT_URL}}{{meta.url|append_qsarg:utm}}">
                                          <img src="{% if ":" not in meta.thumbnail_url %}{{SITE_ROOT_URL}}{% endif %}{{meta.thumbnail_url}}" style="width: 100%;">
                                        </a>
                                      {% endif %}
                                    </td>

					            	<td style="text-align:left !important; padding-top: 20px;">
							            <h5>{% if not meta.date_has_no_time %}{{event.when}}{% else %}{{event.when|date}}{% endif %} &mdash; {{meta.type}}</h5>
										<h3><span style="text-align:left"><a href="{{SITE_ROOT_URL}}{{meta.url|append_qsarg:utm}}">{{meta.title}}</a></span></h3>
										{{meta.body_html|safe}}

										{% if event.feeds and event.feeds|length > 0 %}
											<div style="font-size: 80%">Trackers:
											{% for feed in event.feeds %}{% if not forloop.first %}, {% endif %}
											<a href="{{SITE_ROOT_URL}}{{feed.link|append_qsarg:utm}}">{{feed.title}}</a>{% endfor %}.
											</div>
										{% endif %}
					            	</td>
				            	</tr>
				            </table>
							{% endwith %}
							{% endfor %}

							<br />
						{% empty %}
							<p>There were no new events in Congress that match your trackers since your last email update from GovTrack.</p>
						{% endfor %}

			        </td>
			    </tr>
        	</table>
		</td>

		<!-- RIGHT COLUMN -->

	    <td align="center" valign="top" width="30%" class="templateColumnContainer">

        	<table border="0" cellpadding="12" cellspacing="0" width="100%" style="background-color:#ffffff;border-radius:6px;text-align:left !important;">
			    <tr>
			        <td valign="top" class="rightColumnContent" align="left">
			            <h2 style="text-align:left;">Like these updates?</h2>
			            <table border="0" cellpadding="0" cellspacing="0" width="100%">
			            	<tr>
				            	<td style="text-align:left !important;">
			                        <p style="text-align:left !important;">Supporting our work with a <a href="https://www.patreon.com/govtrack">recurring tip</a> or <a href="https://www.govtrack.us/accounts/membership">one-time tip</a> will help us keep this service free for everyone.</p>
				            	</td>
			            	</tr>
			            </table>
			        </td>
			    </tr>
        	</table>

	       	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="12px">
        		<tr>
        			<td>
        			</td>
        		</tr>
        	</table>

		    {% if medium_posts %}
        	<table border="0" cellpadding="12" cellspacing="0" width="100%" style="background-color:#ffffff;border-radius:6px;text-align:left !important;">
			    <tr>
			        <td valign="top" class="rightColumnContent" align="left">
			            <h2 style="text-align:left;">On GovTrack Insider</h2>
						{% for post in medium_posts|slice:"0:3" %}
			            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #F2F2F2;margin-bottom:5px;margin-top:20px;padding-top:10px;width:100%;">
			            	<tr valign="top">
				            	<td style="text-align:left !important;">
									{% if post.image_100px %}
									<div style="float: right; margin: 10px 0 1em 1em">
										<a href="{{post.url}}?{{utm}}">
											<img src="{{post.image_100px}}" style="border: 1px solid #888; width: 65px;"/>
										</a>
									</div>
									{% endif %}
	
			                        <p><a href="{{post.url}}?{{utm}}">{{post.title}}</a></p>
									<p><span style="font-size: 90%; color: #555;">{{post.snippet}} <span class="article-date">{{post.published}}</span></span></p>
				            	</td>
			            	</tr>
			            </table>
						{% endfor %}
						<p>Get all GovTrack Insider posts by <a href="https://www.govtrack.us/events/govtrack-insider?{{utm}}">adding them to your email updates</a>.</p>
			        </td>
			    </tr>
        	</table>
	       	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="12px">
        		<tr>
        			<td>
        			</td>
        		</tr>
        	</table>
			{% endif %}

        	<table border="0" cellpadding="12" cellspacing="0" width="100%" style="background-color:#ffffff;border-radius:6px;text-align:left !important;">
			    <tr>
			        <td valign="top" class="rightColumnContent" align="left">
			            <h2 style="text-align:left;">Follow Us on Social Media</h2>
					    <p>
					    <a href="https://www.facebook.com/govtrack/" title="Facebook Page">Facebook</a> |
					    <a href="http://twitter.com/govtrack" title="Twitter Page">Twitter</a> |
					    <a href="https://medium.com/govtrack-insider" title="Medium Page">Medium</a>
					    </p>
			        </td>
			    </tr>
        	</table>

        </td>
    </tr>
	</table>

	<!-- FOOTER -->

	<table border="0" cellpadding="0" cellspacing="0" style="text-align:center !important;">
	<tr>
        <td align="center" valign="top" width="100%" class="templateColumnContainer">
        	<table border="0" cellpadding="10" cellspacing="0" width="100%">
        		<tr>
        			<td valign="top">
			        	<p style="text-align:center;">You are receiving this email because you are subscribed to email updates from <a href="https://www.govtrack.us?{{utm}}">www.GovTrack.us</a>.</p>
			        	<p style="text-align:center;">To change your email update settings go to your <a href="https://www.govtrack.us/accounts/profile?{{utm}}">account settings</a> or <a href="{unsubscribe}">unsubscribe from all mail from us</a>.</p>
						<p style="text-align:center;">GovTrack.us is a project of <a href="https://civicimpulse.com?{{utm}}">{accountcompany}</a>, {accountaddress1}, {accountcity} {accountstate} {accountzip} {accountcountry}. You may contact us at <a href="mailto:hello@govtrack.us?subject=Email%20update%20|%20ref#%20{{user.id}}">hello@govtrack.us</a>. The email address this message was sent from is not monitored for replies.</p>
				    </td>
			    </tr>
			</table>
		</td>
	</tr>
	</table>

</td>
</tr>
</table>

{% endwith %}

{% if emailpingurl %}
<!-- Sorry but we want to know if your email address is still valid. -->
<img src="{{emailpingurl}}" width="1" height="1"/>
{% endif %}
{% endblock %}
