{% load events_utils %}
<html>
	<head>
		<title>GovTrack Email Update</title>
	</head>
	<body>
<h1>GovTrack.us Email Update</h1>

{% with "utm_campaign=govtrack_email_update&utm_source=govtrack/email_update&utm_medium=email" as utm %}

<p style="margin: 2em 1em 2em 1em; padding: 1em; border: 1px solid #DDD; background-color: #F3F3FF">Did you know we&rsquo;re on Facebook and Twitter? Like <a href="https://www.facebook.com/pages/Civic-Impulse/312186525430">our Facebook page</a> or follow <a href="https://twitter.com/govtrack">@GovTrack</a> to stay up to date with the latest bills in Congress.</p>

<p>This is your email update from <a href="http://www.govtrack.us?{{utm}}">GovTrack.us</a>. To change your email update settings, including to unsubscribe, go to <a href="http://www.govtrack.us/accounts/profile?{{utm}}">your account settings</a>.</p>

{% for list, events in eventslists %}
<h3>{{list.name}}</h3>
	{% for event in events %}
	{% with event|render_event:feed as meta %}
	<div style="margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #999;">
	<p>{% if not meta.date_has_no_time %}{{event.when}}{% else %}{{event.when|date}}{% endif %} &mdash; {{meta.type}}</p>
	<h4><a href="http://www.govtrack.us{{meta.url|append_qsarg:utm}}">{{meta.title}}</a></h4>
	<div style="margin-left: 2em">
		{{meta.body_html|safe}}
		{% if event.feeds and event.feeds|length > 0 %}
			<div><small>You are seeing this event because you subscribe to
				{% for feed in event.feeds %}{% if not forloop.first %}, {% endif %}
					<a href="http://www.govtrack.us{{feed.link|append_qsarg:utm}}">{{feed.title}}</a>{% endfor %}.
			</small></div>
		{% endif %}
	</div>
	</div>
	{% endwith %}
	{% endfor %}
{% endfor %}

<hr/>

<p>To unsubscribe or change your email updates settings, go to <a href="http://www.govtrack.us/accounts/lists?{{utm}}">Your Lists</a>.</p>
<p>This email was sent by <a href="http://www.civicimpulse.com?{{utm}}">Civic Impulse, LLC</a>. You may contact us at <a href="mailto:operations@govtrack.us">operations@govtrack.us</a>. The email address this message was sent from is not monitored for replies.</p>

{% endwith %}

{% if emailpingurl %}
<!-- Sorry but we want to know if your email address is still valid. -->
<img src="{{emailpingurl}}" width="1" height="1"/>
{% endif %}
	</body>
</html>
