{% extends 'master.html' %}
{% block title %}Tracked Events in Congress -- GovTrack.us{% endblock %}
{% block head %}
<style>
.col_6 {
	width: 440px;
	float: left;
}
.feed_active_span { display: none; }
.active .feed_inactive_span { display: none; }
.active .feed_active_span { display: inline; }

#lists .opts { display: none; }
#lists > div {
	padding: 3px;
	cursor: pointer;
}
#lists > div.active {
	color: black;
	background-color: #EEE;
}
#lists > div:hover .opts {
	display: inline;
	font-size: 90%;
	color: #777;
}
#lists > div.default_list .no_default_list { display: none; }
#lists > div:hover .opts a {
	color: #666;
}
	#lists > div:hover .opts a:hover {
		border: none;
		text-decoration: underline;
	}
</style>

<script>
var feeds = {{feeds_json|safe}};
{% if not request.user.is_authenticated %}
// This variable and function are used if the user is logged out and the
// Edit Your Feed/List controls are used to modify the feeds= query
// string parameter on this page. Adding/removing a feed generates a
// new feeds= value and then opens that page.
function togglefeed(feedname, force_add) {
	var idx = feeds.indexOf(feedname);
	if (idx == -1) {
		feeds.push(feedname);
	} else if (!force_add) {
		feeds = feeds.splice(0, idx) + feeds.splice(idx+1, feeds.length); 
	}
	
	idx = document.location.href.indexOf("?");
	var idx2 = document.location.href.indexOf("#");
	if ((idx2 < idx && idx2 != -1) || idx == -1) idx = idx2;
	if (idx == -1) {
		document.location = document.location.href + "?feeds=" + feeds;
	} else {
		document.location = document.location.href.substr(0, idx) + "?feeds=" + feeds;
	}

	return false; // override href
}

$(function() {
	load_feed_items();
});

{% else %}
function activate_list(elem) {
	if (elem && !elem.parentNode) return; // when we delete a node, its div click handler gets executed, but it is already deleted
	$("#lists > div").removeClass("active");
	if (elem) {
		$(elem).addClass("active");
		if ($(elem).attr("listid") == "_new_list") {
			$('#basic_trackers li').removeClass("active");
			$('#other_feed_items').text("");
		}
	}
	load_feed_items();
	$('#edit_list').toggle(elem != null);
}

// This function is used to modify a user's tracker list.
function togglefeed(feedname, force_add) {
	load_feed_items([!force_add ? "toggle" : 'add', feedname]);
	$('#search_trackers input').val("");
	$('#search_trackers .results').html("");
	return false;
}

function list_set_state(trackers) {
	$('#basic_trackers li').removeClass("active");
	$('#other_feed_items').text("");
	var first_other_item = true;
	for (var i = 0; i < trackers.length; i++) {
		var n = $('#basic_trackers li[feedname=' + trackers[i][1] + "]");
		if (n.length > 0) {
			n.addClass("active");
		} else {
			if (first_other_item) {
				first_other_item = false;
				$('#other_feed_items').append(
					$("<h3/>").text("Additional Trackers")
					);
			}
			
			var feedname = trackers[i][1];
			var d = $("<div><span/><a href='#' onclick='return false'>remove</a></div>");
			d.find("span").text(trackers[i][0]);
			d.find('a').click(function() { return togglefeed(feedname); }) // not working?
			$('#other_feed_items').append(d);
		}
	}
}

function list_created(listid, listname, listemailinfo) {
	// use the first list (there is always one) as a template
	var n = $('#lists > div:first').clone();
	n.insertBefore($('#newlist'));
	n.find(".name").text(listname);
	n.find(".emailinfo").text(listemailinfo);
	n.attr("listid", listid);
	n.removeClass("default_list");
	$("#lists > div").removeClass("active");
	n.addClass("active");
}

function rename_list(node) {
	node = $(node);
	$("#lists > div").removeClass("active");
	node.addClass("active");
	
	var newname = prompt("Rename list " + node.find('.name').text() + " to...", node.find(".name").text());
	if (newname && newname != "") {
		load_feed_items(["rename", newname]);
		node.find(".name").text(newname);
	}

	return false;
}

function delete_list(node) {
	// first activate it so we can run command
	node = $(node);
	
	if (!confirm("Delete list " + node.find('.name').text() + "?"))
		return false;
	
	$("#lists > div").removeClass("active");
	node.addClass("active");
	load_feed_items(["delete", ""]);
	
	// delete node
	node.remove();
	
	// activate some other list
	$("#lists > div:first").addClass("active");
	load_feed_items();

	return false;
}

$(function() {
	load_feed_items();
});

{% endif %}

function load_feed_items(command) {
	var list = $('#lists > div.active').attr("listid");

	$.ajax({
		url: "/events/_load_events",
		data: {
			feeds: feeds.join(","),
			{% if request.user.is_authenticated %}
			listid: list,
			{% endif %}
			command: !command ? "show" : command[0],
			command_arg: !command ? "true" : command[1]
		},
		dataType: "html",
		success: function(data) {
			if (command && command[0] == "rename") return;
			if (command && command[0] == "delete") return;
			$('#events').html(data);
		}
	});
			
}

function search_feeds(type) {
	var q = $('#track_' + type + '_input').val();
	if (q.replace(/\s/g,"") == "") {
		$('#track_' + type + '_results').text("");
		return;
	}
	
	$('#track_' + type + '_results').text("Loading...");
	ajax("/events/search_feeds", { "type": type, "q": q }, {
			success: function(res) {
				$('#track_' + type + '_results').html("");
				var html = $("<ul/>");
				for (feed in res.feeds) {
					var li = $("<li/>");
					html.append(li);
					
					var a = $("<a href='#' onclick='return false'/>");
					li.append(a);
					a.text(res.feeds[feed].title);
					a.click(function() { togglefeed(res.feeds[feed].name, true); });
				}
				$('#track_' + type + '_results').append(html);
			}
	});		
}

</script>
{% endblock %}

{% block crumbs %}
<h1>Tracked Events</h1>
{% endblock %}

{% block heading_box %}
{% endblock %}

{% block body %}
<div class="col_6">
	<div id="events"> </div>
	&nbsp;
</div>

<div class="col_6" style="margin-left: 40px">
	{% if not request.user.is_authenticated %}
	<div id="getevents">
		<h2 style="margin-bottom: .5em">How To Subscribe</h2>
		<p>Use a RSS feed reader to subscribe to the <a href="/events/events.rss?feeds={{request.GET.feeds|urlencode}}">RSS feed</a> for the events shown to the left.</p>
		<p>You must <a href="/acccounts/register">register</a> or <a href="/acccounts/login">log in</a> to save the list or get updates on these events by email.</p>
	</div>
	{% endif %}
	
	{% if request.user.is_authenticated %}
	<div>
		{% if feeds|length > 0 %}
		<h2>Currently showing events for...</h2>
		<ul class="bullets" onclick="activate_list(null)">
			{% for f in feeds %}
				<li>{{f.title}}</li>
			{% endfor %}
		</ul>
		{% endif %}
	
		<h2>Tracker Lists</h2>
		<div id="lists">
		{% for list in request.user.userprofile.lists %}
			{% comment %}since the first of these nodes is cloned when we
			create a new list, it should not have any list-specific data hidden away
			except where we expect that to be{% endcomment %}
			<div class="{% if forloop.first and not feeds %}active{% endif %} {% if list.is_default %}default_list{% endif %}" listid="{{list.id}}" onclick="activate_list(this)">
				<span class="name">{{list.name}}</span>
				<span class="opts"><a href="#" onclick="return rename_list(this.parentNode.parentNode);">rename</a></span>
				<span class="opts no_default_list">| <a href="#" onclick="return delete_list(this.parentNode.parentNode);">delete</a></span>
				<br/><small class="emailinfo">{{list.get_email_display}}</span> <span class="opts">(<a href="#" onclick="return change_email_options(this.parentNode.parentNode);">change</a>)</span></small>
			</div>
		{% endfor %}
		<div id="newlist" onclick="activate_list(this)" listid="_new_list">
			New List
		</div>
		</div>
	</div>
	{% endif %}

	<div id="edit_list" {% if feeds and request.user.is_authenticated %}style="display: none"{% endif %}>
		{% if not request.user.is_authenticated %}
		<h2 style="margin-bottom: .5em">Customize The Feed</h2>
		<p>Select which events to include in your feed.</p>
		{% else %}
		<h2>Add/Remove Trackers from List</h2>
		{% endif %}
		
		<h3 style="margin-bottom: .5em">Basic Events</h3>
		<ul id="basic_trackers">
			{% for feed, selected in no_arg_feeds %}
				<li class="{% if selected %}active{% endif %}" feedname="{{feed.feedname}}"><span class="feed_inactive_span">O</span><span class="feed_active_span">X</span> <a href="#" onclick="return togglefeed('{{feed.feedname|escapejs}}');">{{feed.title}}</a></li>
			{% endfor %}
		</ul>
		{% if other_feeds %}
		<h3 style="margin-bottom: .5em">Other Events</h3>
		<ul id="additional_trackers">
			{% for feed in other_feeds %}
				<li class="active" feedname="{{feed.feedname}}"><span class="feed_active_span">X</span> <a href="#" onclick="return togglefeed('{{feed.feedname|escapejs}}');">{{feed.title}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		
		<div id="other_feed_items"></div>
		
		<h3 style="margin-bottom: .5em">Add More Events</h2>
		<div id="search_trackers">
		
		<div>Add events related to a Member of Congress: (<a href="/congress/members">browse all</a>)</div>
		<div><input id="track_person_input" type="text" style="width: 100%"/></div>
		<div class="results" id="track_person_results"> </div>
		<script>
			$('#track_person_input').input_default("search by last name, zipcode, or state name");
			$('#track_person_input').keyup_delayed(function() { search_feeds("person"); });
		</script>
		
		<div style="margin-top: 1em">Add events related to a committee: (<a href="/congress/committees">browse all</a>)</div>
		<div><input id="track_committee_input" type="text" style="width: 100%"/></div>
		<div class="results" id="track_committee_results"> </div>
		<script>
			$('#track_committee_input').input_default("search by committee name");
			$('#track_committee_input').keyup_delayed(function() { search_feeds("committee"); });
		</script>
		
		<div style="margin-top: 1em">Add events related to a subject area:</div>
		<div><select id="track_subject_input"><option value="">(Select a Subject Area)</option>{% for id, name in subject_choices %}<option value="{{id}}">{{name}}</option>{% endfor %}</select></div>
		<script>$('#track_subject_input').change(function() { togglefeed("crs:" + this.value); });</script>
		
		
		<p style="margin-top: 1em">You can find other events by <a href="/congress/bills">searching for bills</a>.</p>
		
		</div>
	</div>
</div>
{% endblock %}
