{% load events_utils %}

{% for event in page.object_list %}
{% with event|render_event:feeds as meta %}
	<div class="tracked_event">
		<h4 class="event_title"><a href="{{meta.url}}">{{meta.title}}</a></h4>

		<div class="event_type">Type: <span>{{meta.type}}</span></div>

		<div class="event_date">
			<span>Date: </span>
			{% if not meta.date_has_no_time %}
				{{event.when}}
			{% else %}
				{{event.when|date}}
			{% endif %}
		</div>

		{% if event.feeds|length > 0 %}
			<div class="event_feed_title">From feed: <small>
				{% for feed in event.feeds %}
					{% if not forloop.first %}, {% endif %}
					{{feed.title}}
				{% endfor %}
			</small></div>
		{% endif %}
		
		<div class="event_body">
			<h5>Activity: </h5>
			{{meta.body_html|safe}}
		</div>
	</div>
{% endwith %}
{% empty %}
<p>No events are tracked by the selected list.</p>
{% endfor %}
{% comment %}{% include "pagination.html" %}{% endcomment %}


