{% extends 'master.html' %}
{% block title %}Track {{feed.title}} -- GovTrack.us{% endblock %}

{% block head %}
<style>
#choose-list { padding: 0; }
#choose-list li { display: block; }
</style>
{% endblock %}

{% block body_scripts %}
<script>
var selected_feed = "{{feed.feedname|escapejs}}";

function show_feed() {
	$('#events_preview').html("<p class='error'>Loading...</p>");
	$.ajax({
		url: "/events/_load_events",
		type: "POST",
		data: { feed: selected_feed, count: 10, newtab: 1 },
		dataType: "html",
		success: function(data) {
			$('#events_preview').html(data);
		}
	});

	update_login_links();
	
	return false;
}

function update_login_links() {
	// update login/registration links
	var qs = "add=" + encodeURIComponent(selected_feed);
	{% if not request.user.is_authenticated or request.user.subscription_lists.count <= 1 %}
		qs += "&emailupdates=" + $('#email_frequency').val();
	{% else %}
		qs += "&listid=" + $('input:radio[name=list]:checked').val();
	{% endif %}
	
	$('a').each(function() {
		var href = this.getAttribute("href_original");
		if (!href) {
			href = this.getAttribute("href");
			if (!href) return;
			this.setAttribute("href_original", href);
		}
		this.setAttribute("href", href.replace("REPLACE_FEED_HERE", (href.indexOf("next=") >= 0) ? encodeURIComponent(qs) : qs));
	});
}


$(function() {
	show_feed();
});
</script>
{% endblock %}

{% block body %}
<h1>Track {{feed.title}}</h1>

<p>{{feed.description}}</p>

<div class="row">

	<div class="col-sm-6">
		<h2><span>Tracking Options</span></h2>

			{% if not request.user.is_authenticated or request.user.subscription_lists.count <= 1 %}
				<p>How often would you like updates by email?</p>
				<select id="email_frequency" name="email_frequency" onchange="update_login_links();" style="margin-bottom: 2em; width: auto;" class="form-control">
					<option value="0">No Email - I&rsquo;ll come back on my own.</option>
					<option value="1" selected>Daily Emails</option>
					<option value="2">Weekly Emails</option>
				</select>
			{% else %}
				<p>Which list would you like to add this tracker into?</p>
				<ul id="choose-list">
					{% for sublist in request.user.userprofile.lists %}
						<li>
							<input id="sublist{{sublist.id}}" type="radio" name="list" value="{{sublist.id}}" {% if forloop.counter == 1 %}checked{% endif %}  onchange="update_login_links();"/>
							<label for="sublist{{sublist.id}}">{{sublist.name}}</label>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if not request.user.is_authenticated %}
		
			<div class="signin_social">
				{% with "/accounts/lists?"|add:"REPLACE_FEED_HERE" as singlesignon_next %}
					{% include "registration/login_singlesignon.html" %}
				{% endwith %}
				<p style="margin: .5em 0 1em 0; font-size: 90%;">You can use your Google account for a fast, no-password way to log into GovTrack. Just click the appropriate button above. Or register the simple way by clicking the New Account button below.
				(If you previously used Facebook, use the <a href="/registration/reset-password">password reset</a> link to switch to using your email address and password to log in.</p>
			</div>
			<div style="clear: both"> </div>
		
			<a class="btn btn-success" href="/registration/signup?next={{"/accounts/lists?REPLACE_FEED_HERE"|urlencode}}">New Account</a>
			<a class="btn btn-success" href="/accounts/login?next={{"/accounts/lists?REPLACE_FEED_HERE"|urlencode}}">Log In</a>
			
			{% else %}
			<div style="margin-top: 1em">
				<a class="btn btn-success" href="/accounts/lists?REPLACE_FEED_HERE">Save</a>
			</div>
			{% endif %}
		</div>
			
		<div class="col-sm-6">

			<h2><span>What You Will Be Tracking</span></h2>

			<div id="events_preview">
			</div><!-- /events -->
		</div>
</div>
{% endblock %}
