{% load govtrack_utils %}

<style>
#new_list_row p {
	margin: 3px 0 3px 0;
}
</style>
<script>
var feed_cur_feed = "{{feed.feedname|escapejs}}";
var feed_list_state = {{% for f in feed.includes_feeds_and_self %}
	"{{f.feedname|escapejs}}": {
		{% for list in request.user.userprofile.lists %}{{list.id}}: {% if f in list.trackers.all %}true{% else %}false{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
	}{% if not forloop.last %}, {% endif %}{% endfor %}
};
var has_tracker = false;
function show_track_panel() {
	// in the simple mode, update the control state now
	$('#track_panel .btn.add').text(!has_tracker ? 'Add Tracker' : 'Update');
	$('#track_panel .if_has_tracker').toggle(has_tracker);
	if (has_tracker) {
		$('#track_panel .show_events_to_track').remove();
		$('#track_panel .events_to_track').show();
	}
	
	$("#track_panel").modal();
	
	return false;
}
function hide_track_panel() {
	$("#track_panel").modal("hide");
}

{% if request.user.is_authenticated %}
{% if request.user.userprofile.lists.count <= 1 %}
	{% for f in feed.includes_feeds_and_self %}
	{% if f in request.user.userprofile.lists.0.trackers.all %}
		has_tracker = true;
	{% endif %}
	{% endfor %}
	function save_tracker() {
		var emailfreq = $("#track_panel .list_select li.selected").attr("email_freq");
		$.ajax({
			url: "/events/_edit",
			type: "POST",
			data: {
				email_freq: emailfreq,
				command: "add",
				feed: feed_cur_feed
			},
			dataType: "json",
			success: function(data) {
				hide_track_panel();
			}
		});
		//_paq.push(['trackEvent', 'trackers', 'add', feed_cur_feed]);
		return false; // cancel click
	}
	function remove_tracker() {
		$.ajax({
			url: "/events/_edit",
			type: "POST",
			data: {
				command: "remove-from-all",
				feed: feed_cur_feed
			},
			dataType: "json",
			success: function(data) {
				hide_track_panel();
			}
		});
		//_paq.push(['trackEvent', 'trackers', 'remove', feed_cur_feed]);
		return false; // cancel click
	}
	function toggle_list_item1(node) {
		$(node.parentNode.parentNode).find(">li").removeClass('selected');
		$(node.parentNode).addClass('selected');
		return false; // cancel click
	}
{% else %}
	function toggle_list_item1(node) {
		return toggle_list_item(node);
	}
{% endif %}
	function toggle_list_item(node) {
		var listid = $(node.parentNode).attr("list_id");
		$.ajax({
			url: "/events/_edit",
			type: "POST",
			data: {
				listid: listid,
				command: "toggle",
				feed: feed_cur_feed
			},
			dataType: "json",
			success: function(data) {
				feed_list_state[feed_cur_feed][listid] = data.state;
				$(node.parentNode).toggleClass('selected', data.state);
				//_paq.push(['trackEvent', 'trackers', data.state ? 'add' : 'remove', feed_cur_feed]);
			}
		});
		return false; // cancel click
	}
	function new_list(node) {
		$.ajax({
			url: "/events/_edit",
			type: "POST",
			data: {
				listid: "_new_list",
				command: "add",
				feed: feed_cur_feed
			},
			dataType: "json",
			success: function(data) {
				var item = $(node).parents('.list_select').find('.base_list_row').clone();
				item.removeClass('base_list_row');
				item.attr("list_id", data.list_id);
				item.addClass("selected");
				item.find(".name").text(data.list_name);
				item.find('.viewlist').attr('href', "/list/" + data.list_public_id);
				item.insertBefore($(node).parents('.list_select').find('.new_list_row'));
				item.fadeIn();
			}
		});
		return false;
	}
	function selected_feed_changed(new_feed) {
		$("#track_panel_selected_feed li").removeClass('selected');
		$(new_feed.parentNode).addClass("selected");
		
		feed_cur_feed = $(new_feed).attr('feed');

		{% if request.user.userprofile.lists.count <= 1 %}
		{% else %}
		$('.list_select li').each(function() {
			if ($(this).hasClass("new") || $(this).hasClass("all")) return; // skip these buttons
			$(this).toggleClass('selected', feed_list_state[feed_cur_feed][$(this).attr('list_id')]);
		});
		{% endif %}
		
		return false; // cancel click
	}
{% endif %}

function show_add_to_list_panel() {
	// in the simple mode, update the control state now
	$("#add_to_list_panel").modal();
	return false;
}

$(function() {
	// Control flow comes here after logging in via the link in the panel.
	if (window.location.hash == "#track") {
		show_track_panel();
		window.location.hash = "";
	}
	if (window.location.hash == "#addtolist") {
		show_add_to_list_panel();
		window.location.hash = "";
	}
});
</script>

<div class="modal fade" id="track_panel" tabindex="-1" role="dialog" aria-labelledby="track_panel_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="track_panel_ModalLabel">Track this {{feed.type_metadata.noun}}</h2>
      </div>
      <div class="modal-body tracker_widget">

<div class="row">
<div class="col-sm-6">

	<h3>When you track this {{feed.type_metadata.noun}}...</h3>
	<p>
		{{feed.description}}
		{% if request.user.is_authenticated and feed.includes_feeds|length != 0 %}
			<a class="show_events_to_track" href="#" onclick="$('#track_panel .events_to_track').fadeIn(); $(this).remove(); return false;">More options...</a>
		{% endif %}
	</p>

		{% if request.user.is_authenticated and feed.includes_feeds|length != 0 %}
			<div class="events_to_track" style="display: none">
				<h4>Choose detailed tracker:</h4>
				<ol id="track_panel_selected_feed">
					{% for f in feed.includes_feeds_and_self %}
						<li {% if forloop.first %}class="selected"{% endif %}>
							<a href="#" feed="{{f.feedname}}" onclick="return selected_feed_changed(this);">
								<span class="icon"></span> {{f.scoped_title}}
							</a>
							<div>{{f.description}}</div>
						</li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}


</div>
<div class="col-sm-6">
	
	{% if not request.user.is_authenticated %}
		<h3>Sign up first</h3>
	
		<p>You&rsquo;ll need to sign up (or log in) before you can begin tracking this {{feed.type_metadata.noun}}.
		That&rsquo;s because we need your email address before we can send you email updates.</p>

</div> <!-- /col -->
</div> <!-- /row -->

      </div>
      <div class="modal-footer">

		{% with "#track" as return_hash %}

		{% with request.get_full_path|add:return_hash as singlesignon_next %}
			{% include "registration/login_singlesignon.html" %}
		{% endwith %}

        <a class="btn btn-primary" href="/registration/signup?next={{request.path|add:return_hash|urlencode}}">Sign Up</a>
        <a class="btn btn-primary" href="/accounts/login?next={{request.path|add:return_hash|urlencode}}">Log In</a>
		{% endwith %}

		<p style="margin-top: 1.5em; margin-bottom: 0; text-align: left;"><small>You can also track this {{feed.type_metadata.noun}} using this <a href="{{feed.rss_url}}">RSS feed</a>.</small></p>

	{% else %}
	
		{% if request.user.userprofile.lists.count <= 1 %}
			{% with request.user.userprofile.lists.0 as the_list %}
			<div class="list_select">
				<h3>Get email?</h3>
				
				<p style="margin-bottom: .5em">How often would you like email updates?</p>

				<ul>
					<li email_freq="0" {% if feed in the_list.trackers.all and the_list.email == 0 %}class="selected"{% endif %}><span class="target" onclick="return toggle_list_item1(this);"><span class="icon"></span> <span class="name">No Email Updates</span></span></li>
					<li email_freq="1" {% if feed in the_list.trackers.all and the_list.email == 1 %}class="selected"{% elif feed in the_list.trackers.all %}{% else %}class="selected"{% endif %}><span class="target" onclick="return toggle_list_item1(this);"><span class="icon"></span> <span class="name">Daily Updates</span></span></li>
					<li email_freq="2" {% if feed in the_list.trackers.all and the_list.email == 2 %}class="selected"{% endif %}><span class="target" onclick="return toggle_list_item1(this);"><span class="icon"></span> <span class="name">Weekly Updates</span></span></li>
					<div style="clear: both"> </div>
				</ul>

			</div>

</div> <!-- /col -->
</div> <!-- /row -->

      </div>
      <div class="modal-footer">

				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="hide_track_panel(); return false;">Cancel</button>
   				<a href="#" class="btn btn-primary add" onclick="has_tracker = true; return save_tracker()">Add Tracker</a>
				<a href="#" class="btn btn-danger if_has_tracker" onclick="has_tracker = false; return remove_tracker()" style="display: none;">Remove Tracker</a>

			{% endwith %}
		{% else %}
			<div class="list_select">
				<h3>Add to your lists...</h3>
				<p>You may put this tracker into one or more of your lists:</p>
				<ul>
					{% for list in request.user.userprofile.lists %}
					<li list_id="{{list.id}}" class="
						{% if forloop.first %}base_list_row{% endif %}
						{% if feed in list.trackers.all %}selected{% endif %} ">
						<span class="target" onclick="return toggle_list_item(this);">
							<span class="icon"></span> <span class="name">{{list.name}}</span>
						</span>
					</li>
					{% endfor %}
					
					<li class="new_list_row new" style="margin-top: .5em"><span class="target" onclick="return new_list(this);"><span class="glyphicon glyphicon-plus"></span> Add to new list</span></li>
					<li class="all"><a class="target" href="/accounts/lists"><span class="icon"></span> Edit your lists</a></li>
					
					<div style="clear: both"> </div>
				</ul>
			</div>

</div> <!-- /col -->
</div> <!-- /row -->

      </div>
      <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" onclick="hide_track_panel(); return false;">Done</button>
		{% endif %}
		
	{% endif %}


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_to_list_panel" tabindex="-1" role="dialog" aria-labelledby="add_to_list_panel_ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="add_to_list_panel_ModalLabel">Add this {{feed.type_metadata.noun}} to a list</h2>
      </div>
      <div class="modal-body tracker_widget">
		<div class="row">
		<div class="col-sm-6">
			<h3>Using Lists</h3>
			<p>Use lists to track what you are interested in, or share your lists to let others know
			what you are trackng. When you share a list, you can include your own comments about this
			{{feed.type_metadata.noun}}.</p>
		</div>
		<div class="col-sm-6">
			{% if not request.user.is_authenticated %}
				<h3>Sign up first</h3>
				<p>You&rsquo;ll need to sign up (or log in) before you can add this {{feed.type_metadata.noun}} to a list.</p>
			{% else %}
				<div class="list_select">
					<h3>Select List</h3>
					<p>You may put this {{feed.type_metadata.noun}} into one or more of your lists:</p>
					<ul>
						{% for list in request.user.userprofile.lists %}
						<li list_id="{{list.id}}" class="
							{% if forloop.first %}base_list_row{% endif %}
							{% if feed in list.trackers.all %}selected{% endif %} ">
						  <a class="viewlist" href="/list/{{list.get_public_id}}">View <span class="glyphicon glyphicon-play"></span></a>
						  <span class="target" onclick="return toggle_list_item(this);">
						  	<span class="icon"></span> <span class="name">{{list.name}}</span>
						  </span>
						</li>
						{% endfor %}
						
						<li class="new_list_row new" style="margin-top: .5em"><span class="target" onclick="return new_list(this);"><span class="glyphicon glyphicon-plus"></span> Add to new list</a></li>
						<li class="all"><a href="/accounts/lists" class="target"><span class="icon"></span> Edit your lists</a></li>
						
						<div style="clear: both"> </div>
					</ul>
				</div>
			{% endif %}
		</div> <!-- /col -->
		</div> <!-- /row -->
      </div>
      <div class="modal-footer">
		{% if not request.user.is_authenticated %}
			{% with "#addtolist" as return_hash %}
				{% with request.get_full_path|add:return_hash as singlesignon_next %}
					{% include "registration/login_singlesignon.html" %}
				{% endwith %}
		        <a class="btn btn-primary" href="/registration/signup?next={{request.path|add:return_hash|urlencode}}">Sign Up</a>
		        <a class="btn btn-primary" href="/accounts/login?next={{request.path|add:return_hash|urlencode}}">Log In</a>
			{% endwith %}
		{% else %}
			<button type="button" class="btn btn-default" data-dismiss="modal" onclick="hide_track_panel(); return false;">Done</button>
		{% endif %}
	  </div> <!-- /col -->
	  </div> <!-- /row -->
    </div>
  </div>
</div>
