{% load events_utils %}

{% for event in feed.get_ten_events %}
{% with event|render_event:"" as meta %}
	<div class="tracked_event">

		<div class="event_date">
			{% if not meta.date_has_no_time %}
				{{event.when}}
			{% else %}
				{{event.when|date}}
			{% endif %}
		</div>
		
		<div class="event_type">{{meta.type}}</div>
		
		<div class="event_title"><a href="{{meta.url}}">{{meta.title}}</a></div>
		
		{{meta.body_html|safe}}
	</div>
{% endwith %}
{% empty %}
<p>No events are tracked by this feed.</p>
{% endfor %}

