{% load events_utils %}

{% with feed.expand as subfeeds %}

	{% if subfeeds|length > 1 %}
		<p>[All]
			{% for feed in subfeeds %}
				[{{feed.localname}}]
			{% endfor %}
		</p>
	{% endif %}

{% endwith %}

{% for event in feed.get_events|slice:":5" %}
{% with event|render_event:feed as meta %}
	<article class="post">
		<div class="article">
			<h4>{{meta.type}}</h4>
			<p><a href="{{meta.url}}">{{meta.title}}</a></p>
			{{meta.body_html|safe}}
			<em >
			{% if not meta.date_has_no_time %}
				{{event.when}}
			{% else %}
				{{event.when|date}}
			{% endif %}
			</em>
		</div>
	</article>
{% endwith %}
{% endfor %}

