{% extends 'master.html' %}

{% block title %}What You Are Tracking -- GovTrack.us{% endblock %}
{% block head %}
<style>
.if-list-owner {
    display: none;
}

.tracker-type-bill { }
.tracker-type-subjectarea { }
.tracker-category-commitee { }
.tracker-category-legislator { }

.tracker {
  margin-bottom: 30px;
}

.panel {
  border-color: #9D2146;
}
.panel-heading, .panel-footer {
  background-color: #9D2146;
  color: white;
}
</style>
{% endblock %}

{% block body_scripts %}
<script>
function refresh_events() {
    $('#events').html("Loading...");
    $.ajax({
        url: "/events/_load_events",
        type: "POST",
        data: {
            {% if request.GET.page %}page: "{{request.GET.page|escapejs}}",{% endif %}
            listid: active_list
        },
        dataType: "html",
        success: function(data) {
            $('#events').html(data);
        }
    });
}

$(function() {
    if (the_user && the_user.id == {{list.user.id}}) {
        // Enable editing.
        $('.if-list-owner').show();
    }
});
</script>
{% endblock %}

{% block body %}

<div class="if-list-owner" style="margin-top: 1em">
<div class="panel panel-info">
  <div class="panel-body">
    <p>Welcome to your list. You can share this page with others, but only you can see this box.</p>
    <p style="margin: 0">To change the title of this list or to remove trackers from this list, go to <a href="/accounts/lists?listid={{list.id}}">Your Tracker Lists</a>.</p>
  </div>
</div>
</div>

<h1 style="margin-bottom: 0; line-height: 120%; padding: 0">
    {{list.name}}
</h1>
<div style="color: #555; font-family: Quicksand; font-size: 13px; margin-bottom: 30px">
    A List Published by a GovTrack User
</div>

<div>
  {% for tracker in list_trackers %}
    <div id="tracker-{{tracker.id}}" class="tracker tracker-type-{{tracker.noun|cut:' '}}">
      <div class="panel">
        <div class="panel-heading">
          <a href="{{tracker.link}}" style="color: inherit; text-decoration: none">
            <h3 class="panel-title" style="font-weight: bold;">{{tracker.title}}</h3>
          </a>
        </div>
        <div class="panel-body">
          <table width="100%" style="margin: -15px;">
            <tr valign="top">
              {% if tracker.thumbnail_image_url or tracker.recently.0.large_thumbnail_url or tracker.recently.0.thumbnail_url %}
              <td style="width: 200px; background-image: url({% firstof tracker.thumbnail_image_url tracker.recently.0.large_thumbnail_url tracker.recently.0.thumbnail_url %}); background-size: cover; background-position: 50% 50%; height: {% if tracker.noun == 'legislator' %}225{% else %}175{% endif %}px; border-right: 1px solid #EEE; cursor: pointer;" onclick="window.location = '{{tracker.link|escapejs}}'">
              </td>
              {% endif %}
              <td style="padding: 15px">

              {# {{tracker.description}} #}

            {% if tracker.recently %}
              <p>Recently:</p>
              {% for event in tracker.recently %}
                <p>
                {% if event.date_has_no_time %}
                     {{event.date|date}}
                   {% else %}
                     {{event.date}}
                   {% endif %}
                   &mdash;
                   {{event.type}}{% if event.title != tracker.title %}:
                    <a href="{{event.url}}">
                      {{event.title}}
                    </a>
                   {% endif %}
                 </p>
              {% endfor %}
            {% endif %}

            <p>
              <a href="{{tracker.link}}" style="text-decoration: none; font-size: 85%;">
                {% if tracker.is_subscribable %}
                  Track
                {% else %}
                  More about
                {% endif %}
                this {% firstof tracker.noun '' %} &raquo;
              </a>
            </p>
            </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
